{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myjstest/providers/Microsoft.LoadTestService/loadTests/loadtestsResource?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ec0049f5-0000-0800-0000-63b7d72e0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myjstest/providers/Microsoft.LoadTestService/loadTests/loadtestsResource",
        "name": "loadtestsResource",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {
          "team": "Azure Load Testing SDK"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-01-06T08:09:15.2657406Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-01-06T08:09:15.2657406Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "description": "New Load test resource from SDK.",
          "dataPlaneURI": "eafaf2a9-14df-475a-9108-d9e31faa0a34.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
