# Used to authenticate with the Azure Text Analytics service. Retrieve these
# values from a Cognitive Services instance in the Azure Portal.
ENDPOINT="https://<resource name>.cognitiveservies.azure.com/"
TEXT_ANALYTICS_API_KEY="<text analytics api key>"

# Used to authenticate using Azure AD as a service principal for role-based
# authentication.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential
AZURE_TENANT_ID=<AD tenant id or name>
AZURE_CLIENT_ID=<ID of the user/service principal to authenticate as>
AZURE_CLIENT_SECRET=<client secret used to authenticate to Azure AD>

