/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AccessReviewHistoryDefinitionOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  AccessReviewHistoryDefinitionProperties,
  AccessReviewHistoryDefinitionCreateOptionalParams,
  AccessReviewHistoryDefinitionCreateResponse,
  AccessReviewHistoryDefinitionDeleteByIdOptionalParams
} from "../models";

/** Class containing AccessReviewHistoryDefinitionOperations operations. */
export class AccessReviewHistoryDefinitionOperationsImpl
  implements AccessReviewHistoryDefinitionOperations {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class AccessReviewHistoryDefinitionOperations class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Create a scheduled or one-time Access Review History Definition
   * @param historyDefinitionId The id of the access review history definition.
   * @param properties Access review history definition properties.
   * @param options The options parameters.
   */
  create(
    historyDefinitionId: string,
    properties: AccessReviewHistoryDefinitionProperties,
    options?: AccessReviewHistoryDefinitionCreateOptionalParams
  ): Promise<AccessReviewHistoryDefinitionCreateResponse> {
    return this.client.sendOperationRequest(
      { historyDefinitionId, properties, options },
      createOperationSpec
    );
  }

  /**
   * Delete an access review history definition
   * @param historyDefinitionId The id of the access review history definition.
   * @param options The options parameters.
   */
  deleteById(
    historyDefinitionId: string,
    options?: AccessReviewHistoryDefinitionDeleteByIdOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { historyDefinitionId, options },
      deleteByIdOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewHistoryDefinition
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  requestBody: Parameters.properties,
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.historyDefinitionId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteByIdOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewHistoryDefinitions/{historyDefinitionId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.historyDefinitionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
