/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AlertConfigurations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  AlertConfiguration,
  AlertConfigurationsListForScopeNextOptionalParams,
  AlertConfigurationsListForScopeOptionalParams,
  AlertConfigurationsListForScopeResponse,
  AlertConfigurationsGetOptionalParams,
  AlertConfigurationsGetResponse,
  AlertConfigurationsUpdateOptionalParams,
  AlertConfigurationsListForScopeNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AlertConfigurations operations. */
export class AlertConfigurationsImpl implements AlertConfigurations {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class AlertConfigurations class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Gets alert configurations for a resource scope.
   * @param scope The scope of the alert configuration.
   * @param options The options parameters.
   */
  public listForScope(
    scope: string,
    options?: AlertConfigurationsListForScopeOptionalParams
  ): PagedAsyncIterableIterator<AlertConfiguration> {
    const iter = this.listForScopePagingAll(scope, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listForScopePagingPage(scope, options, settings);
      }
    };
  }

  private async *listForScopePagingPage(
    scope: string,
    options?: AlertConfigurationsListForScopeOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<AlertConfiguration[]> {
    let result: AlertConfigurationsListForScopeResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listForScope(scope, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listForScopeNext(scope, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listForScopePagingAll(
    scope: string,
    options?: AlertConfigurationsListForScopeOptionalParams
  ): AsyncIterableIterator<AlertConfiguration> {
    for await (const page of this.listForScopePagingPage(scope, options)) {
      yield* page;
    }
  }

  /**
   * Get the specified alert configuration.
   * @param scope The scope of the alert configuration. The scope can be any REST resource instance. For
   *              example, use '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/' for a
   *              subscription,
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
   *              for a resource group, and
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'
   *              for a resource.
   * @param alertId The name of the alert configuration to get.
   * @param options The options parameters.
   */
  get(
    scope: string,
    alertId: string,
    options?: AlertConfigurationsGetOptionalParams
  ): Promise<AlertConfigurationsGetResponse> {
    return this.client.sendOperationRequest(
      { scope, alertId, options },
      getOperationSpec
    );
  }

  /**
   * Update an alert configuration.
   * @param scope The scope of the alert configuration.
   * @param alertId The name of the alert configuration to update.
   * @param parameters Parameters for the alert configuration.
   * @param options The options parameters.
   */
  update(
    scope: string,
    alertId: string,
    parameters: AlertConfiguration,
    options?: AlertConfigurationsUpdateOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { scope, alertId, parameters, options },
      updateOperationSpec
    );
  }

  /**
   * Gets alert configurations for a resource scope.
   * @param scope The scope of the alert configuration.
   * @param options The options parameters.
   */
  private _listForScope(
    scope: string,
    options?: AlertConfigurationsListForScopeOptionalParams
  ): Promise<AlertConfigurationsListForScopeResponse> {
    return this.client.sendOperationRequest(
      { scope, options },
      listForScopeOperationSpec
    );
  }

  /**
   * ListForScopeNext
   * @param scope The scope of the alert configuration.
   * @param nextLink The nextLink from the previous successful call to the ListForScope method.
   * @param options The options parameters.
   */
  private _listForScopeNext(
    scope: string,
    nextLink: string,
    options?: AlertConfigurationsListForScopeNextOptionalParams
  ): Promise<AlertConfigurationsListForScopeNextResponse> {
    return this.client.sendOperationRequest(
      { scope, nextLink, options },
      listForScopeNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlertConfigurations/{alertId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertConfiguration
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.alertId],
  headerParameters: [Parameters.accept],
  serializer
};
const updateOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlertConfigurations/{alertId}",
  httpMethod: "PATCH",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.parameters6,
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.alertId],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listForScopeOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlertConfigurations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertConfigurationListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
const listForScopeNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertConfigurationListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [Parameters.$host, Parameters.nextLink, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
