/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AlertDefinitions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  AlertDefinition,
  AlertDefinitionsListForScopeNextOptionalParams,
  AlertDefinitionsListForScopeOptionalParams,
  AlertDefinitionsListForScopeResponse,
  AlertDefinitionsGetOptionalParams,
  AlertDefinitionsGetResponse,
  AlertDefinitionsListForScopeNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AlertDefinitions operations. */
export class AlertDefinitionsImpl implements AlertDefinitions {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class AlertDefinitions class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Gets alert definitions for a resource scope.
   * @param scope The scope of the alert definition.
   * @param options The options parameters.
   */
  public listForScope(
    scope: string,
    options?: AlertDefinitionsListForScopeOptionalParams
  ): PagedAsyncIterableIterator<AlertDefinition> {
    const iter = this.listForScopePagingAll(scope, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listForScopePagingPage(scope, options, settings);
      }
    };
  }

  private async *listForScopePagingPage(
    scope: string,
    options?: AlertDefinitionsListForScopeOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<AlertDefinition[]> {
    let result: AlertDefinitionsListForScopeResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listForScope(scope, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listForScopeNext(scope, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listForScopePagingAll(
    scope: string,
    options?: AlertDefinitionsListForScopeOptionalParams
  ): AsyncIterableIterator<AlertDefinition> {
    for await (const page of this.listForScopePagingPage(scope, options)) {
      yield* page;
    }
  }

  /**
   * Get the specified alert definition.
   * @param scope The scope of the alert definition. The scope can be any REST resource instance. For
   *              example, use '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/' for a
   *              subscription,
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
   *              for a resource group, and
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'
   *              for a resource.
   * @param alertDefinitionId The name of the alert definition to get.
   * @param options The options parameters.
   */
  get(
    scope: string,
    alertDefinitionId: string,
    options?: AlertDefinitionsGetOptionalParams
  ): Promise<AlertDefinitionsGetResponse> {
    return this.client.sendOperationRequest(
      { scope, alertDefinitionId, options },
      getOperationSpec
    );
  }

  /**
   * Gets alert definitions for a resource scope.
   * @param scope The scope of the alert definition.
   * @param options The options parameters.
   */
  private _listForScope(
    scope: string,
    options?: AlertDefinitionsListForScopeOptionalParams
  ): Promise<AlertDefinitionsListForScopeResponse> {
    return this.client.sendOperationRequest(
      { scope, options },
      listForScopeOperationSpec
    );
  }

  /**
   * ListForScopeNext
   * @param scope The scope of the alert definition.
   * @param nextLink The nextLink from the previous successful call to the ListForScope method.
   * @param options The options parameters.
   */
  private _listForScopeNext(
    scope: string,
    nextLink: string,
    options?: AlertDefinitionsListForScopeNextOptionalParams
  ): Promise<AlertDefinitionsListForScopeNextResponse> {
    return this.client.sendOperationRequest(
      { scope, nextLink, options },
      listForScopeNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlertDefinitions/{alertDefinitionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertDefinition
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.alertDefinitionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listForScopeOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlertDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertDefinitionListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
const listForScopeNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertDefinitionListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [Parameters.$host, Parameters.nextLink, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
