/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { Alerts } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  Alert,
  AlertsListForScopeNextOptionalParams,
  AlertsListForScopeOptionalParams,
  AlertsListForScopeResponse,
  AlertsGetOptionalParams,
  AlertsGetResponse,
  AlertsUpdateOptionalParams,
  AlertsRefreshOptionalParams,
  AlertsRefreshResponse,
  AlertsRefreshAllOptionalParams,
  AlertsRefreshAllResponse,
  AlertsListForScopeNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Alerts operations. */
export class AlertsImpl implements Alerts {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class Alerts class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Gets alerts for a resource scope.
   * @param scope The scope of the alert.
   * @param options The options parameters.
   */
  public listForScope(
    scope: string,
    options?: AlertsListForScopeOptionalParams
  ): PagedAsyncIterableIterator<Alert> {
    const iter = this.listForScopePagingAll(scope, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listForScopePagingPage(scope, options, settings);
      }
    };
  }

  private async *listForScopePagingPage(
    scope: string,
    options?: AlertsListForScopeOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<Alert[]> {
    let result: AlertsListForScopeResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listForScope(scope, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listForScopeNext(scope, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listForScopePagingAll(
    scope: string,
    options?: AlertsListForScopeOptionalParams
  ): AsyncIterableIterator<Alert> {
    for await (const page of this.listForScopePagingPage(scope, options)) {
      yield* page;
    }
  }

  /**
   * Get the specified alert.
   * @param scope The scope of the alert. The scope can be any REST resource instance. For example, use
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/' for a subscription,
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
   *              for a resource group, and
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'
   *              for a resource.
   * @param alertId The name of the alert to get.
   * @param options The options parameters.
   */
  get(
    scope: string,
    alertId: string,
    options?: AlertsGetOptionalParams
  ): Promise<AlertsGetResponse> {
    return this.client.sendOperationRequest(
      { scope, alertId, options },
      getOperationSpec
    );
  }

  /**
   * Update an alert.
   * @param scope The scope of the alert.
   * @param alertId The name of the alert to dismiss.
   * @param parameters Parameters for the alert.
   * @param options The options parameters.
   */
  update(
    scope: string,
    alertId: string,
    parameters: Alert,
    options?: AlertsUpdateOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { scope, alertId, parameters, options },
      updateOperationSpec
    );
  }

  /**
   * Gets alerts for a resource scope.
   * @param scope The scope of the alert.
   * @param options The options parameters.
   */
  private _listForScope(
    scope: string,
    options?: AlertsListForScopeOptionalParams
  ): Promise<AlertsListForScopeResponse> {
    return this.client.sendOperationRequest(
      { scope, options },
      listForScopeOperationSpec
    );
  }

  /**
   * Refresh an alert.
   * @param scope The scope of the alert.
   * @param alertId The name of the alert to refresh.
   * @param options The options parameters.
   */
  async beginRefresh(
    scope: string,
    alertId: string,
    options?: AlertsRefreshOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<AlertsRefreshResponse>,
      AlertsRefreshResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<AlertsRefreshResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { scope, alertId, options },
      spec: refreshOperationSpec
    });
    const poller = await createHttpPoller<
      AlertsRefreshResponse,
      OperationState<AlertsRefreshResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Refresh an alert.
   * @param scope The scope of the alert.
   * @param alertId The name of the alert to refresh.
   * @param options The options parameters.
   */
  async beginRefreshAndWait(
    scope: string,
    alertId: string,
    options?: AlertsRefreshOptionalParams
  ): Promise<AlertsRefreshResponse> {
    const poller = await this.beginRefresh(scope, alertId, options);
    return poller.pollUntilDone();
  }

  /**
   * Refresh all alerts for a resource scope.
   * @param scope The scope of the alert.
   * @param options The options parameters.
   */
  async beginRefreshAll(
    scope: string,
    options?: AlertsRefreshAllOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<AlertsRefreshAllResponse>,
      AlertsRefreshAllResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<AlertsRefreshAllResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { scope, options },
      spec: refreshAllOperationSpec
    });
    const poller = await createHttpPoller<
      AlertsRefreshAllResponse,
      OperationState<AlertsRefreshAllResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Refresh all alerts for a resource scope.
   * @param scope The scope of the alert.
   * @param options The options parameters.
   */
  async beginRefreshAllAndWait(
    scope: string,
    options?: AlertsRefreshAllOptionalParams
  ): Promise<AlertsRefreshAllResponse> {
    const poller = await this.beginRefreshAll(scope, options);
    return poller.pollUntilDone();
  }

  /**
   * ListForScopeNext
   * @param scope The scope of the alert.
   * @param nextLink The nextLink from the previous successful call to the ListForScope method.
   * @param options The options parameters.
   */
  private _listForScopeNext(
    scope: string,
    nextLink: string,
    options?: AlertsListForScopeNextOptionalParams
  ): Promise<AlertsListForScopeNextResponse> {
    return this.client.sendOperationRequest(
      { scope, nextLink, options },
      listForScopeNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlerts/{alertId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Alert
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.alertId],
  headerParameters: [Parameters.accept],
  serializer
};
const updateOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlerts/{alertId}",
  httpMethod: "PATCH",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.parameters5,
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.alertId],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listForScopeOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.Authorization/roleManagementAlerts",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
const refreshOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlerts/{alertId}/refresh",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AlertOperationResult,
      headersMapper: Mappers.AlertsRefreshHeaders
    },
    201: {
      bodyMapper: Mappers.AlertOperationResult,
      headersMapper: Mappers.AlertsRefreshHeaders
    },
    202: {
      bodyMapper: Mappers.AlertOperationResult,
      headersMapper: Mappers.AlertsRefreshHeaders
    },
    204: {
      bodyMapper: Mappers.AlertOperationResult,
      headersMapper: Mappers.AlertsRefreshHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.alertId],
  headerParameters: [Parameters.accept],
  serializer
};
const refreshAllOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleManagementAlerts/refresh",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AlertOperationResult,
      headersMapper: Mappers.AlertsRefreshAllHeaders
    },
    201: {
      bodyMapper: Mappers.AlertOperationResult,
      headersMapper: Mappers.AlertsRefreshAllHeaders
    },
    202: {
      bodyMapper: Mappers.AlertOperationResult,
      headersMapper: Mappers.AlertsRefreshAllHeaders
    },
    204: {
      bodyMapper: Mappers.AlertOperationResult,
      headersMapper: Mappers.AlertsRefreshAllHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion6],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
const listForScopeNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [Parameters.$host, Parameters.nextLink, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
