// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { AttributeNamespaces } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { AuthorizationManagementClient } from "../authorizationManagementClient.js";
import type {
  AttributeNamespaceCreateRequest,
  AttributeNamespacesCreateOptionalParams,
  AttributeNamespacesCreateResponse,
  AttributeNamespacesGetOptionalParams,
  AttributeNamespacesGetResponse,
  AttributeNamespacesDeleteOptionalParams,
} from "../models/index.js";

/** Class containing AttributeNamespaces operations. */
export class AttributeNamespacesImpl implements AttributeNamespaces {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class AttributeNamespaces class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Creates a new attribute namespace.
   * @param attributeNamespace The name of the attribute namespace to create.
   * @param parameters Parameters for creating the attribute namespace.
   * @param options The options parameters.
   */
  create(
    attributeNamespace: string,
    parameters: AttributeNamespaceCreateRequest,
    options?: AttributeNamespacesCreateOptionalParams,
  ): Promise<AttributeNamespacesCreateResponse> {
    return this.client.sendOperationRequest(
      { attributeNamespace, parameters, options },
      createOperationSpec,
    );
  }

  /**
   * Gets the specified attribute namespace.
   * @param attributeNamespace The name of the attribute namespace to get.
   * @param options The options parameters.
   */
  get(
    attributeNamespace: string,
    options?: AttributeNamespacesGetOptionalParams,
  ): Promise<AttributeNamespacesGetResponse> {
    return this.client.sendOperationRequest(
      { attributeNamespace, options },
      getOperationSpec,
    );
  }

  /**
   * Deletes the specified attribute namespace.
   * @param attributeNamespace The name of the attribute namespace to delete.
   * @param options The options parameters.
   */
  delete(
    attributeNamespace: string,
    options?: AttributeNamespacesDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { attributeNamespace, options },
      deleteOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Authorization/attributeNamespaces/{attributeNamespace}/action",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AttributeNamespace,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  requestBody: Parameters.parameters8,
  queryParameters: [Parameters.apiVersion7],
  urlParameters: [Parameters.$host, Parameters.attributeNamespace],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Authorization/attributeNamespaces/{attributeNamespace}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AttributeNamespace,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion7],
  urlParameters: [Parameters.$host, Parameters.attributeNamespace],
  headerParameters: [Parameters.accept],
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Authorization/attributeNamespaces/{attributeNamespace}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion7],
  urlParameters: [Parameters.$host, Parameters.attributeNamespace],
  headerParameters: [Parameters.accept],
  serializer,
};
