/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { RoleAssignmentMetrics } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  RoleAssignmentMetricsGetMetricsForSubscriptionOptionalParams,
  RoleAssignmentMetricsGetMetricsForSubscriptionResponse
} from "../models";

/** Class containing RoleAssignmentMetrics operations. */
export class RoleAssignmentMetricsImpl implements RoleAssignmentMetrics {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class RoleAssignmentMetrics class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Get role assignment usage metrics for a subscription
   * @param options The options parameters.
   */
  getMetricsForSubscription(
    options?: RoleAssignmentMetricsGetMetricsForSubscriptionOptionalParams
  ): Promise<RoleAssignmentMetricsGetMetricsForSubscriptionResponse> {
    return this.client.sendOperationRequest(
      { options },
      getMetricsForSubscriptionOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getMetricsForSubscriptionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignmentsUsageMetrics",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleAssignmentMetricsResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion4],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
