/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import "@azure/core-paging";
import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { RoleAssignmentScheduleRequests } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClientContext } from "../authorizationManagementClientContext";
import {
  RoleAssignmentScheduleRequest,
  RoleAssignmentScheduleRequestsListForScopeNextOptionalParams,
  RoleAssignmentScheduleRequestsListForScopeOptionalParams,
  RoleAssignmentScheduleRequestsCreateOptionalParams,
  RoleAssignmentScheduleRequestsCreateResponse,
  RoleAssignmentScheduleRequestsGetOptionalParams,
  RoleAssignmentScheduleRequestsGetResponse,
  RoleAssignmentScheduleRequestsListForScopeResponse,
  RoleAssignmentScheduleRequestsCancelOptionalParams,
  RoleAssignmentScheduleRequestsListForScopeNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing RoleAssignmentScheduleRequests operations. */
export class RoleAssignmentScheduleRequestsImpl
  implements RoleAssignmentScheduleRequests {
  private readonly client: AuthorizationManagementClientContext;

  /**
   * Initialize a new instance of the class RoleAssignmentScheduleRequests class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClientContext) {
    this.client = client;
  }

  /**
   * Gets role assignment schedule requests for a scope.
   * @param scope The scope of the role assignments schedule requests.
   * @param options The options parameters.
   */
  public listForScope(
    scope: string,
    options?: RoleAssignmentScheduleRequestsListForScopeOptionalParams
  ): PagedAsyncIterableIterator<RoleAssignmentScheduleRequest> {
    const iter = this.listForScopePagingAll(scope, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listForScopePagingPage(scope, options);
      }
    };
  }

  private async *listForScopePagingPage(
    scope: string,
    options?: RoleAssignmentScheduleRequestsListForScopeOptionalParams
  ): AsyncIterableIterator<RoleAssignmentScheduleRequest[]> {
    let result = await this._listForScope(scope, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listForScopeNext(scope, continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listForScopePagingAll(
    scope: string,
    options?: RoleAssignmentScheduleRequestsListForScopeOptionalParams
  ): AsyncIterableIterator<RoleAssignmentScheduleRequest> {
    for await (const page of this.listForScopePagingPage(scope, options)) {
      yield* page;
    }
  }

  /**
   * Creates a role assignment schedule request.
   * @param scope The scope of the role assignment schedule request to create. The scope can be any REST
   *              resource instance. For example, use
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/' for a subscription,
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}'
   *              for a resource group, and
   *              '/providers/Microsoft.Subscription/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}'
   *              for a resource.
   * @param roleAssignmentScheduleRequestName The name of the role assignment to create. It can be any
   *                                          valid GUID.
   * @param parameters Parameters for the role assignment schedule request.
   * @param options The options parameters.
   */
  create(
    scope: string,
    roleAssignmentScheduleRequestName: string,
    parameters: RoleAssignmentScheduleRequest,
    options?: RoleAssignmentScheduleRequestsCreateOptionalParams
  ): Promise<RoleAssignmentScheduleRequestsCreateResponse> {
    return this.client.sendOperationRequest(
      { scope, roleAssignmentScheduleRequestName, parameters, options },
      createOperationSpec
    );
  }

  /**
   * Get the specified role assignment schedule request.
   * @param scope The scope of the role assignment schedule request.
   * @param roleAssignmentScheduleRequestName The name (guid) of the role assignment schedule request to
   *                                          get.
   * @param options The options parameters.
   */
  get(
    scope: string,
    roleAssignmentScheduleRequestName: string,
    options?: RoleAssignmentScheduleRequestsGetOptionalParams
  ): Promise<RoleAssignmentScheduleRequestsGetResponse> {
    return this.client.sendOperationRequest(
      { scope, roleAssignmentScheduleRequestName, options },
      getOperationSpec
    );
  }

  /**
   * Gets role assignment schedule requests for a scope.
   * @param scope The scope of the role assignments schedule requests.
   * @param options The options parameters.
   */
  private _listForScope(
    scope: string,
    options?: RoleAssignmentScheduleRequestsListForScopeOptionalParams
  ): Promise<RoleAssignmentScheduleRequestsListForScopeResponse> {
    return this.client.sendOperationRequest(
      { scope, options },
      listForScopeOperationSpec
    );
  }

  /**
   * Cancels a pending role assignment schedule request.
   * @param scope The scope of the role assignment request to cancel.
   * @param roleAssignmentScheduleRequestName The name of the role assignment request to cancel.
   * @param options The options parameters.
   */
  cancel(
    scope: string,
    roleAssignmentScheduleRequestName: string,
    options?: RoleAssignmentScheduleRequestsCancelOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { scope, roleAssignmentScheduleRequestName, options },
      cancelOperationSpec
    );
  }

  /**
   * ListForScopeNext
   * @param scope The scope of the role assignments schedule requests.
   * @param nextLink The nextLink from the previous successful call to the ListForScope method.
   * @param options The options parameters.
   */
  private _listForScopeNext(
    scope: string,
    nextLink: string,
    options?: RoleAssignmentScheduleRequestsListForScopeNextOptionalParams
  ): Promise<RoleAssignmentScheduleRequestsListForScopeNextResponse> {
    return this.client.sendOperationRequest(
      { scope, nextLink, options },
      listForScopeNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests/{roleAssignmentScheduleRequestName}",
  httpMethod: "PUT",
  responses: {
    201: {
      bodyMapper: Mappers.RoleAssignmentScheduleRequest
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.roleAssignmentScheduleRequestName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests/{roleAssignmentScheduleRequestName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleAssignmentScheduleRequest
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.roleAssignmentScheduleRequestName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listForScopeOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleAssignmentScheduleRequestListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
const cancelOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests/{roleAssignmentScheduleRequestName}/cancel",
  httpMethod: "POST",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.roleAssignmentScheduleRequestName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listForScopeNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleAssignmentScheduleRequestListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
