/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ScopeAccessReviewScheduleDefinitions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  AccessReviewScheduleDefinition,
  ScopeAccessReviewScheduleDefinitionsListNextOptionalParams,
  ScopeAccessReviewScheduleDefinitionsListOptionalParams,
  ScopeAccessReviewScheduleDefinitionsListResponse,
  ScopeAccessReviewScheduleDefinitionsGetByIdOptionalParams,
  ScopeAccessReviewScheduleDefinitionsGetByIdResponse,
  ScopeAccessReviewScheduleDefinitionsDeleteByIdOptionalParams,
  AccessReviewScheduleDefinitionProperties,
  ScopeAccessReviewScheduleDefinitionsCreateOrUpdateByIdOptionalParams,
  ScopeAccessReviewScheduleDefinitionsCreateOrUpdateByIdResponse,
  ScopeAccessReviewScheduleDefinitionsStopOptionalParams,
  ScopeAccessReviewScheduleDefinitionsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ScopeAccessReviewScheduleDefinitions operations. */
export class ScopeAccessReviewScheduleDefinitionsImpl
  implements ScopeAccessReviewScheduleDefinitions {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class ScopeAccessReviewScheduleDefinitions class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Get access review schedule definitions
   * @param scope The scope of the resource.
   * @param options The options parameters.
   */
  public list(
    scope: string,
    options?: ScopeAccessReviewScheduleDefinitionsListOptionalParams
  ): PagedAsyncIterableIterator<AccessReviewScheduleDefinition> {
    const iter = this.listPagingAll(scope, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(scope, options, settings);
      }
    };
  }

  private async *listPagingPage(
    scope: string,
    options?: ScopeAccessReviewScheduleDefinitionsListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<AccessReviewScheduleDefinition[]> {
    let result: ScopeAccessReviewScheduleDefinitionsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(scope, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(scope, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    scope: string,
    options?: ScopeAccessReviewScheduleDefinitionsListOptionalParams
  ): AsyncIterableIterator<AccessReviewScheduleDefinition> {
    for await (const page of this.listPagingPage(scope, options)) {
      yield* page;
    }
  }

  /**
   * Get access review schedule definitions
   * @param scope The scope of the resource.
   * @param options The options parameters.
   */
  private _list(
    scope: string,
    options?: ScopeAccessReviewScheduleDefinitionsListOptionalParams
  ): Promise<ScopeAccessReviewScheduleDefinitionsListResponse> {
    return this.client.sendOperationRequest(
      { scope, options },
      listOperationSpec
    );
  }

  /**
   * Get single access review definition
   * @param scope The scope of the resource.
   * @param scheduleDefinitionId The id of the access review schedule definition.
   * @param options The options parameters.
   */
  getById(
    scope: string,
    scheduleDefinitionId: string,
    options?: ScopeAccessReviewScheduleDefinitionsGetByIdOptionalParams
  ): Promise<ScopeAccessReviewScheduleDefinitionsGetByIdResponse> {
    return this.client.sendOperationRequest(
      { scope, scheduleDefinitionId, options },
      getByIdOperationSpec
    );
  }

  /**
   * Delete access review schedule definition
   * @param scope The scope of the resource.
   * @param scheduleDefinitionId The id of the access review schedule definition.
   * @param options The options parameters.
   */
  deleteById(
    scope: string,
    scheduleDefinitionId: string,
    options?: ScopeAccessReviewScheduleDefinitionsDeleteByIdOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { scope, scheduleDefinitionId, options },
      deleteByIdOperationSpec
    );
  }

  /**
   * Create or Update access review schedule definition.
   * @param scope The scope of the resource.
   * @param scheduleDefinitionId The id of the access review schedule definition.
   * @param properties Access review schedule definition properties.
   * @param options The options parameters.
   */
  createOrUpdateById(
    scope: string,
    scheduleDefinitionId: string,
    properties: AccessReviewScheduleDefinitionProperties,
    options?: ScopeAccessReviewScheduleDefinitionsCreateOrUpdateByIdOptionalParams
  ): Promise<ScopeAccessReviewScheduleDefinitionsCreateOrUpdateByIdResponse> {
    return this.client.sendOperationRequest(
      { scope, scheduleDefinitionId, properties, options },
      createOrUpdateByIdOperationSpec
    );
  }

  /**
   * Stop access review definition
   * @param scope The scope of the resource.
   * @param scheduleDefinitionId The id of the access review schedule definition.
   * @param options The options parameters.
   */
  stop(
    scope: string,
    scheduleDefinitionId: string,
    options?: ScopeAccessReviewScheduleDefinitionsStopOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { scope, scheduleDefinitionId, options },
      stopOperationSpec
    );
  }

  /**
   * ListNext
   * @param scope The scope of the resource.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    scope: string,
    nextLink: string,
    options?: ScopeAccessReviewScheduleDefinitionsListNextOptionalParams
  ): Promise<ScopeAccessReviewScheduleDefinitionsListNextResponse> {
    return this.client.sendOperationRequest(
      { scope, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewScheduleDefinitionListResult
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  queryParameters: [Parameters.filter1, Parameters.apiVersion3],
  urlParameters: [Parameters.$host, Parameters.scope1],
  headerParameters: [Parameters.accept],
  serializer
};
const getByIdOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewScheduleDefinition
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [
    Parameters.$host,
    Parameters.scheduleDefinitionId,
    Parameters.scope1
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteByIdOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [
    Parameters.$host,
    Parameters.scheduleDefinitionId,
    Parameters.scope1
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOrUpdateByIdOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewScheduleDefinition
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  requestBody: Parameters.properties1,
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [
    Parameters.$host,
    Parameters.scheduleDefinitionId,
    Parameters.scope1
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const stopOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/stop",
  httpMethod: "POST",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [
    Parameters.$host,
    Parameters.scheduleDefinitionId,
    Parameters.scope1
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewScheduleDefinitionListResult
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  urlParameters: [Parameters.$host, Parameters.nextLink, Parameters.scope1],
  headerParameters: [Parameters.accept],
  serializer
};
