/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ScopeAccessReviewDefaultSettings } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  ScopeAccessReviewDefaultSettingsGetOptionalParams,
  ScopeAccessReviewDefaultSettingsGetResponse,
  AccessReviewScheduleSettings,
  ScopeAccessReviewDefaultSettingsPutOptionalParams,
  ScopeAccessReviewDefaultSettingsPutResponse
} from "../models";

/** Class containing ScopeAccessReviewDefaultSettings operations. */
export class ScopeAccessReviewDefaultSettingsImpl
  implements ScopeAccessReviewDefaultSettings {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class ScopeAccessReviewDefaultSettings class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Get access review default settings for the subscription
   * @param scope The scope of the resource.
   * @param options The options parameters.
   */
  get(
    scope: string,
    options?: ScopeAccessReviewDefaultSettingsGetOptionalParams
  ): Promise<ScopeAccessReviewDefaultSettingsGetResponse> {
    return this.client.sendOperationRequest(
      { scope, options },
      getOperationSpec
    );
  }

  /**
   * Get access review default settings for the subscription
   * @param scope The scope of the resource.
   * @param properties Access review schedule settings.
   * @param options The options parameters.
   */
  put(
    scope: string,
    properties: AccessReviewScheduleSettings,
    options?: ScopeAccessReviewDefaultSettingsPutOptionalParams
  ): Promise<ScopeAccessReviewDefaultSettingsPutResponse> {
    return this.client.sendOperationRequest(
      { scope, properties, options },
      putOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleSettings/default",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewDefaultSettings
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [Parameters.$host, Parameters.scope1],
  headerParameters: [Parameters.accept],
  serializer
};
const putOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/accessReviewScheduleSettings/default",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewDefaultSettings
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  requestBody: Parameters.properties3,
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [Parameters.$host, Parameters.scope1],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
