/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ArtifactSources } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureDeploymentManager } from "../azureDeploymentManager";
import {
  ArtifactSourcesCreateOrUpdateOptionalParams,
  ArtifactSourcesCreateOrUpdateResponse,
  ArtifactSourcesGetOptionalParams,
  ArtifactSourcesGetResponse,
  ArtifactSourcesDeleteOptionalParams,
  ArtifactSourcesListOptionalParams,
  ArtifactSourcesListResponse
} from "../models";

/** Class containing ArtifactSources operations. */
export class ArtifactSourcesImpl implements ArtifactSources {
  private readonly client: AzureDeploymentManager;

  /**
   * Initialize a new instance of the class ArtifactSources class.
   * @param client Reference to the service client
   */
  constructor(client: AzureDeploymentManager) {
    this.client = client;
  }

  /**
   * Synchronously creates a new artifact source or updates an existing artifact source.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param artifactSourceName The name of the artifact source.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    artifactSourceName: string,
    options?: ArtifactSourcesCreateOrUpdateOptionalParams
  ): Promise<ArtifactSourcesCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, artifactSourceName, options },
      createOrUpdateOperationSpec
    );
  }

  /**
   * Gets an artifact source.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param artifactSourceName The name of the artifact source.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    artifactSourceName: string,
    options?: ArtifactSourcesGetOptionalParams
  ): Promise<ArtifactSourcesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, artifactSourceName, options },
      getOperationSpec
    );
  }

  /**
   * Deletes an artifact source.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param artifactSourceName The name of the artifact source.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    artifactSourceName: string,
    options?: ArtifactSourcesDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, artifactSourceName, options },
      deleteOperationSpec
    );
  }

  /**
   * Lists the artifact sources in a resource group.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    options?: ArtifactSourcesListOptionalParams
  ): Promise<ArtifactSourcesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      listOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/artifactSources/{artifactSourceName}",
  httpMethod: "PUT",
  responses: {
    201: {
      bodyMapper: Mappers.ArtifactSource
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.artifactSourceInfo,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.artifactSourceName
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/artifactSources/{artifactSourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ArtifactSource
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.artifactSourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/artifactSources/{artifactSourceName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.artifactSourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/artifactSources",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "ArtifactSource" } }
        }
      }
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
