/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Rollouts } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureDeploymentManager } from "../azureDeploymentManager";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  RolloutsCreateOrUpdateOptionalParams,
  RolloutsCreateOrUpdateResponse,
  RolloutsGetOptionalParams,
  RolloutsGetResponse,
  RolloutsDeleteOptionalParams,
  RolloutsCancelOptionalParams,
  RolloutsCancelResponse,
  RolloutsRestartOptionalParams,
  RolloutsRestartResponse,
  RolloutsListOptionalParams,
  RolloutsListResponse
} from "../models";

/** Class containing Rollouts operations. */
export class RolloutsImpl implements Rollouts {
  private readonly client: AzureDeploymentManager;

  /**
   * Initialize a new instance of the class Rollouts class.
   * @param client Reference to the service client
   */
  constructor(client: AzureDeploymentManager) {
    this.client = client;
  }

  /**
   * This is an asynchronous operation and can be polled to completion using the location header returned
   * by this operation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param rolloutName The rollout name.
   * @param options The options parameters.
   */
  async beginCreateOrUpdate(
    resourceGroupName: string,
    rolloutName: string,
    options?: RolloutsCreateOrUpdateOptionalParams
  ): Promise<
    PollerLike<
      PollOperationState<RolloutsCreateOrUpdateResponse>,
      RolloutsCreateOrUpdateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<RolloutsCreateOrUpdateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      { resourceGroupName, rolloutName, options },
      createOrUpdateOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs
    });
    await poller.poll();
    return poller;
  }

  /**
   * This is an asynchronous operation and can be polled to completion using the location header returned
   * by this operation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param rolloutName The rollout name.
   * @param options The options parameters.
   */
  async beginCreateOrUpdateAndWait(
    resourceGroupName: string,
    rolloutName: string,
    options?: RolloutsCreateOrUpdateOptionalParams
  ): Promise<RolloutsCreateOrUpdateResponse> {
    const poller = await this.beginCreateOrUpdate(
      resourceGroupName,
      rolloutName,
      options
    );
    return poller.pollUntilDone();
  }

  /**
   * Gets detailed information of a rollout.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param rolloutName The rollout name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    rolloutName: string,
    options?: RolloutsGetOptionalParams
  ): Promise<RolloutsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, rolloutName, options },
      getOperationSpec
    );
  }

  /**
   * Only rollouts in terminal state can be deleted.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param rolloutName The rollout name.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    rolloutName: string,
    options?: RolloutsDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, rolloutName, options },
      deleteOperationSpec
    );
  }

  /**
   * Only running rollouts can be canceled.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param rolloutName The rollout name.
   * @param options The options parameters.
   */
  cancel(
    resourceGroupName: string,
    rolloutName: string,
    options?: RolloutsCancelOptionalParams
  ): Promise<RolloutsCancelResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, rolloutName, options },
      cancelOperationSpec
    );
  }

  /**
   * Only failed rollouts can be restarted.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param rolloutName The rollout name.
   * @param options The options parameters.
   */
  restart(
    resourceGroupName: string,
    rolloutName: string,
    options?: RolloutsRestartOptionalParams
  ): Promise<RolloutsRestartResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, rolloutName, options },
      restartOperationSpec
    );
  }

  /**
   * Lists the rollouts in a resource group.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    options?: RolloutsListOptionalParams
  ): Promise<RolloutsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      listOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts/{rolloutName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.RolloutRequest,
      headersMapper: Mappers.RolloutsCreateOrUpdateHeaders
    },
    201: {
      bodyMapper: Mappers.RolloutRequest,
      headersMapper: Mappers.RolloutsCreateOrUpdateHeaders
    },
    202: {
      bodyMapper: Mappers.RolloutRequest,
      headersMapper: Mappers.RolloutsCreateOrUpdateHeaders
    },
    204: {
      bodyMapper: Mappers.RolloutRequest,
      headersMapper: Mappers.RolloutsCreateOrUpdateHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.rolloutRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.rolloutName
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts/{rolloutName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Rollout
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.retryAttempt],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.rolloutName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts/{rolloutName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.rolloutName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const cancelOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts/{rolloutName}/cancel",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.Rollout
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.rolloutName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const restartOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts/{rolloutName}/restart",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.Rollout
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.skipSucceeded],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.rolloutName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/rollouts",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "Rollout" } }
        }
      }
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
