/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Steps } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureDeploymentManager } from "../azureDeploymentManager";
import {
  StepsCreateOrUpdateOptionalParams,
  StepsCreateOrUpdateResponse,
  StepsGetOptionalParams,
  StepsGetResponse,
  StepsDeleteOptionalParams,
  StepsListOptionalParams,
  StepsListResponse
} from "../models";

/** Class containing Steps operations. */
export class StepsImpl implements Steps {
  private readonly client: AzureDeploymentManager;

  /**
   * Initialize a new instance of the class Steps class.
   * @param client Reference to the service client
   */
  constructor(client: AzureDeploymentManager) {
    this.client = client;
  }

  /**
   * Synchronously creates a new step or updates an existing step.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param stepName The name of the deployment step.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    stepName: string,
    options?: StepsCreateOrUpdateOptionalParams
  ): Promise<StepsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, stepName, options },
      createOrUpdateOperationSpec
    );
  }

  /**
   * Gets the step.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param stepName The name of the deployment step.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    stepName: string,
    options?: StepsGetOptionalParams
  ): Promise<StepsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, stepName, options },
      getOperationSpec
    );
  }

  /**
   * Deletes the step.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param stepName The name of the deployment step.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    stepName: string,
    options?: StepsDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, stepName, options },
      deleteOperationSpec
    );
  }

  /**
   * Lists the steps in a resource group.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    options?: StepsListOptionalParams
  ): Promise<StepsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      listOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/steps/{stepName}",
  httpMethod: "PUT",
  responses: {
    201: {
      bodyMapper: Mappers.StepResource
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.stepInfo,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.stepName
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/steps/{stepName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StepResource
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.stepName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/steps/{stepName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.stepName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeploymentManager/steps",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "StepResource" } }
        }
      }
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
