@font-face {
    font-family: "OpenSans";
    src: url('fonts/OpenSans-Light.ttf');
    src: url('fonts/OpenSans-Light.ttf') format('truetype');
}

body {
    font-family: "OpenSans", sans-serif;
    font-weight: 500;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13px;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: 0;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-column {
    flex-direction: column;
}

.flex .flex-item {
    flex: 0 1 auto;
    align-self: auto;
}

.flex .flex-item.flex-item-grow {
    flex: 1 1 auto;
}

.flex .flex-wrap {
    flex-wrap: wrap;
}

.flex-end {
    align-items: flex-end;
}

.form {
    margin: 0;
    padding: 0;
    border: none;
}

.form-label {
    padding: 5px 0;
    display: block;
    font-weight: 400;
}

.form-group {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.form-group .form-group {
    margin-bottom: 15px;
}

.form-control {
    padding: 7px;
}

.form-control,
input[type=search],
input[type=text],
textarea {
    font-family: "OpenSans", sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    color: #252525;
    border: 1px solid #7f7f7fd9;
    background-color: #ffffff;
    display: block;
    width: 100%;
}

.form-control::placeholder,
.form-control:-ms-input-placeholder,
.form-control::-moz-placeholder {
    font-style: italic;
}

.form-control:focus {
    border: none;
    background: none;
    outline: none;
}

.form-control.is-invalid {
    color: #e46969;
    border-color: #e46969;
}

.form-control[readonly] {
    background-color: #ffffff;
}

.form-control[disabled] {
    background-color: #e6e7e8;
}

.input-group {
    display: flex !important;
    border: none;
    background: none;
    outline: none;
}

.input-group:focus-within {
    border: 1px solid #57585a;
}
