# Basic info that will be required all the time.
STORAGE_ACCOUNT_NAME=<Name of the storage account for the checkpoint store>
STORAGE_ACCOUNT_KEY=<Key for the storage account for the checkpoint store>
