{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites/mysitexxxx?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "serverFarmId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "siteConfig": {
            "netFrameworkVersion": "v4.6",
            "appSettings": [
              {
                "name": "WEBSITE_NODE_DEFAULT_VERSION",
                "value": "10.14"
              }
            ],
            "localMySqlEnabled": false,
            "http20Enabled": true
          },
          "scmSiteAlsoStopped": false,
          "httpsOnly": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D8F969BEF7F5F5\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "495"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites/mysitexxxx",
        "name": "mysitexxxx",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "eastus",
        "properties": {
          "name": "mysitexxxx",
          "state": "Running",
          "hostNames": [
            "mysitexxxx.azurewebsites.net"
          ],
          "webSpace": "myjstest-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-357.api.azurewebsites.windows.net:454/subscriptions/azure_subscription_id/webspaces/myjstest-EastUSwebspace/sites/mysitexxxx",
          "repositorySiteName": "mysitexxxx",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "enabledHostNames": [
            "mysitexxxx.azurewebsites.net",
            "mysitexxxx.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "mysitexxxx.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "mysitexxxx.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2022-11-16T03:15:57.16",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "dnsConfiguration": {},
          "vnetRouteAllEnabled": false,
          "containerAllocationSubnet": null,
          "useContainerLocalhostBindings": null,
          "vnetImagePullEnabled": false,
          "vnetContentShareEnabled": false,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "windowsConfiguredStacks": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 2147483647,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "ipSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 2147483647,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictionsDefaultAction": null,
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": false,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": null,
            "elasticWebAppScaleLimit": 0,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null
          },
          "deploymentId": "mysitexxxx",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Standard",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "55F2E4435A6748F0C3A4666505B3672446A9A9AEFDDC20F98EFEE4B5DCC7807E",
          "kind": "app",
          "inboundIpAddress": "20.119.0.21",
          "possibleInboundIpAddresses": "20.119.0.21",
          "ftpUsername": "mysitexxxx\\$mysitexxxx",
          "ftpsHostName": "ftps://waws-prod-blu-357.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "20.121.181.240,20.237.73.136,20.237.77.229,20.237.78.22,20.85.132.26,20.237.78.25,20.119.0.21",
          "possibleOutboundIpAddresses": "20.121.181.240,20.237.73.136,20.237.77.229,20.237.78.22,20.85.132.26,20.237.78.25,20.237.78.68,20.237.78.102,20.237.78.127,20.121.183.254,20.237.78.248,20.237.79.6,20.237.79.37,20.121.180.135,20.237.79.40,20.237.79.69,20.237.79.144,20.246.200.103,20.237.73.35,20.246.200.115,20.246.200.123,20.246.200.189,20.246.201.37,20.81.102.206,20.81.102.207,20.81.103.133,20.121.177.162,20.121.177.163,20.237.72.228,20.237.73.69,20.119.0.21",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-357",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": null,
          "resourceGroup": "myjstest",
          "defaultHostName": "mysitexxxx.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": null,
          "publicNetworkAccess": null,
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs",
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned",
          "defaultHostNameScope": "Global",
          "privateLinkIdentifiers": null
        }
      }
    }
  ],
  "Variables": {}
}
