{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites/mysitexxxx?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D890FF6AA7B92B\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites/mysitexxxx",
        "name": "mysitexxxx",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "East US",
        "properties": {
          "name": "mysitexxxx",
          "state": "Running",
          "hostNames": [
            "mysitexxxx.azurewebsites.net"
          ],
          "webSpace": "myjstest-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-339.api.azurewebsites.windows.net:454/subscriptions/azure_subscription_id/webspaces/myjstest-EastUSwebspace/sites/mysitexxxx",
          "repositorySiteName": "mysitexxxx",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "enabledHostNames": [
            "mysitexxxx.azurewebsites.net",
            "mysitexxxx.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "mysitexxxx.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "mysitexxxx.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2022-07-06T06:12:48.7866667",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "secretsCollection": [],
          "vnetRouteAllEnabled": false,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": null,
            "scmIpSecurityRestrictions": null,
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": true,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": 0,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null
          },
          "deploymentId": "mysitexxxx",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Standard",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "55F2E4435A6748F0C3A4666505B3672446A9A9AEFDDC20F98EFEE4B5DCC7807E",
          "kind": "app",
          "inboundIpAddress": "20.119.16.11",
          "possibleInboundIpAddresses": "20.119.16.11",
          "ftpUsername": "mysitexxxx\\$mysitexxxx",
          "ftpsHostName": "ftps://waws-prod-blu-339.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "20.83.142.100,20.83.142.177,20.83.142.238,20.83.142.254,20.83.143.103,20.83.143.129,20.119.16.11",
          "possibleOutboundIpAddresses": "20.83.142.100,20.83.142.177,20.83.142.238,20.83.142.254,20.83.143.103,20.83.143.129,20.83.143.211,20.83.143.243,20.120.64.20,20.120.64.75,20.120.64.126,20.120.64.137,20.120.64.166,20.120.64.210,20.120.65.10,20.120.65.28,20.120.65.62,20.83.142.243,20.120.65.99,20.120.65.199,20.120.65.239,20.120.65.251,20.120.66.80,20.83.138.15,20.83.138.110,20.120.66.126,20.120.66.175,20.120.66.197,20.120.67.77,20.120.67.85,20.119.16.11",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-339",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": null,
          "resourceGroup": "myjstest",
          "defaultHostName": "mysitexxxx.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": [],
          "publicNetworkAccess": null,
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs",
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned"
        }
      }
    }
  ],
  "Variables": {}
}
