{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Web/sites?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D88C2D8EEF6420\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites/mysitexxxx",
            "name": "mysitexxxx",
            "type": "Microsoft.Web/sites",
            "kind": "app",
            "location": "East US",
            "properties": {
              "name": "mysitexxxx",
              "state": "Running",
              "hostNames": [
                "mysitexxxx.azurewebsites.net"
              ],
              "webSpace": "myjstest-EastUSwebspace",
              "selfLink": "https://waws-prod-blu-355.api.azurewebsites.windows.net:454/subscriptions/azure_subscription_id/webspaces/myjstest-EastUSwebspace/sites/mysitexxxx",
              "repositorySiteName": "mysitexxxx",
              "owner": null,
              "usageState": "Normal",
              "enabled": true,
              "adminEnabled": true,
              "enabledHostNames": [
                "mysitexxxx.azurewebsites.net",
                "mysitexxxx.scm.azurewebsites.net"
              ],
              "siteProperties": {
                "metadata": null,
                "properties": [
                  {
                    "name": "LinuxFxVersion",
                    "value": ""
                  },
                  {
                    "name": "WindowsFxVersion",
                    "value": null
                  }
                ],
                "appSettings": null
              },
              "availabilityState": "Normal",
              "sslCertificates": [],
              "csrs": [],
              "cers": null,
              "siteMode": "Limited",
              "hostNameSslStates": [
                {
                  "name": "mysitexxxx.azurewebsites.net",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "thumbprint": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Standard"
                },
                {
                  "name": "mysitexxxx.scm.azurewebsites.net",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "thumbprint": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Repository"
                }
              ],
              "computeMode": "Dedicated",
              "serverFarm": null,
              "serverFarmId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx",
              "reserved": false,
              "isXenon": false,
              "hyperV": false,
              "lastModifiedTimeUtc": "2022-06-30T03:00:30.69",
              "storageRecoveryDefaultState": "Running",
              "contentAvailabilityState": "Normal",
              "runtimeAvailabilityState": "Normal",
              "secretsCollection": [],
              "vnetRouteAllEnabled": false,
              "siteConfig": {
                "numberOfWorkers": 1,
                "defaultDocuments": null,
                "netFrameworkVersion": null,
                "phpVersion": null,
                "pythonVersion": null,
                "nodeVersion": null,
                "powerShellVersion": null,
                "linuxFxVersion": "",
                "windowsFxVersion": null,
                "requestTracingEnabled": null,
                "remoteDebuggingEnabled": null,
                "remoteDebuggingVersion": null,
                "httpLoggingEnabled": null,
                "azureMonitorLogCategories": null,
                "acrUseManagedIdentityCreds": false,
                "acrUserManagedIdentityID": null,
                "logsDirectorySizeLimit": null,
                "detailedErrorLoggingEnabled": null,
                "publishingUsername": null,
                "publishingPassword": null,
                "appSettings": null,
                "metadata": null,
                "connectionStrings": null,
                "machineKey": null,
                "handlerMappings": null,
                "documentRoot": null,
                "scmType": null,
                "use32BitWorkerProcess": null,
                "webSocketsEnabled": null,
                "alwaysOn": false,
                "javaVersion": null,
                "javaContainer": null,
                "javaContainerVersion": null,
                "appCommandLine": null,
                "managedPipelineMode": null,
                "virtualApplications": null,
                "winAuthAdminState": null,
                "winAuthTenantState": null,
                "customAppPoolIdentityAdminState": null,
                "customAppPoolIdentityTenantState": null,
                "runtimeADUser": null,
                "runtimeADUserPassword": null,
                "loadBalancing": null,
                "routingRules": null,
                "experiments": null,
                "limits": null,
                "autoHealEnabled": null,
                "autoHealRules": null,
                "tracingOptions": null,
                "vnetName": null,
                "vnetRouteAllEnabled": null,
                "vnetPrivatePortsCount": null,
                "publicNetworkAccess": null,
                "cors": null,
                "push": null,
                "apiDefinition": null,
                "apiManagementConfig": null,
                "autoSwapSlotName": null,
                "localMySqlEnabled": null,
                "managedServiceIdentityId": null,
                "xManagedServiceIdentityId": null,
                "keyVaultReferenceIdentity": null,
                "ipSecurityRestrictions": null,
                "scmIpSecurityRestrictions": null,
                "scmIpSecurityRestrictionsUseMain": null,
                "http20Enabled": true,
                "minTlsVersion": null,
                "minTlsCipherSuite": null,
                "supportedTlsCipherSuites": null,
                "scmMinTlsVersion": null,
                "ftpsState": null,
                "preWarmedInstanceCount": null,
                "functionAppScaleLimit": 0,
                "healthCheckPath": null,
                "fileChangeAuditEnabled": null,
                "functionsRuntimeScaleMonitoringEnabled": null,
                "websiteTimeZone": null,
                "minimumElasticInstanceCount": 0,
                "azureStorageAccounts": null,
                "http20ProxyFlag": null,
                "sitePort": null,
                "antivirusScanEnabled": null,
                "storageType": null
              },
              "deploymentId": "mysitexxxx",
              "slotName": null,
              "trafficManagerHostNames": null,
              "sku": "Standard",
              "scmSiteAlsoStopped": false,
              "targetSwapSlot": null,
              "hostingEnvironment": null,
              "hostingEnvironmentProfile": null,
              "clientAffinityEnabled": true,
              "clientCertEnabled": false,
              "clientCertMode": "Required",
              "clientCertExclusionPaths": null,
              "hostNamesDisabled": false,
              "domainVerificationIdentifiers": null,
              "customDomainVerificationId": "55F2E4435A6748F0C3A4666505B3672446A9A9AEFDDC20F98EFEE4B5DCC7807E",
              "kind": "app",
              "inboundIpAddress": "20.119.8.21",
              "possibleInboundIpAddresses": "20.119.8.21",
              "ftpUsername": "mysitexxxx\\$mysitexxxx",
              "ftpsHostName": "ftps://waws-prod-blu-355.ftp.azurewebsites.windows.net/site/wwwroot",
              "outboundIpAddresses": "20.121.105.156,20.121.105.246,20.121.106.62,20.121.106.73,20.121.108.124,20.84.3.60,20.119.8.21",
              "possibleOutboundIpAddresses": "20.121.105.156,20.121.105.246,20.121.106.62,20.121.106.73,20.121.108.124,20.84.3.60,20.237.9.17,20.237.9.77,20.237.9.238,20.237.10.209,20.237.11.6,20.237.11.12,20.237.11.27,20.237.11.33,20.237.11.36,20.237.11.39,20.237.11.82,20.237.11.94,20.237.11.103,20.237.11.105,20.237.11.114,20.237.11.124,20.237.11.168,20.237.11.173,20.121.111.131,20.237.11.242,20.237.12.47,20.237.12.57,20.237.12.83,20.121.105.93,20.119.8.21",
              "containerSize": 0,
              "dailyMemoryTimeQuota": 0,
              "suspendedTill": null,
              "siteDisabledReason": 0,
              "functionExecutionUnitsCache": null,
              "maxNumberOfWorkers": null,
              "homeStamp": "waws-prod-blu-355",
              "cloningInfo": null,
              "hostingEnvironmentId": null,
              "tags": null,
              "resourceGroup": "myjstest",
              "defaultHostName": "mysitexxxx.azurewebsites.net",
              "slotSwapStatus": null,
              "httpsOnly": false,
              "redundancyMode": "None",
              "inProgressOperationId": null,
              "geoDistributions": null,
              "privateEndpointConnections": null,
              "publicNetworkAccess": null,
              "buildVersion": null,
              "targetBuildVersion": null,
              "migrationState": null,
              "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs",
              "storageAccountRequired": false,
              "virtualNetworkSubnetId": null,
              "keyVaultReferenceIdentity": "SystemAssigned"
            }
          }
        ],
        "nextLink": null,
        "id": null
      }
    }
  ],
  "Variables": {}
}
