{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/sites/mysitexxxx",
            "name": "mysitexxxx",
            "type": "Microsoft.Web/sites",
            "kind": "app",
            "location": "East US",
            "properties": {
              "name": "mysitexxxx",
              "state": "Running",
              "hostNames": [
                "mysitexxxx.azurewebsites.net"
              ],
              "webSpace": "myjstest-EastUSwebspace",
              "selfLink": "https://waws-prod-blu-395.api.azurewebsites.windows.net:454/subscriptions/azure_subscription_id/webspaces/myjstest-EastUSwebspace/sites/mysitexxxx",
              "repositorySiteName": "mysitexxxx",
              "owner": null,
              "usageState": "Normal",
              "enabled": true,
              "adminEnabled": true,
              "enabledHostNames": [
                "mysitexxxx.azurewebsites.net",
                "mysitexxxx.scm.azurewebsites.net"
              ],
              "siteProperties": {
                "metadata": null,
                "properties": [
                  {
                    "name": "LinuxFxVersion",
                    "value": ""
                  },
                  {
                    "name": "WindowsFxVersion",
                    "value": null
                  }
                ],
                "appSettings": null
              },
              "availabilityState": "Normal",
              "sslCertificates": null,
              "csrs": [],
              "cers": null,
              "siteMode": null,
              "hostNameSslStates": [
                {
                  "name": "mysitexxxx.azurewebsites.net",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "thumbprint": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Standard"
                },
                {
                  "name": "mysitexxxx.scm.azurewebsites.net",
                  "sslState": "Disabled",
                  "ipBasedSslResult": null,
                  "virtualIP": null,
                  "thumbprint": null,
                  "toUpdate": null,
                  "toUpdateIpBasedSsl": null,
                  "ipBasedSslState": "NotConfigured",
                  "hostType": "Repository"
                }
              ],
              "computeMode": null,
              "serverFarm": null,
              "serverFarmId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx",
              "reserved": false,
              "isXenon": false,
              "hyperV": false,
              "lastModifiedTimeUtc": "2023-03-20T06:45:32.5533333",
              "storageRecoveryDefaultState": "Running",
              "contentAvailabilityState": "Normal",
              "runtimeAvailabilityState": "Normal",
              "dnsConfiguration": {},
              "vnetRouteAllEnabled": false,
              "containerAllocationSubnet": null,
              "useContainerLocalhostBindings": null,
              "vnetImagePullEnabled": false,
              "vnetContentShareEnabled": false,
              "siteConfig": {
                "numberOfWorkers": 1,
                "defaultDocuments": null,
                "netFrameworkVersion": null,
                "phpVersion": null,
                "pythonVersion": null,
                "nodeVersion": null,
                "powerShellVersion": null,
                "linuxFxVersion": "",
                "windowsFxVersion": null,
                "windowsConfiguredStacks": null,
                "requestTracingEnabled": null,
                "remoteDebuggingEnabled": null,
                "remoteDebuggingVersion": null,
                "httpLoggingEnabled": null,
                "azureMonitorLogCategories": null,
                "acrUseManagedIdentityCreds": false,
                "acrUserManagedIdentityID": null,
                "logsDirectorySizeLimit": null,
                "detailedErrorLoggingEnabled": null,
                "publishingUsername": null,
                "publishingPassword": null,
                "appSettings": null,
                "metadata": null,
                "connectionStrings": null,
                "machineKey": null,
                "handlerMappings": null,
                "documentRoot": null,
                "scmType": null,
                "use32BitWorkerProcess": null,
                "webSocketsEnabled": null,
                "alwaysOn": false,
                "javaVersion": null,
                "javaContainer": null,
                "javaContainerVersion": null,
                "appCommandLine": null,
                "managedPipelineMode": null,
                "virtualApplications": null,
                "winAuthAdminState": null,
                "winAuthTenantState": null,
                "customAppPoolIdentityAdminState": null,
                "customAppPoolIdentityTenantState": null,
                "runtimeADUser": null,
                "runtimeADUserPassword": null,
                "loadBalancing": null,
                "routingRules": null,
                "experiments": null,
                "limits": null,
                "autoHealEnabled": null,
                "autoHealRules": null,
                "tracingOptions": null,
                "vnetName": null,
                "vnetRouteAllEnabled": null,
                "vnetPrivatePortsCount": null,
                "publicNetworkAccess": null,
                "cors": null,
                "push": null,
                "apiDefinition": null,
                "apiManagementConfig": null,
                "autoSwapSlotName": null,
                "localMySqlEnabled": null,
                "managedServiceIdentityId": null,
                "xManagedServiceIdentityId": null,
                "keyVaultReferenceIdentity": null,
                "ipSecurityRestrictions": null,
                "ipSecurityRestrictionsDefaultAction": null,
                "scmIpSecurityRestrictions": null,
                "scmIpSecurityRestrictionsDefaultAction": null,
                "scmIpSecurityRestrictionsUseMain": null,
                "http20Enabled": true,
                "minTlsVersion": null,
                "minTlsCipherSuite": null,
                "supportedTlsCipherSuites": null,
                "scmMinTlsVersion": null,
                "ftpsState": null,
                "preWarmedInstanceCount": null,
                "functionAppScaleLimit": 0,
                "elasticWebAppScaleLimit": null,
                "healthCheckPath": null,
                "fileChangeAuditEnabled": null,
                "functionsRuntimeScaleMonitoringEnabled": null,
                "websiteTimeZone": null,
                "minimumElasticInstanceCount": 0,
                "azureStorageAccounts": null,
                "http20ProxyFlag": null,
                "sitePort": null,
                "antivirusScanEnabled": null,
                "storageType": null
              },
              "deploymentId": "mysitexxxx",
              "slotName": null,
              "trafficManagerHostNames": null,
              "sku": "Standard",
              "scmSiteAlsoStopped": false,
              "targetSwapSlot": null,
              "hostingEnvironment": null,
              "hostingEnvironmentProfile": null,
              "clientAffinityEnabled": true,
              "clientCertEnabled": false,
              "clientCertMode": "Required",
              "clientCertExclusionPaths": null,
              "hostNamesDisabled": false,
              "domainVerificationIdentifiers": null,
              "customDomainVerificationId": "55F2E4435A6748F0C3A4666505B3672446A9A9AEFDDC20F98EFEE4B5DCC7807E",
              "kind": "app",
              "inboundIpAddress": "20.119.8.36",
              "possibleInboundIpAddresses": "20.119.8.36",
              "ftpUsername": "mysitexxxx\\$mysitexxxx",
              "ftpsHostName": "ftps://waws-prod-blu-395.ftp.azurewebsites.windows.net/site/wwwroot",
              "outboundIpAddresses": "20.237.31.25,20.246.137.184,20.246.138.49,20.246.138.113,20.246.138.205,20.246.139.198,20.119.8.36",
              "possibleOutboundIpAddresses": "20.237.31.25,20.246.137.184,20.246.138.49,20.246.138.113,20.246.138.205,20.246.139.198,20.246.139.207,20.246.139.220,20.246.139.252,20.246.140.67,20.246.140.77,20.246.140.87,20.246.140.96,20.246.140.108,20.246.140.136,20.246.140.168,20.246.140.182,20.246.140.221,20.246.141.59,20.246.141.88,20.246.141.129,20.246.141.239,20.237.26.27,20.237.26.204,20.237.26.231,20.237.28.32,20.237.28.73,20.237.28.146,20.237.29.75,20.237.29.155,20.119.8.36",
              "containerSize": 0,
              "dailyMemoryTimeQuota": 0,
              "suspendedTill": null,
              "siteDisabledReason": 0,
              "functionExecutionUnitsCache": null,
              "maxNumberOfWorkers": null,
              "homeStamp": "waws-prod-blu-395",
              "cloningInfo": null,
              "hostingEnvironmentId": null,
              "tags": null,
              "resourceGroup": "myjstest",
              "defaultHostName": "mysitexxxx.azurewebsites.net",
              "slotSwapStatus": null,
              "httpsOnly": false,
              "redundancyMode": "None",
              "inProgressOperationId": null,
              "geoDistributions": null,
              "privateEndpointConnections": null,
              "publicNetworkAccess": null,
              "buildVersion": null,
              "targetBuildVersion": null,
              "migrationState": null,
              "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs",
              "storageAccountRequired": false,
              "virtualNetworkSubnetId": null,
              "keyVaultReferenceIdentity": "SystemAssigned",
              "defaultHostNameScope": "Global",
              "privateLinkIdentifiers": null
            }
          }
        ],
        "nextLink": null,
        "id": null
      }
    }
  ],
  "Variables": {}
}
