{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Web/serverfarms/myappserviceplanxxx",
        "name": "myappserviceplanxxx",
        "type": "Microsoft.Web/serverfarms",
        "kind": "app",
        "location": "East US",
        "properties": {
          "serverFarmId": 8742,
          "name": "myappserviceplanxxx",
          "workerSize": "Default",
          "workerSizeId": 0,
          "workerTierName": null,
          "numberOfWorkers": 1,
          "currentWorkerSize": "Default",
          "currentWorkerSizeId": 0,
          "currentNumberOfWorkers": 1,
          "status": "Ready",
          "webSpace": "myjstest-EastUSwebspace",
          "subscription": "azure_subscription_id",
          "adminSiteName": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "maximumNumberOfWorkers": 10,
          "planName": "VirtualDedicatedPlan",
          "adminRuntimeSiteName": null,
          "computeMode": "Dedicated",
          "siteMode": null,
          "geoRegion": "East US",
          "perSiteScaling": false,
          "elasticScaleEnabled": false,
          "maximumElasticWorkerCount": 1,
          "numberOfSites": 1,
          "hostingEnvironmentId": null,
          "isSpot": false,
          "spotExpirationTime": null,
          "freeOfferExpirationTime": null,
          "tags": null,
          "kind": "app",
          "resourceGroup": "myjstest",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "mdmId": "waws-prod-blu-395_8742",
          "targetWorkerCount": 0,
          "targetWorkerSizeId": 0,
          "provisioningState": "Succeeded",
          "webSiteId": null,
          "existingServerFarmIds": null,
          "kubeEnvironmentProfile": null,
          "zoneRedundant": false
        },
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "size": "S1",
          "family": "S",
          "capacity": 1
        }
      }
    }
  ],
  "Variables": {}
}
