{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-http2-stream-id": "5",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.030"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "connection1",
            "type": "AzureOpenAI",
            "target": "https://Sanitized.azure.com/",
            "authType": "ApiKey",
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus2euap",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-account1",
              "ApiVersion": "2023-07-01-preview",
              "DeploymentApiVersion": "2023-10-01-preview"
            }
          },
          {
            "name": "connection1-app-insights",
            "type": "AppInsights",
            "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/microsoft.insights/components/Sanitized",
            "authType": "ApiKey",
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus2euap",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-account1"
            }
          },
          {
            "name": "connection1-byo-storage",
            "type": "AzureStorageAccount",
            "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.Storage/storageAccounts/balapvbyostoragecanary",
            "authType": "SAS",
            "metadata": {
              "ApiType": "Azure",
              "Location": "eastus2euap",
              "ContainerName": "1dptestcontainer",
              "AccountName": "balapvbyostoragecanary",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-account1"
            }
          },
          {
            "name": "balapvbyostoragecanary",
            "type": "AzureStorageAccount",
            "target": "https://Sanitized.azure.com/",
            "authType": "AAD",
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/balapvbyostoragecanary"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-http2-stream-id": "3",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.052"
      },
      "ResponseBody": {
        "name": "connection1",
        "type": "AzureOpenAI",
        "target": "https://Sanitized.azure.com/",
        "authType": "ApiKey",
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus2euap",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-account1",
          "ApiVersion": "2023-07-01-preview",
          "DeploymentApiVersion": "2023-10-01-preview"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1-app-insights?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-http2-stream-id": "7",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.031"
      },
      "ResponseBody": {
        "name": "connection1-app-insights",
        "type": "AppInsights",
        "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/microsoft.insights/components/Sanitized",
        "authType": "ApiKey",
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus2euap",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-account1"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/connection1-byo-storage?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-http2-stream-id": "3",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.040"
      },
      "ResponseBody": {
        "name": "connection1-byo-storage",
        "type": "AzureStorageAccount",
        "target": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/00000/providers/Microsoft.Storage/storageAccounts/balapvbyostoragecanary",
        "authType": "SAS",
        "metadata": {
          "ApiType": "Azure",
          "Location": "eastus2euap",
          "ContainerName": "1dptestcontainer",
          "AccountName": "balapvbyostoragecanary",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/balapv-1dp-account1"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/connections/balapvbyostoragecanary?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-http2-stream-id": "5",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.033"
      },
      "ResponseBody": {
        "name": "balapvbyostoragecanary",
        "type": "AzureStorageAccount",
        "target": "https://Sanitized.azure.com/",
        "authType": "AAD",
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Storage/storageAccounts/balapvbyostoragecanary"
        }
      }
    }
  ],
  "Variables": {}
}
