{
  "Entries": [
    {
      "RequestUri": "https://test-ledger.confidential-ledger.azure.com/app/users/6696d1bc-6012-47da-8556-ab4c747999c9?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ccf-transaction-id": "2.6572"
      },
      "ResponseBody": {
        "assignedRole": "Administrator",
        "userId": "6696d1bc-6012-47da-8556-ab4c747999c9"
      }
    }
  ],
  "Variables": {}
}
