/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { DscCompilationJobStream } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AutomationClient } from "../automationClient.js";
import {
  DscCompilationJobStreamListByJobOptionalParams,
  DscCompilationJobStreamListByJobResponse
} from "../models/index.js";

/** Class containing DscCompilationJobStream operations. */
export class DscCompilationJobStreamImpl implements DscCompilationJobStream {
  private readonly client: AutomationClient;

  /**
   * Initialize a new instance of the class DscCompilationJobStream class.
   * @param client Reference to the service client
   */
  constructor(client: AutomationClient) {
    this.client = client;
  }

  /**
   * Retrieve all the job streams for the compilation Job.
   * @param resourceGroupName Name of an Azure Resource group.
   * @param automationAccountName The name of the automation account.
   * @param jobId The job id.
   * @param options The options parameters.
   */
  listByJob(
    resourceGroupName: string,
    automationAccountName: string,
    jobId: string,
    options?: DscCompilationJobStreamListByJobOptionalParams
  ): Promise<DscCompilationJobStreamListByJobResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, automationAccountName, jobId, options },
      listByJobOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByJobOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{jobId}/streams",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.JobStreamListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
    Parameters.jobId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
