/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { Fields } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AutomationClient } from "../automationClient";
import {
  TypeField,
  FieldsListByTypeOptionalParams,
  FieldsListByTypeResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Fields operations. */
export class FieldsImpl implements Fields {
  private readonly client: AutomationClient;

  /**
   * Initialize a new instance of the class Fields class.
   * @param client Reference to the service client
   */
  constructor(client: AutomationClient) {
    this.client = client;
  }

  /**
   * Retrieve a list of fields of a given type identified by module name.
   * @param resourceGroupName Name of an Azure Resource group.
   * @param automationAccountName The name of the automation account.
   * @param moduleName The name of module.
   * @param typeName The name of type.
   * @param options The options parameters.
   */
  public listByType(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    options?: FieldsListByTypeOptionalParams
  ): PagedAsyncIterableIterator<TypeField> {
    const iter = this.listByTypePagingAll(
      resourceGroupName,
      automationAccountName,
      moduleName,
      typeName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByTypePagingPage(
          resourceGroupName,
          automationAccountName,
          moduleName,
          typeName,
          options,
          settings
        );
      }
    };
  }

  private async *listByTypePagingPage(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    options?: FieldsListByTypeOptionalParams,
    _settings?: PageSettings
  ): AsyncIterableIterator<TypeField[]> {
    let result: FieldsListByTypeResponse;
    result = await this._listByType(
      resourceGroupName,
      automationAccountName,
      moduleName,
      typeName,
      options
    );
    yield result.value || [];
  }

  private async *listByTypePagingAll(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    options?: FieldsListByTypeOptionalParams
  ): AsyncIterableIterator<TypeField> {
    for await (const page of this.listByTypePagingPage(
      resourceGroupName,
      automationAccountName,
      moduleName,
      typeName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Retrieve a list of fields of a given type identified by module name.
   * @param resourceGroupName Name of an Azure Resource group.
   * @param automationAccountName The name of the automation account.
   * @param moduleName The name of module.
   * @param typeName The name of type.
   * @param options The options parameters.
   */
  private _listByType(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    options?: FieldsListByTypeOptionalParams
  ): Promise<FieldsListByTypeResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        automationAccountName,
        moduleName,
        typeName,
        options
      },
      listByTypeOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByTypeOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/types/{typeName}/fields",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TypeFieldListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
    Parameters.moduleName,
    Parameters.typeName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
