// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { Fields } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AutomationClient } from "../automationClient.js";
import {
  TypeField,
  FieldsListByTypeNextOptionalParams,
  FieldsListByTypeOptionalParams,
  FieldsListByTypeResponse,
  FieldsListByTypeNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing Fields operations. */
export class FieldsImpl implements Fields {
  private readonly client: AutomationClient;

  /**
   * Initialize a new instance of the class Fields class.
   * @param client Reference to the service client
   */
  constructor(client: AutomationClient) {
    this.client = client;
  }

  /**
   * Retrieve a list of fields of a given type identified by module name.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param automationAccountName The name of the automation account.
   * @param moduleName The module name.
   * @param typeName The name of type.
   * @param options The options parameters.
   */
  public listByType(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    options?: FieldsListByTypeOptionalParams,
  ): PagedAsyncIterableIterator<TypeField> {
    const iter = this.listByTypePagingAll(
      resourceGroupName,
      automationAccountName,
      moduleName,
      typeName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByTypePagingPage(
          resourceGroupName,
          automationAccountName,
          moduleName,
          typeName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByTypePagingPage(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    options?: FieldsListByTypeOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<TypeField[]> {
    let result: FieldsListByTypeResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByType(
        resourceGroupName,
        automationAccountName,
        moduleName,
        typeName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByTypeNext(
        resourceGroupName,
        automationAccountName,
        moduleName,
        typeName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByTypePagingAll(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    options?: FieldsListByTypeOptionalParams,
  ): AsyncIterableIterator<TypeField> {
    for await (const page of this.listByTypePagingPage(
      resourceGroupName,
      automationAccountName,
      moduleName,
      typeName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Retrieve a list of fields of a given type identified by module name.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param automationAccountName The name of the automation account.
   * @param moduleName The module name.
   * @param typeName The name of type.
   * @param options The options parameters.
   */
  private _listByType(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    options?: FieldsListByTypeOptionalParams,
  ): Promise<FieldsListByTypeResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        automationAccountName,
        moduleName,
        typeName,
        options,
      },
      listByTypeOperationSpec,
    );
  }

  /**
   * ListByTypeNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param automationAccountName The name of the automation account.
   * @param moduleName The module name.
   * @param typeName The name of type.
   * @param nextLink The nextLink from the previous successful call to the ListByType method.
   * @param options The options parameters.
   */
  private _listByTypeNext(
    resourceGroupName: string,
    automationAccountName: string,
    moduleName: string,
    typeName: string,
    nextLink: string,
    options?: FieldsListByTypeNextOptionalParams,
  ): Promise<FieldsListByTypeNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        automationAccountName,
        moduleName,
        typeName,
        nextLink,
        options,
      },
      listByTypeNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByTypeOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/types/{typeName}/fields",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TypeFieldListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
    Parameters.moduleName,
    Parameters.typeName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByTypeNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TypeFieldListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
    Parameters.moduleName,
    Parameters.typeName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
