/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { NodeCountInformation } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AutomationClient } from "../automationClient";
import {
  CountType,
  NodeCountInformationGetOptionalParams,
  NodeCountInformationGetResponse
} from "../models";

/** Class containing NodeCountInformation operations. */
export class NodeCountInformationImpl implements NodeCountInformation {
  private readonly client: AutomationClient;

  /**
   * Initialize a new instance of the class NodeCountInformation class.
   * @param client Reference to the service client
   */
  constructor(client: AutomationClient) {
    this.client = client;
  }

  /**
   * Retrieve counts for Dsc Nodes.
   * @param resourceGroupName Name of an Azure Resource group.
   * @param automationAccountName The name of the automation account.
   * @param countType The type of counts to retrieve
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    automationAccountName: string,
    countType: CountType,
    options?: NodeCountInformationGetOptionalParams
  ): Promise<NodeCountInformationGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, automationAccountName, countType, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodecounts/{countType}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NodeCounts
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
    Parameters.countType
  ],
  headerParameters: [Parameters.accept],
  serializer
};
