// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { SoftwareUpdateConfigurations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AutomationClient } from "../automationClient.js";
import {
  SoftwareUpdateConfigurationsListOptionalParams,
  SoftwareUpdateConfigurationsListResponse,
  SoftwareUpdateConfigurationsGetByNameOptionalParams,
  SoftwareUpdateConfigurationsGetByNameResponse,
  SoftwareUpdateConfiguration,
  SoftwareUpdateConfigurationsCreateOptionalParams,
  SoftwareUpdateConfigurationsCreateResponse,
  SoftwareUpdateConfigurationsDeleteOptionalParams,
} from "../models/index.js";

/** Class containing SoftwareUpdateConfigurations operations. */
export class SoftwareUpdateConfigurationsImpl implements SoftwareUpdateConfigurations {
  private readonly client: AutomationClient;

  /**
   * Initialize a new instance of the class SoftwareUpdateConfigurations class.
   * @param client Reference to the service client
   */
  constructor(client: AutomationClient) {
    this.client = client;
  }

  /**
   * Get all software update configurations for the account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param automationAccountName The name of the automation account.
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    automationAccountName: string,
    options?: SoftwareUpdateConfigurationsListOptionalParams,
  ): Promise<SoftwareUpdateConfigurationsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, automationAccountName, options },
      listOperationSpec,
    );
  }

  /**
   * Get a single software update configuration by name.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param automationAccountName The name of the automation account.
   * @param softwareUpdateConfigurationName The name of the software update configuration to be created.
   * @param options The options parameters.
   */
  getByName(
    resourceGroupName: string,
    automationAccountName: string,
    softwareUpdateConfigurationName: string,
    options?: SoftwareUpdateConfigurationsGetByNameOptionalParams,
  ): Promise<SoftwareUpdateConfigurationsGetByNameResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        automationAccountName,
        softwareUpdateConfigurationName,
        options,
      },
      getByNameOperationSpec,
    );
  }

  /**
   * Create a new software update configuration with the name given in the URI.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param automationAccountName The name of the automation account.
   * @param softwareUpdateConfigurationName The name of the software update configuration to be created.
   * @param parameters Request body.
   * @param options The options parameters.
   */
  create(
    resourceGroupName: string,
    automationAccountName: string,
    softwareUpdateConfigurationName: string,
    parameters: SoftwareUpdateConfiguration,
    options?: SoftwareUpdateConfigurationsCreateOptionalParams,
  ): Promise<SoftwareUpdateConfigurationsCreateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        automationAccountName,
        softwareUpdateConfigurationName,
        parameters,
        options,
      },
      createOperationSpec,
    );
  }

  /**
   * delete a specific software update configuration.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param automationAccountName The name of the automation account.
   * @param softwareUpdateConfigurationName The name of the software update configuration to be created.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    automationAccountName: string,
    softwareUpdateConfigurationName: string,
    options?: SoftwareUpdateConfigurationsDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        automationAccountName,
        softwareUpdateConfigurationName,
        options,
      },
      deleteOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SoftwareUpdateConfigurationListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
  ],
  headerParameters: [Parameters.accept, Parameters.clientRequestId],
  serializer,
};
const getByNameOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations/{softwareUpdateConfigurationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SoftwareUpdateConfiguration,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
    Parameters.softwareUpdateConfigurationName,
  ],
  headerParameters: [Parameters.accept, Parameters.clientRequestId],
  serializer,
};
const createOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations/{softwareUpdateConfigurationName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.SoftwareUpdateConfiguration,
    },
    201: {
      bodyMapper: Mappers.SoftwareUpdateConfiguration,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters30,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
    Parameters.softwareUpdateConfigurationName,
  ],
  headerParameters: [
    Parameters.accept,
    Parameters.contentType,
    Parameters.clientRequestId,
  ],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations/{softwareUpdateConfigurationName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.automationAccountName,
    Parameters.softwareUpdateConfigurationName,
  ],
  headerParameters: [Parameters.accept, Parameters.clientRequestId],
  serializer,
};
