{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.AgriculturePlatform/operations?api-version=2024-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.AgriculturePlatform",
              "resource": "Microsoft.AgriculturePlatform",
              "operation": "Register the Microsoft.AgriculturePlatform",
              "description": "Register the subscription for Microsoft.AgriculturePlatform"
            }
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.AgriculturePlatform",
              "resource": "Microsoft.AgriculturePlatform",
              "operation": "Unregister the Microsoft.AgriculturePlatform",
              "description": "Unregister the subscription for Microsoft.AgriculturePlatform"
            }
     [...]
