{
  "Entries": [
    {
      "RequestUri": "https://fakeserviceId.api.cac001.deid.azure.com/jobs/js-sdk-job-recorded-24?api-version=2024-01-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "dataType": "Plaintext",
        "operation": "Surrogate",
        "sourceLocation": {
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "_output"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "js-sdk-job-recorded-24",
        "status": "NotStarted",
        "createdAt": "2024-06-18T21:12:37.5140704Z",
        "lastUpdatedAt": "2024-06-18T21:12:37.5140705Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://fakeserviceId.api.cac001.deid.azure.com/jobs/js-sdk-job-recorded-24?api-version=2024-01-16-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "js-sdk-job-recorded-24",
        "status": "Running",
        "createdAt": "2024-06-18T21:12:37.5140704Z",
        "startedAt": "2024-06-18T21:12:38.368827Z",
        "lastUpdatedAt": "2024-06-18T21:12:38.5650424Z",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 2,
          "bytesProcessed": 0
        },
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
    {
      "RequestUri": "https://fakeserviceId.api.cac001.deid.azure.com/jobs/js-sdk-job-recorded-24:cancel?api-version=2024-01-16-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "js-sdk-job-recorded-24",
        "status": "Canceled",
        "createdAt": "2024-06-18T21:12:37.5140704Z",
        "startedAt": "2024-06-18T21:12:38.368827Z",
        "lastUpdatedAt": "2024-06-18T21:12:39.8802901Z",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 2,
          "bytesProcessed": 0
        },
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://fakeserviceId.api.cac001.deid.azure.com/jobs/js-sdk-job-recorded-24?api-version=2024-01-16-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "JobNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "Job not found."
        }
      }
    }
  ],
  "Variables": {}
}
