{
  "Entries": [
    {
      "RequestUri": "https://testns.servicebus.windows.net/hub_name/registrationIDs?api-version=2020-06",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml;type=entry;charset=utf-8",
        "x-ms-azsdk-telemetry": "class=NotificationHubsServiceClient;method=createRegistrationId",
        "x-ms-version": "2020-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom\u002Bxml; type=entry; charset=utf-8",
        "Location": "https://azuresdktestns.servicebus.windows.net/hub_name/registrationids/3280667865762611323-1797531224048185179-3",
        "TrackingId": "0a8acc5c-f2cd-4b12-b445-ad4abde24e35"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://testns.servicebus.windows.net/hub_name/registrations/3280667865762611323-1797531224048185179-3?api-version=2020-06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml;type=entry;charset=utf-8",
        "x-ms-azsdk-telemetry": "class=NotificationHubsServiceClient;method=createOrUpdateRegistration",
        "x-ms-version": "2020-06"
      },
      "RequestBody": "PD94bW[...]
[...]
    {
      "RequestUri": "https://testns.servicebus.windows.net/hub_name/registrations/3280667865762611323-1797531224048185179-3?api-version=2020-06",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/atom\u002Bxml;type=entry;charset=utf-8",
        "If-Match": "*",
        "x-ms-azsdk-telemetry": "class=NotificationHubsServiceClient;method=deleteRegistration",
        "x-ms-version": "2020-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "TrackingId": "6b12ec65-ba25-4818-96fe-b170dffc49c6"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
