/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ServiceReplica } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ServiceFabricMeshManagementClient } from "../serviceFabricMeshManagementClient";
import {
  ServiceReplicaDescription,
  ServiceReplicaListNextOptionalParams,
  ServiceReplicaListOptionalParams,
  ServiceReplicaGetOptionalParams,
  ServiceReplicaGetResponse,
  ServiceReplicaListResponse,
  ServiceReplicaListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ServiceReplica operations. */
export class ServiceReplicaImpl implements ServiceReplica {
  private readonly client: ServiceFabricMeshManagementClient;

  /**
   * Initialize a new instance of the class ServiceReplica class.
   * @param client Reference to the service client
   */
  constructor(client: ServiceFabricMeshManagementClient) {
    this.client = client;
  }

  /**
   * Gets the information about all replicas of a given service of an application. The information
   * includes the runtime properties of the replica instance.
   * @param resourceGroupName Azure resource group name
   * @param applicationResourceName The identity of the application.
   * @param serviceResourceName The identity of the service.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    applicationResourceName: string,
    serviceResourceName: string,
    options?: ServiceReplicaListOptionalParams
  ): PagedAsyncIterableIterator<ServiceReplicaDescription> {
    const iter = this.listPagingAll(
      resourceGroupName,
      applicationResourceName,
      serviceResourceName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          applicationResourceName,
          serviceResourceName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    applicationResourceName: string,
    serviceResourceName: string,
    options?: ServiceReplicaListOptionalParams
  ): AsyncIterableIterator<ServiceReplicaDescription[]> {
    let result = await this._list(
      resourceGroupName,
      applicationResourceName,
      serviceResourceName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        applicationResourceName,
        serviceResourceName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    applicationResourceName: string,
    serviceResourceName: string,
    options?: ServiceReplicaListOptionalParams
  ): AsyncIterableIterator<ServiceReplicaDescription> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      applicationResourceName,
      serviceResourceName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets the information about the service replica with the given name. The information include the
   * description and other properties of the service replica.
   * @param resourceGroupName Azure resource group name
   * @param applicationResourceName The identity of the application.
   * @param serviceResourceName The identity of the service.
   * @param replicaName Service Fabric replica name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    applicationResourceName: string,
    serviceResourceName: string,
    replicaName: string,
    options?: ServiceReplicaGetOptionalParams
  ): Promise<ServiceReplicaGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        applicationResourceName,
        serviceResourceName,
        replicaName,
        options
      },
      getOperationSpec
    );
  }

  /**
   * Gets the information about all replicas of a given service of an application. The information
   * includes the runtime properties of the replica instance.
   * @param resourceGroupName Azure resource group name
   * @param applicationResourceName The identity of the application.
   * @param serviceResourceName The identity of the service.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    applicationResourceName: string,
    serviceResourceName: string,
    options?: ServiceReplicaListOptionalParams
  ): Promise<ServiceReplicaListResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        applicationResourceName,
        serviceResourceName,
        options
      },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName Azure resource group name
   * @param applicationResourceName The identity of the application.
   * @param serviceResourceName The identity of the service.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    applicationResourceName: string,
    serviceResourceName: string,
    nextLink: string,
    options?: ServiceReplicaListNextOptionalParams
  ): Promise<ServiceReplicaListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        applicationResourceName,
        serviceResourceName,
        nextLink,
        options
      },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}/replicas/{replicaName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ServiceReplicaDescription
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationResourceName,
    Parameters.serviceResourceName,
    Parameters.replicaName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}/replicas",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ServiceReplicaDescriptionList
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationResourceName,
    Parameters.serviceResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ServiceReplicaDescriptionList
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationResourceName,
    Parameters.serviceResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
