{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "SpecialChars"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccountname.table.core.windows.net/Tables(\u0027SpecialChars\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "SpecialChars"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/SpecialChars?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A\u0027aaa_bbbb2\u0022",
        "RowKey": "\u0022A\u0027aaa_bbbb2",
        "test": "\u0022A\u0027aaa_bbbb2"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/SpecialChars(PartitionKey=\u0027A\u0027\u0027aaa_bbbb2%22\u0027,RowKey=\u0027%22A\u0027\u0027aaa_bbbb2\u0027)",
        "ETag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A35.2732889Z\u0027\u0022",
        "Location": "https://fakeaccountname.table.core.windows.net/SpecialChars(PartitionKey=\u0027A\u0027\u0027aaa_bbbb2%22\u0027,RowKey=\u0027%22A\u0027\u0027aaa_bbbb2\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/SpecialChars(PartitionKey=\u0027A\u0027\u0027aaa_bbbb2\u0022\u0027,RowKey=\u0027\u0022A\u0027\u0027aaa_bbbb2\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A35.2732889Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#SpecialChars/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A35.2732889Z\u0027\u0022",
        "PartitionKey": "A\u0027aaa_bbbb2\u0022",
        "RowKey": "\u0022A\u0027aaa_bbbb2",
        "Timestamp": "2022-02-01T20:52:35.2732889Z",
        "test": "\u0022A\u0027aaa_bbbb2"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables(\u0027SpecialChars\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
