/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Query } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { CostManagementClient } from "../costManagementClient";
import {
  QueryDefinition,
  QueryUsageOptionalParams,
  QueryUsageResponse,
  ExternalCloudProviderType,
  QueryUsageByExternalCloudProviderTypeOptionalParams,
  QueryUsageByExternalCloudProviderTypeResponse
} from "../models";

/** Class containing Query operations. */
export class QueryImpl implements Query {
  private readonly client: CostManagementClient;

  /**
   * Initialize a new instance of the class Query class.
   * @param client Reference to the service client
   */
  constructor(client: CostManagementClient) {
    this.client = client;
  }

  /**
   * Query the usage data for scope defined.
   * @param scope The scope associated with query and export operations. This includes
   *              '/subscriptions/{subscriptionId}/' for subscription scope,
   *              '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   *              '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and
   *              '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for
   *              Department scope,
   *              '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
   *              for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}
   *              for Management Group scope,
   *              '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   *              for billingProfile scope,
   *              '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
   *              for invoiceSection scope, and
   *              '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific
   *              for partners.
   * @param parameters Parameters supplied to the CreateOrUpdate Query Config operation.
   * @param options The options parameters.
   */
  usage(
    scope: string,
    parameters: QueryDefinition,
    options?: QueryUsageOptionalParams
  ): Promise<QueryUsageResponse> {
    return this.client.sendOperationRequest(
      { scope, parameters, options },
      usageOperationSpec
    );
  }

  /**
   * Query the usage data for external cloud provider type defined.
   * @param externalCloudProviderType The external cloud provider type associated with dimension/query
   *                                  operations. This includes 'externalSubscriptions' for linked account and 'externalBillingAccounts'
   *                                  for consolidated account.
   * @param externalCloudProviderId This can be '{externalSubscriptionId}' for linked account or
   *                                '{externalBillingAccountId}' for consolidated account used with dimension/query operations.
   * @param parameters Parameters supplied to the CreateOrUpdate Query Config operation.
   * @param options The options parameters.
   */
  usageByExternalCloudProviderType(
    externalCloudProviderType: ExternalCloudProviderType,
    externalCloudProviderId: string,
    parameters: QueryDefinition,
    options?: QueryUsageByExternalCloudProviderTypeOptionalParams
  ): Promise<QueryUsageByExternalCloudProviderTypeResponse> {
    return this.client.sendOperationRequest(
      {
        externalCloudProviderType,
        externalCloudProviderId,
        parameters,
        options
      },
      usageByExternalCloudProviderTypeOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const usageOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.CostManagement/query",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.QueryResult
    },
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.parameters3,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.scope1],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const usageByExternalCloudProviderTypeOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/query",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.QueryResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.parameters3,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.externalCloudProviderType,
    Parameters.externalCloudProviderId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
