/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/queryMappers";
import * as Parameters from "../models/parameters";
import { CostManagementClientContext } from "../costManagementClientContext";

/** Class representing a Query. */
export class Query {
  private readonly client: CostManagementClientContext;

  /**
   * Create a Query.
   * @param {CostManagementClientContext} client Reference to the service client.
   */
  constructor(client: CostManagementClientContext) {
    this.client = client;
  }

  /**
   * Query the usage data for scope defined.
   * @param scope The scope associated with query and export operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for
   * Department scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
   * for EnrollmentAccount scope,
   * '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group
   * scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
   * for invoiceSection scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
   * specific for partners.
   * @param parameters Parameters supplied to the CreateOrUpdate Query Config operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.QueryUsageResponse>
   */
  usage(scope: string, parameters: Models.QueryDefinition, options?: msRest.RequestOptionsBase): Promise<Models.QueryUsageResponse>;
  /**
   * @param scope The scope associated with query and export operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for
   * Department scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
   * for EnrollmentAccount scope,
   * '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group
   * scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
   * for invoiceSection scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
   * specific for partners.
   * @param parameters Parameters supplied to the CreateOrUpdate Query Config operation.
   * @param callback The callback
   */
  usage(scope: string, parameters: Models.QueryDefinition, callback: msRest.ServiceCallback<Models.QueryResult>): void;
  /**
   * @param scope The scope associated with query and export operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for
   * Department scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
   * for EnrollmentAccount scope,
   * '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group
   * scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
   * for invoiceSection scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
   * specific for partners.
   * @param parameters Parameters supplied to the CreateOrUpdate Query Config operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  usage(scope: string, parameters: Models.QueryDefinition, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.QueryResult>): void;
  usage(scope: string, parameters: Models.QueryDefinition, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.QueryResult>, callback?: msRest.ServiceCallback<Models.QueryResult>): Promise<Models.QueryUsageResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        parameters,
        options
      },
      usageOperationSpec,
      callback) as Promise<Models.QueryUsageResponse>;
  }

  /**
   * Query the usage data for external cloud provider type defined.
   * @param externalCloudProviderType The external cloud provider type associated with
   * dimension/query operations. This includes 'externalSubscriptions' for linked account and
   * 'externalBillingAccounts' for consolidated account. Possible values include:
   * 'externalSubscriptions', 'externalBillingAccounts'
   * @param externalCloudProviderId This can be '{externalSubscriptionId}' for linked account or
   * '{externalBillingAccountId}' for consolidated account used with dimension/query operations.
   * @param parameters Parameters supplied to the CreateOrUpdate Query Config operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.QueryUsageByExternalCloudProviderTypeResponse>
   */
  usageByExternalCloudProviderType(externalCloudProviderType: Models.ExternalCloudProviderType, externalCloudProviderId: string, parameters: Models.QueryDefinition, options?: msRest.RequestOptionsBase): Promise<Models.QueryUsageByExternalCloudProviderTypeResponse>;
  /**
   * @param externalCloudProviderType The external cloud provider type associated with
   * dimension/query operations. This includes 'externalSubscriptions' for linked account and
   * 'externalBillingAccounts' for consolidated account. Possible values include:
   * 'externalSubscriptions', 'externalBillingAccounts'
   * @param externalCloudProviderId This can be '{externalSubscriptionId}' for linked account or
   * '{externalBillingAccountId}' for consolidated account used with dimension/query operations.
   * @param parameters Parameters supplied to the CreateOrUpdate Query Config operation.
   * @param callback The callback
   */
  usageByExternalCloudProviderType(externalCloudProviderType: Models.ExternalCloudProviderType, externalCloudProviderId: string, parameters: Models.QueryDefinition, callback: msRest.ServiceCallback<Models.QueryResult>): void;
  /**
   * @param externalCloudProviderType The external cloud provider type associated with
   * dimension/query operations. This includes 'externalSubscriptions' for linked account and
   * 'externalBillingAccounts' for consolidated account. Possible values include:
   * 'externalSubscriptions', 'externalBillingAccounts'
   * @param externalCloudProviderId This can be '{externalSubscriptionId}' for linked account or
   * '{externalBillingAccountId}' for consolidated account used with dimension/query operations.
   * @param parameters Parameters supplied to the CreateOrUpdate Query Config operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  usageByExternalCloudProviderType(externalCloudProviderType: Models.ExternalCloudProviderType, externalCloudProviderId: string, parameters: Models.QueryDefinition, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.QueryResult>): void;
  usageByExternalCloudProviderType(externalCloudProviderType: Models.ExternalCloudProviderType, externalCloudProviderId: string, parameters: Models.QueryDefinition, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.QueryResult>, callback?: msRest.ServiceCallback<Models.QueryResult>): Promise<Models.QueryUsageByExternalCloudProviderTypeResponse> {
    return this.client.sendOperationRequest(
      {
        externalCloudProviderType,
        externalCloudProviderId,
        parameters,
        options
      },
      usageByExternalCloudProviderTypeOperationSpec,
      callback) as Promise<Models.QueryUsageByExternalCloudProviderTypeResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const usageOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "{scope}/providers/Microsoft.CostManagement/query",
  urlParameters: [
    Parameters.scope1
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  requestBody: {
    parameterPath: "parameters",
    mapper: {
      ...Mappers.QueryDefinition,
      required: true
    }
  },
  responses: {
    200: {
      bodyMapper: Mappers.QueryResult
    },
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const usageByExternalCloudProviderTypeOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/query",
  urlParameters: [
    Parameters.externalCloudProviderType,
    Parameters.externalCloudProviderId
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  requestBody: {
    parameterPath: "parameters",
    mapper: {
      ...Mappers.QueryDefinition,
      required: true
    }
  },
  responses: {
    200: {
      bodyMapper: Mappers.QueryResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};
