{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/fuzzy/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?query=pizza\u0026countrySet=fr"
          },
          {
            "query": "?query=pizza\u0026lat=25\u0026lon=121"
          },
          {
            "query": "?query=pizza\u0026lat=25\u0026lon=121\u0026countrySet=tw"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://atlas.microsoft.com/search/fuzzy/batch/e9246699-fb66-4f78-862b-0709bd7d2ec9?api-version=1.0",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": "\u0022\u0022"
    },
    {
      "RequestUri": "https://atlas.microsoft.com/search/fuzzy/batch/e9246699-fb66-4f78-862b-0709bd7d2ec9?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "query": "pizza",
                "queryType": "NON_NEAR",
                "queryTime": 6,
                "numResults": 10,
                "offset": 0,
                "totalResults": 19877,
                "fuzzyLevel": 1
              },
              "results": [
                {
                  "type": "POI",
                  "id": "250009036671933",
                  "score": 2.1454398632,
                  "info": "search:ta:250009036671933-FR",
                  "poi": {
                    "name": "Pizza Son\u0027",
                    "categorySet": [
                      {
                        "id": 7315036
                      }
                    ],
                    "categories": [
                      "pizza",
                      "restaurant"
                    ],
                    "classifications": [
                      {
                        "code": "RESTAURANT",
                        "names": [
                          {
                            "nameLocale": "en-US",
                            "name": "restaurant"
                          },
                          {
                            "nameLocale": "en-US",
                            "name": "pizza"
                          }
                        ]
                      }
                    ]
                  },
                  "address": {
                    "streetNumber": "7",
                    "streetName": "Rue Andr\u00E9 Foy",
                    "municipality": "Landudec",
                    "countrySecondarySubdivision": "Finist\u00E8re",
                    "countrySubdivision": "Bretagne",
                    "postalCode": "29710",
                    "countryCode": "FR",
                    "country": "France",
                    "countryCodeISO3": "FRA",
                    "freeformAddress": "7 Rue Andr\u00E9 Foy, 29710 Landudec",
                    "localName": "Landudec"
                  },
                  "position": {
                    "lat": 48.00002,
                    "lon": -4.33423
                  },
                  "viewport": {
                    "topLeftPoint": {
                      "lat": 48.00092,
                      "lon": -4.33557
                    },
                    "btmRightPoint": {
                      "lat": 47.99912,
                      "lon": -4.33289
                    }
                  },
                  "entryPoints": [
                    {
                      "type": "main",
                      "position": {
                        "lat": 47.99993,
                        "lon": -4.33423
                      }
                    }
                  ]
                },
                {
                  "type": "POI",
                  "id": "250009002305610",
                  "score": 2.1454398632,
                  "info": "search:ta:250009002305610-FR",
                  "poi": {
                    "name": "Pizzi Gonzales",
                    "phone": "\u002B33 2 98 66 13 13",
                    "categorySet": [
                      {
                        "id": 7315036
                      }
                    ],
                    "categories": [
                      "pizza",
                      "restaurant"
                    ],
                    "classifications": [
                      {
                        "code": "RESTAURANT",
                        "names": [
                          {
                            [...]
[...]
