// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { AssociateTrafficFilter } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { MicrosoftElastic } from "../microsoftElastic.js";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl.js";
import {
  AssociateTrafficFilterAssociateOptionalParams,
  AssociateTrafficFilterAssociateResponse,
} from "../models/index.js";

/** Class containing AssociateTrafficFilter operations. */
export class AssociateTrafficFilterImpl implements AssociateTrafficFilter {
  private readonly client: MicrosoftElastic;

  /**
   * Initialize a new instance of the class AssociateTrafficFilter class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftElastic) {
    this.client = client;
  }

  /**
   * Associate a traffic filter with your Elastic monitor resource to control and manage network traffic.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param options The options parameters.
   */
  async beginAssociate(
    resourceGroupName: string,
    monitorName: string,
    options?: AssociateTrafficFilterAssociateOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<AssociateTrafficFilterAssociateResponse>,
      AssociateTrafficFilterAssociateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<AssociateTrafficFilterAssociateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, monitorName, options },
      spec: associateOperationSpec,
    });
    const poller = await createHttpPoller<
      AssociateTrafficFilterAssociateResponse,
      OperationState<AssociateTrafficFilterAssociateResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Associate a traffic filter with your Elastic monitor resource to control and manage network traffic.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param options The options parameters.
   */
  async beginAssociateAndWait(
    resourceGroupName: string,
    monitorName: string,
    options?: AssociateTrafficFilterAssociateOptionalParams,
  ): Promise<AssociateTrafficFilterAssociateResponse> {
    const poller = await this.beginAssociate(
      resourceGroupName,
      monitorName,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const associateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/associateTrafficFilter",
  httpMethod: "POST",
  responses: {
    200: {
      headersMapper: Mappers.AssociateTrafficFilterAssociateHeaders,
    },
    201: {
      headersMapper: Mappers.AssociateTrafficFilterAssociateHeaders,
    },
    202: {
      headersMapper: Mappers.AssociateTrafficFilterAssociateHeaders,
    },
    204: {
      headersMapper: Mappers.AssociateTrafficFilterAssociateHeaders,
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.rulesetId],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
