/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ExternalUser } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftElastic } from "../microsoftElastic";
import {
  ExternalUserCreateOrUpdateOptionalParams,
  ExternalUserCreateOrUpdateResponse
} from "../models";

/** Class containing ExternalUser operations. */
export class ExternalUserImpl implements ExternalUser {
  private readonly client: MicrosoftElastic;

  /**
   * Initialize a new instance of the class ExternalUser class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftElastic) {
    this.client = client;
  }

  /**
   * Create User inside elastic deployment which are used by customers to perform operations on the
   * elastic deployment
   * @param resourceGroupName The name of the resource group to which the Elastic resource belongs.
   * @param monitorName Monitor resource name
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    monitorName: string,
    options?: ExternalUserCreateOrUpdateOptionalParams
  ): Promise<ExternalUserCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, options },
      createOrUpdateOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/createOrUpdateExternalUser",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ExternalUserCreationResponse
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse
    }
  },
  requestBody: Parameters.body2,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
