// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import type { OpenAI } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { MicrosoftElastic } from "../microsoftElastic.js";
import type {
  OpenAIIntegrationRPModel,
  OpenAIListNextOptionalParams,
  OpenAIListOptionalParams,
  OpenAIListResponse,
  OpenAIGetOptionalParams,
  OpenAIGetResponse,
  OpenAICreateOrUpdateOptionalParams,
  OpenAICreateOrUpdateResponse,
  OpenAIDeleteOptionalParams,
  OpenAIGetStatusOptionalParams,
  OpenAIGetStatusResponse,
  OpenAIListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing OpenAI operations. */
export class OpenAIImpl implements OpenAI {
  private readonly client: MicrosoftElastic;

  /**
   * Initialize a new instance of the class OpenAI class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftElastic) {
    this.client = client;
  }

  /**
   * List all OpenAI integration rules for a given Elastic monitor resource, helping you manage AI-driven
   * observability and monitoring.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    monitorName: string,
    options?: OpenAIListOptionalParams,
  ): PagedAsyncIterableIterator<OpenAIIntegrationRPModel> {
    const iter = this.listPagingAll(resourceGroupName, monitorName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(resourceGroupName, monitorName, options, settings);
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    monitorName: string,
    options?: OpenAIListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<OpenAIIntegrationRPModel[]> {
    let result: OpenAIListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, monitorName, options);
      const page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(resourceGroupName, monitorName, continuationToken, options);
      continuationToken = result.nextLink;
      const page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    monitorName: string,
    options?: OpenAIListOptionalParams,
  ): AsyncIterableIterator<OpenAIIntegrationRPModel> {
    for await (const page of this.listPagingPage(resourceGroupName, monitorName, options)) {
      yield* page;
    }
  }

  /**
   * List all OpenAI integration rules for a given Elastic monitor resource, helping you manage AI-driven
   * observability and monitoring.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    monitorName: string,
    options?: OpenAIListOptionalParams,
  ): Promise<OpenAIListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, options },
      listOperationSpec,
    );
  }

  /**
   * Get detailed information about OpenAI integration rules for a given Elastic monitor resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param integrationName OpenAI Integration name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    monitorName: string,
    integrationName: string,
    options?: OpenAIGetOptionalParams,
  ): Promise<OpenAIGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, integrationName, options },
      getOperationSpec,
    );
  }

  /**
   * Create or update an OpenAI integration rule for a given Elastic monitor resource, enabling advanced
   * AI-driven observability and monitoring.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param integrationName OpenAI Integration name
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    monitorName: string,
    integrationName: string,
    options?: OpenAICreateOrUpdateOptionalParams,
  ): Promise<OpenAICreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, integrationName, options },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Delete an OpenAI integration rule for a given Elastic monitor resource, removing AI-driven
   * observability and monitoring capabilities.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param integrationName OpenAI Integration name
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    monitorName: string,
    integrationName: string,
    options?: OpenAIDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, integrationName, options },
      deleteOperationSpec,
    );
  }

  /**
   * Get the status of OpenAI integration for a given Elastic monitor resource, ensuring optimal
   * observability and performance.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param integrationName OpenAI Integration name
   * @param options The options parameters.
   */
  getStatus(
    resourceGroupName: string,
    monitorName: string,
    integrationName: string,
    options?: OpenAIGetStatusOptionalParams,
  ): Promise<OpenAIGetStatusResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, integrationName, options },
      getStatusOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    monitorName: string,
    nextLink: string,
    options?: OpenAIListNextOptionalParams,
  ): Promise<OpenAIListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OpenAIIntegrationRPModelListResponse,
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations/{integrationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OpenAIIntegrationRPModel,
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
    Parameters.integrationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations/{integrationName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.OpenAIIntegrationRPModel,
    },
    201: {
      bodyMapper: Mappers.OpenAIIntegrationRPModel,
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  requestBody: Parameters.body4,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
    Parameters.integrationName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations/{integrationName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
    Parameters.integrationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getStatusOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/openAIIntegrations/{integrationName}/getStatus",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.OpenAIIntegrationStatusResponse,
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
    Parameters.integrationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OpenAIIntegrationRPModelListResponse,
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
