/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { UpgradableVersions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftElastic } from "../microsoftElastic";
import {
  UpgradableVersionsDetailsOptionalParams,
  UpgradableVersionsDetailsResponse
} from "../models";

/** Class containing UpgradableVersions operations. */
export class UpgradableVersionsImpl implements UpgradableVersions {
  private readonly client: MicrosoftElastic;

  /**
   * Initialize a new instance of the class UpgradableVersions class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftElastic) {
    this.client = client;
  }

  /**
   * List of upgradable versions for a given monitor resource.
   * @param resourceGroupName The name of the resource group to which the Elastic resource belongs.
   * @param monitorName Monitor resource name
   * @param options The options parameters.
   */
  details(
    resourceGroupName: string,
    monitorName: string,
    options?: UpgradableVersionsDetailsOptionalParams
  ): Promise<UpgradableVersionsDetailsResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, options },
      detailsOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const detailsOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/listUpgradableVersions",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.UpgradableVersionsList
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
