// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { VMIngestion } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { MicrosoftElastic } from "../microsoftElastic.js";
import type {
  VMIngestionDetailsOptionalParams,
  VMIngestionDetailsOperationResponse,
} from "../models/index.js";

/** Class containing VMIngestion operations. */
export class VMIngestionImpl implements VMIngestion {
  private readonly client: MicrosoftElastic;

  /**
   * Initialize a new instance of the class VMIngestion class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftElastic) {
    this.client = client;
  }

  /**
   * List detailed information about VM ingestion that will be monitored by the Elastic monitor resource,
   * ensuring optimal observability and performance.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Monitor resource name
   * @param options The options parameters.
   */
  details(
    resourceGroupName: string,
    monitorName: string,
    options?: VMIngestionDetailsOptionalParams,
  ): Promise<VMIngestionDetailsOperationResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, options },
      detailsOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const detailsOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}/vmIngestionDetails",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.VMIngestionDetailsResponse,
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
