# Used in most samples. Retrieve these values from a Communication Services instance
# in the Azure Portal.
COMMUNICATION_SAMPLES_CONNECTION_STRING="endpoint=https://<resource name>.communication.azure.net/;accessKey=<key>"
VERIFICATION_ID="4d313ff0-3aeb-477e-8c15-7c9a893e8999"
