{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?language=th\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-key": "fakeapikey",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022\u0E23\u0E27\u0E1A\u0E23\u0E27\u0E21\u0E41\u0E1C\u0E48\u0E19\u0E04\u0E33\u0E15\u0E2D\u0E1A \u0E23\u0E30\u0E22\u0E30\u0E40\u0E27\u0E25\u0E32\u0E02\u0E2D\u0E07\u0E42\u0E04\u0E23\u0E07\u0E01\u0E32\u0E23 \u0E27\u0E34\u0E18\u0E35\u0E40\u0E25\u0E37\u0E2D\u0E01\u0E0A\u0E32\u0E22\u0E43\u0E19\u0E1D\u0E31\u0E19 \u0E2B\u0E21\u0E32\u0E22\u0E40\u0E25\u0E02\u0E0B\u0E35\u0E40\u0E23\u0E35\u0E22\u0E25\u0E02\u0E2D\u0E07\u0E23\u0E30\u0E40\u0E1A\u0E35\u0E22\u0E19 \u0E27\u0E31\u0E19\u0E17\[...]
