/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ServiceBusManagementClientInternal } from "../serviceBusManagementClientInternal";
import {
  SubscriptionGetOptionalParams,
  SubscriptionGetResponse,
  SubscriptionPutOptionalParams,
  SubscriptionPutResponse,
  SubscriptionDeleteResponse
} from "../models";

/**
 * Class representing a Subscription.
 */
export class Subscription {
  private readonly client: ServiceBusManagementClientInternal;

  /**
   * Initialize a new instance of the class Subscription class.
   * @param client Reference to the service client
   */
  constructor(client: ServiceBusManagementClientInternal) {
    this.client = client;
  }

  /**
   * Get the details about the subscription of a topic.
   * @param topicName name of the topic.
   * @param subscriptionName name of the subscription.
   * @param options The options parameters.
   */
  get(
    topicName: string,
    subscriptionName: string,
    options?: SubscriptionGetOptionalParams
  ): Promise<SubscriptionGetResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { topicName, subscriptionName, options: operationOptions },
      getOperationSpec
    ) as Promise<SubscriptionGetResponse>;
  }

  /**
   * Create or update a subscription
   * @param topicName name of the topic.
   * @param subscriptionName name of the subscription.
   * @param requestBody Parameters required to make or edit a subscription.
   * @param options The options parameters.
   */
  put(
    topicName: string,
    subscriptionName: string,
    requestBody: any,
    options?: SubscriptionPutOptionalParams
  ): Promise<SubscriptionPutResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { topicName, subscriptionName, requestBody, options: operationOptions },
      putOperationSpec
    ) as Promise<SubscriptionPutResponse>;
  }

  /**
   * Delete the subscription with the given topicName and subscriptionName.
   * @param topicName name of the topic.
   * @param subscriptionName name of the subscription.
   * @param options The options parameters.
   */
  delete(
    topicName: string,
    subscriptionName: string,
    options?: coreHttp.OperationOptions
  ): Promise<SubscriptionDeleteResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { topicName, subscriptionName, options: operationOptions },
      deleteOperationSpec
    ) as Promise<SubscriptionDeleteResponse>;
  }
}
// Operation Specifications

const xmlSerializer = new coreHttp.Serializer(Mappers, /* isXml */ true);

const getOperationSpec: coreHttp.OperationSpec = {
  path: "/{topicName}/subscriptions/{subscriptionName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: { type: { name: "any" }, serializedName: "any" }
    },
    default: {
      bodyMapper: Mappers.ServiceBusManagementError,
      headersMapper: Mappers.SubscriptionGetHeaders
    }
  },
  queryParameters: [Parameters.enrich, Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.topicName,
    Parameters.subscriptionName
  ],
  isXML: true,
  serializer: xmlSerializer
};
const putOperationSpec: coreHttp.OperationSpec = {
  path: "/{topicName}/subscriptions/{subscriptionName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: { type: { name: "any" }, serializedName: "any" }
    },
    201: {
      bodyMapper: { type: { name: "any" }, serializedName: "any" }
    },
    default: {
      bodyMapper: Mappers.ServiceBusManagementError,
      headersMapper: Mappers.SubscriptionPutHeaders
    }
  },
  requestBody: Parameters.requestBody,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.topicName,
    Parameters.subscriptionName
  ],
  headerParameters: [Parameters.contentType, Parameters.ifMatch],
  isXML: true,
  contentType: "application/xml; charset=utf-8",
  mediaType: "xml",
  serializer: xmlSerializer
};
const deleteOperationSpec: coreHttp.OperationSpec = {
  path: "/{topicName}/subscriptions/{subscriptionName}",
  httpMethod: "DELETE",
  responses: {
    200: {
      bodyMapper: { type: { name: "any" }, serializedName: "any" }
    },
    default: {
      bodyMapper: Mappers.ServiceBusManagementError,
      headersMapper: Mappers.SubscriptionDeleteHeaders
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.topicName,
    Parameters.subscriptionName
  ],
  isXML: true,
  serializer: xmlSerializer
};
