# Retrieve these values from a service instance
# in the Azure Portal and the Metrics Advisor web portal.
METRICS_ADVISOR_ENDPOINT=https://<resource name>.cognitiveservices.azure.com/
METRICS_ADVISOR_SUBSCRIPTION_KEY=<subscription key>
METRICS_ADVISOR_API_KEY=<api key>

# Required for various perf tests
#METRICS_ADVISOR_ALERT_CONFIG_ID=
#METRICS_ADVISOR_ALERT_ID=
#METRICS_ADVISOR_INCIDENT_ID=
#METRICS_ADVISOR_DETECTION_CONFIG_ID=
