# Server Configuration
AZURE_CACHE_PORT=3000
PACKAGE_VERSION=1.0.0
CACHE_LOG_LEVEL=info

# Turbo Configuration
TURBO_TOKEN=token1,token2

# Azure Storage Configuration
AZURE_STORAGE_ACCOUNT=your_account_name
AZURE_STORAGE_CONTAINER_NAME=your_container_name
