{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511437938601746?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03098F24C463\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511437938601746/blob167511437945507100",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "AAECAwQFBgcICQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xWvVSA9uVBPLYqCtlmZhOg==",
        "ETag": "\u00220x8DB03098F2FB9C8\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-content-crc64": "l0UONCoHCSs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-30T21:32:59.4915784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511437938601746/blob167511437945507100",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xWvVSA9uVBPLYqCtlmZhOg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB03098F2FB9C8\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-30T21:32:59.4915784Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511437938601746/blob167511437945507100",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-range": "bytes=0-9",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-9/10",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB03098F2FB9C8\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-blob-content-md5": "xWvVSA9uVBPLYqCtlmZhOg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 30 Jan 2023 21:32:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-30T21:32:59.4915784Z"
      },
      "ResponseBody": "AAECAwQFBgcICQ=="
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511437938601746?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:33:00 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167511437945507100",
    "container": "container167511437938601746"
  }
}
