/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ServerCollectors } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMigrateV2 } from "../azureMigrateV2";
import {
  ServerCollector,
  ServerCollectorsListByProjectOptionalParams,
  ServerCollectorsListByProjectResponse,
  ServerCollectorsGetOptionalParams,
  ServerCollectorsGetResponse,
  ServerCollectorsCreateOptionalParams,
  ServerCollectorsCreateResponse,
  ServerCollectorsDeleteOptionalParams,
  ServerCollectorsDeleteResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ServerCollectors operations. */
export class ServerCollectorsImpl implements ServerCollectors {
  private readonly client: AzureMigrateV2;

  /**
   * Initialize a new instance of the class ServerCollectors class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateV2) {
    this.client = client;
  }

  /**
   * Get a list of Server collector.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param projectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  public listByProject(
    resourceGroupName: string,
    projectName: string,
    options?: ServerCollectorsListByProjectOptionalParams
  ): PagedAsyncIterableIterator<ServerCollector> {
    const iter = this.listByProjectPagingAll(
      resourceGroupName,
      projectName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listByProjectPagingPage(
          resourceGroupName,
          projectName,
          options
        );
      }
    };
  }

  private async *listByProjectPagingPage(
    resourceGroupName: string,
    projectName: string,
    options?: ServerCollectorsListByProjectOptionalParams
  ): AsyncIterableIterator<ServerCollector[]> {
    let result = await this._listByProject(
      resourceGroupName,
      projectName,
      options
    );
    yield result.value || [];
  }

  private async *listByProjectPagingAll(
    resourceGroupName: string,
    projectName: string,
    options?: ServerCollectorsListByProjectOptionalParams
  ): AsyncIterableIterator<ServerCollector> {
    for await (const page of this.listByProjectPagingPage(
      resourceGroupName,
      projectName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Get a list of Server collector.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param projectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  private _listByProject(
    resourceGroupName: string,
    projectName: string,
    options?: ServerCollectorsListByProjectOptionalParams
  ): Promise<ServerCollectorsListByProjectResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, options },
      listByProjectOperationSpec
    );
  }

  /**
   * Get a Server collector.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param projectName Name of the Azure Migrate project.
   * @param serverCollectorName Unique name of a Server collector within a project.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    projectName: string,
    serverCollectorName: string,
    options?: ServerCollectorsGetOptionalParams
  ): Promise<ServerCollectorsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, serverCollectorName, options },
      getOperationSpec
    );
  }

  /**
   * Create or Update Server collector
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param projectName Name of the Azure Migrate project.
   * @param serverCollectorName Unique name of a Server collector within a project.
   * @param options The options parameters.
   */
  create(
    resourceGroupName: string,
    projectName: string,
    serverCollectorName: string,
    options?: ServerCollectorsCreateOptionalParams
  ): Promise<ServerCollectorsCreateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, serverCollectorName, options },
      createOperationSpec
    );
  }

  /**
   * Delete a Server collector from the project.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param projectName Name of the Azure Migrate project.
   * @param serverCollectorName Unique name of a Server collector within a project.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    projectName: string,
    serverCollectorName: string,
    options?: ServerCollectorsDeleteOptionalParams
  ): Promise<ServerCollectorsDeleteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, serverCollectorName, options },
      deleteOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByProjectOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ServerCollectorList,
      headersMapper: Mappers.ServerCollectorsListByProjectHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors/{serverCollectorName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ServerCollector,
      headersMapper: Mappers.ServerCollectorsGetHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.serverCollectorName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors/{serverCollectorName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ServerCollector,
      headersMapper: Mappers.ServerCollectorsCreateHeaders
    },
    201: {
      bodyMapper: Mappers.ServerCollector,
      headersMapper: Mappers.ServerCollectorsCreateHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.collectorBody1,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.serverCollectorName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors/{serverCollectorName}",
  httpMethod: "DELETE",
  responses: {
    200: {
      headersMapper: Mappers.ServerCollectorsDeleteHeaders
    },
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.serverCollectorName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
