{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/sentShares/5eb6b8b8-bada-415c-abaa-6a61511570b7/sentShareInvitations/b798b80f-b945-424f-834e-7c55a1ec34a8?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "targetActiveDirectoryId": "cf5f72d3-1204-4980-ab81-21d1ed8804ef",
          "targetObjectId": "2a702475-98ac-43cc-993f-cb6029205292",
          "shareStatus": "Detached",
          "expirationDate": "2023-12-31T23:59:59Z",
          "sentAt": "2023-02-22T08:10:03.9744229Z",
          "senderName": "Sharing-Test-App",
          "senderTenantName": "Fabrikam Solutions",
          "state": "Succeeded"
        },
        "invitationKind": "Service",
        "id": "b798b80f-b945-424f-834e-7c55a1ec34a8",
        "type": "sentShares/sentShareInvitations"
      }
    }
  ],
  "Variables": {}
}
