{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/sentShares?referenceName=/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname\u0026api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "displayName": "JS-SDK-Sent-Share",
              "description": "Sent share created by and for JS SDK tests.",
              "artifact": {
                "properties": {
                  "paths": [
                    {
                      "containerName": "container1",
                      "senderPath": "folder1/test (6) (1).csv",
                      "receiverPath": "test.csv"
                    }
                  ],
                  "location": "southafricanorth"
                },
                "storeKind": "AdlsGen2Account",
                "storeReference": {
                  "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
                  "type": "ArmResourceReference"
                }
              },
              "state": "Succeeded",
              "createdAt": "2023-06-02T15:16:16.6813886Z",
              "dependsOn": [],
              "senderName": "testDataBricks",
              "senderTenantName": "Microsoft"
            },
            "shareKind": "InPlace",
            "id": "172e29c5-ce5d-4c5f-9cfb-6c2748114aa4",
            "type": "SentShare"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
