{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/sentShares/5eb6b8b8-bada-415c-abaa-6a61511570b7?api-version=2023-02-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://accountname.purview.azure.com/share/operationResults/a8858727-5fd5-438e-8c41-21cbd983da9a?api-version=2023-02-15-preview",
        "Operation-Location": "https://accountname.purview.azure.com/share/operationResults/a8858727-5fd5-438e-8c41-21cbd983da9a?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "id": "a8858727-5fd5-438e-8c41-21cbd983da9a",
        "startTime": "2023-02-22T08:10:05.6371099Z",
        "endTime": null,
        "status": "NotStarted",
        "error": null
      }
    },
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/a8858727-5fd5-438e-8c41-21cbd983da9a?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "a8858727-5fd5-438e-8c41-21cbd983da9a",
        "startTime": "2023-02-22T08:10:05.5787545Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/a8858727-5fd5-438e-8c41-21cbd983da9a?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "a8858727-5fd5-438e-8c41-21cbd983da9a",
        "startTime": "2023-02-22T08:10:05.5787545Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {}
}
