# Used to authenticate with Azure Planetary Computer Pro.
# Retrieve this value from your Azure Planetary Computer Pro resource in the Azure Portal.
PLANETARYCOMPUTER_ENDPOINT="https://<resource-name>.<location>.geocatalog.spatio.azure.com"
