# browser #
browser/azure-storage.queue.js
browser/azure-storage.queue.js.map

# dist-test #
dist-test/

# Node #
node_modules/

# Swagger #
swagger/

# git #
.git*

# Others #
.vscode/
.idea/
.gitignore
gulpfile.js
.git
.DS_Store
*.zip
temp
gulpfile.js
*.html
coverage/
.nyc_output/
test*.xml
*.tgz
coverage-browser
.nycrc
mocha.reporter.config.json