{
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "**/*.d.ts",
      "src/models.ts",
      "src/generated/lib/storageClient.ts"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "text-summary",
      "html",
      "cobertura"
    ],
    "sourceMap": true,
    "instrument": true,
    "all": true
  }