{
    "include": [
      "dist-esm/test/*.spec.js",
      "dist-esm/test/node/*.spec.js"
    ],
    "exclude": [
      "**/*.d.ts",
      "src/credentials/SharedKeyCredential.browser.ts",
      "src/models.ts",
      "src/generated/lib/storageClient.ts"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "text-summary",
      "html",
      "cobertura"
    ],
    "exclude-after-remap":false,
    "sourceMap": true,
    "instrument": true,
    "all": true
  }