{
    "include": [
      "dist-esm/storage-common/src/**/*.js",
      "dist-esm/storage-queue/src/**/*.js"
    ],
    "exclude": [
      "**/*.d.ts",
      "dist-esm/storage-queue/src/models.js",
      "dist-esm/storage-queue/src/index.browser.js",
      "dist-esm/storage-queue/src/generated/src/storageClient.js"
    ],
    "reporter": [
      "text-summary",
      "html",
      "cobertura"
    ],
    "exclude-after-remap":false,
    "sourceMap": true,
    "instrument": true,
    "all": true
  }
