# Used in most samples. Retrieve these values from a storage account in the Azure Portal.
ACCOUNT_NAME=<storage-account-name>

# Used for shared key credential samples
ACCOUNT_KEY=<storage-account-key>

# Used for connection string samples
STORAGE_CONNECTION_STRING=<storage-account-connection-string>

# Used for anonymous credential samples
ACCOUNT_SAS=<shared-access-signature>

# Used for samples that interact with Azure Resource Manager
SUBSCRIPTION_ID=<azure-subscription-id>
RESOURCE_GROUP=<azure-resource-group-name>

# To run the proxyAuth sample, set up an HTTP or HTTPS proxy and enter your information:
# HTTP_PROXY=http://localhost:3128
# HTTPS_PROXY=https://localhost:3128
