/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AscOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { StorageCacheManagementClient } from "../storageCacheManagementClient";
import {
  AscOperationsGetOptionalParams,
  AscOperationsGetResponse
} from "../models";

/** Class containing AscOperations operations. */
export class AscOperationsImpl implements AscOperations {
  private readonly client: StorageCacheManagementClient;

  /**
   * Initialize a new instance of the class AscOperations class.
   * @param client Reference to the service client
   */
  constructor(client: StorageCacheManagementClient) {
    this.client = client;
  }

  /**
   * Gets the status of an asynchronous operation for the Azure HPC Cache
   * @param location The name of the region used to look up the operation.
   * @param operationId The operation id which uniquely identifies the asynchronous operation.
   * @param options The options parameters.
   */
  get(
    location: string,
    operationId: string,
    options?: AscOperationsGetOptionalParams
  ): Promise<AscOperationsGetResponse> {
    return this.client.sendOperationRequest(
      { location, operationId, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/locations/{location}/ascOperations/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AscOperation
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
