/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AscOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { StorageCacheManagementClient } from "../storageCacheManagementClient.js";
import {
  AscOperationsGetOptionalParams,
  AscOperationsGetResponse,
} from "../models/index.js";

/** Class containing AscOperations operations. */
export class AscOperationsImpl implements AscOperations {
  private readonly client: StorageCacheManagementClient;

  /**
   * Initialize a new instance of the class AscOperations class.
   * @param client Reference to the service client
   */
  constructor(client: StorageCacheManagementClient) {
    this.client = client;
  }

  /**
   * Gets the status of an asynchronous operation for the Azure HPC Cache
   * @param location The name of Azure region.
   * @param operationId The ID of an ongoing async operation.
   * @param options The options parameters.
   */
  get(
    location: string,
    operationId: string,
    options?: AscOperationsGetOptionalParams,
  ): Promise<AscOperationsGetResponse> {
    return this.client.sendOperationRequest(
      { location, operationId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.StorageCache/locations/{location}/ascOperations/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AscOperation,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
