{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/logs-arm-resource-id/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "resource | summarize count()",
        "timespan": "P1D"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "message": "The request had some invalid properties",
          "code": "BadArgumentError",
          "correlationId": "0b48cfb2-81d6-4dd5-a082-714b0f97c369",
          "innererror": {
            "code": "SemanticError",
            "message": "A semantic error occurred.",
            "innererror": {
              "code": "SEM0100",
              "message": "\u0027summarize\u0027 operator: Failed to resolve table or column expression named \u0027resource\u0027"
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
