/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { EmergingIssues } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftResourceHealth } from "../microsoftResourceHealth";
import {
  EmergingIssuesGetResult,
  EmergingIssuesListNextOptionalParams,
  EmergingIssuesListOptionalParams,
  EmergingIssuesGetOptionalParams,
  EmergingIssuesGetResponse,
  EmergingIssuesListResponse,
  EmergingIssuesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing EmergingIssues operations. */
export class EmergingIssuesImpl implements EmergingIssues {
  private readonly client: MicrosoftResourceHealth;

  /**
   * Initialize a new instance of the class EmergingIssues class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftResourceHealth) {
    this.client = client;
  }

  /**
   * Lists Azure services' emerging issues.
   * @param options The options parameters.
   */
  public list(
    options?: EmergingIssuesListOptionalParams
  ): PagedAsyncIterableIterator<EmergingIssuesGetResult> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: EmergingIssuesListOptionalParams
  ): AsyncIterableIterator<EmergingIssuesGetResult[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: EmergingIssuesListOptionalParams
  ): AsyncIterableIterator<EmergingIssuesGetResult> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets Azure services' emerging issues.
   * @param options The options parameters.
   */
  get(
    options?: EmergingIssuesGetOptionalParams
  ): Promise<EmergingIssuesGetResponse> {
    return this.client.sendOperationRequest({ options }, getOperationSpec);
  }

  /**
   * Lists Azure services' emerging issues.
   * @param options The options parameters.
   */
  private _list(
    options?: EmergingIssuesListOptionalParams
  ): Promise<EmergingIssuesListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: EmergingIssuesListNextOptionalParams
  ): Promise<EmergingIssuesListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.ResourceHealth/emergingIssues/{issueName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EmergingIssuesGetResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.issueName],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.ResourceHealth/emergingIssues",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EmergingIssueListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EmergingIssueListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
