{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/eventhubs?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/eventhubs/myeventhubxxx",
            "name": "myeventhubxxx",
            "type": "Microsoft.EventHub/namespaces/eventhubs",
            "location": "eastus",
            "properties": {
              "messageRetentionInDays": 4,
              "partitionCount": 4,
              "status": "Active",
              "createdAt": "2022-09-30T08:21:24.3",
              "updatedAt": "2022-09-30T08:21:24.633",
              "partitionIds": [
                "0",
                "1",
                "2",
                "3"
              ],
              "captureDescription": {
                "enabled": true,
                "encoding": "Avro",
                "destination": {
                  "name": "EventHubArchive.AzureBlockBlob",
                  "properties": {
                    "storageAccountResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountxxx1",
                    "blobContainer": "container",
                    "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"
                  }
                },
                "intervalInSeconds": 120,
                "sizeLimitInBytes": 10485763
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
