{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest?api-version=2022-08-29-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/6a4181ce-c4a4-4930-ac6e-d22b35e6915a*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD?api-version=2022-08-29-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002233009dcd-0000-0100-0000-643faedf0000\u0022",
        "Location": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/6a4181ce-c4a4-4930-ac6e-d22b35e6915a*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD?api-version=2022-08-29-preview",
        "mise-correlation-id": "cef80d71-d4f0-4fa3-ac7e-a1e588ad25e3",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/6a4181ce-c4a4-4930-ac6e-d22b35e6915a*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD?api-version=2022-08-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c006f45-0000-0100-0000-643faede0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/6a4181ce-c4a4-4930-ac6e-d22b35e6915a*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD",
        "name": "6a4181ce-c4a4-4930-ac6e-d22b35e6915a*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest",
        "status": "Deleting",
        "startTime": "2023-04-19T09:05:34.8325478Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/6a4181ce-c4a4-4930-ac6e-d22b35e6915a*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD?api-version=2022-08-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c007045-0000-0100-0000-643faee40000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11988"
      },
      "ResponseBody": {
        "id": "/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/6a4181ce-c4a4-4930-ac6e-d22b35e6915a*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD",
        "name": "6a4181ce-c4a4-4930-ac6e-d22b35e6915a*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest",
        "status": "Succeeded",
        "startTime": "2023-04-19T09:05:34.8325478Z",
        "endTime": "2023-04-19T09:05:40.4938678Z",
        "error": {},
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks?api-version=2022-08-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "9ccb5da3-d329-491c-b2c8-8186f407cff2",
          "75cc9806-32de-4be9-ac07-a0d924c946db",
          "2c1cc6a5-46f0-43fa-a667-36bbc2a20664",
          "de15da8a-83c3-4ce9-a32c-35779ce04151",
          "f557a52e-a095-4a72-b785-15f0f063d38c",
          "ba8a9d36-53bd-4516-8d37-ae167701d4bf"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
