{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks?api-version=2022-08-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "50c32ac9-6a34-42f5-8279-5ba7d7486752",
          "5a7994b1-7475-473b-bb3b-8fe2316035be",
          "03fefe23-ee15-4d17-a573-3bb059547ed8",
          "33067f8f-00a7-4811-86a4-0e6cc03f7191",
          "7515d96f-2e44-4bb3-adb4-f6f89eec1fcd",
          "d871e95b-ef5b-4227-90fd-6e6943438aa1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest",
            "name": "resourcetest",
            "type": "paloaltonetworks.cloudngfw/localrulestacks",
            "location": "eastus",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-04-19T07:57:19.200601Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-04-19T07:57:19.200601Z"
            },
            "properties": {
              "scope": "LOCAL",
              "description": "local rulestacks",
              "provisioningState": "Succeeded",
              "defaultMode": "NONE",
              "panEtag": "d6e0c244-de87-11ed-b8d7-6e00065c12b7",
              "minAppIdVersion": "8595-7473",
              "securityServices": {
                "vulnerabilityProfile": "BestPractice",
                "antiSpywareProfile": "BestPractice",
                "antiVirusProfile": "BestPractice",
                "urlFilteringProfile": "BestPractice",
                "fileBlockingProfile": "BestPractice",
                "dnsSubscription": "BestPractice"
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
