{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest?api-version=2022-08-29-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "description": "local rulestacks"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/bbd256a0-b69a-4740-b73a-55c6126d0926*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD?api-version=2022-08-29-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022330090cd-0000-0100-0000-643faebd0000\u0022",
        "Location": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/bbd256a0-b69a-4740-b73a-55c6126d0926*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD?api-version=2022-08-29-preview",
        "mise-correlation-id": "c7ac7c94-c9ed-416d-8569-7a052c7c01a0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest",
        "name": "resourcetest",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-04-19T09:04:59.5546569Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-19T09:04:59.5546569Z"
        },
        "properties": {
          "scope": "LOCAL",
          "description": "local rulestacks",
          "provisioningState": "Accepted",
          "defaultMode": "NONE"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/bbd256a0-b69a-4740-b73a-55c6126d0926*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD?api-version=2022-08-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c006c45-0000-0100-0000-643faebc0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/bbd256a0-b69a-4740-b73a-55c6126d0926*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD",
        "name": "bbd256a0-b69a-4740-b73a-55c6126d0926*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest",
        "status": "Accepted",
        "startTime": "2023-04-19T09:05:00.6969211Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/bbd256a0-b69a-4740-b73a-55c6126d0926*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD?api-version=2022-08-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225c006e45-0000-0100-0000-643faecd0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11992"
      },
      "ResponseBody": {
        "id": "/providers/PaloAltoNetworks.Cloudngfw/locations/EASTUS/operationStatuses/bbd256a0-b69a-4740-b73a-55c6126d0926*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD",
        "name": "bbd256a0-b69a-4740-b73a-55c6126d0926*2C5BB3E3178833B2EC7C9832E97520F3D5F3352D64E1127D0AF625461FE358FD",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest",
        "status": "Succeeded",
        "startTime": "2023-04-19T09:05:00.6969211Z",
        "endTime": "2023-04-19T09:05:17.9939776Z",
        "error": {},
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest?api-version=2022-08-29-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002233009bcd-0000-0100-0000-643faece0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/resourcetest",
        "name": "resourcetest",
        "type": "paloaltonetworks.cloudngfw/localrulestacks",
        "location": "eastus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-04-19T09:04:59.5546569Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-04-19T09:04:59.5546569Z"
        },
        "properties": {
          "scope": "LOCAL",
          "description": "local rulestacks",
          "provisioningState": "Succeeded",
          "defaultMode": "NONE",
          "panEtag": "4b24929e-de91-11ed-abf0-1a1784ec2d74",
          "minAppIdVersion": "8595-7473",
          "securityServices": {
            "vulnerabilityProfile": "BestPractice",
            "antiSpywareProfile": "BestPractice",
            "antiVirusProfile": "BestPractice",
            "urlFilteringProfile": "BestPractice",
            "fileBlockingProfile": "BestPractice",
            "dnsSubscription": "BestPractice"
          }
        }
      }
    }
  ],
  "Variables": {}
}
