{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Kusto/clusters?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "296"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Kusto/Clusters/mytestclustername5",
            "name": "mytestclustername5",
            "type": "Microsoft.Kusto/Clusters",
            "etag": "\u00222022-06-17T02:26:22.9466969Z\u0022",
            "location": "West Europe",
            "sku": {
              "name": "Standard_L8s_v2",
              "tier": "Standard",
              "capacity": 2
            },
            "tags": {},
            "properties": {
              "state": "Running",
              "stateReason": null,
              "uri": "https://mytestclustername5.westeurope.kusto.windows.net",
              "dataIngestionUri": "https://ingest-mytestclustername5.westeurope.kusto.windows.net",
              "trustedExternalTenants": [],
              "virtualNetworkConfiguration": null,
              "optimizedAutoscale": null,
              "enableDiskEncryption": false,
              "enableStreamingIngest": false,
              "keyVaultProperties": null,
              "languageExtensions": {
                "value": []
              },
              "enablePurge": null,
              "enableDoubleEncryption": false,
              "engineType": "V3",
              "acceptedAudiences": [],
              "restrictOutboundNetworkAccess": "Disabled",
              "allowedFqdnList": [],
              "publicNetworkAccess": "Enabled",
              "allowedIpRangeList": [],
              "enableAutoStop": true,
              "publicIPType": "IPv4",
              "virtualClusterGraduationProperties": null,
              "privateEndpointConnections": [],
              "provisioningState": "Succeeded"
            },
            "identity": {
              "principalId": "0d164708-16cd-456c-8bc0-15b7a84a03f3",
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "type": "SystemAssigned"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Kusto/Clusters/mytestclustername6",
            "name": "mytestclustername6",
            "type": "Microsoft.Kusto/Clusters",
            "etag": "\u00222022-06-17T02:33:56.3188226Z\u0022",
            "location": "West Europe",
            "sku": {
              "name": "Standard[...]
