{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Kusto/clusters/mytestclustername5?api-version=2022-07-07",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Kusto/locations/West Europe/operationResults/70c55c9b-8986-4d85-97ef-03b5c5b8aa84?api-version=2022-07-07",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Kusto/locations/West%20Europe/operationResults/70c55c9b-8986-4d85-97ef-03b5c5b8aa84?api-version=2022-07-07\u0026operationResultResponseType=Location",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Kusto/locations/West%20Europe/operationResults/70c55c9b-8986-4d85-97ef-03b5c5b8aa84?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "f8a1195a-414c-4b4d-939f-d181d8cbe62b",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "138"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Kusto/locations/West Europe/operationresults/70c55c9b-8986-4d85-97ef-03b5c5b8aa84",
        "name": "70c55c9b-8986-4d85-97ef-03b5c5b8aa84",
        "status": "Running",
        "startTime": "2023-01-11T06:16:43.0425727Z",
        "endTime": "2023-01-11T06:16:43.0425727Z",
        "percentComplete": 0.5,
        "properties": {
          "operationKind": "ClusterDelete",
          "provisioningState": "Running",
          "operationState": "InProgress"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Kusto/locations/West%20Europe/operationResults/0d552c1a-8530-4652-85e2-d7d9543142e8?api-version=2022-07-07",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-operation-root-activity-id": "203def92-a9e1-4ec7-8b98-c77c0b4bab2f",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "64"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Kusto/locations/West Europe/operationresults/0d552c1a-8530-4652-85e2-d7d9543142e8",
        "name": "0d552c1a-8530-4652-85e2-d7d9543142e8",
        "status": "Succeeded",
        "startTime": "2023-01-11T06:24:19.4253118Z",
        "endTime": "2023-01-11T06:34:38.0777714Z",
        "percentComplete": 1.0,
        "properties": {
          "operationKind": "ClusterDelete",
          "provisioningState": "Succeeded",
          "operationState": "Completed"
        }
      }
    }
  ],
  "Variables": {}
}
