# Used in most samples. Retrieve these values from a Azure Notification Hub in the Azure Portal.
NOTIFICATIONHUBS_CONNECTION_STRING="<connection string>"

# Used in most samples. Provide the name of a Notification Hub within a namespace.
NOTIFICATION_HUB_NAME="<hub name>"

# Used in Direct Send Examples
APNS_DEVICE_TOKEN="<device token>"
FCM_DEVICE_TOKEN="<device token>"
FCMV1_DEVICE_TOKEN="<device token>"

# Used in Installation samples
INSTALLATION_ID="<installation ID>"

# Used in RegistrationDescription samples
REGISTRATION_ID="<registration ID>"

# Used in Export/Import Jobs
OUTPUT_CONTAINER_URL="<output container URL>"
IMPORT_FILE_URL="<import file URL>"
