{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-09T17:04:10.8765224Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "sdk-project-x2z4o4ohvwcbi"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
