{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Batch/batchAccounts?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx",
            "name": "myaccountxxx",
            "type": "Microsoft.Batch/batchAccounts",
            "location": "eastus",
            "properties": {
              "accountEndpoint": "myaccountxxx.eastus.batch.azure.com",
              "provisioningState": "Succeeded",
              "dedicatedCoreQuota": 0,
              "dedicatedCoreQuotaPerVMFamily": [
                {
                  "name": "standardAv2Family",
                  "coreQuota": 0
                },
                {
                  "name": "standardDv2Family",
                  "coreQuota": 0
                },
                {
                  "name": "standardDv3Family",
                  "coreQuota": 0
                },
                {
                  "name": "standardEv3Family",
                  "coreQuota": 0
                },
                {
                  "name": "standardDSv2Family",
                  "coreQuota": 0
                },
         [...]
