{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx/disableAutoScale?api-version=2022-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DA69616EDA9F9F\u0022",
        "Last-Modified": "Tue, 19 Jul 2022 08:34:01 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/pools/mypoolxxx",
        "name": "mypoolxxx",
        "type": "Microsoft.Batch/batchAccounts/pools",
        "etag": "W/\u00220x8DA69616EDA9F9F\u0022",
        "properties": {
          "lastModified": "2022-07-19T08:34:01.8912159Z",
          "creationTime": "2022-07-19T08:33:55.4891297Z",
          "provisioningState": "Succeeded",
          "provisioningStateTransitionTime": "2022-07-19T08:33:55.4891297Z",
          "allocationState": "Resizing",
          "allocationStateTransitionTime": "2022-07-19T08:34:01.8912159Z",
          "vmSize": "STANDARD_D4",
          "interNodeCommunication": "Disabled",
          "taskSlotsPerNode": 1,
          "taskSchedulingPolicy": {
            "nodeFillType": "Spread"
          },
          "deploymentConfiguration": {
            "cloudServiceConfiguration": {
              "osFamily": "5",
              "osVersion": "*"
            }
          },
          "scaleSettings": {
            "fixedScale": {
              "targetDedicatedNodes": 0,
              "targetLowPriorityNodes": 0,
              "resizeTimeout": "PT15M"
            }
          },
          "currentDedicatedNodes": 0,
          "currentLowPriorityNodes": 0
        }
      }
    }
  ],
  "Variables": {}
}
