{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Batch/batchAccounts/myaccountxxx/regenerateKeys?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyName": "Primary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "accountName": "myaccountxxx",
        "primary": "ULfOt9PXTjTEfi31Lbf6XBBzMwobCOPxZy\u002B5159wSs2AANh4Jn9eb/FnhybKZpie\u002BtzCHYVBOKBX\u002BABaZSYh0w==",
        "secondary": "90xDAvW/I8OzLIvottizr\u002BR/zKdKpFq89i5p4VTwXroFjBGY05p9x14/3Bq/UGBYuzjKyLnr0niG\u002BABaLoQInw=="
      }
    }
  ],
  "Variables": {}
}
