# The name of the key vault to use in the sample.
# Create a Key Vault in the Azure Portal and enter it here (e.g. mytest) here.
AZURE_KEYVAULT_NAME=""

# Used to authenticate using Azure AD as a service principal for role-based authentication.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential

# appId from the Service Principal registration
AZURE_CLIENT_ID=""

# password from the Service Principal registration
AZURE_CLIENT_SECRET=""

# tenant from the Service Principal registration
AZURE_TENANT_ID=""
