# Used in most samples. Retrieve these values from a Communication Services instance
# in the Azure Portal.
COMMUNICATION_SAMPLES_CONNECTION_STRING="endpoint=https://<resource name>.communication.azure.net/;accessKey=<key>"

# The phone number used to send SMS messages
FROM_PHONE_NUMBER="+16135550147"

# Comma separated list of phone numbers to receive SMS messages
TO_PHONE_NUMBERS="+16135550147,+16135550147"