{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/workspace-id/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print \u0022hello\u0022, true, make_datetime(\u00222000-01-02 03:04:05Z\u0022), toint(100), long(101), 102.1, dynamic({ \u0022hello\u0022: \u0022world\u0022 })\n      | project \n          stringcolumn=print_0, \n          boolcolumn=print_1,\n          datecolumn=print_2,\n          intcolumn=print_3,\n          longcolumn=print_4,\n          realcolumn=print_5,\n          dynamiccolumn=print_6\n      ",
        "timespan": "PT5M"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "stringcolumn",
                "type": "string"
              },
              {
                "name": "boolcolumn",
                "type": "bool"
              },
              {
                "name": "datecolumn",
                "type": "datetime"
              },
              {
                "name": "intcolumn",
                "type": "int"
              },
              {
                "name": "longcolumn",
                "type": "long"
              },
              {
                "name": "realcolumn",
                "type": "real"
              },
              {
                "name": "dynamiccolumn",
                "type": "dynamic"
              }
            ],
            "rows": [
              [
                "hello",
                true,
                "2000-01-02T03:04:05Z",
                100,
                101,
                102.1,
                "{\u0022hello\u0022:\u0022world\u0022}"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
