{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1metrics-arm-resource-id/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "resource | summarize count()",
        "timespan": "P1D"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "message": "The request had some invalid properties",
          "code": "BadArgumentError",
          "correlationId": "cff9a38d-6bdd-4e8b-9daf-35fa1fe5ea55",
          "innererror": {
            "code": "SemanticError",
            "message": "A semantic error occurred.",
            "innererror": {
              "code": "SEM0100",
              "message": "\u0027summarize\u0027 operator: Failed to resolve table or column expression named \u0027resource\u0027"
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
