{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/workspaces/workspace-id/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "include-render=true"
      },
      "RequestBody": {
        "query": "datatable (s: string, i: long) [ \"a\", 1, \"b\", 2, \"c\", 3 ] | render columnchart with (title=\"the chart title\", xtitle=\"the x axis title\")",
        "timespan": "PT24H"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "Sanitized",
            "columns": [
              {
                "name": "Sanitized",
                "type": "string"
              },
              {
                "name": "Sanitized",
                "type": "long"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                2
              ],
              [
                "c",
                3
              ]
            ]
          }
        ],
        "render": {
          "visualization": "columnchart",
          "title": "the chart title",
          "accumulate": false,
          "isQuerySorted": false,
          "kind": null,
          "legend": null,
          "series": null,
          "yMin": "NaN",
          "yMax": "NaN",
          "xAxis": null,
          "xColumn": null,
          "xTitle": "the x axis title",
          "yAxis": null,
          "yColumns": null,
          "ySplit": null,
          "yTitle": null,
          "anomalyColumns": null
        }
      }
    }
  ],
  "Variables": {}
}
