{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1metrics-arm-resource-id/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "resource | summarize count()",
        "timespan": "P1D"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "message": "The request had some invalid properties",
          "code": "BadArgumentError",
          "correlationId": "70b4754e-7abc-47e5-a14a-a330bd12ee11",
          "innererror": {
            "code": "SemanticError",
            "message": "A semantic error occurred.",
            "innererror": {
              "code": "SEM0100",
              "message": "'summarize' operator: Failed to resolve table or column expression named 'resource'"
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
