{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/workspaces/workspace-id/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "completely invalid syntax",
        "timespan": "P1D"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "message": "The request had some invalid properties",
          "code": "BadArgumentError",
          "correlationId": "65f20357-3179-4b7a-9d13-aec8f5362f37",
          "innererror": {
            "code": "SyntaxError",
            "message": "A recognition error occurred in the query.",
            "innererror": {
              "code": "SYN0002",
              "message": "Query could not be parsed at 'invalid' on line [1,12]",
              "line": 1,
              "pos": 12,
              "token": "Sanitized"
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
