{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Orbital/spacecrafts?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "location": "westus2",
            "tags": null,
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Orbital/spacecrafts/resourcetest1",
            "name": "resourcetest1",
            "type": "Microsoft.Orbital/spacecrafts",
            "properties": {
              "provisioningState": "succeeded",
              "noradId": "",
              "titleLine": "CONTOSO_SAT",
              "tleLine1": "1 27424U 02022A   22167.05119303  .00000638  00000\u002B0  15103-3 0  9994",
              "tleLine2": "2 27424  98.2477 108.9546 0000928  92.9194 327.0802 14.57300770 69982",
              "links": [
                {
                  "name": "uplink_lhcp1",
                  "centerFrequencyMHz": 2250.0,
                  "bandwidthMHz": 2.0,
                  "direction": "Uplink",
                  "polarization": "LHCP",
                  "authorizations": []
                },
                {
                  "name": "downlink_rhcp1",
                  "centerFrequencyMHz": 8160.0,
                  "bandwidthMHz": 15.0,
                  "direction": "Downlink",
                  "polarization": "RHCP",
                  "authorizations": []
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
