{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Orbital/contactProfiles/resourcetest?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "location": "westus2",
        "tags": null,
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Orbital/contactProfiles/resourcetest",
        "name": "resourcetest",
        "type": "Microsoft.Orbital/contactProfiles",
        "properties": {
          "thirdPartyConfigurations": null,
          "provisioningState": "succeeded",
          "minimumViableContactDuration": "PT0S",
          "minimumElevationDegrees": 0.0,
          "autoTrackingConfiguration": "disabled",
          "eventHubUri": null,
          "networkConfiguration": {
            "subnetId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/myvirtualnetwork/subnets/testsubnets"
          },
          "links": [
            {
              "name": "contoso-uplink",
              "polarization": "LHCP",
              "direction": "Uplink",
              "gainOverTemperature": 0.0,
              "eirpdBW": 45.0,
              "channels": [
                {
                  "name": "contoso-uplink-channel",
                  "centerFrequencyMHz": 2250.0,
                  "bandwidthMHz": 2.0,
                  "endPoint": {
                    "ipAddress": "10.1.0.4",
                    "endPointName": "ContosoTest_Uplink",
                    "port": "50000",
                    "protocol": "TCP"
                  },
                  "modulationConfiguration": null,
                  "demodulationConfiguration": null,
                  "encodingConfiguration": null,
                  "decodingConfiguration": null
                }
              ]
            },
            {
              "name": "contoso-downlink",
              "polarization": "RHCP",
              "direction": "Downlink",
              "gainOverTemperature": 25.0,
              "eirpdBW": 0.0,
              "channels": [
                {
                  "name": "contoso-downlink-channel",
                  "centerFrequencyMHz": 8160.0,
                  "bandwidthMHz": 15.0,
                  "endPoint": {
                    "ipAddress": "10.1.0.5",
                    "endPointName": "ContosoTest_Downlink",
                    "port": "50001",
                    "protocol": "UDP"
                  },
                  "modulationConfiguration": null,
                  "demodulationConfiguration": null,
                  "encodingConfiguration": null,
                  "decodingConfiguration": null
                }
              ]
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
