# Used in most samples
EVENTHUB_CONNECTION_STRING=<connection string WITHOUT an EntityPath>
EVENTHUB_NAME=<name of a single eventhub>
EVENTHUB_FQDN=<your-eventhubs-namespace>.servicebus.windows.net
CONSUMER_GROUP_NAME=<name of a consumer group>

# Used in the receiveEventsUsingCheckpointStore.ts sample
STORAGE_CONTAINER_NAME=<storage account connection string for checkpoints>

# Used in the useWithIotHub.ts sample
IOTHUB_CONNECTION_STRING=<connection string with EntityPath>

# Used in the usingAadAuth.ts sample
#  Setup :
#    Please ensure that your Azure Event Hubs resource is in US East, US East 2, or West Europe
#    region. AAD Role Based Access Control is not supported in other regions yet.
#   Register a new application in AAD and assign the "Azure Event Hubs Data Owner" role to it
#    - See https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app
#      to register a new application in the Azure Active Directory.
#    - Note down the CLIENT_ID and TENANT_ID from the above step.
#    - In the "Certificates & Secrets" tab, create a secret and note that down.
#    - In the Azure portal, go to your Even Hubs resource and click on the Access control (IAM)
#      tab. Here, assign the "Azure Event Hubs Data Owner" role to the registered application.
#    - For more information on Event Hubs RBAC setup, learn more at 
#     https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-role-based-access-control)
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=
