{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830662949801943?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB2012187BD7C4\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:17:09 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830662949801943/file0167830662958901048?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB2012188C3966\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:17:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830662949801943/file0167830662958901048?",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-deletion-id": "133227802298983493",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830662949801943?restype=container\u0026comp=list\u0026showonly=deleted\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.blob.core.windows.net/\u0022 ContainerName=\u0022filesystem167830662949801943\u0022\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Efile0167830662958901048\u003C/Name\u003E\u003CDeletionId\u003E133227802298983493\u003C/DeletionId\u003E\u003CDeleted\u003Etru[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830662949801943?resource=filesystem\u0026recursive=false\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133227802300337183",
            "etag": "0x8DB201218C84C1F",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 08 Mar 2023 20:17:10 GMT",
            "name": "file0167830662958901048",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133227802302643756",
            "etag": "0x8DB201218EB7E2C",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 08 Mar 2023 20:17:10 GMT",
            "name": "file1167830662967802661",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133227802305123414",
            "etag": "0x8DB201219115456",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 08 Mar 2023 20:17:10 GMT",
            "name": "file2167830662976105358",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830662949801943?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0167830662958901048",
    "file1": "file1167830662967802661",
    "file2": "file2167830662976105358",
    "filesystem": "filesystem167830662949801943"
  }
}
