# Azure Load Testing

# The dataplane endpoint for the Azure Load Testing resource.
LOADTESTSERVICE_ENDPOINT=

# Test ID of load test
LOADTESTSERVICE_TESTID=

# Test Run ID of a test run
LOADTESTSERVICE_TESTRUNID=

# Azure Subscription ID 
SUBSCRIPTION_ID=

# Azure Monitor Action Group resource ID
LOADTESTSERVICE_ACTION_GROUP_ID=
