"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.StorageTaskAssignmentInstancesReportImpl = void 0;
const tslib_1 = require("tslib");
const pagingHelper_js_1 = require("../pagingHelper.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
/// <reference lib="esnext.asynciterable" />
/** Class containing StorageTaskAssignmentInstancesReport operations. */
class StorageTaskAssignmentInstancesReportImpl {
    /**
     * Initialize a new instance of the class StorageTaskAssignmentInstancesReport class.
     * @param client Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Fetch the report summary of a single storage task assignment's instances
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param accountName The name of the storage account within the specified resource group. Storage
     *                    account names must be between 3 and 24 characters in length and use numbers and lower-case letters
     *                    only.
     * @param storageTaskAssignmentName The name of the storage task assignment within the specified
     *                                  resource group. Storage task assignment names must be between 3 and 24 characters in length and use
     *                                  numbers and lower-case letters only.
     * @param options The options parameters.
     */
    list(resourceGroupName, accountName, storageTaskAssignmentName, options) {
        const iter = this.listPagingAll(resourceGroupName, accountName, storageTaskAssignmentName, options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.listPagingPage(resourceGroupName, accountName, storageTaskAssignmentName, options, settings);
            },
        };
    }
    listPagingPage(resourceGroupName, accountName, storageTaskAssignmentName, options, settings) {
        return tslib_1.__asyncGenerator(this, arguments, function* listPagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield tslib_1.__await(this._list(resourceGroupName, accountName, storageTaskAssignmentName, options));
                let page = result.value || [];
                continuationToken = result.nextLink;
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
            while (continuationToken) {
                result = yield tslib_1.__await(this._listNext(resourceGroupName, accountName, storageTaskAssignmentName, continuationToken, options));
                continuationToken = result.nextLink;
                let page = result.value || [];
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
        });
    }
    listPagingAll(resourceGroupName, accountName, storageTaskAssignmentName, options) {
        return tslib_1.__asyncGenerator(this, arguments, function* listPagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = tslib_1.__asyncValues(this.listPagingPage(resourceGroupName, accountName, storageTaskAssignmentName, options)), _f; _f = yield tslib_1.__await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield tslib_1.__await(yield* tslib_1.__asyncDelegator(tslib_1.__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield tslib_1.__await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Fetch the report summary of a single storage task assignment's instances
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param accountName The name of the storage account within the specified resource group. Storage
     *                    account names must be between 3 and 24 characters in length and use numbers and lower-case letters
     *                    only.
     * @param storageTaskAssignmentName The name of the storage task assignment within the specified
     *                                  resource group. Storage task assignment names must be between 3 and 24 characters in length and use
     *                                  numbers and lower-case letters only.
     * @param options The options parameters.
     */
    _list(resourceGroupName, accountName, storageTaskAssignmentName, options) {
        return this.client.sendOperationRequest({ resourceGroupName, accountName, storageTaskAssignmentName, options }, listOperationSpec);
    }
    /**
     * ListNext
     * @param resourceGroupName The name of the resource group. The name is case insensitive.
     * @param accountName The name of the storage account within the specified resource group. Storage
     *                    account names must be between 3 and 24 characters in length and use numbers and lower-case letters
     *                    only.
     * @param storageTaskAssignmentName The name of the storage task assignment within the specified
     *                                  resource group. Storage task assignment names must be between 3 and 24 characters in length and use
     *                                  numbers and lower-case letters only.
     * @param nextLink The nextLink from the previous successful call to the List method.
     * @param options The options parameters.
     */
    _listNext(resourceGroupName, accountName, storageTaskAssignmentName, nextLink, options) {
        return this.client.sendOperationRequest({
            resourceGroupName,
            accountName,
            storageTaskAssignmentName,
            nextLink,
            options,
        }, listNextOperationSpec);
    }
}
exports.StorageTaskAssignmentInstancesReportImpl = StorageTaskAssignmentInstancesReportImpl;
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const listOperationSpec = {
    path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}/reports",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.StorageTaskReportSummary,
        },
        default: {
            bodyMapper: Mappers.ErrorResponseAutoGenerated,
        },
    },
    queryParameters: [
        Parameters.apiVersion,
        Parameters.filter,
        Parameters.maxpagesize1,
    ],
    urlParameters: [
        Parameters.$host,
        Parameters.resourceGroupName,
        Parameters.accountName,
        Parameters.subscriptionId,
        Parameters.storageTaskAssignmentName,
    ],
    headerParameters: [Parameters.accept],
    serializer,
};
const listNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.StorageTaskReportSummary,
        },
        default: {
            bodyMapper: Mappers.ErrorResponseAutoGenerated,
        },
    },
    urlParameters: [
        Parameters.$host,
        Parameters.resourceGroupName,
        Parameters.accountName,
        Parameters.subscriptionId,
        Parameters.nextLink,
        Parameters.storageTaskAssignmentName,
    ],
    headerParameters: [Parameters.accept],
    serializer,
};
//# sourceMappingURL=storageTaskAssignmentInstancesReport.js.map