{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520855026800799?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4D15D0802\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:42:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520855026800799?restype=container\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4D15D0802\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:42:30 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520855026800799?restype=container\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4D15D0802\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:42:30 GMT",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520855026800799?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container167520855026800799"
  }
}
