{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/receivedShares/206016dd-fd49-420c-9545-9663badda4e3?api-version=2023-05-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://accountname.purview.azure.com/share/operationResults/30575fdf-511b-423a-af84-33b65ebfb864?api-version=2023-05-30-preview",
        "Operation-Location": "https://accountname.purview.azure.com/share/operationResults/30575fdf-511b-423a-af84-33b65ebfb864?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "id": "30575fdf-511b-423a-af84-33b65ebfb864",
        "startTime": "2023-06-02T16:00:19.9088585Z",
        "endTime": null,
        "status": "NotStarted",
        "error": null
      }
    },
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/30575fdf-511b-423a-af84-33b65ebfb864?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "30575fdf-511b-423a-af84-33b65ebfb864",
        "startTime": "2023-06-02T16:00:19.8109193Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/30575fdf-511b-423a-af84-33b65ebfb864?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "30575fdf-511b-423a-af84-33b65ebfb864",
        "startTime": "2023-06-02T16:00:19.8109193Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {}
}
