{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/receivedShares/206016dd-fd49-420c-9545-9663badda4e3?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "assetStoreKind": "AdlsGen2Account",
          "displayName": "JS-SDK-Received-Share",
          "sink": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
              "type": "ArmResourceReference"
            },
            "properties": {
              "containerName": "targetcontainer",
              "folder": "receivedData",
              "mountPath": ""
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/receivedShares/206016dd-fd49-420c-9545-9663badda4e3/206016dd-fd49-420c-9545-9663badda4e3",
        "Operation-Id": "https://accountname.purview.azure.com/share/operationResults/aa7a5470-7d36-409d-9e38-df4b898d25d0?api-version=2023-05-30-preview",
        "Operation-Location": "https://accountname.purview.azure.com/share/operationResults/aa7a5470-7d36-409d-9e38-df4b898d25d0?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-06-02T15:32:52.2357736Z",
          "sharedAt": "2023-06-02T15:32:52.2357736Z",
          "expirationDate": "2023-12-31T23:59:59Z",
          "displayName": "JS-SDK-Received-Share",
          "state": "Creating",
          "shareStatus": "Attached",
          "sentShareDescription": "Sent share updated by and for JS SDK tests.",
          "receiverName": "testDataBricks",
          "receiverTenantName": "Microsoft",
          "senderName": "testDataBricks",
          "senderTenantName": "Microsoft",
          "assetLocation": "southafricanorth",
          "assetStoreKind": "AdlsGen2Account",
          "sink": {
            "properties": {
              "containerName": "targetcontainer",
              "folder": "receivedData",
              "mountPath": "",
              "location": "southafricanorth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
              "type": "ArmResourceReference"
            }
          }
        },
        "shareKind": "InPlace",
        "id": "206016dd-fd49-420c-9545-9663badda4e3",
        "type": "ReceivedShare"
      }
    },
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/aa7a5470-7d36-409d-9e38-df4b898d25d0?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "aa7a5470-7d36-409d-9e38-df4b898d25d0",
        "startTime": "2023-06-02T15:53:48.180963Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
