{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/receivedShares/detached?filter=properties%2FStoreKind\u002Beq\u002B%27AdlsGen2Account%27\u0026api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "createdAt": "2023-06-02T15:32:52.2357736Z",
              "sharedAt": "2023-06-02T15:32:52.2357736Z",
              "expirationDate": "2023-12-31T23:59:59Z",
              "displayName": "JS-SDK-Received-Share",
              "state": "Succeeded",
              "shareStatus": "Detached",
              "sentShareDescription": "Sent share updated by and for JS SDK tests.",
              "senderName": "testDataBricks",
              "senderTenantName": "Microsoft",
              "assetLocation": "southafricanorth",
              "assetStoreKind": "AdlsGen2Account"
            },
            "shareKind": "InPlace",
            "id": "206016dd-fd49-420c-9545-9663badda4e3",
            "type": "ReceivedShare"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
