{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/receivedShares/530232e8-0fc5-4138-8e39-f856b42773b7?api-version=2023-02-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "assetStoreKind": "AdlsGen2Account",
          "displayName": "JS-SDK-Received-Share",
          "sink": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
              "type": "ArmResourceReference"
            },
            "properties": {
              "containerName": "targetcontainer",
              "folder": "receivedData",
              "mountPath": ""
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/receivedShares/530232e8-0fc5-4138-8e39-f856b42773b7/530232e8-0fc5-4138-8e39-f856b42773b7",
        "Operation-Id": "https://accountname.purview.azure.com/share/operationResults/607546e1-f894-41c0-8091-d6175e069146?api-version=2023-02-15-preview",
        "Operation-Location": "https://accountname.purview.azure.com/share/operationResults/607546e1-f894-41c0-8091-d6175e069146?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-02-23T02:07:18.9094162Z",
          "sharedAt": "2023-02-23T02:07:18.9094162Z",
          "expirationDate": "2023-03-02T02:06:29.606Z",
          "displayName": "JS-SDK-Received-Share",
          "state": "Creating",
          "shareStatus": "Attached",
          "sentShareDescription": "Sent share created by and for JS SDK tests.",
          "receiverName": "Sharing-Test-App",
          "receiverTenantName": "Contoso Marketplace",
          "senderName": "Sharing-Test-App",
          "senderTenantName": "Fabrikam Solutions",
          "assetLocation": "uksouth",
          "assetStoreKind": "AdlsGen2Account",
          "sink": {
            "properties": {
              "containerName": "targetcontainer",
              "folder": "receivedData",
              "mountPath": "",
              "location": "uksouth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
              "type": "ArmResourceReference"
            }
          }
        },
        "shareKind": "InPlace",
        "id": "530232e8-0fc5-4138-8e39-f856b42773b7",
        "type": "ReceivedShare"
      }
    },
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/607546e1-f894-41c0-8091-d6175e069146?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "607546e1-f894-41c0-8091-d6175e069146",
        "startTime": "2023-02-23T02:08:18.6607736Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
