{
  "Entries": [
    {
      "RequestUri": "https://nostojic-acs-sdk-tests.unitedstates.communication.azure.com/sip:verifyDomainOwnership?api-version=2022-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "As9oyT9Sj7RyTSTbrToUOwXWvHfL1VNSzfo6T\u002BCTbc0="
      },
      "RequestBody": {
        "domain": "",
        "challengeType": "TXT"
      },
      "StatusCode": 422,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-CV": "Pc2KXPTR\u002B0yP0OCAldPPMA.0",
        "X-Processing-Time": "8ms"
      },
      "ResponseBody": {
        "error": {
          "code": "UnprocessableConfiguration",
          "message": "One or more request inputs are not valid.",
          "innererror": {
            "code": "InvalidDomain",
            "message": "Domain \u0027\u0027 is not properly formatted domnain name."
          }
        }
      }
    }
  ],
  "Variables": {}
}
