{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "virtualnetworkzzz",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz",
            "etag": "W/\u0022ba526257-5fe3-4c30-bf63-2c0ebbd90d11\u0022",
            "type": "Microsoft.Network/virtualNetworks",
            "location": "eastus",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "c62ed6bf-0bd6-488a-9088-70c066fb9b82",
              "addressSpace": {
                "addressPrefixes": [
                  "10.0.0.0/16"
                ]
              },
              "subnets": [
                {
                  "name": "subnetzzz",
                  "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz/subnets/subnetzzz",
                  "etag": "W/\u0022ba526257-5fe3-4c30-bf63-2c0ebbd90d11\u0022",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "addressPrefix": "10.0.0.0/24",
                    "delegations": [],
                    "privateEndpointNetworkPolicies": "Disabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  },
                  "type": "Microsoft.Network/virtualNetworks/subnets"
                }
              ],
              "virtualNetworkPeerings": [],
              "enableDdosProtection": false
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
