/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Diagnostics } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HelpRP } from "../helpRP";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  DiagnosticsCheckNameAvailabilityOptionalParams,
  DiagnosticsCheckNameAvailabilityResponse,
  DiagnosticsCreateOptionalParams,
  DiagnosticsCreateResponse,
  DiagnosticsGetOptionalParams,
  DiagnosticsGetResponse
} from "../models";

/** Class containing Diagnostics operations. */
export class DiagnosticsImpl implements Diagnostics {
  private readonly client: HelpRP;

  /**
   * Initialize a new instance of the class Diagnostics class.
   * @param client Reference to the service client
   */
  constructor(client: HelpRP) {
    this.client = client;
  }

  /**
   * This API is used to check the uniqueness of a resource name used for a diagnostic check.
   * @param options The options parameters.
   */
  checkNameAvailability(
    options?: DiagnosticsCheckNameAvailabilityOptionalParams
  ): Promise<DiagnosticsCheckNameAvailabilityResponse> {
    return this.client.sendOperationRequest(
      { options },
      checkNameAvailabilityOperationSpec
    );
  }

  /**
   * <p><b>Overview:</b></p><p>Azure Help API programmatically helps you troubleshoot Azure issues and
   * provides access to rich and powerful self-help solutions and diagnostics. Using the API, you can
   * perform the following operations: <table><tr><td>Solution Discovery</td><td>Lists the diagnostics
   * for an Azure issue based on the prerequisites.</td></tr><tr><td>Diagnostics</td><td>Create and Get
   * diagnostics for issues with Azure resources based on prerequisites (see
   * below).</td></tr></table></p><p><b>Prerequisites for Diagnostics:</b> <br/> <br/> The diagnostics
   * API is called after solutions discovery and returns diagnostic info for your Azure issue. <br/>
   * <br/>You must have <a
   * href="https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader">reader
   * access role </a> at the resource level to create diagnostics. <br/> <br/> 'RequiredParameterSets'
   * from Discovery Solutions API response has to be passed via
   * 'properties.insights.additionalParameters' as a key-value pairs to Diagnostics Api.
   * @param options The options parameters.
   */
  async beginCreate(
    options?: DiagnosticsCreateOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<DiagnosticsCreateResponse>,
      DiagnosticsCreateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<DiagnosticsCreateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { options },
      spec: createOperationSpec
    });
    const poller = await createHttpPoller<
      DiagnosticsCreateResponse,
      OperationState<DiagnosticsCreateResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "azure-async-operation"
    });
    await poller.poll();
    return poller;
  }

  /**
   * <p><b>Overview:</b></p><p>Azure Help API programmatically helps you troubleshoot Azure issues and
   * provides access to rich and powerful self-help solutions and diagnostics. Using the API, you can
   * perform the following operations: <table><tr><td>Solution Discovery</td><td>Lists the diagnostics
   * for an Azure issue based on the prerequisites.</td></tr><tr><td>Diagnostics</td><td>Create and Get
   * diagnostics for issues with Azure resources based on prerequisites (see
   * below).</td></tr></table></p><p><b>Prerequisites for Diagnostics:</b> <br/> <br/> The diagnostics
   * API is called after solutions discovery and returns diagnostic info for your Azure issue. <br/>
   * <br/>You must have <a
   * href="https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader">reader
   * access role </a> at the resource level to create diagnostics. <br/> <br/> 'RequiredParameterSets'
   * from Discovery Solutions API response has to be passed via
   * 'properties.insights.additionalParameters' as a key-value pairs to Diagnostics Api.
   * @param options The options parameters.
   */
  async beginCreateAndWait(
    options?: DiagnosticsCreateOptionalParams
  ): Promise<DiagnosticsCreateResponse> {
    const poller = await this.beginCreate(options);
    return poller.pollUntilDone();
  }

  /**
   * <p><b>Overview:</b></p><p>Azure Help API programmatically helps you troubleshoot Azure issues and
   * provides access to rich and powerful self-help solutions and diagnostics. Using the API, you can
   * perform the following operations: <table><tr><td>Solution Discovery</td><td>Lists the diagnostics
   * for an Azure issue based on the prerequisites.</td></tr><tr><td>Diagnostics</td><td>Create and Get
   * diagnostics for issues with Azure resources based on prerequisites (see
   * below).</td></tr></table></p><p><b>Prerequisites for Diagnostics:</b> <br/> <br/> The diagnostics
   * API is called after solutions discovery and returns diagnostic info for your Azure issue. <br/>
   * <br/>You must have <a
   * href="https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader">reader
   * access role </a> at the resource level to get the diagnostics. <br/> <br/> 'RequiredParameterSets'
   * from Discovery Solutions API response has to be passed via
   * 'properties.insights.additionalParameters' as a key-value pairs to Diagnostics Api.
   * @param options The options parameters.
   */
  get(options?: DiagnosticsGetOptionalParams): Promise<DiagnosticsGetResponse> {
    return this.client.sendOperationRequest({ options }, getOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const checkNameAvailabilityOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.Help/checkNameAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckNameAvailabilityResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.checkNameAvailabilityRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Help/diagnostics/{diagnosticsResourceName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.DiagnosticResource
    },
    201: {
      bodyMapper: Mappers.DiagnosticResource
    },
    202: {
      bodyMapper: Mappers.DiagnosticResource
    },
    204: {
      bodyMapper: Mappers.DiagnosticResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.diagnosticResourceRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.diagnosticsResourceName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Help/diagnostics/{diagnosticsResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DiagnosticResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.diagnosticsResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
