/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { DiscoverySolution } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HelpRP } from "../helpRP";
import {
  SolutionMetadata,
  DiscoverySolutionListNextOptionalParams,
  DiscoverySolutionListOptionalParams,
  DiscoverySolutionListResponse,
  DiscoverySolutionListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing DiscoverySolution operations. */
export class DiscoverySolutionImpl implements DiscoverySolution {
  private readonly client: HelpRP;

  /**
   * Initialize a new instance of the class DiscoverySolution class.
   * @param client Reference to the service client
   */
  constructor(client: HelpRP) {
    this.client = client;
  }

  /**
   * <p><b>Overview:</b></p><p>Azure Help API programmatically helps you troubleshoot Azure issues and
   * provides access to rich and powerful self-help solutions and diagnostics. Using the API, you can
   * perform the following operations: <table><tr><td>Solution Discovery</td><td>Lists the diagnostics
   * for an Azure issue based on the prerequisites (see
   * below).</td></tr><tr><td>Diagnostics</td><td>Create and Get diagnostics for issues with Azure
   * resources.</td></tr></table></p><p><b>Prerequisites for solution discovery:</b><br/> <br/>You can
   * call the API to discover solutions with the following inputs: <br/> i. Required inputs: resourceUri.
   * <br/>ii. Optional input: problemClassificationId. <br/> <br/> This API enables discovery of
   * diagnostics for a defined list of Azure support issues, and is not supported for all
   * ProblemClassificationId(s) at the moment. For ProblemClassificationId(s) that are not supported, the
   * API response will not return any diagnostics. You can use ProblemClassifications API to get the
   * problem categories and ProblemClassificationId(s) <a
   * href="https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-turn-on-antimalware-in-my-virtual-machine-scale-set">reference.</a>
   * <br/> <br/>You must have <a
   * href="https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader">reader
   * access role </a> at the resource level to get the solutions.<br/><br/><b>Note:</b>
   * 'RequiredParameterSets' from Discovery Solutions API response has to be passed via
   * 'properties.insights.additionalParameters' as an input to Diagnostics API.</p>
   * @param options The options parameters.
   */
  public list(
    options?: DiscoverySolutionListOptionalParams
  ): PagedAsyncIterableIterator<SolutionMetadata> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      }
    };
  }

  private async *listPagingPage(
    options?: DiscoverySolutionListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<SolutionMetadata[]> {
    let result: DiscoverySolutionListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: DiscoverySolutionListOptionalParams
  ): AsyncIterableIterator<SolutionMetadata> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * <p><b>Overview:</b></p><p>Azure Help API programmatically helps you troubleshoot Azure issues and
   * provides access to rich and powerful self-help solutions and diagnostics. Using the API, you can
   * perform the following operations: <table><tr><td>Solution Discovery</td><td>Lists the diagnostics
   * for an Azure issue based on the prerequisites (see
   * below).</td></tr><tr><td>Diagnostics</td><td>Create and Get diagnostics for issues with Azure
   * resources.</td></tr></table></p><p><b>Prerequisites for solution discovery:</b><br/> <br/>You can
   * call the API to discover solutions with the following inputs: <br/> i. Required inputs: resourceUri.
   * <br/>ii. Optional input: problemClassificationId. <br/> <br/> This API enables discovery of
   * diagnostics for a defined list of Azure support issues, and is not supported for all
   * ProblemClassificationId(s) at the moment. For ProblemClassificationId(s) that are not supported, the
   * API response will not return any diagnostics. You can use ProblemClassifications API to get the
   * problem categories and ProblemClassificationId(s) <a
   * href="https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#how-do-i-turn-on-antimalware-in-my-virtual-machine-scale-set">reference.</a>
   * <br/> <br/>You must have <a
   * href="https://learn.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader">reader
   * access role </a> at the resource level to get the solutions.<br/><br/><b>Note:</b>
   * 'RequiredParameterSets' from Discovery Solutions API response has to be passed via
   * 'properties.insights.additionalParameters' as an input to Diagnostics API.</p>
   * @param options The options parameters.
   */
  private _list(
    options?: DiscoverySolutionListOptionalParams
  ): Promise<DiscoverySolutionListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: DiscoverySolutionListNextOptionalParams
  ): Promise<DiscoverySolutionListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.Help/discoverySolutions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DiscoveryResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.skiptoken
  ],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DiscoveryResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [Parameters.$host, Parameters.nextLink, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
