{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Discovery/operations?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Discovery/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Discovery",
              "resource": "Microsoft.Discovery",
              "operation": "Register the Microsoft.Discovery",
              "description": "Register the subscription for Microsoft.Discovery"
            },
            "properties": null
          },
          {
            "name": "Microsoft.Discovery/unregister/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Discovery",
              "resource": "Microsoft.Discovery",
              "operation": "Unregister the Microsoft.Discovery",
              "description": "Unregister the subscription for Microsoft.Discovery"
            },
            "properties": null
          },
          {
            "name": "Microsoft.[...]
