{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode()?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026$filter=PartitionKey eq %27listEntitiesTest%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!24!bGlzdEVudGl0aWVzVGVzdA--",
        "x-ms-continuation-NextRowKey": "1!4!MTM-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A35.6359468Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "0",
            "Timestamp": "2022-02-01T20:52:35.6359468Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A35.7059065Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "1",
            "Timestamp": "2022-02-01T20:52:35.7059065Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A36.3635244Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "10",
            "Timestamp": "2022-02-01T20:52:36.3635244Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A36.4324845Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "11",
            "Timestamp": "2022-02-01T20:52:36.4324845Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A36.5004451Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "12",
            "Timestamp": "2022-02-01T20:52:36.5004451Z",
            "foo": "testEntity"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode()?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026$filter=PartitionKey eq %27listEntitiesTest%27\u0026NextPartitionKey=1!24!bGlzdEVudGl0aWVzVGVzdA--\u0026NextRowKey=1!12!YmluYXJ5MQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A35.5679858Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "binary1",
            "Timestamp": "2022-02-01T20:52:35.5679858Z",
            "foo@odata.type": "Edm.Binary",
            "foo": "QmFy"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
