{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode()?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$filter=foo eq %27testEntity%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A35.6359468Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "0",
            "Timestamp": "2022-02-01T20:52:35.6359468Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A35.7059065Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "1",
            "Timestamp": "2022-02-01T20:52:35.7059065Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-01T20%3A52%3A36.3635244Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "10",
    [...]
