{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "p1",
        "RowKey": "r1",
        "date": "2019-07-10T18:59:59.999Z",
        "date@odata.type": "Edm.DateTime"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)",
        "ETag": "W/\u0022datetime\u00272022-09-06T18%3A24%3A19.0162561Z\u0027\u0022",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode()?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$filter=date%20lt%20datetime%272019-07-10T19%3A00%3A00.000Z%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-09-06T18%3A24%3A19.0162561Z\u0027\u0022",
            "PartitionKey": "p1",
            "RowKey": "r1",
            "Timestamp": "2022-09-06T18:24:19.0162561Z",
            "date@odata.type": "Edm.DateTime",
            "date": "2019-07-10T18:59:59.999Z"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
