{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz?api-version=2022-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operations/e4dc5b10-0e27-4dd8-9b95-947528712393?api-version=2022-05-01",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operationResults/e4dc5b10-0e27-4dd8-9b95-947528712393?api-version=2022-05-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operations/e4dc5b10-0e27-4dd8-9b95-947528712393?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/virtualNetworks?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "4306caaa-8760-4f89-9838-c7bdc5e4db8e",
          "7c9c4e73-2290-4479-b754-f47bf54a62ab",
          "55591add-46a5-4a10-9f9b-04796bb3bac2",
          "3acac877-4288-4987-8c40-d246223de5ec"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "virtualnetworkzzz-1003",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz-1003",
            "etag": "W/\u00224083857d-b1c8-43c2-8221-b75459efed89\u0022",
            "type": "Microsoft.Network/virtualNetworks",
            "location": "eastus",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "2e0054d1-7d09-4148-801a-b3a725bb152d",
              "addressSpace": {
                "addressPrefixes": [
                  "10.0.0.0/16"
                ]
              },
              "subnets": [],
              "virtualNetworkPeerings": [],
              "enableDdosProtection": false
            }
          },
          {
            "name": "virtualnetworkzzz-1035",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz-1035",
            "etag": "W/\u00224aa1b36d-6922-47fc-90d8-17d3bda55619\u0022",
            "type": "Microsoft.Network/virtualNetworks",
            "location": "eastus",
            "properties": {
              "provisioningState": "Succeeded",
      [...]
