{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/virtualNetworks?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "networknamexx22",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/virtualNetworks/networknamexx22",
            "etag": "W/\u002209bf24a9-cbce-43b3-8563-9a0925b2a76f\u0022",
            "type": "Microsoft.Network/virtualNetworks",
            "location": "eastus",
            "properties": {
              "provisioningState": "Succeeded",
              "resourceGuid": "bd3b98b2-c595-45fa-9082-9a63f5c2a29b",
              "addressSpace": {
                "addressPrefixes": [
                  "10.0.0.0/16"
                ]
              },
              "subnets": [
                {
                  "name": "subnetnamexx11",
                  "id": "/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/virtualNetworks/networknamexx22/subnets/subnetnamexx11",
                  "etag": "W/\u002209bf24a9-cbce-43b3-8563-9a0925b2a76f\u0022",
                  "properties": {
                    "provisioningState": "Succeeded",
                    "addressPrefix": "10.0.0.0/24",
                    "networkSecurityGroup": {
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/networkSecurityGroups/NRMS-r6bfxtjgahq52networknamexx22"
                    },
                    "delegations": [],
                    "privateEndpointNetworkPolicies": "Disabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  },
                  "type": "Microsoft.Network/virtualNetworks/subnets"
                }
              ],
              "virtualNetworkPeerings": [],
              "enableDdosProtection": false
            }
          },
          {
            "name": "virtualnetworkzzz",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/azure_resource_group/providers/Microsoft.Network/virtualNetworks/virtualnetworkzzz",
            "etag": "W/\u0022132cd587-bc2f-43cb-aabf-89f9f589f7a3\u0022",
            "type": "Microsoft.Network/virtualNetworks",
            "location": "eastus",
            "properties": {
              "provisioningState": "Succeeded",
              "r[...]
