/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { HybridUseBenefitRevision } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SoftwarePlanRP } from "../softwarePlanRP";
import {
  HybridUseBenefitModel,
  HybridUseBenefitRevisionListNextOptionalParams,
  HybridUseBenefitRevisionListOptionalParams,
  HybridUseBenefitRevisionListResponse,
  HybridUseBenefitRevisionListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing HybridUseBenefitRevision operations. */
export class HybridUseBenefitRevisionImpl implements HybridUseBenefitRevision {
  private readonly client: SoftwarePlanRP;

  /**
   * Initialize a new instance of the class HybridUseBenefitRevision class.
   * @param client Reference to the service client
   */
  constructor(client: SoftwarePlanRP) {
    this.client = client;
  }

  /**
   * Gets the version history of a hybrid use benefit
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param planId This is a unique identifier for a plan. Should be a guid.
   * @param options The options parameters.
   */
  public list(
    scope: string,
    planId: string,
    options?: HybridUseBenefitRevisionListOptionalParams
  ): PagedAsyncIterableIterator<HybridUseBenefitModel> {
    const iter = this.listPagingAll(scope, planId, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(scope, planId, options);
      }
    };
  }

  private async *listPagingPage(
    scope: string,
    planId: string,
    options?: HybridUseBenefitRevisionListOptionalParams
  ): AsyncIterableIterator<HybridUseBenefitModel[]> {
    let result = await this._list(scope, planId, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(scope, planId, continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    scope: string,
    planId: string,
    options?: HybridUseBenefitRevisionListOptionalParams
  ): AsyncIterableIterator<HybridUseBenefitModel> {
    for await (const page of this.listPagingPage(scope, planId, options)) {
      yield* page;
    }
  }

  /**
   * Gets the version history of a hybrid use benefit
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param planId This is a unique identifier for a plan. Should be a guid.
   * @param options The options parameters.
   */
  private _list(
    scope: string,
    planId: string,
    options?: HybridUseBenefitRevisionListOptionalParams
  ): Promise<HybridUseBenefitRevisionListResponse> {
    return this.client.sendOperationRequest(
      { scope, planId, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param planId This is a unique identifier for a plan. Should be a guid.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    scope: string,
    planId: string,
    nextLink: string,
    options?: HybridUseBenefitRevisionListNextOptionalParams
  ): Promise<HybridUseBenefitRevisionListNextResponse> {
    return this.client.sendOperationRequest(
      { scope, planId, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}/revisions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HybridUseBenefitListResult
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.planId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HybridUseBenefitListResult
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.planId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
