/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { HybridUseBenefit } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SoftwarePlanRP } from "../softwarePlanRP";
import {
  HybridUseBenefitModel,
  HybridUseBenefitListNextOptionalParams,
  HybridUseBenefitListOptionalParams,
  HybridUseBenefitListResponse,
  HybridUseBenefitCreateOptionalParams,
  HybridUseBenefitCreateResponse,
  HybridUseBenefitUpdateOptionalParams,
  HybridUseBenefitUpdateResponse,
  HybridUseBenefitGetOptionalParams,
  HybridUseBenefitGetResponse,
  HybridUseBenefitDeleteOptionalParams,
  HybridUseBenefitListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing HybridUseBenefit operations. */
export class HybridUseBenefitImpl implements HybridUseBenefit {
  private readonly client: SoftwarePlanRP;

  /**
   * Initialize a new instance of the class HybridUseBenefit class.
   * @param client Reference to the service client
   */
  constructor(client: SoftwarePlanRP) {
    this.client = client;
  }

  /**
   * Get all hybrid use benefits associated with an ARM resource.
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param options The options parameters.
   */
  public list(
    scope: string,
    options?: HybridUseBenefitListOptionalParams
  ): PagedAsyncIterableIterator<HybridUseBenefitModel> {
    const iter = this.listPagingAll(scope, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(scope, options);
      }
    };
  }

  private async *listPagingPage(
    scope: string,
    options?: HybridUseBenefitListOptionalParams
  ): AsyncIterableIterator<HybridUseBenefitModel[]> {
    let result = await this._list(scope, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(scope, continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    scope: string,
    options?: HybridUseBenefitListOptionalParams
  ): AsyncIterableIterator<HybridUseBenefitModel> {
    for await (const page of this.listPagingPage(scope, options)) {
      yield* page;
    }
  }

  /**
   * Get all hybrid use benefits associated with an ARM resource.
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param options The options parameters.
   */
  private _list(
    scope: string,
    options?: HybridUseBenefitListOptionalParams
  ): Promise<HybridUseBenefitListResponse> {
    return this.client.sendOperationRequest(
      { scope, options },
      listOperationSpec
    );
  }

  /**
   * Create a new hybrid use benefit under a given scope
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param planId This is a unique identifier for a plan. Should be a guid.
   * @param body Request body for creating a hybrid use benefit
   * @param options The options parameters.
   */
  create(
    scope: string,
    planId: string,
    body: HybridUseBenefitModel,
    options?: HybridUseBenefitCreateOptionalParams
  ): Promise<HybridUseBenefitCreateResponse> {
    return this.client.sendOperationRequest(
      { scope, planId, body, options },
      createOperationSpec
    );
  }

  /**
   * Updates an existing hybrid use benefit
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param planId This is a unique identifier for a plan. Should be a guid.
   * @param body Request body for creating a hybrid use benefit
   * @param options The options parameters.
   */
  update(
    scope: string,
    planId: string,
    body: HybridUseBenefitModel,
    options?: HybridUseBenefitUpdateOptionalParams
  ): Promise<HybridUseBenefitUpdateResponse> {
    return this.client.sendOperationRequest(
      { scope, planId, body, options },
      updateOperationSpec
    );
  }

  /**
   * Gets a given plan ID
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param planId This is a unique identifier for a plan. Should be a guid.
   * @param options The options parameters.
   */
  get(
    scope: string,
    planId: string,
    options?: HybridUseBenefitGetOptionalParams
  ): Promise<HybridUseBenefitGetResponse> {
    return this.client.sendOperationRequest(
      { scope, planId, options },
      getOperationSpec
    );
  }

  /**
   * Deletes a given plan ID
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param planId This is a unique identifier for a plan. Should be a guid.
   * @param options The options parameters.
   */
  delete(
    scope: string,
    planId: string,
    options?: HybridUseBenefitDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { scope, planId, options },
      deleteOperationSpec
    );
  }

  /**
   * ListNext
   * @param scope The scope at which the operation is performed. This is limited to
   *              Microsoft.Compute/virtualMachines and Microsoft.Compute/hostGroups/hosts for now
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    scope: string,
    nextLink: string,
    options?: HybridUseBenefitListNextOptionalParams
  ): Promise<HybridUseBenefitListNextResponse> {
    return this.client.sendOperationRequest(
      { scope, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HybridUseBenefitListResult
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.HybridUseBenefitModel
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  requestBody: Parameters.body,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.planId],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const updateOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.HybridUseBenefitModel
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  requestBody: Parameters.body,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.planId],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HybridUseBenefitModel
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.planId],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.SoftwarePlan/hybridUseBenefits/{planId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.planId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HybridUseBenefitListResult
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [Parameters.$host, Parameters.scope, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
