{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Features/providers/Microsoft.Compute/features?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "state": "NotRegistered"
            },
            "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Features/providers/Microsoft.Compute/features/SIGEdgeZonePublishingInAllEdgeZone",
            "type": "Microsoft.Features/providers/features",
            "name": "Microsoft.Compute/SIGEdgeZonePublishingInAllEdgeZone"
          },
          {
            "properties": {
              "state": "NotRegistered"
            },
            "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Features/providers/Microsoft.Compute/features/SIGTrustedLaunchVM",
            "type": "Microsoft.Features/providers/features",
            "name": "Microsoft.Compute/SIGTrustedLaunchVM"
          },
          {
            "properties": {
              "state"[...]
