{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751432805825?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B37FA36975\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751432805825/blob167485751439702532",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B37FADC95D\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T22:11:54.4298845Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751432805825/blob167485751439702532?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B37FB82829\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751432805825/copiedblob1167485751453402147",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/container167485751432805825/blob167485751439702532",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-seal-blob": "false",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B37FC2FBFE\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-copy-id": "162e952c-a2e9-46f8-9128-67a9ebaa3beb",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T22:11:54.5698051Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751432805825/copiedblob1167485751453402147",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB00B37FC2FBFE\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-copy-id": "162e952c-a2e9-46f8-9128-67a9ebaa3beb",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-source": "https://fakestorageaccount.blob.core.windows.net/container167485751432805825/blob167485751439702532",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T22:11:54.5698051Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751432805825?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:54 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167485751439702532",
    "container": "container167485751432805825",
    "copiedblob1": "copiedblob1167485751453402147",
    "copiedblob2": "copiedblob2167485751467205252",
    "copiedblob3": "copiedblob3167485751480907065"
  }
}
