{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751129607983?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B37DD4E188\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:11:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751129607983/blob167485751136708299",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:51 GMT",
        "x-ms-meta-key1": "vala",
        "x-ms-meta-key2": "valb",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B37DDF6737\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:11:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T22:11:51.3996087Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751129607983/blob167485751136708299",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "blobContentDisposition",
        "Content-Language": "blobContentLanguage",
        "Content-Type": "blobContentType",
        "ETag": "\u00220x8DB00B37DDF6737\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:11:51 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 27 Jan 2023 22:11:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-key1": "vala",
        "x-ms-meta-key2": "valb",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T22:11:51.3996087Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485751129607983?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:11:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167485751136708299",
    "container": "container167485751129607983"
  }
}
