{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486305403109622?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00C065ABD778\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486305403109622/blob167486305429202425",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DB00C065B6F432\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T23:44:14.3266866Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486305403109622/blob167486305429202425?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "30",
        "x-ms-proposed-lease-id": "be33cabf-36bb-4ab4-aa71-a1ad9536466d",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00C065B6F432\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-lease-id": "be33cabf-36bb-4ab4-aa71-a1ad9536466d",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486305403109622/blob167486305429202425",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-lease-id": "be33cabf-36bb-4ab4-aa71-a1ad9536466d",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB00C065B6F432\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-duration": "fixed",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T23:44:14.3266866Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486305403109622/blob167486305429202425",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-lease-id": "ca761232ed4211cebacd00aa0057b223",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "x-ms-error-code": "LeaseIdMismatchWithBlobOperation",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486305403109622?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:44:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167486305429202425",
    "container": "container167486305403109622",
    "proposedLeaseId": "be33cabf-36bb-4ab4-aa71-a1ad9536466d"
  }
}
