# Used in most samples. 
# The template project is based on the App Configuration SDK.

# Retrieve the following values from an App Configuration instance in the Azure Portal.

APPCONFIG_ENDPOINT="https://<resource name>.azconfig.io",
APPCONFIG_TEST_SETTING_KEY="<key>"
# The APPCONFIG_TEST_SETTING_KEY value indicates which key to use when retrieving an example setting.

# Retrieve the following values from your app registration in the Azure Portal.

AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""
