{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Automation/automationAccounts/myAutomationxxx/runbooks/myRunbookxx?api-version=2018-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "myRunbookxx",
        "location": "eastus2",
        "tags": {
          "tag01": "value01",
          "tag02": "value02"
        },
        "properties": {
          "runbookType": "PowerShellWorkflow",
          "draft": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022638077059664500000\u0022",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Automation/automationAccounts/myAutomationxxx/runbooks/myRunbookxx?api-version=2018-06-30",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Automation/automationAccounts/myAutomationxxx/runbooks/myRunbookxx",
        "name": "myRunbookxx",
        "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
        "location": "East US 2",
        "tags": {
          "tag01": "value01",
          "tag02": "value02"
        },
        "etag": "\u0022638077059664500000\u0022",
        "properties": {
          "description": null,
          "logVerbose": false,
          "logProgress": false,
          "logActivityTrace": 0,
          "runbookType": "PowerShellWorkflow",
          "parameters": {},
          "state": "New",
          "jobCount": 0,
          "provisioningState": "Succeeded",
          "serviceManagementTags": null,
          "outputTypes": [],
          "creationTime": "2022-12-27T02:46:06.45\u002B00:00",
          "lastModifiedBy": null,
          "lastModifiedTime": "2022-12-27T02:46:06.45\u002B00:00"
        }
      }
    }
  ],
  "Variables": {}
}
