{
  "Entries": [
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/libraries/testLibraryName.jar?api-version=2020-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testaccount.dev.azuresynapse.net/libraryOperationResults/100f6b31-430e-4ba1-ac49-68148b0afda5?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/joheredi-test/providers/Microsoft.Synapse/workspaces/joheredisyn/libraries/testLibraryName.jar",
        "recordId": 1850568,
        "state": "Creating",
        "created": "2022-01-31T22:59:25.9266667Z",
        "changed": "2022-01-31T22:59:25.9266667Z",
        "type": "LibraryArtifact",
        "name": "testLibraryName.jar",
        "operationId": "100f6b31-430e-4ba1-ac49-68148b0afda5",
        "artifactId": "734762A7-BC6B-47F7-A849-648097849945"
      }
    },
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/libraryOperationResults/100f6b31-430e-4ba1-ac49-68148b0afda5?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testaccount.dev.azuresynapse.net/libraryOperationResults/100f6b31-430e-4ba1-ac49-68148b0afda5?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/libraryOperationResults/100f6b31-430e-4ba1-ac49-68148b0afda5?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/joheredi-test/providers/Microsoft.Synapse/workspaces/joheredisyn/libraries/testLibraryName.jar",
        "name": "testLibraryName.jar",
        "type": "Microsoft.Synapse/workspaces/libraries",
        "properties": {
          "name": "testLibraryName.jar",
          "path": "joheredisyn/libraries/testLibraryName.jar",
          "containerName": "prep",
          "uploadedTimestamp": "2022-01-31T22:59:25.9167142\u002B00:00",
          "type": "jar",
          "provisioningStatus": "Incomplete",
          "creatorId": "f8cfe8ca-1f83-4deb-814c-ee49336fdebd"
        },
        "etag": "570069f2-0000-0200-0000-61f869d10000"
      }
    }
  ],
  "Variables": {}
}
