/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ReservationOrderAlias } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BillingBenefitsRP } from "../billingBenefitsRP";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  ReservationOrderAliasRequest,
  ReservationOrderAliasCreateOptionalParams,
  ReservationOrderAliasCreateResponse,
  ReservationOrderAliasGetOptionalParams,
  ReservationOrderAliasGetResponse
} from "../models";

/** Class containing ReservationOrderAlias operations. */
export class ReservationOrderAliasImpl implements ReservationOrderAlias {
  private readonly client: BillingBenefitsRP;

  /**
   * Initialize a new instance of the class ReservationOrderAlias class.
   * @param client Reference to the service client
   */
  constructor(client: BillingBenefitsRP) {
    this.client = client;
  }

  /**
   * Create a reservation order alias.
   * @param reservationOrderAliasName Name of the reservation order alias
   * @param body Request body for creating a reservation order alias
   * @param options The options parameters.
   */
  async beginCreate(
    reservationOrderAliasName: string,
    body: ReservationOrderAliasRequest,
    options?: ReservationOrderAliasCreateOptionalParams
  ): Promise<
    PollerLike<
      PollOperationState<ReservationOrderAliasCreateResponse>,
      ReservationOrderAliasCreateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<ReservationOrderAliasCreateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      { reservationOrderAliasName, body, options },
      createOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      lroResourceLocationConfig: "azure-async-operation"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Create a reservation order alias.
   * @param reservationOrderAliasName Name of the reservation order alias
   * @param body Request body for creating a reservation order alias
   * @param options The options parameters.
   */
  async beginCreateAndWait(
    reservationOrderAliasName: string,
    body: ReservationOrderAliasRequest,
    options?: ReservationOrderAliasCreateOptionalParams
  ): Promise<ReservationOrderAliasCreateResponse> {
    const poller = await this.beginCreate(
      reservationOrderAliasName,
      body,
      options
    );
    return poller.pollUntilDone();
  }

  /**
   * Get a reservation order alias.
   * @param reservationOrderAliasName Name of the reservation order alias
   * @param options The options parameters.
   */
  get(
    reservationOrderAliasName: string,
    options?: ReservationOrderAliasGetOptionalParams
  ): Promise<ReservationOrderAliasGetResponse> {
    return this.client.sendOperationRequest(
      { reservationOrderAliasName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.BillingBenefits/reservationOrderAliases/{reservationOrderAliasName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ReservationOrderAliasResponse
    },
    201: {
      bodyMapper: Mappers.ReservationOrderAliasResponse
    },
    202: {
      bodyMapper: Mappers.ReservationOrderAliasResponse
    },
    204: {
      bodyMapper: Mappers.ReservationOrderAliasResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body4,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.reservationOrderAliasName],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.BillingBenefits/reservationOrderAliases/{reservationOrderAliasName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ReservationOrderAliasResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.reservationOrderAliasName],
  headerParameters: [Parameters.accept],
  serializer
};
