/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { SavingsPlansInOrder } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BillingBenefitsRP } from "../billingBenefitsRP";
import {
  SavingsPlanModel,
  SavingsPlansInOrderListNextOptionalParams,
  SavingsPlansInOrderListOptionalParams,
  SavingsPlansInOrderListResponse,
  SavingsPlansInOrderListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing SavingsPlansInOrder operations. */
export class SavingsPlansInOrderImpl implements SavingsPlansInOrder {
  private readonly client: BillingBenefitsRP;

  /**
   * Initialize a new instance of the class SavingsPlansInOrder class.
   * @param client Reference to the service client
   */
  constructor(client: BillingBenefitsRP) {
    this.client = client;
  }

  /**
   * List savings plans in an order.
   * @param savingsPlanOrderId Order ID of the savings plan
   * @param options The options parameters.
   */
  public list(
    savingsPlanOrderId: string,
    options?: SavingsPlansInOrderListOptionalParams
  ): PagedAsyncIterableIterator<SavingsPlanModel> {
    const iter = this.listPagingAll(savingsPlanOrderId, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(savingsPlanOrderId, options);
      }
    };
  }

  private async *listPagingPage(
    savingsPlanOrderId: string,
    options?: SavingsPlansInOrderListOptionalParams
  ): AsyncIterableIterator<SavingsPlanModel[]> {
    let result = await this._list(savingsPlanOrderId, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        savingsPlanOrderId,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    savingsPlanOrderId: string,
    options?: SavingsPlansInOrderListOptionalParams
  ): AsyncIterableIterator<SavingsPlanModel> {
    for await (const page of this.listPagingPage(savingsPlanOrderId, options)) {
      yield* page;
    }
  }

  /**
   * List savings plans in an order.
   * @param savingsPlanOrderId Order ID of the savings plan
   * @param options The options parameters.
   */
  private _list(
    savingsPlanOrderId: string,
    options?: SavingsPlansInOrderListOptionalParams
  ): Promise<SavingsPlansInOrderListResponse> {
    return this.client.sendOperationRequest(
      { savingsPlanOrderId, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param savingsPlanOrderId Order ID of the savings plan
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    savingsPlanOrderId: string,
    nextLink: string,
    options?: SavingsPlansInOrderListNextOptionalParams
  ): Promise<SavingsPlansInOrderListNextResponse> {
    return this.client.sendOperationRequest(
      { savingsPlanOrderId, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanModelList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.savingsPlanOrderId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanModelList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.savingsPlanOrderId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
