/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SavingsPlan } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BillingBenefitsRP } from "../billingBenefitsRP";
import {
  SavingsPlanGetOptionalParams,
  SavingsPlanGetResponse,
  SavingsPlanUpdateRequest,
  SavingsPlanUpdateOptionalParams,
  SavingsPlanUpdateResponse
} from "../models";

/** Class containing SavingsPlan operations. */
export class SavingsPlanImpl implements SavingsPlan {
  private readonly client: BillingBenefitsRP;

  /**
   * Initialize a new instance of the class SavingsPlan class.
   * @param client Reference to the service client
   */
  constructor(client: BillingBenefitsRP) {
    this.client = client;
  }

  /**
   * Get savings plan.
   * @param savingsPlanOrderId Order ID of the savings plan
   * @param savingsPlanId ID of the savings plan
   * @param options The options parameters.
   */
  get(
    savingsPlanOrderId: string,
    savingsPlanId: string,
    options?: SavingsPlanGetOptionalParams
  ): Promise<SavingsPlanGetResponse> {
    return this.client.sendOperationRequest(
      { savingsPlanOrderId, savingsPlanId, options },
      getOperationSpec
    );
  }

  /**
   * Update savings plan.
   * @param savingsPlanOrderId Order ID of the savings plan
   * @param savingsPlanId ID of the savings plan
   * @param body Request body for patching a savings plan order alias
   * @param options The options parameters.
   */
  update(
    savingsPlanOrderId: string,
    savingsPlanId: string,
    body: SavingsPlanUpdateRequest,
    options?: SavingsPlanUpdateOptionalParams
  ): Promise<SavingsPlanUpdateResponse> {
    return this.client.sendOperationRequest(
      { savingsPlanOrderId, savingsPlanId, body, options },
      updateOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanModel
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand],
  urlParameters: [
    Parameters.$host,
    Parameters.savingsPlanOrderId,
    Parameters.savingsPlanId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const updateOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanModel
    },
    202: {
      headersMapper: Mappers.SavingsPlanUpdateHeaders
    },
    404: {
      isError: true
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body1,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.savingsPlanOrderId,
    Parameters.savingsPlanId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
