/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SavingsPlanUpdate } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BillingBenefitsRP } from "../billingBenefitsRP";
import {
  SavingsPlanUpdateValidateRequest,
  SavingsPlanUpdateValidateOptionalParams,
  SavingsPlanUpdateValidateResponse
} from "../models";

/** Class containing SavingsPlanUpdate operations. */
export class SavingsPlanUpdateImpl implements SavingsPlanUpdate {
  private readonly client: BillingBenefitsRP;

  /**
   * Initialize a new instance of the class SavingsPlanUpdate class.
   * @param client Reference to the service client
   */
  constructor(client: BillingBenefitsRP) {
    this.client = client;
  }

  /**
   * Validate savings plan patch.
   * @param savingsPlanOrderId Order ID of the savings plan
   * @param savingsPlanId ID of the savings plan
   * @param body Request body for validating a savings plan patch request
   * @param options The options parameters.
   */
  validate(
    savingsPlanOrderId: string,
    savingsPlanId: string,
    body: SavingsPlanUpdateValidateRequest,
    options?: SavingsPlanUpdateValidateOptionalParams
  ): Promise<SavingsPlanUpdateValidateResponse> {
    return this.client.sendOperationRequest(
      { savingsPlanOrderId, savingsPlanId, body, options },
      validateOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const validateOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/validate",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanValidateResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body2,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.savingsPlanOrderId,
    Parameters.savingsPlanId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
