/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SavingsPlanOrderAlias } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BillingBenefitsRP } from "../billingBenefitsRP";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  SavingsPlanOrderAliasModel,
  SavingsPlanOrderAliasCreateOptionalParams,
  SavingsPlanOrderAliasCreateResponse,
  SavingsPlanOrderAliasGetOptionalParams,
  SavingsPlanOrderAliasGetResponse
} from "../models";

/** Class containing SavingsPlanOrderAlias operations. */
export class SavingsPlanOrderAliasImpl implements SavingsPlanOrderAlias {
  private readonly client: BillingBenefitsRP;

  /**
   * Initialize a new instance of the class SavingsPlanOrderAlias class.
   * @param client Reference to the service client
   */
  constructor(client: BillingBenefitsRP) {
    this.client = client;
  }

  /**
   * Create a savings plan. Learn more about permissions needed at
   * https://go.microsoft.com/fwlink/?linkid=2215851
   * @param savingsPlanOrderAliasName Name of the savings plan order alias
   * @param body Request body for creating a savings plan order alias
   * @param options The options parameters.
   */
  async beginCreate(
    savingsPlanOrderAliasName: string,
    body: SavingsPlanOrderAliasModel,
    options?: SavingsPlanOrderAliasCreateOptionalParams
  ): Promise<
    PollerLike<
      PollOperationState<SavingsPlanOrderAliasCreateResponse>,
      SavingsPlanOrderAliasCreateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<SavingsPlanOrderAliasCreateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      { savingsPlanOrderAliasName, body, options },
      createOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      lroResourceLocationConfig: "azure-async-operation"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Create a savings plan. Learn more about permissions needed at
   * https://go.microsoft.com/fwlink/?linkid=2215851
   * @param savingsPlanOrderAliasName Name of the savings plan order alias
   * @param body Request body for creating a savings plan order alias
   * @param options The options parameters.
   */
  async beginCreateAndWait(
    savingsPlanOrderAliasName: string,
    body: SavingsPlanOrderAliasModel,
    options?: SavingsPlanOrderAliasCreateOptionalParams
  ): Promise<SavingsPlanOrderAliasCreateResponse> {
    const poller = await this.beginCreate(
      savingsPlanOrderAliasName,
      body,
      options
    );
    return poller.pollUntilDone();
  }

  /**
   * Get a savings plan.
   * @param savingsPlanOrderAliasName Name of the savings plan order alias
   * @param options The options parameters.
   */
  get(
    savingsPlanOrderAliasName: string,
    options?: SavingsPlanOrderAliasGetOptionalParams
  ): Promise<SavingsPlanOrderAliasGetResponse> {
    return this.client.sendOperationRequest(
      { savingsPlanOrderAliasName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/{savingsPlanOrderAliasName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanOrderAliasModel
    },
    201: {
      bodyMapper: Mappers.SavingsPlanOrderAliasModel
    },
    202: {
      bodyMapper: Mappers.SavingsPlanOrderAliasModel
    },
    204: {
      bodyMapper: Mappers.SavingsPlanOrderAliasModel
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.savingsPlanOrderAliasName],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/{savingsPlanOrderAliasName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanOrderAliasModel
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.savingsPlanOrderAliasName],
  headerParameters: [Parameters.accept],
  serializer
};
