/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SavingsPlanPurchase } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BillingBenefitsRP } from "../billingBenefitsRP";
import {
  SavingsPlanPurchaseValidateRequest,
  SavingsPlanPurchaseValidateOptionalParams,
  SavingsPlanPurchaseValidateResponse
} from "../models";

/** Class containing SavingsPlanPurchase operations. */
export class SavingsPlanPurchaseImpl implements SavingsPlanPurchase {
  private readonly client: BillingBenefitsRP;

  /**
   * Initialize a new instance of the class SavingsPlanPurchase class.
   * @param client Reference to the service client
   */
  constructor(client: BillingBenefitsRP) {
    this.client = client;
  }

  /**
   * Validate savings plan purchase.
   * @param body Request body for validating the purchase of a savings plan
   * @param options The options parameters.
   */
  validate(
    body: SavingsPlanPurchaseValidateRequest,
    options?: SavingsPlanPurchaseValidateOptionalParams
  ): Promise<SavingsPlanPurchaseValidateResponse> {
    return this.client.sendOperationRequest(
      { body, options },
      validateOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const validateOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.BillingBenefits/validate",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanValidateResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body3,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
