# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# Core
/sdk/core/abort-controller/ @chradek @xirzec @bterlson                               %Azure.Core
/sdk/core/core-amqp/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru          %Azure.Core
/sdk/core/core-auth/ @daviwil @xirzec @bterlson                                      %Azure.Core
/sdk/core/core-http/ @daviwil @xirzec @bterlson @chradek @jeremymeng                 %Azure.Core
/sdk/core/core-lro/ @sadasant @xirzec @bterlson                                      %Azure.Core
/sdk/core/core-paging/ @daviwil @xirzec @bterlson                                    %Azure.Core
/sdk/core/core-tracing/ @xirzec @bterlson @chradek                                   %Azure.Core
/sdk/core/logger @xirzec @bterlson @chradek                                          %Azure.Core

# Service teams
/sdk/appconfiguration/ @richardpark-msft @chradek                                    %AzConfig

/sdk/batch/ @xingwu1 @matthchr @bgklein                                              %Batch
/sdk/cosmosdb/ @southpolesteve @zfoster                                              %Cosmos

/sdk/eventhub/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru                %Event Hubs
/sdk/servicebus/ @ramya-rao-a @chradek @richardpark-msft @HarshaNalluru              %Service Bus

/sdk/identity/ @schaabs @daviwil @jonathandturner @sadasant                          %Azure.Identity
/sdk/keyvault/ @jonathandturner @sadasant                                            %KeyVault
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan @ljian3377  %Storage

/sdk/tables/ @mahdiva @joheredi                                                      %Tables

/sdk/test-utils/ @HarshaNalluru @sadasant
/sdk/textanalytics/ @xirzec @willmtemple                                             %Cognitive - Text Analytics
/sdk/formrecognizer/ @jeremymeng @willmtemple                                        %Cognitive - Form Recognizer

/sdk/search/ @xirzec @sarangan12                                                     %Search

# Smoke Tests
/common/smoke-test/ @ramya-rao-a @chradek @jonathandturner @sadasant @jeremymeng @southpolesteve

# API review files
/sdk/**/review/*api.md @bterlson @xirzec

# Management Plane
/**/*Management*.ts @qiaozha
/**/arm-*/ @qiaozha

###########
# Eng Sys
###########
/eng/   @weshaggard @KarishmaGhiya @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @KarishmaGhiya
/common/ @mikeharder @KarishmaGhiya
/common/config/rush/pnpm-lock.yaml @bterlson
/rush.json @mikeharder @KarishmaGhiya
/tsconfig.json @mikeharder @KarishmaGhiya
/**/tsconfig.json @bterlson
