# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all
/sdk/ @ramya-rao-a

# API review files
/sdk/**/review/*api.md @bterlson

# Core
/sdk/core/abort-controller/ @chradek
/sdk/core/core-amqp/ @ramya-rao-a @chradek
/sdk/core/core-auth/ @daviwil
/sdk/core/core-http/ @daviwil
/sdk/core/core-paging/ @daviwil
/sdk/core/core-tracing/ @xirzec
/sdk/core/logger @xirzec

# Service teams
/sdk/appconfiguration/ @richardpark-msft

/sdk/batch/ @xingwu1 @matthchr @bgklein
/sdk/cosmosdb/ @southpolesteve

/sdk/eventhub/ @ramya-rao-a @chradek
/sdk/servicebus/ @ramya-rao-a @chradek @ramya0820

/sdk/identity/ @daviwil @jonathandturner
/sdk/keyvault/ @jonathandturner @sadasant
/sdk/storage/ @XiaoningLiu @jeremymeng @HarshaNalluru @vinjiang @jiacfan

/sdk/test-utils/ @HarshaNalluru

# Management Plane
/**/*Management*.ts @qiaozha
/**/arm-*/ @qiaozha

###########
# Eng Sys
###########
/eng/   @weshaggard @KarishmaGhiya @mikeharder @mitchdenny @danieljurek
/**/tests.yml   @danieljurek
/**/ci.yml      @mitchdenny

###########
# Config
###########
/.vscode/ @mikeharder @KarishmaGhiya
/common/ @mikeharder @KarishmaGhiya
/common/config/rush/pnpm-lock.yaml @bterlson
/rush.json @mikeharder @KarishmaGhiya
/tsconfig.json @mikeharder @KarishmaGhiya
/**/tsconfig.json @bterlson
