/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { BackupAndExport } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MySQLManagementFlexibleServerClient } from "../mySQLManagementFlexibleServerClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  BackupAndExportRequest,
  BackupAndExportCreateOptionalParams,
  BackupAndExportCreateResponse,
  BackupAndExportValidateBackupOptionalParams,
  BackupAndExportValidateBackupResponse,
} from "../models";

/** Class containing BackupAndExport operations. */
export class BackupAndExportImpl implements BackupAndExport {
  private readonly client: MySQLManagementFlexibleServerClient;

  /**
   * Initialize a new instance of the class BackupAndExport class.
   * @param client Reference to the service client
   */
  constructor(client: MySQLManagementFlexibleServerClient) {
    this.client = client;
  }

  /**
   * Exports the backup of the given server by creating a backup if not existing.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param parameters The required parameters for creating and exporting backup of the given server.
   * @param options The options parameters.
   */
  async beginCreate(
    resourceGroupName: string,
    serverName: string,
    parameters: BackupAndExportRequest,
    options?: BackupAndExportCreateOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<BackupAndExportCreateResponse>,
      BackupAndExportCreateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<BackupAndExportCreateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, serverName, parameters, options },
      spec: createOperationSpec,
    });
    const poller = await createHttpPoller<
      BackupAndExportCreateResponse,
      OperationState<BackupAndExportCreateResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Exports the backup of the given server by creating a backup if not existing.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param parameters The required parameters for creating and exporting backup of the given server.
   * @param options The options parameters.
   */
  async beginCreateAndWait(
    resourceGroupName: string,
    serverName: string,
    parameters: BackupAndExportRequest,
    options?: BackupAndExportCreateOptionalParams,
  ): Promise<BackupAndExportCreateResponse> {
    const poller = await this.beginCreate(
      resourceGroupName,
      serverName,
      parameters,
      options,
    );
    return poller.pollUntilDone();
  }

  /**
   * Validates if backup can be performed for given server.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param options The options parameters.
   */
  validateBackup(
    resourceGroupName: string,
    serverName: string,
    options?: BackupAndExportValidateBackupOptionalParams,
  ): Promise<BackupAndExportValidateBackupResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serverName, options },
      validateBackupOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/backupAndExport",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.BackupAndExportResponse,
    },
    201: {
      bodyMapper: Mappers.BackupAndExportResponse,
    },
    202: {
      bodyMapper: Mappers.BackupAndExportResponse,
    },
    204: {
      bodyMapper: Mappers.BackupAndExportResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters1,
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serverName,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const validateBackupOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/validateBackup",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ValidateBackupResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serverName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
