/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { CheckNameAvailabilityWithoutLocation } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MySQLManagementFlexibleServerClient } from "../mySQLManagementFlexibleServerClient";
import {
  NameAvailabilityRequest,
  CheckNameAvailabilityWithoutLocationExecuteOptionalParams,
  CheckNameAvailabilityWithoutLocationExecuteResponse,
} from "../models";

/** Class containing CheckNameAvailabilityWithoutLocation operations. */
export class CheckNameAvailabilityWithoutLocationImpl
  implements CheckNameAvailabilityWithoutLocation
{
  private readonly client: MySQLManagementFlexibleServerClient;

  /**
   * Initialize a new instance of the class CheckNameAvailabilityWithoutLocation class.
   * @param client Reference to the service client
   */
  constructor(client: MySQLManagementFlexibleServerClient) {
    this.client = client;
  }

  /**
   * Check the availability of name for server
   * @param nameAvailabilityRequest The required parameters for checking if server name is available.
   * @param options The options parameters.
   */
  execute(
    nameAvailabilityRequest: NameAvailabilityRequest,
    options?: CheckNameAvailabilityWithoutLocationExecuteOptionalParams,
  ): Promise<CheckNameAvailabilityWithoutLocationExecuteResponse> {
    return this.client.sendOperationRequest(
      { nameAvailabilityRequest, options },
      executeOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const executeOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/checkNameAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.NameAvailability,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.nameAvailabilityRequest,
  queryParameters: [Parameters.apiVersion2],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
