/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ServersMigration } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MySQLManagementFlexibleServerClient } from "../mySQLManagementFlexibleServerClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  ServersMigrationCutoverMigrationOptionalParams,
  ServersMigrationCutoverMigrationResponse,
} from "../models";

/** Class containing ServersMigration operations. */
export class ServersMigrationImpl implements ServersMigration {
  private readonly client: MySQLManagementFlexibleServerClient;

  /**
   * Initialize a new instance of the class ServersMigration class.
   * @param client Reference to the service client
   */
  constructor(client: MySQLManagementFlexibleServerClient) {
    this.client = client;
  }

  /**
   * Cutover migration for MySQL import, it will switch source elastic server DNS to flexible server.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param options The options parameters.
   */
  async beginCutoverMigration(
    resourceGroupName: string,
    serverName: string,
    options?: ServersMigrationCutoverMigrationOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<ServersMigrationCutoverMigrationResponse>,
      ServersMigrationCutoverMigrationResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<ServersMigrationCutoverMigrationResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, serverName, options },
      spec: cutoverMigrationOperationSpec,
    });
    const poller = await createHttpPoller<
      ServersMigrationCutoverMigrationResponse,
      OperationState<ServersMigrationCutoverMigrationResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "azure-async-operation",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Cutover migration for MySQL import, it will switch source elastic server DNS to flexible server.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param options The options parameters.
   */
  async beginCutoverMigrationAndWait(
    resourceGroupName: string,
    serverName: string,
    options?: ServersMigrationCutoverMigrationOptionalParams,
  ): Promise<ServersMigrationCutoverMigrationResponse> {
    const poller = await this.beginCutoverMigration(
      resourceGroupName,
      serverName,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const cutoverMigrationOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/cutoverMigration",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.Server,
    },
    201: {
      bodyMapper: Mappers.Server,
    },
    202: {
      bodyMapper: Mappers.Server,
    },
    204: {
      bodyMapper: Mappers.Server,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion2],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serverName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
