/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PrivateLinkResourcesForMIPPolicySync } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { M365SecurityAndComplianceClient } from "../m365SecurityAndComplianceClient";
import {
  PrivateLinkResourcesForMIPPolicySyncListByServiceOptionalParams,
  PrivateLinkResourcesForMIPPolicySyncListByServiceResponse,
  PrivateLinkResourcesForMIPPolicySyncGetOptionalParams,
  PrivateLinkResourcesForMIPPolicySyncGetResponse
} from "../models";

/** Class containing PrivateLinkResourcesForMIPPolicySync operations. */
export class PrivateLinkResourcesForMIPPolicySyncImpl
  implements PrivateLinkResourcesForMIPPolicySync {
  private readonly client: M365SecurityAndComplianceClient;

  /**
   * Initialize a new instance of the class PrivateLinkResourcesForMIPPolicySync class.
   * @param client Reference to the service client
   */
  constructor(client: M365SecurityAndComplianceClient) {
    this.client = client;
  }

  /**
   * Gets the private link resources that need to be created for a service.
   * @param resourceGroupName The name of the resource group that contains the service instance.
   * @param resourceName The name of the service instance.
   * @param options The options parameters.
   */
  listByService(
    resourceGroupName: string,
    resourceName: string,
    options?: PrivateLinkResourcesForMIPPolicySyncListByServiceOptionalParams
  ): Promise<PrivateLinkResourcesForMIPPolicySyncListByServiceResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, resourceName, options },
      listByServiceOperationSpec
    );
  }

  /**
   * Gets a private link resource that need to be created for a service.
   * @param resourceGroupName The name of the resource group that contains the service instance.
   * @param resourceName The name of the service instance.
   * @param groupName The name of the private link resource group.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    resourceName: string,
    groupName: string,
    options?: PrivateLinkResourcesForMIPPolicySyncGetOptionalParams
  ): Promise<PrivateLinkResourcesForMIPPolicySyncGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, resourceName, groupName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByServiceOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForMIPPolicySync/{resourceName}/privateLinkResources",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourceListResult
    },
    default: {
      bodyMapper: Mappers.ErrorDetails
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.M365SecurityAndCompliance/privateLinkServicesForMIPPolicySync/{resourceName}/privateLinkResources/{groupName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResource
    },
    default: {
      bodyMapper: Mappers.ErrorDetails
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.resourceName,
    Parameters.groupName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
