# Confidential Ledger resource endpoint
LEDGER_URI=https://amrutha-sdk-testledger.confidential-ledger.azure.com

### for example, https://identity.confidential-ledger.core.azure.com/
IDENTITY_SERVICE_URL=https://identity.confidential-ledger.core.azure.com/ledgerIdentity/amrutha-sdk-testledger

LEDGER_IDENTITY=amrutha-sdk-testledger


TEST_MODE=live
