# Confidential Ledger resource endpoint
LEDGER_URI=

### for example, https://identity.confidential-ledger.core.azure.com/
IDENTITY_SERVICE_URL=

LEDGER_NAME=


# App registration secret for AAD authentication
AZURE_CLIENT_SECRET=
AZURE_CLIENT_ID=
AZURE_TENANT_ID= 

# Client Certificate and Key in PEM format
USER_CERT= 
USER_CERT_KEY=

USER_ID=

TEST_MODE=live

CERTIFICATE=

# Allows self-signed certificates
NODE_TLS_REJECT_UNAUTHORIZED=0

NETWORK_CERTIFICATE=
USER_CERTIFICATE=

USER_CERTIFICATE_THUMBPRINT=