# Used in tests and samples
LEDGER_URI=https://<your-ledger-name>.confidentialledger.azure.com
IDENTITY_SERVICE_URL=https://identity.confidential-ledger.core.azure.com
AZURE_CLIENT_ID=<your-client-id>
AZURE_TENANT_ID=<your-tenant-id>
AZURE_CLIENT_SECRET=<your-client-secret>
