# Used in most samples. Retrieve these values from a Cognitive Services instance
# in the Azure Portal.
FORM_RECOGNIZER_ENDPOINT="https://<resource name>.cognitiveservies.azure.com/"
FORM_RECOGNIZER_API_KEY="<form recognizer api key>"

