{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "iRU4FoF\u002BSHDyek4I2mTj9UxqfsCodrYA4ivTcF4xVFQ=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:06 GMT"
      },
      "RequestBody": {
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b2032cfe-0000-0700-0000-654573160000\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 22:24:22 GMT",
        "trace-id": "9f9e6736-b5be-e528-e86c-7e04604f0d84"
      },
      "ResponseBody": {
        "id": "test-d-policy-recorded-d-policies",
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        },
        "etag": "\u0022b2032cfe-0000-0700-0000-654573160000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-e-policy-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Cra0Om0ZqhFeDkbLieY\u002Bv\u002B7gXRaJ3OqYfEy3xRhld5Y=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:06 GMT"
      },
      "RequestBody": {
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling"
              }
            ],
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d1b1761-0000-0700-0000-65483a580000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:04 GMT",
        "trace-id": "fe5d3ce8-b87c-ad89-2b8a-1edd30344fba"
      },
      "ResponseBody": {
        "id": "test-e-policy-recorded-d-policies",
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            },
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling",
                "id": "2bacc6e1-dc03-4dc5-95ee-50785962b9f9"
              }
            ]
          }
        ],
        "etag": "\u00222d1b1761-0000-0700-0000-65483a580000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "OsLHjBdn7TyPSqg4WicZa8/B\u002BnXwQj7jghV3n/8OaYk=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:06 GMT"
      },
      "RequestBody": {
        "id": "test-a-queue-recorded-d-policies",
        "name": "test-a-queue",
        "exceptionPolicyId": "test-e-policy-recorded-d-policies",
        "distributionPolicyId": "test-d-policy-recorded-d-policies",
        "labels": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225d040698-0000-0700-0000-65483a580000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:04 GMT",
        "trace-id": "5147261a-c6fb-cb37-ab93-84b7daf4aaa5"
      },
      "ResponseBody": {
        "id": "test-a-queue-recorded-d-policies",
        "name": "test-a-queue",
        "distributionPolicyId": "test-d-policy-recorded-d-policies",
        "labels": {
          "Id": "test-a-queue-recorded-d-policies"
        },
        "exceptionPolicyId": "test-e-policy-recorded-d-policies",
        "etag": "\u00225d040698-0000-0700-0000-65483a580000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/classificationPolicies/test-c-policy-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "xd82JCMG4U5arQgiyIDIRiU4dSxne14qqVqDI0m57uI=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:06 GMT"
      },
      "RequestBody": {
        "name": "test-c-policy",
        "fallbackQueueId": "test-a-queue-recorded-d-policies"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223504ccd4-0000-0700-0000-65483a580000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:04 GMT",
        "trace-id": "e0887094-bae7-291e-b348-3cf89d38590c"
      },
      "ResponseBody": {
        "id": "test-c-policy-recorded-d-policies",
        "name": "test-c-policy",
        "fallbackQueueId": "test-a-queue-recorded-d-policies",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u00223504ccd4-0000-0700-0000-65483a580000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "24422de7-ce0c-d7da-f0fa-5d638706eeec"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/test-d-policy-recorded-d-policies",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "703a50a8-5ff6-dec3-23fc-5556da7fc6bd"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is classification policy with this queue as fallback queue",
          "target": "/routing/queues/test-a-queue-recorded-d-policies"
        }
      }
    }
  ],
  "Variables": {}
}
