{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "iRU4FoF\u002BSHDyek4I2mTj9UxqfsCodrYA4ivTcF4xVFQ=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:08 GMT"
      },
      "RequestBody": {
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b2032cfe-0000-0700-0000-654573160000\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 22:24:22 GMT",
        "trace-id": "11df11e4-2b00-9abe-26f0-95fd8679875b"
      },
      "ResponseBody": {
        "id": "test-d-policy-recorded-d-policies",
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        },
        "etag": "\u0022b2032cfe-0000-0700-0000-654573160000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-e-policy-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Cra0Om0ZqhFeDkbLieY\u002Bv\u002B7gXRaJ3OqYfEy3xRhld5Y=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:08 GMT"
      },
      "RequestBody": {
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling"
              }
            ],
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d1b3562-0000-0700-0000-65483a5a0000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:06 GMT",
        "trace-id": "92c77582-ebad-7e1d-70e3-66ce69a1d171"
      },
      "ResponseBody": {
        "id": "test-e-policy-recorded-d-policies",
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            },
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling",
                "id": "984e999a-7c72-4bc1-bee8-8d12cd738069"
              }
            ]
          }
        ],
        "etag": "\u00222d1b3562-0000-0700-0000-65483a5a0000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "OsLHjBdn7TyPSqg4WicZa8/B\u002BnXwQj7jghV3n/8OaYk=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:08 GMT"
      },
      "RequestBody": {
        "id": "test-a-queue-recorded-d-policies",
        "name": "test-a-queue",
        "exceptionPolicyId": "test-e-policy-recorded-d-policies",
        "distributionPolicyId": "test-d-policy-recorded-d-policies",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225d040698-0000-0700-0000-65483a580000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:04 GMT",
        "trace-id": "38d7cbbc-334b-f123-1832-0c87f14b3c24"
      },
      "ResponseBody": {
        "id": "test-a-queue-recorded-d-policies",
        "name": "test-a-queue",
        "distributionPolicyId": "test-d-policy-recorded-d-policies",
        "labels": {
          "Id": "test-a-queue-recorded-d-policies"
        },
        "exceptionPolicyId": "test-e-policy-recorded-d-policies",
        "etag": "\u00225d040698-0000-0700-0000-65483a580000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/classificationPolicies?maxpagesize=20\u0026api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "a090b622-67b9-787a-0d19-47c40767e3dd"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "test-c-policy-recorded-d-policies",
            "fallbackQueueId": "test-a-queue-recorded-d-policies",
            "queueSelectorAttachments": [],
            "workerSelectorAttachments": [],
            "etag": "\u00223504d4d4-0000-0700-0000-65483a590000\u0022"
          },
          {
            "id": "test-c-policy-recorded-jobs",
            "name": "test-c-policy",
            "fallbackQueueId": "test-a-queue-recorded-jobs",
            "queueSelectorAttachments": [],
            "workerSelectorAttachments": [],
            "etag": "\u0022dc036143-0000-0700-0000-6545805f0000\u0022"
          }
        ]
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d277ffb0-95c3-9dfd-0581-5603c8993fea"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/test-d-policy-recorded-d-policies",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "41713afd-24ae-c371-4931-2ae492efa7f1"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is classification policy with this queue as fallback queue",
          "target": "/routing/queues/test-a-queue-recorded-d-policies"
        }
      }
    }
  ],
  "Variables": {}
}
