# Used in most samples. Retrieve these values from a Communication Services resource
# in the Azure Portal.
COMMUNICATION_CONNECTION_STRING="endpoint=https://<resource name>.communication.azure.net/;accessKey=<key>"
COMMUNICATION_ENDPOINT="https://<resource name>.communication.azure.com"
