SUBSCRIPTION_ID=<subscription-id>
RESOURCEGROUPNAME=<resource-group>
WORKSPACENAME=<workspace-name>
ENDPOINT=<end-point>
AZURE_TENANT_ID=<azure-tenant-id>
AZURE_CLIENT_ID=<azure-client-id>
AZURE_CLIENT_SECRET=<azure-client-secret>
