{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/json?api-version=1.0\u0026query=25,121",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "summary": {
          "queryTime": 5,
          "numResults": 1
        },
        "addresses": [
          {
            "address": {
              "buildingNumber": "36",
              "streetNumber": "36",
              "routeNumbers": [],
              "street": "Xingang Road",
              "streetName": "Xingang Road",
              "streetNameAndNumber": "36Xingang Road",
              "countryCode": "TW",
              "countrySubdivision": "Taoyuan City",
              "municipality": "Taoyuan City",
              "postalCode": "327",
              "municipalitySubdivision": "Xinwu District",
              "country": "Taiwan",
              "countryCodeISO3": "TWN",
              "freeformAddress": "36, Xingang Road, Xinwu District, Taoyuan City 32744",
              "boundingBox": {
                "northEast": "24.989644,121.014926",
                "southWest": "24.989405,121.012705",
                "entity": "position"
              },
              "extendedPostalCode": "32744",
              "localName": "Xinwu District"
            },
            "position": "24.988867,121.017029"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
