projects/*
targets/*
test/data/test_package.zip

# Visual Studio #
*.suo
*.user
.ntvs_analysis.dat
obj/*
examples/obj
examples/.ntvs_analysis.dat
examples/.vs
examples/bin
.vs
TestResults/*
.vscode/*
./**/.vscode/*

# Node #
**/node_modules/
**/cjs/
**/esm/
**/lib/**/*.js
**/lib/**/*.js.map
**/*Bundle.js
**/*Bundle.js.map
**/package-lock.json
npm-debug.log.*
azure_error
checkstyle-result.xml
test-result.xml

# Mac OS #
.DS_Store
.DS_Store?

# Windows #
Thumbs.db

# Credentials #
*.cer
*.pfx
*.pem

# WebStorm #
.idea/

# docs #
docs/
main.conf.json
child.conf.json
.grunt/

# temporary test artifacts
test/tmp/*

# dotenv environment variables file 
.env

# Coverage report
coverage
.nyc_output
