projects/*
targets/*
test/data/test_package.zip

# Visual Studio #
*.suo
*.user
.ntvs_analysis.dat
obj/*
examples/obj
examples/.ntvs_analysis.dat
examples/.vs
examples/bin
.vs
TestResults/*
.vscode/*
./**/.vscode/*

# Node #
package-lock.json
node_modules/
npm-debug.log.*
lerna-debug.log
azure_error
checkstyle-result.xml
test-result.xml

# TypeScript build products
*.js
*.js.map
*.d.ts
*.d.ts.map
!webpack.config.js
!rollup.config.js

# Mac OS #
.DS_Store
.DS_Store?

# Windows #
Thumbs.db

# Credentials #
*.cer
*.pfx
*.pem

# WebStorm #
.idea/

# docs #
docs/
main.conf.json
child.conf.json
.grunt/

# temporary test artifacts
test/tmp/*

# dotenv environment variables file
.env

# Nuget packages and corresponding codegen sources
.nuget

# Coverage report
coverage
.nyc_output
