!dist/lib/**/*.js
!es/lib/**/*.js
!typings/lib/**/*.d.ts
.vscode/
.idea/
samples/
lib/
test/
.travis.yml
.gitignore
gulpfile.js
.git
.DS_Store
tsconfig.json
tslint.json
webpack.config.ts
*.js.map
