# Basic info that will be required all the time.
EVENTHUB_CONNECTION_STRING="Endpoint=sb://<yournamespace>.servicebus.windows.net/;SharedAccessKeyName=<key-name>;SharedAccessKey=<key-secret>"
EVENTHUB_NAME=<hub-name>

# If you are interested in looking at the detailed debug logs.
DEBUG="azure*,rhea*"

# If you are using the Azure AD Credentials like ServicePrincipal, MSIToken, etc.
ENDPOINT="<namespace>.servicebus.windows.net"
APPLICATION_SECRET="<service principal secret>"
CLIENT_ID="<service principal client id>"
DOMAIN="<tenant id>"
AZURE_SUBSCRIPTION_ID="<subscription id>"

# For EventProcessorHost (EPH).
STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=<storage account name>;AccountKey=<account key>;EndpointSuffix=core.windows.net"