# Your De-identification Service URL can be found in the overview section of the Azure Portal.
DEID_SERVICE_ENDPOINT=
# SAS URI for the storage account used for batch processing.
STORAGE_ACCOUNT_SAS_URI=
