# App registration secret for AAD authentication
AZURE_CLIENT_SECRET=
AZURE_CLIENT_ID=
AZURE_TENANT_ID= 

# Used in most samples. Retrieve these values from a Cognitive Services instance
# in the Azure Portal.
ANOMALY_DETECTOR_ENDPOINT=""
ANOMALY_DETECTOR_API_KEY=""
