import {TEditorData} from "@azure/apimanagement-custom-widget-tools"
import {useEditorData} from "../hooks"
import {TValues, valuesDefault} from "../values"

const DataField = ({title, value}: {title: keyof TEditorData<TValues> | keyof TValues, value: string}) => (
  <p>
    {title}: <b>{value}</b>
  </p>
)

const App = () => {
  const editorData = useEditorData(valuesDefault)

  return (
    <>
      <h1>Hello {{displayName}}!</h1>

      <DataField title="id" value={editorData.id} />
      <DataField title="displayName" value={editorData.displayName} />
      <br />
      <DataField title="field1" value={editorData.values.field1} />
      <DataField title="field2" value={editorData.values.field2} />
    </>
  )
}

export default App
