{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Discovery/workspaces/jstest-wrksp-0316a?api-version=2026-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "properties": {
          "supercomputerIds": [],
          "workspaceIdentity": {
            "id": "/subscriptions/azure_subscription_id/resourcegroups/olawal/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myidentity"
          },
          "customerManagedKeys": "Enabled",
          "keyVaultProperties": {
            "keyVaultUri": "https://newapik.vault.azure.net/",
            "keyName": "discoverykey",
            "keyVersion": "2c9db3cf55d247b4a1c1831fbbdad906"
          },
          "logAnalyticsClusterId": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.OperationalInsights/clusters/mycluse",
          "publicNetworkAccess": "Disabled",
          "agentSubnetId": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default3",
          "privateEndpointSubnetId": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default",
          "workspaceSubnetId": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Discovery/locations/UKSOUTH/operationStatuses/3ba33d1b-e30f-4685-89e2-115439f635fa*C5C8A234E9C855C2989832AF61FEEF8F17F5BA5B5E9B564A533EFEB014D17659?api-version=2026-02-01-preview&t=639092736723891731&c=MIIHwzCCBqugAwIBAgIQaTf8Ndc1u3dyzS7Ma-4GsTANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMjAzMTc1MDI5WhcNMjYwNzI5MjM1MDI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGl[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Discovery/locations/UKSOUTH/operationStatuses/3ba33d1b-e30f-4685-89e2-115439f635fa*C5C8A234E9C855C2989832AF61FEEF8F17F5BA5B5E9B564A533EFEB014D17659?api-version=2026-02-01-preview&t=639092736723891731&c=MIIHwzCCBqugAwIBAgIQaTf8Ndc1u3dyzS7Ma-4GsTANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwMjAzMTc1MDI5WhcNMjYwNzI5MjM1MDI5WjBAMT4wPAY[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Discovery/workspaces/jstest-wrksp-0316a?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"a80219ed-0000-1100-0000-69b832700000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Discovery/workspaces/jstest-wrksp-0316a",
        "name": "jstest-wrksp-0316a",
        "type": "microsoft.discovery/workspaces",
        "location": "uksouth",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-16T16:01:06.20153Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-16T16:01:06.20153Z"
        },
        "properties": {
          "managedResourceGroup": "mrg-dwsp-jstest-wrksp-0316a-fut1vo",
          "supercomputerIds": [],
          "workspaceApiUri": "https://jstest-wrksp-0316a.workspace-dev.discovery.azure.com",
          "workspaceUiUri": "https://studio.discovery.microsoft.com/workspaces/jstest-wrksp-0316a",
          "workspaceIdentity": {
            "id": "/subscriptions/azure_subscription_id/resourcegroups/olawal/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myidentity",
            "principalId": "00000000-0000-0000-0000-000000000000",
            "clientId": "00000000-0000-0000-0000-000000000000"
          },
          "publicNetworkAccess": "Disabled",
          "customerManagedKeys": "Enabled",
          "keyVaultProperties": {
            "keyVaultUri": "https://newapik.vault.azure.net/",
            "keyName": "discoverykey",
            "keyVersion": "2c9db3cf55d247b4a1c1831fbbdad906"
          },
          "logAnalyticsClusterId": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.OperationalInsights/clusters/mycluse",
          "agentSubnetId": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default3",
          "privateEndpointSubnetId": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default",
          "workspaceSubnetId": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Network/virtualNetworks/newapiv/subnets/default2",
          "managedOnBehalfOfConfiguration": {
            "moboBrokerResources": [
              {
                "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Resources/moboBrokers/mobr-dwsp-jstest-wrksp-0316a-fut1vo"
              }
            ]
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}