/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { DataManagerForAgricultureExtensions } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AgriFoodMgmtClient } from "../agriFoodMgmtClient.js";
import {
  DataManagerForAgricultureExtension,
  DataManagerForAgricultureExtensionsListNextOptionalParams,
  DataManagerForAgricultureExtensionsListOptionalParams,
  DataManagerForAgricultureExtensionsListResponse,
  DataManagerForAgricultureExtensionsGetOptionalParams,
  DataManagerForAgricultureExtensionsGetResponse,
  DataManagerForAgricultureExtensionsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing DataManagerForAgricultureExtensions operations. */
export class DataManagerForAgricultureExtensionsImpl
  implements DataManagerForAgricultureExtensions
{
  private readonly client: AgriFoodMgmtClient;

  /**
   * Initialize a new instance of the class DataManagerForAgricultureExtensions class.
   * @param client Reference to the service client
   */
  constructor(client: AgriFoodMgmtClient) {
    this.client = client;
  }

  /**
   * Get list of Data Manager For Agriculture extension.
   * @param options The options parameters.
   */
  public list(
    options?: DataManagerForAgricultureExtensionsListOptionalParams,
  ): PagedAsyncIterableIterator<DataManagerForAgricultureExtension> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: DataManagerForAgricultureExtensionsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<DataManagerForAgricultureExtension[]> {
    let result: DataManagerForAgricultureExtensionsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: DataManagerForAgricultureExtensionsListOptionalParams,
  ): AsyncIterableIterator<DataManagerForAgricultureExtension> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get list of Data Manager For Agriculture extension.
   * @param options The options parameters.
   */
  private _list(
    options?: DataManagerForAgricultureExtensionsListOptionalParams,
  ): Promise<DataManagerForAgricultureExtensionsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Get Data Manager For Agriculture extension.
   * @param dataManagerForAgricultureExtensionId dataManagerForAgricultureExtensionId to be queried.
   * @param options The options parameters.
   */
  get(
    dataManagerForAgricultureExtensionId: string,
    options?: DataManagerForAgricultureExtensionsGetOptionalParams,
  ): Promise<DataManagerForAgricultureExtensionsGetResponse> {
    return this.client.sendOperationRequest(
      { dataManagerForAgricultureExtensionId, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: DataManagerForAgricultureExtensionsListNextOptionalParams,
  ): Promise<DataManagerForAgricultureExtensionsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AgFoodPlatform/farmBeatsExtensionDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureExtensionListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.maxPageSize,
    Parameters.farmBeatsExtensionIds,
    Parameters.farmBeatsExtensionNames,
    Parameters.extensionCategories,
    Parameters.publisherIds,
  ],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AgFoodPlatform/farmBeatsExtensionDefinitions/{dataManagerForAgricultureExtensionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureExtension,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.dataManagerForAgricultureExtensionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureExtensionListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
