/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { SolutionsDiscoverability } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AgriFoodMgmtClient } from "../agriFoodMgmtClient.js";
import {
  DataManagerForAgricultureSolution,
  SolutionsDiscoverabilityListNextOptionalParams,
  SolutionsDiscoverabilityListOptionalParams,
  SolutionsDiscoverabilityListResponse,
  SolutionsDiscoverabilityGetOptionalParams,
  SolutionsDiscoverabilityGetResponse,
  SolutionsDiscoverabilityListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing SolutionsDiscoverability operations. */
export class SolutionsDiscoverabilityImpl implements SolutionsDiscoverability {
  private readonly client: AgriFoodMgmtClient;

  /**
   * Initialize a new instance of the class SolutionsDiscoverability class.
   * @param client Reference to the service client
   */
  constructor(client: AgriFoodMgmtClient) {
    this.client = client;
  }

  /**
   * Get list of Data Manager For Agriculture solutions.
   * @param options The options parameters.
   */
  public list(
    options?: SolutionsDiscoverabilityListOptionalParams,
  ): PagedAsyncIterableIterator<DataManagerForAgricultureSolution> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: SolutionsDiscoverabilityListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<DataManagerForAgricultureSolution[]> {
    let result: SolutionsDiscoverabilityListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: SolutionsDiscoverabilityListOptionalParams,
  ): AsyncIterableIterator<DataManagerForAgricultureSolution> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get list of Data Manager For Agriculture solutions.
   * @param options The options parameters.
   */
  private _list(
    options?: SolutionsDiscoverabilityListOptionalParams,
  ): Promise<SolutionsDiscoverabilityListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Get Data Manager For Agriculture solution by id.
   * @param dataManagerForAgricultureSolutionId dataManagerForAgricultureSolutionId to be queried.
   * @param options The options parameters.
   */
  get(
    dataManagerForAgricultureSolutionId: string,
    options?: SolutionsDiscoverabilityGetOptionalParams,
  ): Promise<SolutionsDiscoverabilityGetResponse> {
    return this.client.sendOperationRequest(
      { dataManagerForAgricultureSolutionId, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: SolutionsDiscoverabilityListNextOptionalParams,
  ): Promise<SolutionsDiscoverabilityListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AgFoodPlatform/farmBeatsSolutionDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureSolutionListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.maxPageSize,
    Parameters.farmBeatsSolutionIds,
    Parameters.farmBeatsSolutionNames,
  ],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AgFoodPlatform/farmBeatsSolutionDefinitions/{dataManagerForAgricultureSolutionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureSolution,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.dataManagerForAgricultureSolutionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureSolutionListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
