"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.BigDataPoolsImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const listOperationSpec = {
    path: "/bigDataPools",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.BigDataPoolResourceInfoListResult,
        },
        default: {
            bodyMapper: Mappers.ErrorContract,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept],
    serializer,
};
const getOperationSpec = {
    path: "/bigDataPools/{bigDataPoolName}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.BigDataPoolResourceInfo,
        },
        default: {
            bodyMapper: Mappers.ErrorContract,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.bigDataPoolName],
    headerParameters: [Parameters.accept],
    serializer,
};
/** Class containing BigDataPools operations. */
class BigDataPoolsImpl {
    /**
     * Initialize a new instance of the class BigDataPools class.
     * @param client - Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * List Big Data Pools
     * @param options - The options parameters.
     */
    async list(options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient.list", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ updatedOptions }, listOperationSpec);
        });
    }
    /**
     * Get Big Data Pool
     * @param bigDataPoolName - The Big Data Pool name
     * @param options - The options parameters.
     */
    async get(bigDataPoolName, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient.get", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ bigDataPoolName, updatedOptions }, getOperationSpec);
        });
    }
}
exports.BigDataPoolsImpl = BigDataPoolsImpl;
//# sourceMappingURL=bigDataPools.js.map