"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.DatasetOperationsImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const pagingHelper_js_1 = require("../pagingHelper.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
const core_lro_1 = require("@azure/core-lro");
const lroImpl_js_1 = require("../lroImpl.js");
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const getDatasetsByWorkspaceOperationSpec = {
    path: "/datasets",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.DatasetListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept],
    serializer,
};
const createOrUpdateDatasetOperationSpec = {
    path: "/datasets/{datasetName}",
    httpMethod: "PUT",
    responses: {
        200: {
            bodyMapper: Mappers.DatasetResource,
        },
        201: {
            bodyMapper: Mappers.DatasetResource,
        },
        202: {
            bodyMapper: Mappers.DatasetResource,
        },
        204: {
            bodyMapper: Mappers.DatasetResource,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.dataset,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.datasetName],
    headerParameters: [Parameters.accept, Parameters.contentType, Parameters.ifMatch],
    mediaType: "json",
    serializer,
};
const getDatasetOperationSpec = {
    path: "/datasets/{datasetName}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.DatasetResource,
        },
        304: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.datasetName],
    headerParameters: [Parameters.accept, Parameters.ifNoneMatch],
    serializer,
};
const deleteDatasetOperationSpec = {
    path: "/datasets/{datasetName}",
    httpMethod: "DELETE",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.datasetName],
    headerParameters: [Parameters.accept],
    serializer,
};
const renameDatasetOperationSpec = {
    path: "/datasets/{datasetName}/rename",
    httpMethod: "POST",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.request,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.datasetName],
    headerParameters: [Parameters.accept, Parameters.contentType],
    mediaType: "json",
    serializer,
};
const getDatasetsByWorkspaceNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.DatasetListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    urlParameters: [Parameters.endpoint, Parameters.nextLink],
    headerParameters: [Parameters.accept],
    serializer,
};
/** Class containing DatasetOperations operations. */
class DatasetOperationsImpl {
    /**
     * Initialize a new instance of the class DatasetOperations class.
     * @param client - Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Lists datasets.
     * @param options - The options parameters.
     */
    listDatasetsByWorkspace(options) {
        const iter = this.getDatasetsByWorkspacePagingAll(options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.getDatasetsByWorkspacePagingPage(options, settings);
            },
        };
    }
    getDatasetsByWorkspacePagingPage(options, settings) {
        return tslib_1.__asyncGenerator(this, arguments, function* getDatasetsByWorkspacePagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield tslib_1.__await(this._getDatasetsByWorkspace(options));
                const page = result.value || [];
                continuationToken = result.nextLink;
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
            while (continuationToken) {
                result = yield tslib_1.__await(this._getDatasetsByWorkspaceNext(continuationToken, options));
                continuationToken = result.nextLink;
                const page = result.value || [];
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
        });
    }
    getDatasetsByWorkspacePagingAll(options) {
        return tslib_1.__asyncGenerator(this, arguments, function* getDatasetsByWorkspacePagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = tslib_1.__asyncValues(this.getDatasetsByWorkspacePagingPage(options)), _f; _f = yield tslib_1.__await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield tslib_1.__await(yield* tslib_1.__asyncDelegator(tslib_1.__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield tslib_1.__await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Lists datasets.
     * @param options - The options parameters.
     */
    async _getDatasetsByWorkspace(options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient._getDatasetsByWorkspace", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ updatedOptions }, getDatasetsByWorkspaceOperationSpec);
        });
    }
    /**
     * Creates or updates a dataset.
     * @param datasetName - The dataset name.
     * @param dataset - Dataset resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateDataset(datasetName, dataset, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginCreateOrUpdateDataset", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { datasetName, dataset, options },
            spec: createOrUpdateDatasetOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Creates or updates a dataset.
     * @param datasetName - The dataset name.
     * @param dataset - Dataset resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateDatasetAndWait(datasetName, dataset, options) {
        const poller = await this.beginCreateOrUpdateDataset(datasetName, dataset, options);
        return poller.pollUntilDone();
    }
    /**
     * Gets a dataset.
     * @param datasetName - The dataset name.
     * @param options - The options parameters.
     */
    async getDataset(datasetName, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient.getDataset", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ datasetName, updatedOptions }, getDatasetOperationSpec);
        });
    }
    /**
     * Deletes a dataset.
     * @param datasetName - The dataset name.
     * @param options - The options parameters.
     */
    async beginDeleteDataset(datasetName, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginDeleteDataset", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { datasetName, options },
            spec: deleteDatasetOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Deletes a dataset.
     * @param datasetName - The dataset name.
     * @param options - The options parameters.
     */
    async beginDeleteDatasetAndWait(datasetName, options) {
        const poller = await this.beginDeleteDataset(datasetName, options);
        return poller.pollUntilDone();
    }
    /**
     * Renames a dataset.
     * @param datasetName - The dataset name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameDataset(datasetName, request, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginRenameDataset", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { datasetName, request, options },
            spec: renameDatasetOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Renames a dataset.
     * @param datasetName - The dataset name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameDatasetAndWait(datasetName, request, options) {
        const poller = await this.beginRenameDataset(datasetName, request, options);
        return poller.pollUntilDone();
    }
    /**
     * GetDatasetsByWorkspaceNext
     * @param nextLink - The nextLink from the previous successful call to the GetDatasetsByWorkspace method.
     * @param options - The options parameters.
     */
    async _getDatasetsByWorkspaceNext(nextLink, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient._getDatasetsByWorkspaceNext", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ nextLink, updatedOptions }, getDatasetsByWorkspaceNextOperationSpec);
        });
    }
}
exports.DatasetOperationsImpl = DatasetOperationsImpl;
//# sourceMappingURL=datasetOperations.js.map