"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.LinkedServiceOperationsImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const pagingHelper_js_1 = require("../pagingHelper.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
const core_lro_1 = require("@azure/core-lro");
const lroImpl_js_1 = require("../lroImpl.js");
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const getLinkedServicesByWorkspaceOperationSpec = {
    path: "/linkedservices",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.LinkedServiceListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept],
    serializer,
};
const createOrUpdateLinkedServiceOperationSpec = {
    path: "/linkedservices/{linkedServiceName}",
    httpMethod: "PUT",
    responses: {
        200: {
            bodyMapper: Mappers.LinkedServiceResource,
        },
        201: {
            bodyMapper: Mappers.LinkedServiceResource,
        },
        202: {
            bodyMapper: Mappers.LinkedServiceResource,
        },
        204: {
            bodyMapper: Mappers.LinkedServiceResource,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.linkedService,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.linkedServiceName],
    headerParameters: [Parameters.accept, Parameters.contentType, Parameters.ifMatch],
    mediaType: "json",
    serializer,
};
const getLinkedServiceOperationSpec = {
    path: "/linkedservices/{linkedServiceName}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.LinkedServiceResource,
        },
        304: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.linkedServiceName],
    headerParameters: [Parameters.accept, Parameters.ifNoneMatch],
    serializer,
};
const deleteLinkedServiceOperationSpec = {
    path: "/linkedservices/{linkedServiceName}",
    httpMethod: "DELETE",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.linkedServiceName],
    headerParameters: [Parameters.accept],
    serializer,
};
const renameLinkedServiceOperationSpec = {
    path: "/linkedservices/{linkedServiceName}/rename",
    httpMethod: "POST",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.request,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.linkedServiceName],
    headerParameters: [Parameters.accept, Parameters.contentType],
    mediaType: "json",
    serializer,
};
const getLinkedServicesByWorkspaceNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.LinkedServiceListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    urlParameters: [Parameters.endpoint, Parameters.nextLink],
    headerParameters: [Parameters.accept],
    serializer,
};
/** Class containing LinkedServiceOperations operations. */
class LinkedServiceOperationsImpl {
    /**
     * Initialize a new instance of the class LinkedServiceOperations class.
     * @param client - Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Lists linked services.
     * @param options - The options parameters.
     */
    listLinkedServicesByWorkspace(options) {
        const iter = this.getLinkedServicesByWorkspacePagingAll(options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.getLinkedServicesByWorkspacePagingPage(options, settings);
            },
        };
    }
    getLinkedServicesByWorkspacePagingPage(options, settings) {
        return tslib_1.__asyncGenerator(this, arguments, function* getLinkedServicesByWorkspacePagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield tslib_1.__await(this._getLinkedServicesByWorkspace(options));
                const page = result.value || [];
                continuationToken = result.nextLink;
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
            while (continuationToken) {
                result = yield tslib_1.__await(this._getLinkedServicesByWorkspaceNext(continuationToken, options));
                continuationToken = result.nextLink;
                const page = result.value || [];
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
        });
    }
    getLinkedServicesByWorkspacePagingAll(options) {
        return tslib_1.__asyncGenerator(this, arguments, function* getLinkedServicesByWorkspacePagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = tslib_1.__asyncValues(this.getLinkedServicesByWorkspacePagingPage(options)), _f; _f = yield tslib_1.__await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield tslib_1.__await(yield* tslib_1.__asyncDelegator(tslib_1.__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield tslib_1.__await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Lists linked services.
     * @param options - The options parameters.
     */
    async _getLinkedServicesByWorkspace(options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient._getLinkedServicesByWorkspace", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ updatedOptions }, getLinkedServicesByWorkspaceOperationSpec);
        });
    }
    /**
     * Creates or updates a linked service.
     * @param linkedServiceName - The linked service name.
     * @param linkedService - Linked service resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateLinkedService(linkedServiceName, linkedService, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginCreateOrUpdateLinkedService", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { linkedServiceName, linkedService, options },
            spec: createOrUpdateLinkedServiceOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Creates or updates a linked service.
     * @param linkedServiceName - The linked service name.
     * @param linkedService - Linked service resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateLinkedServiceAndWait(linkedServiceName, linkedService, options) {
        const poller = await this.beginCreateOrUpdateLinkedService(linkedServiceName, linkedService, options);
        return poller.pollUntilDone();
    }
    /**
     * Gets a linked service.
     * @param linkedServiceName - The linked service name.
     * @param options - The options parameters.
     */
    async getLinkedService(linkedServiceName, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient.getLinkedService", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ linkedServiceName, updatedOptions }, getLinkedServiceOperationSpec);
        });
    }
    /**
     * Deletes a linked service.
     * @param linkedServiceName - The linked service name.
     * @param options - The options parameters.
     */
    async beginDeleteLinkedService(linkedServiceName, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginDeleteLinkedService", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { linkedServiceName, options },
            spec: deleteLinkedServiceOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Deletes a linked service.
     * @param linkedServiceName - The linked service name.
     * @param options - The options parameters.
     */
    async beginDeleteLinkedServiceAndWait(linkedServiceName, options) {
        const poller = await this.beginDeleteLinkedService(linkedServiceName, options);
        return poller.pollUntilDone();
    }
    /**
     * Renames a linked service.
     * @param linkedServiceName - The linked service name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameLinkedService(linkedServiceName, request, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginRenameLinkedService", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { linkedServiceName, request, options },
            spec: renameLinkedServiceOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Renames a linked service.
     * @param linkedServiceName - The linked service name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameLinkedServiceAndWait(linkedServiceName, request, options) {
        const poller = await this.beginRenameLinkedService(linkedServiceName, request, options);
        return poller.pollUntilDone();
    }
    /**
     * GetLinkedServicesByWorkspaceNext
     * @param nextLink - The nextLink from the previous successful call to the GetLinkedServicesByWorkspace
     *                 method.
     * @param options - The options parameters.
     */
    async _getLinkedServicesByWorkspaceNext(nextLink, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient._getLinkedServicesByWorkspaceNext", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ nextLink, updatedOptions }, getLinkedServicesByWorkspaceNextOperationSpec);
        });
    }
}
exports.LinkedServiceOperationsImpl = LinkedServiceOperationsImpl;
//# sourceMappingURL=linkedServiceOperations.js.map