"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.SparkConfigurationOperationsImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const pagingHelper_js_1 = require("../pagingHelper.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
const core_lro_1 = require("@azure/core-lro");
const lroImpl_js_1 = require("../lroImpl.js");
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const getSparkConfigurationsByWorkspaceOperationSpec = {
    path: "/sparkconfigurations",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.SparkConfigurationListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion4],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept],
    serializer,
};
const createOrUpdateSparkConfigurationOperationSpec = {
    path: "/sparkconfigurations/{sparkConfigurationName}",
    httpMethod: "PUT",
    responses: {
        200: {
            bodyMapper: Mappers.SparkConfigurationResource,
        },
        201: {
            bodyMapper: Mappers.SparkConfigurationResource,
        },
        202: {
            bodyMapper: Mappers.SparkConfigurationResource,
        },
        204: {
            bodyMapper: Mappers.SparkConfigurationResource,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.sparkConfiguration,
    queryParameters: [Parameters.apiVersion4],
    urlParameters: [Parameters.endpoint, Parameters.sparkConfigurationName],
    headerParameters: [Parameters.accept, Parameters.contentType, Parameters.ifMatch],
    mediaType: "json",
    serializer,
};
const getSparkConfigurationOperationSpec = {
    path: "/sparkconfigurations/{sparkConfigurationName}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.SparkConfigurationResource,
        },
        304: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion4],
    urlParameters: [Parameters.endpoint, Parameters.sparkConfigurationName],
    headerParameters: [Parameters.accept, Parameters.ifNoneMatch],
    serializer,
};
const deleteSparkConfigurationOperationSpec = {
    path: "/sparkconfigurations/{sparkConfigurationName}",
    httpMethod: "DELETE",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion4],
    urlParameters: [Parameters.endpoint, Parameters.sparkConfigurationName],
    headerParameters: [Parameters.accept],
    serializer,
};
const renameSparkConfigurationOperationSpec = {
    path: "/sparkconfigurations/{sparkConfigurationName}/rename",
    httpMethod: "POST",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.request,
    queryParameters: [Parameters.apiVersion4],
    urlParameters: [Parameters.endpoint, Parameters.sparkConfigurationName],
    headerParameters: [Parameters.accept, Parameters.contentType],
    mediaType: "json",
    serializer,
};
const getSparkConfigurationsByWorkspaceNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.SparkConfigurationListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    urlParameters: [Parameters.endpoint, Parameters.nextLink],
    headerParameters: [Parameters.accept],
    serializer,
};
/** Class containing SparkConfigurationOperations operations. */
class SparkConfigurationOperationsImpl {
    /**
     * Initialize a new instance of the class SparkConfigurationOperations class.
     * @param client - Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Lists sparkconfigurations.
     * @param options - The options parameters.
     */
    listSparkConfigurationsByWorkspace(options) {
        const iter = this.getSparkConfigurationsByWorkspacePagingAll(options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.getSparkConfigurationsByWorkspacePagingPage(options, settings);
            },
        };
    }
    getSparkConfigurationsByWorkspacePagingPage(options, settings) {
        return tslib_1.__asyncGenerator(this, arguments, function* getSparkConfigurationsByWorkspacePagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield tslib_1.__await(this._getSparkConfigurationsByWorkspace(options));
                const page = result.value || [];
                continuationToken = result.nextLink;
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
            while (continuationToken) {
                result = yield tslib_1.__await(this._getSparkConfigurationsByWorkspaceNext(continuationToken, options));
                continuationToken = result.nextLink;
                const page = result.value || [];
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
        });
    }
    getSparkConfigurationsByWorkspacePagingAll(options) {
        return tslib_1.__asyncGenerator(this, arguments, function* getSparkConfigurationsByWorkspacePagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = tslib_1.__asyncValues(this.getSparkConfigurationsByWorkspacePagingPage(options)), _f; _f = yield tslib_1.__await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield tslib_1.__await(yield* tslib_1.__asyncDelegator(tslib_1.__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield tslib_1.__await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Lists sparkconfigurations.
     * @param options - The options parameters.
     */
    async _getSparkConfigurationsByWorkspace(options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient._getSparkConfigurationsByWorkspace", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ updatedOptions }, getSparkConfigurationsByWorkspaceOperationSpec);
        });
    }
    /**
     * Creates or updates a sparkconfiguration.
     * @param sparkConfigurationName - The spark Configuration name.
     * @param sparkConfiguration - SparkConfiguration resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateSparkConfiguration(sparkConfigurationName, sparkConfiguration, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginCreateOrUpdateSparkConfiguration", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { sparkConfigurationName, sparkConfiguration, options },
            spec: createOrUpdateSparkConfigurationOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Creates or updates a sparkconfiguration.
     * @param sparkConfigurationName - The spark Configuration name.
     * @param sparkConfiguration - SparkConfiguration resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateSparkConfigurationAndWait(sparkConfigurationName, sparkConfiguration, options) {
        const poller = await this.beginCreateOrUpdateSparkConfiguration(sparkConfigurationName, sparkConfiguration, options);
        return poller.pollUntilDone();
    }
    /**
     * Gets a sparkConfiguration.
     * @param sparkConfigurationName - The spark Configuration name.
     * @param options - The options parameters.
     */
    async getSparkConfiguration(sparkConfigurationName, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient.getSparkConfiguration", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ sparkConfigurationName, updatedOptions }, getSparkConfigurationOperationSpec);
        });
    }
    /**
     * Deletes a sparkConfiguration.
     * @param sparkConfigurationName - The spark Configuration name.
     * @param options - The options parameters.
     */
    async beginDeleteSparkConfiguration(sparkConfigurationName, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginDeleteSparkConfiguration", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { sparkConfigurationName, options },
            spec: deleteSparkConfigurationOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Deletes a sparkConfiguration.
     * @param sparkConfigurationName - The spark Configuration name.
     * @param options - The options parameters.
     */
    async beginDeleteSparkConfigurationAndWait(sparkConfigurationName, options) {
        const poller = await this.beginDeleteSparkConfiguration(sparkConfigurationName, options);
        return poller.pollUntilDone();
    }
    /**
     * Renames a sparkConfiguration.
     * @param sparkConfigurationName - The spark Configuration name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameSparkConfiguration(sparkConfigurationName, request, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginRenameSparkConfiguration", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { sparkConfigurationName, request, options },
            spec: renameSparkConfigurationOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Renames a sparkConfiguration.
     * @param sparkConfigurationName - The spark Configuration name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameSparkConfigurationAndWait(sparkConfigurationName, request, options) {
        const poller = await this.beginRenameSparkConfiguration(sparkConfigurationName, request, options);
        return poller.pollUntilDone();
    }
    /**
     * GetSparkConfigurationsByWorkspaceNext
     * @param nextLink - The nextLink from the previous successful call to the
     *                 GetSparkConfigurationsByWorkspace method.
     * @param options - The options parameters.
     */
    async _getSparkConfigurationsByWorkspaceNext(nextLink, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient._getSparkConfigurationsByWorkspaceNext", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ nextLink, updatedOptions }, getSparkConfigurationsByWorkspaceNextOperationSpec);
        });
    }
}
exports.SparkConfigurationOperationsImpl = SparkConfigurationOperationsImpl;
//# sourceMappingURL=sparkConfigurationOperations.js.map