"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.SqlPoolsImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const listOperationSpec = {
    path: "/sqlPools",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.SqlPoolInfoListResult,
        },
        default: {
            bodyMapper: Mappers.ErrorContract,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept],
    serializer,
};
const getOperationSpec = {
    path: "/sqlPools/{sqlPoolName}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.SqlPool,
        },
        default: {
            bodyMapper: Mappers.ErrorContract,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.sqlPoolName],
    headerParameters: [Parameters.accept],
    serializer,
};
/** Class containing SqlPools operations. */
class SqlPoolsImpl {
    /**
     * Initialize a new instance of the class SqlPools class.
     * @param client - Reference to the service client
     */
    // eslint-disable-next-line @azure/azure-sdk/ts-use-interface-parameters
    constructor(client) {
        this.client = client;
    }
    /**
     * List Sql Pools
     * @param options - The options parameters.
     */
    async list(options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient.list", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ updatedOptions }, listOperationSpec);
        });
    }
    /**
     * Get Sql Pool
     * @param sqlPoolName - The Sql Pool name
     * @param options - The options parameters.
     */
    async get(sqlPoolName, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient.get", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ sqlPoolName, updatedOptions }, getOperationSpec);
        });
    }
}
exports.SqlPoolsImpl = SqlPoolsImpl;
//# sourceMappingURL=sqlPools.js.map