"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.SqlScriptOperationsImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const pagingHelper_js_1 = require("../pagingHelper.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
const core_lro_1 = require("@azure/core-lro");
const lroImpl_js_1 = require("../lroImpl.js");
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const getSqlScriptsByWorkspaceOperationSpec = {
    path: "/sqlScripts",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.SqlScriptsListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept],
    serializer,
};
const createOrUpdateSqlScriptOperationSpec = {
    path: "/sqlScripts/{sqlScriptName}",
    httpMethod: "PUT",
    responses: {
        200: {
            bodyMapper: Mappers.SqlScriptResource,
        },
        201: {
            bodyMapper: Mappers.SqlScriptResource,
        },
        202: {
            bodyMapper: Mappers.SqlScriptResource,
        },
        204: {
            bodyMapper: Mappers.SqlScriptResource,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.sqlScript,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.sqlScriptName],
    headerParameters: [Parameters.accept, Parameters.contentType, Parameters.ifMatch],
    mediaType: "json",
    serializer,
};
const getSqlScriptOperationSpec = {
    path: "/sqlScripts/{sqlScriptName}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.SqlScriptResource,
        },
        304: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.sqlScriptName],
    headerParameters: [Parameters.accept, Parameters.ifNoneMatch],
    serializer,
};
const deleteSqlScriptOperationSpec = {
    path: "/sqlScripts/{sqlScriptName}",
    httpMethod: "DELETE",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.sqlScriptName],
    headerParameters: [Parameters.accept],
    serializer,
};
const renameSqlScriptOperationSpec = {
    path: "/sqlScripts/{sqlScriptName}/rename",
    httpMethod: "POST",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.request,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.sqlScriptName],
    headerParameters: [Parameters.accept, Parameters.contentType],
    mediaType: "json",
    serializer,
};
const getSqlScriptsByWorkspaceNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.SqlScriptsListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    urlParameters: [Parameters.endpoint, Parameters.nextLink],
    headerParameters: [Parameters.accept],
    serializer,
};
/** Class containing SqlScriptOperations operations. */
class SqlScriptOperationsImpl {
    /**
     * Initialize a new instance of the class SqlScriptOperations class.
     * @param client - Reference to the service client
     */
    // eslint-disable-next-line @azure/azure-sdk/ts-use-interface-parameters
    constructor(client) {
        this.client = client;
    }
    /**
     * Lists sql scripts.
     * @param options - The options parameters.
     */
    listSqlScriptsByWorkspace(options) {
        const iter = this.getSqlScriptsByWorkspacePagingAll(options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.getSqlScriptsByWorkspacePagingPage(options, settings);
            },
        };
    }
    getSqlScriptsByWorkspacePagingPage(options, settings) {
        return tslib_1.__asyncGenerator(this, arguments, function* getSqlScriptsByWorkspacePagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield tslib_1.__await(this._getSqlScriptsByWorkspace(options));
                const page = result.value || [];
                continuationToken = result.nextLink;
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
            while (continuationToken) {
                result = yield tslib_1.__await(this._getSqlScriptsByWorkspaceNext(continuationToken, options));
                continuationToken = result.nextLink;
                const page = result.value || [];
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
        });
    }
    getSqlScriptsByWorkspacePagingAll(options) {
        return tslib_1.__asyncGenerator(this, arguments, function* getSqlScriptsByWorkspacePagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = tslib_1.__asyncValues(this.getSqlScriptsByWorkspacePagingPage(options)), _f; _f = yield tslib_1.__await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield tslib_1.__await(yield* tslib_1.__asyncDelegator(tslib_1.__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield tslib_1.__await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Lists sql scripts.
     * @param options - The options parameters.
     */
    async _getSqlScriptsByWorkspace(options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient._getSqlScriptsByWorkspace", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ updatedOptions }, getSqlScriptsByWorkspaceOperationSpec);
        });
    }
    /**
     * Creates or updates a Sql Script.
     * @param sqlScriptName - The sql script name.
     * @param sqlScript - Sql Script resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateSqlScript(sqlScriptName, sqlScript, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginCreateOrUpdateSqlScript", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { sqlScriptName, sqlScript, options },
            spec: createOrUpdateSqlScriptOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Creates or updates a Sql Script.
     * @param sqlScriptName - The sql script name.
     * @param sqlScript - Sql Script resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateSqlScriptAndWait(sqlScriptName, sqlScript, options) {
        const poller = await this.beginCreateOrUpdateSqlScript(sqlScriptName, sqlScript, options);
        return poller.pollUntilDone();
    }
    /**
     * Gets a sql script.
     * @param sqlScriptName - The sql script name.
     * @param options - The options parameters.
     */
    async getSqlScript(sqlScriptName, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient.getSqlScript", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ sqlScriptName, updatedOptions }, getSqlScriptOperationSpec);
        });
    }
    /**
     * Deletes a Sql Script.
     * @param sqlScriptName - The sql script name.
     * @param options - The options parameters.
     */
    async beginDeleteSqlScript(sqlScriptName, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginDeleteSqlScript", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { sqlScriptName, options },
            spec: deleteSqlScriptOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Deletes a Sql Script.
     * @param sqlScriptName - The sql script name.
     * @param options - The options parameters.
     */
    async beginDeleteSqlScriptAndWait(sqlScriptName, options) {
        const poller = await this.beginDeleteSqlScript(sqlScriptName, options);
        return poller.pollUntilDone();
    }
    /**
     * Renames a sqlScript.
     * @param sqlScriptName - The sql script name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameSqlScript(sqlScriptName, request, options) {
        const directSendOperation = async (args, spec) => {
            return tracing_js_1.tracingClient.withSpan("ArtifactsClient.beginRenameSqlScript", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = (0, lroImpl_js_1.createLroSpec)({
            sendOperationFn,
            args: { sqlScriptName, request, options },
            spec: renameSqlScriptOperationSpec,
        });
        const poller = await (0, core_lro_1.createHttpPoller)(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Renames a sqlScript.
     * @param sqlScriptName - The sql script name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameSqlScriptAndWait(sqlScriptName, request, options) {
        const poller = await this.beginRenameSqlScript(sqlScriptName, request, options);
        return poller.pollUntilDone();
    }
    /**
     * GetSqlScriptsByWorkspaceNext
     * @param nextLink - The nextLink from the previous successful call to the GetSqlScriptsByWorkspace
     *                 method.
     * @param options - The options parameters.
     */
    async _getSqlScriptsByWorkspaceNext(nextLink, options) {
        return tracing_js_1.tracingClient.withSpan("ArtifactsClient._getSqlScriptsByWorkspaceNext", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ nextLink, updatedOptions }, getSqlScriptsByWorkspaceNextOperationSpec);
        });
    }
}
exports.SqlScriptOperationsImpl = SqlScriptOperationsImpl;
//# sourceMappingURL=sqlScriptOperations.js.map