{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486180405407926?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:23:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00BD7C847612\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:23:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486180405407926/blob167486180412807631",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Jan 2023 23:23:24 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-meta-keya": "vala",
        "x-ms-meta-keyb": "valb",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTY3NDg2MTgwNDEyODA1MDQw",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "fRmpzxE/yIShsk3DxmCxcA==",
        "ETag": "\u00220x8DB00BD7C8FDAB3\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:23:24 GMT",
        "x-ms-content-crc64": "EM2AqCB9JlI=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T23:23:24.1678515Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486180405407926/blob167486180412807631",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:23:24 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "blobContentDisposition",
        "Content-Language": "blobContentLanguage",
        "Content-MD5": "fRmpzxE/yIShsk3DxmCxcA==",
        "Content-Type": "blobContentType",
        "ETag": "\u00220x8DB00BD7C8FDAB3\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:23:24 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 27 Jan 2023 23:23:24 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-keya": "vala",
        "x-ms-meta-keyb": "valb",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T23:23:24.1678515Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTY3NDg2MTgwNDEyODA1MDQw"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486180405407926?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:23:24 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167486180412807631",
    "container": "container167486180405407926",
    "randomstring": "randomstring167486180412805040"
  }
}
