// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { ContentTemplate } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { SecurityInsights } from "../securityInsights.js";
import type {
  TemplateModel,
  ContentTemplateInstallOptionalParams,
  ContentTemplateInstallResponse,
  ContentTemplateGetOptionalParams,
  ContentTemplateGetResponse,
  ContentTemplateDeleteOptionalParams,
} from "../models/index.js";

/** Class containing ContentTemplate operations. */
export class ContentTemplateImpl implements ContentTemplate {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class ContentTemplate class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Install a template.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param templateId template Id
   * @param templateInstallationProperties Template installation properties
   * @param options The options parameters.
   */
  install(
    resourceGroupName: string,
    workspaceName: string,
    templateId: string,
    templateInstallationProperties: TemplateModel,
    options?: ContentTemplateInstallOptionalParams,
  ): Promise<ContentTemplateInstallResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        templateId,
        templateInstallationProperties,
        options,
      },
      installOperationSpec,
    );
  }

  /**
   * Gets a template byt its identifier.
   * Expandable properties:
   * - properties/mainTemplate
   * - properties/dependantTemplates
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param templateId template Id
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workspaceName: string,
    templateId: string,
    options?: ContentTemplateGetOptionalParams,
  ): Promise<ContentTemplateGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, templateId, options },
      getOperationSpec,
    );
  }

  /**
   * Delete an installed template.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param templateId template Id
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    workspaceName: string,
    templateId: string,
    options?: ContentTemplateDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, templateId, options },
      deleteOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const installOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentTemplates/{templateId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateModel,
    },
    201: {
      bodyMapper: Mappers.TemplateModel,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  requestBody: Parameters.templateInstallationProperties,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.templateId,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentTemplates/{templateId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateModel,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.templateId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentTemplates/{templateId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.templateId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
