/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { EntitiesGetTimeline } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  EntityTimelineParameters,
  EntitiesGetTimelineListOptionalParams,
  EntitiesGetTimelineListResponse
} from "../models";

/** Class containing EntitiesGetTimeline operations. */
export class EntitiesGetTimelineImpl implements EntitiesGetTimeline {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class EntitiesGetTimeline class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Timeline for an entity.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param entityId entity ID
   * @param parameters The parameters required to execute an timeline operation on the given entity.
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    workspaceName: string,
    entityId: string,
    parameters: EntityTimelineParameters,
    options?: EntitiesGetTimelineListOptionalParams
  ): Promise<EntitiesGetTimelineListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, entityId, parameters, options },
      listOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/entities/{entityId}/getTimeline",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.EntityTimelineResponse
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.parameters3,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.entityId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
