// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import type { IncidentTasks } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { SecurityInsights } from "../securityInsights.js";
import type {
  IncidentTask,
  IncidentTasksListNextOptionalParams,
  IncidentTasksListOptionalParams,
  IncidentTasksListResponse,
  IncidentTasksGetOptionalParams,
  IncidentTasksGetResponse,
  IncidentTasksCreateOrUpdateOptionalParams,
  IncidentTasksCreateOrUpdateResponse,
  IncidentTasksDeleteOptionalParams,
  IncidentTasksListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing IncidentTasks operations. */
export class IncidentTasksImpl implements IncidentTasks {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class IncidentTasks class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets all incident tasks.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    options?: IncidentTasksListOptionalParams,
  ): PagedAsyncIterableIterator<IncidentTask> {
    const iter = this.listPagingAll(
      resourceGroupName,
      workspaceName,
      incidentId,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          workspaceName,
          incidentId,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    options?: IncidentTasksListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<IncidentTask[]> {
    let result: IncidentTasksListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        workspaceName,
        incidentId,
        options,
      );
      const page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workspaceName,
        incidentId,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      const page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    options?: IncidentTasksListOptionalParams,
  ): AsyncIterableIterator<IncidentTask> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workspaceName,
      incidentId,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets all incident tasks.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    options?: IncidentTasksListOptionalParams,
  ): Promise<IncidentTasksListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, incidentId, options },
      listOperationSpec,
    );
  }

  /**
   * Gets an incident task.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param incidentTaskId Incident task ID
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    incidentTaskId: string,
    options?: IncidentTasksGetOptionalParams,
  ): Promise<IncidentTasksGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, incidentId, incidentTaskId, options },
      getOperationSpec,
    );
  }

  /**
   * Creates or updates the incident task.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param incidentTaskId Incident task ID
   * @param incidentTask The incident task
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    incidentTaskId: string,
    incidentTask: IncidentTask,
    options?: IncidentTasksCreateOrUpdateOptionalParams,
  ): Promise<IncidentTasksCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        incidentId,
        incidentTaskId,
        incidentTask,
        options,
      },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Delete the incident task.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param incidentTaskId Incident task ID
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    incidentTaskId: string,
    options?: IncidentTasksDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, incidentId, incidentTaskId, options },
      deleteOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    nextLink: string,
    options?: IncidentTasksListNextOptionalParams,
  ): Promise<IncidentTasksListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, incidentId, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/tasks",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.IncidentTaskList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.incidentId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/tasks/{incidentTaskId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.IncidentTask,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.incidentId,
    Parameters.incidentTaskId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/tasks/{incidentTaskId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.IncidentTask,
    },
    201: {
      bodyMapper: Mappers.IncidentTask,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  requestBody: Parameters.incidentTask,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.incidentId,
    Parameters.incidentTaskId,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/tasks/{incidentTaskId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.incidentId,
    Parameters.incidentTaskId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.IncidentTaskList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.nextLink,
    Parameters.incidentId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
