/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { IncidentRelations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  Relation,
  IncidentRelationsListNextOptionalParams,
  IncidentRelationsListOptionalParams,
  IncidentRelationsListResponse,
  IncidentRelationsGetOptionalParams,
  IncidentRelationsGetResponse,
  IncidentRelationsCreateOrUpdateOptionalParams,
  IncidentRelationsCreateOrUpdateResponse,
  IncidentRelationsDeleteOptionalParams,
  IncidentRelationsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing IncidentRelations operations. */
export class IncidentRelationsImpl implements IncidentRelations {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class IncidentRelations class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets all incident relations.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    options?: IncidentRelationsListOptionalParams
  ): PagedAsyncIterableIterator<Relation> {
    const iter = this.listPagingAll(
      resourceGroupName,
      workspaceName,
      incidentId,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          workspaceName,
          incidentId,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    options?: IncidentRelationsListOptionalParams
  ): AsyncIterableIterator<Relation[]> {
    let result = await this._list(
      resourceGroupName,
      workspaceName,
      incidentId,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workspaceName,
        incidentId,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    options?: IncidentRelationsListOptionalParams
  ): AsyncIterableIterator<Relation> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workspaceName,
      incidentId,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets all incident relations.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    options?: IncidentRelationsListOptionalParams
  ): Promise<IncidentRelationsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, incidentId, options },
      listOperationSpec
    );
  }

  /**
   * Gets an incident relation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param relationName Relation Name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    relationName: string,
    options?: IncidentRelationsGetOptionalParams
  ): Promise<IncidentRelationsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, incidentId, relationName, options },
      getOperationSpec
    );
  }

  /**
   * Creates or updates the incident relation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param relationName Relation Name
   * @param relation The relation model
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    relationName: string,
    relation: Relation,
    options?: IncidentRelationsCreateOrUpdateOptionalParams
  ): Promise<IncidentRelationsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        incidentId,
        relationName,
        relation,
        options
      },
      createOrUpdateOperationSpec
    );
  }

  /**
   * Delete the incident relation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param relationName Relation Name
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    relationName: string,
    options?: IncidentRelationsDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, incidentId, relationName, options },
      deleteOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param incidentId Incident ID
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workspaceName: string,
    incidentId: string,
    nextLink: string,
    options?: IncidentRelationsListNextOptionalParams
  ): Promise<IncidentRelationsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, incidentId, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/relations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RelationList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skipToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.incidentId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/relations/{relationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Relation
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.incidentId,
    Parameters.relationName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/relations/{relationName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.Relation
    },
    201: {
      bodyMapper: Mappers.Relation
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.relation,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.incidentId,
    Parameters.relationName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/relations/{relationName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.incidentId,
    Parameters.relationName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RelationList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skipToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.nextLink,
    Parameters.incidentId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
