// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { ProductPackage } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { SecurityInsights } from "../securityInsights.js";
import type {
  ProductPackageGetOptionalParams,
  ProductPackageGetResponse,
} from "../models/index.js";

/** Class containing ProductPackage operations. */
export class ProductPackageImpl implements ProductPackage {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class ProductPackage class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets a package by its identifier from the catalog.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param packageId package Id
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workspaceName: string,
    packageId: string,
    options?: ProductPackageGetOptionalParams,
  ): Promise<ProductPackageGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, packageId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentProductPackages/{packageId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProductPackageModel,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.packageId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
