/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Update } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  RecommendationPatch,
  UpdateRecommendationOptionalParams,
  UpdateRecommendationResponse
} from "../models";

/** Class containing Update operations. */
export class UpdateImpl implements Update {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class Update class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Patch a recommendation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param recommendationId Recommendation Id.
   * @param recommendationPatch Recommendation Fields to Update.
   * @param options The options parameters.
   */
  async beginRecommendation(
    resourceGroupName: string,
    workspaceName: string,
    recommendationId: string,
    recommendationPatch: RecommendationPatch[],
    options?: UpdateRecommendationOptionalParams
  ): Promise<
    PollerLike<
      PollOperationState<UpdateRecommendationResponse>,
      UpdateRecommendationResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<UpdateRecommendationResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      {
        resourceGroupName,
        workspaceName,
        recommendationId,
        recommendationPatch,
        options
      },
      recommendationOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs
    });
    await poller.poll();
    return poller;
  }

  /**
   * Patch a recommendation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param recommendationId Recommendation Id.
   * @param recommendationPatch Recommendation Fields to Update.
   * @param options The options parameters.
   */
  async beginRecommendationAndWait(
    resourceGroupName: string,
    workspaceName: string,
    recommendationId: string,
    recommendationPatch: RecommendationPatch[],
    options?: UpdateRecommendationOptionalParams
  ): Promise<UpdateRecommendationResponse> {
    const poller = await this.beginRecommendation(
      resourceGroupName,
      workspaceName,
      recommendationId,
      recommendationPatch,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const recommendationOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations/{recommendationId}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.Recommendation
    },
    201: {
      bodyMapper: Mappers.Recommendation
    },
    202: {
      bodyMapper: Mappers.Recommendation
    },
    204: {
      bodyMapper: Mappers.Recommendation
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.recommendationPatch,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.recommendationId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
