{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188655008703?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685516BC4603\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188655008703/dir168625188662205862?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685516CA0B9A\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:18:06.6906010Z",
        "x-ms-file-creation-time": "2023-06-08T19:18:06.6906010Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-08T19:18:06.6906010Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188655008703/sourcefile168625188671303553?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685516D55499\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:18:06.7645593Z",
        "x-ms-file-creation-time": "2023-06-08T19:18:06.7645593Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:18:06.7645593Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188655008703/sourcefile168625188671303553?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685516D55499\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:06 GMT",
        "x-ms-lease-id": "2d390fac-d192-40f5-8d58-cd4e1f34a5ab",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188655008703/destfile168625188685303375?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the file and no lease ID was specified in the request.\n",
        "RequestId:53b7a9b0-f01a-0062-083d-9a0896000000\n",
        "Time:2023-06-08T19:18:06.9061700Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188655008703/sourcefile168625188671303553?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB685516D55499\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:18:06.7645593Z",
        "x-ms-file-creation-time": "2023-06-08T19:18:06.7645593Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:18:06.7645593Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-lease-duration": "infinite",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188655008703?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destfile": "destfile168625188685303375",
    "dir": "dir168625188662205862",
    "file": "file168625188671105251",
    "share": "share168625188655008703",
    "sourcefile": "sourcefile168625188671303553"
  }
}
