{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625186326308548?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685508DAE1D9\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:43 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625186326308548/dir168625186333304044?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685508E6001C\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:17:43.3857052Z",
        "x-ms-file-creation-time": "2023-06-08T19:17:43.3857052Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-08T19:17:43.3857052Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625186326308548/dir168625186333304044/file168625186340607143?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685508F0D400\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:17:43.4566656Z",
        "x-ms-file-creation-time": "2023-06-08T19:17:43.4566656Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:17:43.4566656Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625186326308548/dir168625186333304044/copiedfile168625186347704771?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "ReadOnly",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685508FB80D6\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:43 GMT",
        "x-ms-file-attributes": "ReadOnly | Archive",
        "x-ms-file-change-time": "2023-06-08T19:17:43.5266262Z",
        "x-ms-file-creation-time": "2023-06-08T19:17:43.5266262Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-06-08T19:17:43.5266262Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625186326308548/dir168625186333304044/copiedfile168625186347704771?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-copy-ignore-readonly": "true",
        "x-ms-file-copy-set-archive": "false",
        "x-ms-file-last-write-time": "source",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)",
        "x-ms-file-permission-copy-mode": "override",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685509167EFF\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:43 GMT",
        "x-ms-copy-id": "291e2735-1fbb-4d8b-8487-cf975f44e9b7",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625186326308548/dir168625186333304044/file168625186340607143?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB685508F0D400\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:17:43.4566656Z",
        "x-ms-file-creation-time": "2023-06-08T19:17:43.4566656Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:17:43.4566656Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625186326308548/dir168625186333304044/copiedfile168625186347704771?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB685509167EFF\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:43 GMT",
        "x-ms-copy-completion-time": "Thu, 08 Jun 2023 19:17:43 GMT",
        "x-ms-copy-id": "291e2735-1fbb-4d8b-8487-cf975f44e9b7",
        "x-ms-copy-progress": "1024/1024",
        "x-ms-copy-status": "success",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:17:43.7035263Z",
        "x-ms-file-creation-time": "2023-06-08T19:17:43.7035263Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-06-08T19:17:43.4566656Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4798458091364766607*11581588750433322810",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625186326308548?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copiedfile": "copiedfile168625186347704771",
    "dir": "dir168625186333304044",
    "file": "file168625186340607143",
    "share": "share168625186326308548"
  }
}
