{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188276301901?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6855147A4CDC\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:02 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188276301901/dir168625188283308388?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB68551485783A\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:18:02.8857402Z",
        "x-ms-file-creation-time": "2023-06-08T19:18:02.8857402Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-08T19:18:02.8857402Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188276301901/sourcefile168625188290609356?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB68551490732A\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:18:02.9577002Z",
        "x-ms-file-creation-time": "2023-06-08T19:18:02.9577002Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:18:02.9577002Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188276301901/destfile168625188297804058?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "2048",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6855149B2000\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:03 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:18:03.0276608Z",
        "x-ms-file-creation-time": "2023-06-08T19:18:03.0276608Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-06-08T19:18:03.0276608Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188276301901/destfile168625188297804058?comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceAlreadyExists",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified resource already exists.\n",
        "RequestId:53b7a96b-f01a-0062-4e3d-9a0896000000\n",
        "Time:2023-06-08T19:18:03.1003731Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188276301901/sourcefile168625188290609356?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB68551490732A\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:18:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:18:02.9577002Z",
        "x-ms-file-creation-time": "2023-06-08T19:18:02.9577002Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:18:02.9577002Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625188276301901?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destfile": "destfile168625188297804058",
    "dir": "dir168625188283308388",
    "file": "file168625188290608777",
    "share": "share168625188276301901",
    "sourcefile": "sourcefile168625188290609356"
  }
}
