{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625185929909773?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6855067E11B6\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:39 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625185929909773/dir168625185937004899?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685506897B64\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:17:39.4239332Z",
        "x-ms-file-creation-time": "2023-06-08T19:17:39.4239332Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-08T19:17:39.4239332Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625185929909773/dir168625185937004899/file168625185944403765?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "11",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB685506944F44\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:17:39.4948932Z",
        "x-ms-file-creation-time": "2023-06-08T19:17:39.4948932Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:17:39.4948932Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625185929909773/dir168625185937004899/file168625185944403765?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-a": "a",
        "x-ms-meta-b": "b",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6855069ED518\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625185929909773/dir168625185937004899/file168625185944403765?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB6855069ED518\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:17:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:17:39.5638552Z",
        "x-ms-file-creation-time": "2023-06-08T19:17:39.4948932Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:17:39.4948932Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-a": "a",
        "x-ms-meta-b": "b",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625185929909773?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168625185937004899",
    "file": "file168625185944403765",
    "share": "share168625185929909773"
  }
}
