# Used in most samples. Retrieve these values from a Cognitive Services instance
# in the Azure Portal.
FORM_RECOGNIZER_ENDPOINT="https://<resource name>.cognitiveservies.azure.com/"
FORM_RECOGNIZER_API_KEY="<form recognizer api key>"

# Used in the getBoundingBoxes sample.
# Must be set to the GUID of a model (labeled or unlabeled) that has finished
# training.
CUSTOM_MODEL_ID="<GUID of a custom model>"

# Used in the recognizeCustomForm and differentiateLabeledUnlabeled samples.
# Must be set to the GUID of a model trained using **unlabeled** data.
#
# Running the trainLabeledModel sample will output the GUID of the model it trains.
UNLABELED_CUSTOM_MODEL_ID="<GUID of an unlabeled model>"

# Used in the differentiateLabeledUnlabeled sample.
# Must be set to the GUID of a model trained using **labeled** data.
#
# Running the trainLabeledModel sample will output the GUID of the model it trains.
LABELED_CUSTOM_MODEL_ID="<GUID of a labeled model>"

# Used in the training samples (trainLabeledModel and trainUnlabeledModel). These must
# be set to SAS URLs to Azure Blob Storage containers that hold the documents to train
# the model.
#
# See the service training documentation for more information about how to prepare a
# container:
# https://docs.microsoft.com/azure/cognitive-services/form-recognizer/build-training-data-set
LABELED_CONTAINER_SAS_URL="<Azure blob container SAS URL containing labeled data>"
UNLABELED_CONTAINER_SAS_URL="<Azure blob container SAS URL containing unlabeled data>"

# Used to authenticate using Azure AD as a service principal for role-based authentication
# in the authenticationMethods sample.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential
AZURE_TENANT_ID="<AD tenant id or name>"
AZURE_CLIENT_ID="<ID of the user/service principal to authenticate as>"
AZURE_CLIENT_SECRET="<client secret used to authenticate to Azure AD>"

# Determine the source and target credentials and model information
# used in the copyModel sample. The sample copies a model from the
# SOURCE account to the TARGET account
FORM_RECOGNIZER_SOURCE_API_KEY="<source account API key>"
FORM_RECOGNIZER_SOURCE_ENDPOINT="https://<source account>.cognitiveservices.azure.com"
FORM_RECOGNIZER_SOURCE_MODEL_ID="<GUID of model to copy>"

FORM_RECOGNIZER_TARGET_API_KEY="<target account API key>"
FORM_RECOGNIZER_TARGET_ENDPOINT="https://<target account>.cognitiveservices.azure.com"
FORM_RECOGNIZER_TARGET_REGION="<Azure region for target resource>"
FORM_RECOGNIZER_TARGET_RESOURCE_ID="<target resource id>"

