{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NotificationHubs/namespaces/mynamespacexxx/notificationHubs/mynotificationhubsxxx?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "de0d41bf-04ca-4867-9c8a-2219d1f96abb",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "registrationTtl": "10675199.02:48:05.4775807",
          "dailyMaxActiveDevices": 0
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NotificationHubs/namespaces/mynamespacexxx/NotificationHubs/mynotificationhubsxxx",
        "name": "mynotificationhubsxxx",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs",
        "location": "East US"
      }
    }
  ],
  "Variables": {}
}
