{
  "Entries": [
    {
      "RequestUri": "https://joheredicoms.communication.azure.com/identities?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Thu, 24 Feb 2022 20:44:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "11eYntUtfUWdT8sRbq49qw.0",
        "X-Processing-Time": "85ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "sanitized"
        }
      }
    },
    {
      "RequestUri": "https://joheredicoms.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "60\u002BXGy/KS72mYCMozQDW1tzfkFvdp5Qzbvub34UOQ5s=",
        "x-ms-date": "Thu, 24 Feb 2022 20:44:06 GMT"
      },
      "RequestBody": {
        "scopes": []
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json",
        "MS-CV": "OryDVxbpjkeQYgOtpI/jyQ.0",
        "X-Processing-Time": "16ms"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationError",
          "message": "Invalid scopes - Scopes field is required.",
          "target": "scopes"
        }
      }
    }
  ],
  "Variables": {}
}
