{
  "Entries": [
    {
      "RequestUri": "https://joheredicoms.communication.azure.com/identities/sanitized/:revokeAccessTokens?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Thu, 24 Feb 2022 20:44:06 GMT"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json",
        "MS-CV": "pdEEYz0y5E23dnyKK32gHA.0",
        "X-Processing-Time": "15ms"
      },
      "ResponseBody": {
        "error": {
          "code": "IdentityNotOwned",
          "message": "Provided identity doesn\u0027t belong to the resource."
        }
      }
    }
  ],
  "Variables": {}
}
