# Used in most samples. Retrieve these values from an Event Hub in the Azure Portal.
EVENTHUB_FQDN=<your-eventhubs-namespace>.servicebus.windows.net
EVENTHUB_NAME=<name of a single eventhub>
CONSUMER_GROUP_NAME=<name of a consumer group>

# Used in the useWithIotHub sample. Retrieve this value from an IoT Hub's built-in endpoints in the Azure Portal.
IOTHUB_EH_COMPATIBLE_CONNECTION_STRING=<connection string with EntityPath>