{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-jobs?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "iRU4FoF\u002BSHDyek4I2mTj9UxqfsCodrYA4ivTcF4xVFQ=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:12 GMT"
      },
      "RequestBody": {
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b403bfda-0000-0700-0000-65457e960000\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 23:13:26 GMT",
        "trace-id": "330d0cb3-3bae-50b1-c56f-110a6a5755bd"
      },
      "ResponseBody": {
        "id": "test-d-policy-recorded-jobs",
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        },
        "etag": "\u0022b403bfda-0000-0700-0000-65457e960000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-e-policy-recorded-jobs?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Cra0Om0ZqhFeDkbLieY\u002Bv\u002B7gXRaJ3OqYfEy3xRhld5Y=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:12 GMT"
      },
      "RequestBody": {
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling"
              }
            ],
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d1b3365-0000-0700-0000-65483a5e0000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:10 GMT",
        "trace-id": "f1208bfb-604d-a760-b0f4-6ce95f15b7ff"
      },
      "ResponseBody": {
        "id": "test-e-policy-recorded-jobs",
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            },
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling",
                "id": "994bc568-1e7d-4ea7-8de4-3cd07ee1e671"
              }
            ]
          }
        ],
        "etag": "\u00222d1b3365-0000-0700-0000-65483a5e0000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-jobs?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "1FbWDlkYNs0PHIE8\u002BMhyPKGHh\u002BKztZc0cZwoX8Hhj8c=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:12 GMT"
      },
      "RequestBody": {
        "id": "test-a-queue-recorded-jobs",
        "name": "test-a-queue",
        "exceptionPolicyId": "test-e-policy-recorded-jobs",
        "distributionPolicyId": "test-d-policy-recorded-jobs",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e2036717-0000-0700-0000-65457e970000\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 23:13:27 GMT",
        "trace-id": "9f98019d-f4c3-b85c-fb4d-377710c13784"
      },
      "ResponseBody": {
        "id": "test-a-queue-recorded-jobs",
        "name": "test-a-queue",
        "distributionPolicyId": "test-d-policy-recorded-jobs",
        "labels": {
          "Id": "test-a-queue-recorded-jobs"
        },
        "exceptionPolicyId": "test-e-policy-recorded-jobs",
        "etag": "\u0022e2036717-0000-0700-0000-65457e970000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/classificationPolicies/test-c-policy-recorded-jobs?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "OVJbBw7XtqDPGeuYZG8B54E7KeiWUptKurazKpEeB9E=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:12 GMT"
      },
      "RequestBody": {
        "name": "test-c-policy",
        "fallbackQueueId": "test-a-queue-recorded-jobs"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022dc036143-0000-0700-0000-6545805f0000\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 23:21:03 GMT",
        "trace-id": "cb5dd098-f8de-05e5-0eff-4349cdc0060f"
      },
      "ResponseBody": {
        "id": "test-c-policy-recorded-jobs",
        "name": "test-c-policy",
        "fallbackQueueId": "test-a-queue-recorded-jobs",
        "queueSelectorAttachments": [],
        "workerSelectorAttachments": [],
        "etag": "\u0022dc036143-0000-0700-0000-6545805f0000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/jobs/test-job-recorded-jobs?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000006-0000-0000-f163-f29563dedb08\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:10 GMT",
        "trace-id": "3023d6eb-a0ba-e3fc-f953-899e531e2711"
      },
      "ResponseBody": {
        "id": "test-job-recorded-jobs",
        "status": "queued",
        "enqueuedAt": "2023-11-06T00:59:08.9531666\u002B00:00",
        "channelId": "test-channel",
        "classificationPolicyId": "test-c-policy-recorded-jobs",
        "queueId": "test-a-queue-recorded-jobs",
        "priority": 1,
        "requestedWorkerSelectors": [],
        "attachedWorkerSelectors": [],
        "labels": {},
        "assignments": {},
        "tags": {},
        "notes": [],
        "matchingMode": {
          "kind": "queue-and-match"
        },
        "etag": "\u002200000006-0000-0000-f163-f29563dedb08\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/jobs/test-job-recorded-jobs/position?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:12 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "6c78606f-7b15-cea1-3101-67672ad1abcf"
      },
      "ResponseBody": {
        "jobId": "test-job-recorded-jobs",
        "position": 1,
        "queueId": "test-a-queue-recorded-jobs",
        "queueLength": 1
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/classificationPolicies/test-c-policy-recorded-jobs?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "7d446689-2aa1-8684-8a71-aaae71c7eb21"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/classificationPolicies/test-c-policy-recorded-jobs",
          "details": [
            {
              "code": "ActiveJobWithClassificationPolicyExist",
              "message": "There is active job with this classification policy"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-jobs?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "56769910-dd0b-b58d-ae0a-e2477e75e8c1"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is active job with this queue\r\n -- : There is classification policy with this queue as fallback queue",
          "target": "/routing/queues/test-a-queue-recorded-jobs"
        }
      }
    }
  ],
  "Variables": {}
}
