{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ServiceFabric/clusters/myclusterxxxy/applicationTypes?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "applicationTypes",
            "location": "eastus",
            "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ServiceFabric/clusters/myclusterxxxy/applicationTypes/myapplicationtypexxxy",
            "name": "myapplicationtypexxxy",
            "etag": "W/\u0022637934593225022283\u0022",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2022-07-15T05:22:02.1274185\u002B00:00",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-07-15T05:22:02.1274185\u002B00:00"
            },
            "properties": {
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
