SCHEMAREGISTRY_AVRO_FULLY_QUALIFIED_NAMESPACE=<Fully qualified namespace for an Avro schema group>
SCHEMAREGISTRY_JSON_FULLY_QUALIFIED_NAMESPACE=<Fully qualified namespace for a JSON schema group>
SCHEMAREGISTRY_CUSTOM_FULLY_QUALIFIED_NAMESPACE=<Fully qualified namespace for a custom schema group>
SCHEMA_REGISTRY_GROUP=<Group name for schemas in registry>
