/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { Assessments } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AdvisorManagementClient } from "../advisorManagementClient.js";
import {
  AssessmentResult,
  AssessmentsListNextOptionalParams,
  AssessmentsListOptionalParams,
  AssessmentsListResponse,
  AssessmentsDeleteOptionalParams,
  AssessmentsGetOptionalParams,
  AssessmentsGetResponse,
  AssessmentsPutOptionalParams,
  AssessmentsPutResponse,
  AssessmentsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing Assessments operations. */
export class AssessmentsImpl implements Assessments {
  private readonly client: AdvisorManagementClient;

  /**
   * Initialize a new instance of the class Assessments class.
   * @param client Reference to the service client
   */
  constructor(client: AdvisorManagementClient) {
    this.client = client;
  }

  /**
   * Get list of Azure Advisor assessment.
   * @param options The options parameters.
   */
  public list(
    options?: AssessmentsListOptionalParams,
  ): PagedAsyncIterableIterator<AssessmentResult> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: AssessmentsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AssessmentResult[]> {
    let result: AssessmentsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: AssessmentsListOptionalParams,
  ): AsyncIterableIterator<AssessmentResult> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Delete a existing Azure Advisor assessment.
   * @param assessmentName Advisor assessment name.
   * @param options The options parameters.
   */
  delete(
    assessmentName: string,
    options?: AssessmentsDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { assessmentName, options },
      deleteOperationSpec,
    );
  }

  /**
   * Get a existing Azure Advisor assessment.
   * @param assessmentName Advisor assessment name.
   * @param options The options parameters.
   */
  get(
    assessmentName: string,
    options?: AssessmentsGetOptionalParams,
  ): Promise<AssessmentsGetResponse> {
    return this.client.sendOperationRequest(
      { assessmentName, options },
      getOperationSpec,
    );
  }

  /**
   * Create or Overwrite Azure Advisor assessment resource.
   * @param assessmentName Advisor assessment name.
   * @param assessmentContract The Azure Advisor assessment data structure.
   * @param options The options parameters.
   */
  put(
    assessmentName: string,
    assessmentContract: AssessmentResult,
    options?: AssessmentsPutOptionalParams,
  ): Promise<AssessmentsPutResponse> {
    return this.client.sendOperationRequest(
      { assessmentName, assessmentContract, options },
      putOperationSpec,
    );
  }

  /**
   * Get list of Azure Advisor assessment.
   * @param options The options parameters.
   */
  private _list(
    options?: AssessmentsListOptionalParams,
  ): Promise<AssessmentsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: AssessmentsListNextOptionalParams,
  ): Promise<AssessmentsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/assessments/{assessmentName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/assessments/{assessmentName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessmentResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const putOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/assessments/{assessmentName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.AssessmentResult,
    },
    201: {
      bodyMapper: Mappers.AssessmentResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.assessmentContract,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/assessments",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessmentListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.top1,
    Parameters.skiptoken,
  ],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessmentListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
