/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { RecommendationMetadata } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AdvisorManagementClient } from "../advisorManagementClient.js";
import {
  MetadataEntity,
  RecommendationMetadataListNextOptionalParams,
  RecommendationMetadataListOptionalParams,
  RecommendationMetadataListResponse,
  RecommendationMetadataGetOptionalParams,
  RecommendationMetadataGetResponse,
  RecommendationMetadataListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing RecommendationMetadata operations. */
export class RecommendationMetadataImpl implements RecommendationMetadata {
  private readonly client: AdvisorManagementClient;

  /**
   * Initialize a new instance of the class RecommendationMetadata class.
   * @param client Reference to the service client
   */
  constructor(client: AdvisorManagementClient) {
    this.client = client;
  }

  /**
   * Gets the list of metadata entities.
   * @param options The options parameters.
   */
  public list(
    options?: RecommendationMetadataListOptionalParams,
  ): PagedAsyncIterableIterator<MetadataEntity> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: RecommendationMetadataListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<MetadataEntity[]> {
    let result: RecommendationMetadataListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: RecommendationMetadataListOptionalParams,
  ): AsyncIterableIterator<MetadataEntity> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets the metadata entity.
   * @param name Name of metadata entity.
   * @param options The options parameters.
   */
  get(
    name: string,
    options?: RecommendationMetadataGetOptionalParams,
  ): Promise<RecommendationMetadataGetResponse> {
    return this.client.sendOperationRequest(
      { name, options },
      getOperationSpec,
    );
  }

  /**
   * Gets the list of metadata entities.
   * @param options The options parameters.
   */
  private _list(
    options?: RecommendationMetadataListOptionalParams,
  ): Promise<RecommendationMetadataListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: RecommendationMetadataListNextOptionalParams,
  ): Promise<RecommendationMetadataListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Advisor/metadata/{name}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MetadataEntity,
    },
    404: {
      bodyMapper: Mappers.ARMErrorResponseBody,
      isError: true,
    },
    default: {
      bodyMapper: Mappers.ArmErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.name],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Advisor/metadata",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MetadataEntityListResult,
    },
    default: {
      bodyMapper: Mappers.ArmErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MetadataEntityListResult,
    },
    default: {
      bodyMapper: Mappers.ArmErrorResponse,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
