/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Locations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureVMwareSolutionAPI } from "../azureVMwareSolutionAPI";
import {
  LocationsCheckTrialAvailabilityOptionalParams,
  LocationsCheckTrialAvailabilityResponse,
  LocationsCheckQuotaAvailabilityOptionalParams,
  LocationsCheckQuotaAvailabilityResponse
} from "../models";

/** Class containing Locations operations. */
export class LocationsImpl implements Locations {
  private readonly client: AzureVMwareSolutionAPI;

  /**
   * Initialize a new instance of the class Locations class.
   * @param client Reference to the service client
   */
  constructor(client: AzureVMwareSolutionAPI) {
    this.client = client;
  }

  /**
   * Return trial status for subscription by region
   * @param location Azure region
   * @param options The options parameters.
   */
  checkTrialAvailability(
    location: string,
    options?: LocationsCheckTrialAvailabilityOptionalParams
  ): Promise<LocationsCheckTrialAvailabilityResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      checkTrialAvailabilityOperationSpec
    );
  }

  /**
   * Return quota for subscription by region
   * @param location Azure region
   * @param options The options parameters.
   */
  checkQuotaAvailability(
    location: string,
    options?: LocationsCheckQuotaAvailabilityOptionalParams
  ): Promise<LocationsCheckQuotaAvailabilityResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      checkQuotaAvailabilityOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const checkTrialAvailabilityOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkTrialAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.Trial
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const checkQuotaAvailabilityOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.AVS/locations/{location}/checkQuotaAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.Quota
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
