{
  "Entries": [
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/users/me/environments/SdkTest-Environment?api-version=2022-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "catalogItemName": "Empty",
        "environmentType": "sdk-default-environment-type",
        "catalogName": "sdk-default-catalog"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/79281898-1d09-40a4-b69f-45cea0170f04?monitor=true",
        "Operation-Location": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/79281898-1d09-40a4-b69f-45cea0170f04",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T06:23:19.3632131Z"
      },
      "ResponseBody": {
        "name": "SdkTest-Environment",
        "environmentType": "sdk-default-environment-type",
        "owner": "b854345f-849a-473b-be41-fc43e06e02f4",
        "provisioningState": "Creating",
        "catalogName": "sdk-default-catalog",
        "catalogItemName": "Empty",
        "scheduledTasks": {},
        "tags": {}
      }
    },
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/79281898-1d09-40a4-b69f-45cea0170f04?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/79281898-1d09-40a4-b69f-45cea0170f04?monitor=true",
        "Operation-Location": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/79281898-1d09-40a4-b69f-45cea0170f04",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T06:23:20.0334165Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/79281898-1d09-40a4-b69f-45cea0170f04",
        "name": "79281898-1d09-40a4-b69f-45cea0170f04",
        "status": "NotStarted",
        "startTime": "2022-10-06T06:22:19.8161668\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/79281898-1d09-40a4-b69f-45cea0170f04?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/79281898-1d09-40a4-b69f-45cea0170f04?monitor=true",
        "Operation-Location": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/79281898-1d09-40a4-b69f-45cea0170f04",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T06:24:56.5382621Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/79281898-1d09-40a4-b69f-45cea0170f04",
        "name": "79281898-1d09-40a4-b69f-45cea0170f04",
        "status": "Succeeded",
        "startTime": "2022-10-06T06:22:19.8161668\u002B00:00",
        "endTime": "2022-10-06T06:23:44.6472859\u002B00:00"
      }
    },
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/users/me/environments/SdkTest-Environment?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T06:25:26.7461990Z"
      },
      "ResponseBody": {
        "name": "SdkTest-Environment",
        "environmentType": "sdk-default-environment-type",
        "owner": "b854345f-849a-473b-be41-fc43e06e02f4",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-default-project-SdkTest-Environment",
        "catalogName": "sdk-default-catalog",
        "catalogItemName": "Empty",
        "scheduledTasks": {},
        "tags": {}
      }
    },
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/users/me/environments/SdkTest-Environment/artifacts?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T06:25:26.9893645Z"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "id1",
            "name": "file1.json",
            "isDirectory": false,
            "fileSize": 1024.0
          },
          {
            "id": "id2",
            "name": "file2.json",
            "isDirectory": false,
            "fileSize": 1024.0
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/70e40696-e6ba-4598-9cf7-3d25b8735b8b?api-version=2022-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/70e40696-e6ba-4598-9cf7-3d25b8735b8b?monitor=true",
        "Operation-Location": "https://88888888-8888-8888-8888-888888888888-sdk-test-devcenter.devcenter.azure.com/projects/sdk-default-project/operationstatuses/70e40696-e6ba-4598-9cf7-3d25b8735b8b",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2022-10-06T06:27:04.0127545Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/70e40696-e6ba-4598-9cf7-3d25b8735b8b",
        "name": "70e40696-e6ba-4598-9cf7-3d25b8735b8b",
        "status": "Succeeded",
        "startTime": "2022-10-06T06:24:33.1768307\u002B00:00",
        "endTime": "2022-10-06T06:25:46.7702484\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
