{
  "Entries": [
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/users/me/environments/SdkTest-Environment?api-version=2022-11-11-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "catalogItemName": "Empty",
        "environmentType": "sdk-default-environment-type",
        "catalogName": "sdk-default-catalog"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0?monitor=true",
        "Operation-Location": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-01-28T00:04:29.4721656Z"
      },
      "ResponseBody": {
        "name": "SdkTest-Environment",
        "environmentType": "sdk-default-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Creating",
        "catalogName": "sdk-default-catalog",
        "catalogItemName": "Empty",
        "scheduledTasks": {},
        "tags": {}
      }
    },
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0?api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0?monitor=true",
        "Operation-Location": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-01-28T00:03:58.1732020Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0",
        "name": "e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0",
        "status": "Running",
        "startTime": "2023-01-28T00:03:29.6073475\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0?api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0?monitor=true",
        "Operation-Location": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-01-28T00:06:52.3972795Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0",
        "name": "e7b2cb94-6e3c-4dbe-a24f-fb8e37b5b3a0",
        "status": "Succeeded",
        "startTime": "2023-01-28T00:03:29.6073475\u002B00:00",
        "endTime": "2023-01-28T00:05:35.9017236\u002B00:00"
      }
    },
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/users/me/environments/SdkTest-Environment?api-version=2022-11-11-preview\u0026api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-01-28T00:07:01.9432171Z"
      },
      "ResponseBody": {
        "name": "SdkTest-Environment",
        "environmentType": "sdk-default-environment-type",
        "user": "11111111-1111-1111-1111-111111111111",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-default-project-sdktest-environment",
        "catalogName": "sdk-default-catalog",
        "catalogItemName": "Empty",
        "scheduledTasks": {},
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/4a80fe1e-7e5f-4b11-954f-24055e7499f1?api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/4a80fe1e-7e5f-4b11-954f-24055e7499f1?monitor=true",
        "Operation-Location": "https://88888888-8888-8888-8888-888888888888-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/////////////////////////projects/sdk-default-project/operationstatuses/4a80fe1e-7e5f-4b11-954f-24055e7499f1",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-01-28T00:07:22.2894225Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-default-project/operationStatuses/4a80fe1e-7e5f-4b11-954f-24055e7499f1",
        "name": "4a80fe1e-7e5f-4b11-954f-24055e7499f1",
        "status": "Succeeded",
        "startTime": "2023-01-28T00:06:02.24019\u002B00:00",
        "endTime": "2023-01-28T00:06:55.930604\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
