{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/me/devboxes/mydevbox?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "poolName": "sdk-pool-6ieikn5v2nfnu"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-06T03:36:47.8684328Z"
      },
      "ResponseBody": {
        "name": "mydevbox",
        "projectName": "sdk-project-x2z4o4ohvwcbi",
        "poolName": "sdk-pool-6ieikn5v2nfnu",
        "hibernateSupport": "Disabled",
        "provisioningState": "Creating",
        "actionState": "Unknown",
        "powerState": null,
        "uniqueId": "a3280ca7-d125-4fc9-873d-cb0fb8a43740",
        "location": "centraluseuap",
        "osType": "Windows",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "hardwareProfile": {
          "vCPUs": 8,
          "skuName": "general_a_8c32gb_v1",
          "vcpUs": 8,
          "memoryGB": 32
        },
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 1024
          }
        },
        "imageReference": {
          "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "win11-21h2-ent-cpc-m365",
          "publishedDate": "2021-10-04T00:00:00\u002B00:00"
        },
        "createdTime": "2023-05-06T03:35:47.944554\u002B00:00",
        "localAdministrator": "Enabled"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-06T03:36:16.1989515Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55",
        "name": "96ed70f8-5d5d-423c-94eb-1b16e286cb55",
        "status": "NotStarted",
        "startTime": "2023-05-06T03:35:48.0180675\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-06T03:56:56.9450767Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/96ed70f8-5d5d-423c-94eb-1b16e286cb55",
        "name": "96ed70f8-5d5d-423c-94eb-1b16e286cb55",
        "status": "Succeeded",
        "startTime": "2023-05-06T03:35:48.0180675\u002B00:00",
        "endTime": "2023-05-06T03:55:29.5842585\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/me/devboxes/mydevbox?api-version=2023-04-01\u0026api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Li[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/me/devboxes/mydevbox/actions:delay?until=2023-05-06T00%3A00%3A00Z&api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "295",
        "X-Rate-Limit-Reset": "2023-05-05T16:54:25.3184747Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "schedule-default",
            "result": "Succeeded",
            "action": {
              "name": "schedule-default",
              "actionType": "Stop",
              "sourceId": "/projects/proj-sdk-tests/pools/sdk-default-pool/schedules/default",
              "suspendedUntil": "2023-05-06T05:00:00\u002B00:00",
              "next": {
                "scheduledTime": "2023-05-06T05:00:00.000000Z"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/b40e5393-6305-4c50-85c8-7169c05f79e2?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/b40e5393-6305-4c50-85c8-7169c05f79e2?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/b40e5393-6305-4c50-85c8-7169c05f79e2",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-06T04:02:29.9794938Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/b40e5393-6305-4c50-85c8-7169c05f79e2",
        "name": "b40e5393-6305-4c50-85c8-7169c05f79e2",
        "status": "Succeeded",
        "startTime": "2023-05-06T03:55:57.4667521\u002B00:00",
        "endTime": "2023-05-06T04:01:10.6486368\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
