{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/me/devboxes/mydevbox?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "poolName": "sdk-pool-6ieikn5v2nfnu"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "295",
        "X-Rate-Limit-Reset": "2023-05-06T01:45:45.1972975Z"
      },
      "ResponseBody": {
        "name": "mydevbox",
        "projectName": "sdk-project-x2z4o4ohvwcbi",
        "poolName": "sdk-pool-6ieikn5v2nfnu",
        "hibernateSupport": "Disabled",
        "provisioningState": "Creating",
        "actionState": "Unknown",
        "powerState": null,
        "uniqueId": "6a780bc4-76ff-4f79-b025-b7e8f7041154",
        "location": "centraluseuap",
        "osType": "Windows",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "hardwareProfile": {
          "vCPUs": 8,
          "skuName": "general_a_8c32gb_v1",
          "vcpUs": 8,
          "memoryGB": 32
        },
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 1024
          }
        },
        "imageReference": {
          "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "win11-21h2-ent-cpc-m365",
          "publishedDate": "2021-10-04T00:00:00\u002B00:00"
        },
        "createdTime": "2023-05-06T01:45:43.972695\u002B00:00",
        "localAdministrator": "Enabled"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-06T01:46:15.2002698Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3",
        "name": "1874fb1f-1d25-4f74-9161-0e665f3e89a3",
        "status": "NotStarted",
        "startTime": "2023-05-06T01:45:44.0099837\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-06T02:04:23.6029373Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/1874fb1f-1d25-4f74-9161-0e665f3e89a3",
        "name": "1874fb1f-1d25-4f74-9161-0e665f3e89a3",
        "status": "Succeeded",
        "startTime": "2023-05-06T01:45:44.0099837\u002B00:00",
        "endTime": "2023-05-06T02:03:25.2370783\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/me/devboxes/mydevbox?api-version=2023-04-01\u0026api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Li[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/devboxes?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-06T02:04:23.3435784Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "mydevbox",
            "projectName": "sdk-project-x2z4o4ohvwcbi",
            "poolName": "sdk-pool-6ieikn5v2nfnu",
            "hibernateSupport": "Disabled",
            "provisioningState": "Succeeded",
            "actionState": "Unknown",
            "powerState": "Running",
            "uniqueId": "6a780bc4-76ff-4f79-b025-b7e8f7041154",
            "location": "centraluseuap",
            "osType": "Windows",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "hardwareProfile": {
              "vCPUs": 8,
              "skuName": "general_a_8c32gb_v1",
              "vcpUs": 8,
              "memoryGB": 32
            },
            "storageProfile": {
              "osDisk": {
                "diskSizeGB": 1024
              }
            },
            "imageReference": {
              "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
              "version": "1.0.0",
              "operatingSystem": "Windows11",
              "osBuildNumber": "win11-21h2-ent-cpc-m365",
              "publishedDate": "2021-10-04T00:00:00\u002B00:00"
            },
            "createdTime": "2023-05-06T01:45:43.972695\u002B00:00",
            "localAdministrator": "Enabled"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/7fda3787-47b8-41e6-997b-37206475e0cd?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/7fda3787-47b8-41e6-997b-37206475e0cd?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/7fda3787-47b8-41e6-997b-37206475e0cd",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-06T02:07:55.4584380Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/7fda3787-47b8-41e6-997b-37206475e0cd",
        "name": "7fda3787-47b8-41e6-997b-37206475e0cd",
        "status": "Succeeded",
        "startTime": "2023-05-06T02:03:53.9765669\u002B00:00",
        "endTime": "2023-05-06T02:06:34.7106541\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
