{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Logic/workflows/myworkflowxxx?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {},
            "actions": {},
            "outputs": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-07-29T02:30:29.4141863Z",
          "changedTime": "2022-07-29T02:30:29.4086103Z",
          "state": "Enabled",
          "version": "08585425450560880545",
          "accessEndpoint": "https://prod-19.eastus.logic.azure.com:443/workflows/2afcc9487d4641228c57efdbec247bc5",
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {},
            "actions": {},
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.92.98.111"
                },
                {
                  "address": "40.121.91.41"
                },
                {
                  "address": "40.114.82.191"
                },
                {
                  "address": "23.101.139.153"
                },
                {
                  "address": "23.100.29.190"
                },
                {
                  "address": "23.101.136.201"
                },
                {
                  "address": "104.45.153.81"
                },
                {
                  "address": "23.101.132.208"
                },
                {
                  "address": "52.226.216.197"
                },
                {
                  "address": "52.226.216.187"
                },
                {
                  "address": "40.76.151.25"
                },
                {
                  "address": "40.76.148.50"
                },
                {
                  "address": "20.84.29.29"
                },
                {
                  "address": "20.84.29.18"
                },
                {
                  "address": "40.76.174.83"
                },
                {
                  "address": "40.76.174.39"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "137.135.106.54"
                },
                {
                  "address": "40.117.99.79"
                },
                {
                  "address": "40.117.100.228"
                },
                {
                  "address": "137.116.126.165"
                },
                {
                  "address": "52.226.216.209"
                },
                {
                  "address": "40.76.151.124"
                },
                {
                  "address": "20.84.29.150"
                },
                {
                  "address": "40.76.174.148"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "40.71.249.139"
                },
                {
                  "address": "40.71.249.205"
                },
                {
                  "address": "40.114.40.132"
                },
                {
                  "address": "40.71.11.80/28"
                },
                {
                  "address": "40.71.15.160/27"
                },
                {
                  "address": "52.188.157.160"
                },
                {
                  "address": "20.88.153.176/28"
                },
                {
                  "address": "20.88.153.192/27"
                },
                {
                  "address": "52.151.221.184"
                },
                {
                  "address": "52.151.221.119"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Logic/workflows/myworkflowxxx",
        "name": "myworkflowxxx",
        "type": "Microsoft.Logic/workflows",
        "location": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy?api-version=2021-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "StorageV2",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "encryption": {
            "services": {
              "blob": {
                "enabled": true,
                "keyType": "Account"
              },
              "file": {
                "enabled": true,
                "keyType": "Account"
              }
            },
            "keySource": "Microsoft.Storage"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Storage/locations/eastus/asyncoperations/2f700f34-20d2-41a2-b3a3-8950aa164e79?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Storage/locations/eastus/asyncoperations/2f700f34-20d2-41a2-b3a3-8950aa164e79?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Storage/locations/eastus/asyncoperations/2f700f34-20d2-41a2-b3a3-8950aa164e79?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Storage/locations/eastus/asyncoperations/2f700f34-20d2-41a2-b3a3-8950aa164e79?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy",
        "name": "mystorageaccountyyy",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2022-07-29T02:30:33.7747641Z",
            "key2": "2022-07-29T02:30:33.7747641Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-07-29T02:30:33.7903811Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-07-29T02:30:33.7903811Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-07-29T02:30:33.6653815Z",
          "primaryEndpoints": {
            "dfs": "https://mystorageaccountyyy.dfs.core.windows.net/",
            "web": "https://mystorageaccountyyy.z13.web.core.windows.net/",
            "blob": "https://mystorageaccountyyy.blob.core.windows.net/",
            "queue": "https://mystorageaccountyyy.queue.core.windows.net/",
            "table": "https://mystorageaccountyyy.table.core.windows.net/",
            "file": "https://mystorageaccountyyy.file.core.windows.net/"
          },
          "primaryLocation": "eastus",
          "statusOfPrimary": "available",
          "secondaryLocation": "westus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx",
        "name": "mynamespacexxx",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "East US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "azure_subscription_id:mynamespacexxx",
          "createdAt": "2022-07-29T02:30:56.607Z",
          "updatedAt": "2022-07-29T02:30:56.607Z",
          "serviceBusEndpoint": "https://mynamespacexxx.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/authorizationRules/myauthorizationRulexxx?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send",
            "Manage"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/authorizationRules/myauthorizationRulexxx",
        "name": "myauthorizationRulexxx",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "East US",
        "properties": {
          "rights": [
            "Listen",
            "Send",
            "Manage"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/eventhubs/myeventhubxxx?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "messageRetentionInDays": 4,
          "partitionCount": 4,
          "status": "Active",
          "captureDescription": {
            "enabled": true,
            "encoding": "Avro",
            "intervalInSeconds": 120,
            "sizeLimitInBytes": 10485763,
            "destination": {
              "name": "EventHubArchive.AzureBlockBlob",
              "properties": {
                "storageAccountResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy",
                "blobContainer": "container",
                "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventHub/namespaces/mynamespacexxx/eventhubs/myeventhubxxx",
        "name": "myeventhubxxx",
        "type": "Microsoft.EventHub/Namespaces/EventHubs",
        "location": "eastus",
        "properties": {
          "messageRetentionInDays": 4,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2022-07-29T02:31:55.92Z",
          "updatedAt": "2022-07-29T02:31:56.24Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ],
          "captureDescription": {
            "enabled": true,
            "encoding": "Avro",
            "destination": {
              "name": "EventHubArchive.AzureBlockBlob",
              "properties": {
                "storageAccountResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountyyy",
                "blobContainer": "container",
                "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}"
              }
            },
            "intervalInSeconds": 120,
            "sizeLimitInBytes": 10485763
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.OperationalInsights/workspaces/myworkspacexxx?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1"
        },
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "PerNode"
          },
          "retentionInDays": 30
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "properties": {
          "source": "Azure",
          "customerId": "15d47c37-8ce3-4eb5-8079-32a08437e7c9",
          "provisioningState": "Succeeded",
          "sku": {
            "name": "pergb2018",
            "lastSkuUpdate": "Fri, 29 Jul 2022 02:06:37 GMT"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "Fri, 29 Jul 2022 20:00:00 GMT",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "Fri, 29 Jul 2022 02:06:37 GMT",
          "modifiedDate": "Fri, 29 Jul 2022 02:18:55 GMT"
        },
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/microsoft.operationalinsights/workspaces/myworkspacexxx",
        "name": "myworkspacexxx",
        "type": "Microsoft.OperationalInsights/workspaces",
        "location": "eastus",
        "tags": {
          "tag1": "value1"
        }
      }
    }
  ],
  "Variables": {}
}
