{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Insights/logprofiles/mylogProfilexxx?api-version=2016-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11943"
      },
      "ResponseBody": {
        "code": "ResourceNotFound",
        "message": "Log profile \u0027mylogProfilexxx\u0027 under scope \u0027/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241\u0027 doesn\u0027t exist."
      }
    }
  ],
  "Variables": {}
}
