/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { Quotas } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftAzurePlaywrightServiceManagementAPI } from "../microsoftAzurePlaywrightServiceManagementAPI";
import {
  Quota,
  QuotasListBySubscriptionNextOptionalParams,
  QuotasListBySubscriptionOptionalParams,
  QuotasListBySubscriptionResponse,
  QuotaNames,
  QuotasGetOptionalParams,
  QuotasGetResponse,
  QuotasListBySubscriptionNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Quotas operations. */
export class QuotasImpl implements Quotas {
  private readonly client: MicrosoftAzurePlaywrightServiceManagementAPI;

  /**
   * Initialize a new instance of the class Quotas class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftAzurePlaywrightServiceManagementAPI) {
    this.client = client;
  }

  /**
   * List quotas for a given subscription Id.
   * @param location The location of quota in ARM Normalized format like eastus, southeastasia etc.
   * @param options The options parameters.
   */
  public listBySubscription(
    location: string,
    options?: QuotasListBySubscriptionOptionalParams
  ): PagedAsyncIterableIterator<Quota> {
    const iter = this.listBySubscriptionPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySubscriptionPagingPage(location, options, settings);
      }
    };
  }

  private async *listBySubscriptionPagingPage(
    location: string,
    options?: QuotasListBySubscriptionOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<Quota[]> {
    let result: QuotasListBySubscriptionResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySubscription(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySubscriptionNext(
        location,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySubscriptionPagingAll(
    location: string,
    options?: QuotasListBySubscriptionOptionalParams
  ): AsyncIterableIterator<Quota> {
    for await (const page of this.listBySubscriptionPagingPage(
      location,
      options
    )) {
      yield* page;
    }
  }

  /**
   * List quotas for a given subscription Id.
   * @param location The location of quota in ARM Normalized format like eastus, southeastasia etc.
   * @param options The options parameters.
   */
  private _listBySubscription(
    location: string,
    options?: QuotasListBySubscriptionOptionalParams
  ): Promise<QuotasListBySubscriptionResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listBySubscriptionOperationSpec
    );
  }

  /**
   * Get quota by name.
   * @param location The location of quota in ARM Normalized format like eastus, southeastasia etc.
   * @param name The quota name.
   * @param options The options parameters.
   */
  get(
    location: string,
    name: QuotaNames,
    options?: QuotasGetOptionalParams
  ): Promise<QuotasGetResponse> {
    return this.client.sendOperationRequest(
      { location, name, options },
      getOperationSpec
    );
  }

  /**
   * ListBySubscriptionNext
   * @param location The location of quota in ARM Normalized format like eastus, southeastasia etc.
   * @param nextLink The nextLink from the previous successful call to the ListBySubscription method.
   * @param options The options parameters.
   */
  private _listBySubscriptionNext(
    location: string,
    nextLink: string,
    options?: QuotasListBySubscriptionNextOptionalParams
  ): Promise<QuotasListBySubscriptionNextResponse> {
    return this.client.sendOperationRequest(
      { location, nextLink, options },
      listBySubscriptionNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listBySubscriptionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePlaywrightService/locations/{location}/quotas",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.QuotaListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePlaywrightService/locations/{location}/quotas/{name}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Quota
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.name1
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listBySubscriptionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.QuotaListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
