{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "query=400 Broad St, Seattle, WA 98109\u0026limit=3"
          },
          {
            "query": "query=One, Microsoft Way, Redmond, WA 98052\u0026limit=3"
          },
          {
            "query": "query=350 5th Ave, New York, NY 10118\u0026limit=1"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://atlas.microsoft.com/search/address/batch/463636ad-4a82-4c68-998b-ddb87e72c415?api-version=1.0",
        "Retry-After": "120",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": "\u0022\u0022"
    },
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/batch/463636ad-4a82-4c68-998b-ddb87e72c415?api-version=1.0\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "query": "400 broad st seattle wa 98109",
                "queryType": "NON_NEAR",
                "queryTime": 8,
                "numResults": 1,
                "offset": 0,
                "totalResults": 1,
                "fuzzyLevel": 1
              },
              "results": [
                {
                  "type": "Point Address",
                  "id": "US/PAD/p1/48900037",
                  "score": 11.9729099274,
                  "matchConfidence": {
                    "score": 1
                  },
                  "address": {
                    "streetNumber": "400",
                    "streetName": "Broad Street",
                    "municipalitySubdivision": "Queen Anne",
                    "municipality": "Seattle",
                    "countrySecondarySubdivision": "King",
                    "countrySubdivision": "WA",
                    "countrySubdivisionName": "Washington",
                    "postalCode": "98109",
                    "extendedPostalCode": "98109-4607",
                    "countryCode": "US",
                    "country": "United States",
                    "countryCodeISO3": "USA",
                    "freeformAddress": "400 Broad Street, Seattle, WA 98109",
                    "localName": "Seattle"
                  },
                  "position": {
                    "lat": 47.62039,
                    "lon": -122.34928
                  },
                  "viewport": {
                    "topLeftPoint": {
                      "lat": 47.62129,
                      "lon": -122.35061
                    },
                    "btmRightPoint": {
                      "lat": 47.61949,
                      "lon": -122.34795
                    }
                  },
                  "entryPoints": [
                    {
                      "type": "main",
                      "position": {
                        "lat": 47.61982,
                        "lon": -122.34886
                      }
                    }
                  ]
                }
              ]
            }
          },
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "query": "one microsoft way redmond wa 98052",
                "queryType": "NO[...]
