{
  "Entries": [
    {
      "RequestUri": "https://myregistry.azurecr.io/acr/v1/library%2Fhello-world/_manifests?n=1\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://myregistry.azurecr.io/oauth2/token\u0022,service=\u0022myregistry.azurecr.io\u0022,scope=\u0022repository:library/hello-world:metadata_read\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/hello-world",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://myregistry.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=myregistry.azurecr.io\u0026access_token=SecretPlaceholder",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.616667"
      },
      "ResponseBody": {
        "refresh_token": "sanitized.eyJleHAiOjg2NDAwMDAwMDAwMDB9.sanitized"
      }
    },
    {
      "RequestUri": "https://myregistry.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=myregistry.azurecr.io\u0026scope=repository%3Alibrary%2Fhello-world%3Ametadata_read\u0026refresh_token=sanitized.eyJleHAiOjg2NDAwMDAwMDAwMDB9.sanitized\u0026grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.6"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://myregistry.azurecr.io/acr/v1/library%2Fhello-world/_manifests?n=1\u0026api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Link": "\u003C/acr/v1/library%2Fhello-world/_manifests?last=sha256%3A40d0cfd0861719208ff9f7747ab3f97844eeca509df705db44a736df863b76af\u0026n=1\u0026orderby=\u003E; rel=\u0022next\u0022"
      },
      "ResponseBody": {
        "registry": "myregistry.azurecr.io",
        "imageName": "library/hello-world",
        "manifests": [
          {
            "digest": "sha256:40d0cfd0861719208ff9f7747ab3f97844eeca509df705db44a736df863b76af",
            "imageSize": 5001,
            "createdTime": "2023-02-28T18:36:40.5864993Z",
            "lastUpdateTime": "2023-02-28T18:36:40.5864993Z",
            "architecture": "arm",
            "os": "linux",
            "mediaType": "application/vnd.docker.distribution.manifest.v2\u002Bjson",
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://myregistry.azurecr.io/acr/v1/library%2Fhello-world/_manifests?last=sha256%3A40d0cfd0861719208ff9f7747ab3f97844eeca509df705db44a736df863b76af\u0026n=1\u0026orderby=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Link": "\u003C/acr/v1/library%2Fhello-world/_manifests?last=sha256%3A432f982638b3aefab73cc58ab28f5c16e96fdb504e8c134fc58dff4bae8bf338\u0026n=1\u0026orderby=\u003E; rel=\u0022next\u0022"
      },
      "ResponseBody": {
        "registry": "myregistry.azurecr.io",
        "imageName": "library/hello-world",
        "manifests": [
          {
            "digest": "sha256:432f982638b3aefab73cc58ab28f5c16e96fdb504e8c134fc58dff4bae8bf338",
            "imageSize": 5218,
            "createdTime": "2023-02-28T18:36:40.4683044Z",
            "lastUpdateTime": "2023-02-28T18:36:40.4683044Z",
            "architecture": "arm64",
            "os": "linux",
            "mediaType": "application/vnd.docker.distribution.manifest.v2\u002Bjson",
            "changeableAttributes": {
              "deleteEnabled": true,
              "writeEnabled": true,
              "readEnabled": true,
              "listEnabled": true,
              "quarantineDetails": "{\u0022state\u0022:\u0022Scan Failed\u0022,\u0022link\u0022:\u0022https://aka.ms/test\u0022,\u0022scanner\u0022:\u0022Azure Security Monitoring-Qualys Scanner\u0022,\u0022result\u0022:{\u0022version\u0022:\u00223/2/2023 9:04:21 AM\u0022,\u0022summary\u0022:[{\u0022severity\u0022:\u0022High\u0022,\u0022count\u0022:0},{\u0022severity\u0022:\u0022Medium\u0022,\u0022count\u0022:0},{\u0022severity\u0022:\u0022Low\u0022,\u0022count\u0022:0}]}}",
              "quarantineState": "Passed"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
