/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { Offerings } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureQuantumManagementClient } from "../azureQuantumManagementClient";
import {
  ProviderDescription,
  OfferingsListNextOptionalParams,
  OfferingsListOptionalParams,
  OfferingsListResponse,
  OfferingsListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Offerings operations. */
export class OfferingsImpl implements Offerings {
  private readonly client: AzureQuantumManagementClient;

  /**
   * Initialize a new instance of the class Offerings class.
   * @param client Reference to the service client
   */
  constructor(client: AzureQuantumManagementClient) {
    this.client = client;
  }

  /**
   * Returns the list of all provider offerings available for the given location.
   * @param locationName Location.
   * @param options The options parameters.
   */
  public list(
    locationName: string,
    options?: OfferingsListOptionalParams,
  ): PagedAsyncIterableIterator<ProviderDescription> {
    const iter = this.listPagingAll(locationName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(locationName, options, settings);
      },
    };
  }

  private async *listPagingPage(
    locationName: string,
    options?: OfferingsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ProviderDescription[]> {
    let result: OfferingsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(locationName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(locationName, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    locationName: string,
    options?: OfferingsListOptionalParams,
  ): AsyncIterableIterator<ProviderDescription> {
    for await (const page of this.listPagingPage(locationName, options)) {
      yield* page;
    }
  }

  /**
   * Returns the list of all provider offerings available for the given location.
   * @param locationName Location.
   * @param options The options parameters.
   */
  private _list(
    locationName: string,
    options?: OfferingsListOptionalParams,
  ): Promise<OfferingsListResponse> {
    return this.client.sendOperationRequest(
      { locationName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param locationName Location.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    locationName: string,
    nextLink: string,
    options?: OfferingsListNextOptionalParams,
  ): Promise<OfferingsListNextResponse> {
    return this.client.sendOperationRequest(
      { locationName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Quantum/locations/{locationName}/offerings",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OfferingsListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.locationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OfferingsListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.locationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
