/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Workspace } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureQuantumManagementClient } from "../azureQuantumManagementClient";
import {
  CheckNameAvailabilityParameters,
  WorkspaceCheckNameAvailabilityOptionalParams,
  WorkspaceCheckNameAvailabilityResponse
} from "../models";

/** Class containing Workspace operations. */
export class WorkspaceImpl implements Workspace {
  private readonly client: AzureQuantumManagementClient;

  /**
   * Initialize a new instance of the class Workspace class.
   * @param client Reference to the service client
   */
  constructor(client: AzureQuantumManagementClient) {
    this.client = client;
  }

  /**
   * Check the availability of the resource name.
   * @param locationName Location.
   * @param checkNameAvailabilityParameters The name and type of the resource.
   * @param options The options parameters.
   */
  checkNameAvailability(
    locationName: string,
    checkNameAvailabilityParameters: CheckNameAvailabilityParameters,
    options?: WorkspaceCheckNameAvailabilityOptionalParams
  ): Promise<WorkspaceCheckNameAvailabilityResponse> {
    return this.client.sendOperationRequest(
      { locationName, checkNameAvailabilityParameters, options },
      checkNameAvailabilityOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const checkNameAvailabilityOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Quantum/locations/{locationName}/checkNameAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckNameAvailabilityResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.checkNameAvailabilityParameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.locationName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
