{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/RegionalFailovernode?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "p1",
        "RowKey": "r1",
        "data": "data"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/RegionalFailovernode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)",
        "ETag": "W/\u0022datetime\u00272022-10-03T20%3A52%3A14.35282Z\u0027\u0022",
        "Location": "https://fakeaccountname.table.core.windows.net/RegionalFailovernode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/RegionalFailovernode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-10-03T20%3A52%3A14.35282Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#RegionalFailovernode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-03T20%3A52%3A14.35282Z\u0027\u0022",
        "PartitionKey": "p1",
        "RowKey": "r1",
        "Timestamp": "2022-10-03T20:52:14.35282Z",
        "data": "data"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/RegionalFailovernode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
