/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { LocationBasedRecommendedActionSessionsResult } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MySQLManagementClient } from "../mySQLManagementClient";
import {
  RecommendationAction,
  LocationBasedRecommendedActionSessionsResultListNextOptionalParams,
  LocationBasedRecommendedActionSessionsResultListOptionalParams,
  LocationBasedRecommendedActionSessionsResultListResponse,
  LocationBasedRecommendedActionSessionsResultListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing LocationBasedRecommendedActionSessionsResult operations. */
export class LocationBasedRecommendedActionSessionsResultImpl
  implements LocationBasedRecommendedActionSessionsResult {
  private readonly client: MySQLManagementClient;

  /**
   * Initialize a new instance of the class LocationBasedRecommendedActionSessionsResult class.
   * @param client Reference to the service client
   */
  constructor(client: MySQLManagementClient) {
    this.client = client;
  }

  /**
   * Recommendation action session operation result.
   * @param locationName The name of the location.
   * @param operationId The operation identifier.
   * @param options The options parameters.
   */
  public list(
    locationName: string,
    operationId: string,
    options?: LocationBasedRecommendedActionSessionsResultListOptionalParams
  ): PagedAsyncIterableIterator<RecommendationAction> {
    const iter = this.listPagingAll(locationName, operationId, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(locationName, operationId, options);
      }
    };
  }

  private async *listPagingPage(
    locationName: string,
    operationId: string,
    options?: LocationBasedRecommendedActionSessionsResultListOptionalParams
  ): AsyncIterableIterator<RecommendationAction[]> {
    let result = await this._list(locationName, operationId, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        locationName,
        operationId,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    locationName: string,
    operationId: string,
    options?: LocationBasedRecommendedActionSessionsResultListOptionalParams
  ): AsyncIterableIterator<RecommendationAction> {
    for await (const page of this.listPagingPage(
      locationName,
      operationId,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Recommendation action session operation result.
   * @param locationName The name of the location.
   * @param operationId The operation identifier.
   * @param options The options parameters.
   */
  private _list(
    locationName: string,
    operationId: string,
    options?: LocationBasedRecommendedActionSessionsResultListOptionalParams
  ): Promise<LocationBasedRecommendedActionSessionsResultListResponse> {
    return this.client.sendOperationRequest(
      { locationName, operationId, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param locationName The name of the location.
   * @param operationId The operation identifier.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    locationName: string,
    operationId: string,
    nextLink: string,
    options?: LocationBasedRecommendedActionSessionsResultListNextOptionalParams
  ): Promise<LocationBasedRecommendedActionSessionsResultListNextResponse> {
    return this.client.sendOperationRequest(
      { locationName, operationId, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/recommendedActionSessionsOperationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RecommendationActionsResultList
    },
    201: {
      bodyMapper: Mappers.RecommendationActionsResultList
    }
  },
  queryParameters: [Parameters.apiVersion2],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.locationName,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RecommendationActionsResultList
    },
    201: {
      bodyMapper: Mappers.RecommendationActionsResultList
    }
  },
  queryParameters: [Parameters.apiVersion2],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.locationName,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
