/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ServerBasedPerformanceTier } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MySQLManagementClient } from "../mySQLManagementClient";
import {
  PerformanceTierProperties,
  ServerBasedPerformanceTierListOptionalParams,
  ServerBasedPerformanceTierListResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ServerBasedPerformanceTier operations. */
export class ServerBasedPerformanceTierImpl
  implements ServerBasedPerformanceTier {
  private readonly client: MySQLManagementClient;

  /**
   * Initialize a new instance of the class ServerBasedPerformanceTier class.
   * @param client Reference to the service client
   */
  constructor(client: MySQLManagementClient) {
    this.client = client;
  }

  /**
   * List all the performance tiers for a MySQL server.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    serverName: string,
    options?: ServerBasedPerformanceTierListOptionalParams
  ): PagedAsyncIterableIterator<PerformanceTierProperties> {
    const iter = this.listPagingAll(resourceGroupName, serverName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(resourceGroupName, serverName, options);
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    serverName: string,
    options?: ServerBasedPerformanceTierListOptionalParams
  ): AsyncIterableIterator<PerformanceTierProperties[]> {
    let result = await this._list(resourceGroupName, serverName, options);
    yield result.value || [];
  }

  private async *listPagingAll(
    resourceGroupName: string,
    serverName: string,
    options?: ServerBasedPerformanceTierListOptionalParams
  ): AsyncIterableIterator<PerformanceTierProperties> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      serverName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * List all the performance tiers for a MySQL server.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    serverName: string,
    options?: ServerBasedPerformanceTierListOptionalParams
  ): Promise<ServerBasedPerformanceTierListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serverName, options },
      listOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/performanceTiers",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PerformanceTierListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serverName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
