# Retrieve these values from an instance in the Azure Portal.
MONITOR_WORKSPACE_ID=<The "Workspace ID", as given in the Azure portal for your Log Analytics resource>
METRICS_RESOURCE_ID=<An Azure resource ID to query for metrics. Ex: /subscriptions/<full resource path>>
METRICS_RESOURCE_IDS=<Comma-separated Azure resource IDs, Ex: /subscriptions/<id>/resourceGroups/<rg>/providers/Microsoft.Storage/storageAccounts/<name1>,/subscriptions/<id>/resourceGroups/<rg>/providers/Microsoft.Storage/storageAccounts/<name2>>
METRICS_RESOURCE_NAMESPACE=<Resource namespace, Ex: Microsoft.OperationalInsights/workspaces>
METRICS_ENDPOINT=<Regional metrics endpoint, Ex: https://eastus.metrics.monitor.azure.com>

# To authenticate the client in your development environment, follow these guides:
# Azure Identity authentication documentation:
# https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/identity/identity#authenticate-the-client-in-development-environment
# Example usage:
# https://github.com/Azure/azure-sdk-for-js/tree/main/sdk/identity/identity#examples