{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Discovery/bookshelves?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "2b82d6dd-4e5d-4ba2-941d-41e3c74ab17b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Discovery/bookshelves/newbooks",
            "name": "newbooks",
            "type": "microsoft.discovery/bookshelves",
            "location": "centraluseuap",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-02-03T19:19:48.5868481Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-02-03T19:19:48.5868481Z"
            },
            "properties": {
              "managedResourceGroup": "mrg-dbksf-newbooks-ktgz9i",
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Resources/moboBrokers/mobr-dbksf-newbooks-ktgz9i"
                  }
                ]
              },
              "provisioningState": "Failed"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
