"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.ReachabilityAnalysisIntentsImpl = void 0;
const tslib_1 = require("tslib");
const pagingHelper_js_1 = require("../pagingHelper.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
/// <reference lib="esnext.asynciterable" />
/** Class containing ReachabilityAnalysisIntents operations. */
class ReachabilityAnalysisIntentsImpl {
    /**
     * Initialize a new instance of the class ReachabilityAnalysisIntents class.
     * @param client Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Gets list of Reachability Analysis Intents .
     * @param resourceGroupName The name of the resource group.
     * @param networkManagerName The name of the network manager.
     * @param workspaceName Workspace name.
     * @param options The options parameters.
     */
    list(resourceGroupName, networkManagerName, workspaceName, options) {
        const iter = this.listPagingAll(resourceGroupName, networkManagerName, workspaceName, options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.listPagingPage(resourceGroupName, networkManagerName, workspaceName, options, settings);
            },
        };
    }
    listPagingPage(resourceGroupName, networkManagerName, workspaceName, options, settings) {
        return tslib_1.__asyncGenerator(this, arguments, function* listPagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield tslib_1.__await(this._list(resourceGroupName, networkManagerName, workspaceName, options));
                let page = result.value || [];
                continuationToken = result.nextLink;
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
            while (continuationToken) {
                result = yield tslib_1.__await(this._listNext(resourceGroupName, networkManagerName, workspaceName, continuationToken, options));
                continuationToken = result.nextLink;
                let page = result.value || [];
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
        });
    }
    listPagingAll(resourceGroupName, networkManagerName, workspaceName, options) {
        return tslib_1.__asyncGenerator(this, arguments, function* listPagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = tslib_1.__asyncValues(this.listPagingPage(resourceGroupName, networkManagerName, workspaceName, options)), _f; _f = yield tslib_1.__await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield tslib_1.__await(yield* tslib_1.__asyncDelegator(tslib_1.__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield tslib_1.__await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Gets list of Reachability Analysis Intents .
     * @param resourceGroupName The name of the resource group.
     * @param networkManagerName The name of the network manager.
     * @param workspaceName Workspace name.
     * @param options The options parameters.
     */
    _list(resourceGroupName, networkManagerName, workspaceName, options) {
        return this.client.sendOperationRequest({ resourceGroupName, networkManagerName, workspaceName, options }, listOperationSpec);
    }
    /**
     * Get the Reachability Analysis Intent.
     * @param resourceGroupName The name of the resource group.
     * @param networkManagerName The name of the network manager.
     * @param workspaceName Workspace name.
     * @param reachabilityAnalysisIntentName Reachability Analysis Intent name.
     * @param options The options parameters.
     */
    get(resourceGroupName, networkManagerName, workspaceName, reachabilityAnalysisIntentName, options) {
        return this.client.sendOperationRequest({
            resourceGroupName,
            networkManagerName,
            workspaceName,
            reachabilityAnalysisIntentName,
            options,
        }, getOperationSpec);
    }
    /**
     * Creates Reachability Analysis Intent.
     * @param resourceGroupName The name of the resource group.
     * @param networkManagerName The name of the network manager.
     * @param workspaceName Workspace name.
     * @param reachabilityAnalysisIntentName Reachability Analysis Intent name.
     * @param body Reachability Analysis Intent object to create/update.
     * @param options The options parameters.
     */
    create(resourceGroupName, networkManagerName, workspaceName, reachabilityAnalysisIntentName, body, options) {
        return this.client.sendOperationRequest({
            resourceGroupName,
            networkManagerName,
            workspaceName,
            reachabilityAnalysisIntentName,
            body,
            options,
        }, createOperationSpec);
    }
    /**
     * Deletes Reachability Analysis Intent.
     * @param resourceGroupName The name of the resource group.
     * @param networkManagerName The name of the network manager.
     * @param workspaceName Workspace name.
     * @param reachabilityAnalysisIntentName Reachability Analysis Intent name.
     * @param options The options parameters.
     */
    delete(resourceGroupName, networkManagerName, workspaceName, reachabilityAnalysisIntentName, options) {
        return this.client.sendOperationRequest({
            resourceGroupName,
            networkManagerName,
            workspaceName,
            reachabilityAnalysisIntentName,
            options,
        }, deleteOperationSpec);
    }
    /**
     * ListNext
     * @param resourceGroupName The name of the resource group.
     * @param networkManagerName The name of the network manager.
     * @param workspaceName Workspace name.
     * @param nextLink The nextLink from the previous successful call to the List method.
     * @param options The options parameters.
     */
    _listNext(resourceGroupName, networkManagerName, workspaceName, nextLink, options) {
        return this.client.sendOperationRequest({
            resourceGroupName,
            networkManagerName,
            workspaceName,
            nextLink,
            options,
        }, listNextOperationSpec);
    }
}
exports.ReachabilityAnalysisIntentsImpl = ReachabilityAnalysisIntentsImpl;
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const listOperationSpec = {
    path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}/reachabilityAnalysisIntents",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.ReachabilityAnalysisIntentListResult,
        },
        default: {
            bodyMapper: Mappers.CommonErrorResponse,
        },
    },
    queryParameters: [
        Parameters.apiVersion,
        Parameters.skipToken,
        Parameters.skip,
        Parameters.top1,
        Parameters.sortKey,
        Parameters.sortValue,
    ],
    urlParameters: [
        Parameters.$host,
        Parameters.resourceGroupName,
        Parameters.subscriptionId,
        Parameters.networkManagerName1,
        Parameters.workspaceName,
    ],
    headerParameters: [Parameters.accept],
    serializer,
};
const getOperationSpec = {
    path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}/reachabilityAnalysisIntents/{reachabilityAnalysisIntentName}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.ReachabilityAnalysisIntent,
        },
        default: {
            bodyMapper: Mappers.CommonErrorResponse,
        },
    },
    queryParameters: [Parameters.apiVersion],
    urlParameters: [
        Parameters.$host,
        Parameters.resourceGroupName,
        Parameters.subscriptionId,
        Parameters.networkManagerName1,
        Parameters.workspaceName,
        Parameters.reachabilityAnalysisIntentName,
    ],
    headerParameters: [Parameters.accept],
    serializer,
};
const createOperationSpec = {
    path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}/reachabilityAnalysisIntents/{reachabilityAnalysisIntentName}",
    httpMethod: "PUT",
    responses: {
        200: {
            bodyMapper: Mappers.ReachabilityAnalysisIntent,
        },
        201: {
            bodyMapper: Mappers.ReachabilityAnalysisIntent,
        },
        default: {
            bodyMapper: Mappers.CommonErrorResponse,
        },
    },
    requestBody: Parameters.body3,
    queryParameters: [Parameters.apiVersion],
    urlParameters: [
        Parameters.$host,
        Parameters.resourceGroupName,
        Parameters.subscriptionId,
        Parameters.networkManagerName1,
        Parameters.workspaceName,
        Parameters.reachabilityAnalysisIntentName,
    ],
    headerParameters: [Parameters.accept, Parameters.contentType],
    mediaType: "json",
    serializer,
};
const deleteOperationSpec = {
    path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}/reachabilityAnalysisIntents/{reachabilityAnalysisIntentName}",
    httpMethod: "DELETE",
    responses: {
        200: {},
        204: {},
        default: {
            bodyMapper: Mappers.CommonErrorResponse,
        },
    },
    queryParameters: [Parameters.apiVersion],
    urlParameters: [
        Parameters.$host,
        Parameters.resourceGroupName,
        Parameters.subscriptionId,
        Parameters.networkManagerName1,
        Parameters.workspaceName,
        Parameters.reachabilityAnalysisIntentName,
    ],
    headerParameters: [Parameters.accept],
    serializer,
};
const listNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.ReachabilityAnalysisIntentListResult,
        },
        default: {
            bodyMapper: Mappers.CommonErrorResponse,
        },
    },
    urlParameters: [
        Parameters.$host,
        Parameters.resourceGroupName,
        Parameters.subscriptionId,
        Parameters.nextLink,
        Parameters.networkManagerName1,
        Parameters.workspaceName,
    ],
    headerParameters: [Parameters.accept],
    serializer,
};
//# sourceMappingURL=reachabilityAnalysisIntents.js.map