/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { CdnPeeringPrefixes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PeeringManagementClient } from "../peeringManagementClient";
import {
  CdnPeeringPrefix,
  CdnPeeringPrefixesListNextOptionalParams,
  CdnPeeringPrefixesListOptionalParams,
  CdnPeeringPrefixesListResponse,
  CdnPeeringPrefixesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing CdnPeeringPrefixes operations. */
export class CdnPeeringPrefixesImpl implements CdnPeeringPrefixes {
  private readonly client: PeeringManagementClient;

  /**
   * Initialize a new instance of the class CdnPeeringPrefixes class.
   * @param client Reference to the service client
   */
  constructor(client: PeeringManagementClient) {
    this.client = client;
  }

  /**
   * Lists all of the advertised prefixes for the specified peering location
   * @param peeringLocation The peering location.
   * @param options The options parameters.
   */
  public list(
    peeringLocation: string,
    options?: CdnPeeringPrefixesListOptionalParams
  ): PagedAsyncIterableIterator<CdnPeeringPrefix> {
    const iter = this.listPagingAll(peeringLocation, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(peeringLocation, options);
      }
    };
  }

  private async *listPagingPage(
    peeringLocation: string,
    options?: CdnPeeringPrefixesListOptionalParams
  ): AsyncIterableIterator<CdnPeeringPrefix[]> {
    let result = await this._list(peeringLocation, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        peeringLocation,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    peeringLocation: string,
    options?: CdnPeeringPrefixesListOptionalParams
  ): AsyncIterableIterator<CdnPeeringPrefix> {
    for await (const page of this.listPagingPage(peeringLocation, options)) {
      yield* page;
    }
  }

  /**
   * Lists all of the advertised prefixes for the specified peering location
   * @param peeringLocation The peering location.
   * @param options The options parameters.
   */
  private _list(
    peeringLocation: string,
    options?: CdnPeeringPrefixesListOptionalParams
  ): Promise<CdnPeeringPrefixesListResponse> {
    return this.client.sendOperationRequest(
      { peeringLocation, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param peeringLocation The peering location.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    peeringLocation: string,
    nextLink: string,
    options?: CdnPeeringPrefixesListNextOptionalParams
  ): Promise<CdnPeeringPrefixesListNextResponse> {
    return this.client.sendOperationRequest(
      { peeringLocation, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/cdnPeeringPrefixes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CdnPeeringPrefixListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.peeringLocation, Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CdnPeeringPrefixListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.peeringLocation, Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
