/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { PeeringServiceProviders } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { PeeringManagementClient } from "../peeringManagementClient.js";
import {
  PeeringServiceProvider,
  PeeringServiceProvidersListNextOptionalParams,
  PeeringServiceProvidersListOptionalParams,
  PeeringServiceProvidersListResponse,
  PeeringServiceProvidersListNextResponse
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing PeeringServiceProviders operations. */
export class PeeringServiceProvidersImpl implements PeeringServiceProviders {
  private readonly client: PeeringManagementClient;

  /**
   * Initialize a new instance of the class PeeringServiceProviders class.
   * @param client Reference to the service client
   */
  constructor(client: PeeringManagementClient) {
    this.client = client;
  }

  /**
   * Lists all of the available peering service locations for the specified kind of peering.
   * @param options The options parameters.
   */
  public list(
    options?: PeeringServiceProvidersListOptionalParams
  ): PagedAsyncIterableIterator<PeeringServiceProvider> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      }
    };
  }

  private async *listPagingPage(
    options?: PeeringServiceProvidersListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<PeeringServiceProvider[]> {
    let result: PeeringServiceProvidersListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: PeeringServiceProvidersListOptionalParams
  ): AsyncIterableIterator<PeeringServiceProvider> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists all of the available peering service locations for the specified kind of peering.
   * @param options The options parameters.
   */
  private _list(
    options?: PeeringServiceProvidersListOptionalParams
  ): Promise<PeeringServiceProvidersListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: PeeringServiceProvidersListNextOptionalParams
  ): Promise<PeeringServiceProvidersListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceProviders",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringServiceProviderListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringServiceProviderListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
