/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { PeeringServiceLocations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PeeringManagementClient } from "../peeringManagementClient";
import {
  PeeringServiceLocation,
  PeeringServiceLocationsListNextOptionalParams,
  PeeringServiceLocationsListOptionalParams,
  PeeringServiceLocationsListResponse,
  PeeringServiceLocationsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PeeringServiceLocations operations. */
export class PeeringServiceLocationsImpl implements PeeringServiceLocations {
  private readonly client: PeeringManagementClient;

  /**
   * Initialize a new instance of the class PeeringServiceLocations class.
   * @param client Reference to the service client
   */
  constructor(client: PeeringManagementClient) {
    this.client = client;
  }

  /**
   * Lists all of the available locations for peering service.
   * @param options The options parameters.
   */
  public list(
    options?: PeeringServiceLocationsListOptionalParams
  ): PagedAsyncIterableIterator<PeeringServiceLocation> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: PeeringServiceLocationsListOptionalParams
  ): AsyncIterableIterator<PeeringServiceLocation[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: PeeringServiceLocationsListOptionalParams
  ): AsyncIterableIterator<PeeringServiceLocation> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists all of the available locations for peering service.
   * @param options The options parameters.
   */
  private _list(
    options?: PeeringServiceLocationsListOptionalParams
  ): Promise<PeeringServiceLocationsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: PeeringServiceLocationsListNextOptionalParams
  ): Promise<PeeringServiceLocationsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceLocations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringServiceLocationListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.country],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringServiceLocationListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.country],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
