/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { PeerAsns } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PeeringManagementClient } from "../peeringManagementClient";
import {
  PeerAsn,
  PeerAsnsListBySubscriptionNextOptionalParams,
  PeerAsnsListBySubscriptionOptionalParams,
  PeerAsnsGetOptionalParams,
  PeerAsnsGetResponse,
  PeerAsnsCreateOrUpdateOptionalParams,
  PeerAsnsCreateOrUpdateResponse,
  PeerAsnsDeleteOptionalParams,
  PeerAsnsListBySubscriptionResponse,
  PeerAsnsListBySubscriptionNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PeerAsns operations. */
export class PeerAsnsImpl implements PeerAsns {
  private readonly client: PeeringManagementClient;

  /**
   * Initialize a new instance of the class PeerAsns class.
   * @param client Reference to the service client
   */
  constructor(client: PeeringManagementClient) {
    this.client = client;
  }

  /**
   * Lists all of the peer ASNs under the given subscription.
   * @param options The options parameters.
   */
  public listBySubscription(
    options?: PeerAsnsListBySubscriptionOptionalParams
  ): PagedAsyncIterableIterator<PeerAsn> {
    const iter = this.listBySubscriptionPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listBySubscriptionPagingPage(options);
      }
    };
  }

  private async *listBySubscriptionPagingPage(
    options?: PeerAsnsListBySubscriptionOptionalParams
  ): AsyncIterableIterator<PeerAsn[]> {
    let result = await this._listBySubscription(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listBySubscriptionNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listBySubscriptionPagingAll(
    options?: PeerAsnsListBySubscriptionOptionalParams
  ): AsyncIterableIterator<PeerAsn> {
    for await (const page of this.listBySubscriptionPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets the peer ASN with the specified name under the given subscription.
   * @param peerAsnName The peer ASN name.
   * @param options The options parameters.
   */
  get(
    peerAsnName: string,
    options?: PeerAsnsGetOptionalParams
  ): Promise<PeerAsnsGetResponse> {
    return this.client.sendOperationRequest(
      { peerAsnName, options },
      getOperationSpec
    );
  }

  /**
   * Creates a new peer ASN or updates an existing peer ASN with the specified name under the given
   * subscription.
   * @param peerAsnName The peer ASN name.
   * @param peerAsn The peer ASN.
   * @param options The options parameters.
   */
  createOrUpdate(
    peerAsnName: string,
    peerAsn: PeerAsn,
    options?: PeerAsnsCreateOrUpdateOptionalParams
  ): Promise<PeerAsnsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { peerAsnName, peerAsn, options },
      createOrUpdateOperationSpec
    );
  }

  /**
   * Deletes an existing peer ASN with the specified name under the given subscription.
   * @param peerAsnName The peer ASN name.
   * @param options The options parameters.
   */
  delete(
    peerAsnName: string,
    options?: PeerAsnsDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { peerAsnName, options },
      deleteOperationSpec
    );
  }

  /**
   * Lists all of the peer ASNs under the given subscription.
   * @param options The options parameters.
   */
  private _listBySubscription(
    options?: PeerAsnsListBySubscriptionOptionalParams
  ): Promise<PeerAsnsListBySubscriptionResponse> {
    return this.client.sendOperationRequest(
      { options },
      listBySubscriptionOperationSpec
    );
  }

  /**
   * ListBySubscriptionNext
   * @param nextLink The nextLink from the previous successful call to the ListBySubscription method.
   * @param options The options parameters.
   */
  private _listBySubscriptionNext(
    nextLink: string,
    options?: PeerAsnsListBySubscriptionNextOptionalParams
  ): Promise<PeerAsnsListBySubscriptionNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listBySubscriptionNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeerAsn
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.peerAsnName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.PeerAsn
    },
    201: {
      bodyMapper: Mappers.PeerAsn
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.peerAsn,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.peerAsnName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.peerAsnName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listBySubscriptionOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeerAsnListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listBySubscriptionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeerAsnListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
