/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { Prefixes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PeeringManagementClient } from "../peeringManagementClient";
import {
  PeeringServicePrefix,
  PrefixesListByPeeringServiceNextOptionalParams,
  PrefixesListByPeeringServiceOptionalParams,
  PrefixesGetOptionalParams,
  PrefixesGetResponse,
  PrefixesCreateOrUpdateOptionalParams,
  PrefixesCreateOrUpdateResponse,
  PrefixesDeleteOptionalParams,
  PrefixesListByPeeringServiceResponse,
  PrefixesListByPeeringServiceNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Prefixes operations. */
export class PrefixesImpl implements Prefixes {
  private readonly client: PeeringManagementClient;

  /**
   * Initialize a new instance of the class Prefixes class.
   * @param client Reference to the service client
   */
  constructor(client: PeeringManagementClient) {
    this.client = client;
  }

  /**
   * Lists all prefixes under the given subscription, resource group and peering service.
   * @param resourceGroupName The name of the resource group.
   * @param peeringServiceName The name of the peering service.
   * @param options The options parameters.
   */
  public listByPeeringService(
    resourceGroupName: string,
    peeringServiceName: string,
    options?: PrefixesListByPeeringServiceOptionalParams
  ): PagedAsyncIterableIterator<PeeringServicePrefix> {
    const iter = this.listByPeeringServicePagingAll(
      resourceGroupName,
      peeringServiceName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listByPeeringServicePagingPage(
          resourceGroupName,
          peeringServiceName,
          options
        );
      }
    };
  }

  private async *listByPeeringServicePagingPage(
    resourceGroupName: string,
    peeringServiceName: string,
    options?: PrefixesListByPeeringServiceOptionalParams
  ): AsyncIterableIterator<PeeringServicePrefix[]> {
    let result = await this._listByPeeringService(
      resourceGroupName,
      peeringServiceName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listByPeeringServiceNext(
        resourceGroupName,
        peeringServiceName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listByPeeringServicePagingAll(
    resourceGroupName: string,
    peeringServiceName: string,
    options?: PrefixesListByPeeringServiceOptionalParams
  ): AsyncIterableIterator<PeeringServicePrefix> {
    for await (const page of this.listByPeeringServicePagingPage(
      resourceGroupName,
      peeringServiceName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets an existing prefix with the specified name under the given subscription, resource group and
   * peering service.
   * @param resourceGroupName The name of the resource group.
   * @param peeringServiceName The name of the peering service.
   * @param prefixName The name of the prefix.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    peeringServiceName: string,
    prefixName: string,
    options?: PrefixesGetOptionalParams
  ): Promise<PrefixesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringServiceName, prefixName, options },
      getOperationSpec
    );
  }

  /**
   * Creates a new prefix with the specified name under the given subscription, resource group and
   * peering service.
   * @param resourceGroupName The name of the resource group.
   * @param peeringServiceName The name of the peering service.
   * @param prefixName The name of the prefix.
   * @param peeringServicePrefix The properties needed to create a prefix.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    peeringServiceName: string,
    prefixName: string,
    peeringServicePrefix: PeeringServicePrefix,
    options?: PrefixesCreateOrUpdateOptionalParams
  ): Promise<PrefixesCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        peeringServiceName,
        prefixName,
        peeringServicePrefix,
        options
      },
      createOrUpdateOperationSpec
    );
  }

  /**
   * Deletes an existing prefix with the specified name under the given subscription, resource group and
   * peering service.
   * @param resourceGroupName The name of the resource group.
   * @param peeringServiceName The name of the peering service.
   * @param prefixName The name of the prefix.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    peeringServiceName: string,
    prefixName: string,
    options?: PrefixesDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringServiceName, prefixName, options },
      deleteOperationSpec
    );
  }

  /**
   * Lists all prefixes under the given subscription, resource group and peering service.
   * @param resourceGroupName The name of the resource group.
   * @param peeringServiceName The name of the peering service.
   * @param options The options parameters.
   */
  private _listByPeeringService(
    resourceGroupName: string,
    peeringServiceName: string,
    options?: PrefixesListByPeeringServiceOptionalParams
  ): Promise<PrefixesListByPeeringServiceResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringServiceName, options },
      listByPeeringServiceOperationSpec
    );
  }

  /**
   * ListByPeeringServiceNext
   * @param resourceGroupName The name of the resource group.
   * @param peeringServiceName The name of the peering service.
   * @param nextLink The nextLink from the previous successful call to the ListByPeeringService method.
   * @param options The options parameters.
   */
  private _listByPeeringServiceNext(
    resourceGroupName: string,
    peeringServiceName: string,
    nextLink: string,
    options?: PrefixesListByPeeringServiceNextOptionalParams
  ): Promise<PrefixesListByPeeringServiceNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringServiceName, nextLink, options },
      listByPeeringServiceNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes/{prefixName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringServicePrefix
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringServiceName,
    Parameters.prefixName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes/{prefixName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringServicePrefix
    },
    201: {
      bodyMapper: Mappers.PeeringServicePrefix
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.peeringServicePrefix,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringServiceName,
    Parameters.prefixName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes/{prefixName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringServiceName,
    Parameters.prefixName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByPeeringServiceOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringServicePrefixListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringServiceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByPeeringServiceNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringServicePrefixListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroupName,
    Parameters.peeringServiceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
