/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { RegisteredPrefixes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PeeringManagementClient } from "../peeringManagementClient";
import {
  PeeringRegisteredPrefix,
  RegisteredPrefixesListByPeeringNextOptionalParams,
  RegisteredPrefixesListByPeeringOptionalParams,
  RegisteredPrefixesGetOptionalParams,
  RegisteredPrefixesGetResponse,
  RegisteredPrefixesCreateOrUpdateOptionalParams,
  RegisteredPrefixesCreateOrUpdateResponse,
  RegisteredPrefixesDeleteOptionalParams,
  RegisteredPrefixesListByPeeringResponse,
  RegisteredPrefixesListByPeeringNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing RegisteredPrefixes operations. */
export class RegisteredPrefixesImpl implements RegisteredPrefixes {
  private readonly client: PeeringManagementClient;

  /**
   * Initialize a new instance of the class RegisteredPrefixes class.
   * @param client Reference to the service client
   */
  constructor(client: PeeringManagementClient) {
    this.client = client;
  }

  /**
   * Lists all registered prefixes under the given subscription, resource group and peering.
   * @param resourceGroupName The name of the resource group.
   * @param peeringName The name of the peering.
   * @param options The options parameters.
   */
  public listByPeering(
    resourceGroupName: string,
    peeringName: string,
    options?: RegisteredPrefixesListByPeeringOptionalParams
  ): PagedAsyncIterableIterator<PeeringRegisteredPrefix> {
    const iter = this.listByPeeringPagingAll(
      resourceGroupName,
      peeringName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listByPeeringPagingPage(
          resourceGroupName,
          peeringName,
          options
        );
      }
    };
  }

  private async *listByPeeringPagingPage(
    resourceGroupName: string,
    peeringName: string,
    options?: RegisteredPrefixesListByPeeringOptionalParams
  ): AsyncIterableIterator<PeeringRegisteredPrefix[]> {
    let result = await this._listByPeering(
      resourceGroupName,
      peeringName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listByPeeringNext(
        resourceGroupName,
        peeringName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listByPeeringPagingAll(
    resourceGroupName: string,
    peeringName: string,
    options?: RegisteredPrefixesListByPeeringOptionalParams
  ): AsyncIterableIterator<PeeringRegisteredPrefix> {
    for await (const page of this.listByPeeringPagingPage(
      resourceGroupName,
      peeringName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets an existing registered prefix with the specified name under the given subscription, resource
   * group and peering.
   * @param resourceGroupName The name of the resource group.
   * @param peeringName The name of the peering.
   * @param registeredPrefixName The name of the registered prefix.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    peeringName: string,
    registeredPrefixName: string,
    options?: RegisteredPrefixesGetOptionalParams
  ): Promise<RegisteredPrefixesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringName, registeredPrefixName, options },
      getOperationSpec
    );
  }

  /**
   * Creates a new registered prefix with the specified name under the given subscription, resource group
   * and peering.
   * @param resourceGroupName The name of the resource group.
   * @param peeringName The name of the peering.
   * @param registeredPrefixName The name of the registered prefix.
   * @param registeredPrefix The properties needed to create a registered prefix.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    peeringName: string,
    registeredPrefixName: string,
    registeredPrefix: PeeringRegisteredPrefix,
    options?: RegisteredPrefixesCreateOrUpdateOptionalParams
  ): Promise<RegisteredPrefixesCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        peeringName,
        registeredPrefixName,
        registeredPrefix,
        options
      },
      createOrUpdateOperationSpec
    );
  }

  /**
   * Deletes an existing registered prefix with the specified name under the given subscription, resource
   * group and peering.
   * @param resourceGroupName The name of the resource group.
   * @param peeringName The name of the peering.
   * @param registeredPrefixName The name of the registered prefix.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    peeringName: string,
    registeredPrefixName: string,
    options?: RegisteredPrefixesDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringName, registeredPrefixName, options },
      deleteOperationSpec
    );
  }

  /**
   * Lists all registered prefixes under the given subscription, resource group and peering.
   * @param resourceGroupName The name of the resource group.
   * @param peeringName The name of the peering.
   * @param options The options parameters.
   */
  private _listByPeering(
    resourceGroupName: string,
    peeringName: string,
    options?: RegisteredPrefixesListByPeeringOptionalParams
  ): Promise<RegisteredPrefixesListByPeeringResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringName, options },
      listByPeeringOperationSpec
    );
  }

  /**
   * ListByPeeringNext
   * @param resourceGroupName The name of the resource group.
   * @param peeringName The name of the peering.
   * @param nextLink The nextLink from the previous successful call to the ListByPeering method.
   * @param options The options parameters.
   */
  private _listByPeeringNext(
    resourceGroupName: string,
    peeringName: string,
    nextLink: string,
    options?: RegisteredPrefixesListByPeeringNextOptionalParams
  ): Promise<RegisteredPrefixesListByPeeringNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringName, nextLink, options },
      listByPeeringNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringRegisteredPrefix
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringName,
    Parameters.registeredPrefixName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringRegisteredPrefix
    },
    201: {
      bodyMapper: Mappers.PeeringRegisteredPrefix
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.registeredPrefix,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringName,
    Parameters.registeredPrefixName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringName,
    Parameters.registeredPrefixName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByPeeringOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringRegisteredPrefixListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByPeeringNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PeeringRegisteredPrefixListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroupName,
    Parameters.peeringName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
