# Rename this to .env in order to have Electron configure these as environment variables.
# This example uses dotenv. Please refer to the dotenv package documentation for additional information.

# fully qualified namespace for ServiceBus, typically: <namespace>.servicebus.windows.net
SERVICE_BUS_NAMESPACE=""
# name of the service bus queue that has been set up
SERVICE_BUS_QUEUE=""

# URI for the Azure Blob Storage, typically https://<name>.blob.core.windows.net/
BLOB_URI=""
# the name of the Azure Blob Storage container
BLOB_CONTAINER=""

# Used to authenticate using Azure AD as a service principal for role-based authentication.
#
# See the documentation for `InteractiveBrowserCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/interactivebrowsercredential
CLIENT_ID=""
TENANT_ID=""
