{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11867"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2",
            "name": "myaccountxxyy2",
            "location": "East US",
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "kind": "GlobalDocumentDB",
            "tags": {},
            "systemData": {
              "createdAt": "2022-07-18T07:45:54.9928775Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "documentEndpoint": "https://myaccountxxyy2.documents.azure.com:443/",
              "publicNetworkAccess": "Enabled",
              "enableAutomaticFailover": false,
              "enableMultipleWriteLocations": false,
              "enablePartitionKeyMonitor": false,
              "isVirtualNetworkFilterEnabled": false,
              "virtualNetworkRules": [],
              "EnabledApiTypes": "Sql",
              "disableKeyBasedMetadataWriteAccess": false,
              "enableFreeTier": false,
              "enableAnalyticalStorage": false,
              "analyticalStorageConfiguration": {
                "schemaType": "WellDefined"
              },
              "instanceId": "0dc54d1b-4c18-4065-8a40-16acd32d306f",
              "databaseAccountOfferType": "Standard",
              "defaultIdentity": "FirstPartyIdentity",
              "networkAclBypass": "None",
              "disableLocalAuth": false,
              "consistencyPolicy": {
                "defaultConsistencyLevel": "Session",
                "maxIntervalInSeconds": 5,
                "maxStalenessPrefix": 100
              },
              "configurationOverrides": {},
              "writeLocations": [
                {
                  "id": "myaccountxxyy2-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "readLocations": [
                {
                  "id": "myaccountxxyy2-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                },
                {
                  "id": "myaccountxxyy2-eastus",
                  "locationName": "East US",
                  "documentEndpoint": "https://myaccountxxyy2-eastus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 1,
                  "isZoneRedundant": false
                },
                {
                  "id": "myaccountxxyy2-southcentralus",
                  "locationName": "South Central US",
                  "documentEndpoint": "https://myaccountxxyy2-southcentralus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 2,
                  "isZoneRedundant": false
                }
              ],
              "locations": [
                {
                  "id": "myaccountxxyy2-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                },
                {
                  "id": "myaccountxxyy2-eastus",
                  "locationName": "East US",
                  "documentEndpoint": "https://myaccountxxyy2-eastus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 1,
                  "isZoneRedundant": false
                },
                {
                  "id": "myaccountxxyy2-southcentralus",
                  "locationName": "South Central US",
                  "documentEndpoint": "https://myaccountxxyy2-southcentralus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 2,
                  "isZoneRedundant": false
                }
              ],
              "failoverPolicies": [
                {
                  "id": "myaccountxxyy2-westus",
                  "locationName": "West US",
                  "failoverPriority": 0
                },
                {
                  "id": "myaccountxxyy2-eastus",
                  "locationName": "East US",
                  "failoverPriority": 1
                },
                {
                  "id": "myaccountxxyy2-southcentralus",
                  "locationName": "South Central US",
                  "failoverPriority": 2
                }
              ],
              "cors": [],
              "capabilities": [],
              "ipRules": [],
              "backupPolicy": {
                "type": "Periodic",
                "periodicModeProperties": {
                  "backupIntervalInMinutes": 240,
                  "backupRetentionIntervalInHours": 8,
                  "backupStorageRedundancy": "Geo"
                }
              },
              "networkAclBypassResourceIds": []
            },
            "identity": {
              "type": "None"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
