{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwTest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyytest/services/GraphAPICompute?api-version=2022-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": {
        "code": "BadRequest",
        "message": "GraphAPICompute Service cannot be deleted.\r\nActivityId: e8692e4d-4d5f-46eb-9da3-2a5b79d410a0, Microsoft.Azure.Documents.Common/2.14.0"
      }
    }
  ],
  "Variables": {}
}
