{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3?api-version=2022-05-15-preview",
=======
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3?api-version=2022-05-15",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "User-Agent": "azsdk-js-arm-cosmosdb/16.0.0-beta.3 core-rest-pipeline/1.9.1 Node/v16.15.1 OS/(x64-Windows_NT-10.0.22000)",
        "x-ms-client-request-id": "38784fd8-c623-4fa6-a5a0-9e8cdb92384c"
=======
        "User-Agent": "azsdk-js-arm-cosmosdb/15.1.0 core-rest-pipeline/1.9.1 Node/v16.15.1 OS/(x64-Windows_NT-10.0.22000)",
        "x-ms-client-request-id": "3edffcee-613c-401a-8668-ef572999f8a2"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      },
      "RequestBody": {
        "location": "eastus",
        "kind": "MongoDB",
        "properties": {
          "locations": [
            {
              "locationName": "eastus",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "databaseAccountOfferType": "Standard",
          "apiProperties": {},
          "createMode": "Default"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/275626ce-c638-42b0-b2e1-9e210f0f4f7d?api-version=2022-05-15-preview",
        "Cache-Control": "no-store, no-cache",
        "Content-Encoding": "gzip",
        "Content-Type": "application/json",
        "Date": "Thu, 21 Jul 2022 03:04:33 GMT",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3/operationResults/275626ce-c638-42b0-b2e1-9e210f0f4f7d?api-version=2022-05-15-preview",
=======
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/6d835925-c59c-4606-89b6-3564c18473f8?api-version=2022-05-15",
        "Cache-Control": "no-store, no-cache",
        "Content-Encoding": "gzip",
        "Content-Type": "application/json",
        "Date": "Mon, 18 Jul 2022 07:11:08 GMT",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3/operationResults/6d835925-c59c-4606-89b6-3564c18473f8?api-version=2022-05-15",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
        "Pragma": "no-cache",
        "Server": "Microsoft-HTTPAPI/2.0",
        "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
        "Transfer-Encoding": "chunked",
        "Vary": "Accept-Encoding",
        "X-Content-Type-Options": "nosniff",
<<<<<<< HEAD
        "x-ms-correlation-request-id": "4bb3fab1-7380-42c3-ba3f-56cb34ef90df",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-ms-request-id": "275626ce-c638-42b0-b2e1-9e210f0f4f7d",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220721T030433Z:4bb3fab1-7380-42c3-ba3f-56cb34ef90df"
=======
        "x-ms-correlation-request-id": "79c86d98-fec7-4394-a4b7-6fd729025597",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-ms-request-id": "6d835925-c59c-4606-89b6-3564c18473f8",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220718T071109Z:79c86d98-fec7-4394-a4b7-6fd729025597"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3",
        "name": "myaccountxxyy3",
        "location": "East US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "MongoDB",
        "tags": {},
        "systemData": {
<<<<<<< HEAD
          "createdAt": "2022-07-21T03:04:30.8852313Z"
=======
          "createdAt": "2022-07-18T07:11:06.7881667Z"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": false,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "MongoDB",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "FullFidelity"
          },
<<<<<<< HEAD
          "instanceId": "19641cf5-48a1-44f3-8023-2a5b832c46da",
=======
          "instanceId": "86fd20e1-71a9-4a79-b099-ba0d9fd6743b",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "Session",
            "maxIntervalInSeconds": 5,
            "maxStalenessPrefix": 100
          },
          "apiProperties": {
            "serverVersion": "3.6"
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "myaccountxxyy3-eastus",
              "locationName": "East US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "myaccountxxyy3-eastus",
              "locationName": "East US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "myaccountxxyy3-eastus",
              "locationName": "East US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "myaccountxxyy3-eastus",
              "locationName": "East US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [
            {
              "name": "EnableMongo"
            }
          ],
          "ipRules": [],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Invalid"
            }
          },
<<<<<<< HEAD
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2022-07-21T03:04:30.8852313Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2022-07-21T03:04:30.8852313Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2022-07-21T03:04:30.8852313Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2022-07-21T03:04:30.8852313Z"
            }
          }
=======
          "networkAclBypassResourceIds": []
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/275626ce-c638-42b0-b2e1-9e210f0f4f7d?api-version=2022-05-15-preview",
=======
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/6d835925-c59c-4606-89b6-3564c18473f8?api-version[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/275626ce-c638-42b0-b2e1-9e210f0f4f7d?api-version=2022-05-15-preview",
=======
        "x-ms-correlation-request-id": "935fd0a8-3b10-4a10-a188-a5d12e3691fb",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11295",
        "x-ms-request-id": "935fd0a8-3b10-4a10-a188-a5d12e3691fb",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220718T071109Z:935fd0a8-3b10-4a10-a188-a5d12e3691fb"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/6d835925-c59c-4606-89b6-3564c18473f8?api-version=2022-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11294"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
