{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwTest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyytest/graphs/graphName?api-version=2022-11-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/cefdc057-e1f6-43f1-972f-f3b6e4763255?api-version=2022-11-15-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwTest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyytest/graphs/graphName/operationResults/cefdc057-e1f6-43f1-972f-f3b6e4763255?api-version=2022-11-15-preview",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/cefdc057-e1f6-43f1-972f-f3b6e4763255?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/cefdc057-e1f6-43f1-972f-f3b6e4763255?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "status": "Failed",
        "error": {
          "code": "InternalServerError",
          "message": "Unknown server error occurred when processing this request.\r\nActivityId: e2987e09-cff3-4f36-8d54-afe82d859720, Microsoft.Azure.Documents.Common/2.14.0"
        }
      }
    }
  ],
  "Variables": {}
}
