{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2?api-version=2022-08-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11867"
      },
      "ResponseBody": {
        "id": "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2",
        "name": "myaccountxxyy2",
        "location": "East US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {},
        "systemData": {
          "createdAt": "2023-01-03T07:51:22.7862805Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://myaccountxxyy2.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": false,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
          "instanceId": "14ef6223-9c5f-45ea-9cfd-3b171069c392",
          "databaseAccountOfferType": "Standard",
          "enableMaterializedViews": false,
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "Session",
            "maxIntervalInSeconds": 5,
            "maxStalenessPrefix": 100
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyy2-southcentralus",
              "locationName": "South Central US",
              "documentEndpoint": "https://myaccountxxyy2-southcentralus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 2,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyy2-eastus",
              "locationName": "East US",
              "documentEndpoint": "https://myaccountxxyy2-eastus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 1,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyy2-southcentralus",
              "locationName": "South Central US",
              "documentEndpoint": "https://myaccountxxyy2-southcentralus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 2,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyy2-eastus",
              "locationName": "East US",
              "documentEndpoint": "https://myaccountxxyy2-eastus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 1,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "failoverPriority": 0
            },
            {
              "id": "myaccountxxyy2-southcentralus",
              "locationName": "South Central US",
              "failoverPriority": 2
            },
            {
              "id": "myaccountxxyy2-eastus",
              "locationName": "East US",
              "failoverPriority": 1
            }
          ],
          "cors": [],
          "capabilities": [],
          "ipRules": [],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2023-01-03T07:51:22.7862805Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2023-01-03T07:51:22.7862805Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2023-01-03T07:51:22.7862805Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2023-01-03T07:51:22.7862805Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    }
  ],
  "Variables": {}
}
