{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2?api-version=2022-05-15-preview",
=======
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2?api-version=2022-05-15",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "User-Agent": "azsdk-js-arm-cosmosdb/16.0.0-beta.3 core-rest-pipeline/1.9.1 Node/v16.15.1 OS/(x64-Windows_NT-10.0.22000)",
        "x-ms-client-request-id": "15df8765-050a-4adc-9fb8-add3ee1c1481"
=======
        "User-Agent": "azsdk-js-arm-cosmosdb/15.1.0 core-rest-pipeline/1.9.1 Node/v16.15.1 OS/(x64-Windows_NT-10.0.22000)",
        "x-ms-client-request-id": "8cfd088c-7c79-4222-9a9f-8bf198751457"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "locations": [
            {
              "locationName": "southcentralus",
              "failoverPriority": 2,
              "isZoneRedundant": false
            },
            {
              "locationName": "eastus",
              "failoverPriority": 1
            },
            {
              "locationName": "westus",
              "failoverPriority": 0
            }
          ],
          "databaseAccountOfferType": "Standard",
          "createMode": "Default"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/580488e9-03fe-48b1-8d35-8931451fb343?api-version=2022-05-15-preview",
        "Cache-Control": "no-store, no-cache",
        "Content-Encoding": "gzip",
        "Content-Type": "application/json",
        "Date": "Thu, 21 Jul 2022 03:17:53 GMT",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2/operationResults/580488e9-03fe-48b1-8d35-8931451fb343?api-version=2022-05-15-preview",
=======
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/4641bef2-5893-44d0-a521-bd460fe3a0cd?api-version=2022-05-15",
        "Cache-Control": "no-store, no-cache",
        "Content-Encoding": "gzip",
        "Content-Type": "application/json",
        "Date": "Mon, 18 Jul 2022 07:44:40 GMT",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2/operationResults/4641bef2-5893-44d0-a521-bd460fe3a0cd?api-version=2022-05-15",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
        "Pragma": "no-cache",
        "Server": "Microsoft-HTTPAPI/2.0",
        "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
        "Transfer-Encoding": "chunked",
        "Vary": "Accept-Encoding",
        "X-Content-Type-Options": "nosniff",
<<<<<<< HEAD
        "x-ms-correlation-request-id": "a8a68118-1683-4bda-8b24-ff99a67b84f7",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-request-id": "580488e9-03fe-48b1-8d35-8931451fb343",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220721T031753Z:a8a68118-1683-4bda-8b24-ff99a67b84f7"
=======
        "x-ms-correlation-request-id": "a9354a54-dfd7-4e8f-8c42-cae40c065497",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-request-id": "4641bef2-5893-44d0-a521-bd460fe3a0cd",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220718T074440Z:a9354a54-dfd7-4e8f-8c42-cae40c065497"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2",
        "name": "myaccountxxyy2",
        "location": "East US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {},
        "systemData": {
<<<<<<< HEAD
          "createdAt": "2022-07-21T03:17:48.8378516Z"
=======
          "createdAt": "2022-07-18T07:44:36.1138838Z"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
        },
        "properties": {
          "provisioningState": "Creating",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": false,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
<<<<<<< HEAD
          "instanceId": "d433eb94-7f4a-44d9-b2e8-7ca6a6206ae1",
=======
          "instanceId": "0dc54d1b-4c18-4065-8a40-16acd32d306f",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "consistencyPolicy": {
            "defaultConsistencyLevel": "Session",
            "maxIntervalInSeconds": 5,
            "maxStalenessPrefix": 100
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "provisioningState": "Creating",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "failoverPriority": 0
            }
          ],
          "cors": [],
          "capabilities": [],
          "ipRules": [],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Invalid"
            }
          },
<<<<<<< HEAD
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2022-07-21T03:17:48.8378516Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2022-07-21T03:17:48.8378516Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2022-07-21T03:17:48.8378516Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2022-07-21T03:17:48.8378516Z"
            }
          }
=======
          "networkAclBypassResourceIds": []
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/580488e9-03fe-48b1-8d35-8931451fb343?api-version=2022-05-15-preview",
=======
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/4641bef2-5893-44d0-a521-bd460fe3a0cd?api-version[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/580488e9-03fe-48b1-8d35-8931451fb343?api-version=2022-05-15-preview",
=======
        "x-ms-correlation-request-id": "e8241257-ff47-43ed-88d4-cc323a727680",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-request-id": "e8241257-ff47-43ed-88d4-cc323a727680",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220718T074443Z:e8241257-ff47-43ed-88d4-cc323a727680"
      },
      "ResponseBody": {
        "status": "Dequeued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/4641bef2-5893-44d0-a521-bd460fe3a0cd?api-version=2022-05-15",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
<<<<<<< HEAD
        "User-Agent": "azsdk-js-arm-cosmosdb/16.0.0-beta.3 core-rest-pipeline/1.9.[...]
[...]
