{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3/mongodbDatabases/mydatabasexxxx?api-version=2022-05-15-preview",
=======
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3/mongodbDatabases/mydatabasexxxx?api-version=2022-05-15",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "User-Agent": "azsdk-js-arm-cosmosdb/16.0.0-beta.3 core-rest-pipeline/1.9.1 Node/v16.15.1 OS/(x64-Windows_NT-10.0.22000)",
        "x-ms-client-request-id": "9bc56a71-c64d-48f4-9e87-bce7338bc7d0"
=======
        "User-Agent": "azsdk-js-arm-cosmosdb/15.1.0 core-rest-pipeline/1.9.1 Node/v16.15.1 OS/(x64-Windows_NT-10.0.22000)",
        "x-ms-client-request-id": "b6872fd8-66af-4115-98c5-95dad3b27ed4"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
<<<<<<< HEAD
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/e2f0441d-31ff-4217-a728-72ea700590d7?api-version=2022-05-15-preview",
        "Cache-Control": "no-store, no-cache",
        "Content-Length": "21",
        "Content-Type": "application/json",
        "Date": "Thu, 21 Jul 2022 03:07:50 GMT",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3/mongodbDatabases/mydatabasexxxx/operationResults/e2f0441d-31ff-4217-a728-72ea700590d7?api-version=2022-05-15-preview",
=======
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/498696a0-ebb3-4e00-8264-d4a1c60f672d?api-version=2022-05-15",
        "Cache-Control": "no-store, no-cache",
        "Content-Length": "21",
        "Content-Type": "application/json",
        "Date": "Mon, 18 Jul 2022 07:14:27 GMT",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy3/mongodbDatabases/mydatabasexxxx/operationResults/498696a0-ebb3-4e00-8264-d4a1c60f672d?api-version=2022-05-15",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
        "Pragma": "no-cache",
        "Server": "Microsoft-HTTPAPI/2.0",
        "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
        "X-Content-Type-Options": "nosniff",
<<<<<<< HEAD
        "x-ms-correlation-request-id": "1573d98f-8ec7-469e-860b-ed3019b0e62b",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997",
        "x-ms-request-id": "e2f0441d-31ff-4217-a728-72ea700590d7",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220721T030750Z:1573d98f-8ec7-469e-860b-ed3019b0e62b"
=======
        "x-ms-correlation-request-id": "2ead7586-d779-41e9-9f91-f11786414f8a",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997",
        "x-ms-request-id": "498696a0-ebb3-4e00-8264-d4a1c60f672d",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220718T071427Z:2ead7586-d779-41e9-9f91-f11786414f8a"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
<<<<<<< HEAD
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/e2f0441d-31ff-4217-a728-72ea700590d7?api-version=2022-05-15-preview",
=======
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/498696a0-ebb3-4e00-8264-d4a1c60f672d?api-version=2022-05-15",
>>>>>>> 96a8[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/e2f0441d-31ff-4217-a728-72ea700590d7?api-version=2022-05-15-preview",
=======
        "x-ms-correlation-request-id": "48b46f18-9e94-41e6-a38e-ef65485ce51d",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11207",
        "x-ms-request-id": "48b46f18-9e94-41e6-a38e-ef65485ce51d",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220718T071430Z:48b46f18-9e94-41e6-a38e-ef65485ce51d"
      },
      "ResponseBody": {
        "status": "Enqueued"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/498696a0-ebb3-4e00-8264-d4a1c60f672d?api-version=2022-05-15",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
<<<<<<< HEAD
        "User-Agent": "azsdk-js-arm-cosmosdb/16.0.0-beta.3 core-rest-pipeline/1.9.1 Node/v16.15.1 OS/(x64-Windows_NT-10.0.22000)",
        "x-ms-client-request-id": "bcb0dd9d-89cd-4298-b8b8-31538a5a5455"
=======
        "User-Agent": "azsdk-js-arm-cosmosdb/15.1.0 core-rest-pipeline/1.9.1 Node/v16.15.1 OS/(x64-Windows_NT-10.0.22000)",
        "x-ms-client-request-id": "3cbd83f6-9390-4a73-81ce-970480a7a6a8"
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
<<<<<<< HEAD
        "Date": "Thu, 21 Jul 2022 03:07:55 GMT",
=======
        "Date": "Mon, 18 Jul 2022 07:14:32 GMT",
>>>>>>> 96a8e0c109f1dd1ede847694fb49ad26f1888ae3
        "Pragma": "no-cache",
        "Server": "Microsoft-HTTPAPI/2.0",
        "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
        "Transfer-Encoding": "chunked",
        "Vary": "Accept-Encoding",
        "X-Content-Type-Options": "nosniff",
<<<<<<< HEAD
        "x-ms-correlation-request-id": "fb756429-ba79-4e74-a743-31150bf69e4e",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11174",
        "x-ms-request-id": "fb756429-ba79-4e74-a743-31150bf69e4e",
        "x-ms-routing-request-id": "SOUTHEASTASIA:20220721T030756Z:fb756429-ba79-4e74-a743-31150bf69e4e"
=======
        "x-ms-correlation-request-id": "e8c14780-3[...]
