{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwTest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyytest/graphs?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "service",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "code": "InternalServerError",
        "message": "Unknown server error occurred when processing this request.\r\nActivityId: 605667f5-a84d-43ba-8e09-eded6c35c215, Microsoft.Azure.Documents.Common/2.14.0"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwTest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyytest/graphs?api-version=2022-11-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "service",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "code": "InternalServerError",
        "message": "Unknown server error occurred when processing this request.\r\nActivityId: 605667f5-a84d-43ba-8e09-eded6c35c215, Microsoft.Azure.Documents.Common/2.14.0"
      }
    }
  ],
  "Variables": {}
}
