/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ConfigurationAssignmentsForResourceGroup } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MaintenanceManagementClient } from "../maintenanceManagementClient";
import {
  ConfigurationAssignmentsForResourceGroupGetOptionalParams,
  ConfigurationAssignmentsForResourceGroupGetResponse,
  ConfigurationAssignment,
  ConfigurationAssignmentsForResourceGroupCreateOrUpdateOptionalParams,
  ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponse,
  ConfigurationAssignmentsForResourceGroupUpdateOptionalParams,
  ConfigurationAssignmentsForResourceGroupUpdateResponse,
  ConfigurationAssignmentsForResourceGroupDeleteOptionalParams,
  ConfigurationAssignmentsForResourceGroupDeleteResponse,
} from "../models";

/** Class containing ConfigurationAssignmentsForResourceGroup operations. */
export class ConfigurationAssignmentsForResourceGroupImpl
  implements ConfigurationAssignmentsForResourceGroup
{
  private readonly client: MaintenanceManagementClient;

  /**
   * Initialize a new instance of the class ConfigurationAssignmentsForResourceGroup class.
   * @param client Reference to the service client
   */
  constructor(client: MaintenanceManagementClient) {
    this.client = client;
  }

  /**
   * Get configuration assignment for resource..
   * @param resourceGroupName Resource group name
   * @param configurationAssignmentName Configuration assignment name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    configurationAssignmentName: string,
    options?: ConfigurationAssignmentsForResourceGroupGetOptionalParams,
  ): Promise<ConfigurationAssignmentsForResourceGroupGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, configurationAssignmentName, options },
      getOperationSpec,
    );
  }

  /**
   * Register configuration for resource.
   * @param resourceGroupName Resource group name
   * @param configurationAssignmentName Configuration assignment name
   * @param configurationAssignment The configurationAssignment
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    configurationAssignmentName: string,
    configurationAssignment: ConfigurationAssignment,
    options?: ConfigurationAssignmentsForResourceGroupCreateOrUpdateOptionalParams,
  ): Promise<ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        configurationAssignmentName,
        configurationAssignment,
        options,
      },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Register configuration for resource.
   * @param resourceGroupName Resource group name
   * @param configurationAssignmentName Configuration assignment name
   * @param configurationAssignment The configurationAssignment
   * @param options The options parameters.
   */
  update(
    resourceGroupName: string,
    configurationAssignmentName: string,
    configurationAssignment: ConfigurationAssignment,
    options?: ConfigurationAssignmentsForResourceGroupUpdateOptionalParams,
  ): Promise<ConfigurationAssignmentsForResourceGroupUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        configurationAssignmentName,
        configurationAssignment,
        options,
      },
      updateOperationSpec,
    );
  }

  /**
   * Unregister configuration for resource.
   * @param resourceGroupName Resource group name
   * @param configurationAssignmentName Unique configuration assignment name
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    configurationAssignmentName: string,
    options?: ConfigurationAssignmentsForResourceGroupDeleteOptionalParams,
  ): Promise<ConfigurationAssignmentsForResourceGroupDeleteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, configurationAssignmentName, options },
      deleteOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.MaintenanceError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName1,
    Parameters.configurationAssignmentName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ConfigurationAssignment,
    },
    201: {
      bodyMapper: Mappers.ConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.MaintenanceError,
    },
  },
  requestBody: Parameters.configurationAssignment,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName1,
    Parameters.configurationAssignmentName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const updateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.ConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.MaintenanceError,
    },
  },
  requestBody: Parameters.configurationAssignment,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName1,
    Parameters.configurationAssignmentName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
  httpMethod: "DELETE",
  responses: {
    200: {
      bodyMapper: Mappers.ConfigurationAssignment,
    },
    204: {},
    default: {
      bodyMapper: Mappers.MaintenanceError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName1,
    Parameters.configurationAssignmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
