/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { PublicMaintenanceConfigurations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MaintenanceManagementClient } from "../maintenanceManagementClient";
import {
  MaintenanceConfiguration,
  PublicMaintenanceConfigurationsListOptionalParams,
  PublicMaintenanceConfigurationsListResponse,
  PublicMaintenanceConfigurationsGetOptionalParams,
  PublicMaintenanceConfigurationsGetResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PublicMaintenanceConfigurations operations. */
export class PublicMaintenanceConfigurationsImpl
  implements PublicMaintenanceConfigurations
{
  private readonly client: MaintenanceManagementClient;

  /**
   * Initialize a new instance of the class PublicMaintenanceConfigurations class.
   * @param client Reference to the service client
   */
  constructor(client: MaintenanceManagementClient) {
    this.client = client;
  }

  /**
   * Get Public Maintenance Configuration records
   * @param options The options parameters.
   */
  public list(
    options?: PublicMaintenanceConfigurationsListOptionalParams,
  ): PagedAsyncIterableIterator<MaintenanceConfiguration> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: PublicMaintenanceConfigurationsListOptionalParams,
    _settings?: PageSettings,
  ): AsyncIterableIterator<MaintenanceConfiguration[]> {
    let result: PublicMaintenanceConfigurationsListResponse;
    result = await this._list(options);
    yield result.value || [];
  }

  private async *listPagingAll(
    options?: PublicMaintenanceConfigurationsListOptionalParams,
  ): AsyncIterableIterator<MaintenanceConfiguration> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get Public Maintenance Configuration records
   * @param options The options parameters.
   */
  private _list(
    options?: PublicMaintenanceConfigurationsListOptionalParams,
  ): Promise<PublicMaintenanceConfigurationsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Get Public Maintenance Configuration record
   * @param resourceName Maintenance Configuration Name
   * @param options The options parameters.
   */
  get(
    resourceName: string,
    options?: PublicMaintenanceConfigurationsGetOptionalParams,
  ): Promise<PublicMaintenanceConfigurationsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceName, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/publicMaintenanceConfigurations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ListMaintenanceConfigurationsResult,
    },
    default: {
      bodyMapper: Mappers.MaintenanceError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/{resourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MaintenanceConfiguration,
    },
    default: {
      bodyMapper: Mappers.MaintenanceError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
