{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/items?api-version=2025-04-30-preview&limit=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "type": "FeatureCollection",
        "features": [
          {
            "id": "Sanitized",
            "bbox": [
              -84.504026,
              33.559387,
              -84.43345,
              33.628155
            ],
            "type": "Feature",
            "links": [
              {
                "rel": "collection",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000"
              },
              {
                "rel": "parent",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000"
              },
              {
                "rel": "root",
                "type": "application/json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
              },
              {
                "rel": "self",
                "type": "application/geo+json",
                "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/items/ga_m_3308429_nw_16_060_20231008_20240103"
              }
            ],
            "assets": {
              "image": {
                "href": "https://vojrtgdatasa.blob.core.windows.net/naip-atl-00000000-bde3e846/d8d/ga_m_3308429_nw_16_060_20231008_20240103/image.tif",
                "type": "image/tiff; application=geotiff; profile=cloud-optimized",
                "roles": [
                  "data"
                ],
                "title": "RGBIR COG tile",
                "eo:bands": [
                  {
                    "name": "Sanitized",
                    "common_name": "red"
                  },
                  {
                    "name": "Sanitized",
                    "common_name": "green"
                  },
                  {
                    "name": "Sanitized",
                    "common_name": "blue"
                  },
                  {
                    "name": "Sanitized",
                    "common_name": "nir",
                    "description": "near-infrared"
                  }
                ]
              },
              "tilejson": {
                "href": "https://vojrtgdatasa.blob.core.windows.net/naip-atl-00000000-bde3e846/d8d/ga_m_3308429_nw_16_060_20231008_20240103/tilejson.json",
                "type": "application/json",
                "roles": [
                  "tiles"
                ],
                "title": "TileJSON with default rendering"
              },
              "thumbnail": {
                "href": "https://vojrtgdatasa.blob.core.windows.net/naip-atl-00000000-bde3e846/d8d/ga_m_3308429_nw_16_060_20231008_20240103/thumbnail.jpg",
                "type": "image/jpeg",
                "roles": [
                  "thumbnail"
                ],
                "title": "Thumbnail"
              },
              "rendered_preview": {
                "rel": "preview",
                "href": "https://vojrtgdatasa.blob.core.windows.net/naip-atl-00000000-bde3e846/d8d/ga_m_3308429_nw_16_060_20231008_20240103/rendered_preview.png",
                "type": "image/png",
                "roles": [
                  "overview"
                ],
                "title": "Rendered preview"
              }
            },
            "_msft:ts": "2025-10-22T11:16:46.001506Z",
            "geometry": {
              "type": "Polygon",
              "coordinates": [
                [
                  [
                    -84.435445,
                    33.559387
                  ],
                  [
                    -84.43345,
                    33.626749
                  ],
                  [
                    -84.502084,
                    33.628155
                  ],
                  [
                    -84.504026,
                    33.560789
                  ],
                  [
                    -84.435445,
                    33.559387
                  ]
                ]
              ]
            },
            "_msft:etag": "3f8c4060-fbac-4595-bb2c-bb5d51fbd193",
            "collection": "naip-atl-00000000",
            "properties": {
              "gsd": 0.6,
              "datetime": "2023-10-08T16:00:00Z",
              "naip:year": "2023",
              "proj:bbox": [
                731706.0,
                3716250.0,
                738078.0,
                3723726.0
              ],
              "proj:epsg": 26916,
              "providers": [
                {
                  "url": "https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/",
                  "name": "Sanitized",
                  "roles": [
                    "producer",
                    "licensor"
                  ]
                }
              ],
              "naip:state": "ga",
              "proj:shape": [
                12460,
                10620
              ],
              "proj:centroid": {
                "lat": 33.59377,
                "lon": -84.46875
              },
              "proj:transform": [
                0.6,
                0.0,
                731706.0,
                0.0,
                -0.6,
                3723726.0,
                0.0,
                0.0,
                1.0
              ]
            },
            "stac_extensions": [
              "https://stac-extensions.github.io/eo/v1.1.0/schema.json",
              "https://stac-extensions.github.io/projection/v1.1.0/schema.json"
            ],
            "stac_version": "1.0.0"
          }
        ],
        "links": [
          {
            "rel": "collection",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000"
          },
          {
            "rel": "parent",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000"
          },
          {
            "rel": "root",
            "type": "application/json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/"
          },
          {
            "rel": "self",
            "type": "application/geo+json",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/items"
          },
          {
            "rel": "next",
            "type": "application/geo+json",
            "method": "GET",
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/items?api-version=2025-04-30-preview&limit=1&token=Sanitized"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/items/ga_m_3308429_nw_16_060_20231008_20240103?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/geo+json"
      },
      "ResponseBody": {
        "id": "Sanitized",[...]
