# The endpoint of your Azure Search account.
ENDPOINT=<endpoint>

# The endpoint for the OpenAI service.
AZURE_OPENAI_ENDPOINT=<openai-endpoint>

# The name of the OpenAI deployment you'd like your tests to use.
AZURE_OPENAI_DEPLOYMENT_NAME=<deployment-name>

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=playback
