const deploy = require("@azure/apimanagement-custom-widget-tools/node/deploy")

const serviceInformation = {{&configDeploy}}
const name = "{{name}}"
const fallbackConfigPath = "./static/config.msapim.json"

deploy(serviceInformation, name, fallbackConfigPath)
