{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.farmbeats.azure.net/parties/node-contoso-party?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "name": "Contoso party",
        "description": "Your custom party description here",
        "status": "Active",
        "properties": {
          "1": "numeric key",
          "foo": "bar",
          "numeric one": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "00002366-0000-0600-0000-63f68b180000",
        "mise-correlation-id": "a870551b-5f10-45f6-9f7f-f89353f5acc6",
        "x-ms-throttle-information": "1000"
      },
      "ResponseBody": {
        "id": "node-contoso-party",
        "eTag": "00002366-0000-0600-0000-63f68b180000",
        "status": "Active",
        "createdDateTime": "2023-02-20T04:36:54Z",
        "modifiedDateTime": "2023-02-22T21:37:28Z",
        "name": "Contoso party",
        "description": "Your custom party description here",
        "createdBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "modifiedBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "properties": {
          "1": "numeric key",
          "foo": "bar",
          "numeric one": 1
        }
      }
    }
  ],
  "Variables": {
    "jobId": "node-job-191"
  }
}
