/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { StorageTaskAssignmentInstancesReport } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { StorageManagementClient } from "../storageManagementClient";
import {
  StorageTaskReportInstance,
  StorageTaskAssignmentInstancesReportListNextOptionalParams,
  StorageTaskAssignmentInstancesReportListOptionalParams,
  StorageTaskAssignmentInstancesReportListResponse,
  StorageTaskAssignmentInstancesReportListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing StorageTaskAssignmentInstancesReport operations. */
export class StorageTaskAssignmentInstancesReportImpl
  implements StorageTaskAssignmentInstancesReport
{
  private readonly client: StorageManagementClient;

  /**
   * Initialize a new instance of the class StorageTaskAssignmentInstancesReport class.
   * @param client Reference to the service client
   */
  constructor(client: StorageManagementClient) {
    this.client = client;
  }

  /**
   * Fetch the report summary of a single storage task assignment's instances
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param accountName The name of the storage account within the specified resource group. Storage
   *                    account names must be between 3 and 24 characters in length and use numbers and lower-case letters
   *                    only.
   * @param storageTaskAssignmentName The name of the storage task assignment within the specified
   *                                  resource group. Storage task assignment names must be between 3 and 24 characters in length and use
   *                                  numbers and lower-case letters only.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    accountName: string,
    storageTaskAssignmentName: string,
    options?: StorageTaskAssignmentInstancesReportListOptionalParams,
  ): PagedAsyncIterableIterator<StorageTaskReportInstance> {
    const iter = this.listPagingAll(
      resourceGroupName,
      accountName,
      storageTaskAssignmentName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          accountName,
          storageTaskAssignmentName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    accountName: string,
    storageTaskAssignmentName: string,
    options?: StorageTaskAssignmentInstancesReportListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<StorageTaskReportInstance[]> {
    let result: StorageTaskAssignmentInstancesReportListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        accountName,
        storageTaskAssignmentName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        accountName,
        storageTaskAssignmentName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    accountName: string,
    storageTaskAssignmentName: string,
    options?: StorageTaskAssignmentInstancesReportListOptionalParams,
  ): AsyncIterableIterator<StorageTaskReportInstance> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      accountName,
      storageTaskAssignmentName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Fetch the report summary of a single storage task assignment's instances
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param accountName The name of the storage account within the specified resource group. Storage
   *                    account names must be between 3 and 24 characters in length and use numbers and lower-case letters
   *                    only.
   * @param storageTaskAssignmentName The name of the storage task assignment within the specified
   *                                  resource group. Storage task assignment names must be between 3 and 24 characters in length and use
   *                                  numbers and lower-case letters only.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    accountName: string,
    storageTaskAssignmentName: string,
    options?: StorageTaskAssignmentInstancesReportListOptionalParams,
  ): Promise<StorageTaskAssignmentInstancesReportListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, accountName, storageTaskAssignmentName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param accountName The name of the storage account within the specified resource group. Storage
   *                    account names must be between 3 and 24 characters in length and use numbers and lower-case letters
   *                    only.
   * @param storageTaskAssignmentName The name of the storage task assignment within the specified
   *                                  resource group. Storage task assignment names must be between 3 and 24 characters in length and use
   *                                  numbers and lower-case letters only.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    accountName: string,
    storageTaskAssignmentName: string,
    nextLink: string,
    options?: StorageTaskAssignmentInstancesReportListNextOptionalParams,
  ): Promise<StorageTaskAssignmentInstancesReportListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        accountName,
        storageTaskAssignmentName,
        nextLink,
        options,
      },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}/reports",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StorageTaskReportSummary,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.maxpagesize1,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.accountName,
    Parameters.subscriptionId,
    Parameters.storageTaskAssignmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StorageTaskReportSummary,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.accountName,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.storageTaskAssignmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
