# Used in most samples. Retrieve these values from a Cognitive Services instance
# in the Azure Portal.
COGNITIVE_SERVICE_ENDPOINT="https://<resource name>.cognitiveservies.azure.com/"
COGNITIVE_SERVICE_API_KEY="<text analytics api key>"

