/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { CommitmentAssociations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMLCommitmentPlansManagementClient } from "../azureMLCommitmentPlansManagementClient";
import {
  CommitmentAssociation,
  CommitmentAssociationsListNextOptionalParams,
  CommitmentAssociationsListOptionalParams,
  CommitmentAssociationsGetOptionalParams,
  CommitmentAssociationsGetResponse,
  CommitmentAssociationsListResponse,
  MoveCommitmentAssociationRequest,
  CommitmentAssociationsMoveOptionalParams,
  CommitmentAssociationsMoveResponse,
  CommitmentAssociationsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing CommitmentAssociations operations. */
export class CommitmentAssociationsImpl implements CommitmentAssociations {
  private readonly client: AzureMLCommitmentPlansManagementClient;

  /**
   * Initialize a new instance of the class CommitmentAssociations class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMLCommitmentPlansManagementClient) {
    this.client = client;
  }

  /**
   * Get all commitment associations for a parent commitment plan.
   * @param resourceGroupName The resource group name.
   * @param commitmentPlanName The Azure ML commitment plan name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    commitmentPlanName: string,
    options?: CommitmentAssociationsListOptionalParams
  ): PagedAsyncIterableIterator<CommitmentAssociation> {
    const iter = this.listPagingAll(
      resourceGroupName,
      commitmentPlanName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          commitmentPlanName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    commitmentPlanName: string,
    options?: CommitmentAssociationsListOptionalParams
  ): AsyncIterableIterator<CommitmentAssociation[]> {
    let result = await this._list(
      resourceGroupName,
      commitmentPlanName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        commitmentPlanName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    commitmentPlanName: string,
    options?: CommitmentAssociationsListOptionalParams
  ): AsyncIterableIterator<CommitmentAssociation> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      commitmentPlanName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Get a commitment association.
   * @param resourceGroupName The resource group name.
   * @param commitmentPlanName The Azure ML commitment plan name.
   * @param commitmentAssociationName The commitment association name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    commitmentPlanName: string,
    commitmentAssociationName: string,
    options?: CommitmentAssociationsGetOptionalParams
  ): Promise<CommitmentAssociationsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        commitmentPlanName,
        commitmentAssociationName,
        options
      },
      getOperationSpec
    );
  }

  /**
   * Get all commitment associations for a parent commitment plan.
   * @param resourceGroupName The resource group name.
   * @param commitmentPlanName The Azure ML commitment plan name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    commitmentPlanName: string,
    options?: CommitmentAssociationsListOptionalParams
  ): Promise<CommitmentAssociationsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, commitmentPlanName, options },
      listOperationSpec
    );
  }

  /**
   * Re-parent a commitment association from one commitment plan to another.
   * @param resourceGroupName The resource group name.
   * @param commitmentPlanName The Azure ML commitment plan name.
   * @param commitmentAssociationName The commitment association name.
   * @param movePayload The move request payload.
   * @param options The options parameters.
   */
  move(
    resourceGroupName: string,
    commitmentPlanName: string,
    commitmentAssociationName: string,
    movePayload: MoveCommitmentAssociationRequest,
    options?: CommitmentAssociationsMoveOptionalParams
  ): Promise<CommitmentAssociationsMoveResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        commitmentPlanName,
        commitmentAssociationName,
        movePayload,
        options
      },
      moveOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The resource group name.
   * @param commitmentPlanName The Azure ML commitment plan name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    commitmentPlanName: string,
    nextLink: string,
    options?: CommitmentAssociationsListNextOptionalParams
  ): Promise<CommitmentAssociationsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, commitmentPlanName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CommitmentAssociation
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.commitmentPlanName,
    Parameters.commitmentAssociationName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CommitmentAssociationListResult
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.skipToken],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.commitmentPlanName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const moveOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/commitmentAssociations/{commitmentAssociationName}/move",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CommitmentAssociation
    }
  },
  requestBody: Parameters.movePayload,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.commitmentPlanName,
    Parameters.commitmentAssociationName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CommitmentAssociationListResult
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.skipToken],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.commitmentPlanName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
