/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { UsageHistory } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMLCommitmentPlansManagementClient } from "../azureMLCommitmentPlansManagementClient";
import {
  PlanUsageHistory,
  UsageHistoryListNextOptionalParams,
  UsageHistoryListOptionalParams,
  UsageHistoryListResponse,
  UsageHistoryListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing UsageHistory operations. */
export class UsageHistoryImpl implements UsageHistory {
  private readonly client: AzureMLCommitmentPlansManagementClient;

  /**
   * Initialize a new instance of the class UsageHistory class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMLCommitmentPlansManagementClient) {
    this.client = client;
  }

  /**
   * Retrieve the usage history for an Azure ML commitment plan.
   * @param resourceGroupName The resource group name.
   * @param commitmentPlanName The Azure ML commitment plan name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    commitmentPlanName: string,
    options?: UsageHistoryListOptionalParams
  ): PagedAsyncIterableIterator<PlanUsageHistory> {
    const iter = this.listPagingAll(
      resourceGroupName,
      commitmentPlanName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          commitmentPlanName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    commitmentPlanName: string,
    options?: UsageHistoryListOptionalParams
  ): AsyncIterableIterator<PlanUsageHistory[]> {
    let result = await this._list(
      resourceGroupName,
      commitmentPlanName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        commitmentPlanName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    commitmentPlanName: string,
    options?: UsageHistoryListOptionalParams
  ): AsyncIterableIterator<PlanUsageHistory> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      commitmentPlanName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Retrieve the usage history for an Azure ML commitment plan.
   * @param resourceGroupName The resource group name.
   * @param commitmentPlanName The Azure ML commitment plan name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    commitmentPlanName: string,
    options?: UsageHistoryListOptionalParams
  ): Promise<UsageHistoryListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, commitmentPlanName, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The resource group name.
   * @param commitmentPlanName The Azure ML commitment plan name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    commitmentPlanName: string,
    nextLink: string,
    options?: UsageHistoryListNextOptionalParams
  ): Promise<UsageHistoryListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, commitmentPlanName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/commitmentPlans/{commitmentPlanName}/usageHistory",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PlanUsageHistoryListResult
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.skipToken],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.commitmentPlanName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PlanUsageHistoryListResult
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.skipToken],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.commitmentPlanName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
