# Used to authenticate with the Cognitive Services endpoint
FORM_RECOGNIZER_ENDPOINT="https://<resource name>.cognitiveservies.azure.com/"
FORM_RECOGNIZER_API_KEY="<form recognizer api key>"

# Model training information: the first variable is used to create a model during
# test setup, and the second refers to the document that we send to the service
# to use for recognition
FORM_RECOGNIZER_TRAINING_CONTAINER_SAS_URL="<sas url to a container of training documents>"
FORM_RECOGNIZER_TEST_DOCUMENT_URL="<url to a test document to send>"

# As an alternative to FORM_RECOGNIZER_API_KEY, you may provide Azure Active
# Directory credentials below.
AZURE_TENANT_ID="<azure tenant id>"
AZURE_CLIENT_ID="<azure client id>"
AZURE_CLIENT_SECRET="<azure client secret>"
