{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/openai-shared/providers/Microsoft.CognitiveServices/accounts/sdk-test-openai?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208006ae3-0000-0d00-0000-642554180000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/openai-shared/providers/Microsoft.CognitiveServices/accounts/sdk-test-openai",
        "name": "sdk-test-openai",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u002208006ae3-0000-0d00-0000-642554180000\u0022",
        "location": "West Europe",
        "sku": {
          "name": "S0"
        },
        "kind": "OpenAI",
        "properties": {
          "endpoint": "https://westeurope.api.cognitive.microsoft.com/",
          "internalId": "bca7647fc60f4f079c855b225f59cb55",
          "dateCreated": "2023-03-30T07:00:17.0607515Z",
          "callRateLimit": {
            "rules": [
              {
                "key": "openai.dalle.post",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "dalle/*",
                    "method": "POST"
                  }
                ]
              },
              {
                "key": "openai.dalle.other",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "dalle/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "openai",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "openai/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "default",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "*",
                    "method": "*"
                  }
                ]
              }
            ]
          },
          "isMigrated": false,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "capabilities": [
            {
              "name": "VirtualNetworks"
            },
            {
              "name": "MaxFineTuneCount",
              "value": "100"
            },
            {
              "name": "MaxRunningFineTuneCount",
              "value": "1"
            },
            {
              "name": "MaxUserFileCount",
              "value": "50"
            },
            {
              "name": "MaxTrainingFileSize",
              "value": "100000000"
            },
            {
              "name": "MaxUserFileImportDurationInHours",
              "value": "1"
            },
            {
              "name": "MaxFineTuneJobDurationInHours",
              "value": "720"
            }
          ],
          "endpoints": {
            "OpenAI Language Model Instance API": "https://westeurope.api.cognitive.microsoft.com/",
            "OpenAI Dall-E API": "https://westeurope.api.cognitive.microsoft.com/"
          },
          "provisioningState": "Succeeded"
        },
        "identity": {
          "principalId": "0c446045-0db7-4965-b705-d497b983fe8c",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-30T07:00:14.7205177Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-30T07:00:14.7205177Z"
        }
      }
    }
  ],
  "Variables": {}
}
