/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { ApiKeys } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { NginxManagementClient } from "../nginxManagementClient.js";
import {
  NginxDeploymentApiKeyResponse,
  ApiKeysListNextOptionalParams,
  ApiKeysListOptionalParams,
  ApiKeysListResponse,
  ApiKeysCreateOrUpdateOptionalParams,
  ApiKeysCreateOrUpdateResponse,
  ApiKeysDeleteOptionalParams,
  ApiKeysGetOptionalParams,
  ApiKeysGetResponse,
  ApiKeysListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing ApiKeys operations. */
export class ApiKeysImpl implements ApiKeys {
  private readonly client: NginxManagementClient;

  /**
   * Initialize a new instance of the class ApiKeys class.
   * @param client Reference to the service client
   */
  constructor(client: NginxManagementClient) {
    this.client = client;
  }

  /**
   * List all API Keys of the given Nginx deployment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deploymentName The name of targeted NGINX deployment
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    deploymentName: string,
    options?: ApiKeysListOptionalParams,
  ): PagedAsyncIterableIterator<NginxDeploymentApiKeyResponse> {
    const iter = this.listPagingAll(resourceGroupName, deploymentName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          deploymentName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    deploymentName: string,
    options?: ApiKeysListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<NginxDeploymentApiKeyResponse[]> {
    let result: ApiKeysListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, deploymentName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        deploymentName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    deploymentName: string,
    options?: ApiKeysListOptionalParams,
  ): AsyncIterableIterator<NginxDeploymentApiKeyResponse> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      deploymentName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Create or update an API Key for the Nginx deployment in order to access the dataplane API endpoint
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deploymentName The name of targeted NGINX deployment
   * @param apiKeyName The resource name of the API key
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    deploymentName: string,
    apiKeyName: string,
    options?: ApiKeysCreateOrUpdateOptionalParams,
  ): Promise<ApiKeysCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deploymentName, apiKeyName, options },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Delete API key for Nginx deployment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deploymentName The name of targeted NGINX deployment
   * @param apiKeyName The resource name of the API key
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    deploymentName: string,
    apiKeyName: string,
    options?: ApiKeysDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deploymentName, apiKeyName, options },
      deleteOperationSpec,
    );
  }

  /**
   * Get the specified API Key of the given Nginx deployment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deploymentName The name of targeted NGINX deployment
   * @param apiKeyName The resource name of the API key
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    deploymentName: string,
    apiKeyName: string,
    options?: ApiKeysGetOptionalParams,
  ): Promise<ApiKeysGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deploymentName, apiKeyName, options },
      getOperationSpec,
    );
  }

  /**
   * List all API Keys of the given Nginx deployment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deploymentName The name of targeted NGINX deployment
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    deploymentName: string,
    options?: ApiKeysListOptionalParams,
  ): Promise<ApiKeysListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deploymentName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deploymentName The name of targeted NGINX deployment
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    deploymentName: string,
    nextLink: string,
    options?: ApiKeysListNextOptionalParams,
  ): Promise<ApiKeysListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deploymentName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/apiKeys/{apiKeyName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.NginxDeploymentApiKeyResponse,
    },
    201: {
      bodyMapper: Mappers.NginxDeploymentApiKeyResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.body,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deploymentName,
    Parameters.apiKeyName,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/apiKeys/{apiKeyName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deploymentName,
    Parameters.apiKeyName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/apiKeys/{apiKeyName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NginxDeploymentApiKeyResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deploymentName,
    Parameters.apiKeyName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/apiKeys",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NginxDeploymentApiKeyListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deploymentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NginxDeploymentApiKeyListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deploymentName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
