// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { DefaultWafPolicy } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { NginxManagementClient } from "../nginxManagementClient.js";
import type {
  DefaultWafPolicyListOptionalParams,
  DefaultWafPolicyListResponse,
} from "../models/index.js";

/** Class containing DefaultWafPolicy operations. */
export class DefaultWafPolicyImpl implements DefaultWafPolicy {
  private readonly client: NginxManagementClient;

  /**
   * Initialize a new instance of the class DefaultWafPolicy class.
   * @param client Reference to the service client
   */
  constructor(client: NginxManagementClient) {
    this.client = client;
  }

  /**
   * Get the Nginx Waf Policy of given Nginx deployment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deploymentName The name of targeted NGINX deployment
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    deploymentName: string,
    options?: DefaultWafPolicyListOptionalParams,
  ): Promise<DefaultWafPolicyListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deploymentName, options },
      listOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Nginx.NginxPlus/nginxDeployments/{deploymentName}/listDefaultWafPolicies",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.NginxDeploymentDefaultWafPolicyListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deploymentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
