# Used in most samples. Retrieve these values from a Communication Service instance
# in the Azure Portal.
COMMUNICATION_CONNECTION_STRING="endpoint=https://<resource name>.communication.azure.com/;accessKey=<key>"

# For token authentication
COMMUNICATION_ENDPOINT="https://<resource name>.communication.azure.com",
AZURE_CLIENT_ID: "YourClientId",
AZURE_TENANT_ID: "YourTenantId",
AZURE_CLIENT_SECRET: "YourClientSecret"