{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HybridNetwork/operations?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type \u0027Operations\u0027 could not be found in the namespace \u0027Microsoft.HybridNetwork\u0027 for api version \u00272023-09-01\u0027. The supported api-versions are \u00272020-01-01-preview,2021-05-01,2022-01-01-preview,2022-09-01-preview,2023-01-01,2023-04-01-preview\u0027."
        }
      }
    }
  ],
  "Variables": {}
}
