/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { HeatMap } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { TrafficManagerManagementClient } from "../trafficManagerManagementClient";
import { HeatMapGetOptionalParams, HeatMapGetResponse } from "../models";

/** Class containing HeatMap operations. */
export class HeatMapImpl implements HeatMap {
  private readonly client: TrafficManagerManagementClient;

  /**
   * Initialize a new instance of the class HeatMap class.
   * @param client Reference to the service client
   */
  constructor(client: TrafficManagerManagementClient) {
    this.client = client;
  }

  /**
   * Gets latest heatmap for Traffic Manager profile.
   * @param resourceGroupName The name of the resource group containing the Traffic Manager endpoint.
   * @param profileName The name of the Traffic Manager profile.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    profileName: string,
    options?: HeatMapGetOptionalParams
  ): Promise<HeatMapGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, profileName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/heatMaps/{heatMapType}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HeatMapModel
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.topLeft,
    Parameters.botRight
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.profileName,
    Parameters.subscriptionId,
    Parameters.heatMapType
  ],
  headerParameters: [Parameters.accept],
  serializer
};
