/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SqlVirtualMachineTroubleshoot } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SqlVirtualMachineManagementClient } from "../sqlVirtualMachineManagementClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  SqlVmTroubleshooting,
  SqlVirtualMachineTroubleshootTroubleshootOptionalParams,
  SqlVirtualMachineTroubleshootTroubleshootResponse
} from "../models";

/** Class containing SqlVirtualMachineTroubleshoot operations. */
export class SqlVirtualMachineTroubleshootImpl
  implements SqlVirtualMachineTroubleshoot {
  private readonly client: SqlVirtualMachineManagementClient;

  /**
   * Initialize a new instance of the class SqlVirtualMachineTroubleshoot class.
   * @param client Reference to the service client
   */
  constructor(client: SqlVirtualMachineManagementClient) {
    this.client = client;
  }

  /**
   * Starts SQL virtual machine troubleshooting.
   * @param resourceGroupName Name of the resource group that contains the resource. You can obtain this
   *                          value from the Azure Resource Manager API or the portal.
   * @param sqlVirtualMachineName Name of the SQL virtual machine.
   * @param parameters The SQL virtual machine troubleshooting entity.
   * @param options The options parameters.
   */
  async beginTroubleshoot(
    resourceGroupName: string,
    sqlVirtualMachineName: string,
    parameters: SqlVmTroubleshooting,
    options?: SqlVirtualMachineTroubleshootTroubleshootOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<SqlVirtualMachineTroubleshootTroubleshootResponse>,
      SqlVirtualMachineTroubleshootTroubleshootResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<SqlVirtualMachineTroubleshootTroubleshootResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, sqlVirtualMachineName, parameters, options },
      spec: troubleshootOperationSpec
    });
    const poller = await createHttpPoller<
      SqlVirtualMachineTroubleshootTroubleshootResponse,
      OperationState<SqlVirtualMachineTroubleshootTroubleshootResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Starts SQL virtual machine troubleshooting.
   * @param resourceGroupName Name of the resource group that contains the resource. You can obtain this
   *                          value from the Azure Resource Manager API or the portal.
   * @param sqlVirtualMachineName Name of the SQL virtual machine.
   * @param parameters The SQL virtual machine troubleshooting entity.
   * @param options The options parameters.
   */
  async beginTroubleshootAndWait(
    resourceGroupName: string,
    sqlVirtualMachineName: string,
    parameters: SqlVmTroubleshooting,
    options?: SqlVirtualMachineTroubleshootTroubleshootOptionalParams
  ): Promise<SqlVirtualMachineTroubleshootTroubleshootResponse> {
    const poller = await this.beginTroubleshoot(
      resourceGroupName,
      sqlVirtualMachineName,
      parameters,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const troubleshootOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/{sqlVirtualMachineName}/troubleshoot",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.SqlVmTroubleshooting
    },
    201: {
      bodyMapper: Mappers.SqlVmTroubleshooting
    },
    202: {
      bodyMapper: Mappers.SqlVmTroubleshooting
    },
    204: {
      bodyMapper: Mappers.SqlVmTroubleshooting
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.parameters5,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.sqlVirtualMachineName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
