# None of these environment variables are needed while we only have the InteractiveBrowserCredentialPersistenceTest test.
# But they will be useful in the future:
#
# AZURE_TENANT_ID=<AD tenant id or name>
# AZURE_CLIENT_ID=<ID of the user/service principal to authenticate as>
# AZURE_CLIENT_SECRET=<client secret used to authenticate to Azure AD>
# AZURE_CLIENT_CERTIFICATE_PATH=<path to the client certificate to be used with the ClientCertificateCredential>
# AZURE_USERNAME=<username to be used with the UsernamePasswordCredential>
# AZURE_PASSWORD=<password to be used with the UsernamePasswordCredential>
# 
