{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources/managed-identities?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "48dadb00-f69c-438e-8f80-f9cf8df3db55"
      },
      "ResponseBody": {
        "value": [
          {
            "objectId": "00000000-0000-0000-0000-000000000000",
            "resourceId": "/subscriptions/fcdfe1b7-8458-44e1-be61-1422e03cb202/resourcegroups/devasingh-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/devasingh-test-identity"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "Sanitized",
        "kind": "BlobManagedIdentity",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/ingestion-sources/bf848b33-c862-4002-8b89-cfc145de09c2?api-version=2025-04-30-preview",
        "mise-correlation-id": "9b62a19a-8905-42f8-9dee-592f4d60100d"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "BlobManagedIdentity",
        "created": "2025-11-01T02:07:24.124304Z",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources/bf848b33-c862-4002-8b89-cfc145de09c2?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "85dd7fa3-7d3f-4b41-8209-0e194a214b7a"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "BlobManagedIdentity",
        "created": "2025-11-01T02:07:24.124304Z",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources/bf848b33-c862-4002-8b89-cfc145de09c2?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "mise-correlation-id": "65706afb-753b-4aa3-a48d-e9a0f4a4a9d1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
