{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources/managed-identities?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c4077b87-fa0a-4e69-9359-469390d4e82b"
      },
      "ResponseBody": {
        "value": [
          {
            "objectId": "00000000-0000-0000-0000-000000000000",
            "resourceId": "/subscriptions/fcdfe1b7-8458-44e1-be61-1422e03cb202/resourcegroups/devasingh-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/devasingh-test-identity"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f85ec570-3d70-4f14-8805-0e6c166aacb9"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "kind": "BlobManagedIdentity",
            "created": "2025-11-01T02:02:44.4084446Z"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources/13a7e9ea-e903-47b4-99bc-bc47aefd8ec5?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "mise-correlation-id": "dfca9f31-9762-45df-838f-1b790614290a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "Sanitized",
        "kind": "BlobManagedIdentity",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/ingestion-sources/853c1292-1da5-49a5-bfe5-e109c55b1773?api-version=2025-04-30-preview",
        "mise-correlation-id": "0832ede9-d19a-462f-8666-859b826d53a1"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "BlobManagedIdentity",
        "created": "2025-11-01T02:40:45.0219737Z",
        "connectionInfo": {
          "containerUrl": "Sanitized",
          "objectId": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/ingestion-sources?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "df95bad3-31d6-46b1-af12-a75c4cf35cc3"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "kind": "BlobManagedIdentity",
            "created": "2025-11-01T02:40:45.0219737Z"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
