{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "creationTime": "2025-11-01T02:06:20.1049694Z",
            "importType": "StaticCatalog",
            "displayName": "Ingestion for Run",
            "sourceCatalogUrl": "https://fake.example.com/catalog.json",
            "00000000-0000-0000-0000-000000000000ExistingItems": true,
            "keepOriginalAssets": true,
            "status": "Ready"
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "creationTime": "2025-11-01T02:06:28.093313Z",
            "importType": "StaticCatalog",
            "displayName": "Ingestion for Status Check",
            "sourceCatalogUrl": "https://fake.example.com/catalog.json",
            "00000000-0000-0000-0000-000000000000ExistingItems": true,
            "keepOriginalAssets": true,
            "status": "Ready"
          },
          {
          [...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00950fe3-511f-4e6d-b92e-7ef7f83e8338?api-version=2025-04-30-preview",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "operation-location": "https://example.com"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-11-01T03:14:28.10028Z"
          }
        ],
        "type": "DeleteIngestion",
        "creationTime": "2025-11-01T03:14:28.1002784Z",
        "collectionId": "naip-atl-00000000",
        "additionalInformation": {
          "IngestionId": "500ab218-003e-456c-8e40-b37292bd2ae8"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-11-01T03:14:28.10028Z"
          }
        ],
        "type": "DeleteIngestion",
        "creationTime": "2025-11-01T03:14:28.1002784Z",
        "collectionId": "naip-atl-00000000",
        "additionalInformation": {
          "IngestionId": "500ab218-003e-456c-8e40-b37292bd2ae8"
        }
      }
    },
[...]
