{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for List Runs Test",
        "sourceCatalogUrl": "https://fake.example.com/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions/91d2a792-1ef1-4cb5-af1d-a34cb4cf56fb?api-version=2025-04-30-preview",
        "mise-correlation-id": "09492790-3a95-444e-87d9-8872dad5de2c"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "creationTime": "2025-11-01T02:07:42.6169064Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for List Runs Test",
        "sourceCatalogUrl": "https://fake.example.com/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions/91d2a792-1ef1-4cb5-af1d-a34cb4cf56fb/runs?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions/91d2a792-1ef1-4cb5-af1d-a34cb4cf56fb/runs/9af887ea-9180-45ad-825d-0b88dda0bdfb?api-version=2025-04-30-preview",
        "mise-correlation-id": "168b9275-1629-4aef-96cf-f4e5352c66bf"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "creationTime": "2025-11-01T02:07:42.7010427Z",
        "sourceCatalogUrl": "https://fake.example.com/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "operation": {
          "id": "Sanitized",
          "status": "Pending",
          "statusHistory": [
            {
              "status": "Pending",
              "timestamp": "2025-11-01T02:07:42.668429Z"
            }
          ],
          "creationTime": "2025-11-01T02:07:42.6684262Z",
          "totalItems": 0,
          "totalPendingItems": 0,
          "totalSuccessfulItems": 0,
          "totalFailedItems": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions/91d2a792-1ef1-4cb5-af1d-a34cb4cf56fb/runs?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "91c2c0f7-c8d5-430d-ab73-a8da852dc967"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "creationTime": "2025-11-01T02:07:42.7010427Z",
            "sourceCatalogUrl": "https://fake.example.com/catalog.json",
            "skipExistingItems": true,
            "keepOriginalAssets": true,
            "operation": {
              "id": "Sanitized",
              "status": "Pending",
              "statusHistory": [
                {
                  "status": "Pending",
                  "timestamp": "2025-11-01T02:07:42.668429Z"
                }
              ],
              "creationTime": "2025-11-01T02:07:42.6684262Z",
              "totalItems": 0,
              "totalPendingItems": 0,
              "totalSuccessfulItems": 0,
              "totalFailedItems": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
