{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Get Test",
        "sourceCatalogUrl": "https://fake.example.com/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions/7d4f8e58-4adf-4da6-90b8-cd34fa362d11?api-version=2025-04-30-preview",
        "mise-correlation-id": "927c7897-5fa7-4584-bfed-bfdddba5b152"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "creationTime": "2025-11-01T02:07:38.4663096Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Get Test",
        "sourceCatalogUrl": "https://fake.example.com/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/inma/collections/naip-atl-00000000/ingestions/7d4f8e58-4adf-4da6-90b8-cd34fa362d11?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e4cc396b-073e-4041-9b51-274a49dc27b2"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "creationTime": "2025-11-01T02:07:38.4663096Z",
        "importType": "StaticCatalog",
        "displayName": "Ingestion for Get Test",
        "sourceCatalogUrl": "https://fake.example.com/catalog.json",
        "skipExistingItems": true,
        "keepOriginalAssets": true,
        "status": "Ready"
      }
    }
  ],
  "Variables": {}
}
