# The SAS Connection String to authenticate with Azure Storage Blob
# usually in the form of: BlobEndpoint=<endpoint>;SharedAccessSignature=<sas>
AZURE_STORAGE_BLOB_CONNECTION_STRING=""

# The name of the container. In our example it'll likely be `default/blobs`
AZURE_STORAGE_BLOB_CONTAINER_NAME=""
