{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamexx?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operations/44aad75e-b8fa-45a7-b8b8-eb06bc315a1e?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "networknamexx",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamexx",
        "etag": "W/\u00222066de6b-7253-4907-bb1a-f7f20f580990\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "53bd6136-8775-463d-ae6e-dee11b47235c",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operations/44aad75e-b8fa-45a7-b8b8-eb06bc315a1e?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamexx?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ec5ef6af-3a3b-46e0-a6ea-4febc4ea059c\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "name": "networknamexx",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamexx",
        "etag": "W/\u0022ec5ef6af-3a3b-46e0-a6ea-4febc4ea059c\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "53bd6136-8775-463d-ae6e-dee11b47235c",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamexx/subnets/subnetnamexx?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressPrefix": "10.0.0.0/24"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operations/133ae6ec-c1ca-45cf-b71e-97614e5e1a79?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "name": "subnetnamexx",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamexx/subnets/subnetnamexx",
        "etag": "W/\u00229aa8a5e3-f84d-406a-809e-0e2af180e69b\u0022",
        "properties": {
          "provisioningState": "Updating",
          "addressPrefix": "10.0.0.0/24",
          "delegations": [],
          "privateEndpointNetworkPolicies": "Disabled",
          "privateLinkServiceNetworkPolicies": "Enabled"
        },
        "type": "Microsoft.Network/virtualNetworks/subnets"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/networkInterfaces/interfacex?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "ipConfigurations": [
            {
              "name": "MyIpConfig",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamexx/subnets/subnetnamexx",
                  "properties": {}
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/virtualmachinex?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D2_v2"
          },
          "storageProfile": {
            "imageReference": {
              "sku": "2016-Datacenter",
              "publisher": "MicrosoftWindowsServer",
              "version": "latest",
              "offer": "WindowsServer"
            },
            "osDisk": {
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "name": "myVMosdisk",
              "createOption": "FromImage"
            },
            "dataDisks": [
              {
                "diskSizeGB": 1023,
                "createOption": "Empty",
                "lun": 0
              },
              {
                "diskSizeGB": 1023,
                "createOption": "Empty",
                "lun": 1
              }
            ]
          },
          "osProfile": {
            "adminUsername": "testuser",
            "computerName": "myVM",
            "adminPassword": "SecretPlaceholder123",
            "windowsConfiguration": {
              "enableAutomaticUpdates": true
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/networkInterfaces/interfacex"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Compute/locations/eastus/operations/3b90cb50-6986-41b3-a53f-b3613e45af9d?p=f8cfeb74-5cf7-40e0-89b1-3d95a1060fe7\u0026api-version=2022-08-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1195",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "name": "virtualmachinex",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/virtualmachinex",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "properties": {
          "vmId": "2488d523-f834-4de5-ae30-06299768582f",
          "hardwareProfile": {
            "vmSize": "Standard_D2_v2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2016-Datacenter",
              "version": "latest",
              "exactVersion": "14393.5356.220908"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "myVMosdisk",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 127
            },
            "dataDisks": [
              {
                "lun": 0,
                "createOption": "Empty",
                "caching": "None",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                },
                "deleteOption": "Detach",
                "diskSizeGB": 1023,
                "toBeDetached": false
              },
              {
                "lun": 1,
                "createOption": "Empty",
                "caching": "None",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                },
                "deleteOption": "Detach",
                "diskSizeGB": 1023,
                "toBeDetached": false
              }
            ]
          },
          "osProfile": {
            "computerName": "myVM",
            "adminUsername": "testuser",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": false
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/networkInterfaces/interfacex"
              }
            ]
          },
          "provisioningState": "Creating",
          "timeCreated": "2022-09-22T06:57:26.7266581\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Compute/locations/eastus/operations/3b90cb50-6986-41b3-a53f-b3613e45af9d?p=f8cfeb74-5cf7-40e0-89b1-3d95a1060fe7\u0026api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "50",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29979",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "startTime": "2022-09-22T06:57:25.851635\u002B00:00",
        "status": "InProgress",
        "name": "3b90cb50-6986-41b3-a53f-b3613e45af9d"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Compute/locations/eastus/operations/3b90cb50-6986-41b3-a53f-b3613e45af9d?p=f8cfeb74-5cf7-40e0-89b1-3d95a1060fe7\u0026api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29978",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "startTime": "2022-09-22T06:57:25.851635\u002B00:00",
        "endTime": "2022-09-22T06:58:12.0550938\u002B00:00",
        "status": "Succeeded",
        "name": "3b90cb50-6986-41b3-a53f-b3613e45af9d"
      }
    },
[...]
