{
  "Entries": [
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/roleAssignments?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": ""
      },
      "ResponseBody": {
        "count": 10,
        "value": [
          {
            "id": "d3454554-b137-4f10-820d-f66f048c0341",
            "roleDefinitionId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
            "principalId": "35ac9d32-a8ca-4324-9393-d4000746f07c",
            "scope": "workspaces/joheredisyn",
            "principalType": "User"
          },
          {
            "id": "94af6da3-097d-4b32-9184-3db224a040df",
            "roleDefinitionId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
            "principalId": "dc79720f-a14b-4abe-aa2c-6be62e7ca602",
            "scope": "workspaces/joheredisyn",
            "principalType": "ServicePrincipal"
          },
          {
            "id": "ed08acb4-43af-48d8-9cbb-2b40c5894b08",
            "roleDefinitionId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
            "princip[...]
