{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.EdgeZones/operations?api-version=2024-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "AuthorizationFailed",
          "message": "The client 'v-ziweichen@microsoft.com' with object id 'eece94dc-07aa-4478-b347-5dabc7791d2a' does not have authorization to perform action 'Microsoft.EdgeZones/operations/read' over scope '/providers/Microsoft.EdgeZones' or the scope is invalid. If access was recently granted, please refresh your credentials."
        }
      }
    }
  ],
  "Variables": {}
}
