AZURE_AI_PROJECTS_CONNECTION_STRING="<endpoint>>;<subscription>;<resource group>;<project>"

APPLICATIONINSIGHTS_CONNECTION_STRING="InstrumentationKey=<key>;IngestionEndpoint=<ingestionEndpoint>;LiveEndpoint=<LiveEndPoint>;ApplicationId=<appId>"
