{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/fuzzy/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?query=pizza\u0026countrySet=fr"
          },
          {
            "query": "?query=pizza\u0026lat=25\u0026lon=121"
          },
          {
            "query": "?query=pizza\u0026lat=25\u0026lon=121\u0026countrySet=tw"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://atlas.microsoft.com/search/fuzzy/batch/6de0066a-9c66-42ad-8eb1-777c904307cf?api-version=1.0",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": "\u0022\u0022"
    },
    {
      "RequestUri": "https://atlas.microsoft.com/search/fuzzy/batch/6de0066a-9c66-42ad-8eb1-777c904307cf?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "query": "pizza",
                "queryType": "NON_NEAR",
                "queryTime": 9,
                "numResults": 10,
                "offset": 0,
                "totalResults": 19829,
                "fuzzyLevel": 1
              },
              "results": [
                {
                  "type": "POI",
                  "id": "250009036854579",
                  "score": 2.1454398632,
                  "info": "search:ta:250009036854579-FR",
                  "poi": {
                    "name": "Gaston Pizza",
                    "phone": "\u002B33 6 09 58 54 73",
                    "categorySet": [
                      {
                        "id": 7315036
                      }
                    ],
                    "url": "gastonpizza.free.fr",
                    "categories": [
                      "pizza",
                      "restaurant"
                    ],
                    "classifications": [
                      {
                        "code": "RESTAURANT",
                        "names": [
                          {
                            "nameLocale": "en-US",
                            "name": "restaurant"
                          },
                          {
                            "nameLocale": "en-US",
                            "name": "pizza"
                          }
                        ]
                      }
                    ]
                  },
                  "address": {
                    "streetNumber": "128",
                    "streetName": "Rue de la Lironde",
                    "municipality": "Montpellier",
                    "countrySecondarySubdivision": "H\u00E9rault",
                    "countrySubdivision": "Occitanie",
                    "postalCode": "34090",
                    "countryCode": "FR",
                    "country": "France",
                    "countryCodeISO3": "FRA",
                    "freeformAddress": "128 Rue de la Lironde, 34090 Montpellier",
                    "localName": "Montpellier"
                  },
                  "position": {
                    "lat": 43.64287,
                    "lon": 3.84559
                  },
                  "viewport": {
                    "topLeftPoint": {
                      "lat": 43.64377,
                      "lon": 3.84435
                    },
                    "btmRightPoint": {
                      "lat": 43.64197,
                      "lon": 3.84683
                    }
                  },
                  "entryPoints": [
                    {
                      "type": "main",
                      "position": {
                        "lat": 43.64285,
                        "lon": 3.84575
                      }
                    }
                  ]
                },
                {
                  "type": "POI",
                  "id": "250009036647391",
                  "score": 2.1454398632,
                  "info": "search:ta:250009036647391-FR",
                  "poi": {
                [...]
