/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { PreconfiguredEndpoints } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { FrontDoorManagementClient } from "../frontDoorManagementClient";
import {
  PreconfiguredEndpoint,
  PreconfiguredEndpointsListNextOptionalParams,
  PreconfiguredEndpointsListOptionalParams,
  PreconfiguredEndpointsListResponse,
  PreconfiguredEndpointsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PreconfiguredEndpoints operations. */
export class PreconfiguredEndpointsImpl implements PreconfiguredEndpoints {
  private readonly client: FrontDoorManagementClient;

  /**
   * Initialize a new instance of the class PreconfiguredEndpoints class.
   * @param client Reference to the service client
   */
  constructor(client: FrontDoorManagementClient) {
    this.client = client;
  }

  /**
   * Gets a list of Preconfigured Endpoints
   * @param resourceGroupName Name of the Resource group within the Azure subscription.
   * @param profileName The Profile identifier associated with the Tenant and Partner
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    profileName: string,
    options?: PreconfiguredEndpointsListOptionalParams
  ): PagedAsyncIterableIterator<PreconfiguredEndpoint> {
    const iter = this.listPagingAll(resourceGroupName, profileName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(resourceGroupName, profileName, options);
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    profileName: string,
    options?: PreconfiguredEndpointsListOptionalParams
  ): AsyncIterableIterator<PreconfiguredEndpoint[]> {
    let result = await this._list(resourceGroupName, profileName, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        profileName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    profileName: string,
    options?: PreconfiguredEndpointsListOptionalParams
  ): AsyncIterableIterator<PreconfiguredEndpoint> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      profileName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of Preconfigured Endpoints
   * @param resourceGroupName Name of the Resource group within the Azure subscription.
   * @param profileName The Profile identifier associated with the Tenant and Partner
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    profileName: string,
    options?: PreconfiguredEndpointsListOptionalParams
  ): Promise<PreconfiguredEndpointsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, profileName, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName Name of the Resource group within the Azure subscription.
   * @param profileName The Profile identifier associated with the Tenant and Partner
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    profileName: string,
    nextLink: string,
    options?: PreconfiguredEndpointsListNextOptionalParams
  ): Promise<PreconfiguredEndpointsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, profileName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/PreconfiguredEndpoints",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PreconfiguredEndpointList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.profileName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PreconfiguredEndpointList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.profileName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
