/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { PreconfiguredEndpoints } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { FrontDoorManagementClient } from "../frontDoorManagementClient";
import {
  PreconfiguredEndpoint,
  PreconfiguredEndpointsListNextOptionalParams,
  PreconfiguredEndpointsListOptionalParams,
  PreconfiguredEndpointsListResponse,
  PreconfiguredEndpointsListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PreconfiguredEndpoints operations. */
export class PreconfiguredEndpointsImpl implements PreconfiguredEndpoints {
  private readonly client: FrontDoorManagementClient;

  /**
   * Initialize a new instance of the class PreconfiguredEndpoints class.
   * @param client Reference to the service client
   */
  constructor(client: FrontDoorManagementClient) {
    this.client = client;
  }

  /**
   * Gets a list of Preconfigured Endpoints
   * @param resourceGroupName Name of the Resource group within the Azure subscription.
   * @param profileName The Profile identifier associated with the Tenant and Partner
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    profileName: string,
    options?: PreconfiguredEndpointsListOptionalParams,
  ): PagedAsyncIterableIterator<PreconfiguredEndpoint> {
    const iter = this.listPagingAll(resourceGroupName, profileName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          profileName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    profileName: string,
    options?: PreconfiguredEndpointsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<PreconfiguredEndpoint[]> {
    let result: PreconfiguredEndpointsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, profileName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        profileName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    profileName: string,
    options?: PreconfiguredEndpointsListOptionalParams,
  ): AsyncIterableIterator<PreconfiguredEndpoint> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      profileName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of Preconfigured Endpoints
   * @param resourceGroupName Name of the Resource group within the Azure subscription.
   * @param profileName The Profile identifier associated with the Tenant and Partner
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    profileName: string,
    options?: PreconfiguredEndpointsListOptionalParams,
  ): Promise<PreconfiguredEndpointsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, profileName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName Name of the Resource group within the Azure subscription.
   * @param profileName The Profile identifier associated with the Tenant and Partner
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    profileName: string,
    nextLink: string,
    options?: PreconfiguredEndpointsListNextOptionalParams,
  ): Promise<PreconfiguredEndpointsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, profileName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/NetworkExperimentProfiles/{profileName}/PreconfiguredEndpoints",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PreconfiguredEndpointList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion2],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.profileName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PreconfiguredEndpointList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.profileName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
