{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/serviceLimits/standardFSv2Family?api-version=2020-10-25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-RequestId": "Tbck4tOc-0C0slOr3gDucg.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/serviceLimits/standardFSv2Family",
        "name": "standardFSv2Family",
        "properties": {
          "currentValue": 0,
          "limit": 200,
          "name": {
            "value": "standardFSv2Family",
            "localizedValue": "Standard FSv2 Family vCPUs"
          },
          "properties": {},
          "unit": "Count"
        },
        "type": "Microsoft.Capacity/ServiceLimits"
      }
    }
  ],
  "Variables": {}
}
