{
  "Entries": [
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/libraries/testLibraryName.jar?api-version=2020-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testaccount.dev.azuresynapse.net/libraryOperationResults/544a17af-9d7a-46c4-90c2-a3a127a8e89f?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/joheredi-test/providers/Microsoft.Synapse/workspaces/joheredisyn/libraries/testLibraryName.jar",
        "recordId": 1850574,
        "state": "Creating",
        "created": "2022-01-31T23:00:47.4666667Z",
        "changed": "2022-01-31T23:00:47.4666667Z",
        "type": "LibraryArtifact",
        "name": "testLibraryName.jar",
        "operationId": "544a17af-9d7a-46c4-90c2-a3a127a8e89f",
        "artifactId": "15A83422-DC87-44F9-BAC4-6C80DA155413"
      }
    },
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/libraryOperationResults/544a17af-9d7a-46c4-90c2-a3a127a8e89f?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testaccount.dev.azuresynapse.net/libraryOperationResults/544a17af-9d7a-46c4-90c2-a3a127a8e89f?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/libraryOperationResults/544a17af-9d7a-46c4-90c2-a3a127a8e89f?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/joheredi-test/providers/Microsoft.Synapse/workspaces/joheredisyn/libraries/testLibraryName.jar",
        "name": "testLibraryName.jar",
        "type": "Microsoft.Synapse/workspaces/libraries",
        "properties": {
          "name": "testLibraryName.jar",
          "path": "joheredisyn/libraries/testLibraryName.jar",
          "containerName": "prep",
          "uploadedTimestamp": "2022-01-31T23:00:47.460473\u002B00:00",
          "type": "jar",
          "provisioningStatus": "Incomplete",
          "creatorId": "f8cfe8ca-1f83-4deb-814c-ee49336fdebd"
        },
        "etag": "5700cff6-0000-0200-0000-61f86a200000"
      }
    }
  ],
  "Variables": {}
}
