{
  "Entries": [
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/libraries?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/joheredi-test/providers/Microsoft.Synapse/workspaces/joheredisyn/libraries/testLibraryName.jar",
            "name": "testLibraryName.jar",
            "type": "Microsoft.Synapse/workspaces/libraries",
            "etag": "5700cff6-0000-0200-0000-61f86a200000",
            "properties": {
              "name": "testLibraryName.jar",
              "path": "joheredisyn/libraries/testLibraryName.jar",
              "containerName": "prep",
              "uploadedTimestamp": "2022-01-31T23:00:47.460473\u002B00:00",
              "type": "jar",
              "provisioningStatus": "Incomplete",
              "creatorId": "f8cfe8ca-1f83-4deb-814c-ee49336fdebd"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
