{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520839176805991?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E472E3C9AE\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:39:51 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520839176805991/blob167520839183509831?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E472EE8C44\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:39:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:39:51.8720068Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520839176805991/blob167520839183509831?comp=seal",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E472F875DB\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:39:51 GMT",
        "x-ms-blob-sealed": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520839176805991/copiedblob1167520839196806511?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-seal-blob": "false",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4730E92AA\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:39:52 GMT",
        "x-ms-copy-id": "c9908ffb-71d0-4c9d-bdc7-9b65d73dc51f",
        "x-ms-copy-status": "success",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:39:52.0828856Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520839176805991/copiedblob1167520839196806511?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB03E4730E92AA\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:39:52 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-copy-completion-time": "Tue, 31 Jan 2023 23:39:52 GMT",
        "x-ms-copy-id": "c9908ffb-71d0-4c9d-bdc7-9b65d73dc51f",
        "x-ms-copy-progress": "0/0",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Tue, 31 Jan 2023 23:39:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:39:52.0828856Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520839176805991?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167520839183509831",
    "container": "container167520839176805991",
    "copiedblob1": "copiedblob1167520839196806511",
    "copiedblob2": "copiedblob2167520839218007281",
    "copiedblob3": "copiedblob3167520839231806115"
  }
}
