{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myDigitalTwinsService?api-version=2022-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/azure_subscription_id/providers/Microsoft.DigitalTwins/locations/eastus/operationsStatuses/c416408e-e5cc-482a-a220-ae2213b5cfce?api-version=2022-10-31",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DigitalTwins/locations/eastus/operationResults/eyJvcGVyYXRpb25LaW5kIjoiRGVsZXRlIiwicmVzb3VyY2VLaW5kIjoiRGlnaXRhbFR3aW5zSW5zdGFuY2UiLCJyZXNvdXJjZUdyb3VwTmFtZSI6Im15anN0ZXN0IiwicmVzb3VyY2VOYW1lIjoibXlEaWdpdGFsVHdpbnNTZXJ2aWNlIn0%3d?api-version=2022-10-31",
        "Retry-After": "10",
        "traceresponse": "00-162585b40a4dc91bbe1ee743e81f6520-30c55e958d952a84-01",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DigitalTwins/digitalTwinsInstances/myDigitalTwinsService",
        "name": "myDigitalTwinsService",
        "type": "Microsoft.DigitalTwins/digitalTwinsInstances",
        "properties": {
          "provisioningState": "Deleting",
          "createdTime": "2022-12-02T09:24:35.4612855Z",
          "lastUpdatedTime": "2022-12-02T09:27:20.32705Z",
          "hostName": "myDigitalTwinsService.api.eus.digitaltwins.azure.net",
          "publicNetworkAccess": "Enabled"
        },
        "location": "eastus",
        "identity": null,
        "tags": null,
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-12-02T09:24:34.459918Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-12-02T09:24:34.459918Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DigitalTwins/locations/eastus/operationsStatuses/c416408e-e5cc-482a-a220-ae2213b5cfce?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-d1e39e0db19ba376895a87dece1b8de4-1b710c25051255c3-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/locations/eastus/operationsStatuses/c416408e-e5cc-482a-a220-ae2213b5cfce",
        "name": "c416408e-e5cc-482a-a220-ae2213b5cfce",
        "status": "Running",
        "startTime": "2022-12-02T09:27:26.9978436Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.DigitalTwins/locations/eastus/operationsStatuses/c416408e-e5cc-482a-a220-ae2213b5cfce?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-19c8970cc84d7f6f711e8614c1bc9c5b-69da3fd9f709346c-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11910"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/locations/eastus/operationsStatuses/c416408e-e5cc-482a-a220-ae2213b5cfce",
        "name": "c416408e-e5cc-482a-a220-ae2213b5cfce",
        "status": "Succeeded",
        "startTime": "2022-12-02T09:27:26.9978436Z",
        "endTime": "2022-12-02T09:28:02.9710615Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DigitalTwins/digitalTwinsInstances?api-version=2022-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-756e141c28bc8956e025dd52a219d384-f6487f3c468d2b77-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11909"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
