/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { Desktops } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { DesktopVirtualizationAPIClient } from "../desktopVirtualizationAPIClient.js";
import {
  Desktop,
  DesktopsListNextOptionalParams,
  DesktopsListOptionalParams,
  DesktopsListResponse,
  DesktopsGetOptionalParams,
  DesktopsGetResponse,
  DesktopsUpdateOptionalParams,
  DesktopsUpdateResponse,
  DesktopsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing Desktops operations. */
export class DesktopsImpl implements Desktops {
  private readonly client: DesktopVirtualizationAPIClient;

  /**
   * Initialize a new instance of the class Desktops class.
   * @param client Reference to the service client
   */
  constructor(client: DesktopVirtualizationAPIClient) {
    this.client = client;
  }

  /**
   * List desktops.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param applicationGroupName The name of the application group
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    applicationGroupName: string,
    options?: DesktopsListOptionalParams,
  ): PagedAsyncIterableIterator<Desktop> {
    const iter = this.listPagingAll(
      resourceGroupName,
      applicationGroupName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          applicationGroupName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    applicationGroupName: string,
    options?: DesktopsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<Desktop[]> {
    let result: DesktopsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        applicationGroupName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        applicationGroupName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    applicationGroupName: string,
    options?: DesktopsListOptionalParams,
  ): AsyncIterableIterator<Desktop> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      applicationGroupName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get a desktop.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param applicationGroupName The name of the application group
   * @param desktopName The name of the desktop within the specified desktop group
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    applicationGroupName: string,
    desktopName: string,
    options?: DesktopsGetOptionalParams,
  ): Promise<DesktopsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, applicationGroupName, desktopName, options },
      getOperationSpec,
    );
  }

  /**
   * Update a desktop.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param applicationGroupName The name of the application group
   * @param desktopName The name of the desktop within the specified desktop group
   * @param options The options parameters.
   */
  update(
    resourceGroupName: string,
    applicationGroupName: string,
    desktopName: string,
    options?: DesktopsUpdateOptionalParams,
  ): Promise<DesktopsUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, applicationGroupName, desktopName, options },
      updateOperationSpec,
    );
  }

  /**
   * List desktops.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param applicationGroupName The name of the application group
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    applicationGroupName: string,
    options?: DesktopsListOptionalParams,
  ): Promise<DesktopsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, applicationGroupName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param applicationGroupName The name of the application group
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    applicationGroupName: string,
    nextLink: string,
    options?: DesktopsListNextOptionalParams,
  ): Promise<DesktopsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, applicationGroupName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops/{desktopName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Desktop,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationGroupName,
    Parameters.desktopName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const updateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops/{desktopName}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.Desktop,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  requestBody: Parameters.desktop,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationGroupName,
    Parameters.desktopName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DesktopList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.pageSize,
    Parameters.isDescending,
    Parameters.initialSkip,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationGroupName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DesktopList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationGroupName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
