{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Discovery/workspaces?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "98891465-d94a-4d28-a2d1-a4e8970c0bd5",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/newapiversiontest/providers/microsoft.discovery/workspaces/wrksptest44",
            "name": "wrksptest44",
            "type": "microsoft.discovery/workspaces",
            "location": "centraluseuap",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-02-03T10:53:18.7643596Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-02-03T10:53:18.7643596Z"
            },
            "properties": {
              "managedResourceGroup": "mrg-dwsp-wrksptest44-rxc6r1",
              "supercomputerIds": [],
              "workspaceApiUri": "https://wrksptest44.workspace-dev.discovery.azure.com",
              "workspaceUiUri": "https://studio.discovery.microsoft.com/workspaces/wrksptest44",
              "workspaceIdentity": {
                "id": "/subscriptions/azure_subscription_id/resourceGroups/newapiversiontest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/apitestmi"
              },
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/newapiversiontest/providers/Microsoft.Resources/moboBrokers/mobr-dwsp-wrksptest44-rxc6r1"
                  }
                ]
              },
              "provisioningState": "Failed"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/newapiversiontest/providers/microsoft.discovery/workspaces/wrksptest45",
            "name": "wrksptest45",
            "type": "microsoft.discovery/workspaces",
            "location": "centraluseuap",
            "tags": {},
            "systemData": {
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "202[...]
