doctype html
html
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=10')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
  body.app
    nav.navbar.navbar-fixed-top.navbar-default.navbar-inverse
        a.navbar-brand(href='/') My Tasks
    block content