{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/1container-with-dash167830705460801922?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB201315DF6D50\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:24:14 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/1container-with-dash167830705460801922/%25D8%25B9%25D8%25B1%25D8%25A8%25D9%258A%25D8%25B9%25D8%25B1%25D8%25A8%25D9%2589167830705469905720?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB201315EE8AC3\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:24:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/1container-with-dash167830705460801922/%25D8%25B9%25D8%25B1%25D8%25A8%25D9%258A%25D8%25B9%25D8%25B1%25D8%25A8%25D9%2589167830705469905720?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB201315EE8AC3\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:24:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 08 Mar 2023 20:24:14 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/1container-with-dash167830705460801922?resource=filesystem\u0026recursive=false\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133227806547479235",
            "etag": "0x8DB201315EE8AC3",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 08 Mar 2023 20:24:14 GMT",
            "name": "%D8%B9%D8%B1%D8%A8%D9%8A%D8%B9%D8%B1%D8%A8%D9%89167830705469905720",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/1container-with-dash167830705460801922?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "1container-with-dash": "1container-with-dash167830705460801922",
    "\u0639\u0631\u0628\u064A\u0639\u0631\u0628\u0649": "\u0639\u0631\u0628\u064A\u0639\u0631\u0628\u0649167830705469905720"
  }
}
