{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?query=47.621028,-122.34817"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://atlas.microsoft.com/search/address/reverse/batch/58506312-1d66-4f51-ae81-1c7ee0721070?api-version=1.0",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": "\u0022\u0022"
    },
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/batch/58506312-1d66-4f51-ae81-1c7ee0721070?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "queryTime": 4,
                "numResults": 1
              },
              "addresses": [
                {
                  "address": {
                    "buildingNumber": "410",
                    "streetNumber": "410",
                    "routeNumbers": [],
                    "street": "Thomas Street",
                    "streetName": "Thomas Street",
                    "streetNameAndNumber": "410 Thomas Street",
                    "countryCode": "US",
                    "countrySubdivision": "WA",
                    "countrySecondarySubdivision": "King",
                    "municipality": "Seattle",
                    "postalCode": "98109",
                    "municipalitySubdivision": "Queen Anne",
                    "country": "United States",
                    "countryCodeISO3": "USA",
                    "freeformAddress": "410 Thomas Street, Seattle, WA 98109",
                    "boundingBox": {
                      "northEast": "47.620954,-122.347601",
                      "southWest": "47.620944,-122.348498",
                      "entity": "position"
                    },
                    "countrySubdivisionName": "Washington",
                    "localName": "Seattle"
                  },
                  "position": "47.620945,-122.348175"
                }
              ]
            }
          }
        ],
        "summary": {
          "successfulRequests": 1,
          "totalRequests": 1
        }
      }
    }
  ],
  "Variables": {}
}
