{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/dnsResolvers/sampleDnsResolver?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "498"
      },
      "ResponseBody": {
        "properties": {
          "virtualNetwork": {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/sampleVirtualNetwork"
          },
          "dnsResolverState": "Connected",
          "provisioningState": "Succeeded",
          "resourceGuid": "860a3d06-db91-4aa7-86fb-5305fe08c738"
        },
        "etag": "\u00221700df28-0000-0100-0000-63bbcd4d0000\u0022",
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/dnsResolvers/sampleDnsResolver",
        "name": "sampleDnsResolver",
        "type": "Microsoft.Network/dnsResolvers",
        "systemData": {
          "createdAt": "2023-01-09T08:16:08.3550133Z",
          "createdByType": "Application",
          "lastModifiedAt": "2023-01-09T08:16:08.3550133Z",
          "lastModifiedByType": "Application"
        }
      }
    }
  ],
  "Variables": {}
}
