/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Exchange } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureReservationAPI } from "../azureReservationAPI";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  ExchangeRequest,
  ExchangePostOptionalParams,
  ExchangePostResponse
} from "../models";

/** Class containing Exchange operations. */
export class ExchangeImpl implements Exchange {
  private readonly client: AzureReservationAPI;

  /**
   * Initialize a new instance of the class Exchange class.
   * @param client Reference to the service client
   */
  constructor(client: AzureReservationAPI) {
    this.client = client;
  }

  /**
   * Returns one or more `Reservations` in exchange for one or more `Reservation` purchases.
   *
   * @param body Request containing the refunds and purchases that need to be executed.
   * @param options The options parameters.
   */
  async beginPost(
    body: ExchangeRequest,
    options?: ExchangePostOptionalParams
  ): Promise<
    PollerLike<PollOperationState<ExchangePostResponse>, ExchangePostResponse>
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<ExchangePostResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      { body, options },
      postOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      lroResourceLocationConfig: "azure-async-operation"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Returns one or more `Reservations` in exchange for one or more `Reservation` purchases.
   *
   * @param body Request containing the refunds and purchases that need to be executed.
   * @param options The options parameters.
   */
  async beginPostAndWait(
    body: ExchangeRequest,
    options?: ExchangePostOptionalParams
  ): Promise<ExchangePostResponse> {
    const poller = await this.beginPost(body, options);
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const postOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Capacity/exchange",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ExchangeOperationResultResponse
    },
    201: {
      bodyMapper: Mappers.ExchangeOperationResultResponse
    },
    202: {
      bodyMapper: Mappers.ExchangeOperationResultResponse
    },
    204: {
      bodyMapper: Mappers.ExchangeOperationResultResponse
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  requestBody: Parameters.body6,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer
};
