/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Return } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureReservationAPI } from "../azureReservationAPI";
import {
  RefundRequest,
  ReturnPostOptionalParams,
  ReturnPostResponse
} from "../models";

/** Class containing Return operations. */
export class ReturnImpl implements Return {
  private readonly client: AzureReservationAPI;

  /**
   * Initialize a new instance of the class Return class.
   * @param client Reference to the service client
   */
  constructor(client: AzureReservationAPI) {
    this.client = client;
  }

  /**
   * Return a reservation.
   * @param reservationOrderId Order Id of the reservation
   * @param body Information needed for returning reservation.
   * @param options The options parameters.
   */
  post(
    reservationOrderId: string,
    body: RefundRequest,
    options?: ReturnPostOptionalParams
  ): Promise<ReturnPostResponse> {
    return this.client.sendOperationRequest(
      { reservationOrderId, body, options },
      postOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const postOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Capacity/reservationOrders/{reservationOrderId}/return",
  httpMethod: "POST",
  responses: {
    202: {
      bodyMapper: Mappers.RefundResponse,
      headersMapper: Mappers.ReturnPostHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  requestBody: Parameters.body6,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.reservationOrderId],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer
};
