{
  "Entries": [
    {
      "RequestUri": "https://multi-ad-test-uscx-3.cognitiveservices.azure.com/anomalydetector/v1.1/multivariate/models?skip=0\u0026top=10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-apim-subscription-key": "7ddbcfcdf4404521b6eaf8aad0be20fe"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "models": [
          {
            "modelId": "39cea43c-dd1d-11ed-8b0e-6e134b5856fb",
            "createdTime": "2023-04-17T12:41:51Z",
            "lastUpdatedTime": "2023-04-17T12:42:20Z",
            "modelInfo": {
              "dataSource": "https://mvaddataset.blob.core.windows.net/sample-onetable/sample_data_5_3000.csv",
              "dataSchema": "OneTable",
              "startTime": "2021-01-02T00:00:00Z",
              "endTime": "2021-01-02T05:00:00Z",
              "displayName": "Devops-MultiAD",
              "slidingWindow": 200,
              "alignPolicy": {
                "alignMode": "Outer",
                "fillNAMethod": "Linear",
                "paddingValue": 0.0
              },
              "status": "READY",
              "errors": [],
              "diagnosticsInfo": {
                "modelState": {
                  "epochIds": [
                    10,
                    20,
                    30,
                    40,
                    50,
                    60,
                    70,
                    80,
                    90,
                    100
                  ],
                  "trainLosses": [
                    1.0493712276220322,
                    0.5454281121492386,
                    0.42524269968271255,
                    0.38019897043704987,
                    0.3472398854792118,
                    0.34301353991031647,
                    0.3219067454338074,
                    0.3108387663960457,
                    0.30357857793569565,
                    0.29986055195331573
                  ],
                  "validationLosses": [
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0,
                    0.0
                  ],
                  "latenciesInSeconds": [
                    0.23979759216308594,
                    0.23555898666381836,
                    0.268740177154541,
                    0.24126958847045898,
                    0.24396038055419922,
                    0.23871374130249023,
                    0.24146413803100586,
                    0.2499685287475586,
                    0.244246244430542,
                    0.24031901359558105
                  ]
                },
                "variableStates": [
                  {
                    "variable": "series_0",
                    "filledNARatio": 0.0,
                    "effectiveCount": 301,
                    "firstTimestamp": "2021-01-02T00:00:00Z",
                    "lastTimestamp": "2021-01-02T05:00:00Z"
                  },
                  {
                    "variable": "series_1",
                    "filledNARatio": 0.0,
                    "effectiveCount": 301,
                    "firstTimestamp": "2021-01-02T00:00:00Z",
                    "lastTimestamp": "2021-01-02T05:00:00Z"
                  },
                  {
                    "variable": "series_2",
                    "filledNARatio": 0.0,
                    "effectiveCount": 301,
              [...]
