# Used in most samples.
# Get the key and region - https://learn.microsoft.com/azure/cognitive-services/Translator/create-translator-resource

TEXT_TRANSLATION_ENDPOINT="https://api.cognitive.microsofttranslator.com"
TEXT_TRANSLATION_REGION="<region>"
TEXT_TRANSLATION_RESOURCE_ID="<resource_id>"
