/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreClient from "@azure/core-client";
import * as Parameters from "./models/parameters";
import * as Mappers from "./models/mappers";
import { MixedRealityStsRestClientContext } from "./mixedRealityStsRestClientContext";
import {
  MixedRealityStsRestClientOptionalParams,
  GetTokenOptionalParams,
  GetTokenResponse
} from "./models";

/** @internal */
export class MixedRealityStsRestClient extends MixedRealityStsRestClientContext {
  /**
   * Initializes a new instance of the MixedRealityStsRestClient class.
   * @param options The parameter options
   */
  constructor(options?: MixedRealityStsRestClientOptionalParams) {
    super(options);
  }

  /**
   * Gets an access token to be used with Mixed Reality services.
   * @param accountId The Mixed Reality account identifier.
   * @param options The options parameters.
   */
  getToken(
    accountId: string,
    options?: GetTokenOptionalParams
  ): Promise<GetTokenResponse> {
    return this.sendOperationRequest(
      { accountId, options },
      getTokenOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getTokenOperationSpec: coreClient.OperationSpec = {
  path: "/Accounts/{accountId}/token",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StsTokenResponseMessage,
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenHeaders
    },
    400: {
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenExceptionHeaders,
      isError: true
    },
    401: {
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenExceptionHeaders,
      isError: true
    },
    429: {
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenExceptionHeaders,
      isError: true
    },
    default: {
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenExceptionHeaders
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.accountId],
  headerParameters: [Parameters.accept, Parameters.clientRequestId],
  serializer
};
