# NOTE: this file gets loaded into the test scripts (*.ts/*.js) via dotenv
# Fill in and rename file to .env for local testing outside of a stress cluster

# az monitor app-insights component show --subscription AZURE_SUBSCRIPTION_ID --resource-group RESOURCE_GROUP --app APPINSIGHTS NAME
APPINSIGHTS_INSTRUMENTATIONKEY=<app insights key>

EVENTHUBS_CONSUMER_GROUP=<consumer-group>
EVENTHUBS_CONNECTION_STRING=<connection string>
EVENTHUB_NAME=<hub>
AZURE_STORAGE_CONNNECTION_STRING=<conn-string>
