{
  "Entries": [
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/dataflows/testdataflow2?api-version=2020-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testaccount.dev.azuresynapse.net/operationResults/2c11cab3-5677-4ccb-9cbb-9962e5666ef8?api-version=2020-12-01"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/joheredi-test/providers/Microsoft.Synapse/workspaces/joheredisyn/dataflows/testdataflow2",
        "recordId": 0,
        "state": "Deleting",
        "created": "0001-01-01T00:00:00",
        "changed": "0001-01-01T00:00:00",
        "type": "DataFlow",
        "name": "testdataflow2",
        "operationId": "2c11cab3-5677-4ccb-9cbb-9962e5666ef8"
      }
    },
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/operationResults/2c11cab3-5677-4ccb-9cbb-9962e5666ef8?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://testaccount.dev.azuresynapse.net/operationResults/2c11cab3-5677-4ccb-9cbb-9962e5666ef8?api-version=2020-12-01",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/operationResults/2c11cab3-5677-4ccb-9cbb-9962e5666ef8?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
