{
  "Entries": [
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/dataflows/testdataflow?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/joheredi-test/providers/Microsoft.Synapse/workspaces/joheredisyn/dataflows/testdataflow",
        "name": "testdataflow",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": "MappingDataFlow"
        },
        "etag": "5700a5f1-0000-0200-0000-61f869b00000"
      }
    }
  ],
  "Variables": {}
}
