{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerRegistry/registries/myregistryxxxyy/tasks/mytaskxxx?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "type": "Microsoft.ContainerRegistry/registries/tasks",
        "properties": {
          "provisioningState": "Succeeded",
          "creationDate": "2023-03-21T09:45:49.4725772\u002B00:00",
          "status": "Enabled",
          "platform": {
            "os": "Linux",
            "architecture": "amd64"
          },
          "agentConfiguration": {
            "cpu": 2
          },
          "timeout": 3600,
          "step": {
            "type": "Docker",
            "imageNames": [
              "testtask:v1"
            ],
            "isPushEnabled": true,
            "noCache": false,
            "dockerFilePath": "DockerFile",
            "contextPath": "https://github.com/SteveLasker/node-helloworld"
          },
          "trigger": {
            "baseImageTrigger": {
              "baseImageTriggerType": "Runtime",
              "updateTriggerPayloadType": "Default",
              "status": "Enabled",
              "name": "myBaseImageTrigger"
            }
          }
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerRegistry/registries/myregistryxxxyy/tasks/mytaskxxx",
        "name": "mytaskxxx",
        "tags": {
          "testkey": "value"
        },
        "location": "eastus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-21T09:45:48.6075446\u002B00:00",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-21T09:45:48.6075446\u002B00:00"
        }
      }
    }
  ],
  "Variables": {}
}
