/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { Organizations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { NewRelicObservability } from "../newRelicObservability";
import {
  OrganizationResource,
  OrganizationsListNextOptionalParams,
  OrganizationsListOptionalParams,
  OrganizationsListOperationResponse,
  OrganizationsListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Organizations operations. */
export class OrganizationsImpl implements Organizations {
  private readonly client: NewRelicObservability;

  /**
   * Initialize a new instance of the class Organizations class.
   * @param client Reference to the service client
   */
  constructor(client: NewRelicObservability) {
    this.client = client;
  }

  /**
   * List all the existing organizations
   * @param userEmail User Email.
   * @param location Location for NewRelic.
   * @param options The options parameters.
   */
  public list(
    userEmail: string,
    location: string,
    options?: OrganizationsListOptionalParams,
  ): PagedAsyncIterableIterator<OrganizationResource> {
    const iter = this.listPagingAll(userEmail, location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(userEmail, location, options, settings);
      },
    };
  }

  private async *listPagingPage(
    userEmail: string,
    location: string,
    options?: OrganizationsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<OrganizationResource[]> {
    let result: OrganizationsListOperationResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(userEmail, location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    userEmail: string,
    location: string,
    options?: OrganizationsListOptionalParams,
  ): AsyncIterableIterator<OrganizationResource> {
    for await (const page of this.listPagingPage(
      userEmail,
      location,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List all the existing organizations
   * @param userEmail User Email.
   * @param location Location for NewRelic.
   * @param options The options parameters.
   */
  private _list(
    userEmail: string,
    location: string,
    options?: OrganizationsListOptionalParams,
  ): Promise<OrganizationsListOperationResponse> {
    return this.client.sendOperationRequest(
      { userEmail, location, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: OrganizationsListNextOptionalParams,
  ): Promise<OrganizationsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/NewRelic.Observability/organizations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OrganizationsListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.userEmail,
    Parameters.location,
  ],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OrganizationsListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
