// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { SaaS } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { NewRelicObservability } from "../newRelicObservability.js";
import type {
  ActivateSaaSParameterRequest,
  SaaSActivateResourceOptionalParams,
  SaaSActivateResourceResponse,
} from "../models/index.js";

/** Class containing SaaS operations. */
export class SaaSImpl implements SaaS {
  private readonly client: NewRelicObservability;

  /**
   * Initialize a new instance of the class SaaS class.
   * @param client Reference to the service client
   */
  constructor(client: NewRelicObservability) {
    this.client = client;
  }

  /**
   * Resolve the token to get the SaaS resource ID and activate the SaaS resource
   * @param request The request body
   * @param options The options parameters.
   */
  activateResource(
    request: ActivateSaaSParameterRequest,
    options?: SaaSActivateResourceOptionalParams,
  ): Promise<SaaSActivateResourceResponse> {
    return this.client.sendOperationRequest({ request, options }, activateResourceOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const activateResourceOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/NewRelic.Observability/activateSaaS",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.SaaSResourceDetailsResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.request,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
