{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-queues?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "iRU4FoF\u002BSHDyek4I2mTj9UxqfsCodrYA4ivTcF4xVFQ=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:17 GMT"
      },
      "RequestBody": {
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022dd037c95-0000-0700-0000-65483a630000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:15 GMT",
        "trace-id": "08eaa71d-5b87-90e1-a203-36418c37b64e"
      },
      "ResponseBody": {
        "id": "test-d-policy-recorded-queues",
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        },
        "etag": "\u0022dd037c95-0000-0700-0000-65483a630000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-e-policy-recorded-queues?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Cra0Om0ZqhFeDkbLieY\u002Bv\u002B7gXRaJ3OqYfEy3xRhld5Y=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:17 GMT"
      },
      "RequestBody": {
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling"
              }
            ],
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d1bd168-0000-0700-0000-65483a630000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:15 GMT",
        "trace-id": "1c5829b3-7d42-46af-ebc0-7b4b3a5a94e8"
      },
      "ResponseBody": {
        "id": "test-e-policy-recorded-queues",
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            },
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling",
                "id": "626dcafc-d0c6-42a7-a291-108bdaa53cab"
              }
            ]
          }
        ],
        "etag": "\u00222d1bd168-0000-0700-0000-65483a630000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-queues?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225d047e99-0000-0700-0000-65483a630000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:15 GMT",
        "trace-id": "88e4ee7a-651a-452a-6675-83d8b6c7f77c"
      },
      "ResponseBody": {
        "id": "test-a-queue-recorded-queues",
        "name": "test-a-queue",
        "distributionPolicyId": "test-d-policy-recorded-queues",
        "labels": {
          "Id": "test-a-queue-recorded-queues"
        },
        "exceptionPolicyId": "test-e-policy-recorded-queues",
        "etag": "\u00225d047e99-0000-0700-0000-65483a630000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-queues?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "9d8f10e3-24e8-f489-79f9-a7ac4ec501ba"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/test-d-policy-recorded-queues",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-e-policy-recorded-queues?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d7ace5d8-f87c-3f29-4ff6-b1e2ac1a1178"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/exceptionPolicies/test-e-policy-recorded-queues",
          "details": [
            {
              "code": "QueueExistsWithExceptionPolicy",
              "message": "There is a queue with this exception policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
