{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz/upgradeProfiles/default?api-version=2022-11-02-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11887"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz/upgradeprofiles/default",
        "name": "default",
        "type": "Microsoft.ContainerService/managedClusters/upgradeprofiles",
        "properties": {
          "controlPlaneProfile": {
            "kubernetesVersion": "1.24.6",
            "osType": "Linux",
            "upgrades": [
              {
                "kubernetesVersion": "1.25.2"
              },
              {
                "kubernetesVersion": "1.25.4"
              }
            ]
          },
          "agentPoolProfiles": null
        }
      }
    }
  ],
  "Variables": {}
}
