{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters?api-version=2022-11-02-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11886"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz",
            "location": "eastus",
            "name": "myreourcexyz",
            "type": "Microsoft.ContainerService/ManagedClusters",
            "properties": {
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "kubernetesVersion": "1.24.6",
              "currentKubernetesVersion": "1.24.6",
              "dnsPrefix": "aksjssdk",
              "fqdn": "aksjssdk-f5e15c9f.hcp.eastus.azmk8s.io",
              "azurePortalFQDN": "aksjssdk-f5e15c9f.portal.hcp.eastus.azmk8s.io",
              "agentPoolProfiles": [
                {
                  "name": "aksagent",
                  "count": 1,
                  "vmSize": "Standard_DS2_v2",
                  "osDiskSizeGB": 128,
                  "osDiskType": "Managed",
                  "kubeletDiskType": "OS",
                  "maxPods": 110,
                  "type": "VirtualMachineScaleSets",
                  "maxCount": 100,
                  "minCount": 1,
                  "enableAutoScaling": true,
                  "provisioningState": "Succeeded",
                  "powerState": {
                    "code": "Running"
                  },
                  "orchestratorVersion": "1.24.6",
                  "currentOrchestratorVersion": "1.24.6",
                  "mode": "System",
                  "osType": "Linux",
                  "osSKU": "Ubuntu",
                  "nodeImageVersion": "AKSUbuntu-1804gen2containerd-2022.12.19",
                  "enableFIPS": false
                }
              ],
              "servicePrincipalProfile": {
                "clientId": "azure_client_id"
              },
              "nodeResourceGroup": "MC_myjstest_myreourcexyz_eastus",
              "enableRBAC": true,
              "networkProfile": {
                "networkPlugin": "kubenet",
                "loadBalancerSku": "Standard",
                "loadBalancerProfile": {
                  "managedOutboundIPs": {
                    "count": 1
                  },
                  "effectiveOutboundIPs": [
                    {
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/MC_myjstest_myreourcexyz_eastus/providers/Microsoft.Network/publicIPAddresses/69178596-d780-4baf-a021-de067c75aa63"
                    }
                  ],
                  "backendPoolType": "nodeIPConfiguration"
                },
                "podCidr": "10.244.0.0/16",
                "serviceCidr": "10.0.0.0/16",
                "dnsServiceIP": "10.0.0.10",
                "dockerBridgeCidr": "172.17.0.1/16",
                "outboundType": "loadBalancer",
                "podCidrs": [
                  "10.244.0.0/16"
                ],
                "serviceCidrs": [
                  "10.0.0.0/16"
                ],
                "ipFamilies": [
                  "IPv4"
                ]
              },
              "maxAgentPools": 100,
              "securityProfile": {},
              "storageProfile": {
                "diskCSIDriver": {
                  "enabled": true,
                  "version": "v1"
                },
                "fileCSIDriver": {
                  "enabled": true
                },
                "snapshotController": {
                  "enabled": true
                }
              },
              "oidcIssuerProfile": {
                "enabled": false
              },
              "workloadAutoScalerProfile": {}
            },
            "sku": {
              "name": "Basic",
              "tier": "Free"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
