{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz?api-version=2023-03-02-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11896"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourcegroups/czwjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz",
        "location": "eastus",
        "name": "myreourcexyz",
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
          "provisioningState": "Succeeded",
          "powerState": {
            "code": "Running"
          },
          "kubernetesVersion": "1.25.6",
          "currentKubernetesVersion": "1.25.6",
          "dnsPrefix": "aksjssdk",
          "fqdn": "aksjssdk-5vsdeid9.hcp.eastus.azmk8s.io",
          "azurePortalFQDN": "aksjssdk-5vsdeid9.portal.hcp.eastus.azmk8s.io",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_DS2_v2",
              "osDiskSizeGB": 128,
              "osDiskType": "Managed",
              "kubeletDiskType": "OS",
              "maxPods": 110,
              "type": "VirtualMachineScaleSets",
              "maxCount": 100,
              "minCount": 1,
              "enableAutoScaling": true,
              "provisioningState": "Succeeded",
              "powerState": {
                "code": "Running"
              },
              "orchestratorVersion": "1.25.6",
              "currentOrchestratorVersion": "1.25.6",
              "mode": "System",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202304.10.0",
              "enableFIPS": false
            }
          ],
          "servicePrincipalProfile": {
            "clientId": "azure_client_id"
          },
          "nodeResourceGroup": "MC_czwjstest_myreourcexyz_eastus",
          "enableRBAC": true,
          "enableLTS": "KubernetesOfficial",
          "networkProfile": {
            "networkPlugin": "kubenet",
            "loadBalancerSku": "Standard",
            "loadBalancerProfile": {
              "managedOutboundIPs": {
                "count": 1
              },
              "effectiveOutboundIPs": [
                {
                  "id": "/subscriptions/azure_subscription_id/resourceGroups/MC_czwjstest_myreourcexyz_eastus/providers/Microsoft.Network/publicIPAddresses/8f417c5b-c6dd-480b-8b16-71f2b9bc2ec4"
                }
              ],
              "backendPoolType": "nodeIPConfiguration"
            },
            "podCidr": "10.244.0.0/16",
            "serviceCidr": "10.0.0.0/16",
            "dnsServiceIP": "10.0.0.10",
            "dockerBridgeCidr": "172.17.0.1/16",
            "outboundType": "loadBalancer",
            "podCidrs": [
              "10.244.0.0/16"
            ],
            "serviceCidrs": [
              "10.0.0.0/16"
            ],
            "ipFamilies": [
              "IPv4"
            ]
          },
          "maxAgentPools": 100,
          "autoScalerProfile": {
            "balance-similar-node-groups": "false",
            "expander": "random",
            "max-empty-bulk-delete": "10",
            "max-graceful-termination-sec": "600",
            "max-node-provision-time": "15m",
            "max-total-unready-percentage": "45",
            "new-pod-scale-up-delay": "0s",
            "ok-total-unready-count": "3",
            "scale-down-delay-after-add": "10m",
            "scale-down-delay-after-delete": "10s",
            "scale-down-delay-after-failure": "3m",
            "scale-down-unneeded-time": "10m",
            "scale-down-unready-time": "20m",
            "scale-down-utilization-threshold": "0.5",
            "scan-interval": "10s",
            "skip-nodes-with-local-storage": "false",
            "skip-nodes-with-system-pods": "true"
          },
          "securityProfile": {},
          "storageProfile": {
            "diskCSIDriver": {
              "enabled": true,
              "version": "v1"
            },
            "fileCSIDriver": {
              "enabled": true
            },
            "snapshotController": {
              "enabled": true
            }
          },
          "oidcIssuerProfile": {
            "enabled": false
          },
          "workloadAutoScalerProfile": {}
        },
        "sku": {
          "name": "Base",
          "tier": "Free"
        }
      }
    }
  ],
  "Variables": {}
}
