{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/networkTraversal/:issueRelayConfiguration?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Fri, 22 Apr 2022 19:59:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-02-22-preview1, 2021-06-21-preview, 2021-10-08-preview, 2022-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "2AyFRtjRHUaHe1xJo/ylhg.0",
        "X-Processing-Time": "19ms"
      },
      "ResponseBody": {
        "iceServers": [
          {
            "routeType": "any",
            "urls": [
              "turn.skype.com",
              "turn.skype.com"
            ],
            "username": "sanitized_username",
            "credential": "sanitized_credential"
          },
          {
            "routeType": "nearest",
            "urls": [
              "turn.skype.com",
              "turn.skype.com"
            ],
            "username": "sanitized_username",
            "credential": "sanitized_credential"
          }
        ],
        "expiresOn": "2022-05-18T12:00:00.00\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
