# Used in most samples. Retrieve these values from a service-bus namespace in the Azure Portal.
SERVICEBUS_ENDPOINT="<service bus namespace>.servicebus.windows.net"
SERVICEBUS_CONNECTION_STRING="<connection string>"

# Used in most samples. Provide the name of a queue within the service bus namespace above.
QUEUE_NAME="<queue name>"

# Used in the sessions sample. Provide the name of a queue that has sessions enabled
# within the service bus namespace above.
QUEUE_NAME_WITH_SESSIONS="<queue name with sessions enabled>"

# Used in the advanced/topicFilters sample. See that sample for more information.
TOPIC_NAME="<topic>"
TOPIC_FILTER_SUBSCRIPTION_1="<topic>"
TOPIC_FILTER_SUBSCRIPTION_2="<topic>"
TOPIC_FILTER_SUBSCRIPTION_3="<topic>"

# Used to authenticate using Azure AD as a service principal for role-based authentication.
#
# Used only in the servicePrincipalLogin sample
AZURE_TENANT_ID=<AD tenant id or name>
AZURE_CLIENT_ID=<ID of the user/service principal to authenticate as>
AZURE_CLIENT_SECRET=<client secret used to authenticate to Azure AD>

# To run the useProxy sample, set up an HTTP proxy and enter your information:
# HTTP_PROXY=http://localhost:3128