{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Qumulo.Storage/operations?api-version=2022-10-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Qumulo.Storage/registeredSubscriptions/read",
            "isDataAction": false,
            "display": {
              "provider": "Qumulo.Storage",
              "resource": "registeredSubscriptions",
              "operation": "read_registeredSubscriptions",
              "description": "read registeredSubscriptions"
            }
          },
          {
            "name": "Qumulo.Storage/locations/operationStatuses/read",
            "isDataAction": false,
            "display": {
              "provider": "Qumulo.Storage",
              "resource": "locations/operationStatuses",
              "operation": "read_operationStatuses",
              "description": "read operationStatuses"
            }
          },
          {
            "name": "Qumulo.Storage/locations/opera[...]
