/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreClient from "@azure/core-client";
import * as coreRestPipeline from "@azure/core-rest-pipeline";
import {
  PipelineRequest,
  PipelineResponse,
  SendRequest
} from "@azure/core-rest-pipeline";
import * as coreAuth from "@azure/core-auth";
import { OperationsImpl, WorkflowOperationsImpl } from "./operations/index.js";
import { Operations, WorkflowOperations } from "./operationsInterfaces/index.js";
import * as Parameters from "./models/parameters.js";
import * as Mappers from "./models/mappers.js";
import {
  DeveloperHubServiceClientOptionalParams,
  GitHubOAuthOptionalParams,
  GitHubOAuthOperationResponse,
  GitHubOAuthCallbackOptionalParams,
  GitHubOAuthCallbackResponse,
  ListGitHubOAuthOptionalParams,
  ListGitHubOAuthResponse,
  ArtifactGenerationProperties,
  GeneratePreviewArtifactsOptionalParams,
  GeneratePreviewArtifactsResponse
} from "./models/index.js";

export class DeveloperHubServiceClient extends coreClient.ServiceClient {
  $host: string;
  apiVersion: string;
  subscriptionId: string;

  /**
   * Initializes a new instance of the DeveloperHubServiceClient class.
   * @param credentials Subscription credentials which uniquely identify client subscription.
   * @param subscriptionId The ID of the target subscription.
   * @param options The parameter options
   */
  constructor(
    credentials: coreAuth.TokenCredential,
    subscriptionId: string,
    options?: DeveloperHubServiceClientOptionalParams
  ) {
    if (credentials === undefined) {
      throw new Error("'credentials' cannot be null");
    }
    if (subscriptionId === undefined) {
      throw new Error("'subscriptionId' cannot be null");
    }

    // Initializing default values for options
    if (!options) {
      options = {};
    }
    const defaults: DeveloperHubServiceClientOptionalParams = {
      requestContentType: "application/json; charset=utf-8",
      credential: credentials
    };

    const packageDetails = `azsdk-js-arm-devhub/1.0.0-beta.5`;
    const userAgentPrefix =
      options.userAgentOptions && options.userAgentOptions.userAgentPrefix
        ? `${options.userAgentOptions.userAgentPrefix} ${packageDetails}`
        : `${packageDetails}`;

    const optionsWithDefaults = {
      ...defaults,
      ...options,
      userAgentOptions: {
        userAgentPrefix
      },
      endpoint:
        options.endpoint ?? options.baseUri ?? "https://management.azure.com"
    };
    super(optionsWithDefaults);

    let bearerTokenAuthenticationPolicyFound: boolean = false;
    if (options?.pipeline && options.pipeline.getOrderedPolicies().length > 0) {
      const pipelinePolicies: coreRestPipeline.PipelinePolicy[] = options.pipeline.getOrderedPolicies();
      bearerTokenAuthenticationPolicyFound = pipelinePolicies.some(
        (pipelinePolicy) =>
          pipelinePolicy.name ===
          coreRestPipeline.bearerTokenAuthenticationPolicyName
      );
    }
    if (
      !options ||
      !options.pipeline ||
      options.pipeline.getOrderedPolicies().length == 0 ||
      !bearerTokenAuthenticationPolicyFound
    ) {
      this.pipeline.removePolicy({
        name: coreRestPipeline.bearerTokenAuthenticationPolicyName
      });
      this.pipeline.addPolicy(
        coreRestPipeline.bearerTokenAuthenticationPolicy({
          credential: credentials,
          scopes:
            optionsWithDefaults.credentialScopes ??
            `${optionsWithDefaults.endpoint}/.default`,
          challengeCallbacks: {
            authorizeRequestOnChallenge:
              coreClient.authorizeRequestOnClaimChallenge
          }
        })
      );
    }
    // Parameter assignments
    this.subscriptionId = subscriptionId;

    // Assigning values to Constant parameters
    this.$host = options.$host || "https://management.azure.com";
    this.apiVersion = options.apiVersion || "2022-10-11-preview";
    this.operations = new OperationsImpl(this);
    this.workflowOperations = new WorkflowOperationsImpl(this);
    this.addCustomApiVersionPolicy(options.apiVersion);
  }

  /** A function that adds a policy that sets the api-version (or equivalent) to reflect the library version. */
  private addCustomApiVersionPolicy(apiVersion?: string) {
    if (!apiVersion) {
      return;
    }
    const apiVersionPolicy = {
      name: "CustomApiVersionPolicy",
      async sendRequest(
        request: PipelineRequest,
        next: SendRequest
      ): Promise<PipelineResponse> {
        const param = request.url.split("?");
        if (param.length > 1) {
          const newParams = param[1].split("&").map((item) => {
            if (item.indexOf("api-version") > -1) {
              return "api-version=" + apiVersion;
            } else {
              return item;
            }
          });
          request.url = param[0] + "?" + newParams.join("&");
        }
        return next(request);
      }
    };
    this.pipeline.addPolicy(apiVersionPolicy);
  }

  /**
   * Gets GitHubOAuth info used to authenticate users with the Developer Hub GitHub App.
   * @param location The name of Azure region.
   * @param options The options parameters.
   */
  gitHubOAuth(
    location: string,
    options?: GitHubOAuthOptionalParams
  ): Promise<GitHubOAuthOperationResponse> {
    return this.sendOperationRequest(
      { location, options },
      gitHubOAuthOperationSpec
    );
  }

  /**
   * Callback URL to hit once authenticated with GitHub App to have the service store the OAuth token.
   * @param location The name of Azure region.
   * @param code The code response from authenticating the GitHub App.
   * @param state The state response from authenticating the GitHub App.
   * @param options The options parameters.
   */
  gitHubOAuthCallback(
    location: string,
    code: string,
    state: string,
    options?: GitHubOAuthCallbackOptionalParams
  ): Promise<GitHubOAuthCallbackResponse> {
    return this.sendOperationRequest(
      { location, code, state, options },
      gitHubOAuthCallbackOperationSpec
    );
  }

  /**
   * Callback URL to hit once authenticated with GitHub App to have the service store the OAuth token.
   * @param location The name of Azure region.
   * @param options The options parameters.
   */
  listGitHubOAuth(
    location: string,
    options?: ListGitHubOAuthOptionalParams
  ): Promise<ListGitHubOAuthResponse> {
    return this.sendOperationRequest(
      { location, options },
      listGitHubOAuthOperationSpec
    );
  }

  /**
   * Generate preview dockerfile and manifests.
   * @param location The name of Azure region.
   * @param parameters Properties used for generating artifacts such as Dockerfiles and manifests.
   * @param options The options parameters.
   */
  generatePreviewArtifacts(
    location: string,
    parameters: ArtifactGenerationProperties,
    options?: GeneratePreviewArtifactsOptionalParams
  ): Promise<GeneratePreviewArtifactsResponse> {
    return this.sendOperationRequest(
      { location, parameters, options },
      generatePreviewArtifactsOperationSpec
    );
  }

  operations: Operations;
  workflowOperations: WorkflowOperations;
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const gitHubOAuthOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth/default/getGitHubOAuthInfo",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.GitHubOAuthInfoResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const gitHubOAuthCallbackOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth/default",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GitHubOAuthResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.code, Parameters.state],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listGitHubOAuthOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/githuboauth",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GitHubOAuthListResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const generatePreviewArtifactsOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/generatePreviewArtifacts",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: {
        type: { name: "Dictionary", value: { type: { name: "String" } } }
      }
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.parameters1,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
