# The primary key of your Azure Search account.
SEARCH_API_ADMIN_KEY=<search-api-admin-key>

# (optional) The secondary key of your Azure Search account.
SEARCH_API_ADMIN_KEY_ALT=<search-api-admin-key-alt>

# The endpoint of your Azure Search account.
ENDPOINT=<endpoint>

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=playback
