# This is the connection string for your app-configuration resource
# You can get this from the Azure portal.
APPCONFIG_CONNECTION_STRING=<app-configuration connection string goes here>
AZ_CONFIG_ENDPOINT=<ex: https://sample.azconfig.io>

# Register a new application in AAD and assign the "App Configuration Data Owner" role to it
#   - See https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app
#     to register a new application in the Azure Active Directory.
#   - Note down the CLIENT_ID and TENANT_ID from the above step.
#   - In the "Certificates & Secrets" tab, create a secret and note that down.
#   - In the Azure portal, go to your App Configuration resource and click on the Access control (IAM)
#     tab.
#   - Assign the "App Configuration Data Owner" role to the registered application.
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=playback
