{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Devices/IotHubs/myiothubxxxxyyyjjrr?api-version=2022-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Devices/locations/eastus/operationResults/aWQ9b3NfaWhfY2MxMjMyZjItZjE3NS00YWEwLWJhMzQtNjFiNDRiYzAyNmZiO3JlZ2lvbj1lYXN0dXM=?api-version=2022-04-30-preview\u0026operationSource=other\u0026asyncinfo",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Devices/locations/eastus/operationResults/aWQ9b3NfaWhfY2MxMjMyZjItZjE3NS00YWEwLWJhMzQtNjFiNDRiYzAyNmZiO3JlZ2lvbj1lYXN0dXM=?api-version=2022-04-30-preview\u0026operationSource=other",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Devices/locations/eastus/operationResults/aWQ9b3NfaWhfY2MxMjMyZjItZjE3NS00YWEwLWJhMzQtNjFiNDRiYzAyNmZiO3JlZ2lvbj1lYXN0dXM=?api-version=2022-04-30-preview\u0026operationSource=other\u0026asyncinfo=undefined",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11944"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Devices/IotHubs?api-version=2022-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11939"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
