{
  "Entries": [
    {
      "RequestUri": "https://fakeAccount.purview.azure.com/datamap/api/atlas/v2/glossary?api-version=2023-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "name": "jsTesting-1",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "language": "en",
        "usage": "Example Glossary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "guid": "5f055108-cfa3-4af9-9a9a-96170e73c206",
        "qualifiedName": "jsTesting-1",
        "name": "jsTesting-1",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "lastModifiedTS": "1",
        "createdBy": "d167e17c-37c3-4002-be10-666abb3b49f8",
        "updatedBy": "d167e17c-37c3-4002-be10-666abb3b49f8",
        "createTime": 1706802307691,
        "updateTime": 1706802307691,
        "language": "en",
        "usage": "Example Glossary"
      }
    }
  ],
  "Variables": {}
}
