/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { MediaServiceOperationStatuses } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMediaServices } from "../azureMediaServices";
import {
  MediaServiceOperationStatusesGetOptionalParams,
  MediaServiceOperationStatusesGetResponse
} from "../models";

/** Class containing MediaServiceOperationStatuses operations. */
export class MediaServiceOperationStatusesImpl
  implements MediaServiceOperationStatuses {
  private readonly client: AzureMediaServices;

  /**
   * Initialize a new instance of the class MediaServiceOperationStatuses class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMediaServices) {
    this.client = client;
  }

  /**
   * Get media service operation status.
   * @param locationName Location name.
   * @param operationId Operation ID.
   * @param options The options parameters.
   */
  get(
    locationName: string,
    operationId: string,
    options?: MediaServiceOperationStatusesGetOptionalParams
  ): Promise<MediaServiceOperationStatusesGetResponse> {
    return this.client.sendOperationRequest(
      { locationName, operationId, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Media/locations/{locationName}/mediaServiceOperationStatuses/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MediaServiceOperationStatus
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.locationName,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
