/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { QuotaOperation } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureQuotaExtensionAPI } from "../azureQuotaExtensionAPI";
import {
  OperationResponse,
  QuotaOperationListNextOptionalParams,
  QuotaOperationListOptionalParams,
  QuotaOperationListResponse,
  QuotaOperationListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing QuotaOperation operations. */
export class QuotaOperationImpl implements QuotaOperation {
  private readonly client: AzureQuotaExtensionAPI;

  /**
   * Initialize a new instance of the class QuotaOperation class.
   * @param client Reference to the service client
   */
  constructor(client: AzureQuotaExtensionAPI) {
    this.client = client;
  }

  /**
   * List all the operations supported by the Microsoft.Quota resource provider.
   * @param options The options parameters.
   */
  public list(
    options?: QuotaOperationListOptionalParams,
  ): PagedAsyncIterableIterator<OperationResponse> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: QuotaOperationListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<OperationResponse[]> {
    let result: QuotaOperationListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: QuotaOperationListOptionalParams,
  ): AsyncIterableIterator<OperationResponse> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * List all the operations supported by the Microsoft.Quota resource provider.
   * @param options The options parameters.
   */
  private _list(
    options?: QuotaOperationListOptionalParams,
  ): Promise<QuotaOperationListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: QuotaOperationListNextOptionalParams,
  ): Promise<QuotaOperationListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Quota/operations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationList,
    },
    default: {
      bodyMapper: Mappers.ExceptionResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationList,
    },
    default: {
      bodyMapper: Mappers.ExceptionResponse,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
