{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/sentShares/172e29c5-ce5d-4c5f-9cfb-6c2748114aa4?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "displayName": "JS-SDK-Sent-Share",
          "description": "Sent share created by and for JS SDK tests.",
          "artifact": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
              "type": "ArmResourceReference"
            },
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "folder1/test (6) (1).csv",
                  "receiverPath": "test.csv"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/172e29c5-ce5d-4c5f-9cfb-6c2748114aa4/172e29c5-ce5d-4c5f-9cfb-6c2748114aa4",
        "Operation-Id": "https://accountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
        "Operation-Location": "https://accountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "JS-SDK-Sent-Share",
          "description": "Sent share created by and for JS SDK tests.",
          "artifact": {
            "properties": {
              "paths": [
                {
                  "containerName": "container1",
                  "senderPath": "folder1/test (6) (1).csv",
                  "receiverPath": "test.csv"
                }
              ],
              "location": "southafricanorth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
              "type": "ArmResourceReference"
            }
          },
          "state": "Succeeded",
          "createdAt": "2023-05-30T16:15:53.8686244Z",
          "dependsOn": [],
          "senderName": "testDataBricks",
          "senderTenantName": "Microsoft"
        },
        "shareKind": "InPlace",
        "id": "172e29c5-ce5d-4c5f-9cfb-6c2748114aa4",
        "type": "SentShare"
      }
    }
  ],
  "Variables": {}
}
