{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/sentShares/172e29c5-ce5d-4c5f-9cfb-6c2748114aa4/sentShareInvitations/34e3b512-14e9-482e-b254-d1c5caaef09d?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "targetActiveDirectoryId": "00000000-000-000-00000-000000000000",
          "targetObjectId": "6a9dd6e0-9a06-47bf-a9a2-0647130a7422",
          "shareStatus": "Detached",
          "expirationDate": "2023-12-31T23:59:59Z",
          "sentAt": "2023-05-30T16:16:02.073712Z",
          "senderName": "testDataBricks",
          "senderTenantName": "Microsoft",
          "state": "Succeeded"
        },
        "invitationKind": "Service",
        "id": "34e3b512-14e9-482e-b254-d1c5caaef09d",
        "type": "sentShares/sentShareInvitations"
      }
    }
  ],
  "Variables": {}
}
