{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/sentShares/5eb6b8b8-bada-415c-abaa-6a61511570b7/sentShareInvitations/b798b80f-b945-424f-834e-7c55a1ec34a8?api-version=2023-02-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://accountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
        "Operation-Location": "https://accountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "startTime": "2023-02-22T08:07:41.3191915Z",
        "endTime": null,
        "status": "NotStarted",
        "error": null
      }
    },
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "startTime": "2023-02-22T08:07:41.4737999Z",
        "endTime": "2023-02-22T08:07:41.4737999Z",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {}
}
