{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/sentShares/5eb6b8b8-bada-415c-abaa-6a61511570b7?api-version=2023-02-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://accountname.purview.azure.com/share/operationResults/68f8fbc7-511b-4a21-b6f9-e28ddaf21b96?api-version=2023-02-15-preview",
        "Operation-Location": "https://accountname.purview.azure.com/share/operationResults/68f8fbc7-511b-4a21-b6f9-e28ddaf21b96?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "id": "68f8fbc7-511b-4a21-b6f9-e28ddaf21b96",
        "startTime": "2023-02-22T08:07:41.9337327Z",
        "endTime": null,
        "status": "NotStarted",
        "error": null
      }
    },
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/68f8fbc7-511b-4a21-b6f9-e28ddaf21b96?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "68f8fbc7-511b-4a21-b6f9-e28ddaf21b96",
        "startTime": "2023-02-22T08:07:41.8476079Z",
        "endTime": null,
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://accountname.purview.azure.com/share/operationResults/68f8fbc7-511b-4a21-b6f9-e28ddaf21b96?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "68f8fbc7-511b-4a21-b6f9-e28ddaf21b96",
        "startTime": "2023-02-22T08:07:41.8476079Z",
        "endTime": null,
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {}
}
