{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/sentShares/5eb6b8b8-bada-415c-abaa-6a61511570b7?api-version=2023-02-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "displayName": "JS-SDK-Sent-Share",
          "description": "Sent share created by and for JS SDK tests.",
          "artifact": {
            "storeKind": "BlobAccount",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
              "type": "ArmResourceReference"
            },
            "properties": {
              "paths": [
                {
                  "containerName": "sharedcontainer",
                  "senderPath": "Folder/File.txt",
                  "receiverPath": "ReceiverVisibleFileName.txt"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/sentShares/5eb6b8b8-bada-415c-abaa-6a61511570b7/5eb6b8b8-bada-415c-abaa-6a61511570b7",
        "Operation-Id": "https://accountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
        "Operation-Location": "https://accountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "JS-SDK-Sent-Share",
          "description": "Sent share created by and for JS SDK tests.",
          "artifact": {
            "properties": {
              "paths": [
                {
                  "containerName": "sharedcontainer",
                  "senderPath": "Folder/File.txt",
                  "receiverPath": "ReceiverVisibleFileName.txt"
                }
              ],
              "location": "westeurope"
            },
            "storeKind": "BlobAccount",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
              "type": "ArmResourceReference"
            }
          },
          "state": "Succeeded",
          "createdAt": "2023-02-22T08:07:04.6511096Z",
          "dependsOn": [],
          "senderName": "Sharing-Test-App",
          "senderTenantName": "Fabrikam Solutions"
        },
        "shareKind": "InPlace",
        "id": "5eb6b8b8-bada-415c-abaa-6a61511570b7",
        "type": "SentShare"
      }
    }
  ],
  "Variables": {}
}
