"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.EntraIdTokenImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
/** Class containing EntraIdToken operations. */
class EntraIdTokenImpl {
    /**
     * Initialize a new instance of the class EntraIdToken class.
     * @param client Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Exchanges an Entra ID token for an ACS user access token.
     * @param body Request payload for the token exchange.
     * @param options The options parameters.
     */
    async exchange(body, options) {
        return tracing_js_1.tracingClient.withSpan("IdentityRestClient.exchange", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ body, options }, exchangeOperationSpec);
        });
    }
}
exports.EntraIdTokenImpl = EntraIdTokenImpl;
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const exchangeOperationSpec = {
    path: "/access/entra/:exchangeAccessToken",
    httpMethod: "POST",
    responses: {
        200: {
            bodyMapper: Mappers.CommunicationIdentityAccessTokenResult,
        },
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
        },
    },
    requestBody: Parameters.body3,
    queryParameters: [Parameters.apiVersion],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.contentType, Parameters.accept],
    mediaType: "json",
    serializer,
};
//# sourceMappingURL=entraIdToken.js.map