"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.TeamsExtensionAssignmentImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
/** Class containing TeamsExtensionAssignment operations. */
class TeamsExtensionAssignmentImpl {
    /**
     * Initialize a new instance of the class TeamsExtensionAssignment class.
     * @param client Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Get Teams Phone access assignment by object id.
     * @param tenantId Tenant Id we want to get the assignment for.
     * @param objectId Object Id we want to get the assignment for.
     * @param options The options parameters.
     */
    async get(tenantId, objectId, options) {
        return tracing_js_1.tracingClient.withSpan("IdentityRestClient.get", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ tenantId, objectId, options }, getOperationSpec);
        });
    }
    /**
     * Creates or replaces a Teams Phone access assignment.
     * @param tenantId Tenant Id we want to update the assignment for.
     * @param objectId Object Id we want to update the assignment for.
     * @param principalType The type of principal the assignment is for.
     * @param options The options parameters.
     */
    async upsert(tenantId, objectId, principalType, options) {
        return tracing_js_1.tracingClient.withSpan("IdentityRestClient.upsert", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ tenantId, objectId, principalType, options }, upsertOperationSpec);
        });
    }
    /**
     * Removes a Teams Phone access assignment.
     * @param tenantId Tenant Id we want to remove the assignment for.
     * @param objectId Object Id we want to remove the assignment for.
     * @param options The options parameters.
     */
    async delete(tenantId, objectId, options) {
        return tracing_js_1.tracingClient.withSpan("IdentityRestClient.delete", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ tenantId, objectId, options }, deleteOperationSpec);
        });
    }
}
exports.TeamsExtensionAssignmentImpl = TeamsExtensionAssignmentImpl;
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const getOperationSpec = {
    path: "/access/teamsExtension/tenants/{tenantId}/assignments/{objectId}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.TeamsExtensionAssignmentResponse,
        },
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
        },
    },
    queryParameters: [Parameters.apiVersion],
    urlParameters: [
        Parameters.endpoint,
        Parameters.tenantId,
        Parameters.objectId,
    ],
    headerParameters: [Parameters.accept],
    serializer,
};
const upsertOperationSpec = {
    path: "/access/teamsExtension/tenants/{tenantId}/assignments/{objectId}",
    httpMethod: "PUT",
    responses: {
        200: {
            bodyMapper: Mappers.TeamsExtensionAssignmentResponse,
        },
        201: {
            bodyMapper: Mappers.TeamsExtensionAssignmentResponse,
        },
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
        },
    },
    requestBody: {
        parameterPath: {
            principalType: ["principalType"],
            clientIds: ["options", "clientIds"],
        },
        mapper: Object.assign(Object.assign({}, Mappers.TeamsExtensionAssignmentCreateOrUpdateRequest), { required: true }),
    },
    queryParameters: [Parameters.apiVersion],
    urlParameters: [
        Parameters.endpoint,
        Parameters.tenantId,
        Parameters.objectId,
    ],
    headerParameters: [Parameters.contentType, Parameters.accept],
    mediaType: "json",
    serializer,
};
const deleteOperationSpec = {
    path: "/access/teamsExtension/tenants/{tenantId}/assignments/{objectId}",
    httpMethod: "DELETE",
    responses: {
        204: {},
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
        },
    },
    queryParameters: [Parameters.apiVersion],
    urlParameters: [
        Parameters.endpoint,
        Parameters.tenantId,
        Parameters.objectId,
    ],
    headerParameters: [Parameters.accept],
    serializer,
};
//# sourceMappingURL=teamsExtensionAssignment.js.map