{
  "Entries": [
    {
      "RequestUri": "https://metamodeldemo02.purview.azure.com/atlas/v2/catalog/api/glossary?api-version=2022-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "name": "jsLROTesting-2",
        "shortDescription": "Example Short Description",
        "longDescription": "Example Long Description",
        "language": "en",
        "usage": "Example Glossary"
      },
      "StatusCode": 404,
      "ResponseHeaders": {
      },
      "ResponseBody": "eyJlcnJvciI6eyJjb2RlIjoiUmVzb3VyY2VOb3RGb3VuZCIsIm1lc3NhZ2UiOiJSZXNvdXJjZSBub3QgZm91bmQifX0="
    }
  ],
  "Variables": {}
}
