{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/copyright/bounding/json?maxcoordinates=52.41064%2C4.84228\u0026mincoordinates=52.41072%2C4.84239\u0026api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d6959e64c4fed1e434c1f802c0669fbe\u0022",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": [
        "\u001B\uFFFD\u001D\u0000,\u0006\uFFFD\uFFFD\uFFFD\u0018\uFFFD\u0013\uFFFD\uFFFD\uFFFD\uFFFD\u2681\uFFFD\u0006\u0019!\u026C\u0006kK\uFFFDPODQ\uFFFD;:L{!E\u001A\uFFFD\uFFFD3\uFFFD\uFFFDX*\uFFFD\uFFFD\uFFFDpaDj7\uFFFD\uFFFD\u0014\u0748^\uFFFD6\uFFFD|\u002B\uFFFD\u049A\uFFFD1\uFFFD\u0003\uFFFD\uFFFD\u0005\uFFFD\uFFFDV\u0060\uFFFDIc\uFFFD\uFFFDo*\u0000\uFFFDSH\uFFFD\uFFFD\u079E\uFFFD\uFFFD\uFFFDeB\u000E\n",
        "\uFFFDw\t)[\u0014\uFFFD\fY!\uFFFD\uFFFD|4\n",
        "\uFFFD\uFFFD8\u000[...]
