{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/attribution?tilesetId=microsoft.base\u0026zoom=6\u0026bounds=-122.414162%2C47.57949%2C-122.247157%2C47.668372\u0026api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "copyrights": [
          "\u003Ca data-azure-maps-attribution-tileset=\u0022microsoft.base\u0022\u003E\u0026copy;2022 TomTom\u003C/a\u003E"
        ]
      }
    }
  ],
  "Variables": {}
}
