{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/copyright/caption/json?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ed42b665849015a4f2aece6170490d5b\u0022",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": [
        "\u000B!\uFFFD{\n",
        "   \u0022formatVersion\u0022: \u00220.0.1\u0022,\n",
        "   \u0022copyrightsCaption\u0022: \u0022\u00A9TomTom\u0022\n",
        "}\u0003"
      ]
    }
  ],
  "Variables": {}
}
