/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { InventoryItems } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { Scvmm } from "../scvmm";
import {
  InventoryItem,
  InventoryItemsListByVMMServerNextOptionalParams,
  InventoryItemsListByVMMServerOptionalParams,
  InventoryItemsListByVMMServerResponse,
  InventoryItemsCreateOptionalParams,
  InventoryItemsCreateResponse,
  InventoryItemsGetOptionalParams,
  InventoryItemsGetResponse,
  InventoryItemsDeleteOptionalParams,
  InventoryItemsListByVMMServerNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing InventoryItems operations. */
export class InventoryItemsImpl implements InventoryItems {
  private readonly client: Scvmm;

  /**
   * Initialize a new instance of the class InventoryItems class.
   * @param client Reference to the service client
   */
  constructor(client: Scvmm) {
    this.client = client;
  }

  /**
   * Returns the list of inventoryItems in the given VMMServer.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmmServerName Name of the VMMServer.
   * @param options The options parameters.
   */
  public listByVMMServer(
    resourceGroupName: string,
    vmmServerName: string,
    options?: InventoryItemsListByVMMServerOptionalParams
  ): PagedAsyncIterableIterator<InventoryItem> {
    const iter = this.listByVMMServerPagingAll(
      resourceGroupName,
      vmmServerName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByVMMServerPagingPage(
          resourceGroupName,
          vmmServerName,
          options,
          settings
        );
      }
    };
  }

  private async *listByVMMServerPagingPage(
    resourceGroupName: string,
    vmmServerName: string,
    options?: InventoryItemsListByVMMServerOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<InventoryItem[]> {
    let result: InventoryItemsListByVMMServerResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByVMMServer(
        resourceGroupName,
        vmmServerName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByVMMServerNext(
        resourceGroupName,
        vmmServerName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByVMMServerPagingAll(
    resourceGroupName: string,
    vmmServerName: string,
    options?: InventoryItemsListByVMMServerOptionalParams
  ): AsyncIterableIterator<InventoryItem> {
    for await (const page of this.listByVMMServerPagingPage(
      resourceGroupName,
      vmmServerName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Create Or Update InventoryItem.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmmServerName Name of the VMMServer.
   * @param inventoryItemResourceName Name of the inventoryItem.
   * @param options The options parameters.
   */
  create(
    resourceGroupName: string,
    vmmServerName: string,
    inventoryItemResourceName: string,
    options?: InventoryItemsCreateOptionalParams
  ): Promise<InventoryItemsCreateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmmServerName, inventoryItemResourceName, options },
      createOperationSpec
    );
  }

  /**
   * Shows an inventory item.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmmServerName Name of the VMMServer.
   * @param inventoryItemResourceName Name of the inventoryItem.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    vmmServerName: string,
    inventoryItemResourceName: string,
    options?: InventoryItemsGetOptionalParams
  ): Promise<InventoryItemsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmmServerName, inventoryItemResourceName, options },
      getOperationSpec
    );
  }

  /**
   * Deletes an inventoryItem.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmmServerName Name of the VMMServer.
   * @param inventoryItemResourceName Name of the inventoryItem.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    vmmServerName: string,
    inventoryItemResourceName: string,
    options?: InventoryItemsDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmmServerName, inventoryItemResourceName, options },
      deleteOperationSpec
    );
  }

  /**
   * Returns the list of inventoryItems in the given VMMServer.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmmServerName Name of the VMMServer.
   * @param options The options parameters.
   */
  private _listByVMMServer(
    resourceGroupName: string,
    vmmServerName: string,
    options?: InventoryItemsListByVMMServerOptionalParams
  ): Promise<InventoryItemsListByVMMServerResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmmServerName, options },
      listByVMMServerOperationSpec
    );
  }

  /**
   * ListByVMMServerNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmmServerName Name of the VMMServer.
   * @param nextLink The nextLink from the previous successful call to the ListByVMMServer method.
   * @param options The options parameters.
   */
  private _listByVMMServerNext(
    resourceGroupName: string,
    vmmServerName: string,
    nextLink: string,
    options?: InventoryItemsListByVMMServerNextOptionalParams
  ): Promise<InventoryItemsListByVMMServerNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmmServerName, nextLink, options },
      listByVMMServerNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems/{inventoryItemResourceName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.InventoryItem
    },
    201: {
      bodyMapper: Mappers.InventoryItem
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body6,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmmServerName,
    Parameters.inventoryItemResourceName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems/{inventoryItemResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.InventoryItem
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmmServerName,
    Parameters.inventoryItemResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems/{inventoryItemResourceName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmmServerName,
    Parameters.inventoryItemResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByVMMServerOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.InventoryItemsList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmmServerName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByVMMServerNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.InventoryItemsList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmmServerName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
