{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/tileset?api-version=2.1\u0026tilesetId=microsoft.base",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "tilejson": "2.2.0",
        "name": "microsoft.base",
        "version": "1.0.0",
        "attribution": "\u003Ca data-azure-maps-attribution-tileset=\u0022microsoft.base\u0022\u003E\u0026copy;2022 TomTom\u003C/a\u003E",
        "scheme": "xyz",
        "tiles": [
          "https://atlas.microsoft.com/map/tile?api-version=2.1\u0026tilesetId=microsoft.base\u0026zoom={z}\u0026x={x}\u0026y={y}"
        ],
        "grids": [],
        "data": [],
        "minzoom": 0,
        "maxzoom": 22,
        "bounds": [
          -180.0,
          -90.0,
          180.0,
          90.0
        ]
      }
    }
  ],
  "Variables": {}
}
