{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/range/json?api-version=1.0\u0026vehicleAxleWeight=0\u0026vehicleLength=0\u0026vehicleHeight=0\u0026vehicleWidth=0\u0026vehicleMaxSpeed=0\u0026vehicleWeight=0\u0026vehicleCommercial=false\u0026query=50.97452,5.86605\u0026timeBudgetInSec=6000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "reachableRange": {
          "center": {
            "latitude": 50.97452,
            "longitude": 5.86605
          },
          "boundary": [
            {
              "latitude": 52.03689,
              "longitude": 5.73784
            },
            {
              "latitude": 52.02208,
              "longitude": 5.72305
            },
            {
              "latitude": 51.96563,
              "longitude": 5.57982
            },
            {
              "latitude": 51.92718,
              "longitude": 5.43095
            },
            {
              "latitude": 51.91449,
              "longitude": 5.33194
            [...]
