EVENT_GRID_NAMESPACES_ENDPOINT=<eventgrid endpoint>
EVENT_GRID_NAMESPACES_KEY=<eventgrid key>
TEST_MODE=<test mode>
MAX_DELIVERY_COUNT=<max delivery count>
AZURE_TENANT_ID=<tenant id>
AZURE_CLIENT_ID=<client id>
AZURE_CLIENT_SECRET=<client secret>
