{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest?api-version=2021-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "environment": "Dev"
        },
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "dynatraceEnvironmentProperties": {
            "userId": "275d25ea-1c94-42d1-88b4-ff9f57abe260",
            "accountInfo": {
              "accountId": "f6def7be-a538-43d9-a473-6e77720474e9",
              "regionId": "eastus"
            },
            "environmentInfo": {
              "environmentId": "zux69087",
              "logsIngestionEndpoint": "https://zux69087.live.dynatrace.com/api/v2/logs/ingest",
              "landingURL": "https://zux69087.live.dynatrace.com/"
            },
            "singleSignOnProperties": {
              "singleSignOnState": "Initial",
              "enterpriseAppId": "",
              "singleSignOnUrl": "",
              "aadDomains": [
                "drawbridge.com",
                "expresslogic.com",
                "euevents.microsoft.com",
                "video2brain.com",
                "averesystems.com",
                "initiativegaming.com",
                "mail1.averesystems.com",
                "seaofthieves.com",
                "Intentional.com",
                "m12.vc",
                "email.bing.com",
                "playfab.com",
                "itsm.microsoft.com",
                "Windows.mail.mi[...]
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1980ac54-4d97-4ef5-978d-54346a7b7535*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224f0030ee-0000-0100-0000-632938160000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1980ac54-4d97-4ef5-978d-54346a7b7535*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "name": "1980ac54-4d97-4ef5-978d-54346a7b7535*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest",
        "status": "Accepted",
        "startTime": "2022-09-20T03:48:38.5723701Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1980ac54-4d97-4ef5-978d-54346a7b7535*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224f00cbee-0000-0100-0000-632938230000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11993"
      },
      "ResponseBody": {
        "id": "/providers/Dynatrace.Observability/locations/EASTUS/operationStatuses/1980ac54-4d97-4ef5-978d-54346a7b7535*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "name": "1980ac54-4d97-4ef5-978d-54346a7b7535*51B2A7EEB20F60B7D85641BC4033CD90037E6C5786481C33F12B82315E681B06",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest",
        "status": "Succeeded",
        "startTime": "2022-09-20T03:48:38.5723701Z",
        "endTime": "2022-09-20T03:48:51.9776579Z",
        "error": {},
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002272019775-0000-0100-0000-632938230000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest",
        "name": "myMonitormtest",
        "type": "dynatrace.observability/monitors",
        "location": "eastus",
        "tags": {
          "environment": "Dev"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-09-20T03:48:35.9910504Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-20T03:48:35.9910504Z"
        },
        "identity": {
          "principalId": "344e948e-c3d5-49d2-b52a-094ae5309e6a",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "properties": {
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "dynatraceEnvironmentProperties": {
            "userId": "365d5e71-cb79-4204-b918-272340797d52",
            "accountInfo": {
              "accountId": "f6def7be-a538-43d9-a473-6e77720474e9",
              "regionId": "eastus"
            },
            "environmentInfo": {
        [...]
