{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitor?api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002244012df8-0000-0100-0000-632825350000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitor",
        "name": "myMonitor",
        "type": "dynatrace.observability/monitors",
        "location": "eastus",
        "tags": {
          "environment": "Dev"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-09-19T08:11:38.1295508Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-19T08:11:38.1295508Z"
        },
        "identity": {
          "principalId": "4ae7565b-c3f2-4c91-bb0a-292ac7b0146e",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "properties": {
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "dynatraceEnvironmentProperties": {
            "userId": null,
            "accountInfo": {
              "accountId": null,
              "regionId": null
            },
            "environmentInfo": {
              "environmentId": null,
              "ingestionKey": null,
              "logsIngestionEndpoint": null,
              "landingURL": null
            },
            "singleSignOnProperties": {
              "singleSignOnState": "Initial",
              "enterpriseAppId": null,
              "singleSignOnUrl": null,
              "aadDomains": null,
              "provisioningState": "Accepted"
            }
          },
          "userInfo": null,
          "planData": {
            "usageType": "Committed",
            "billingCycle": "Monthly",
            "planDetails": "dynatraceapitestplan",
            "effectiveDate": "2019-08-30T13:14:33Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0,
          "provisioningState": "Failed"
        }
      }
    }
  ],
  "Variables": {}
}
