/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { MetadataSchemas } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureAPICenter } from "../azureAPICenter";
import {
  MetadataSchema,
  MetadataSchemasListNextOptionalParams,
  MetadataSchemasListOptionalParams,
  MetadataSchemasListResponse,
  MetadataSchemasGetOptionalParams,
  MetadataSchemasGetResponse,
  MetadataSchemasCreateOrUpdateOptionalParams,
  MetadataSchemasCreateOrUpdateResponse,
  MetadataSchemasDeleteOptionalParams,
  MetadataSchemasHeadOptionalParams,
  MetadataSchemasHeadResponse,
  MetadataSchemasListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing MetadataSchemas operations. */
export class MetadataSchemasImpl implements MetadataSchemas {
  private readonly client: AzureAPICenter;

  /**
   * Initialize a new instance of the class MetadataSchemas class.
   * @param client Reference to the service client
   */
  constructor(client: AzureAPICenter) {
    this.client = client;
  }

  /**
   * Returns a collection of metadata schemas.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of Azure API Center service.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    serviceName: string,
    options?: MetadataSchemasListOptionalParams,
  ): PagedAsyncIterableIterator<MetadataSchema> {
    const iter = this.listPagingAll(resourceGroupName, serviceName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          serviceName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    serviceName: string,
    options?: MetadataSchemasListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<MetadataSchema[]> {
    let result: MetadataSchemasListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, serviceName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        serviceName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    serviceName: string,
    options?: MetadataSchemasListOptionalParams,
  ): AsyncIterableIterator<MetadataSchema> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      serviceName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Returns a collection of metadata schemas.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of Azure API Center service.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    serviceName: string,
    options?: MetadataSchemasListOptionalParams,
  ): Promise<MetadataSchemasListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, options },
      listOperationSpec,
    );
  }

  /**
   * Returns details of the metadata schema.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of Azure API Center service.
   * @param metadataSchemaName The name of the metadata schema.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    serviceName: string,
    metadataSchemaName: string,
    options?: MetadataSchemasGetOptionalParams,
  ): Promise<MetadataSchemasGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, metadataSchemaName, options },
      getOperationSpec,
    );
  }

  /**
   * Creates new or updates existing metadata schema.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of Azure API Center service.
   * @param metadataSchemaName The name of the metadata schema.
   * @param resource Resource create parameters.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    serviceName: string,
    metadataSchemaName: string,
    resource: MetadataSchema,
    options?: MetadataSchemasCreateOrUpdateOptionalParams,
  ): Promise<MetadataSchemasCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, metadataSchemaName, resource, options },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Deletes specified metadata schema.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of Azure API Center service.
   * @param metadataSchemaName The name of the metadata schema.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    serviceName: string,
    metadataSchemaName: string,
    options?: MetadataSchemasDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, metadataSchemaName, options },
      deleteOperationSpec,
    );
  }

  /**
   * Checks if specified metadata schema exists.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of Azure API Center service.
   * @param metadataSchemaName The name of the metadata schema.
   * @param options The options parameters.
   */
  head(
    resourceGroupName: string,
    serviceName: string,
    metadataSchemaName: string,
    options?: MetadataSchemasHeadOptionalParams,
  ): Promise<MetadataSchemasHeadResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, metadataSchemaName, options },
      headOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of Azure API Center service.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    serviceName: string,
    nextLink: string,
    options?: MetadataSchemasListNextOptionalParams,
  ): Promise<MetadataSchemasListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiCenter/services/{serviceName}/metadataSchemas",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MetadataSchemaListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serviceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiCenter/services/{serviceName}/metadataSchemas/{metadataSchemaName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MetadataSchema,
      headersMapper: Mappers.MetadataSchemasGetHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serviceName,
    Parameters.metadataSchemaName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiCenter/services/{serviceName}/metadataSchemas/{metadataSchemaName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.MetadataSchema,
      headersMapper: Mappers.MetadataSchemasCreateOrUpdateHeaders,
    },
    201: {
      bodyMapper: Mappers.MetadataSchema,
      headersMapper: Mappers.MetadataSchemasCreateOrUpdateHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.resource1,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serviceName,
    Parameters.metadataSchemaName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiCenter/services/{serviceName}/metadataSchemas/{metadataSchemaName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serviceName,
    Parameters.metadataSchemaName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const headOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiCenter/services/{serviceName}/metadataSchemas/{metadataSchemaName}",
  httpMethod: "HEAD",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serviceName,
    Parameters.metadataSchemaName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MetadataSchemaListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serviceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
