# Used in most samples
EVENTHUB_CONNECTION_STRING=<connection string WITHOUT an EntityPath>
EVENTHUB_NAME=<name of a single eventhub>
EVENTHUB_FQDN=<your-eventhubs-namespace>.servicebus.windows.net
CONSUMER_GROUP_NAME=<name of a consumer group>
STORAGE_CONTAINER_URL=<URL for the Blob Storage container for the checkpoint store>


