# For AOAI endpoint URL, with partial path, in the form 
#             https://<your-unique-resouce-name>.openai.azure.com/openai/deployments/<your-deployment-name>
#             where `your-unique-resource-name` is your globally unique AOAI resource name,
#             and `your-deployment-name` is your AI Model deployment name.
#             For example: https://your-unique-host.openai.azure.com/openai/deployments/gpt-4o
# For MaaS endpoint URL, the URL should be in the form of https://<resource name>.openai.azure.com 
ENDPOINT="https://<resource name>.openai.azure.com"

# Your model key (a 32-character string). Keep it secret. 
# This is only required for key authentication.
# If not provided, the sample will use DefaultAzureCredential.
# KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Your model name. This is the name of the model you want to use (MaaS only).
# MODEL=""


# For Application Insights, telemetry data is sent to the Application Insights service:
# APPLICATIONINSIGHTS_CONNECTION_STRING="InstrumentationKey=<key>;IngestionEndpoint=https://<region>.in.applicationinsights.azure.com/;LiveEndpoint=https://<region>.livediagnostics.monitor.azure.com/;ApplicationId=<app_id>"