# Used in most samples. Retrieve these values from a Mixed Reality service instance
# in the Azure Portal.
MIXEDREALITY_ACCOUNT_DOMAIN=<MR account domain>
MIXEDREALITY_ACCOUNT_ID=<MR account identifier>
MIXEDREALITY_ACCOUNT_KEY=<MR account key>
