{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/myjstest1/providers/Microsoft.Resources/tags/default?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/tagNames?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/tagNames/tag1",
            "tagName": "tag1",
            "count": {
              "type": "Total",
              "value": 3
            },
            "values": [
              {
                "id": "/subscriptions/azure_subscription_id/tagNames/tag1/tagValues/value1",
                "tagValue": "value1",
                "count": {
                  "type": "Total",
                  "value": 3
                }
              }
            ]
          },
          {
            "id": "/subscriptions/azure_subscription_id/tagNames/tag2",
            "tagName": "tag2",
            "count": {
              "type": "Total",
              "value": 3
            },
            "values": [
              {
                "id": "/subscriptions/azure_subscription_id/tagNames/tag2/tagValues/valu[...]
