{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/sdk-net-test-qa2",
            "name": "sdk-net-test-qa2",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "eastus",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/DefaultResourceGroup-CCAN",
            "name": "DefaultResourceGroup-CCAN",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "canadacentral",
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/DefaultResourceGroup-EUS2",
            "name": "DefaultResourceGroup-EUS2",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "eastus2",
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/DefaultResourceGroup-CUS",
            "name": "DefaultResourceGroup-CUS",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "centralus",
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/iyljd2wtoqh43dern43sawzmqxkeari3bcqiadgfste4outj7cdmmslvr4yfw2vmrsqeiogmitj",
            "name": "iyljd2wtoqh43dern43sawzmqxkeari3bcqiadgfste4outj7cdmmslvr4yfw2vmrsqeiogmitj",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "eastus",
            "tags": {
              "DeleteAfter": "2020-08-15T07:02:26.327834"
            },
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/AzSecPackAutoConfigRG",
            "name": "AzSecPackAutoConfigRG",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "eastus",
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/qiaozhatest",
            "name": "qiaozhatest",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "eastus",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest",
            "name": "myjstest",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "eastus",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/anf-secondary-rg",
            "name": "anf-secondary-rg",
            "type": "Microsoft.Resources/resourceGroups",
            "location": "eastus",
            "tags": {},
            "properties": {
              "provisioningState": "Succeeded"
            }
          },
          {
 [...]
