AAD_ATTESTATION_URL="<AAD attestation URL>"
ISOLATED_ATTESTATION_URL="<Isolated attestaion URL>"
policySigningCertificate2=""
isolatedSigningCertificate=""
policySigningCertificate1=""
policySigningCertificate0=""
TEST_MODE=playback