ATTESTATION_AAD_URL="<AAD attestation URL>"
ATTESTATION_ISOLATED_URL="<Isolated attestaion URL>"
ATTESTATION_LOCATION_SHORT_NAME="<Short name of the location of the test instance>"
policySigningCertificate2=""
policySigningCertificate1=""
policySigningCertificate0=""
ATTESTATION_ISOLATED_SIGNING_CERTIFICATE="Base64 encoded DER X.509 certificate which was used to configure an isolated mode attestation instance"
ATTESTATION_ISOLATED_SIGNING_KEY="Base64 encoded DER RSA Private Key associated with ATTESTATION_ISOLATED_SIGNING_CERTIFICATE"

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
TEST_MODE=playback
