AAD_ATTESTATION_URL="<AAD attestation URL>"
ISOLATED_ATTESTATION_URL="<Isolated attestaion URL>"
policySigningCertificate2=""
isolatedSigningCertificate=""
policySigningCertificate1=""
policySigningCertificate0=""
# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
TEST_MODE=playback