/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { BackupInstancesExtensionRouting } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { DataProtectionClient } from "../dataProtectionClient.js";
import {
  BackupInstanceResource,
  BackupInstancesExtensionRoutingListNextOptionalParams,
  BackupInstancesExtensionRoutingListOptionalParams,
  BackupInstancesExtensionRoutingListResponse,
  BackupInstancesExtensionRoutingListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing BackupInstancesExtensionRouting operations. */
export class BackupInstancesExtensionRoutingImpl implements BackupInstancesExtensionRouting {
  private readonly client: DataProtectionClient;

  /**
   * Initialize a new instance of the class BackupInstancesExtensionRouting class.
   * @param client Reference to the service client
   */
  constructor(client: DataProtectionClient) {
    this.client = client;
  }

  /**
   * Gets a list of backup instances associated with a tracked resource
   * @param resourceId ARM path of the resource to be protected using Microsoft.DataProtection
   * @param options The options parameters.
   */
  public list(
    resourceId: string,
    options?: BackupInstancesExtensionRoutingListOptionalParams,
  ): PagedAsyncIterableIterator<BackupInstanceResource> {
    const iter = this.listPagingAll(resourceId, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(resourceId, options, settings);
      },
    };
  }

  private async *listPagingPage(
    resourceId: string,
    options?: BackupInstancesExtensionRoutingListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<BackupInstanceResource[]> {
    let result: BackupInstancesExtensionRoutingListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceId, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(resourceId, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceId: string,
    options?: BackupInstancesExtensionRoutingListOptionalParams,
  ): AsyncIterableIterator<BackupInstanceResource> {
    for await (const page of this.listPagingPage(resourceId, options)) {
      yield* page;
    }
  }

  /**
   * Gets a list of backup instances associated with a tracked resource
   * @param resourceId ARM path of the resource to be protected using Microsoft.DataProtection
   * @param options The options parameters.
   */
  private _list(
    resourceId: string,
    options?: BackupInstancesExtensionRoutingListOptionalParams,
  ): Promise<BackupInstancesExtensionRoutingListResponse> {
    return this.client.sendOperationRequest({ resourceId, options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param resourceId ARM path of the resource to be protected using Microsoft.DataProtection
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceId: string,
    nextLink: string,
    options?: BackupInstancesExtensionRoutingListNextOptionalParams,
  ): Promise<BackupInstancesExtensionRoutingListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceId, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/{resourceId}/providers/Microsoft.DataProtection/backupInstances",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.BackupInstanceResourceList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.resourceId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.BackupInstanceResourceList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink, Parameters.resourceId],
  headerParameters: [Parameters.accept],
  serializer,
};
