/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ExportJobsOperationResult } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { DataProtectionClient } from "../dataProtectionClient.js";
import {
  ExportJobsOperationResultGetOptionalParams,
  ExportJobsOperationResultGetResponse,
} from "../models/index.js";

/** Class containing ExportJobsOperationResult operations. */
export class ExportJobsOperationResultImpl implements ExportJobsOperationResult {
  private readonly client: DataProtectionClient;

  /**
   * Initialize a new instance of the class ExportJobsOperationResult class.
   * @param client Reference to the service client
   */
  constructor(client: DataProtectionClient) {
    this.client = client;
  }

  /**
   * Gets the operation result of operation triggered by Export Jobs API. If the operation is successful,
   * then it also contains URL of a Blob and a SAS key to access the same. The blob contains exported
   * jobs in JSON serialized format.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vaultName The name of the backup vault.
   * @param operationId OperationID which represents the export job.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    vaultName: string,
    operationId: string,
    options?: ExportJobsOperationResultGetOptionalParams,
  ): Promise<ExportJobsOperationResultGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vaultName, operationId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupJobs/operations/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExportJobsResult,
    },
    202: {},
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vaultName,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
