/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { FetchCrossRegionRestoreJob } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { DataProtectionClient } from "../dataProtectionClient.js";
import {
  CrossRegionRestoreJobRequest,
  FetchCrossRegionRestoreJobGetOptionalParams,
  FetchCrossRegionRestoreJobGetResponse,
} from "../models/index.js";

/** Class containing FetchCrossRegionRestoreJob operations. */
export class FetchCrossRegionRestoreJobImpl implements FetchCrossRegionRestoreJob {
  private readonly client: DataProtectionClient;

  /**
   * Initialize a new instance of the class FetchCrossRegionRestoreJob class.
   * @param client Reference to the service client
   */
  constructor(client: DataProtectionClient) {
    this.client = client;
  }

  /**
   * Fetches the Cross Region Restore Job
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param location The name of the Azure region.
   * @param parameters Request body for operation
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    location: string,
    parameters: CrossRegionRestoreJobRequest,
    options?: FetchCrossRegionRestoreJobGetOptionalParams,
  ): Promise<FetchCrossRegionRestoreJobGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, location, parameters, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/fetchCrossRegionRestoreJob",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AzureBackupJobResource,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  requestBody: Parameters.parameters18,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.location1,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
