/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { OperationResult } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataProtectionClient } from "../dataProtectionClient";
import {
  OperationResultGetOptionalParams,
  OperationResultGetResponse,
} from "../models";

/** Class containing OperationResult operations. */
export class OperationResultImpl implements OperationResult {
  private readonly client: DataProtectionClient;

  /**
   * Initialize a new instance of the class OperationResult class.
   * @param client Reference to the service client
   */
  constructor(client: DataProtectionClient) {
    this.client = client;
  }

  /**
   * Gets the operation result for a resource
   * @param operationId
   * @param location
   * @param options The options parameters.
   */
  get(
    operationId: string,
    location: string,
    options?: OperationResultGetOptionalParams,
  ): Promise<OperationResultGetResponse> {
    return this.client.sendOperationRequest(
      { operationId, location, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/locations/{location}/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationJobExtendedInfo,
    },
    202: {
      headersMapper: Mappers.OperationResultGetHeaders,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
