/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { ChatTranscripts } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { MicrosoftSupport } from "../microsoftSupport.js";
import {
  ChatTranscriptDetails,
  ChatTranscriptsListNextOptionalParams,
  ChatTranscriptsListOptionalParams,
  ChatTranscriptsListResponse,
  ChatTranscriptsGetOptionalParams,
  ChatTranscriptsGetResponse,
  ChatTranscriptsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing ChatTranscripts operations. */
export class ChatTranscriptsImpl implements ChatTranscripts {
  private readonly client: MicrosoftSupport;

  /**
   * Initialize a new instance of the class ChatTranscripts class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftSupport) {
    this.client = client;
  }

  /**
   * Lists all chat transcripts for a support ticket under subscription
   * @param supportTicketName Support ticket name.
   * @param options The options parameters.
   */
  public list(
    supportTicketName: string,
    options?: ChatTranscriptsListOptionalParams,
  ): PagedAsyncIterableIterator<ChatTranscriptDetails> {
    const iter = this.listPagingAll(supportTicketName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(supportTicketName, options, settings);
      },
    };
  }

  private async *listPagingPage(
    supportTicketName: string,
    options?: ChatTranscriptsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ChatTranscriptDetails[]> {
    let result: ChatTranscriptsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(supportTicketName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        supportTicketName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    supportTicketName: string,
    options?: ChatTranscriptsListOptionalParams,
  ): AsyncIterableIterator<ChatTranscriptDetails> {
    for await (const page of this.listPagingPage(supportTicketName, options)) {
      yield* page;
    }
  }

  /**
   * Lists all chat transcripts for a support ticket under subscription
   * @param supportTicketName Support ticket name.
   * @param options The options parameters.
   */
  private _list(
    supportTicketName: string,
    options?: ChatTranscriptsListOptionalParams,
  ): Promise<ChatTranscriptsListResponse> {
    return this.client.sendOperationRequest(
      { supportTicketName, options },
      listOperationSpec,
    );
  }

  /**
   * Returns chatTranscript details for a support ticket under a subscription.
   * @param supportTicketName Support ticket name.
   * @param chatTranscriptName ChatTranscript name.
   * @param options The options parameters.
   */
  get(
    supportTicketName: string,
    chatTranscriptName: string,
    options?: ChatTranscriptsGetOptionalParams,
  ): Promise<ChatTranscriptsGetResponse> {
    return this.client.sendOperationRequest(
      { supportTicketName, chatTranscriptName, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param supportTicketName Support ticket name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    supportTicketName: string,
    nextLink: string,
    options?: ChatTranscriptsListNextOptionalParams,
  ): Promise<ChatTranscriptsListNextResponse> {
    return this.client.sendOperationRequest(
      { supportTicketName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/chatTranscripts",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChatTranscriptsListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.supportTicketName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/chatTranscripts/{chatTranscriptName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChatTranscriptDetails,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.supportTicketName,
    Parameters.chatTranscriptName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChatTranscriptsListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.supportTicketName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
