/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { FileWorkspaces } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { MicrosoftSupport } from "../microsoftSupport.js";
import {
  FileWorkspacesGetOptionalParams,
  FileWorkspacesGetResponse,
  FileWorkspacesCreateOptionalParams,
  FileWorkspacesCreateResponse,
} from "../models/index.js";

/** Class containing FileWorkspaces operations. */
export class FileWorkspacesImpl implements FileWorkspaces {
  private readonly client: MicrosoftSupport;

  /**
   * Initialize a new instance of the class FileWorkspaces class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftSupport) {
    this.client = client;
  }

  /**
   * Gets details for a specific file workspace in an Azure subscription.
   * @param fileWorkspaceName File Workspace Name
   * @param options The options parameters.
   */
  get(
    fileWorkspaceName: string,
    options?: FileWorkspacesGetOptionalParams,
  ): Promise<FileWorkspacesGetResponse> {
    return this.client.sendOperationRequest(
      { fileWorkspaceName, options },
      getOperationSpec,
    );
  }

  /**
   * Creates a new file workspace for the specified subscription.
   * @param fileWorkspaceName File workspace name.
   * @param options The options parameters.
   */
  create(
    fileWorkspaceName: string,
    options?: FileWorkspacesCreateOptionalParams,
  ): Promise<FileWorkspacesCreateResponse> {
    return this.client.sendOperationRequest(
      { fileWorkspaceName, options },
      createOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.FileWorkspaceDetails,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.fileWorkspaceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Support/fileWorkspaces/{fileWorkspaceName}",
  httpMethod: "PUT",
  responses: {
    201: {
      bodyMapper: Mappers.FileWorkspaceDetails,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.fileWorkspaceName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
