{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!72!ZGVsZXRldGVzdGFjY291bnRjb25uZWN0aW9uc3RyaW5nbm9kZQEwMWQ3ZTcwMDhjZTMxZWI5",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "byPageTest"
          },
          {
            "TableName": "CreateSimpleEntityBatchPerf"
          },
          {
            "TableName": "createTableNew"
          },
          {
            "TableName": "createTableNew2"
          },
          {
            "TableName": "createTableOld"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!72!ZGVsZXRldGVzdGFjY291bnRjb25uZWN0aW9uc3RyaW5nbm9kZQEwMWQ3ZTcwMDhjZTMxZWI5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!52!ZGVsZXRldGVzdHNhc3Rva2Vubm9kZQEwMWQ3ZTcwMDhkMjk0NDI4",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "DeleteTestAccountConnectionStringnode"
          },
          {
            "TableName": "DeleteTestAccountKeynode"
          },
          {
            "TableName": "DeleteTestSASConnectionStringbrowser"
          },
          {
            "TableName": "DeleteTestSASConnectionStringnode"
          },
          {
            "TableName": "DeleteTestSASTokenbrowser"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!52!ZGVsZXRldGVzdHNhc3Rva2Vubm9kZQEwMWQ3ZTcwMDhkMjk0NDI4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!68!ZXhpc3Rzc2FzY29ubmVjdGlvbnN0cmluZ2Jyb3dzZXIBMDFkN2U2NTBjZTk2ZDFlYg--",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "DeleteTestSASTokennode"
          },
          {
            "TableName": "DeleteTestTokenCredentialbrowser"
          },
          {
            "TableName": "doublesTest"
          },
          {
            "TableName": "existsAccountConnectionStringnode"
          },
          {
            "TableName": "existsAccountKeynode"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!68!ZXhpc3Rzc2FzY29ubmVjdGlvbnN0cmluZ2Jyb3dzZXIBMDFkN2U2NTBjZTk2ZDFlYg--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!56!ZXhpc3RzdG9rZW5jcmVkZW50aWFsbm9kZQEwMWQ3ZTY1MDk2NGU5Y2Zm",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "existsSASConnectionStringbrowser"
          },
          {
            "TableName": "existsSASConnectionStringnode"
          },
          {
            "TableName": "existsSASTokenbrowser"
          },
          {
            "TableName": "existsSASTokennode"
          },
          {
            "TableName": "existsTokenCredentialbrowser"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!56!ZXhpc3RzdG9rZW5jcmVkZW50aWFsbm9kZQEwMWQ3ZTY1MDk2NGU5Y2Zm",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIxMQEwMWQ4MTc5ZTc1ZWM5ZTcy",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "existsTokenCredentialnode"
          },
          {
            "TableName": "foo"
          },
          {
            "TableName": "ListTableTestbrowser0"
          },
          {
            "TableName": "ListTableTestbrowser1"
          },
          {
            "TableName": "ListTableTestbrowser10"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIxMQEwMWQ4MTc5ZTc1ZWM5ZTcy",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIxNgEwMWQ4MTc5ZTc2MjQyMTBh",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestbrowser11"
          },
          {
            "TableName": "ListTableTestbrowser12"
          },
          {
            "TableName": "ListTableTestbrowser13"
          },
          {
            "TableName": "ListTableTestbrowser14"
          },
          {
            "TableName": "ListTableTestbrowser15"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIxNgEwMWQ4MTc5ZTc2MjQyMTBh",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIzATAxZDgxNzllNzU5NjI2YWY-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestbrowser16"
          },
          {
            "TableName": "ListTableTestbrowser17"
          },
          {
            "TableName": "ListTableTestbrowser18"
          },
          {
            "TableName": "ListTableTestbrowser19"
          },
          {
            "TableName": "ListTableTestbrowser2"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!52!bGlzdHRhYmxldGVzdGJyb3dzZXIzATAxZDgxNzllNzU5NjI2YWY-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!52!bGlzdHRhYmxldGVzdGJyb3dzZXI4ATAxZDgxNzllNzVjYzIyZTM-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestbrowser3"
          },
          {
            "TableName": "ListTableTestbrowser4"
          },
          {
            "TableName": "ListTableTestbrowser5"
          },
          {
            "TableName": "ListTableTestbrowser6"
          },
          {
            "TableName": "ListTableTestbrowser7"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!52!bGlzdHRhYmxldGVzdGJyb3dzZXI4ATAxZDgxNzllNzVjYzIyZTM-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!36!dGVzdGNoYXJzMwEwMWQ3YThkYWYwYjJiYjlj",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "ListTableTestbrowser8"
          },
          {
            "TableName": "ListTableTestbrowser9"
          },
          {
            "TableName": "manualListByPage"
          },
          {
            "TableName": "TestChars"
          },
          {
            "TableName": "TestChars2"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval\u0026$top=5\u0026NextTableName=1!36!dGVzdGNoYXJzMwEwMWQ3YThkYWYwYjJiYjlj",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "TableName": "TestChars3"
          },
          {
            "TableName": "testTable"
          },
          {
            "TableName": "TestTestTest"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
