{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520852303408368?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4C121D18B\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:42:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/listingcontainer167520852310506760?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4C12C7E70\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:42:03 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/listingcontainer167520852310506760/listblob167520852318005162?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-keyb": "value b",
        "x-ms-meta-_": "underscore value",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTY3NTIwODUyMzEwNTA2NzM0",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xDZqy6KJY208UwWMf0d3Pw==",
        "ETag": "\u00220x8DB03E4C1382D46\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:42:03 GMT",
        "x-ms-content-crc64": "Es7UgLSFEfs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:42:03.2168262Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/listingcontainer167520852310506760?comp=list\u0026maxresults=5\u0026restype=container\u0026include=metadata\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF\u003C?xm[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520852303408368?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "container": "container167520852303408368",
    "listblob": "listblob167520852318005162",
    "listingcontainer": "listingcontainer167520852310506760",
    "randomstring": "randomstring167520852310506734"
  }
}
