/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Schema } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as coreRestPipeline from "@azure/core-rest-pipeline";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { GeneratedSchemaRegistryClient } from "../generatedSchemaRegistryClient";
import {
  SchemaGetByIdOptionalParams,
  SchemaGetByIdResponse,
  SchemaGetVersionsOptionalParams,
  SchemaGetVersionsResponse,
  SchemaQueryIdByContentOptionalParams,
  SchemaQueryIdByContentResponse,
  SchemaRegisterOptionalParams,
  SchemaRegisterResponse
} from "../models";

/** Class containing Schema operations. */
export class SchemaImpl implements Schema {
  private readonly client: GeneratedSchemaRegistryClient;

  /**
   * Initialize a new instance of the class Schema class.
   * @param client Reference to the service client
   */
  constructor(client: GeneratedSchemaRegistryClient) {
    this.client = client;
  }

  /**
   * Gets a registered schema by its unique ID.  Azure Schema Registry guarantees that ID is unique
   * within a namespace. Operation response type is based on serialization of schema requested.
   * @param id References specific schema in registry namespace.
   * @param options The options parameters.
   */
  getById(
    id: string,
    options?: SchemaGetByIdOptionalParams
  ): Promise<SchemaGetByIdResponse> {
    return this.client.sendOperationRequest(
      { id, options },
      getByIdOperationSpec
    );
  }

  /**
   * Gets the list of all versions of one schema.
   * @param groupName Schema group under which schema is registered.  Group's serialization type should
   *                  match the serialization type specified in the request.
   * @param schemaName Name of schema.
   * @param options The options parameters.
   */
  getVersions(
    groupName: string,
    schemaName: string,
    options?: SchemaGetVersionsOptionalParams
  ): Promise<SchemaGetVersionsResponse> {
    return this.client.sendOperationRequest(
      { groupName, schemaName, options },
      getVersionsOperationSpec
    );
  }

  /**
   * Gets the ID referencing an existing schema within the specified schema group, as matched by schema
   * content comparison.
   * @param groupName Schema group under which schema is registered.  Group's serialization type should
   *                  match the serialization type specified in the request.
   * @param schemaName Name of schema.
   * @param contentType Content type of the schema.
   * @param schemaContent String representation (UTF-8) of the registered schema.
   * @param options The options parameters.
   */
  queryIdByContent(
    groupName: string,
    schemaName: string,
    contentType: string,
    schemaContent: coreRestPipeline.RequestBodyType,
    options?: SchemaQueryIdByContentOptionalParams
  ): Promise<SchemaQueryIdByContentResponse> {
    return this.client.sendOperationRequest(
      { groupName, schemaName, contentType, schemaContent, options },
      queryIdByContentOperationSpec
    );
  }

  /**
   * Register new schema. If schema of specified name does not exist in specified group, schema is
   * created at version 1. If schema of specified name exists already in specified group, schema is
   * created at latest version + 1.
   *
   * @param groupName Schema group under which schema should be registered.  Group's serialization type
   *                  should match the serialization type specified in the request.
   * @param schemaName Name of schema.
   * @param contentType Content type of the schema.
   * @param schemaContent String representation (UTF-8) of the schema being registered.
   * @param options The options parameters.
   */
  register(
    groupName: string,
    schemaName: string,
    contentType: string,
    schemaContent: coreRestPipeline.RequestBodyType,
    options?: SchemaRegisterOptionalParams
  ): Promise<SchemaRegisterResponse> {
    return this.client.sendOperationRequest(
      { groupName, schemaName, contentType, schemaContent, options },
      registerOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getByIdOperationSpec: coreClient.OperationSpec = {
  path: "/$schemaGroups/$schemas/{id}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: { name: "Stream" },
        serializedName: "parsedResponse"
      },
      headersMapper: Mappers.SchemaGetByIdHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
      headersMapper: Mappers.SchemaGetByIdExceptionHeaders
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.id],
  headerParameters: [Parameters.accept1],
  serializer
};
const getVersionsOperationSpec: coreClient.OperationSpec = {
  path: "/$schemaGroups/{groupName}/schemas/{schemaName}/versions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SchemaVersions
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
      headersMapper: Mappers.SchemaGetVersionsExceptionHeaders
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.groupName,
    Parameters.schemaName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const queryIdByContentOperationSpec: coreClient.OperationSpec = {
  path: "/$schemaGroups/{groupName}/schemas/{schemaName}:get-id",
  httpMethod: "POST",
  responses: {
    204: {
      headersMapper: Mappers.SchemaQueryIdByContentHeaders
    },
    415: {
      bodyMapper: Mappers.ErrorModel,
      headersMapper: Mappers.SchemaQueryIdByContentExceptionHeaders,
      isError: true
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
      headersMapper: Mappers.SchemaQueryIdByContentExceptionHeaders
    }
  },
  requestBody: Parameters.schemaContent,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.groupName,
    Parameters.schemaName
  ],
  headerParameters: [Parameters.accept2, Parameters.contentType],
  mediaType: "binary",
  serializer
};
const registerOperationSpec: coreClient.OperationSpec = {
  path: "/$schemaGroups/{groupName}/schemas/{schemaName}",
  httpMethod: "PUT",
  responses: {
    204: {
      headersMapper: Mappers.SchemaRegisterHeaders
    },
    415: {
      bodyMapper: Mappers.ErrorModel,
      headersMapper: Mappers.SchemaRegisterExceptionHeaders,
      isError: true
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
      headersMapper: Mappers.SchemaRegisterExceptionHeaders
    }
  },
  requestBody: Parameters.schemaContent,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.groupName,
    Parameters.schemaName
  ],
  headerParameters: [Parameters.accept2, Parameters.contentType],
  mediaType: "binary",
  serializer
};
