/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
import { tracingClient } from "../tracing.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
/** Class containing TeamsExtensionToken operations. */
export class TeamsExtensionTokenImpl {
    /**
     * Initialize a new instance of the class TeamsExtensionToken class.
     * @param client Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Exchanges a Teams Phone token for an ACS user access token.
     * @param body Request payload for the token exchange.
     * @param options The options parameters.
     */
    async exchange(body, options) {
        return tracingClient.withSpan("IdentityRestClient.exchange", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ body, options }, exchangeOperationSpec);
        });
    }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const exchangeOperationSpec = {
    path: "/access/teamsExtension/:exchangeAccessToken",
    httpMethod: "POST",
    responses: {
        200: {
            bodyMapper: Mappers.CommunicationIdentityAccessTokenResult,
        },
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
        },
    },
    requestBody: Parameters.body3,
    queryParameters: [Parameters.apiVersion],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.contentType, Parameters.accept],
    mediaType: "json",
    serializer,
};
//# sourceMappingURL=teamsExtensionToken.js.map