{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container1167520844649103516?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E49381DDF8\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:40:46 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container1167520844649103516/blobname1167520844655702813?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-tags": "key167520844655708481=val1167520844655704887\u0026key2167520844655700867=default",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4938C42C3\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:40:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:40:46.5926851Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/?comp=blobs\u0026where=key167520844655708481%3D%27val1167520844655704887%27\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.blob.core.windows.net/\u0022\u003E\u003CWhere\u003Ekey167520844655708481=\u0026apos;val1167520844655704887\u0026apos;\u003C/Where\u003E\u003CBlobs\u003E\u003CBlob\u003E\u003CName\u003Eblobname1167520844655702813\u003C/Name\u003E\u003CContainerName\u003Econtainer1167520844649103516\u003C/ContainerName\u003E\u003CTags\u003E\u003CTagSet\u003E\u003CTag\u003E\u003CKey\u003Ekey167520844655708481\u003C/Key\u003E\u003CValue\u003Eval1167520844655704887\u003C/Value\u003E\u003C/Tag\u003E\u003C/TagSet\u003E\u003C/Tags\u003E\u003C/Blob\u003E\u003C/Blobs\u003E\u003CNextMarker/\u003E\u003C/EnumerationResults\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/?maxresults=1\u0026comp=blobs\u0026where=key2167520844655700867%3D%27default%27\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/?marker=2!308!MDAwMDQ1IWNvbnRhaW5lcjExNjc1MjA4NDQ2NDkxMDM1MTYBMDFEOTM1Q0Q3MTBCNjFCMSEwMDAwMjchYmxvYm5hbWUyMTY3NTIwODQ0NjY2NDA5MTYzITAwMDAxNSEIAAAABwAAAGRlZmF1bHQhMDAwMDAxITAhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVohMDAwMDM2IWZjYWZjODk1LTE2YjQtNGVjZi1hYmY2LTQ2MTM5ZjU0MjViNiEwMDAwMjIha2V5MjE2NzUyMDg0NDY1NTcwMDg2NyE-\u0026maxresults=1\u0026comp=blobs\u0026where=key2167520844655700867%3D%27default%27\u0026",
      "Re[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/?marker=2!308!MDAwMDQ1IWNvbnRhaW5lcjExNjc1MjA4NDQ2NDkxMDM1MTYBMDFEOTM1Q0Q3MTBCNjFCMSEwMDAwMjchYmxvYm5hbWUzMTY3NTIwODQ0NjczMTA1MzE2ITAwMDAxNSEIAAAABwAAAGRlZmF1bHQhMDAwMDAxITAhMDAwMDI4ITk5OTktMTItMzFUMjM6NTk6NTkuOTk5OTk5OVohMDAwMDM2ITU0NTE5NmNlLWIxNjktNDY0Zi1iMzdmLWY1YTcyOGVmYTAwZiEwMDAwMjIha2V5MjE2NzUyMDg0NDY1NTcwMDg2NyE-\u0026maxresults=1\u0026comp=blobs\u0026where=key2167520844655700867%3D%27default%27\u0026",
      "Re[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/?comp=blobs\u0026where=%40container%3D%27container1167520844649103516%27%20AND%20key167520844655708481%3D%27val1167520844655704887%27%20AND%20key2167520844655700867%3D%27default%27\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container1167520844649103516?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blobname1": "blobname1167520844655702813",
    "blobname2": "blobname2167520844666409163",
    "blobname3": "blobname3167520844673105316",
    "container1": "container1167520844649103516",
    "key": "key167520844655708481",
    "key2": "key2167520844655700867",
    "val1": "val1167520844655704887",
    "val2": "val2167520844666402868",
    "val3": "val3167520844673101752"
  }
}
