{
  "Entries": [
    {
      "RequestUri": "https://fakesdaccount.file.core.windows.net/share168624975246807159?restype=share\u0026comp=undelete",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 08 Jun 2023 18:42:32 GMT",
        "x-ms-deleted-share-name": "share168624975246807159",
        "x-ms-deleted-share-version": "01D60F8BB59A4652",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ShareNotFound",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EShareNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified share does not exist.\n",
        "RequestId:27ddd076-c01a-000f-3f38-9a8e8c000000\n",
        "Time:2023-06-08T18:42:32.5099693Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "share": "share168624975246807159"
  }
}
