/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { GuestConfigurationConnectedVMwarevSphereAssignments } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { GuestConfigurationClient } from "../guestConfigurationClient";
import {
  GuestConfigurationAssignment,
  GuestConfigurationConnectedVMwarevSphereAssignmentsListOptionalParams,
  GuestConfigurationConnectedVMwarevSphereAssignmentsListResponse,
  GuestConfigurationConnectedVMwarevSphereAssignmentsCreateOrUpdateOptionalParams,
  GuestConfigurationConnectedVMwarevSphereAssignmentsCreateOrUpdateResponse,
  GuestConfigurationConnectedVMwarevSphereAssignmentsGetOptionalParams,
  GuestConfigurationConnectedVMwarevSphereAssignmentsGetResponse,
  GuestConfigurationConnectedVMwarevSphereAssignmentsDeleteOptionalParams,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing GuestConfigurationConnectedVMwarevSphereAssignments operations. */
export class GuestConfigurationConnectedVMwarevSphereAssignmentsImpl
  implements GuestConfigurationConnectedVMwarevSphereAssignments
{
  private readonly client: GuestConfigurationClient;

  /**
   * Initialize a new instance of the class GuestConfigurationConnectedVMwarevSphereAssignments class.
   * @param client Reference to the service client
   */
  constructor(client: GuestConfigurationClient) {
    this.client = client;
  }

  /**
   * List all guest configuration assignments for an ARC machine.
   * @param resourceGroupName The resource group name.
   * @param vmName The name of the virtual machine.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    vmName: string,
    options?: GuestConfigurationConnectedVMwarevSphereAssignmentsListOptionalParams,
  ): PagedAsyncIterableIterator<GuestConfigurationAssignment> {
    const iter = this.listPagingAll(resourceGroupName, vmName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          vmName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    vmName: string,
    options?: GuestConfigurationConnectedVMwarevSphereAssignmentsListOptionalParams,
    _settings?: PageSettings,
  ): AsyncIterableIterator<GuestConfigurationAssignment[]> {
    let result: GuestConfigurationConnectedVMwarevSphereAssignmentsListResponse;
    result = await this._list(resourceGroupName, vmName, options);
    yield result.value || [];
  }

  private async *listPagingAll(
    resourceGroupName: string,
    vmName: string,
    options?: GuestConfigurationConnectedVMwarevSphereAssignmentsListOptionalParams,
  ): AsyncIterableIterator<GuestConfigurationAssignment> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      vmName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Creates an association between a Connected VM Sphere machine and guest configuration
   * @param resourceGroupName The resource group name.
   * @param vmName The name of the virtual machine.
   * @param guestConfigurationAssignmentName Name of the guest configuration assignment.
   * @param parameters Parameters supplied to the create or update guest configuration assignment.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    vmName: string,
    guestConfigurationAssignmentName: string,
    parameters: GuestConfigurationAssignment,
    options?: GuestConfigurationConnectedVMwarevSphereAssignmentsCreateOrUpdateOptionalParams,
  ): Promise<GuestConfigurationConnectedVMwarevSphereAssignmentsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        vmName,
        guestConfigurationAssignmentName,
        parameters,
        options,
      },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Get information about a guest configuration assignment
   * @param resourceGroupName The resource group name.
   * @param vmName The name of the virtual machine.
   * @param guestConfigurationAssignmentName The guest configuration assignment name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    vmName: string,
    guestConfigurationAssignmentName: string,
    options?: GuestConfigurationConnectedVMwarevSphereAssignmentsGetOptionalParams,
  ): Promise<GuestConfigurationConnectedVMwarevSphereAssignmentsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmName, guestConfigurationAssignmentName, options },
      getOperationSpec,
    );
  }

  /**
   * Delete a guest configuration assignment
   * @param resourceGroupName The resource group name.
   * @param vmName The name of the virtual machine.
   * @param guestConfigurationAssignmentName Name of the guest configuration assignment
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    vmName: string,
    guestConfigurationAssignmentName: string,
    options?: GuestConfigurationConnectedVMwarevSphereAssignmentsDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmName, guestConfigurationAssignmentName, options },
      deleteOperationSpec,
    );
  }

  /**
   * List all guest configuration assignments for an ARC machine.
   * @param resourceGroupName The resource group name.
   * @param vmName The name of the virtual machine.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    vmName: string,
    options?: GuestConfigurationConnectedVMwarevSphereAssignmentsListOptionalParams,
  ): Promise<GuestConfigurationConnectedVMwarevSphereAssignmentsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmName, options },
      listOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualmachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    201: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmName,
    Parameters.guestConfigurationAssignmentName1,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualmachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmName,
    Parameters.guestConfigurationAssignmentName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualmachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmName,
    Parameters.guestConfigurationAssignmentName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConnectedVMwarevSphere/virtualmachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignmentList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vmName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
