/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AsyncOperationStatus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RedisManagementClient } from "../redisManagementClient";
import {
  AsyncOperationStatusGetOptionalParams,
  AsyncOperationStatusGetResponse
} from "../models";

/** Class containing AsyncOperationStatus operations. */
export class AsyncOperationStatusImpl implements AsyncOperationStatus {
  private readonly client: RedisManagementClient;

  /**
   * Initialize a new instance of the class AsyncOperationStatus class.
   * @param client Reference to the service client
   */
  constructor(client: RedisManagementClient) {
    this.client = client;
  }

  /**
   * For checking the ongoing status of an operation
   * @param location The location at which operation was triggered
   * @param operationId The ID of asynchronous operation
   * @param options The options parameters.
   */
  get(
    location: string,
    operationId: string,
    options?: AsyncOperationStatusGetOptionalParams
  ): Promise<AsyncOperationStatusGetResponse> {
    return this.client.sendOperationRequest(
      { location, operationId, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/locations/{location}/asyncOperations/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationStatus
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
