{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511273920907261?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0305BD85D2C0\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511273920907261/blob167511273928400070",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB0305BD91BD15\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-30T21:05:39.3221909Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511273920907261/blockblob167511273935909301",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "ETag": "\u00220x8DB0305BD9D0617\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-30T21:05:39.3971482Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511273920907261/blob167511273928400070?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-11",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "ETag": "\u00220x8DB0305BDD3C598\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511273920907261/blob167511273928400070",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB0305BDD3C598\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-30T21:05:39.3221909Z"
      },
      "ResponseBody": "SGVsbG8gV29ybGQh"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511273920907261?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:05:39 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167511273928400070",
    "blockblob": "blockblob167511273935909301",
    "container": "container167511273920907261",
    "expiry": "2023-01-30T21:05:39.433Z"
  }
}
