/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ManagedUnsupportedVMSizes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ServiceFabricManagedClustersManagementClient } from "../serviceFabricManagedClustersManagementClient";
import {
  ManagedVMSize,
  ManagedUnsupportedVMSizesListNextOptionalParams,
  ManagedUnsupportedVMSizesListOptionalParams,
  ManagedUnsupportedVMSizesListResponse,
  ManagedUnsupportedVMSizesGetOptionalParams,
  ManagedUnsupportedVMSizesGetResponse,
  ManagedUnsupportedVMSizesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ManagedUnsupportedVMSizes operations. */
export class ManagedUnsupportedVMSizesImpl
  implements ManagedUnsupportedVMSizes
{
  private readonly client: ServiceFabricManagedClustersManagementClient;

  /**
   * Initialize a new instance of the class ManagedUnsupportedVMSizes class.
   * @param client Reference to the service client
   */
  constructor(client: ServiceFabricManagedClustersManagementClient) {
    this.client = client;
  }

  /**
   * Get the lists of unsupported vm sizes for Service Fabric Managed Clusters.
   * @param location The location for the cluster code versions. This is different from cluster location.
   * @param options The options parameters.
   */
  public list(
    location: string,
    options?: ManagedUnsupportedVMSizesListOptionalParams,
  ): PagedAsyncIterableIterator<ManagedVMSize> {
    const iter = this.listPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, options, settings);
      },
    };
  }

  private async *listPagingPage(
    location: string,
    options?: ManagedUnsupportedVMSizesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ManagedVMSize[]> {
    let result: ManagedUnsupportedVMSizesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(location, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    options?: ManagedUnsupportedVMSizesListOptionalParams,
  ): AsyncIterableIterator<ManagedVMSize> {
    for await (const page of this.listPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * Get the lists of unsupported vm sizes for Service Fabric Managed Clusters.
   * @param location The location for the cluster code versions. This is different from cluster location.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    options?: ManagedUnsupportedVMSizesListOptionalParams,
  ): Promise<ManagedUnsupportedVMSizesListResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listOperationSpec,
    );
  }

  /**
   * Get unsupported vm size for Service Fabric Managed Clusters.
   * @param location The location for the cluster code versions. This is different from cluster location.
   * @param vmSize VM Size name.
   * @param options The options parameters.
   */
  get(
    location: string,
    vmSize: string,
    options?: ManagedUnsupportedVMSizesGetOptionalParams,
  ): Promise<ManagedUnsupportedVMSizesGetResponse> {
    return this.client.sendOperationRequest(
      { location, vmSize, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param location The location for the cluster code versions. This is different from cluster location.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    nextLink: string,
    options?: ManagedUnsupportedVMSizesListNextOptionalParams,
  ): Promise<ManagedUnsupportedVMSizesListNextResponse> {
    return this.client.sendOperationRequest(
      { location, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/managedUnsupportedVMSizes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ManagedVMSizesResult,
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/managedUnsupportedVMSizes/{vmSize}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ManagedVMSize,
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.vmSize,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ManagedVMSizesResult,
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
