/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { NodeTypeSkus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ServiceFabricManagedClustersManagementClient } from "../serviceFabricManagedClustersManagementClient";
import {
  NodeTypeAvailableSku,
  NodeTypeSkusListNextOptionalParams,
  NodeTypeSkusListOptionalParams,
  NodeTypeSkusListResponse,
  NodeTypeSkusListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing NodeTypeSkus operations. */
export class NodeTypeSkusImpl implements NodeTypeSkus {
  private readonly client: ServiceFabricManagedClustersManagementClient;

  /**
   * Initialize a new instance of the class NodeTypeSkus class.
   * @param client Reference to the service client
   */
  constructor(client: ServiceFabricManagedClustersManagementClient) {
    this.client = client;
  }

  /**
   * Get a Service Fabric node type supported SKUs.
   * @param resourceGroupName The name of the resource group.
   * @param clusterName The name of the cluster resource.
   * @param nodeTypeName The name of the node type.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    clusterName: string,
    nodeTypeName: string,
    options?: NodeTypeSkusListOptionalParams,
  ): PagedAsyncIterableIterator<NodeTypeAvailableSku> {
    const iter = this.listPagingAll(
      resourceGroupName,
      clusterName,
      nodeTypeName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          clusterName,
          nodeTypeName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    clusterName: string,
    nodeTypeName: string,
    options?: NodeTypeSkusListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<NodeTypeAvailableSku[]> {
    let result: NodeTypeSkusListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        clusterName,
        nodeTypeName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        clusterName,
        nodeTypeName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    clusterName: string,
    nodeTypeName: string,
    options?: NodeTypeSkusListOptionalParams,
  ): AsyncIterableIterator<NodeTypeAvailableSku> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      clusterName,
      nodeTypeName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get a Service Fabric node type supported SKUs.
   * @param resourceGroupName The name of the resource group.
   * @param clusterName The name of the cluster resource.
   * @param nodeTypeName The name of the node type.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    clusterName: string,
    nodeTypeName: string,
    options?: NodeTypeSkusListOptionalParams,
  ): Promise<NodeTypeSkusListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, nodeTypeName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group.
   * @param clusterName The name of the cluster resource.
   * @param nodeTypeName The name of the node type.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    clusterName: string,
    nodeTypeName: string,
    nextLink: string,
    options?: NodeTypeSkusListNextOptionalParams,
  ): Promise<NodeTypeSkusListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, nodeTypeName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}/skus",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NodeTypeListSkuResult,
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName,
    Parameters.nodeTypeName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NodeTypeListSkuResult,
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName,
    Parameters.nextLink,
    Parameters.nodeTypeName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
