{
  "include": ["dist-esm/keyvault-admin/src/**/*.js"],
  "exclude": ["**/*.d.ts"],
  "reporter": ["text-summary", "html", "cobertura"],
  "exclude-after-remap": false,
  "sourceMap": true,
  "instrument": true,
  "all": true
}
