/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ProviderOperationsMetadataOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  ProviderOperationsMetadata,
  ProviderOperationsMetadataListNextOptionalParams,
  ProviderOperationsMetadataListOptionalParams,
  ProviderOperationsMetadataGetOptionalParams,
  ProviderOperationsMetadataGetResponse,
  ProviderOperationsMetadataListResponse,
  ProviderOperationsMetadataListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ProviderOperationsMetadataOperations operations. */
export class ProviderOperationsMetadataOperationsImpl
  implements ProviderOperationsMetadataOperations {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class ProviderOperationsMetadataOperations class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Gets provider operations metadata for all resource providers.
   * @param options The options parameters.
   */
  public list(
    options?: ProviderOperationsMetadataListOptionalParams
  ): PagedAsyncIterableIterator<ProviderOperationsMetadata> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: ProviderOperationsMetadataListOptionalParams
  ): AsyncIterableIterator<ProviderOperationsMetadata[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: ProviderOperationsMetadataListOptionalParams
  ): AsyncIterableIterator<ProviderOperationsMetadata> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets provider operations metadata for the specified resource provider.
   * @param resourceProviderNamespace The namespace of the resource provider.
   * @param options The options parameters.
   */
  get(
    resourceProviderNamespace: string,
    options?: ProviderOperationsMetadataGetOptionalParams
  ): Promise<ProviderOperationsMetadataGetResponse> {
    return this.client.sendOperationRequest(
      { resourceProviderNamespace, options },
      getOperationSpec
    );
  }

  /**
   * Gets provider operations metadata for all resource providers.
   * @param options The options parameters.
   */
  private _list(
    options?: ProviderOperationsMetadataListOptionalParams
  ): Promise<ProviderOperationsMetadataListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: ProviderOperationsMetadataListNextOptionalParams
  ): Promise<ProviderOperationsMetadataListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProviderOperationsMetadata
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand],
  urlParameters: [Parameters.$host, Parameters.resourceProviderNamespace],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Authorization/providerOperations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProviderOperationsMetadataListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProviderOperationsMetadataListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand],
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
