{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGet3Min;139,Microsoft.Compute/HighCostGet30Min;699",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "virtualmachinex",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/virtualmachinex",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "eastus",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "properties": {
              "vmId": "32012b97-65d9-46de-9d8f-492da166d078",
              "hardwareProfile": {
                "vmSize": "Standard_D2_v2"
              },
              "storageProfile": {
                "imageReference": {
                  "publisher": "MicrosoftWindowsServer",
                  "offer": "WindowsServer",
                  "sku": "2016-Datacenter",
                  "version": "latest",
                  "exactVersion": "14393.5501.221105"
                },
                "osDisk": {
                  "osType": "Windows",
                  "name": "myVMosdisk",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS",
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/myVMosdisk"
                  },
                  "deleteOption": "Detach",
                  "diskSizeGB": 127
                },
                "dataDisks": [
                  {
                    "lun": 0,
                    "name": "virtualmachinex_disk2_09a866ad3e52430a84de18aa4d529a8b",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS",
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex_disk2_09a866ad3e52430a84de18aa4d529a8b"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  },
                  {
                    "lun": 1,
                    "name": "virtualmachinex_disk3_54ebaa90f1c14a19a9475cb6a573d38f",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS",
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex_disk3_54ebaa90f1c14a19a9475cb6a573d38f"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  }
                ]
              },
              "osProfile": {
                "computerName": "myVM",
                "adminUsername": "testuser",
                "windowsConfiguration": {
                  "provisionVMAgent": true,
                  "enableAutomaticUpdates": true,
                  "patchSettings": {
                    "patchMode": "AutomaticByOS",
                    "assessmentMode": "ImageDefault"
                  },
                  "enableVMAgentPlatformUpdates": false
                },
                "secrets": [],
                "allowExtensionOperations": true,
                "requireGuestProvisionSignal": true
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/networkInterfaces/interfacex"
                  }
                ]
              },
              "provisioningState": "Succeeded",
              "timeCreated": "2022-12-06T08:20:10.5863345\u002B00:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
