{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.RecoveryServices/vaults?api-version=2022-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "name": "myvaultxxx",
            "etag": "W/\u0022datetime\u00272023-01-31T08%3A18%3A59.0568315Z\u0027\u0022",
            "tags": null,
            "identity": {
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "identityUrl": null,
              "principalId": "54056929-ec59-4d59-9953-de3a6c2048cd",
              "type": "SystemAssigned",
              "userAssignedIdentities": null
            },
            "properties": {
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.RecoveryServices/vaults/myvaultxxx",
            "type": "Microsoft.RecoveryServices/vaults",
            "sku": {
              "name": "Standard",
              "tier": null,
              "size": null,
              "family": null,
              "capacity": null
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
