{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.RecoveryServices/vaults/myvaultxxx/extendedInformation/vaultExtendedInfo?api-version=2022-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "algorithm": "None"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "vaultExtendedInfo",
        "etag": "b1714bf3-7bc3-4103-a01a-1ac53627826c",
        "properties": {
          "algorithm": "None"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.RecoveryServices/vaults/myvaultxxxextendedInformation/vaultExtendedInfo",
        "type": "Microsoft.RecoveryServices/vaults/extendedInformation"
      }
    }
  ],
  "Variables": {}
}
