{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.RecoveryServices/vaults/myvaultxxx?api-version=2022-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {},
        "sku": {
          "name": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "209"
      },
      "ResponseBody": {
        "location": "eastus",
        "name": "myvaultxxx",
        "etag": "W/\u0022datetime\u00272022-07-22T07%3A43%3A19.1658137Z\u0027\u0022",
        "identity": {
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "principalId": "d289cb8d-2e52-41a7-adb6-255bb3d6eed8",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpointStateForBackup": "None",
          "privateEndpointStateForSiteRecovery": "None"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.RecoveryServices/vaults/myvaultxxx",
        "type": "Microsoft.RecoveryServices/vaults",
        "sku": {
          "name": "Standard"
        }
      }
    }
  ],
  "Variables": {}
}
