{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName?api-version=2023-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "eastus",
        "properties": {
          "description": "Example Storage Mover Description"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "NoRegisteredProviderFound",
          "message": "No registered resource provider found for location \u0027eastus\u0027 and API version \u00272023-07-01-preview\u0027 for type \u0027storageMovers\u0027. The supported api-versions are \u00272022-07-01-preview, 2023-03-01\u0027. The supported locations are \u0027eastus, eastus2, westus3, swedencentral\u0027."
        }
      }
    }
  ],
  "Variables": {}
}
