{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageMover/storageMovers?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "8afaa9ba-2483-431a-8922-975fb1849745",
          "2411ecf1-302c-4371-8f70-bb051ecaf90d",
          "a53aa2eb-5498-4e93-a8c0-a09b0ce9d1cc"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName",
            "name": "storageMoverName",
            "type": "microsoft.storagemover/storagemovers",
            "location": "eastus",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-02-07T09:24:45.695118Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-02-07T09:24:45.695118Z"
            },
            "properties": {
              "description": "Example Storage Mover Description",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
