{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/endpoints/testendpoint?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "AzureStorageBlobContainer",
          "description": "Example Storage Container Endpoint Description",
          "storageAccountResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/teststorageaccountxxx1",
          "blobContainerName": "testblob"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205001108-0000-0100-0000-64006c180000\u0022",
        "mise-correlation-id": "e94a0e01-980d-4bb7-a0d7-08a6587ec504",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/endpoints/testendpoint",
        "name": "testendpoint",
        "type": "microsoft.storagemover/storagemovers/endpoints",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-02T09:14:11.414383Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-02T09:27:51.5356016Z"
        },
        "properties": {
          "storageAccountResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/teststorageaccountxxx1",
          "blobContainerName": "testblob",
          "endpointType": "AzureStorageBlobContainer",
          "description": "Example Storage Container Endpoint Description",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/endpoints/testendpoint1?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "NfsMount",
          "host": "testendpoint1",
          "export": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205001208-0000-0100-0000-64006c190000\u0022",
        "mise-correlation-id": "334c5613-5c95-4a93-ac1d-f73b07c0f444",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/endpoints/testendpoint1",
        "name": "testendpoint1",
        "type": "microsoft.storagemover/storagemovers/endpoints",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-02T09:24:22.4587873Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-02T09:27:53.4576295Z"
        },
        "properties": {
          "host": "testendpoint1",
          "nfsVersion": "NFSauto",
          "export": "",
          "endpointType": "NfsMount",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
