{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/endpoints/testendpoint?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "AzureStorageBlobContainer",
          "description": "Example Storage Container Endpoint Description",
          "storageAccountResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/teststorageaccountxxx1",
          "blobContainerName": "testblob"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205006808-0000-0100-0000-6400706d0000\u0022",
        "mise-correlation-id": "47857def-0af7-43e4-b61d-90bd5863ba44",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/endpoints/testendpoint",
        "name": "testendpoint",
        "type": "microsoft.storagemover/storagemovers/endpoints",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-02T09:46:21.4639992Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-02T09:46:21.4639992Z"
        },
        "properties": {
          "storageAccountResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/teststorageaccountxxx1",
          "blobContainerName": "testblob",
          "endpointType": "AzureStorageBlobContainer",
          "description": "Example Storage Container Endpoint Description",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/endpoints/testendpoint1?api-version=2023-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "NfsMount",
          "host": "testendpoint1",
          "export": ""
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205006908-0000-0100-0000-6400706e0000\u0022",
        "mise-correlation-id": "cf0a0361-6f93-4179-be92-53843abdd4ad",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/endpoints/testendpoint1",
        "name": "testendpoint1",
        "type": "microsoft.storagemover/storagemovers/endpoints",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-02T09:46:22.4172142Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-02T09:46:22.4172142Z"
        },
        "properties": {
          "host": "testendpoint1",
          "nfsVersion": "NFSauto",
          "export": "",
          "endpointType": "NfsMount",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
