{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/agents/testagent?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224c007ddf-0000-0100-0000-640055700000\u0022",
        "mise-correlation-id": "26ee1a72-2c63-400e-9edf-d1247fe2b69e",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName/agents/testagent",
        "name": "testagent",
        "type": "microsoft.storagemover/storagemovers/agents",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-02T07:51:11.5643236Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-02T07:51:11.5643236Z"
        },
        "properties": {
          "arcResourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.HybridCompute/machines/testhybridCompute",
          "arcVmUuid": "3bb2c024-eba9-4d18-9e7a-1d772fcc5fe9",
          "agentStatus": "Registering",
          "description": "Example Agent Description",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
