{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageMover/storageMovers?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "4ce33321-fb95-47d2-912f-3ce637b48f9f",
          "d8b59aa0-da5e-4997-85ba-7628cc48dfbe",
          "b802e048-2472-4ab0-a6f5-b142d1bdc48d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageMover/storageMovers/storageMoverName",
            "name": "storageMoverName",
            "type": "microsoft.storagemover/storagemovers",
            "location": "eastus",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-03-02T09:46:15.0259417Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-03-02T09:46:15.0259417Z"
            },
            "properties": {
              "description": "Example Storage Mover Description",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
