# Rename this to .env in order to have React automatically
# pull in all these variables (anything that starts with REACT_APP_ will be
# made available. See the documentation for adding custom environment variables 
# at the following link: https://create-react-app.dev/docs/adding-custom-environment-variables/)

# App Config Endpoint to be obtained from the portal
REACT_APP_APPCONFIG_ENDPOINT=<https://account-name.azconfig.io>

# Used to authenticate using Azure AD as a service principal for role-based authentication.
#
# See the documentation for `InteractiveBrowserCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/interactivebrowsercredential
REACT_APP_AZURE_CLIENT_ID=<client-id>
REACT_APP_AZURE_TENANT_ID=<tenant-id>
