{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays/myrelayxxx?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays/myrelayxxx",
        "name": "myrelayxxx",
        "type": "Microsoft.Relay/Namespaces/WcfRelays",
        "location": "eastus",
        "properties": {
          "createdAt": "2022-07-08T07:39:48.6275824Z",
          "updatedAt": "2022-07-08T07:39:51.6438939Z",
          "listenerCount": 0,
          "requiresClientAuthorization": true,
          "relayType": "NetTcp",
          "requiresTransportSecurity": true,
          "isDynamic": false
        }
      }
    }
  ],
  "Variables": {}
}
