{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx?api-version=2017-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "48"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx",
        "name": "mynamespacexxx",
        "type": "Microsoft.Relay/Namespaces",
        "location": "East US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "properties": {
          "provisioningState": "Updating",
          "metricId": "azure_subscription_id:mynamespacexxx",
          "createdAt": "2022-07-08T07:38:52.287Z",
          "updatedAt": "2022-07-08T07:39:42.407Z",
          "serviceBusEndpoint": "https://mynamespacexxx.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    }
  ],
  "Variables": {}
}
