{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard",
          "tier": "Standard"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx",
        "name": "mynamespacexxx",
        "type": "Microsoft.Relay/Namespaces",
        "location": "East US",
        "tags": {
          "tag1": "value1"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "metricId": "azure_subscription_id:mynamespacexxx",
          "createdAt": "2023-02-01T02:21:10.093Z",
          "updatedAt": "2023-02-01T02:21:54.477Z",
          "serviceBusEndpoint": "https://mynamespacexxx.servicebus.windows.net:443/",
          "status": "Active"
        }
      }
    }
  ],
  "Variables": {}
}
