{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfRelays/myrelayxxx/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.Relay/namespaces/mynamespacexxx/wcfrelays/myrelayxxx/authorizationrules/myauthorizationxxxx",
            "name": "myauthorizationxxxx",
            "type": "Microsoft.Relay/namespaces/wcfrelays/authorizationrules",
            "location": "eastus",
            "properties": {
              "rights": [
                "Listen",
                "Send"
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
