/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { DeviceCapacityInfoOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataBoxEdgeManagementClient } from "../dataBoxEdgeManagementClient";
import {
  DeviceCapacityInfoGetDeviceCapacityInfoOptionalParams,
  DeviceCapacityInfoGetDeviceCapacityInfoResponse
} from "../models";

/** Class containing DeviceCapacityInfoOperations operations. */
export class DeviceCapacityInfoOperationsImpl
  implements DeviceCapacityInfoOperations {
  private readonly client: DataBoxEdgeManagementClient;

  /**
   * Initialize a new instance of the class DeviceCapacityInfoOperations class.
   * @param client Reference to the service client
   */
  constructor(client: DataBoxEdgeManagementClient) {
    this.client = client;
  }

  /**
   * Gets the properties of the specified device capacity info.
   * @param resourceGroupName The resource group name.
   * @param deviceName The device name.
   * @param options The options parameters.
   */
  getDeviceCapacityInfo(
    resourceGroupName: string,
    deviceName: string,
    options?: DeviceCapacityInfoGetDeviceCapacityInfoOptionalParams
  ): Promise<DeviceCapacityInfoGetDeviceCapacityInfoResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deviceName, options },
      getDeviceCapacityInfoOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getDeviceCapacityInfoOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/deviceCapacityInfo/default",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DeviceCapacityInfo
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deviceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
