# Used in most samples
EVENTHUB_NAME=<name of a single eventhub>
EVENTHUB_FQDN=<your-eventhubs-namespace>.servicebus.windows.net
EVENTHUB_CONSUMER_GROUP_NAME=<name of a consumer group>
STORAGE_ENDPOINT=<URL for the Blob Storage account>
