{
  "Entries": [
    {
      "RequestUri": "https://testns.servicebus.windows.net/hub_name/messages/?api-version=2020-06",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "apns-priority": "10",
        "apns-push-type": "alert",
        "Authorization": "Sanitized",
        "Content-Type": "application/json;charset=utf-8",
        "ServiceBusNotification-Format": "apple",
        "x-ms-azsdk-telemetry": "class=NotificationHubsServiceClient;method=sendNotification",
        "x-ms-version": "2020-06"
      },
      "RequestBody": {
        "aps": {
          "alert": "Hello"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://azuresdktestns.servicebus.windows.net/hub_name/messages/NH-20221214202418733-10e10df3cf8145ce838ec74b5610a9f6-06?api-version=2020-06",
        "TrackingId": "329bf8b7-3442-4db5-ba56-566e22ac129d"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
