{
  "Entries": [
    {
      "RequestUri": "https://testns.servicebus.windows.net/hub_name/messages/?api-version=2020-06\u0026direct=true",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "apns-priority": "10",
        "apns-push-type": "alert",
        "Authorization": "Sanitized",
        "Content-Type": "application/json;charset=utf-8",
        "ServiceBusNotification-DeviceHandle": "00fc13adff785122b4ad28809a3420982341241421348097878e577c991de8f0",
        "ServiceBusNotification-Format": "apple",
        "x-ms-azsdk-telemetry": "class=NotificationHubsServiceClient;method=sendNotification",
        "x-ms-version": "2020-06"
      },
      "RequestBody": {
        "aps": {
          "alert": "Hello"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://azuresdktestns.servicebus.windows.net/hub_name/messages/NH-20230803155355238-23cfaa9cd29144c8a8e05c08336d5153-07?api-version=2020-06",
        "TrackingId": "bd4cfa67-0e76-4d20-bc68-97eba684f876"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
