{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/translate?to=cs\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "fakeapikey",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022This is a test.\u0022},{\u0022text\u0022:\u0022Esto es una prueba.\u0022},{\u0022text\u0022:\u0022Dies ist ein Test.\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "52",
        "X-MT-System": "Microsoft,Microsoft,Microsoft",
        "X-RequestId": "TRAN.SN1P.E22E.0403T1845.B413EB"
      },
      "ResponseBody": "[{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022en\u0022,\u0022score\u0022:1.0},\u0022translations\u0022:[{\u0022text\u0022:\u0022Tohle je test.\u0022,\u0022to\u0022:\u0022cs\u0022}]},{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022es\u0022,\u0022score\u0022:1.0},\u0022translations\u0022:[{\u0022text\u0022:\u0022Tohle je test.\u0022,\u0022to\u0022:\u0022cs\u0022}]},{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022de\u0022,\u0022score\u0022:1.0},\u0022translations\u0022:[{\u0022text\u0022:\u0022Tohle je test.\u0022,\u0022to\u0022:\u0022cs\u0022}]}]"
    }
  ],
  "Variables": {}
}
