{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableClientTestnode"
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "TableAlreadyExists",
          "message": {
            "lang": "en-US",
            "value": "The table specified already exists.\nRequestId:d5cbe88e-5002-006b-0ca6-222a6f000000\nTime:2022-02-15T19:59:37.2689650Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A\u0027aaa_bbbb2\u0022",
        "RowKey": "\u0022A\u0027aaa_bbbb2"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey=\u0027A\u0027\u0027aaa_bbbb2%22\u0027,RowKey=\u0027%22A\u0027\u0027aaa_bbbb2\u0027)",
        "ETag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A37.285955Z\u0027\u0022",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey=\u0027A\u0027\u0027aaa_bbbb2%22\u0027,RowKey=\u0027%22A\u0027\u0027aaa_bbbb2\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey=\u0027A\u0027\u0027aaa_bbbb2\u0022\u0027,RowKey=\u0027\u0022A\u0027\u0027aaa_bbbb2\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A\u0027aaa_bbbb2\u0022",
        "RowKey": "\u0022A\u0027aaa_bbbb2"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A37.3038114Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey=\u0027A\u0027\u0027aaa_bbbb2\u0022\u0027,RowKey=\u0027\u0022A\u0027\u0027aaa_bbbb2\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A37.3038114Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A37.3038114Z\u0027\u0022",
        "PartitionKey": "A\u0027aaa_bbbb2\u0022",
        "RowKey": "\u0022A\u0027aaa_bbbb2",
        "Timestamp": "2022-02-15T19:59:37.3038114Z"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode(PartitionKey=\u0027A\u0027\u0027aaa_bbbb2\u0022\u0027,RowKey=\u0027\u0022A\u0027\u0027aaa_bbbb2\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "A\u0027aaa_bbbb2\u0022",
        "RowKey": "\u0022A\u0027aaa_bbbb2"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A37.3427907Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestnode()?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestnode",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A37.3427907Z\u0027\u0022",
            "PartitionKey": "A\u0027aaa_bbbb2\u0022",
            "RowKey": "\u0022A\u0027aaa_bbbb2",
            "Timestamp": "2022-02-15T19:59:37.3427907Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A36.6059656Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "0",
            "Timestamp": "2022-02-15T19:59:36.6059656Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A36.6239544Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "1",
            "Timestamp": "2022-02-15T19:59:36.6239544Z",
            "foo": "testEntity"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272022-02-15T19%3A59%3A36.7908598Z\u0027\u0022",
            "PartitionKey": "listEntitiesTest",
            "RowKey": "10",
    [...]
[...]
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables(\u0027tableClientTestnode\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
