/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { PolicyMetadataOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PolicyInsightsClient } from "../policyInsightsClient";
import {
  SlimPolicyMetadata,
  PolicyMetadataListNextOptionalParams,
  PolicyMetadataListOptionalParams,
  PolicyMetadataGetResourceOptionalParams,
  PolicyMetadataGetResourceResponse,
  PolicyMetadataListResponse,
  PolicyMetadataListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PolicyMetadataOperations operations. */
export class PolicyMetadataOperationsImpl implements PolicyMetadataOperations {
  private readonly client: PolicyInsightsClient;

  /**
   * Initialize a new instance of the class PolicyMetadataOperations class.
   * @param client Reference to the service client
   */
  constructor(client: PolicyInsightsClient) {
    this.client = client;
  }

  /**
   * Get a list of the policy metadata resources.
   * @param options The options parameters.
   */
  public list(
    options?: PolicyMetadataListOptionalParams
  ): PagedAsyncIterableIterator<SlimPolicyMetadata> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: PolicyMetadataListOptionalParams
  ): AsyncIterableIterator<SlimPolicyMetadata[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: PolicyMetadataListOptionalParams
  ): AsyncIterableIterator<SlimPolicyMetadata> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get policy metadata resource.
   * @param resourceName The name of the policy metadata resource.
   * @param options The options parameters.
   */
  getResource(
    resourceName: string,
    options?: PolicyMetadataGetResourceOptionalParams
  ): Promise<PolicyMetadataGetResourceResponse> {
    return this.client.sendOperationRequest(
      { resourceName, options },
      getResourceOperationSpec
    );
  }

  /**
   * Get a list of the policy metadata resources.
   * @param options The options parameters.
   */
  private _list(
    options?: PolicyMetadataListOptionalParams
  ): Promise<PolicyMetadataListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: PolicyMetadataListNextOptionalParams
  ): Promise<PolicyMetadataListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getResourceOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.PolicyInsights/policyMetadata/{resourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PolicyMetadata
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated
    }
  },
  queryParameters: [Parameters.apiVersion2],
  urlParameters: [Parameters.$host, Parameters.resourceName],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.PolicyInsights/policyMetadata",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PolicyMetadataCollection
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated
    }
  },
  queryParameters: [Parameters.top, Parameters.apiVersion2],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PolicyMetadataCollection
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated
    }
  },
  queryParameters: [Parameters.top, Parameters.apiVersion2],
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
