/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { PolicyMetadataOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PolicyInsightsClient } from "../policyInsightsClient";
import {
  SlimPolicyMetadata,
  PolicyMetadataListNextOptionalParams,
  PolicyMetadataListOptionalParams,
  PolicyMetadataListResponse,
  PolicyMetadataGetResourceOptionalParams,
  PolicyMetadataGetResourceResponse,
  PolicyMetadataListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PolicyMetadataOperations operations. */
export class PolicyMetadataOperationsImpl implements PolicyMetadataOperations {
  private readonly client: PolicyInsightsClient;

  /**
   * Initialize a new instance of the class PolicyMetadataOperations class.
   * @param client Reference to the service client
   */
  constructor(client: PolicyInsightsClient) {
    this.client = client;
  }

  /**
   * Get a list of the policy metadata resources.
   * @param options The options parameters.
   */
  public list(
    options?: PolicyMetadataListOptionalParams,
  ): PagedAsyncIterableIterator<SlimPolicyMetadata> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: PolicyMetadataListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SlimPolicyMetadata[]> {
    let result: PolicyMetadataListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: PolicyMetadataListOptionalParams,
  ): AsyncIterableIterator<SlimPolicyMetadata> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get policy metadata resource.
   * @param resourceName The name of the policy metadata resource.
   * @param options The options parameters.
   */
  getResource(
    resourceName: string,
    options?: PolicyMetadataGetResourceOptionalParams,
  ): Promise<PolicyMetadataGetResourceResponse> {
    return this.client.sendOperationRequest(
      { resourceName, options },
      getResourceOperationSpec,
    );
  }

  /**
   * Get a list of the policy metadata resources.
   * @param options The options parameters.
   */
  private _list(
    options?: PolicyMetadataListOptionalParams,
  ): Promise<PolicyMetadataListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: PolicyMetadataListNextOptionalParams,
  ): Promise<PolicyMetadataListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getResourceOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.PolicyInsights/policyMetadata/{resourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PolicyMetadata,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [Parameters.$host, Parameters.resourceName],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.PolicyInsights/policyMetadata",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PolicyMetadataCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  queryParameters: [Parameters.top, Parameters.apiVersion1],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PolicyMetadataCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
