{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520862241208168?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4FC5D7A05\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:43:42 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520862241208168/blob167520862248108833?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "AAECAwQFBgcICQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "xWvVSA9uVBPLYqCtlmZhOg==",
        "ETag": "\u00220x8DB03E4FC68A306\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:43:42 GMT",
        "x-ms-content-crc64": "l0UONCoHCSs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:43:42.5199878Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520862241208168/blob167520862248108833?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xWvVSA9uVBPLYqCtlmZhOg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB03E4FC68A306\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:43:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 31 Jan 2023 23:43:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:43:42.5199878Z"
      },
      "ResponseBody": "AAECAwQFBgcICQ=="
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520862241208168?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167520862248108833",
    "container": "container167520862241208168"
  }
}
