{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "298"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Chaos/experiments",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments/exampleExperiment",
            "name": "exampleExperiment",
            "systemData": {
              "createdAt": "2022-09-14T01:31:58.1427439\u002B00:00",
              "lastModifiedAt": "2022-09-14T01:31:58.1427439\u002B00:00",
              "createdByType": "User"
            },
            "location": "eastus",
            "properties": {
              "selectors": [
                {
                  "type": "List",
                  "id": "f15dd483-3281-4e95-bcbe-cbf535d0de98",
                  "targets": [
                    {
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aa",
                      "type": "ChaosTarget"
                    }
                  ]
                }
              ],
              "steps": [
                {
                  "name": "step1",
                  "branches": [
                    {
                      "name": "branch1",
                      "actions": [
                        {
                          "type": "continuous",
                          "selectorId": "f15dd483-3281-4e95-bcbe-cbf535d0de98",
                          "duration": "PT10M",
                          "parameters": [
                            {
                              "key": "readRegion",
                              "value": "East US"
                            }
                          ],
                          "name": "urn:csci:microsoft:cosmosDB:failover/1.0"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          }
        ],
        "nextLink": ""
      }
    }
  ],
  "Variables": {}
}
