{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments/exampleExperiment?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "steps": [
            {
              "name": "step1",
              "branches": [
                {
                  "name": "branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "name": "urn:csci:microsoft:cosmosDB:failover/1.0",
                      "duration": "PT10M",
                      "parameters": [
                        {
                          "key": "readRegion",
                          "value": "East US"
                        }
                      ],
                      "selectorId": "f15dd483-3281-4e95-bcbe-cbf535d0de98"
                    }
                  ]
                }
              ]
            }
          ],
          "selectors": [
            {
              "type": "List",
              "id": "f15dd483-3281-4e95-bcbe-cbf535d0de98",
              "targets": [
                {
                  "type": "ChaosTarget",
                  "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aa"
                }
              ]
            }
          ]
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "NoRegisteredProviderFound",
          "message": "No registered resource provider found for location \u0027eastus\u0027 and API version \u00272022-10-01-preview\u0027 for type \u0027experiments\u0027. The supported api-versions are \u00272021-09-15-preview, 2022-07-01-preview\u0027. The supported locations are \u0027westcentralus, eastus, westus, centralus, uksouth, westeurope, japaneast, northcentralus, eastus2\u0027."
        }
      }
    }
  ],
  "Variables": {}
}
