{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aa/providers/Microsoft.Chaos/targets/Microsoft-CosmosDB?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022af05d915-0000-0100-0000-63212f070000\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "599"
      },
      "ResponseBody": {
        "location": "eastus",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aa/providers/Microsoft.Chaos/targets/Microsoft-CosmosDB",
        "name": "Microsoft-CosmosDB",
        "systemData": {
          "createdAt": "2022-09-14T01:31:51.9485798\u002B00:00",
          "lastModifiedAt": "2022-09-14T01:31:51.9485798\u002B00:00",
          "createdByType": "User"
        },
        "type": "Microsoft.Chaos/targets",
        "properties": {}
      }
    }
  ],
  "Variables": {}
}
