/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { NetworkSecurityPerimeterAssociableResourceTypes } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { NetworkManagementClient } from "../networkManagementClient.js";
import {
  PerimeterAssociableResource,
  NetworkSecurityPerimeterAssociableResourceTypesListNextOptionalParams,
  NetworkSecurityPerimeterAssociableResourceTypesListOptionalParams,
  NetworkSecurityPerimeterAssociableResourceTypesListResponse,
  NetworkSecurityPerimeterAssociableResourceTypesListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing NetworkSecurityPerimeterAssociableResourceTypes operations. */
export class NetworkSecurityPerimeterAssociableResourceTypesImpl
  implements NetworkSecurityPerimeterAssociableResourceTypes
{
  private readonly client: NetworkManagementClient;

  /**
   * Initialize a new instance of the class NetworkSecurityPerimeterAssociableResourceTypes class.
   * @param client Reference to the service client
   */
  constructor(client: NetworkManagementClient) {
    this.client = client;
  }

  /**
   * Gets the list of resources that are onboarded with NSP. These resources can be associated with a
   * network security perimeter
   * @param location The location of network security perimeter.
   * @param options The options parameters.
   */
  public list(
    location: string,
    options?: NetworkSecurityPerimeterAssociableResourceTypesListOptionalParams,
  ): PagedAsyncIterableIterator<PerimeterAssociableResource> {
    const iter = this.listPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, options, settings);
      },
    };
  }

  private async *listPagingPage(
    location: string,
    options?: NetworkSecurityPerimeterAssociableResourceTypesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<PerimeterAssociableResource[]> {
    let result: NetworkSecurityPerimeterAssociableResourceTypesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(location, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    options?: NetworkSecurityPerimeterAssociableResourceTypesListOptionalParams,
  ): AsyncIterableIterator<PerimeterAssociableResource> {
    for await (const page of this.listPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * Gets the list of resources that are onboarded with NSP. These resources can be associated with a
   * network security perimeter
   * @param location The location of network security perimeter.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    options?: NetworkSecurityPerimeterAssociableResourceTypesListOptionalParams,
  ): Promise<NetworkSecurityPerimeterAssociableResourceTypesListResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param location The location of network security perimeter.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    nextLink: string,
    options?: NetworkSecurityPerimeterAssociableResourceTypesListNextOptionalParams,
  ): Promise<NetworkSecurityPerimeterAssociableResourceTypesListNextResponse> {
    return this.client.sendOperationRequest(
      { location, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/perimeterAssociableResourceTypes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PerimeterAssociableResourcesListResult,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PerimeterAssociableResourcesListResult,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
