/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { NetworkSecurityPerimeterOperationStatuses } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { NetworkManagementClient } from "../networkManagementClient.js";
import {
  NetworkSecurityPerimeterOperationStatusesGetOptionalParams,
  NetworkSecurityPerimeterOperationStatusesGetResponse,
} from "../models/index.js";

/** Class containing NetworkSecurityPerimeterOperationStatuses operations. */
export class NetworkSecurityPerimeterOperationStatusesImpl
  implements NetworkSecurityPerimeterOperationStatuses
{
  private readonly client: NetworkManagementClient;

  /**
   * Initialize a new instance of the class NetworkSecurityPerimeterOperationStatuses class.
   * @param client Reference to the service client
   */
  constructor(client: NetworkManagementClient) {
    this.client = client;
  }

  /**
   * Gets the operation status for the given operation id.
   * @param location The location of network security perimeter.
   * @param operationId The operation id of the async operation.
   * @param options The options parameters.
   */
  get(
    location: string,
    operationId: string,
    options?: NetworkSecurityPerimeterOperationStatusesGetOptionalParams,
  ): Promise<NetworkSecurityPerimeterOperationStatusesGetResponse> {
    return this.client.sendOperationRequest(
      { location, operationId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/networkSecurityPerimeterOperationStatuses/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationStatusResult,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
