/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { ExtensionMetadataV2 } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { HybridComputeManagementClient } from "../hybridComputeManagementClient.js";
import {
  ExtensionValueV2,
  ExtensionMetadataV2ListNextOptionalParams,
  ExtensionMetadataV2ListOptionalParams,
  ExtensionMetadataV2ListResponse,
  ExtensionMetadataV2GetOptionalParams,
  ExtensionMetadataV2GetResponse,
  ExtensionMetadataV2ListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing ExtensionMetadataV2 operations. */
export class ExtensionMetadataV2Impl implements ExtensionMetadataV2 {
  private readonly client: HybridComputeManagementClient;

  /**
   * Initialize a new instance of the class ExtensionMetadataV2 class.
   * @param client Reference to the service client
   */
  constructor(client: HybridComputeManagementClient) {
    this.client = client;
  }

  /**
   * Gets all Extension versions based on location, publisher, extensionType
   * @param location The name of Azure region.
   * @param publisher The publisher of the Extension being received.
   * @param extensionType The extensionType of the Extension being received.
   * @param options The options parameters.
   */
  public list(
    location: string,
    publisher: string,
    extensionType: string,
    options?: ExtensionMetadataV2ListOptionalParams,
  ): PagedAsyncIterableIterator<ExtensionValueV2> {
    const iter = this.listPagingAll(
      location,
      publisher,
      extensionType,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          location,
          publisher,
          extensionType,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    location: string,
    publisher: string,
    extensionType: string,
    options?: ExtensionMetadataV2ListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ExtensionValueV2[]> {
    let result: ExtensionMetadataV2ListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, publisher, extensionType, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        location,
        publisher,
        extensionType,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    publisher: string,
    extensionType: string,
    options?: ExtensionMetadataV2ListOptionalParams,
  ): AsyncIterableIterator<ExtensionValueV2> {
    for await (const page of this.listPagingPage(
      location,
      publisher,
      extensionType,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets an Extension Metadata based on location, publisher, extensionType and version
   * @param location The name of Azure region.
   * @param publisher The publisher of the Extension being received.
   * @param extensionType The extensionType of the Extension being received.
   * @param version The version of the Extension being received.
   * @param options The options parameters.
   */
  get(
    location: string,
    publisher: string,
    extensionType: string,
    version: string,
    options?: ExtensionMetadataV2GetOptionalParams,
  ): Promise<ExtensionMetadataV2GetResponse> {
    return this.client.sendOperationRequest(
      { location, publisher, extensionType, version, options },
      getOperationSpec,
    );
  }

  /**
   * Gets all Extension versions based on location, publisher, extensionType
   * @param location The name of Azure region.
   * @param publisher The publisher of the Extension being received.
   * @param extensionType The extensionType of the Extension being received.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    publisher: string,
    extensionType: string,
    options?: ExtensionMetadataV2ListOptionalParams,
  ): Promise<ExtensionMetadataV2ListResponse> {
    return this.client.sendOperationRequest(
      { location, publisher, extensionType, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param location The name of Azure region.
   * @param publisher The publisher of the Extension being received.
   * @param extensionType The extensionType of the Extension being received.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    publisher: string,
    extensionType: string,
    nextLink: string,
    options?: ExtensionMetadataV2ListNextOptionalParams,
  ): Promise<ExtensionMetadataV2ListNextResponse> {
    return this.client.sendOperationRequest(
      { location, publisher, extensionType, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes/{extensionType}/versions/{version}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtensionValueV2,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.publisher,
    Parameters.extensionType,
    Parameters.version,
    Parameters.location1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes/{extensionType}/versions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtensionValueListResultV2,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.publisher,
    Parameters.extensionType,
    Parameters.location1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtensionValueListResultV2,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.publisher,
    Parameters.extensionType,
    Parameters.location1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
