/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { ExtensionTypeOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { HybridComputeManagementClient } from "../hybridComputeManagementClient.js";
import {
  ExtensionType,
  ExtensionTypeListNextOptionalParams,
  ExtensionTypeListOptionalParams,
  ExtensionTypeListResponse,
  ExtensionTypeListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing ExtensionTypeOperations operations. */
export class ExtensionTypeOperationsImpl implements ExtensionTypeOperations {
  private readonly client: HybridComputeManagementClient;

  /**
   * Initialize a new instance of the class ExtensionTypeOperations class.
   * @param client Reference to the service client
   */
  constructor(client: HybridComputeManagementClient) {
    this.client = client;
  }

  /**
   * Gets all Extension types based on location and publisher
   * @param location The name of Azure region.
   * @param publisher The publisher of the Extension being received.
   * @param options The options parameters.
   */
  public list(
    location: string,
    publisher: string,
    options?: ExtensionTypeListOptionalParams,
  ): PagedAsyncIterableIterator<ExtensionType> {
    const iter = this.listPagingAll(location, publisher, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, publisher, options, settings);
      },
    };
  }

  private async *listPagingPage(
    location: string,
    publisher: string,
    options?: ExtensionTypeListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ExtensionType[]> {
    let result: ExtensionTypeListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, publisher, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        location,
        publisher,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    publisher: string,
    options?: ExtensionTypeListOptionalParams,
  ): AsyncIterableIterator<ExtensionType> {
    for await (const page of this.listPagingPage(
      location,
      publisher,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets all Extension types based on location and publisher
   * @param location The name of Azure region.
   * @param publisher The publisher of the Extension being received.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    publisher: string,
    options?: ExtensionTypeListOptionalParams,
  ): Promise<ExtensionTypeListResponse> {
    return this.client.sendOperationRequest(
      { location, publisher, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param location The name of Azure region.
   * @param publisher The publisher of the Extension being received.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    publisher: string,
    nextLink: string,
    options?: ExtensionTypeListNextOptionalParams,
  ): Promise<ExtensionTypeListNextResponse> {
    return this.client.sendOperationRequest(
      { location, publisher, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtensionTypeListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.publisher, Parameters.location1],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtensionTypeListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.publisher,
    Parameters.location1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
