/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { NetworkProfileOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HybridComputeManagementClient } from "../hybridComputeManagementClient";
import {
  NetworkProfileGetOptionalParams,
  NetworkProfileGetResponse,
} from "../models";

/** Class containing NetworkProfileOperations operations. */
export class NetworkProfileOperationsImpl implements NetworkProfileOperations {
  private readonly client: HybridComputeManagementClient;

  /**
   * Initialize a new instance of the class NetworkProfileOperations class.
   * @param client Reference to the service client
   */
  constructor(client: HybridComputeManagementClient) {
    this.client = client;
  }

  /**
   * The operation to get network information of hybrid machine
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param machineName The name of the hybrid machine.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    machineName: string,
    options?: NetworkProfileGetOptionalParams,
  ): Promise<NetworkProfileGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, machineName, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/networkProfile",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NetworkProfile,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
