ACCOUNT_CONNECTION_STRING=
SAS_CONNECTION_STRING=
ACCOUNT_NAME=
ACCOUNT_KEY=
ACCOUNT_URL=
ACCOUNT_SAS=
TABLES_URL=
SAS_TOKEN=
COSMOS_CONNECTION_STRING=
COSMOS_PRIMARY_LOCATION=
COSMOS_SECONDARY_LOCATION=
