# Retrieve the following values from your app registration in the Azure Portal.

AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""

# Retrieve the following values from azure monitor resource in the Azure Portal.

LOGS_INGESTION_ENDPOINT=""
DATA_COLLECTION_RULE_ID=""
STREAM_NAME=""
