/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { createSpan } from "../tracing";
import { Monitoring } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as coreTracing from "@azure/core-tracing";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MonitoringClientContext } from "../monitoringClientContext";
import {
  MonitoringGetSparkJobListOptionalParams,
  MonitoringGetSparkJobListResponse,
  MonitoringGetSqlJobQueryStringOptionalParams,
  MonitoringGetSqlJobQueryStringResponse
} from "../models";

/** Class representing a Monitoring. */
export class MonitoringImpl implements Monitoring {
  private readonly client: MonitoringClientContext;

  /**
   * Initialize a new instance of the class Monitoring class.
   * @param client Reference to the service client
   */
  constructor(client: MonitoringClientContext) {
    this.client = client;
  }

  /**
   * Get list of spark applications for the workspace.
   * @param options The options parameters.
   */
  async getSparkJobList(
    options?: MonitoringGetSparkJobListOptionalParams
  ): Promise<MonitoringGetSparkJobListResponse> {
    const { span } = createSpan(
      "MonitoringClient-getSparkJobList",
      options || {}
    );
    try {
      const result = await this.client.sendOperationRequest(
        { options },
        getSparkJobListOperationSpec
      );
      return result as MonitoringGetSparkJobListResponse;
    } catch (error) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }

  /**
   * Get SQL OD/DW Query for the workspace.
   * @param options The options parameters.
   */
  async getSqlJobQueryString(
    options?: MonitoringGetSqlJobQueryStringOptionalParams
  ): Promise<MonitoringGetSqlJobQueryStringResponse> {
    const { span } = createSpan(
      "MonitoringClient-getSqlJobQueryString",
      options || {}
    );
    try {
      const result = await this.client.sendOperationRequest(
        { options },
        getSqlJobQueryStringOperationSpec
      );
      return result as MonitoringGetSqlJobQueryStringResponse;
    } catch (error) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getSparkJobListOperationSpec: coreClient.OperationSpec = {
  path: "/monitoring/workloadTypes/spark/Applications",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SparkJobListViewResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.accept, Parameters.xMsClientRequestId],
  serializer
};
const getSqlJobQueryStringOperationSpec: coreClient.OperationSpec = {
  path: "/monitoring/workloadTypes/sql/querystring",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SqlQueryStringDataModel
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderby,
    Parameters.skip
  ],
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.accept, Parameters.xMsClientRequestId],
  serializer
};
