{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeStorageName.blob.core.windows.net/source-6849518251?sv=Sanitized&se=2024-06-20T16%3A30%3A32Z&sr=c&sp=rwl&sig=Sanitized"
            },
            "targets": [
              {
                "targetUrl": "https://fakeStorageName.blob.core.windows.net/target-3569283574?sv=Sanitized&se=2024-06-20T16%3A30%3A32Z&sr=c&sp=rwl&sig=Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://example.com",
        "x-ms-region": "West US",
        "X-RequestId": "3ee6af6a-7d04-45fd-9162-77c4161ab972"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/0c42f3dd-cb59-44f2-90c6-57c891667903?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"526119FAEA0B9A73C9193590DBC266DD758BCEE346095EB14C7B121B67CE95A5\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "b64e2c45-62d0-4c3f-bd50-7f7098d425aa"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTimeUtc": "2024-06-19T16:30:32.5878365Z",
        "lastActionDateTimeUtc": "2024-06-19T16:30:32.587837Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/0c42f3dd-cb59-44f2-90c6-57c891667903?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"7A780A1DD6CB55A1034DA230EF1109C0A71E485E1643F72C3D022A174DA6D573\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "5f1bbee3-3eb0-46b9-9fbc-9bc0a6fd5f90"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTimeUtc": "2024-06-19T16:30:32.5878365Z",
        "lastActionDateTimeUtc": "2024-06-19T16:30:41.4477697Z",
        "status": "Succeeded",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 1,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 23
        }
      }
    }
  ],
  "Variables": {}
}
