{
  "Entries": [
    {
      "RequestUri": "https://myregistry.azurecr.io/v2/oci-artifact/blobs/uploads/",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://myregistry.azurecr.io/oauth2/token\u0022,service=\u0022myregistry.azurecr.io\u0022,scope=\u0022repository:oci-artifact:pull,push\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "oci-artifact",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "oci-artifact",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://myregistry.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token\u0026service=myregistry.azurecr.io\u0026access_token=SecretPlaceholder",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "refresh_token": "sanitized.eyJleHAiOjg2NDAwMDAwMDAwMDB9.sanitized"
      }
    },
    {
      "RequestUri": "https://myregistry.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=myregistry.azurecr.io\u0026scope=repository%3Aoci-artifact%3Apull%2Cpush\u0026refresh_token=sanitized.eyJleHAiOjg2NDAwMDAwMDAwMDB9.sanitized\u0026grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "access_token": "Sanitized"
      }
    },
    {
      "RequestUri": "https://myregistry.azurecr.io/v2/oci-artifact/blobs/uploads/",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Docker-Upload-Uuid": "0a0033a4-1564-4b25-b90a-e20c9d23be6b",
        "Location": "/v2/oci-artifact/blobs/uploads/0a0033a4-1564-4b25-b90a-e20c9d23be6b?_nouploadcache=false\u0026_state=JiEnTWlPyEMtKyZdSzVM0GyLVhbKuoyB2V-WFqm2UGN7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QiLCJVVUlEIjoiMGEwMDMzYTQtMTU2NC00YjI1LWI5MGEtZTIwYzlkMjNiZTZiIiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDIyLTAzLTE3VDIzOjUwOjMzLjIxODg2MTYwM1oifQ%3D%3D",
        "Range": "0-0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://myregistry.azurecr.io/v2/oci-artifact/blobs/uploads/0a0033a4-1564-4b25-b90a-e20c9d23be6b?_nouploadcache=false\u0026_state=JiEnTWlPyEMtKyZdSzVM0GyLVhbKuoyB2V-WFqm2UGN7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QiLCJVVUlEIjoiMGEwMDMzYTQtMTU2NC00YjI1LWI5MGEtZTIwYzlkMjNiZTZiIiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDIyLTAzLTE3VDIzOjUwOjMzLjIxODg2MTYwM1oifQ%3D%3D",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "//5oAGUAbABsAG8AIAB3AG8AcgBsAGQADQAKAA==",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\u0022https://myregistry.azurecr.io/oauth2/token\u0022,service=\u0022myregistry.azurecr.io\u0022,scope=\u0022repository:oci-artifact:pull,push\u0022"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "oci-artifact",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "oci-artifact",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://myregistry.azurecr.io/v2/oci-artifact/blobs/uploads/0a0033a4-1564-4b25-b90a-e20c9d23be6b?_nouploadcache=false\u0026_state=IhTuYX-pyfrjHF7bSDgBI9PgkSmj1OmGpTw_Au06KNB7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QiLCJVVUlEIjoiMGEwMDMzYTQtMTU2NC00YjI1LWI5MGEtZTIwYzlkMjNiZTZiIiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDIyLTAzLTE3VDIzOjUwOjMzWiJ9\u0026digest=sha256%3A654b93f61054e4ce90ed203bb8d556a6200d5f906cf3eca0620738d6dc18cbed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
  [...]
[...]
    {
      "RequestUri": "https://myregistry.azurecr.io/v2/oci-artifact/blobs/uploads/0a0033a4-1564-4b25-b90a-e20c9d23be6b?_nouploadcache=false\u0026_state=IhTuYX-pyfrjHF7bSDgBI9PgkSmj1OmGpTw_Au06KNB7Ik5hbWUiOiJvY2ktYXJ0aWZhY3QiLCJVVUlEIjoiMGEwMDMzYTQtMTU2NC00YjI1LWI5MGEtZTIwYzlkMjNiZTZiIiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDIyLTAzLTE3VDIzOjUwOjMzWiJ9\u0026digest=sha256%3A654b93f61054e4ce90ed203bb8d556a6200d5f906cf3eca0620738d6dc18cbed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "DIGEST_INVALID",
            "message": "provided digest did not match uploaded content",
            "detail": {
              "Digest": "sha256:654b93f61054e4ce90ed203bb8d556a6200d5f906cf3eca0620738d6dc18cbed",
              "Reason": {}
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
