{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?query=47.620659,-122.348934:47.610101,-122.342015\u0026routeType=eco\u0026travelMode=bicycle\u0026traffic=false"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://atlas.microsoft.com/route/directions/batch/a80d7825-b8e9-474b-9e7b-828bb26cce00?api-version=1.0",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": "\u0022\u0022"
    },
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/batch/a80d7825-b8e9-474b-9e7b-828bb26cce00?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "formatVersion": "0.0.12",
              "routes": [
                {
                  "summary": {
                    "lengthInMeters": 1754,
                    "travelTimeInSeconds": 396,
                    "trafficDelayInSeconds": 0,
                    "departureTime": "2022-07-26T13:38:40\u002B00:00",
                    "arrivalTime": "2022-07-26T13:45:15\u002B00:00"
                  },
                  "legs": [
                    {
                      "summary": {
                        "lengthInMeters": 1754,
                        "travelTimeInSeconds": 396,
                        "trafficDelayInSeconds": 0,
                        "departureTime": "2022-07-26T13:38:40\u002B00:00",
                        "arrivalTime": "2022-07-26T13:45:15\u002B00:00"
                      },
                      "points": [
                        {
                          "latitude": 47.62095,
                          "longitude": -122.34892
                        },
                        {
                          "latitude": 47.62094,
                          "longitude": -122.3485
                        },
                        {
                          "latitude": 47.62094,
                          "longitude": -122.34767
                        },
                        {
                          "latitude": 47.62095,
                          "longitude": -122.3476
                        },
          [...]
