{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.CognitiveServices/operations?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.CognitiveServices/register/action",
            "display": {
              "provider": "Microsoft.CognitiveServices",
              "resource": "Subscription",
              "operation": "Subscription Registration Action",
              "description": "Subscription Registration Action"
            },
            "origin": "user,system"
          },
          {
            "name": "Microsoft.CognitiveServices/Operations/read",
            "display": {
              "provider": "Microsoft Cognitive Services",
              "resource": "Cognitive Services Operation",
              "operation": "List Operations",
              "description": "List all available operations"
            },
            "origin": "user,system"
          },
          {
            "name": "Microsoft.CognitiveServices/accounts/read",
    [...]
