{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.CognitiveServices/accounts/myaccountxxx?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "CognitiveServices",
        "sku": {
          "name": "S0"
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002229015a71-0000-0100-0000-62a2e7a70000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.CognitiveServices/accounts/myaccountxxx",
        "name": "myaccountxxx",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u002229015a71-0000-0100-0000-62a2e7a70000\u0022",
        "location": "eastus",
        "sku": {
          "name": "S0"
        },
        "kind": "CognitiveServices",
        "properties": {
          "endpoint": "https://eastus.api.cognitive.microsoft.com/",
          "internalId": "944b07d3acaa4149b8d65757ea6bf5ca",
          "dateCreated": "2022-06-10T06:41:42.5590615Z",
          "apiProperties": {},
          "callRateLimit": {
            "rules": [
              {
                "key": "formrecognizer.custom.train",
                "renewalPeriod": 60,
                "count": 1,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "formrecognizer/custom/train",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "formrecognizer.custom.copymodels",
                "renewalPeriod": 60,
                "count": 1,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "formrecognizer/custom/models/{modelId}/copy",
                    "method": "*"
                  }
                ]
              },
              {
              [...]
