{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.CognitiveServices/accounts/myaccountxxxx?api-version=2022-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00226c00c19a-0000-0100-0000-635f658e0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.CognitiveServices/accounts/myaccountxxxx",
        "name": "myaccountxxxx",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u00226c00c19a-0000-0100-0000-635f658e0000\u0022",
        "location": "eastus",
        "sku": {
          "name": "S0"
        },
        "kind": "CognitiveServices",
        "tags": {
          "tag1": "value1"
        },
        "properties": {
          "endpoint": "https://eastus.api.cognitive.microsoft.com/",
          "provisioningState": "Succeeded",
          "internalId": "3cb04871052e4d5ab914094e2c531a74",
          "dateCreated": "2022-10-31T06:04:54.8563583Z",
          "apiProperties": {},
          "callRateLimit": {
            "rules": [
              {
                "key": "formrecognizer.custom.train",
                "renewalPeriod": 60,
                "count": 1,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "formrecognizer/custom/train",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "formrecognizer.custom.copymodels",
                "renewalPeriod": 60,
                "count": 1,
                "dynamicThrottlingEnabled": false,
                "matchPatterns": [
                  {
                    "path": "formrecognizer/custom/models/{modelId}/copy",
                    "method": "*"
                  }
                ]
              },
              {
              [...]
