{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830662530507724?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB201215FC8169\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:17:05 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830662530507724/file0167830662539706098?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-properties": "keya=YQ==,keyb=Yw==",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB2012160BFDC4\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:17:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830662530507724?maxResults=2\u0026resource=filesystem\u0026recursive=true\u0026upn=true\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-continuation": "VBaKuYb5t6v\u002BpLsBGG0YaC9kbGplZmZpc2hzdG9yYWdlATAxRDk1MTE0REFCMTdBNDcvZmlsZXN5c3RlbTE2NzgzMDY2MjUzMDUwNzcyNAEwMUQ5NTFGQUYzODZCMUIxL2ZpbGUyMTY3ODMwNjYyNTU1MzAyMDM5FgAAAA==",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "0",
            "creationTime": "133227802254441924",
            "etag": "0x8DB2012160BFDC4",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 08 Mar 2023 20:17:05 GMT",
            "name": "file0167830662539706098",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          },
          {
            "contentLength": "0",
            "creationTime": "133227802255193776",
            "etag": "0x8DB2012161776B0",
            "expiryTime": "0",
            "group": "$superuser",
            "lastModified": "Wed, 08 Mar 2023 20:17:05 GMT",
            "name": "file1167830662547901424",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830662530507724?continuation=VBaKuYb5t6v%2BpLsBGG0YaC9kbGplZmZpc2hzdG9yYWdlATAxRDk1MTE0REFCMTdBNDcvZmlsZXN5c3RlbTE2NzgzMDY2MjUzMDUwNzcyNAEwMUQ5NTFGQUYzODZCMUIxL2ZpbGUyMTY3ODMwNjYyNTU1MzAyMDM5FgAAAA%3D%3D\u0026maxResults=2\u0026resource=filesystem\u0026recursive=true\u0026upn=true\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": [...]
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830662530507724/file0167830662539706098?",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830662530507724?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file0": "file0167830662539706098",
    "file1": "file1167830662547901424",
    "file2": "file2167830662555302039",
    "file3": "file3167830662563004192",
    "filesystem": "filesystem167830662530507724"
  }
}
