/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { CustomizationTasks } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DevCenterClient } from "../devCenterClient";
import {
  CustomizationTask,
  CustomizationTasksListByCatalogNextOptionalParams,
  CustomizationTasksListByCatalogOptionalParams,
  CustomizationTasksListByCatalogResponse,
  CustomizationTasksGetOptionalParams,
  CustomizationTasksGetResponse,
  CustomizationTasksGetErrorDetailsOptionalParams,
  CustomizationTasksGetErrorDetailsResponse,
  CustomizationTasksListByCatalogNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing CustomizationTasks operations. */
export class CustomizationTasksImpl implements CustomizationTasks {
  private readonly client: DevCenterClient;

  /**
   * Initialize a new instance of the class CustomizationTasks class.
   * @param client Reference to the service client
   */
  constructor(client: DevCenterClient) {
    this.client = client;
  }

  /**
   * List Tasks in the catalog.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param devCenterName The name of the devcenter.
   * @param catalogName The name of the Catalog.
   * @param options The options parameters.
   */
  public listByCatalog(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    options?: CustomizationTasksListByCatalogOptionalParams
  ): PagedAsyncIterableIterator<CustomizationTask> {
    const iter = this.listByCatalogPagingAll(
      resourceGroupName,
      devCenterName,
      catalogName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByCatalogPagingPage(
          resourceGroupName,
          devCenterName,
          catalogName,
          options,
          settings
        );
      }
    };
  }

  private async *listByCatalogPagingPage(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    options?: CustomizationTasksListByCatalogOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<CustomizationTask[]> {
    let result: CustomizationTasksListByCatalogResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByCatalog(
        resourceGroupName,
        devCenterName,
        catalogName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByCatalogNext(
        resourceGroupName,
        devCenterName,
        catalogName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByCatalogPagingAll(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    options?: CustomizationTasksListByCatalogOptionalParams
  ): AsyncIterableIterator<CustomizationTask> {
    for await (const page of this.listByCatalogPagingPage(
      resourceGroupName,
      devCenterName,
      catalogName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * List Tasks in the catalog.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param devCenterName The name of the devcenter.
   * @param catalogName The name of the Catalog.
   * @param options The options parameters.
   */
  private _listByCatalog(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    options?: CustomizationTasksListByCatalogOptionalParams
  ): Promise<CustomizationTasksListByCatalogResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, devCenterName, catalogName, options },
      listByCatalogOperationSpec
    );
  }

  /**
   * Gets a Task from the catalog
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param devCenterName The name of the devcenter.
   * @param catalogName The name of the Catalog.
   * @param taskName The name of the Task.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    taskName: string,
    options?: CustomizationTasksGetOptionalParams
  ): Promise<CustomizationTasksGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, devCenterName, catalogName, taskName, options },
      getOperationSpec
    );
  }

  /**
   * Gets Customization Task error details
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param devCenterName The name of the devcenter.
   * @param catalogName The name of the Catalog.
   * @param taskName The name of the Task.
   * @param options The options parameters.
   */
  getErrorDetails(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    taskName: string,
    options?: CustomizationTasksGetErrorDetailsOptionalParams
  ): Promise<CustomizationTasksGetErrorDetailsResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, devCenterName, catalogName, taskName, options },
      getErrorDetailsOperationSpec
    );
  }

  /**
   * ListByCatalogNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param devCenterName The name of the devcenter.
   * @param catalogName The name of the Catalog.
   * @param nextLink The nextLink from the previous successful call to the ListByCatalog method.
   * @param options The options parameters.
   */
  private _listByCatalogNext(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    nextLink: string,
    options?: CustomizationTasksListByCatalogNextOptionalParams
  ): Promise<CustomizationTasksListByCatalogNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, devCenterName, catalogName, nextLink, options },
      listByCatalogNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByCatalogOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/tasks",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CustomizationTaskListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.top],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.devCenterName,
    Parameters.catalogName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/tasks/{taskName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CustomizationTask
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.devCenterName,
    Parameters.catalogName,
    Parameters.taskName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getErrorDetailsOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/tasks/{taskName}/getErrorDetails",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CatalogResourceValidationErrorDetails
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.devCenterName,
    Parameters.catalogName,
    Parameters.taskName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByCatalogNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CustomizationTaskListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.devCenterName,
    Parameters.nextLink,
    Parameters.catalogName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
