/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { GitHubConnectorStatsOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { MicrosoftSecurityDevOps } from "../microsoftSecurityDevOps.js";
import {
  GitHubConnectorStatsGetOptionalParams,
  GitHubConnectorStatsGetResponse
} from "../models/index.js";

/** Class containing GitHubConnectorStatsOperations operations. */
export class GitHubConnectorStatsOperationsImpl
  implements GitHubConnectorStatsOperations {
  private readonly client: MicrosoftSecurityDevOps;

  /**
   * Initialize a new instance of the class GitHubConnectorStatsOperations class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftSecurityDevOps) {
    this.client = client;
  }

  /**
   * Returns the summary of the GitHub Connector Stats.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param gitHubConnectorName Name of the GitHub Connector.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    gitHubConnectorName: string,
    options?: GitHubConnectorStatsGetOptionalParams
  ): Promise<GitHubConnectorStatsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, gitHubConnectorName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecurityDevOps/gitHubConnectors/{gitHubConnectorName}/stats",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GitHubConnectorStatsListResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.gitHubConnectorName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
