/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Generate } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { EducationManagementClient } from "../educationManagementClient";
import {
  InviteCodeGenerateRequest,
  GenerateInviteCodeOptionalParams,
  GenerateInviteCodeResponse
} from "../models";

/** Class containing Generate operations. */
export class GenerateImpl implements Generate {
  private readonly client: EducationManagementClient;

  /**
   * Initialize a new instance of the class Generate class.
   * @param client Reference to the service client
   */
  constructor(client: EducationManagementClient) {
    this.client = client;
  }

  /**
   * Generate invite code for a lab
   * @param billingAccountName Billing account name.
   * @param billingProfileName Billing profile name.
   * @param invoiceSectionName Invoice section name.
   * @param parameters Request parameters that are provided to generate invite code.
   * @param options The options parameters.
   */
  inviteCode(
    billingAccountName: string,
    billingProfileName: string,
    invoiceSectionName: string,
    parameters: InviteCodeGenerateRequest,
    options?: GenerateInviteCodeOptionalParams
  ): Promise<GenerateInviteCodeResponse> {
    return this.client.sendOperationRequest(
      {
        billingAccountName,
        billingProfileName,
        invoiceSectionName,
        parameters,
        options
      },
      inviteCodeOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const inviteCodeOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Education/labs/default/generateInviteCode",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.LabDetails
    },
    default: {
      bodyMapper: Mappers.ErrorResponseBody
    }
  },
  requestBody: Parameters.parameters2,
  queryParameters: [
    Parameters.apiVersion,
    Parameters.onlyUpdateStudentCountParameter
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccountName,
    Parameters.billingProfileName,
    Parameters.invoiceSectionName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
