/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { Labs } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { EducationManagementClient } from "../educationManagementClient";
import {
  LabDetails,
  LabsListNextOptionalParams,
  LabsListOptionalParams,
  LabsListResponse,
  LabsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Labs operations. */
export class LabsImpl implements Labs {
  private readonly client: EducationManagementClient;

  /**
   * Initialize a new instance of the class Labs class.
   * @param client Reference to the service client
   */
  constructor(client: EducationManagementClient) {
    this.client = client;
  }

  /**
   * Get a list of labs associated with the provided billing account name and billing profile name.
   * @param billingAccountName Billing account name.
   * @param billingProfileName Billing profile name.
   * @param options The options parameters.
   */
  public list(
    billingAccountName: string,
    billingProfileName: string,
    options?: LabsListOptionalParams
  ): PagedAsyncIterableIterator<LabDetails> {
    const iter = this.listPagingAll(
      billingAccountName,
      billingProfileName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          billingAccountName,
          billingProfileName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    billingAccountName: string,
    billingProfileName: string,
    options?: LabsListOptionalParams
  ): AsyncIterableIterator<LabDetails[]> {
    let result = await this._list(
      billingAccountName,
      billingProfileName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        billingAccountName,
        billingProfileName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    billingAccountName: string,
    billingProfileName: string,
    options?: LabsListOptionalParams
  ): AsyncIterableIterator<LabDetails> {
    for await (const page of this.listPagingPage(
      billingAccountName,
      billingProfileName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Get a list of labs associated with the provided billing account name and billing profile name.
   * @param billingAccountName Billing account name.
   * @param billingProfileName Billing profile name.
   * @param options The options parameters.
   */
  private _list(
    billingAccountName: string,
    billingProfileName: string,
    options?: LabsListOptionalParams
  ): Promise<LabsListResponse> {
    return this.client.sendOperationRequest(
      { billingAccountName, billingProfileName, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param billingAccountName Billing account name.
   * @param billingProfileName Billing profile name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    billingAccountName: string,
    billingProfileName: string,
    nextLink: string,
    options?: LabsListNextOptionalParams
  ): Promise<LabsListNextResponse> {
    return this.client.sendOperationRequest(
      { billingAccountName, billingProfileName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Education/labs",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.LabListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponseBody
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.includeBudget,
    Parameters.includeDeleted
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccountName,
    Parameters.billingProfileName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.LabListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponseBody
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.includeBudget,
    Parameters.includeDeleted
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.billingAccountName,
    Parameters.billingProfileName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
