/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Redeem } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { EducationManagementClient } from "../educationManagementClient";
import { RedeemRequest, RedeemInviteOptionalParams } from "../models";

/** Class containing Redeem operations. */
export class RedeemImpl implements Redeem {
  private readonly client: EducationManagementClient;

  /**
   * Initialize a new instance of the class Redeem class.
   * @param client Reference to the service client
   */
  constructor(client: EducationManagementClient) {
    this.client = client;
  }

  /**
   * Redeem invite code to join a redeemable lab
   * @param parameters Request parameters to provide redeem code.
   * @param options The options parameters.
   */
  invite(
    parameters: RedeemRequest,
    options?: RedeemInviteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { parameters, options },
      inviteOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const inviteOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Education/redeemInvitationCode",
  httpMethod: "POST",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.ErrorResponseBody
    }
  },
  requestBody: Parameters.parameters3,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
