{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/collections/naip-atl-00000000/image/static?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "cql": {
          "op": "and",
          "args": [
            {
              "op": "=",
              "args": [
                {
                  "property": "collection"
                },
                "naip-atl-00000000"
              ]
            },
            {
              "op": "anyinteracts",
              "args": [
                {
                  "property": "datetime"
                },
                {
                  "interval": [
                    "2023-01-01T00:00:00Z",
                    "2023-12-31T00:00:00Z"
                  ]
                }
              ]
            }
          ]
        },
        "zoom": 13,
        "geometry": {
          "type": "Polygon",
          "coordinates": [
            [
              [
                -84.45378097481053,
                33.6567321707079
              ],
              [
                -84.39805886744838,
                33.6567321707079
              ],
              [
                -84.39805886744838,
                33.61945681366625
              ],
              [
                -84.45378097481053,
                33.61945681366625
              ],
              [
                -84.45378097481053,
                33.6567321707079
              ]
            ]
          ]
        },
        "render_params": "assets=image&asset_bidx=image|1,2,3&collection=naip-atl-00000000",
        "cols": 1080,
        "rows": 1080,
        "showBranding": false,
        "imageSize": "1080x1080"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "url": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/collections/naip-atl-00000000/image/static/geocatalog-naip-atl-00000000-1346ff3e06c241ff9a1a45a69b265300.png?api-version=2025-04-30-preview"
      }
    }
  ],
  "Variables": {}
}
