{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/register?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": {
          "op": "and",
          "args": [
            {
              "op": "=",
              "args": [
                {
                  "property": "collection"
                },
                "naip-atl-00000000"
              ]
            },
            {
              "op": ">=",
              "args": [
                {
                  "property": "datetime"
                },
                "2021-01-01T00:00:00Z"
              ]
            },
            {
              "op": "<=",
              "args": [
                {
                  "property": "datetime"
                },
                "2022-12-31T23:59:59Z"
              ]
            }
          ]
        },
        "sortby": [
          {
            "field": "datetime",
            "direction": "desc"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "searchid": "ba13fc7947b9b585690d84ee61aaa653",
        "links": [
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/ba13fc7947b9b585690d84ee61aaa653/info",
            "rel": "metadata",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/ba13fc7947b9b585690d84ee61aaa653/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/ba13fc7947b9b585690d84ee61aaa653/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/ba13fc7947b9b585690d84ee61aaa653/-84.432027519,33.63964764/assets?api-version=2025-04-30-preview&scan_limit=100&items_limit=100&time_limit=30&exitwhenfull=true&00000000-0000-0000-0000-000000000000covered=true&coord-crs=EPSG%3A4326",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[{\"id\":\"fake-item-id_test\",\"bbox\":[-84.44157,33.621853,-84.370894,33.690654],\"assets\":{\"image\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-atl-00000000-bde3e846/08a/fake-item-id_test/image.tif\",\"type\":\"image/tiff; application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"RGBIR COG tile\"}},\"collection\":\"naip-atl-00000000\"},{\"id\":\"fake-item-id_replace_test\",\"bbox\":[-84.44157,33.621853,-84.370894,33.690654],\"assets\":{\"image\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-atl-00000000-bde3e846/230/fake-item-id_replace_test/image.tif\",\"type\":\"image/tiff; application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"RGBIR COG tile\"}},\"collection\":\"naip-atl-00000000\"},{\"id\":\"fake-item-id\",\"bbox\":[-84.44157,33.621853,-84.370894,33.690654],\"assets\":{\"image\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-atl-00000000-bde3e846/234/fake-item-id/image.tif\",\"type\":\"image/tiff; application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"RGBIR COG tile\",\"eo:bands\":[{\"name\":\"Red\",\"common_name\":\"red\"},{\"name\":\"Green\",\"common_name\":\"green\"},{\"name\":\"Blue\",\"common_name\":\"blue\"},{\"name\":\"NIR\",\"common_name\":\"nir\",\"description\":\"near-infrared\"}]},\"tilejson\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-atl-00000000-bde3e846/234/fake-item-id/tilejson.json\",\"type\":\"application/json\",\"roles\":[\"tiles\"],\"title\":\"TileJSON with default rendering\"},\"thumbnail\":{\"href\":\"https://SANITIZED.blob.core.windows.net/naip-atl-00000000-bde3e846/234/fake-item-id/thumbnail.jpg\",\"type\":\"image/jpeg\",\"roles\":[\"thumbnail\"],\"title\":\"Thumbnail\"},\"rendered_preview\":{\"rel\":\"preview\",\"href\":\"https://SANITIZED.blob.core.windows.net/naip-atl-00000000-bde3e846/234/fake-item-id/rendered_preview.png\",\"type\":\"image/png\",\"roles\":[\"overview\"],\"title\":\"Rendered preview\"}},\"collection\":\"naip-atl-00000000\"}]"
    }
  ],
  "Variables": {}
}
