{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511307245808627?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:11:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB030684270B6B\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:11:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511307245808627/srcblob/%252%2B%252F167511307252500248",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-cache-control": "blobCacheControl",
        "x-ms-blob-content-disposition": "blobContentDisposition",
        "x-ms-blob-content-encoding": "blobContentEncoding",
        "x-ms-blob-content-language": "blobContentLanguage",
        "x-ms-blob-content-type": "blobContentType",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Jan 2023 21:11:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DB03068431D097\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:11:12 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-30T21:11:12.5611424Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511307245808627/blockblob167511307252400060",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Jan 2023 21:11:12 GMT",
        "x-ms-source-content-md5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\u00220x8DB030684446B8D\u0022",
        "Last-Modified": "Mon, 30 Jan 2023 21:11:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-30T21:11:12.6820749Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511307245808627/blockblob167511307252400060",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 30 Jan 2023 21:11:12 GMT",
        "x-ms-source-content-md5": "XUFAKrxLKna5cZ2REBfFkg==",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Md5Mismatch",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EMd5Mismatch\u003C/Code\u003E\u003CMessage\u003EThe MD5 value specified in the request did not match with the MD5 value calculated by the server.\n",
        "RequestId:e3d6977b-401e-003a-02ef-34d0c9000000\n",
        "Time:2023-01-30T21:11:12.7544086Z\u003C/Message\u003E\u003CUserSpecifiedMd5\u003EXUFAKrxLKna5cZ2REBfFkg==\u003C/UserSpecifiedMd5\u003E\u003CServerCalculatedMd5\u003EsQqNsWTgdUEFt6mb5y4/5Q==\u003C/ServerCalculatedMd5\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167511307245808627?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 30 Jan 2023 21:11:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blockblob": "blockblob167511307252400060",
    "container": "container167511307245808627",
    "expiry": "2023-01-30T21:11:12.593Z",
    "srcblob/%2\u002B%2F": "srcblob/%2\u002B%2F167511307252500248"
  }
}
