{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/servers/myserverppp/databases?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "System",
              "tier": "System",
              "capacity": 0
            },
            "kind": "v12.0,system",
            "managedBy": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/servers/myserverppp",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 53687091200,
              "status": "Online",
              "databaseId": "9d2b0e09-f3c7-4737-97e2-5fdfea01ac67",
              "creationDate": "2023-02-24T08:52:09.833Z",
              "currentServiceObjectiveName": "System2",
              "requestedServiceObjectiveName": "System2",
              "defaultSecondaryLocation": "westus",
              "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
              "zoneRedundant": false,
              "readScale": "Disabled",
              "currentSku": {
                "name": "System",
                "tier": "System",
                "capacity": 0
              },
              "currentBackupStorageRedundancy": "Local",
              "requestedBackupStorageRedundancy": "Local",
              "maintenanceConfigurationId": "/subscriptions/azure_subscription_id/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
              "isLedgerOn": false,
              "isInfraEncryptionEnabled": false,
              "availabilityZone": "NoPreference"
            },
            "location": "eastus",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/servers/myserverppp/databases/master",
            "name": "master",
            "type": "Microsoft.Sql/servers/databases"
          },
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "v12.0,user,vcore",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 34359738368,
              "status": "Online",
              "databaseId": "51d1b087-4922-4d24-b80a-6502d2c1f0ec",
              "creationDate": "2023-02-24T08:53:23.897Z",
              "currentServiceObjectiveName": "GP_Gen5_2",
              "requestedServiceObjectiveName": "GP_Gen5_2",
              "defaultSecondaryLocation": "westus",
              "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
              "zoneRedundant": false,
              "licenseType": "LicenseIncluded",
              "maxLogSizeBytes": 193273528320,
              "readScale": "Disabled",
              "currentSku": {
                "name": "GP_Gen5",
                "tier": "GeneralPurpose",
                "family": "Gen5",
                "capacity": 2
              },
              "currentBackupStorageRedundancy": "Geo",
              "requestedBackupStorageRedundancy": "Geo",
              "maintenanceConfigurationId": "/subscriptions/azure_subscription_id/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
              "isLedgerOn": false,
              "isInfraEncryptionEnabled": false,
              "availabilityZone": "NoPreference"
            },
            "location": "eastus",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz",
            "name": "mydatabasezzzz",
            "type": "Microsoft.Sql/servers/databases"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
