{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwTest/providers/Microsoft.Sql/servers/myserverppp/databases?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "GP_Gen5",
              "tier": "GeneralPurpose",
              "family": "Gen5",
              "capacity": 2
            },
            "kind": "v12.0,user,vcore",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 34359738368,
              "status": "Online",
              "databaseId": "04e30703-bfd1-4af3-ae01-4ae9cf96aadc",
              "creationDate": "2023-03-15T09:19:44.6Z",
              "currentServiceObjectiveName": "GP_Gen5_2",
              "requestedServiceObjectiveName": "GP_Gen5_2",
              "defaultSecondaryLocation": "westus",
              "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
              "zoneRedundant": false,
              "licenseType": "LicenseIncluded",
              "maxLogSizeBytes": 193273528320,
              "readScale": "Disabled",
              "currentSku": {
                "name": "GP_Gen5",
                "tier": "GeneralPurpose",
                "family": "Gen5",
                "capacity": 2
              },
              "currentBackupStorageRedundancy": "Geo",
              "requestedBackupStorageRedundancy": "Geo",
              "maintenanceConfigurationId": "/subscriptions/azure_subscription_id/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
              "isLedgerOn": false,
              "isInfraEncryptionEnabled": false,
              "availabilityZone": "NoPreference"
            },
            "location": "eastus",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/czwTest/providers/Microsoft.Sql/servers/myserverppp/databases/mydatabasezzzz",
            "name": "mydatabasezzzz",
            "type": "Microsoft.Sql/servers/databases"
          },
          {
            "sku": {
              "name": "System",
              "tier": "System",
              "capacity": 0
            },
            "kind": "v12.0,system",
            "managedBy": "/subscriptions/azure_subscription_id/resourceGroups/czwTest/providers/Microsoft.Sql/servers/myserverppp",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 53687091200,
              "status": "Online",
              "databaseId": "5b44e84e-0aa6-4c40-8a7b-73ef86647312",
              "creationDate": "2023-03-15T09:18:35.507Z",
              "currentServiceObjectiveName": "System2",
              "requestedServiceObjectiveName":[...]
