{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11998",
        "x-rp-server-mvid": "59b5eb15-14b1-47d7-aa3e-7b6c2904efcd"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "zoneRedundant": false,
          "version": 3,
          "serviceId": "3963e6a0e4ca418f888555acababe0e8",
          "networkProfile": {
            "outboundIPs": {
              "publicIPs": [
                "20.62.220.185"
              ]
            },
            "outboundType": "loadBalancer"
          },
          "powerState": "Running",
          "fqdn": "myservicexxx.azuremicroservices.io"
        },
        "type": "Microsoft.AppPlatform/Spring",
        "sku": {
          "name": "B0",
          "tier": "Basic"
        },
        "location": "east us",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx",
        "name": "myservicexxx",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-11-16T01:48:07.2020778Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-11-16T01:48:07.2020778Z"
        }
      }
    }
  ],
  "Variables": {}
}
