{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12/apps/myappxxx?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "public": true,
          "httpsOnly": false,
          "temporaryDisk": {
            "sizeInGB": 2,
            "mountPath": "/mytemporarydisk"
          },
          "persistentDisk": {
            "sizeInGB": 1,
            "mountPath": "/mypersistentdisk"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myappxxx/operationId/d720ed05-c91d-465e-a220-2d1cd913a19d?api-version=2023-03-01-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationResults/d720ed05-c91d-465e-a220-2d1cd913a19d/Spring/myappxxx?api-version=2023-03-01-preview",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1199",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "properties": {
          "addonConfigs": {
            "applicationConfigurationService": {},
            "serviceRegistry": {}
          },
          "public": true,
          "provisioningState": "Creating",
          "httpsOnly": false,
          "temporaryDisk": {
            "sizeInGB": 2,
            "mountPath": "/mytemporarydisk"
          },
          "persistentDisk": {
            "sizeInGB": 1,
            "mountPath": "/mypersistentdisk"
          },
          "enableEndToEndTLS": false,
          "ingressSettings": {
            "readTimeoutInSeconds": 300,
            "sendTimeoutInSeconds": 60,
            "sessionCookieMaxAge": 0,
            "sessionAffinity": "None",
            "backendProtocol": "Default"
          }
        },
        "type": "Microsoft.AppPlatform/Spring/apps",
        "identity": null,
        "location": "east us",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12/apps/myappxxx",
        "name": "myappxxx",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-28T09:00:31.6709469Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-28T09:00:31.6709469Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myappxxx/operationId/d720ed05-c91d-465e-a220-2d1cd913a19d?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11916",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "id": "subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east us/operationStatus/myappxxx/operationId/d720ed05-c91d-465e-a220-2d1cd913a19d",
        "name": "d720ed05-c91d-465e-a220-2d1cd913a19d",
        "status": "Running",
        "startTime": "2023-03-28T09:00:33.0972002Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myappxxx/operationId/d720ed05-c91d-465e-a220-2d1cd913a19d?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11914",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "id": "subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east us/operationStatus/myappxxx/operationId/d720ed05-c91d-465e-a220-2d1cd913a19d",
        "name": "d720ed05-c91d-465e-a220-2d1cd913a19d",
        "status": "Succeeded",
        "startTime": "2023-03-28T09:00:33.0972002Z",
        "endTime": "2023-03-28T09:00:43.4554149Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12/apps/myappxxx?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "properties": {
          "addonConfigs": {
            "applicationConfigurationService": {},
            "serviceRegistry": {}
          },
          "public": true,
          "url": "https://myservicexxx12-myappxxx.azuremicroservices.io",
          "provisioningState": "Succeeded",
          "fqdn": "myservicexxx12.azuremicroservices.io",
          "httpsOnly": false,
          "temporaryDisk": {
            "sizeInGB": 5,
            "mountPath": "/tmp"
          },
          "persistentDisk": {
            "sizeInGB": 0,
            "mountPath": "/persistent"
          },
          "enableEndToEndTLS": false,
          "ingressSettings": {
            "readTimeoutInSeconds": 300,
            "sendTimeoutInSeconds": 60,
            "sessionCookieMaxAge": 0,
            "sessionAffinity": "None",
            "backendProtocol": "Default"
          }
        },
        "type": "Microsoft.AppPlatform/Spring/apps",
        "identity": null,
        "location": "east us",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12/apps/myappxxx",
        "name": "myappxxx",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-28T09:00:31.6709469Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-28T09:00:31.6709469Z"
        }
      }
    }
  ],
  "Variables": {}
}
