{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx?api-version=2022-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myservicexxx/operationId/788717b1-ce19-4925-9592-7a34371d71f6?api-version=2022-09-01-preview",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationResults/788717b1-ce19-4925-9592-7a34371d71f6/Spring/myservicexxx?api-version=2022-09-01-preview",
        "x-ms-ratelimit-remaining-subscription-deletes": "14992",
        "x-rp-server-mvid": "241ec0d8-d41d-4dce-842c-f5a9d8334be4"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myservicexxx/operationId/788717b1-ce19-4925-9592-7a34371d71f6?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11815",
        "x-rp-server-mvid": "241ec0d8-d41d-4dce-842c-f5a9d8334be4"
      },
      "ResponseBody": {
        "id": "subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/locations/east us/operationStatus/myservicexxx/operationId/788717b1-ce19-4925-9592-7a34371d71f6",
        "name": "788717b1-ce19-4925-9592-7a34371d71f6",
        "status": "Running",
        "startTime": "2022-09-09T09:28:21.4801567Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myservicexxx/operationId/788717b1-ce19-4925-9592-7a34371d71f6?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11812",
        "x-rp-server-mvid": "241ec0d8-d41d-4dce-842c-f5a9d8334be4"
      },
      "ResponseBody": {
        "id": "subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/locations/east us/operationStatus/myservicexxx/operationId/788717b1-ce19-4925-9592-7a34371d71f6",
        "name": "788717b1-ce19-4925-9592-7a34371d71f6",
        "status": "Succeeded",
        "startTime": "2022-09-09T09:28:21.4801567Z",
        "endTime": "2022-09-09T09:28:43.2379347Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/Spring?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11985",
        "x-rp-server-mvid": "241ec0d8-d41d-4dce-842c-f5a9d8334be4"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
