{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx/apps?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11989",
        "x-rp-server-mvid": "241ec0d8-d41d-4dce-842c-f5a9d8334be4"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "addonConfigs": {
                "applicationConfigurationService": {},
                "serviceRegistry": {}
              },
              "public": false,
              "provisioningState": "Succeeded",
              "fqdn": "myservicexxx.azuremicroservices.io",
              "httpsOnly": false,
              "temporaryDisk": {
                "sizeInGB": 5,
                "mountPath": "/tmp"
              },
              "persistentDisk": {
                "sizeInGB": 0,
                "mountPath": "/persistent"
              },
              "enableEndToEndTLS": false
            },
            "type": "Microsoft.AppPlatform/Spring/apps",
            "identity": null,
            "location": "east us",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx/apps/myappxxx",
            "name": "myappxxx",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2022-09-09T09:27:48.2084363Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-09-09T09:27:48.2084363Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
