{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "east us",
        "tags": {
          "key1": "value1"
        },
        "sku": {
          "name": "B0",
          "tier": "Basic"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myservicexxx12/operationId/51bfe799-d8f5-4f20-acc3-d6f37f27a153?api-version=2023-03-01-preview",
        "Content-Type": "application/json",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationResults/51bfe799-d8f5-4f20-acc3-d6f37f27a153/Spring/myservicexxx12?api-version=2023-03-01-preview",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1199",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "zoneRedundant": false,
          "version": 3,
          "serviceId": "ff04fc60b9374b15813aeacc4eee8629",
          "powerState": "Running",
          "fqdn": "myservicexxx12.azuremicroservices.io"
        },
        "type": "Microsoft.AppPlatform/Spring",
        "sku": {
          "name": "B0",
          "tier": "Basic"
        },
        "location": "east us",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12",
        "name": "myservicexxx12",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-28T08:46:02.7807927Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-28T08:46:02.7807927Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myservicexxx12/operationId/51bfe799-d8f5-4f20-acc3-d6f37f27a153?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "id": "subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east us/operationStatus/myservicexxx12/operationId/51bfe799-d8f5-4f20-acc3-d6f37f27a153",
        "name": "51bfe799-d8f5-4f20-acc3-d6f37f27a153",
        "status": "Running",
        "startTime": "2023-03-28T08:46:03.1418701Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east%20us/operationStatus/myservicexxx12/operationId/51bfe799-d8f5-4f20-acc3-d6f37f27a153?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11917",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "id": "subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/locations/east us/operationStatus/myservicexxx12/operationId/51bfe799-d8f5-4f20-acc3-d6f37f27a153",
        "name": "51bfe799-d8f5-4f20-acc3-d6f37f27a153",
        "status": "Succeeded",
        "startTime": "2023-03-28T08:46:03.1418701Z",
        "endTime": "2023-03-28T09:00:18.7938819Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "zoneRedundant": false,
          "version": 3,
          "serviceId": "ff04fc60b9374b15813aeacc4eee8629",
          "networkProfile": {
            "outboundIPs": {
              "publicIPs": [
                "20.121.226.20"
              ]
            },
            "outboundType": "loadBalancer"
          },
          "powerState": "Running",
          "fqdn": "myservicexxx12.azuremicroservices.io"
        },
        "type": "Microsoft.AppPlatform/Spring",
        "sku": {
          "name": "B0",
          "tier": "Basic"
        },
        "location": "east us",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12",
        "name": "myservicexxx12",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-28T08:46:02.7807927Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-28T08:46:02.7807927Z"
        }
      }
    }
  ],
  "Variables": {}
}
