{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx1/apps?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11998",
        "x-rp-server-mvid": "602e8535-9334-4b2f-9945-fcf7db9ba99e"
      },
      "ResponseBody": {
        "error": {
          "code": "NotFound",
          "message": "Service was not found",
          "target": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx1",
          "details": null
        }
      }
    }
  ],
  "Variables": {}
}
