{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12/apps?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11997",
        "x-rp-server-mvid": "2d8cffe0-ed19-4f32-b630-c96199e681e1"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "addonConfigs": {
                "applicationConfigurationService": {},
                "serviceRegistry": {}
              },
              "public": true,
              "url": "https://myservicexxx12-myappxxx.azuremicroservices.io",
              "provisioningState": "Succeeded",
              "fqdn": "myservicexxx12.azuremicroservices.io",
              "httpsOnly": false,
              "temporaryDisk": {
                "sizeInGB": 5,
                "mountPath": "/tmp"
              },
              "persistentDisk": {
                "sizeInGB": 0,
                "mountPath": "/persistent"
              },
              "enableEndToEndTLS": false,
              "ingressSettings": {
                "readTimeoutInSeconds": 300,
                "sendTimeoutInSeconds": 60,
                "sessionCookieMaxAge": 0,
                "sessionAffinity": "None",
                "backendProtocol": "Default"
              }
            },
            "type": "Microsoft.AppPlatform/Spring/apps",
            "identity": null,
            "location": "east us",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.AppPlatform/Spring/myservicexxx12/apps/myappxxx",
            "name": "myappxxx",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-03-28T09:00:31.6709469Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-03-28T09:00:31.6709469Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
