{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/webPubSub/myWebPubSubService1?api-version=2023-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "sku": {
          "name": "Free_F1",
          "tier": "Free",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "tls": {
            "clientCertEnabled": false
          },
          "liveTraceConfiguration": {
            "enabled": "false",
            "categories": [
              {
                "name": "ConnectivityLogs",
                "enabled": "true"
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ]
            }
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/WebPubSub/myWebPubSubService1/operationStatuses/4048c5f9-6141-433d-9229-61231cf3510a?api-version=2023-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/WebPubSub/myWebPubSubService1/operationResults/4048c5f9-6141-433d-9229-61231cf3510a?api-version=2023-02-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "26297d37-2454-45c8-9935-f343e6f992c8"
      },
      "ResponseBody": {
        "sku": {
          "name": "Free_F1",
          "tier": "Free",
          "size": "F1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "mywebpubsubservice1.webpubsub.azure.com",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "mywebpubsubservice1",
          "liveTraceConfiguration": {
            "enabled": "false",
            "categories": [
              {
                "name": "ConnectivityLogs",
                "enabled": "true"
              }
            ]
          },
          "resourceLogConfiguration": null,
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ServerConnection",
                "ClientConnection",
                "RESTAPI",
                "Trace"
              ],
              "deny": null
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "850ab440-9c3a-47ec-95a8-9937ecaf9237",
          "tenantId": "88888888-8888-8888-8888-888888888888"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-09T02:18:03.5557822Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-09T02:18:03.5557822Z"
        },
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/WebPubSub/myWebPubSubService1",
        "name": "myWebPubSubService1",
        "type": "Microsoft.SignalRService/WebPubSub"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/WebPubSub/myWebPubSubService1/operationStatuses/4048c5f9-6141-433d-9229-61231cf3510a?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-rp-server-mvid": "26297d37-2454-45c8-9935-f343e6f992c8"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/WebPubSub/myWebPubSubService1/operationStatuses/4048c5f9-6141-433d-9229-61231cf3510a",
        "name": "4048c5f9-6141-433d-9229-61231cf3510a",
        "status": "Running",
        "startTime": "2023-03-09T02:18:05.6816961Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/WebPubSub/myWebPubSubService1/operationStatuses/4048c5f9-6141-433d-9229-61231cf3510a?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984",
        "x-rp-server-mvid": "26297d37-2454-45c8-9935-f343e6f992c8"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/WebPubSub/myWebPubSubService1/operationStatuses/4048c5f9-6141-433d-9229-61231cf3510a",
        "name": "4048c5f9-6141-433d-9229-61231cf3510a",
        "status": "Succeeded",
        "startTime": "2023-03-09T02:18:05.6816961Z",
        "endTime": "2023-03-09T02:18:45.7336027Z"
      }
    },
[...]
