{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485825240406677?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B53790B1A6\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485825240406677/blob167485825247304471",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "content-type-original",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B5379B29D1\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T22:24:12.5063390Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485825240406677/blob167485825247304471?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B5379B29D1\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2023-01-27T22:24:12.5772998Z",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T22:24:12.5782998Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485825240406677/blob167485825247304471?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-type": "content-type-original1",
        "x-ms-date": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B537B08379\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485825240406677?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:24:12 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167485825247304471",
    "container": "container167485825240406677",
    "now": "2023-01-27T22:24:12.404Z",
    "tmr": "2023-01-27T22:24:12.404Z"
  }
}
