{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830679884004095?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB20127D6BD4F0\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:58 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679884004095/file167830679892502215?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB20127D7EE105\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679884004095/file167830679892502215?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679884004095/file167830679892502215?position=11\u0026action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB20127D9933CF\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:59 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679884004095/tempfile2167830679920902075?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ca761232ed4211cebacd00aa0057b223",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB20127DA557F6\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830679884004095/tempfile2167830679920902075?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB20127DA557F6\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:59 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 08 Mar 2023 20:19:59 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-duration": "fixed",
        "x-ms-lease-state": "leased",
        "x-ms-lease-status": "locked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679884004095/tempfile2167830679920902075?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-lease-action": "auto-renew",
        "x-ms-lease-duration": "15",
        "x-ms-lease-id": "ca761232ed4211cebacd00aa0057b223",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "HelloWorld",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-lease-renewed": "true",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679884004095/tempfile2167830679920902075?position=10\u0026action=append\u0026flush=true",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "HelloWorld",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": {
        "error": {
          "code": "LeaseIdMissing",
          "message": "There is currently a lease on the resource and no lease ID was specified in the request.\nRequestId:3deb7350-d01f-004f-60fb-514c95000000\nTime:2023-03-08T20:20:14.4850638Z"
        }
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679884004095/tempfile2167830679920902075?recursive=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-lease-id": "ca761232ed4211cebacd00aa0057b223",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830679884004095?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file167830679892502215",
    "filesystem": "filesystem167830679884004095",
    "tempfile2": "tempfile2167830679920902075"
  }
}
