{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830679279506041?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB201279D18453\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:52 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679279506041/file167830679288401684?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB201279E01099\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679279506041/file167830679288401684?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830679279506041/file167830679288401684?position=11\u0026action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB201279FC4DA3\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830679279506041/file167830679288401684?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-0",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-0/11",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DB201279FC4DA3\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-content-crc64": "MlSW/U5mnKQ=",
        "x-ms-creation-time": "Wed, 08 Mar 2023 20:19:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "H"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830679279506041/file167830679288401684?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=1-1",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "4WcXl8UuFfdjOAtF6EHsMg==",
        "Content-Range": "bytes 1-1/11",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DB201279FC4DA3\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:19:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 08 Mar 2023 20:19:52 GMT",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "e"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830679279506041/file167830679288401684?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=2-2",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BothCrc64AndMd5RangeHeaderPresent",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBothCrc64AndMd5RangeHeaderPresent\u003C/Code\u003E\u003CMessage\u003EBoth x-ms-range-get-content-crc64 header and x-ms-range-get-content-md5 header are present.\n",
        "RequestId:759b7900-d01e-005f-4ffb-5189fd000000\n",
        "Time:2023-03-08T20:19:53.3258478Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830679279506041?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file167830679288401684",
    "filesystem": "filesystem167830679279506041"
  }
}
