# Used in most samples. Retrieve these values from a Communication Services instance
# in the Azure Portal.
AZURE_COMMUNICATION_SAMPLES_CONNECTION_STRING="endpoint=https://<resource name>.communication.azure.net/;accessKey=<key>"

# The phone number to be retrieved by the getPurchasedPhoneNumber sample 
AZURE_COMMUNICATION_PHONE_NUMBER_TO_GET="+16135550147"

# The phone number to be released by the releasePhoneNumber sample 
AZURE_COMMUNICATION_PHONE_NUMBER_TO_RELEASE="+16135550147"

# The phone number to be updated by the updatePhoneNumberCapabilities sample 
AZURE_COMMUNICATION_PHONE_NUMBER_TO_UPDATE="+16135550147"