{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/crossStreet/json?query=47.59118%2C-122.3327\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "summary": {
          "numResults": 1,
          "queryTime": 175
        },
        "addresses": [
          {
            "address": {
              "streetName": "1st Avenue South \u0026 1st Avenue",
              "crossStreet": "1st Avenue",
              "municipalitySubdivision": "Downtown Seattle",
              "municipality": "Seattle",
              "countrySecondarySubdivision": "King",
              "countrySubdivision": "WA",
              "countrySubdivisionName": "Washington",
              "postalCode": "98104",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "1st Avenue South \u0026 1st Avenue, Seattle, WA 98104",
              "localName": "Seattle",
              "street": "1st Avenue South"
            },
            "position": "47.60174,-122.33426"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
