/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ConfigurationNames } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ServiceLinkerManagementClient } from "../serviceLinkerManagementClient";
import {
  ConfigurationNameItem,
  ConfigurationNamesListNextOptionalParams,
  ConfigurationNamesListOptionalParams,
  ConfigurationNamesListResponse,
  ConfigurationNamesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ConfigurationNames operations. */
export class ConfigurationNamesImpl implements ConfigurationNames {
  private readonly client: ServiceLinkerManagementClient;

  /**
   * Initialize a new instance of the class ConfigurationNames class.
   * @param client Reference to the service client
   */
  constructor(client: ServiceLinkerManagementClient) {
    this.client = client;
  }

  /**
   * Lists the configuration names generated by Service Connector for all target, client types, auth
   * types.
   * @param options The options parameters.
   */
  public list(
    options?: ConfigurationNamesListOptionalParams,
  ): PagedAsyncIterableIterator<ConfigurationNameItem> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: ConfigurationNamesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ConfigurationNameItem[]> {
    let result: ConfigurationNamesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: ConfigurationNamesListOptionalParams,
  ): AsyncIterableIterator<ConfigurationNameItem> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists the configuration names generated by Service Connector for all target, client types, auth
   * types.
   * @param options The options parameters.
   */
  private _list(
    options?: ConfigurationNamesListOptionalParams,
  ): Promise<ConfigurationNamesListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: ConfigurationNamesListNextOptionalParams,
  ): Promise<ConfigurationNamesListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.ServiceLinker/configurationNames",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ConfigurationNameResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.skipToken,
  ],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ConfigurationNameResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
