{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeStorageName.blob.core.windows.net/source-9645034054?sv=Sanitized&se=2024-06-19T19%3A24%3A06Z&sr=c&sp=rwl&sig=Sanitized"
            },
            "targets": [
              {
                "targetUrl": "https://fakeStorageName.blob.core.windows.net/target-3006796493?sv=Sanitized&se=2024-06-19T19%3A24%3A07Z&sr=c&sp=rwl&sig=Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://example.com",
        "x-ms-region": "West US",
        "X-RequestId": "b58e35be-5f0b-4a9d-ab53-e44a2c87f5f7"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?createdDateTimeUtcStart=2024-06-18T19%3A24%3A06.688Z&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"5BF05F793D1DCAE0A68339F3FA6CED2595F93C0F0FFDFEB34195D54ED54FA7ED\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "772b1586-c283-49c6-a060-d1df2b8d7d91"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "createdDateTimeUtc": "2024-06-18T19:24:07.2721812Z",
            "lastActionDateTimeUtc": "2024-06-18T19:24:07.2721813Z",
            "status": "NotStarted",
            "summary": {
              "total": 1,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 1,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
