{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeStorageName.blob.core.windows.net/source-5668064555?sv=Sanitized&se=2024-06-19T19%3A53%3A42Z&sr=c&sp=rwl&sig=Sanitized"
            },
            "targets": [
              {
                "targetUrl": "https://fakeStorageName.blob.core.windows.net/target-6677854787?sv=Sanitized&se=2024-06-19T19%3A53%3A42Z&sr=c&sp=rwl&sig=Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://example.com",
        "x-ms-region": "West US",
        "X-RequestId": "eecba0a6-6152-42fa-894b-0142a8bfe5bf"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?createdDateTimeUtcStart=2024-06-18T18%3A53%3A43.145Z&createdDateTimeUtcEnd=2024-06-18T19%3A53%3A43.144Z&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"610E14476636E25E44CDAEFBCAC01C2297BAC87915D59CAF22506DC88577B11E\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "ab3a5450-fdd0-409e-beb9-f7e41f47a6c3"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "createdDateTimeUtc": "2024-06-18T19:53:42.8977414Z",
            "lastActionDateTimeUtc": "2024-06-18T19:53:42.8977415Z",
            "status": "NotStarted",
            "summary": {
              "total": 0,
              "failed": 0,
              "success": 0,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 0
            }
          },
          {
            "id": "Sanitized",
            "createdDateTimeUtc": "2024-06-18T19:53:10.728839Z",
            "lastActionDateTimeUtc": "2024-06-18T19:53:23.2106215Z",
            "status": "Succeeded",
            "summary": {
              "total": 1,
              "failed": 0,
              "success": 1,
              "inProgress": 0,
              "notYetStarted": 0,
              "cancelled": 0,
              "totalCharacterCharged": 16
            }
 [...]
