{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617844723404062?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67AA197ACDF4\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617844723404062/dir168617844730109712?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67AA1985C852\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:54:07.3356370Z",
        "x-ms-file-creation-time": "2023-06-07T22:54:07.3356370Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:54:07.3356370Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617844723404062/dir168617844730109712/file168617844737001308",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "11",
        "x-ms-date": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67AA1990000F\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-07T22:54:07.4025999Z",
        "x-ms-file-creation-time": "2023-06-07T22:54:07.4025999Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-07T22:54:07.4025999Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617844723404062/dir168617844730109712/file168617844737001308?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "6291baf2-9d1c-4f64-aa20-c16d8e8ac666",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67AA1990000F\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-lease-id": "6291baf2-9d1c-4f64-aa20-c16d8e8ac666",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617844723404062?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:54:07 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168617844730109712",
    "file": "file168617844737001308",
    "share": "share168617844723404062"
  }
}
