{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ServiceFabric/clusters/myclusterxxxy?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "type": "Microsoft.ServiceFabric/clusters",
        "location": "eastus",
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ServiceFabric/clusters/myclusterxxxy",
        "name": "myclusterxxxy",
        "etag": "W/\u0022637934592808303430\u0022",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-07-15T05:21:19.5403058\u002B00:00",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-07-15T05:21:19.5403058\u002B00:00"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "clusterId": "15629705-2c28-4ac6-b7cb-8c4807e5fe68",
          "clusterCodeVersion": "9.0.1028.9590",
          "clusterState": "WaitingForNodes",
          "managementEndpoint": "http://myCluster.eastus.cloudapp.azure.com:19080",
          "clusterEndpoint": "https://eastus.servicefabric.azure.com/runtime/clusters/15629705-2c28-4ac6-b7cb-8c4807e5fe68",
          "clientCertificateThumbprints": [],
          "clientCertificateCommonNames": [],
          "fabricSettings": [
            {
              "name": "UpgradeService",
              "parameters": [
                {
                  "name": "AppPollIntervalInSeconds",
                  "value": "60"
                }
              ]
            }
          ],
          "reliabilityLevel": "Silver",
          "nodeTypes": [
            {
              "name": "nt1vm",
              "clientConnectionEndpointPort": 19000,
              "httpGatewayEndpointPort": 19007,
              "applicationPorts": {
                "startPort": 20000,
                "endPort": 30000
              },
              "ephemeralPorts": {
                "startPort": 49000,
                "endPort": 64000
              },
              "isPrimary": true,
              "durabilityLevel": "Bronze",
              "vmInstanceCount": 5,
              "isStateless": false
            }
          ],
          "diagnosticsStorageAccountConfig": {
            "storageAccountName": "diag",
            "primaryAccessKey": "",
            "secondaryAccessKey": "",
            "protectedAccountKeyName": "StorageAccountKey1",
            "blobEndpoint": "https://diag.blob.core.windows.net/",
            "queueEndpoint": "https://diag.queue.core.windows.net/",
            "tableEndpoint": "https://diag.table.core.windows.net/",
            "protectedAccountKeyName2": ""
          },
          "upgradeMode": "Automatic",
          "availableClusterVersions": [
            {
              "codeVersion": "9.0.1028.9590",
              "supportExpiryUtc": "9999-12-31T23:59:59.9999999",
              "environment": "Windows"
            }
          ],
          "upgradeWave": "Wave0"
        }
      }
    }
  ],
  "Variables": {}
}
