/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { AssessmentProjectSummaryOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateAssessmentService } from "../azureMigrateAssessmentService.js";
import {
  AssessmentProjectSummary,
  AssessmentProjectSummaryOperationsListByAssessmentProjectNextOptionalParams,
  AssessmentProjectSummaryOperationsListByAssessmentProjectOptionalParams,
  AssessmentProjectSummaryOperationsListByAssessmentProjectResponse,
  AssessmentProjectSummaryOperationsGetOptionalParams,
  AssessmentProjectSummaryOperationsGetResponse,
  AssessmentProjectSummaryOperationsListByAssessmentProjectNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing AssessmentProjectSummaryOperations operations. */
export class AssessmentProjectSummaryOperationsImpl
  implements AssessmentProjectSummaryOperations
{
  private readonly client: AzureMigrateAssessmentService;

  /**
   * Initialize a new instance of the class AssessmentProjectSummaryOperations class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateAssessmentService) {
    this.client = client;
  }

  /**
   * List AssessmentProjectSummary resources by AssessmentProject
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param options The options parameters.
   */
  public listByAssessmentProject(
    resourceGroupName: string,
    projectName: string,
    options?: AssessmentProjectSummaryOperationsListByAssessmentProjectOptionalParams,
  ): PagedAsyncIterableIterator<AssessmentProjectSummary> {
    const iter = this.listByAssessmentProjectPagingAll(
      resourceGroupName,
      projectName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByAssessmentProjectPagingPage(
          resourceGroupName,
          projectName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByAssessmentProjectPagingPage(
    resourceGroupName: string,
    projectName: string,
    options?: AssessmentProjectSummaryOperationsListByAssessmentProjectOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AssessmentProjectSummary[]> {
    let result: AssessmentProjectSummaryOperationsListByAssessmentProjectResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByAssessmentProject(
        resourceGroupName,
        projectName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByAssessmentProjectNext(
        resourceGroupName,
        projectName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByAssessmentProjectPagingAll(
    resourceGroupName: string,
    projectName: string,
    options?: AssessmentProjectSummaryOperationsListByAssessmentProjectOptionalParams,
  ): AsyncIterableIterator<AssessmentProjectSummary> {
    for await (const page of this.listByAssessmentProjectPagingPage(
      resourceGroupName,
      projectName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List AssessmentProjectSummary resources by AssessmentProject
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param options The options parameters.
   */
  private _listByAssessmentProject(
    resourceGroupName: string,
    projectName: string,
    options?: AssessmentProjectSummaryOperationsListByAssessmentProjectOptionalParams,
  ): Promise<AssessmentProjectSummaryOperationsListByAssessmentProjectResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, options },
      listByAssessmentProjectOperationSpec,
    );
  }

  /**
   * Get a AssessmentProjectSummary
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param projectSummaryName Group ARM name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    projectName: string,
    projectSummaryName: string,
    options?: AssessmentProjectSummaryOperationsGetOptionalParams,
  ): Promise<AssessmentProjectSummaryOperationsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, projectSummaryName, options },
      getOperationSpec,
    );
  }

  /**
   * ListByAssessmentProjectNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param nextLink The nextLink from the previous successful call to the ListByAssessmentProject
   *                 method.
   * @param options The options parameters.
   */
  private _listByAssessmentProjectNext(
    resourceGroupName: string,
    projectName: string,
    nextLink: string,
    options?: AssessmentProjectSummaryOperationsListByAssessmentProjectNextOptionalParams,
  ): Promise<AssessmentProjectSummaryOperationsListByAssessmentProjectNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, nextLink, options },
      listByAssessmentProjectNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByAssessmentProjectOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/projectSummary",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessmentProjectSummaryListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/projectSummary/{projectSummaryName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessmentProjectSummary,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.projectSummaryName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByAssessmentProjectNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessmentProjectSummaryListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
