/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { AssessedMachinesOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateAssessmentService } from "../azureMigrateAssessmentService.js";
import {
  AssessedMachine,
  AssessedMachinesOperationsListByAssessmentNextOptionalParams,
  AssessedMachinesOperationsListByAssessmentOptionalParams,
  AssessedMachinesOperationsListByAssessmentResponse,
  AssessedMachinesOperationsGetOptionalParams,
  AssessedMachinesOperationsGetResponse,
  AssessedMachinesOperationsListByAssessmentNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing AssessedMachinesOperations operations. */
export class AssessedMachinesOperationsImpl
  implements AssessedMachinesOperations
{
  private readonly client: AzureMigrateAssessmentService;

  /**
   * Initialize a new instance of the class AssessedMachinesOperations class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateAssessmentService) {
    this.client = client;
  }

  /**
   * List AssessedMachine resources by Assessment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param groupName Group ARM name
   * @param assessmentName Machine Assessment ARM name
   * @param options The options parameters.
   */
  public listByAssessment(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    options?: AssessedMachinesOperationsListByAssessmentOptionalParams,
  ): PagedAsyncIterableIterator<AssessedMachine> {
    const iter = this.listByAssessmentPagingAll(
      resourceGroupName,
      projectName,
      groupName,
      assessmentName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByAssessmentPagingPage(
          resourceGroupName,
          projectName,
          groupName,
          assessmentName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByAssessmentPagingPage(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    options?: AssessedMachinesOperationsListByAssessmentOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AssessedMachine[]> {
    let result: AssessedMachinesOperationsListByAssessmentResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByAssessment(
        resourceGroupName,
        projectName,
        groupName,
        assessmentName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByAssessmentNext(
        resourceGroupName,
        projectName,
        groupName,
        assessmentName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByAssessmentPagingAll(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    options?: AssessedMachinesOperationsListByAssessmentOptionalParams,
  ): AsyncIterableIterator<AssessedMachine> {
    for await (const page of this.listByAssessmentPagingPage(
      resourceGroupName,
      projectName,
      groupName,
      assessmentName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List AssessedMachine resources by Assessment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param groupName Group ARM name
   * @param assessmentName Machine Assessment ARM name
   * @param options The options parameters.
   */
  private _listByAssessment(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    options?: AssessedMachinesOperationsListByAssessmentOptionalParams,
  ): Promise<AssessedMachinesOperationsListByAssessmentResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, groupName, assessmentName, options },
      listByAssessmentOperationSpec,
    );
  }

  /**
   * Get a AssessedMachine
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param groupName Group ARM name
   * @param assessmentName Machine Assessment ARM name
   * @param assessedMachineName Machine assessment Assessed Machine ARM name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    assessedMachineName: string,
    options?: AssessedMachinesOperationsGetOptionalParams,
  ): Promise<AssessedMachinesOperationsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        projectName,
        groupName,
        assessmentName,
        assessedMachineName,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * ListByAssessmentNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param groupName Group ARM name
   * @param assessmentName Machine Assessment ARM name
   * @param nextLink The nextLink from the previous successful call to the ListByAssessment method.
   * @param options The options parameters.
   */
  private _listByAssessmentNext(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    nextLink: string,
    options?: AssessedMachinesOperationsListByAssessmentNextOptionalParams,
  ): Promise<AssessedMachinesOperationsListByAssessmentNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        projectName,
        groupName,
        assessmentName,
        nextLink,
        options,
      },
      listByAssessmentNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByAssessmentOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessedMachineListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.pageSize,
    Parameters.continuationToken,
    Parameters.totalRecordCount,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.groupName,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessedMachine,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.groupName,
    Parameters.assessmentName,
    Parameters.assessedMachineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByAssessmentNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessedMachineListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.groupName,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
