/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AvsAssessedMachinesOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMigrateAssessmentService } from "../azureMigrateAssessmentService";
import {
  AvsAssessedMachine,
  AvsAssessedMachinesOperationsListByAvsAssessmentNextOptionalParams,
  AvsAssessedMachinesOperationsListByAvsAssessmentOptionalParams,
  AvsAssessedMachinesOperationsListByAvsAssessmentResponse,
  AvsAssessedMachinesOperationsGetOptionalParams,
  AvsAssessedMachinesOperationsGetResponse,
  AvsAssessedMachinesOperationsListByAvsAssessmentNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AvsAssessedMachinesOperations operations. */
export class AvsAssessedMachinesOperationsImpl
  implements AvsAssessedMachinesOperations
{
  private readonly client: AzureMigrateAssessmentService;

  /**
   * Initialize a new instance of the class AvsAssessedMachinesOperations class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateAssessmentService) {
    this.client = client;
  }

  /**
   * List AvsAssessedMachine resources by AvsAssessment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param groupName Group ARM name
   * @param assessmentName AVS Assessment ARM name
   * @param options The options parameters.
   */
  public listByAvsAssessment(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    options?: AvsAssessedMachinesOperationsListByAvsAssessmentOptionalParams,
  ): PagedAsyncIterableIterator<AvsAssessedMachine> {
    const iter = this.listByAvsAssessmentPagingAll(
      resourceGroupName,
      projectName,
      groupName,
      assessmentName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByAvsAssessmentPagingPage(
          resourceGroupName,
          projectName,
          groupName,
          assessmentName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByAvsAssessmentPagingPage(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    options?: AvsAssessedMachinesOperationsListByAvsAssessmentOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AvsAssessedMachine[]> {
    let result: AvsAssessedMachinesOperationsListByAvsAssessmentResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByAvsAssessment(
        resourceGroupName,
        projectName,
        groupName,
        assessmentName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByAvsAssessmentNext(
        resourceGroupName,
        projectName,
        groupName,
        assessmentName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByAvsAssessmentPagingAll(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    options?: AvsAssessedMachinesOperationsListByAvsAssessmentOptionalParams,
  ): AsyncIterableIterator<AvsAssessedMachine> {
    for await (const page of this.listByAvsAssessmentPagingPage(
      resourceGroupName,
      projectName,
      groupName,
      assessmentName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List AvsAssessedMachine resources by AvsAssessment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param groupName Group ARM name
   * @param assessmentName AVS Assessment ARM name
   * @param options The options parameters.
   */
  private _listByAvsAssessment(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    options?: AvsAssessedMachinesOperationsListByAvsAssessmentOptionalParams,
  ): Promise<AvsAssessedMachinesOperationsListByAvsAssessmentResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, groupName, assessmentName, options },
      listByAvsAssessmentOperationSpec,
    );
  }

  /**
   * Get a AvsAssessedMachine
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param groupName Group ARM name
   * @param assessmentName AVS Assessment ARM name
   * @param avsAssessedMachineName AVS assessment Assessed Machine ARM name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    avsAssessedMachineName: string,
    options?: AvsAssessedMachinesOperationsGetOptionalParams,
  ): Promise<AvsAssessedMachinesOperationsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        projectName,
        groupName,
        assessmentName,
        avsAssessedMachineName,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * ListByAvsAssessmentNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param groupName Group ARM name
   * @param assessmentName AVS Assessment ARM name
   * @param nextLink The nextLink from the previous successful call to the ListByAvsAssessment method.
   * @param options The options parameters.
   */
  private _listByAvsAssessmentNext(
    resourceGroupName: string,
    projectName: string,
    groupName: string,
    assessmentName: string,
    nextLink: string,
    options?: AvsAssessedMachinesOperationsListByAvsAssessmentNextOptionalParams,
  ): Promise<AvsAssessedMachinesOperationsListByAvsAssessmentNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        projectName,
        groupName,
        assessmentName,
        nextLink,
        options,
      },
      listByAvsAssessmentNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByAvsAssessmentOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/avsAssessedMachines",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvsAssessedMachineListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.pageSize,
    Parameters.continuationToken,
    Parameters.totalRecordCount,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.groupName,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/avsAssessments/{assessmentName}/avsAssessedMachines/{avsAssessedMachineName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvsAssessedMachine,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.groupName,
    Parameters.assessmentName,
    Parameters.avsAssessedMachineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByAvsAssessmentNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvsAssessedMachineListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.groupName,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
