/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { Jobs } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { QuantumClient } from "../quantumClient";
import {
  JobDetails,
  JobsListNextOptionalParams,
  JobsListOptionalParams,
  JobsListResponse,
  JobsGetOptionalParams,
  JobsGetResponse,
  JobsCreateOptionalParams,
  JobsCreateResponse,
  JobsCancelOptionalParams,
  JsonPatchDocument,
  JobsPatchOptionalParams,
  JobsPatchResponse,
  JobsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Jobs operations. */
export class JobsImpl implements Jobs {
  private readonly client: QuantumClient;

  /**
   * Initialize a new instance of the class Jobs class.
   * @param client Reference to the service client
   */
  constructor(client: QuantumClient) {
    this.client = client;
  }

  /**
   * List jobs.
   * @param options The options parameters.
   */
  public list(
    options?: JobsListOptionalParams
  ): PagedAsyncIterableIterator<JobDetails> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: JobsListOptionalParams
  ): AsyncIterableIterator<JobDetails[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: JobsListOptionalParams
  ): AsyncIterableIterator<JobDetails> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * List jobs.
   * @param options The options parameters.
   */
  private _list(options?: JobsListOptionalParams): Promise<JobsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Get job by id
   * @param jobId Id of the job.
   * @param options The options parameters.
   */
  get(
    jobId: string,
    options?: JobsGetOptionalParams
  ): Promise<JobsGetResponse> {
    return this.client.sendOperationRequest(
      { jobId, options },
      getOperationSpec
    );
  }

  /**
   * Create a job.
   * @param jobId Id of the job.
   * @param job The complete metadata of the job to submit.
   * @param options The options parameters.
   */
  create(
    jobId: string,
    job: JobDetails,
    options?: JobsCreateOptionalParams
  ): Promise<JobsCreateResponse> {
    return this.client.sendOperationRequest(
      { jobId, job, options },
      createOperationSpec
    );
  }

  /**
   * Cancel a job.
   * @param jobId Id of the job.
   * @param options The options parameters.
   */
  cancel(jobId: string, options?: JobsCancelOptionalParams): Promise<void> {
    return this.client.sendOperationRequest(
      { jobId, options },
      cancelOperationSpec
    );
  }

  /**
   * Patch a job.
   * @param jobId Id of the job.
   * @param patchJob The json patch document containing the patch operations.
   * @param options The options parameters.
   */
  patch(
    jobId: string,
    patchJob: JsonPatchDocument[],
    options?: JobsPatchOptionalParams
  ): Promise<JobsPatchResponse> {
    return this.client.sendOperationRequest(
      { jobId, patchJob, options },
      patchOperationSpec
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: JobsListNextOptionalParams
  ): Promise<JobsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Quantum/workspaces/{workspaceName}/jobs",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.JobDetailsList
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Quantum/workspaces/{workspaceName}/jobs/{jobId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.JobDetails
    },
    default: {
      bodyMapper: Mappers.RestError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.jobId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Quantum/workspaces/{workspaceName}/jobs/{jobId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.JobDetails
    },
    201: {
      bodyMapper: Mappers.JobDetails
    },
    default: {
      bodyMapper: Mappers.RestError
    }
  },
  requestBody: Parameters.job,
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.jobId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const cancelOperationSpec: coreClient.OperationSpec = {
  path:
    "/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Quantum/workspaces/{workspaceName}/jobs/{jobId}",
  httpMethod: "DELETE",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.RestError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.jobId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const patchOperationSpec: coreClient.OperationSpec = {
  path:
    "/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Quantum/workspaces/{workspaceName}/jobs/{jobId}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.JobDetails
    },
    204: {},
    default: {
      bodyMapper: Mappers.RestError
    }
  },
  requestBody: Parameters.patchJob,
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.jobId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.JobDetailsList
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
