/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "./models";
import * as Mappers from "./models/mappers";
import * as Parameters from "./models/parameters";
import { FormRecognizerClientContext } from "./formRecognizerClientContext";

class FormRecognizerClient extends FormRecognizerClientContext {
  /**
   * Initializes a new instance of the FormRecognizerClient class.
   * @param endpoint Supported Cognitive Services endpoints (protocol and hostname, for example:
   * https://westus2.api.cognitive.microsoft.com).
   * @param credentials Subscription credentials which uniquely identify client subscription.
   * @param [options] The parameter options
   */
  constructor(credentials: msRest.ServiceClientCredentials, endpoint: string, options?: msRest.ServiceClientOptions) {
    super(credentials, endpoint, options);
  }

  /**
   * Create and train a custom model. The request must include a source parameter that is either an
   * externally accessible Azure storage blob container Uri (preferably a Shared Access Signature
   * Uri) or valid path to a data folder in a locally mounted drive. When local paths are specified,
   * they must follow the Linux/Unix path format and be an absolute path rooted to the input mount
   * configuration setting value e.g., if '{Mounts:Input}' configuration setting value is '/input'
   * then a valid source path would be '/input/contosodataset'. All data to be trained is expected to
   * be under the source folder or sub folders under it. Models are trained using documents that are
   * of the following content type - 'application/pdf', 'image/jpeg', 'image/png', 'image/tiff'.
   * Other type of content is ignored.
   * @summary Train Custom Model
   * @param trainRequest Training request parameters.
   * @param [options] The optional parameters
   * @returns Promise<Models.TrainCustomModelAsyncResponse>
   */
  trainCustomModelAsync(trainRequest: Models.TrainRequest, options?: msRest.RequestOptionsBase): Promise<Models.TrainCustomModelAsyncResponse>;
  /**
   * @param trainRequest Training request parameters.
   * @param callback The callback
   */
  trainCustomModelAsync(trainRequest: Models.TrainRequest, callback: msRest.ServiceCallback<void>): void;
  /**
   * @param trainRequest Training request parameters.
   * @param options The optional parameters
   * @param callback The callback
   */
  trainCustomModelAsync(trainRequest: Models.TrainRequest, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<void>): void;
  trainCustomModelAsync(trainRequest: Models.TrainRequest, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<void>, callback?: msRest.ServiceCallback<void>): Promise<Models.TrainCustomModelAsyncResponse> {
    return this.sendOperationRequest(
      {
        trainRequest,
        options
      },
      trainCustomModelAsyncOperationSpec,
      callback) as Promise<Models.TrainCustomModelAsyncResponse>;
  }

  /**
   * Get detailed information about a custom model.
   * @summary Get Custom Model
   * @param modelId Model identifier.
   * @param [options] The optional parameters
   * @returns Promise<Models.GetCustomModelResponse>
   */
  getCustomModel(modelId: string, options?: Models.FormRecognizerClientGetCustomModelOptionalParams): Promise<Models.GetCustomModelResponse>;
  /**
   * @param modelId Model identifier.
   * @param callback The callback
   */
  getCustomModel(modelId: string, callback: msRest.ServiceCallback<Models.Model>): void;
  /**
   * @param modelId Model identifier.
   * @param options The optional parameters
   * @param callback The callback
   */
  getCustomModel(modelId: string, options: Models.FormRecognizerClientGetCustomModelOptionalParams, callback: msRest.ServiceCallback<Models.Model>): void;
  getCustomModel(modelId: string, options?: Models.FormRecognizerClientGetCustomModelOptionalParams | msRest.ServiceCallback<Models.Model>, callback?: msRest.ServiceCallback<Models.Model>): Promise<Models.GetCustomModelResponse> {
    return this.sendOperationRequest(
      {
        modelId,
        options
      },
      getCustomModelOperationSpec,
      callback) as Promise<Models.GetCustomModelResponse>;
  }

  /**
   * Mark model for deletion. Model artifacts will be permanently removed within a predetermined
   * period.
   * @summary Delete Custom Model
   * @param modelId Model identifier.
   * @param [options] The optional parameters
   * @returns Promise<msRest.RestResponse>
   */
  deleteCustomModel(modelId: string, options?: msRest.RequestOptionsBase): Promise<msRest.RestResponse>;
  /**
   * @param modelId Model identifier.
   * @param callback The callback
   */
  deleteCustomModel(modelId: string, callback: msRest.ServiceCallback<void>): void;
  /**
   * @param modelId Model identifier.
   * @param options The optional parameters
   * @param callback The callback
   */
  deleteCustomModel(modelId: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<void>): void;
  deleteCustomModel(modelId: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<void>, callback?: msRest.ServiceCallback<void>): Promise<msRest.RestResponse> {
    return this.sendOperationRequest(
      {
        modelId,
        options
      },
      deleteCustomModelOperationSpec,
      callback);
  }

  /**
   * Extract key-value pairs, tables, and semantic values from a given document. The input document
   * must be of one of the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or
   * 'image/tiff'. Alternatively, use 'application/json' type to specify the location (Uri or local
   * path) of the document to be analyzed.
   * @summary Analyze Form
   * @param modelId Model identifier.
   * @param [options] The optional parameters
   * @returns Promise<Models.AnalyzeWithCustomModelResponse>
   */
  analyzeWithCustomModel(modelId: string, options?: Models.FormRecognizerClientAnalyzeWithCustomModelOptionalParams): Promise<Models.AnalyzeWithCustomModelResponse>;
  /**
   * @param modelId Model identifier.
   * @param callback The callback
   */
  analyzeWithCustomModel(modelId: string, callback: msRest.ServiceCallback<void>): void;
  /**
   * @param modelId Model identifier.
   * @param options The optional parameters
   * @param callback The callback
   */
  analyzeWithCustomModel(modelId: string, options: Models.FormRecognizerClientAnalyzeWithCustomModelOptionalParams, callback: msRest.ServiceCallback<void>): void;
  analyzeWithCustomModel(modelId: string, options?: Models.FormRecognizerClientAnalyzeWithCustomModelOptionalParams | msRest.ServiceCallback<void>, callback?: msRest.ServiceCallback<void>): Promise<Models.AnalyzeWithCustomModelResponse> {
    return this.sendOperationRequest(
      {
        modelId,
        options
      },
      analyzeWithCustomModelOperationSpec,
      callback) as Promise<Models.AnalyzeWithCustomModelResponse>;
  }

  /**
   * Obtain current status and the result of the analyze form operation.
   * @summary Get Analyze Form Result
   * @param modelId Model identifier.
   * @param resultId Analyze operation result identifier.
   * @param [options] The optional parameters
   * @returns Promise<Models.GetAnalyzeFormResultResponse>
   */
  getAnalyzeFormResult(modelId: string, resultId: string, options?: msRest.RequestOptionsBase): Promise<Models.GetAnalyzeFormResultResponse>;
  /**
   * @param modelId Model identifier.
   * @param resultId Analyze operation result identifier.
   * @param callback The callback
   */
  getAnalyzeFormResult(modelId: string, resultId: string, callback: msRest.ServiceCallback<Models.AnalyzeOperationResult>): void;
  /**
   * @param modelId Model identifier.
   * @param resultId Analyze operation result identifier.
   * @param options The optional parameters
   * @param callback The callback
   */
  getAnalyzeFormResult(modelId: string, resultId: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.AnalyzeOperationResult>): void;
  getAnalyzeFormResult(modelId: string, resultId: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.AnalyzeOperationResult>, callback?: msRest.ServiceCallback<Models.AnalyzeOperationResult>): Promise<Models.GetAnalyzeFormResultResponse> {
    return this.sendOperationRequest(
      {
        modelId,
        resultId,
        options
      },
      getAnalyzeFormResultOperationSpec,
      callback) as Promise<Models.GetAnalyzeFormResultResponse>;
  }

  /**
   * Copy custom model stored in this resource (the source) to user specified target Form Recognizer
   * resource.
   * @summary Copy Custom Model
   * @param modelId Model identifier.
   * @param copyRequest Copy request parameters.
   * @param [options] The optional parameters
   * @returns Promise<Models.CopyCustomModelResponse>
   */
  copyCustomModel(modelId: string, copyRequest: Models.CopyRequest, options?: msRest.RequestOptionsBase): Promise<Models.CopyCustomModelResponse>;
  /**
   * @param modelId Model identifier.
   * @param copyRequest Copy request parameters.
   * @param callback The callback
   */
  copyCustomModel(modelId: string, copyRequest: Models.CopyRequest, callback: msRest.ServiceCallback<void>): void;
  /**
   * @param modelId Model identifier.
   * @param copyRequest Copy request parameters.
   * @param options The optional parameters
   * @param callback The callback
   */
  copyCustomModel(modelId: string, copyRequest: Models.CopyRequest, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<void>): void;
  copyCustomModel(modelId: string, copyRequest: Models.CopyRequest, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<void>, callback?: msRest.ServiceCallback<void>): Promise<Models.CopyCustomModelResponse> {
    return this.sendOperationRequest(
      {
        modelId,
        copyRequest,
        options
      },
      copyCustomModelOperationSpec,
      callback) as Promise<Models.CopyCustomModelResponse>;
  }

  /**
   * Obtain current status and the result of a custom model copy operation.
   * @summary Get Custom Model Copy Result
   * @param modelId Model identifier.
   * @param resultId Copy operation result identifier.
   * @param [options] The optional parameters
   * @returns Promise<Models.GetCustomModelCopyResultResponse>
   */
  getCustomModelCopyResult(modelId: string, resultId: string, options?: msRest.RequestOptionsBase): Promise<Models.GetCustomModelCopyResultResponse>;
  /**
   * @param modelId Model identifier.
   * @param resultId Copy operation result identifier.
   * @param callback The callback
   */
  getCustomModelCopyResult(modelId: string, resultId: string, callback: msRest.ServiceCallback<Models.CopyOperationResult>): void;
  /**
   * @param modelId Model identifier.
   * @param resultId Copy operation result identifier.
   * @param options The optional parameters
   * @param callback The callback
   */
  getCustomModelCopyResult(modelId: string, resultId: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.CopyOperationResult>): void;
  getCustomModelCopyResult(modelId: string, resultId: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.CopyOperationResult>, callback?: msRest.ServiceCallback<Models.CopyOperationResult>): Promise<Models.GetCustomModelCopyResultResponse> {
    return this.sendOperationRequest(
      {
        modelId,
        resultId,
        options
      },
      getCustomModelCopyResultOperationSpec,
      callback) as Promise<Models.GetCustomModelCopyResultResponse>;
  }

  /**
   * Generate authorization to copy a model into the target Form Recognizer resource.
   * @summary Generate Copy Authorization
   * @param [options] The optional parameters
   * @returns Promise<Models.GenerateModelCopyAuthorizationResponse>
   */
  generateModelCopyAuthorization(options?: msRest.RequestOptionsBase): Promise<Models.GenerateModelCopyAuthorizationResponse>;
  /**
   * @param callback The callback
   */
  generateModelCopyAuthorization(callback: msRest.ServiceCallback<Models.CopyAuthorizationResult>): void;
  /**
   * @param options The optional parameters
   * @param callback The callback
   */
  generateModelCopyAuthorization(options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.CopyAuthorizationResult>): void;
  generateModelCopyAuthorization(options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.CopyAuthorizationResult>, callback?: msRest.ServiceCallback<Models.CopyAuthorizationResult>): Promise<Models.GenerateModelCopyAuthorizationResponse> {
    return this.sendOperationRequest(
      {
        options
      },
      generateModelCopyAuthorizationOperationSpec,
      callback) as Promise<Models.GenerateModelCopyAuthorizationResponse>;
  }

  /**
   * Extract field text and semantic values from a given receipt document. The input document must be
   * of one of the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or
   * 'image/tiff'. Alternatively, use 'application/json' type to specify the location (Uri or local
   * path) of the document to be analyzed.
   * @summary Analyze Receipt
   * @param [options] The optional parameters
   * @returns Promise<Models.AnalyzeReceiptAsyncResponse>
   */
  analyzeReceiptAsync(options?: Models.FormRecognizerClientAnalyzeReceiptAsyncOptionalParams): Promise<Models.AnalyzeReceiptAsyncResponse>;
  /**
   * @param callback The callback
   */
  analyzeReceiptAsync(callback: msRest.ServiceCallback<void>): void;
  /**
   * @param options The optional parameters
   * @param callback The callback
   */
  analyzeReceiptAsync(options: Models.FormRecognizerClientAnalyzeReceiptAsyncOptionalParams, callback: msRest.ServiceCallback<void>): void;
  analyzeReceiptAsync(options?: Models.FormRecognizerClientAnalyzeReceiptAsyncOptionalParams | msRest.ServiceCallback<void>, callback?: msRest.ServiceCallback<void>): Promise<Models.AnalyzeReceiptAsyncResponse> {
    return this.sendOperationRequest(
      {
        options
      },
      analyzeReceiptAsyncOperationSpec,
      callback) as Promise<Models.AnalyzeReceiptAsyncResponse>;
  }

  /**
   * Track the progress and obtain the result of the analyze receipt operation.
   * @summary Get Analyze Receipt Result
   * @param resultId Analyze operation result identifier.
   * @param [options] The optional parameters
   * @returns Promise<Models.GetAnalyzeReceiptResultResponse>
   */
  getAnalyzeReceiptResult(resultId: string, options?: msRest.RequestOptionsBase): Promise<Models.GetAnalyzeReceiptResultResponse>;
  /**
   * @param resultId Analyze operation result identifier.
   * @param callback The callback
   */
  getAnalyzeReceiptResult(resultId: string, callback: msRest.ServiceCallback<Models.AnalyzeOperationResult>): void;
  /**
   * @param resultId Analyze operation result identifier.
   * @param options The optional parameters
   * @param callback The callback
   */
  getAnalyzeReceiptResult(resultId: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.AnalyzeOperationResult>): void;
  getAnalyzeReceiptResult(resultId: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.AnalyzeOperationResult>, callback?: msRest.ServiceCallback<Models.AnalyzeOperationResult>): Promise<Models.GetAnalyzeReceiptResultResponse> {
    return this.sendOperationRequest(
      {
        resultId,
        options
      },
      getAnalyzeReceiptResultOperationSpec,
      callback) as Promise<Models.GetAnalyzeReceiptResultResponse>;
  }

  /**
   * Extract text and layout information from a given document. The input document must be of one of
   * the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
   * Alternatively, use 'application/json' type to specify the location (Uri or local path) of the
   * document to be analyzed.
   * @summary Analyze Layout
   * @param [options] The optional parameters
   * @returns Promise<Models.AnalyzeLayoutAsyncResponse>
   */
  analyzeLayoutAsync(options?: Models.FormRecognizerClientAnalyzeLayoutAsyncOptionalParams): Promise<Models.AnalyzeLayoutAsyncResponse>;
  /**
   * @param callback The callback
   */
  analyzeLayoutAsync(callback: msRest.ServiceCallback<void>): void;
  /**
   * @param options The optional parameters
   * @param callback The callback
   */
  analyzeLayoutAsync(options: Models.FormRecognizerClientAnalyzeLayoutAsyncOptionalParams, callback: msRest.ServiceCallback<void>): void;
  analyzeLayoutAsync(options?: Models.FormRecognizerClientAnalyzeLayoutAsyncOptionalParams | msRest.ServiceCallback<void>, callback?: msRest.ServiceCallback<void>): Promise<Models.AnalyzeLayoutAsyncResponse> {
    return this.sendOperationRequest(
      {
        options
      },
      analyzeLayoutAsyncOperationSpec,
      callback) as Promise<Models.AnalyzeLayoutAsyncResponse>;
  }

  /**
   * Track the progress and obtain the result of the analyze layout operation
   * @summary Get Analyze Layout Result
   * @param resultId Analyze operation result identifier.
   * @param [options] The optional parameters
   * @returns Promise<Models.GetAnalyzeLayoutResultResponse>
   */
  getAnalyzeLayoutResult(resultId: string, options?: msRest.RequestOptionsBase): Promise<Models.GetAnalyzeLayoutResultResponse>;
  /**
   * @param resultId Analyze operation result identifier.
   * @param callback The callback
   */
  getAnalyzeLayoutResult(resultId: string, callback: msRest.ServiceCallback<Models.AnalyzeOperationResult>): void;
  /**
   * @param resultId Analyze operation result identifier.
   * @param options The optional parameters
   * @param callback The callback
   */
  getAnalyzeLayoutResult(resultId: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.AnalyzeOperationResult>): void;
  getAnalyzeLayoutResult(resultId: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.AnalyzeOperationResult>, callback?: msRest.ServiceCallback<Models.AnalyzeOperationResult>): Promise<Models.GetAnalyzeLayoutResultResponse> {
    return this.sendOperationRequest(
      {
        resultId,
        options
      },
      getAnalyzeLayoutResultOperationSpec,
      callback) as Promise<Models.GetAnalyzeLayoutResultResponse>;
  }

  /**
   * Get information about all custom models
   * @summary List Custom Models
   * @param [options] The optional parameters
   * @returns Promise<Models.ListCustomModelsResponse>
   */
  listCustomModels(options?: msRest.RequestOptionsBase): Promise<Models.ListCustomModelsResponse>;
  /**
   * @param callback The callback
   */
  listCustomModels(callback: msRest.ServiceCallback<Models.ModelsModel>): void;
  /**
   * @param options The optional parameters
   * @param callback The callback
   */
  listCustomModels(options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ModelsModel>): void;
  listCustomModels(options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ModelsModel>, callback?: msRest.ServiceCallback<Models.ModelsModel>): Promise<Models.ListCustomModelsResponse> {
    return this.sendOperationRequest(
      {
        options
      },
      listCustomModelsOperationSpec,
      callback) as Promise<Models.ListCustomModelsResponse>;
  }

  /**
   * Get information about all custom models
   * @summary Get Custom Models
   * @param [options] The optional parameters
   * @returns Promise<Models.GetCustomModelsResponse>
   */
  getCustomModels(options?: msRest.RequestOptionsBase): Promise<Models.GetCustomModelsResponse>;
  /**
   * @param callback The callback
   */
  getCustomModels(callback: msRest.ServiceCallback<Models.ModelsModel>): void;
  /**
   * @param options The optional parameters
   * @param callback The callback
   */
  getCustomModels(options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ModelsModel>): void;
  getCustomModels(options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ModelsModel>, callback?: msRest.ServiceCallback<Models.ModelsModel>): Promise<Models.GetCustomModelsResponse> {
    return this.sendOperationRequest(
      {
        options
      },
      getCustomModelsOperationSpec,
      callback) as Promise<Models.GetCustomModelsResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const trainCustomModelAsyncOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "custom/models",
  urlParameters: [
    Parameters.endpoint
  ],
  requestBody: {
    parameterPath: "trainRequest",
    mapper: {
      ...Mappers.TrainRequest,
      required: true
    }
  },
  responses: {
    201: {
      headersMapper: Mappers.TrainCustomModelAsyncHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const getCustomModelOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "custom/models/{modelId}",
  urlParameters: [
    Parameters.endpoint,
    Parameters.modelId
  ],
  queryParameters: [
    Parameters.includeKeys
  ],
  responses: {
    200: {
      bodyMapper: Mappers.Model
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const deleteCustomModelOperationSpec: msRest.OperationSpec = {
  httpMethod: "DELETE",
  path: "custom/models/{modelId}",
  urlParameters: [
    Parameters.endpoint,
    Parameters.modelId
  ],
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const analyzeWithCustomModelOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "custom/models/{modelId}/analyze",
  urlParameters: [
    Parameters.endpoint,
    Parameters.modelId
  ],
  queryParameters: [
    Parameters.includeTextDetails
  ],
  requestBody: {
    parameterPath: [
      "options",
      "fileStream"
    ],
    mapper: Mappers.SourcePath
  },
  responses: {
    202: {
      headersMapper: Mappers.AnalyzeWithCustomModelHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const getAnalyzeFormResultOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "custom/models/{modelId}/analyzeResults/{resultId}",
  urlParameters: [
    Parameters.endpoint,
    Parameters.modelId,
    Parameters.resultId
  ],
  responses: {
    200: {
      bodyMapper: Mappers.AnalyzeOperationResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const copyCustomModelOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "custom/models/{modelId}/copy",
  urlParameters: [
    Parameters.endpoint,
    Parameters.modelId
  ],
  requestBody: {
    parameterPath: "copyRequest",
    mapper: {
      ...Mappers.CopyRequest,
      required: true
    }
  },
  responses: {
    202: {
      headersMapper: Mappers.CopyCustomModelHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const getCustomModelCopyResultOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "custom/models/{modelId}/copyResults/{resultId}",
  urlParameters: [
    Parameters.endpoint,
    Parameters.modelId,
    Parameters.resultId
  ],
  responses: {
    200: {
      bodyMapper: Mappers.CopyOperationResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const generateModelCopyAuthorizationOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "custom/models/copyAuthorization",
  urlParameters: [
    Parameters.endpoint
  ],
  responses: {
    201: {
      bodyMapper: Mappers.CopyAuthorizationResult,
      headersMapper: Mappers.GenerateModelCopyAuthorizationHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const analyzeReceiptAsyncOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "prebuilt/receipt/analyze",
  urlParameters: [
    Parameters.endpoint
  ],
  queryParameters: [
    Parameters.includeTextDetails
  ],
  requestBody: {
    parameterPath: [
      "options",
      "fileStream"
    ],
    mapper: Mappers.SourcePath
  },
  responses: {
    202: {
      headersMapper: Mappers.AnalyzeReceiptAsyncHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const getAnalyzeReceiptResultOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "prebuilt/receipt/analyzeResults/{resultId}",
  urlParameters: [
    Parameters.endpoint,
    Parameters.resultId
  ],
  responses: {
    200: {
      bodyMapper: Mappers.AnalyzeOperationResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const analyzeLayoutAsyncOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "layout/analyze",
  urlParameters: [
    Parameters.endpoint
  ],
  requestBody: {
    parameterPath: [
      "options",
      "fileStream"
    ],
    mapper: Mappers.SourcePath
  },
  responses: {
    202: {
      headersMapper: Mappers.AnalyzeLayoutAsyncHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const getAnalyzeLayoutResultOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "layout/analyzeResults/{resultId}",
  urlParameters: [
    Parameters.endpoint,
    Parameters.resultId
  ],
  responses: {
    200: {
      bodyMapper: Mappers.AnalyzeOperationResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const listCustomModelsOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "custom/models",
  urlParameters: [
    Parameters.endpoint
  ],
  queryParameters: [
    Parameters.op0
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ModelsModel
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const getCustomModelsOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "custom/models",
  urlParameters: [
    Parameters.endpoint
  ],
  queryParameters: [
    Parameters.op1
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ModelsModel
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

export {
  FormRecognizerClient,
  FormRecognizerClientContext,
  Models as FormRecognizerModels,
  Mappers as FormRecognizerMappers
};
