{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/json?api-version=1.0\u0026query=25,121",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "summary": {
          "queryTime": 5,
          "numResults": 1
        },
        "addresses": [
          {
            "address": {
              "buildingNumber": "36",
              "streetNumber": "36",
              "routeNumbers": [],
              "street": "\u65B0\u6E2F\u8DEF",
              "streetName": "\u65B0\u6E2F\u8DEF",
              "streetNameAndNumber": "\u65B0\u6E2F\u8DEF, 36",
              "countryCode": "TW",
              "countrySubdivision": "\u6843\u5712\u5E02",
              "municipality": "\u6843\u5712\u5E02",
              "postalCode": "327",
              "municipalitySubdivision": "\u65B0\u5C4B\u5340",
              "country": "\u53F0\u7063",
              "countryCodeISO3": "TWN",
              "freeformAddress": "32744, \u6843\u5712\u5E02 \u65B0\u5C4B\u5340, \u65B0\u6E2F\u8DEF, 36",
              "boundingBox": {
                "northEast": "24.989644,121.014926",
                "southWest": "24.989405,121.012705",
                "entity": "position"
              },
              "extendedPostalCode": "32744",
              "localName": "\u65B0\u5C4B\u5340"
            },
            "position": "24.988867,121.017029"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
