/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { tracingClient } from "../tracing.js";
import { TeamsExtensionAssignment } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { IdentityRestClient } from "../identityRestClient.js";
import {
  TeamsExtensionAssignmentGetOptionalParams,
  TeamsExtensionAssignmentGetResponse,
  TeamsExtensionPrincipalType,
  TeamsExtensionAssignmentUpsertOptionalParams,
  TeamsExtensionAssignmentUpsertResponse,
  TeamsExtensionAssignmentDeleteOptionalParams,
} from "../models/index.js";

/** Class containing TeamsExtensionAssignment operations. */
export class TeamsExtensionAssignmentImpl implements TeamsExtensionAssignment {
  private readonly client: IdentityRestClient;

  /**
   * Initialize a new instance of the class TeamsExtensionAssignment class.
   * @param client Reference to the service client
   */
  constructor(client: IdentityRestClient) {
    this.client = client;
  }

  /**
   * Get Teams Phone access assignment by object id.
   * @param tenantId Tenant Id we want to get the assignment for.
   * @param objectId Object Id we want to get the assignment for.
   * @param options The options parameters.
   */
  async get(
    tenantId: string,
    objectId: string,
    options?: TeamsExtensionAssignmentGetOptionalParams,
  ): Promise<TeamsExtensionAssignmentGetResponse> {
    return tracingClient.withSpan(
      "IdentityRestClient.get",
      options ?? {},
      async (options) => {
        return this.client.sendOperationRequest(
          { tenantId, objectId, options },
          getOperationSpec,
        ) as Promise<TeamsExtensionAssignmentGetResponse>;
      },
    );
  }

  /**
   * Creates or replaces a Teams Phone access assignment.
   * @param tenantId Tenant Id we want to update the assignment for.
   * @param objectId Object Id we want to update the assignment for.
   * @param principalType The type of principal the assignment is for.
   * @param options The options parameters.
   */
  async upsert(
    tenantId: string,
    objectId: string,
    principalType: TeamsExtensionPrincipalType,
    options?: TeamsExtensionAssignmentUpsertOptionalParams,
  ): Promise<TeamsExtensionAssignmentUpsertResponse> {
    return tracingClient.withSpan(
      "IdentityRestClient.upsert",
      options ?? {},
      async (options) => {
        return this.client.sendOperationRequest(
          { tenantId, objectId, principalType, options },
          upsertOperationSpec,
        ) as Promise<TeamsExtensionAssignmentUpsertResponse>;
      },
    );
  }

  /**
   * Removes a Teams Phone access assignment.
   * @param tenantId Tenant Id we want to remove the assignment for.
   * @param objectId Object Id we want to remove the assignment for.
   * @param options The options parameters.
   */
  async delete(
    tenantId: string,
    objectId: string,
    options?: TeamsExtensionAssignmentDeleteOptionalParams,
  ): Promise<void> {
    return tracingClient.withSpan(
      "IdentityRestClient.delete",
      options ?? {},
      async (options) => {
        return this.client.sendOperationRequest(
          { tenantId, objectId, options },
          deleteOperationSpec,
        ) as Promise<void>;
      },
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/access/teamsExtension/tenants/{tenantId}/assignments/{objectId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TeamsExtensionAssignmentResponse,
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.tenantId,
    Parameters.objectId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const upsertOperationSpec: coreClient.OperationSpec = {
  path: "/access/teamsExtension/tenants/{tenantId}/assignments/{objectId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.TeamsExtensionAssignmentResponse,
    },
    201: {
      bodyMapper: Mappers.TeamsExtensionAssignmentResponse,
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse,
    },
  },
  requestBody: {
    parameterPath: {
      principalType: ["principalType"],
      clientIds: ["options", "clientIds"],
    },
    mapper: {
      ...Mappers.TeamsExtensionAssignmentCreateOrUpdateRequest,
      required: true,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.tenantId,
    Parameters.objectId,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/access/teamsExtension/tenants/{tenantId}/assignments/{objectId}",
  httpMethod: "DELETE",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.tenantId,
    Parameters.objectId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
