{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/map/copyright/caption/json?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ed42b665849015a4f2aece6170490d5b\u0022",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "copyrightsCaption": "\u00A9TomTom"
      }
    }
  ],
  "Variables": {}
}
