{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/workspaces/workspace-id/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 10000000000000 step 1 | count",
        "timespan": "PT24H"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "1b580be4-0cd9-4947-bddf-464e5a8adbe1",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "ADX query timed out"
          }
        }
      }
    }
  ],
  "Variables": {}
}
