{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.NetApp/netAppAccounts?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "65f4ff06-9aba-427c-b0da-0f08c2144845",
          "ebb9aba1-e4f3-456d-9b6e-2e26b27296e1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/anf-secondary-rg/providers/Microsoft.NetApp/netAppAccounts/SecondaryANFAccount",
            "name": "SecondaryANFAccount",
            "type": "Microsoft.NetApp/netAppAccounts",
            "etag": "W/\u0022datetime\u00272022-06-22T14%3A47%3A01.8936205Z\u0027\u0022",
            "location": "eastus",
            "tags": {
              "Author": "ANF Go CRR SDK Sample",
              "Service": "Azure Netapp Files"
            },
            "properties": {
              "encryption": {
                "keySource": "Microsoft.NetApp"
              },
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
              "createdByType": "Application",
              "createdAt": "2022-06-22T14:47:00.4826691Z",
              "lastModifiedBy": "a1fc368b-7f40-4802-8fa1-260d3a6ec34b",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-06-22T14:47:00.4826691Z"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetApp/netAppAccounts/accounttest",
            "name": "accounttest",
            "type": "Microsoft.NetApp/netAppAccounts",
            "etag": "W/\u0022datetime\u00272022-09-21T02%3A45%3A19.2499268Z\u0027\u0022",
            "location": "eastus",
            "properties": {
              "encryption": {
                "keyS[...]
