{
  "Entries": [
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/dcr-abcdefghijklmnopqrstuvwxyztyuiop/streams/Custom-MyTableRawData?api-version=2023-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022Time\u0022:\u00222021-12-08T23:51:14.1104269Z\u0022,\u0022Computer\u0022:\u0022Computer1\u0022,\u0022AdditionalContext\u0022:\u0022kaghiya-1\u0022},{\u0022Time\u0022:\u00222021-12-08T23:51:14.1104269Z\u0022,\u0022Computer\u0022:\u0022Computer2\u0022,\u0022AdditionalContext\u0022:{\u0022InstanceName\u0022:\u0022kaghiya-2\u0022,\u0022TimeZone\u0022:\u0022Central Time\u0022,\u0022Level\u0022:3,\u0022CounterName\u0022:\u0022test\u0022,\u0022CounterValue\u0022:23.5}}]",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
