{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Discovery/bookshelves?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "133bb9b0-3f45-47d5-aee1-f65492e5a253",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Discovery/bookshelves/test-bookshelf-324938be",
            "name": "test-bookshelf-324938be",
            "type": "microsoft.discovery/bookshelves",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-16T15:13:33.9373334Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-16T15:13:33.9373334Z"
            },
            "properties": {
              "managedResourceGroup": "mrg-dbksf-test-bookshelf-324938be-vh75b0",
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Resources/moboBrokers/mobr-dbksf-test-bookshelf-324938be-vh75b0"
                  }
                ]
              },
              "workloadIdentities": {},
              "provisioningState": "Failed"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Discovery/bookshelves/js-bookshelf-rec01",
            "name": "js-bookshelf-rec01",
            "type": "microsoft.discovery/bookshelves",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-16T15:28:45.7494779Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-16T15:28:45.7494779Z"
            },
            "properties": {
              "managedResourceGroup": "mrg-dbksf-js-bookshelf-rec01-s7i05f",
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Resources/moboBrokers/mobr-dbksf-js-bookshelf-rec01-s7i05f"
                  }
                ]
              },
              "workloadIdentities": {},
              "provisioningState": "Failed",
              "bookshelfUri": "https://js-bookshelf-rec01.bookshelf-dev.discovery.azure.com"
            }
          },
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Discovery/bookshelves/jstest-bkshelf-0316a",
            "name": "jstest-bkshelf-0316a",
            "type": "microsoft.discovery/bookshelves",
            "location": "uksouth",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-03-16T15:44:16.4245823Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-03-16T15:44:16.4245823Z"
            },
            "properties": {
              "managedResourceGroup": "mrg-dbksf-jstest-bkshelf-0316a-ibb8gn",
              "managedOnBehalfOfConfiguration": {
                "moboBrokerResources": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/olawal/providers/Microsoft.Resources/moboBrokers/mobr-dbksf-jstest-bkshelf-0316a-ibb8gn"
                  }
                ]
              },
              "workloadIdentities": {},
              "provisioningState": "Succeeded",
              "bookshelfUri": "https://jstest-bkshelf-0316a.bookshelf-dev.discovery.azure.com"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
