/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { QuantumClient } from "../quantumClient";
import {
  ProviderStatus,
  ProvidersGetStatusResponse,
  ProvidersGetStatusNextResponse
} from "../models";

/** Class representing a Providers. */
export class Providers {
  private readonly client: QuantumClient;

  /**
   * Initialize a new instance of the class Providers class.
   * @param client Reference to the service client
   */
  constructor(client: QuantumClient) {
    this.client = client;
  }

  /**
   * Get provider status.
   * @param options The options parameters.
   */
  public listStatus(
    options?: coreHttp.OperationOptions
  ): PagedAsyncIterableIterator<ProviderStatus> {
    const iter = this.getStatusPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.getStatusPagingPage(options);
      }
    };
  }

  private async *getStatusPagingPage(
    options?: coreHttp.OperationOptions
  ): AsyncIterableIterator<ProviderStatus[]> {
    let result = await this._getStatus(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._getStatusNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *getStatusPagingAll(
    options?: coreHttp.OperationOptions
  ): AsyncIterableIterator<ProviderStatus> {
    for await (const page of this.getStatusPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get provider status.
   * @param options The options parameters.
   */
  private _getStatus(
    options?: coreHttp.OperationOptions
  ): Promise<ProvidersGetStatusResponse> {
    const operationArguments: coreHttp.OperationArguments = {
      options: coreHttp.operationOptionsToRequestOptionsBase(options || {})
    };
    return this.client.sendOperationRequest(
      operationArguments,
      getStatusOperationSpec
    ) as Promise<ProvidersGetStatusResponse>;
  }

  /**
   * GetStatusNext
   * @param nextLink The nextLink from the previous successful call to the GetStatus method.
   * @param options The options parameters.
   */
  private _getStatusNext(
    nextLink: string,
    options?: coreHttp.OperationOptions
  ): Promise<ProvidersGetStatusNextResponse> {
    const operationArguments: coreHttp.OperationArguments = {
      nextLink,
      options: coreHttp.operationOptionsToRequestOptionsBase(options || {})
    };
    return this.client.sendOperationRequest(
      operationArguments,
      getStatusNextOperationSpec
    ) as Promise<ProvidersGetStatusNextResponse>;
  }
}
// Operation Specifications
const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const getStatusOperationSpec: coreHttp.OperationSpec = {
  path:
    "/v1.0/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Quantum/workspaces/{workspaceName}/providerStatus",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProviderStatusList
    },
    default: {
      bodyMapper: Mappers.RestError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getStatusNextOperationSpec: coreHttp.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProviderStatusList
    },
    default: {
      bodyMapper: Mappers.RestError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
