# The name of the key vault to use in the samples.
# Create a Key Vault in the Azure Portal and enter its URI (e.g. https://mytest.vault.azure.net/) here.
KEYVAULT_URI=<key-vault-uri>

# The name of the Key Vault.
KEYVAULT_NAME=<key-vault-name>

# URI of the Blob Storage instance, with the name of the container where the Key Vault backups will be generated.
BLOB_STORAGE_URI=<blob-storage-uri>

# URI of the Blob Storage instance, with the name of the container where the Key Vault backups will be generated.
BLOB_STORAGE_SAS_TOKEN=<blob-storage-sas-token>

# Object ID of the application, tenant or principal to whom the role will be assigned to.
# Do not use the same Object Id of the application, tenant or principal you're using to authenticate the client.
CLIENT_OBJECT_ID=<client-object-id>

# Used to authenticate using Azure AD as a service principal for role-based authentication.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential
AZURE_TENANT_ID=<AD tenant id or name>
AZURE_CLIENT_ID=<ID of the user/service principal to authenticate as>
AZURE_CLIENT_SECRET=<client secret used to authenticate to Azure AD>

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=playback