{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.HDInsight/operations?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.HDInsight/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.HDInsight",
              "resource": "Microsoft.HDInsight",
              "operation": "Register HDInsight resource provider",
              "description": "Register HDInsight resource provider for the subscription"
            },
            "properties": null
          },
          {
            "name": "Microsoft.HDInsight/unregister/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.HDInsight",
              "resource": "Microsoft.HDInsight",
              "operation": "Unregister HDInsight resource provider",
              "description": "Unregister HDInsight resource provider for the subscription"
            },
            "properties": null
          },
          {
            "name":[...]
