{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617855446501447?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:55:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67AA5964F468\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:55:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617855446501447/directory168617855453106380?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:55:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-meta-key": "value",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67AA596FCA5F\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:55:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:55:54.5656927Z",
        "x-ms-file-creation-time": "2023-06-07T22:55:54.5656927Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:55:54.5656927Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617855446501447/directory168617855453106380?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:55:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67AA596FCA5F\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:55:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:55:54.5656927Z",
        "x-ms-file-creation-time": "2023-06-07T22:55:54.5656927Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:55:54.5656927Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-meta-key": "value",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617855446501447/directory168617855453106380?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:55:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:21eda3d7-701a-0031-3d93-992ba2000000\n",
        "Time:2023-06-07T22:55:54.7775181Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617855446501447?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:55:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory168617855453106380",
    "share": "share168617855446501447"
  }
}
