# An Event Grid Topic configured to use the Event Grid Schema
EVENT_GRID_EVENT_GRID_SCHEMA_ENDPOINT="https://<event grid topic name>.<event grid topic region>.eventgrid.azure.net/api/events"
EVENT_GRID_EVENT_GRID_SCHEMA_API_KEY="<event grid api key>"

# An Event Grid Topic configured to use the Cloud Event 1.0 Schema.
EVENT_GRID_CLOUD_EVENT_SCHEMA_ENDPOINT="https://<event grid topic name>.<event grid topic region>.eventgrid.azure.net/api/events"
EVENT_GRID_CLOUD_EVENT_SCHEMA_API_KEY="<event grid api key>"

# A Service Bus Namespace and Queue, used for the sample which shows how to consume events from Service Bus.
SERVICE_BUS_CONNECTION_STRING="Endpoint=sb://<namespace-name>.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<key from the portal>"
SERVICE_BUS_QUEUE_NAME="<queue name>"
