EVENT_GRID_NAMESPACES_ENDPOINT=<eventgrid endpoint>
EVENT_GRID_NAMESPACES_KEY=<eventgrid key>
MAX_DELIVERY_COUNT=<max delivery count>
EVENT_SUBSCRIPTION_NAME=<event subscription name>
TOPIC_NAME=<topic name>
