{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AzureSphere/catalogs?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "040d0490-5bd8-42c7-8829-47b383afced8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AzureSphere/catalogs/resourcetest",
            "name": "resourcetest",
            "type": "microsoft.azuresphere/catalogs",
            "location": "global",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2024-03-26T05:54:10.3489868Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-03-26T05:54:10.3489868Z"
            },
            "properties": {
              "tenantId": "d9ecfbea-3c4d-4de3-b842-9bb898d9c9fa",
              "provisioningState": "Succeeded"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
