{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AzureSphere/catalogs/resourcetest?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00229d00b0ea-0000-0400-0000-660263090000\u0022",
        "mise-correlation-id": "e5b956cc-4a67-45d8-964c-8b4648ab96f1",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.AzureSphere/catalogs/resourcetest",
        "name": "resourcetest",
        "type": "microsoft.azuresphere/catalogs",
        "location": "global",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2024-03-26T05:54:10.3489868Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-03-26T05:54:10.3489868Z"
        },
        "properties": {
          "tenantId": "d9ecfbea-3c4d-4de3-b842-9bb898d9c9fa",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
