{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.cac001.deid.azure.com/deid?api-version=2024-01-16-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "dataType": "Plaintext",
        "inputText": "Hello, my name is John Smith.",
        "operation": "Tag"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "taggerResult": {
          "entities": [
            {
              "category": "Doctor",
              "offset": 18,
              "length": 10,
              "text": "John Smith",
              "confidenceScore": 0.911
            }
          ],
          "stringIndexType": "TextElement_v8"
        }
      }
    }
  ],
  "Variables": {}
}
