ACCOUNT_NAME=<storage-account-name>
ACCOUNT_KEY=<storage-account-key>
ACCOUNT_SAS=<shared-access-signature>
STORAGE_CONNECTION_STRING=<storage-account-connection-string>
STORAGE_SAS_CONNECTION_STRING=<storage-account-sas-connection-string>
