ACCOUNT_NAME=<storage-account-name>
ACCOUNT_KEY=<storage-account-key>
ACCOUNT_SAS=<shared-access-signature>
STORAGE_CONNECTION_STRING=<storage-account-connection-string>
# optional
ENCRYPTION_SCOPE_1=<storage-account-encryption-scope-name1>
ENCRYPTION_SCOPE_2=<storage-account-encryption-scope-name2>
