ACCOUNT_NAME=<storage-account-name>
ACCOUNT_KEY=<storage-account-key>
ACCOUNT_SAS=<shared-access-signature>
STORAGE_CONNECTION_STRING=<storage-account-connection-string>
MD_ACCOUNT_NAME=<managed-disk-storage-account-name>
MD_ACCOUNT_KEY=<managed-disk-storage-account-key>
MD_ACCOUNT_SAS=<managed-disk-shared-access-signature>
MD_STORAGE_CONNECTION_STRING=<managed-disk-storage-account-connection-string>