/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { SavingsPlanOrders } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BillingManagementClient } from "../billingManagementClient";
import {
  SavingsPlanOrderModel,
  SavingsPlanOrdersListByBillingAccountNextOptionalParams,
  SavingsPlanOrdersListByBillingAccountOptionalParams,
  SavingsPlanOrdersListByBillingAccountResponse,
  SavingsPlanOrdersGetByBillingAccountOptionalParams,
  SavingsPlanOrdersGetByBillingAccountResponse,
  SavingsPlanOrdersListByBillingAccountNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing SavingsPlanOrders operations. */
export class SavingsPlanOrdersImpl implements SavingsPlanOrders {
  private readonly client: BillingManagementClient;

  /**
   * Initialize a new instance of the class SavingsPlanOrders class.
   * @param client Reference to the service client
   */
  constructor(client: BillingManagementClient) {
    this.client = client;
  }

  /**
   * List all Savings plan orders by billing account.
   * @param billingAccountName The ID that uniquely identifies a billing account.
   * @param options The options parameters.
   */
  public listByBillingAccount(
    billingAccountName: string,
    options?: SavingsPlanOrdersListByBillingAccountOptionalParams,
  ): PagedAsyncIterableIterator<SavingsPlanOrderModel> {
    const iter = this.listByBillingAccountPagingAll(
      billingAccountName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByBillingAccountPagingPage(
          billingAccountName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByBillingAccountPagingPage(
    billingAccountName: string,
    options?: SavingsPlanOrdersListByBillingAccountOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SavingsPlanOrderModel[]> {
    let result: SavingsPlanOrdersListByBillingAccountResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByBillingAccount(billingAccountName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByBillingAccountNext(
        billingAccountName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByBillingAccountPagingAll(
    billingAccountName: string,
    options?: SavingsPlanOrdersListByBillingAccountOptionalParams,
  ): AsyncIterableIterator<SavingsPlanOrderModel> {
    for await (const page of this.listByBillingAccountPagingPage(
      billingAccountName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get a savings plan order by billing account.
   * @param billingAccountName The ID that uniquely identifies a billing account.
   * @param savingsPlanOrderId Order ID of the savings plan
   * @param options The options parameters.
   */
  getByBillingAccount(
    billingAccountName: string,
    savingsPlanOrderId: string,
    options?: SavingsPlanOrdersGetByBillingAccountOptionalParams,
  ): Promise<SavingsPlanOrdersGetByBillingAccountResponse> {
    return this.client.sendOperationRequest(
      { billingAccountName, savingsPlanOrderId, options },
      getByBillingAccountOperationSpec,
    );
  }

  /**
   * List all Savings plan orders by billing account.
   * @param billingAccountName The ID that uniquely identifies a billing account.
   * @param options The options parameters.
   */
  private _listByBillingAccount(
    billingAccountName: string,
    options?: SavingsPlanOrdersListByBillingAccountOptionalParams,
  ): Promise<SavingsPlanOrdersListByBillingAccountResponse> {
    return this.client.sendOperationRequest(
      { billingAccountName, options },
      listByBillingAccountOperationSpec,
    );
  }

  /**
   * ListByBillingAccountNext
   * @param billingAccountName The ID that uniquely identifies a billing account.
   * @param nextLink The nextLink from the previous successful call to the ListByBillingAccount method.
   * @param options The options parameters.
   */
  private _listByBillingAccountNext(
    billingAccountName: string,
    nextLink: string,
    options?: SavingsPlanOrdersListByBillingAccountNextOptionalParams,
  ): Promise<SavingsPlanOrdersListByBillingAccountNextResponse> {
    return this.client.sendOperationRequest(
      { billingAccountName, nextLink, options },
      listByBillingAccountNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getByBillingAccountOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders/{savingsPlanOrderId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanOrderModel,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand],
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccountName,
    Parameters.savingsPlanOrderId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByBillingAccountOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/savingsPlanOrders",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanOrderModelList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderBy,
    Parameters.skiptoken,
  ],
  urlParameters: [Parameters.$host, Parameters.billingAccountName],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByBillingAccountNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SavingsPlanOrderModelList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccountName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
