{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/?comp=list\u0026timeout=30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.queue.core.windows.net/\u0022\u003E\u003CQueues\u003E\u003CQueue\u003E\u003CName\u003Equeue168678047403804768\u003C/Name\u003E\u003C/Queue\u003E\u003CQueue\u003E\u003CName\u003Equeue168678050645005631\u003C/Name\u003E\u003C/Queue\u003E\u003CQueue\u003E\u003CName\u003Equeue168678050995208108168678051002108721\u003C/Name\u003E\u003C/Queue\u003E\u003C[...]
