{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "origins": {
          "type": "MultiPoint",
          "coordinates": [
            [
              4.85106,
              52.36006
            ],
            [
              4.85056,
              52.36187
            ]
          ]
        },
        "destinations": {
          "type": "MultiPoint",
          "coordinates": [
            [
              4.85003,
              52.36241
            ],
            [
              13.42937,
              52.50931
            ]
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://atlas.microsoft.com/route/matrix/df2ffcd0-1374-4aa9-b7bc-b79ebf44197d?api-version=1.0",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/df2ffcd0-1374-4aa9-b7bc-b79ebf44197d?api-version=1.0\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "matrix": [
          [
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 495,
                  "travelTimeInSeconds": 127,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2022-10-21T15:56:57\u002B02:00",
                  "arrivalTime": "2022-10-21T15:59:04\u002B02:00"
                }
              }
            },
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 669268,
                  "travelTimeInSeconds": 23223,
                  "trafficDelayInSeconds": 1620,
                  "trafficLengthInMeters": 47324,
                  "departureTime": "2022-10-21T15:56:57\u002B02:00",
                  "arrivalTime": "2022-10-21T22:[...]
