{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181289106151?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854EAD4C299\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:52 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181289106151/dir168625181296107533?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854EADFE487\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:16:53.0140295Z",
        "x-ms-file-creation-time": "2023-06-08T19:16:53.0140295Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-08T19:16:53.0140295Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181289106151/destdir168625181303508149?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854EAEAB877\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:16:53.0849911Z",
        "x-ms-file-creation-time": "2023-06-08T19:16:53.0849911Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:16:53.0849911Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181289106151/destdir168625181303508149?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "e9890485-bf47-4d9a-b3d0-aceb18506124",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854EAEAB877\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:53 GMT",
        "x-ms-lease-id": "e9890485-bf47-4d9a-b3d0-aceb18506124",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181289106151/destdir168625181303508149?restype=directory\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-destination-lease-id": "e9890485-bf47-4d9a-b3d0-aceb18506124",
        "x-ms-file-rename-replace-if-exists": "true",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854EB008737\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:16:53.2279095Z",
        "x-ms-file-creation-time": "2023-06-08T19:16:53.0140295Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-08T19:16:53.0140295Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181289106151/destdir168625181303508149?restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854EB008737\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:16:53.2279095Z",
        "x-ms-file-creation-time": "2023-06-08T19:16:53.0140295Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-08T19:16:53.0140295Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181289106151/dir168625181296107533?restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:53b7a2cc-f01a-0062-163d-9a0896000000\n",
        "Time:2023-06-08T19:16:53.3868134Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181289106151?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destdir": "destdir168625181303508149",
    "dir": "dir168625181296107533",
    "share": "share168625181289106151"
  }
}
