{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625179979306337?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854E30641E4\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:39 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625179979306337/dir168625179986402413?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854E3118133\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:16:39.9173939Z",
        "x-ms-file-creation-time": "2023-06-08T19:16:39.9173939Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-08T19:16:39.9173939Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625179979306337/pre1686251799939168625179993901185dir0168625179993907514?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854E31C5514\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-08T19:16:39.9883540Z",
        "x-ms-file-creation-time": "2023-06-08T19:16:39.9883540Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-08T19:16:39.9883540Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625179979306337/pre1686251799939168625179993901185file0168625180015108258?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854E33CD0B6\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-08T19:16:40.2012342Z",
        "x-ms-file-creation-time": "2023-06-08T19:16:40.2012342Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-06-08T19:16:40.2012342Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625179979306337/?comp=list\u0026prefix=pre1686251799939168625179993901185\u0026maxresults=3\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.file.core.windows.net/\u0022 ShareName=\u0022share168625179979306337\u0022 DirectoryPath=\u0022\u0022\u003E\u003CPrefix\u003Epre1686251799939168625179993901185\u003C/Prefix\u003E\u003CMaxResults\u003E3\u003C/MaxResults\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Epre1686251799939168625179993901185dir0168625179993907514\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Epre1686251799939168625179993901185dir1168625180000902217\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Epre1686251799939168625179993901185dir2168625180008000805\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker\u003E1!76!cHJlMTY4NjI1MTc5OTkzOTE2ODYyNTE3OTk5MzkwMTE4NWZpbGUwMTY4NjI1MTgwMDE1MTA4MjU4\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625179979306337/?comp=list\u0026prefix=pre1686251799939168625179993901185\u0026marker=1!76!cHJlMTY4NjI1MTc5OTkzOTE2ODYyNTE3OTk5MzkwMTE4NWZpbGUwMTY4NjI1MTgwMDE1MTA4MjU4\u0026maxresults=6\u0026restype=directory\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625179979306337?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168625179986402413",
    "now": "2023-06-08T19:16:39.939Z",
    "pre1686251799939": "pre1686251799939168625179993901185",
    "pre1686251799939168625179993901185dir0": "pre1686251799939168625179993901185dir0168625179993907514",
    "pre1686251799939168625179993901185dir1": "pre1686251799939168625179993901185dir1168625180000902217",
    "pre1686251799939168625179993901185dir2": "pre1686251799939168625179993901185dir2168625180008000805",
    "pre1686251799939168625179993901185file0": "pre1686251799939168625179993901185file0168625180015108258",
    "pre1686251799939168625179993901185file1": "pre1686251799939168625179993901185file1168625180022206581",
    "pre1686251799939168625179993901185file2": "pre1686251799939168625179993901185file2168625180029207645",
    "share": "share168625179979306337"
  }
}
