{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.cosmos.azure.com/RegionalFailovernode",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 24 Oct 2022 20:35:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "p1",
        "RowKey": "r1",
        "data": "data"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272022-10-24T20%3A35%3A23.3015815Z\u0027\u0022",
        "Location": "https://fakeaccountname.table.cosmos.azure.com/RegionalFailovernode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname-primary.table.cosmos.azure.com/RegionalFailovernode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 24 Oct 2022 20:35:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272022-10-24T20%3A35%3A23.3015815Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname-primary.table.cosmos.azure.com/RegionalFailovernode/$metadata#RegionalFailovernode/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-10-24T20%3A35%3A23.3015815Z\u0027\u0022",
        "PartitionKey": "p1",
        "RowKey": "r1",
        "data": "data",
        "Timestamp": "2022-10-24T20:35:23.3015815Z"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.cosmos.azure.com/RegionalFailovernode(PartitionKey=\u0027p1\u0027,RowKey=\u0027r1\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Mon, 24 Oct 2022 20:35:23 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
