{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1,
                    "gpu": {
                      "count": 1,
                      "sku": "K80"
                    }
                  }
                },
                "volumeMounts": [
                  {
                    "name": "empty-volume",
                    "mountPath": "mnt/mydir"
                  }
                ]
              }
            }
          ],
          "restartPolicy": "OnFailure",
          "osType": "Linux",
          "volumes": [
            {
              "name": "empty-volume",
              "emptyDir": {}
            }
          ],
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid",
              "workspaceKey": "workspaceKey"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerInstance/locations/eastus/operations/e8f3ac07-4f54-4913-b461-1e388ba50f3c?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt1h": "299",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt5m": "99",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "provisioningState": "Pending",
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0,
                    "gpu": {
                      "count": 1,
                      "sku": "K80"
                    }
                  }
                },
                "volumeMounts": [
                  {
                    "name": "empty-volume",
                    "mountPath": "mnt/mydir"
                  }
                ]
              }
            }
          ],
          "initContainers": [],
          "restartPolicy": "OnFailure",
          "osType": "Linux",
          "volumes": [
            {
              "name": "empty-volume",
              "emptyDir": {}
            }
          ],
          "instanceView": {
            "events": [],
            "state": "Pending"
          },
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid"
            }
          }
        },
        "identity": {
          "principalId": "4745ff18-8463-4e01-84b0-8629da1eba57",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "name": "mycontainerGroupxxx",
        "type": "Microsoft.ContainerInstance/containerGroups",
        "location": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerInstance/locations/eastus/operations/e8f3ac07-4f54-4913-b461-1e388ba50f3c?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "status": "Pending",
        "startTime": "2022-07-08T08:20:59.7997281Z",
        "properties": {
          "events": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerInstance/locations/eastus/operations/e8f3ac07-4f54-4913-b461-1e388ba50f3c?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11531"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "status": "Succeeded",
        "startTime": "2022-07-08T08:20:59.7997281Z",
        "properties": {
          "events": [
            {
              "count": 1,
              "firstTimestamp": "2022-07-08T08:39:30Z",
              "lastTimestamp": "2022-07-08T08:39:30Z",
              "name": "Pulling",
              "message": "Pulling image \u0022nginx\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2022-07-08T08:39:42Z",
              "lastTimestamp": "2022-07-08T08:39:42Z",
              "name": "Pulled",
              "message": "Successfully pulled image \u0022nginx\u0022 in 11.433519976s",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2022-07-08T08:39:42Z",
              "lastTimestamp": "2022-07-08T08:39:42Z",
              "name": "Created",
              "message": "Created container my-containerinstancexx",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2022-07-08T08:39:43Z",
              "lastTimestamp": "2022-07-08T08:39:43Z",
              "name": "Started",
              "message": "Started container my-containerinstancexx",
              "type": "Normal"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11530"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "provisioningState": "Succeeded",
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Running",
                    "startTime": "2022-07-08T08:39:43Z",
                    "detailStatus": ""
                  },
                  "events": [
                    {
                      "count": 1,
                      "firstTimestamp": "2022-07-08T08:39:30Z",
                      "lastTimestamp": "2022-07-08T08:39:30Z",
                      "name": "Pulling",
                      "message": "Pulling image \u0022nginx\u0022",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimesta[...]
