{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11528"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "sku": "Standard",
              "provisioningState": "Succeeded",
              "containers": [
                {
                  "name": "my-containerinstancexx",
                  "properties": {
                    "image": "nginx",
                    "command": [],
                    "ports": [
                      {
                        "port": 80
                      }
                    ],
                    "environmentVariables": [],
                    "resources": {
                      "requests": {
                        "memoryInGB": 1.5,
                        "cpu": 1.0,
                        "gpu": {
                          "count": 1,
                          "sku": "K80"
                        }
                      }
                    },
                    "volumeMounts": [
                      {
                        "name": "empty-volume",
                        "mountPath": "mnt/mydir"
                      }
                    ]
                  }
                }
              ],
              "initContainers": [],
              "restartPolicy": "OnFailure",
              "osType": "Linux",
              "volumes": [
                {
                  "name": "empty-volume",
                  "emptyDir": {}
                }
              ],
              "diagnostics": {
                "logAnalytics": {
                  "workspaceId": "workspaceid"
                }
              }
            },
            "identity": {
              "principalId": "4745ff18-8463-4e01-84b0-8629da1eba57",
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "type": "SystemAssigned"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
            "name": "mycontainerGroupxxx",
            "type": "Microsoft.ContainerInstance/containerGroups",
            "location": "eastus"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
