{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11528"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "provisioningState": "Succeeded",
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Running",
                    "startTime": "2022-07-08T06:36:43Z",
                    "detailStatus": ""
                  },
                  "events": [
                    {
                      "count": 1,
                      "firstTimestamp": "2022-07-08T06:36:28Z",
                      "lastTimestamp": "2022-07-08T06:36:28Z",
                      "name": "Pulling",
                      "message": "Pulling image \u0022nginx\u0022",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimestamp": "2022-07-08T06:36:42Z",
                      "lastTimestamp": "2022-07-08T06:36:42Z",
                      "name": "Pulled",
                      "message": "Successfully pulled image \u0022nginx\u0022 in 14.465904081s",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimestamp": "2022-07-08T06:36:43Z",
                      "lastTimestamp": "2022-07-08T06:36:43Z",
                      "name": "Created",
                      "message": "Created container my-containerinstancexx",
                      "type": "Normal"
                    },
                    {
                      "count": 1,
                      "firstTimestamp": "2022-07-08T06:36:43Z",
                      "lastTimestamp": "2022-07-08T06:36:43Z",
                      "name": "Started",
                      "message": "Started container my-containerinstancexx",
                      "type": "Normal"
                    }
                  ]
                },
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0,
                    "gpu": {
                      "count": 1,
                      "sku": "K80"
                    }
                  }
                },
                "volumeMounts": [
                  {
                    "name": "empty-volume",
                    "mountPath": "mnt/mydir"
                  }
                ]
              }
            }
          ],
          "initContainers": [],
          "restartPolicy": "OnFailure",
          "osType": "Linux",
          "volumes": [
            {
              "name": "empty-volume",
              "emptyDir": {}
            }
          ],
          "instanceView": {
            "events": [],
            "state": "Running"
          },
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid"
            }
          }
        },
        "identity": {
          "principalId": "f2db5574-8b3a-4d7e-945e-5b480caa72c3",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "name": "mycontainerGroupxxx",
        "type": "Microsoft.ContainerInstance/containerGroups",
        "location": "eastus"
      }
    }
  ],
  "Variables": {}
}
