{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1
                  }
                },
                "volumeMounts": [
                  {
                    "name": "empty-volume",
                    "mountPath": "mnt/mydir"
                  }
                ]
              }
            }
          ],
          "restartPolicy": "OnFailure",
          "osType": "Linux",
          "volumes": [
            {
              "name": "empty-volume",
              "emptyDir": {}
            }
          ],
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid",
              "workspaceKey": "workspaceKey"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerInstance/locations/eastus2/operations/4d76d058-84a7-441e-97eb-928f0cc4f178?api-version=2018-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt1h": "299",
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt5m": "99",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "provisioningState": "Pending",
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "resources": {
                  "requests": {
                    "memoryInGB": 1.5,
                    "cpu": 1.0
                  }
                },
                "volumeMounts": [
                  {
                    "name": "empty-volume",
                    "mountPath": "mnt/mydir"
                  }
                ]
              }
            }
          ],
          "initContainers": [],
          "restartPolicy": "OnFailure",
          "osType": "Linux",
          "volumes": [
            {
              "name": "empty-volume",
              "emptyDir": {}
            }
          ],
          "instanceView": {
            "events": [],
            "state": "Pending"
          },
          "diagnostics": {
            "logAnalytics": {
              "workspaceId": "workspaceid"
            }
          }
        },
        "identity": {
          "principalId": "23a7b989-8ec7-46f1-b163-06192fd0797a",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "name": "mycontainerGroupxxx",
        "type": "Microsoft.ContainerInstance/containerGroups",
        "location": "eastus2"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerInstance/locations/eastus2/operations/4d76d058-84a7-441e-97eb-928f0cc4f178?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "status": "Pending",
        "startTime": "2023-01-13T06:22:46.8913592Z",
        "properties": {
          "events": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerInstance/locations/eastus2/operations/4d76d058-84a7-441e-97eb-928f0cc4f178?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx",
        "status": "Succeeded",
        "startTime": "2023-01-13T06:22:46.8913592Z",
        "properties": {
          "events": [
            {
              "count": 1,
              "firstTimestamp": "2023-01-13T06:22:52Z",
              "lastTimestamp": "2023-01-13T06:22:52Z",
              "name": "Pulling",
              "message": "pulling image \u0022nginx@sha256:4c1c50d0ffc614f90b93b07d778028dc765548e823f676fb027f61d281ac380d\u0022",
              "type": "Normal"
            },
            {
              "count": 1,
              "firstTimestamp": "2023-01-13T06:23:01Z",
              "lastTimestamp": "2023-01-13T06:23:01Z",
              "name": "Pulled",
              "message": "Successfully pulled image \u0022nginx@sha256:4c1c50d0ffc614f90b93b07d778028dc765548e823f676fb027f61d281ac380d\u0022",
              "type": "Normal"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerInstance/containerGroups/mycontainerGroupxxx?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "properties": {
          "sku": "Standard",
          "provisioningState": "Succeeded",
          "containers": [
            {
              "name": "my-containerinstancexx",
              "properties": {
                "image": "nginx",
                "command": [],
                "ports": [
                  {
                    "port": 80
                  }
                ],
                "environmentVariables": [],
                "instanceView": {
                  "restartCount": 0,
                  "currentState": {
                    "state": "Running",
                    "startTime": "2023-01-13T06:23:12.169Z",
                    "detailStatus": ""
                  },
                  "events": [
                    {
                      "count": 1,
                      "firstTimestamp": "2023-01-13T06:22:52Z",
                      "lastTimestamp": "2023-01-13T06:22:52Z",
                      "name": "Pulling",
                      "message": "pulling image \u0022nginx@sha256:4c1c50d0ffc614f90b93b07d778028dc765548e823f676fb027f61d281ac380d\u0022",
                      "type": "Normal"
                    },
                   [...]
