{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "subscription-key": "FlEIfedJiCE9pnEXvoU6-HWVxB1SP-ddYhEBfV5K3xo"
      },
      "RequestBody": {
        "origins": {
          "type": "MultiPoint",
          "coordinates": [
            [
              4.85106,
              52.36006
            ],
            [
              4.85056,
              52.36187
            ]
          ]
        },
        "destinations": {
          "type": "MultiPoint",
          "coordinates": [
            [
              4.85003,
              52.36241
            ],
            [
              13.42937,
              52.50931
            ]
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://atlas.microsoft.com/route/matrix/546677e7-0e3d-4aed-86c8-f85145e8a25f?api-version=1.0",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/546677e7-0e3d-4aed-86c8-f85145e8a25f?api-version=1.0\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "FlEIfedJiCE9pnEXvoU6-HWVxB1SP-ddYhEBfV5K3xo"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "matrix": [
          [
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 495,
                  "travelTimeInSeconds": 122,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2022-10-20T09:17:57\u002B02:00",
                  "arrivalTime": "2022-10-20T09:19:58\u002B02:00"
                }
              }
            },
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 666616,
                  "travelTimeInSeconds": 22866,
                  "trafficDelayInSeconds": 450,
                  "trafficLengthInMeters": 26413,
                  "departureTime": "2022-10-20T09:17:57\u002B02:00",
                  "arrivalTime": "2022-10-20T15:3[...]
