/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PowerBIResources } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PrivateLinkServicesForPowerBIClient } from "../privateLinkServicesForPowerBIClient";
import {
  PowerBIResourcesListByResourceNameOptionalParams,
  PowerBIResourcesListByResourceNameResponse,
  TenantResource,
  PowerBIResourcesCreateOptionalParams,
  PowerBIResourcesCreateResponse,
  PowerBIResourcesUpdateOptionalParams,
  PowerBIResourcesUpdateResponse,
  PowerBIResourcesDeleteOptionalParams
} from "../models";

/** Class containing PowerBIResources operations. */
export class PowerBIResourcesImpl implements PowerBIResources {
  private readonly client: PrivateLinkServicesForPowerBIClient;

  /**
   * Initialize a new instance of the class PowerBIResources class.
   * @param client Reference to the service client
   */
  constructor(client: PrivateLinkServicesForPowerBIClient) {
    this.client = client;
  }

  /**
   * Gets all the private link resources for the given Azure resource.
   * @param options The options parameters.
   */
  listByResourceName(
    options?: PowerBIResourcesListByResourceNameOptionalParams
  ): Promise<PowerBIResourcesListByResourceNameResponse> {
    return this.client.sendOperationRequest(
      { options },
      listByResourceNameOperationSpec
    );
  }

  /**
   * Creates or updates a Private Link Service Resource for Power BI.
   * @param body Tenant resource to be created or updated.
   * @param options The options parameters.
   */
  create(
    body: TenantResource,
    options?: PowerBIResourcesCreateOptionalParams
  ): Promise<PowerBIResourcesCreateResponse> {
    return this.client.sendOperationRequest(
      { body, options },
      createOperationSpec
    );
  }

  /**
   * Creates or updates a Private Link Service Resource for Power BI.
   * @param body Tenant resource to be created or updated.
   * @param options The options parameters.
   */
  update(
    body: TenantResource,
    options?: PowerBIResourcesUpdateOptionalParams
  ): Promise<PowerBIResourcesUpdateResponse> {
    return this.client.sendOperationRequest(
      { body, options },
      updateOperationSpec
    );
  }

  /**
   * Deletes a Private Link Service Resource for Power BI.
   * @param options The options parameters.
   */
  delete(options?: PowerBIResourcesDeleteOptionalParams): Promise<void> {
    return this.client.sendOperationRequest({ options }, deleteOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByResourceNameOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "TenantResource" } }
        }
      }
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.azureResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.TenantResource
    },
    201: {
      bodyMapper: Mappers.TenantResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.azureResourceName
  ],
  headerParameters: [
    Parameters.accept,
    Parameters.contentType,
    Parameters.clientTenantId
  ],
  mediaType: "json",
  serializer
};
const updateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.TenantResource
    },
    201: {
      bodyMapper: Mappers.TenantResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.azureResourceName
  ],
  headerParameters: [
    Parameters.accept,
    Parameters.contentType,
    Parameters.clientTenantId
  ],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.azureResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
