/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PrivateLinkServicesForPowerBI } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PrivateLinkServicesForPowerBIClient } from "../privateLinkServicesForPowerBIClient";
import {
  PrivateLinkServicesForPowerBIListBySubscriptionIdOptionalParams,
  PrivateLinkServicesForPowerBIListBySubscriptionIdResponse
} from "../models";

/** Class containing PrivateLinkServicesForPowerBI operations. */
export class PrivateLinkServicesForPowerBIImpl
  implements PrivateLinkServicesForPowerBI {
  private readonly client: PrivateLinkServicesForPowerBIClient;

  /**
   * Initialize a new instance of the class PrivateLinkServicesForPowerBI class.
   * @param client Reference to the service client
   */
  constructor(client: PrivateLinkServicesForPowerBIClient) {
    this.client = client;
  }

  /**
   * Gets all the private link resources for the given subscription id.
   * @param options The options parameters.
   */
  listBySubscriptionId(
    options?: PrivateLinkServicesForPowerBIListBySubscriptionIdOptionalParams
  ): Promise<PrivateLinkServicesForPowerBIListBySubscriptionIdResponse> {
    return this.client.sendOperationRequest(
      { options },
      listBySubscriptionIdOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listBySubscriptionIdOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "TenantResource" } }
        }
      }
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
