/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { PrivateLinkResources } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PrivateLinkServicesForPowerBIClient } from "../privateLinkServicesForPowerBIClient";
import {
  PrivateLinkResource,
  PrivateLinkResourcesListByResourceNextOptionalParams,
  PrivateLinkResourcesListByResourceOptionalParams,
  PrivateLinkResourcesListByResourceResponse,
  PrivateLinkResourcesGetOptionalParams,
  PrivateLinkResourcesGetResponse,
  PrivateLinkResourcesListByResourceNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PrivateLinkResources operations. */
export class PrivateLinkResourcesImpl implements PrivateLinkResources {
  private readonly client: PrivateLinkServicesForPowerBIClient;

  /**
   * Initialize a new instance of the class PrivateLinkResources class.
   * @param client Reference to the service client
   */
  constructor(client: PrivateLinkServicesForPowerBIClient) {
    this.client = client;
  }

  /**
   * List private link resources under a specific Power BI resource.
   * @param options The options parameters.
   */
  public listByResource(
    options?: PrivateLinkResourcesListByResourceOptionalParams
  ): PagedAsyncIterableIterator<PrivateLinkResource> {
    const iter = this.listByResourcePagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listByResourcePagingPage(options);
      }
    };
  }

  private async *listByResourcePagingPage(
    options?: PrivateLinkResourcesListByResourceOptionalParams
  ): AsyncIterableIterator<PrivateLinkResource[]> {
    let result = await this._listByResource(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listByResourceNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listByResourcePagingAll(
    options?: PrivateLinkResourcesListByResourceOptionalParams
  ): AsyncIterableIterator<PrivateLinkResource> {
    for await (const page of this.listByResourcePagingPage(options)) {
      yield* page;
    }
  }

  /**
   * List private link resources under a specific Power BI resource.
   * @param options The options parameters.
   */
  private _listByResource(
    options?: PrivateLinkResourcesListByResourceOptionalParams
  ): Promise<PrivateLinkResourcesListByResourceResponse> {
    return this.client.sendOperationRequest(
      { options },
      listByResourceOperationSpec
    );
  }

  /**
   * Get properties of a private link resource.
   * @param privateLinkResourceName The name of private link resource.
   * @param options The options parameters.
   */
  get(
    privateLinkResourceName: string,
    options?: PrivateLinkResourcesGetOptionalParams
  ): Promise<PrivateLinkResourcesGetResponse> {
    return this.client.sendOperationRequest(
      { privateLinkResourceName, options },
      getOperationSpec
    );
  }

  /**
   * ListByResourceNext
   * @param nextLink The nextLink from the previous successful call to the ListByResource method.
   * @param options The options parameters.
   */
  private _listByResourceNext(
    nextLink: string,
    options?: PrivateLinkResourcesListByResourceNextOptionalParams
  ): Promise<PrivateLinkResourcesListByResourceNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listByResourceNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByResourceOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}/privateLinkResources",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourcesListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.azureResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}/privateLinkResources/{privateLinkResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.azureResourceName,
    Parameters.privateLinkResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByResourceNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourcesListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.azureResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
