/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PrivateLinkServiceResourceOperationResults } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PrivateLinkServicesForPowerBIClient } from "../privateLinkServicesForPowerBIClient";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  PrivateLinkServiceResourceOperationResultsGetOptionalParams,
  PrivateLinkServiceResourceOperationResultsGetResponse
} from "../models";

/** Class containing PrivateLinkServiceResourceOperationResults operations. */
export class PrivateLinkServiceResourceOperationResultsImpl
  implements PrivateLinkServiceResourceOperationResults {
  private readonly client: PrivateLinkServicesForPowerBIClient;

  /**
   * Initialize a new instance of the class PrivateLinkServiceResourceOperationResults class.
   * @param client Reference to the service client
   */
  constructor(client: PrivateLinkServicesForPowerBIClient) {
    this.client = client;
  }

  /**
   * Gets operation result of Private Link Service Resources for Power BI.
   * @param options The options parameters.
   */
  async beginGet(
    options?: PrivateLinkServiceResourceOperationResultsGetOptionalParams
  ): Promise<
    PollerLike<
      PollOperationState<PrivateLinkServiceResourceOperationResultsGetResponse>,
      PrivateLinkServiceResourceOperationResultsGetResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<PrivateLinkServiceResourceOperationResultsGetResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(sendOperation, { options }, getOperationSpec);
    return new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      lroResourceLocationConfig: "azure-async-operation"
    });
  }

  /**
   * Gets operation result of Private Link Service Resources for Power BI.
   * @param options The options parameters.
   */
  async beginGetAndWait(
    options?: PrivateLinkServiceResourceOperationResultsGetOptionalParams
  ): Promise<PrivateLinkServiceResourceOperationResultsGetResponse> {
    const poller = await this.beginGet(options);
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AsyncOperationDetail
    },
    201: {
      bodyMapper: Mappers.AsyncOperationDetail
    },
    202: {
      bodyMapper: Mappers.AsyncOperationDetail
    },
    204: {
      bodyMapper: Mappers.AsyncOperationDetail
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
