/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { Entities } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ManagementGroupsAPIContext } from "../managementGroupsAPIContext";
import {
  EntityInfo,
  EntitiesListNextOptionalParams,
  EntitiesListOptionalParams,
  EntitiesListResponse,
  EntitiesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Entities operations. */
export class EntitiesImpl implements Entities {
  private readonly client: ManagementGroupsAPIContext;

  /**
   * Initialize a new instance of the class Entities class.
   * @param client Reference to the service client
   */
  constructor(client: ManagementGroupsAPIContext) {
    this.client = client;
  }

  /**
   * List all entities (Management Groups, Subscriptions, etc.) for the authenticated user.
   *
   * @param options The options parameters.
   */
  public list(
    options?: EntitiesListOptionalParams
  ): PagedAsyncIterableIterator<EntityInfo> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: EntitiesListOptionalParams
  ): AsyncIterableIterator<EntityInfo[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: EntitiesListOptionalParams
  ): AsyncIterableIterator<EntityInfo> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * List all entities (Management Groups, Subscriptions, etc.) for the authenticated user.
   *
   * @param options The options parameters.
   */
  private _list(
    options?: EntitiesListOptionalParams
  ): Promise<EntitiesListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: EntitiesListNextOptionalParams
  ): Promise<EntitiesListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Management/getEntities",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.EntityListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.skiptoken,
    Parameters.filter,
    Parameters.top,
    Parameters.skip,
    Parameters.select,
    Parameters.search,
    Parameters.view,
    Parameters.groupName
  ],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept, Parameters.cacheControl],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EntityListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.skiptoken,
    Parameters.filter,
    Parameters.top,
    Parameters.skip,
    Parameters.select,
    Parameters.search,
    Parameters.view,
    Parameters.groupName
  ],
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept, Parameters.cacheControl],
  serializer
};
