/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { AppResiliencyOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ContainerAppsAPIClient } from "../containerAppsAPIClient.js";
import {
  AppResiliency,
  AppResiliencyListNextOptionalParams,
  AppResiliencyListOptionalParams,
  AppResiliencyListResponse,
  AppResiliencyCreateOrUpdateOptionalParams,
  AppResiliencyCreateOrUpdateResponse,
  AppResiliencyUpdateOptionalParams,
  AppResiliencyUpdateResponse,
  AppResiliencyDeleteOptionalParams,
  AppResiliencyGetOptionalParams,
  AppResiliencyGetResponse,
  AppResiliencyListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing AppResiliencyOperations operations. */
export class AppResiliencyOperationsImpl implements AppResiliencyOperations {
  private readonly client: ContainerAppsAPIClient;

  /**
   * Initialize a new instance of the class AppResiliencyOperations class.
   * @param client Reference to the service client
   */
  constructor(client: ContainerAppsAPIClient) {
    this.client = client;
  }

  /**
   * List container app resiliency policies.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param appName Name of the Container App.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    appName: string,
    options?: AppResiliencyListOptionalParams,
  ): PagedAsyncIterableIterator<AppResiliency> {
    const iter = this.listPagingAll(resourceGroupName, appName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          appName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    appName: string,
    options?: AppResiliencyListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AppResiliency[]> {
    let result: AppResiliencyListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, appName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        appName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    appName: string,
    options?: AppResiliencyListOptionalParams,
  ): AsyncIterableIterator<AppResiliency> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      appName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Create or update container app resiliency policy.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param appName Name of the Container App.
   * @param name Name of the resiliency policy.
   * @param resiliencyEnvelope The resiliency policy to create or update.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    appName: string,
    name: string,
    resiliencyEnvelope: AppResiliency,
    options?: AppResiliencyCreateOrUpdateOptionalParams,
  ): Promise<AppResiliencyCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, appName, name, resiliencyEnvelope, options },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Update container app resiliency policy.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param appName Name of the Container App.
   * @param name Name of the resiliency policy.
   * @param resiliencyEnvelope The resiliency policy to update.
   * @param options The options parameters.
   */
  update(
    resourceGroupName: string,
    appName: string,
    name: string,
    resiliencyEnvelope: AppResiliency,
    options?: AppResiliencyUpdateOptionalParams,
  ): Promise<AppResiliencyUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, appName, name, resiliencyEnvelope, options },
      updateOperationSpec,
    );
  }

  /**
   * Delete container app resiliency policy.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param appName Name of the Container App.
   * @param name Name of the resiliency policy.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    appName: string,
    name: string,
    options?: AppResiliencyDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, appName, name, options },
      deleteOperationSpec,
    );
  }

  /**
   * Get container app resiliency policy.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param appName Name of the Container App.
   * @param name Name of the resiliency policy.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    appName: string,
    name: string,
    options?: AppResiliencyGetOptionalParams,
  ): Promise<AppResiliencyGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, appName, name, options },
      getOperationSpec,
    );
  }

  /**
   * List container app resiliency policies.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param appName Name of the Container App.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    appName: string,
    options?: AppResiliencyListOptionalParams,
  ): Promise<AppResiliencyListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, appName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param appName Name of the Container App.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    appName: string,
    nextLink: string,
    options?: AppResiliencyListNextOptionalParams,
  ): Promise<AppResiliencyListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, appName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{appName}/resiliencyPolicies/{name}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.AppResiliency,
    },
    201: {
      bodyMapper: Mappers.AppResiliency,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  requestBody: Parameters.resiliencyEnvelope,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.appName,
    Parameters.name,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const updateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{appName}/resiliencyPolicies/{name}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.AppResiliency,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  requestBody: Parameters.resiliencyEnvelope,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.appName,
    Parameters.name,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{appName}/resiliencyPolicies/{name}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.appName,
    Parameters.name,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{appName}/resiliencyPolicies/{name}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AppResiliency,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.appName,
    Parameters.name,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{appName}/resiliencyPolicies",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AppResiliencyCollection,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.appName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AppResiliencyCollection,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.appName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
