/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ContainerAppsRevisions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ContainerAppsAPIClient } from "../containerAppsAPIClient";
import {
  Revision,
  ContainerAppsRevisionsListRevisionsNextOptionalParams,
  ContainerAppsRevisionsListRevisionsOptionalParams,
  ContainerAppsRevisionsListRevisionsResponse,
  ContainerAppsRevisionsGetRevisionOptionalParams,
  ContainerAppsRevisionsGetRevisionResponse,
  ContainerAppsRevisionsActivateRevisionOptionalParams,
  ContainerAppsRevisionsDeactivateRevisionOptionalParams,
  ContainerAppsRevisionsRestartRevisionOptionalParams,
  ContainerAppsRevisionsListRevisionsNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ContainerAppsRevisions operations. */
export class ContainerAppsRevisionsImpl implements ContainerAppsRevisions {
  private readonly client: ContainerAppsAPIClient;

  /**
   * Initialize a new instance of the class ContainerAppsRevisions class.
   * @param client Reference to the service client
   */
  constructor(client: ContainerAppsAPIClient) {
    this.client = client;
  }

  /**
   * Get the Revisions for a given Container App.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param containerAppName Name of the Container App for which Revisions are needed.
   * @param options The options parameters.
   */
  public listRevisions(
    resourceGroupName: string,
    containerAppName: string,
    options?: ContainerAppsRevisionsListRevisionsOptionalParams
  ): PagedAsyncIterableIterator<Revision> {
    const iter = this.listRevisionsPagingAll(
      resourceGroupName,
      containerAppName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listRevisionsPagingPage(
          resourceGroupName,
          containerAppName,
          options
        );
      }
    };
  }

  private async *listRevisionsPagingPage(
    resourceGroupName: string,
    containerAppName: string,
    options?: ContainerAppsRevisionsListRevisionsOptionalParams
  ): AsyncIterableIterator<Revision[]> {
    let result = await this._listRevisions(
      resourceGroupName,
      containerAppName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listRevisionsNext(
        resourceGroupName,
        containerAppName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listRevisionsPagingAll(
    resourceGroupName: string,
    containerAppName: string,
    options?: ContainerAppsRevisionsListRevisionsOptionalParams
  ): AsyncIterableIterator<Revision> {
    for await (const page of this.listRevisionsPagingPage(
      resourceGroupName,
      containerAppName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Get the Revisions for a given Container App.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param containerAppName Name of the Container App for which Revisions are needed.
   * @param options The options parameters.
   */
  private _listRevisions(
    resourceGroupName: string,
    containerAppName: string,
    options?: ContainerAppsRevisionsListRevisionsOptionalParams
  ): Promise<ContainerAppsRevisionsListRevisionsResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, containerAppName, options },
      listRevisionsOperationSpec
    );
  }

  /**
   * Get a revision of a Container App.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param containerAppName Name of the Container App.
   * @param revisionName Name of the Container App Revision.
   * @param options The options parameters.
   */
  getRevision(
    resourceGroupName: string,
    containerAppName: string,
    revisionName: string,
    options?: ContainerAppsRevisionsGetRevisionOptionalParams
  ): Promise<ContainerAppsRevisionsGetRevisionResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, containerAppName, revisionName, options },
      getRevisionOperationSpec
    );
  }

  /**
   * Activates a revision for a Container App
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param containerAppName Name of the Container App.
   * @param revisionName Name of the Container App Revision.
   * @param options The options parameters.
   */
  activateRevision(
    resourceGroupName: string,
    containerAppName: string,
    revisionName: string,
    options?: ContainerAppsRevisionsActivateRevisionOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, containerAppName, revisionName, options },
      activateRevisionOperationSpec
    );
  }

  /**
   * Deactivates a revision for a Container App
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param containerAppName Name of the Container App.
   * @param revisionName Name of the Container App Revision.
   * @param options The options parameters.
   */
  deactivateRevision(
    resourceGroupName: string,
    containerAppName: string,
    revisionName: string,
    options?: ContainerAppsRevisionsDeactivateRevisionOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, containerAppName, revisionName, options },
      deactivateRevisionOperationSpec
    );
  }

  /**
   * Restarts a revision for a Container App
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param containerAppName Name of the Container App.
   * @param revisionName Name of the Container App Revision.
   * @param options The options parameters.
   */
  restartRevision(
    resourceGroupName: string,
    containerAppName: string,
    revisionName: string,
    options?: ContainerAppsRevisionsRestartRevisionOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, containerAppName, revisionName, options },
      restartRevisionOperationSpec
    );
  }

  /**
   * ListRevisionsNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param containerAppName Name of the Container App for which Revisions are needed.
   * @param nextLink The nextLink from the previous successful call to the ListRevisions method.
   * @param options The options parameters.
   */
  private _listRevisionsNext(
    resourceGroupName: string,
    containerAppName: string,
    nextLink: string,
    options?: ContainerAppsRevisionsListRevisionsNextOptionalParams
  ): Promise<ContainerAppsRevisionsListRevisionsNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, containerAppName, nextLink, options },
      listRevisionsNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listRevisionsOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RevisionCollection
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.containerAppName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getRevisionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Revision
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.containerAppName,
    Parameters.revisionName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const activateRevisionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/activate",
  httpMethod: "POST",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.DefaultErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.containerAppName,
    Parameters.revisionName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deactivateRevisionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/deactivate",
  httpMethod: "POST",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.DefaultErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.containerAppName,
    Parameters.revisionName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const restartRevisionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/revisions/{revisionName}/restart",
  httpMethod: "POST",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.DefaultErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.containerAppName,
    Parameters.revisionName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listRevisionsNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RevisionCollection
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.containerAppName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
