/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { MaintenanceConfigurations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ContainerAppsAPIClient } from "../containerAppsAPIClient.js";
import {
  MaintenanceConfigurationResource,
  MaintenanceConfigurationsListNextOptionalParams,
  MaintenanceConfigurationsListOptionalParams,
  MaintenanceConfigurationsListResponse,
  MaintenanceConfigurationsCreateOrUpdateOptionalParams,
  MaintenanceConfigurationsCreateOrUpdateResponse,
  MaintenanceConfigurationsDeleteOptionalParams,
  MaintenanceConfigurationsGetOptionalParams,
  MaintenanceConfigurationsGetResponse,
  MaintenanceConfigurationsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing MaintenanceConfigurations operations. */
export class MaintenanceConfigurationsImpl implements MaintenanceConfigurations {
  private readonly client: ContainerAppsAPIClient;

  /**
   * Initialize a new instance of the class MaintenanceConfigurations class.
   * @param client Reference to the service client
   */
  constructor(client: ContainerAppsAPIClient) {
    this.client = client;
  }

  /**
   * Gets all maintenance configurations in the specified Managed Environment.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param environmentName The name of the Managed Environment.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    environmentName: string,
    options?: MaintenanceConfigurationsListOptionalParams,
  ): PagedAsyncIterableIterator<MaintenanceConfigurationResource> {
    const iter = this.listPagingAll(resourceGroupName, environmentName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(resourceGroupName, environmentName, options, settings);
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    environmentName: string,
    options?: MaintenanceConfigurationsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<MaintenanceConfigurationResource[]> {
    let result: MaintenanceConfigurationsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, environmentName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(resourceGroupName, environmentName, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    environmentName: string,
    options?: MaintenanceConfigurationsListOptionalParams,
  ): AsyncIterableIterator<MaintenanceConfigurationResource> {
    for await (const page of this.listPagingPage(resourceGroupName, environmentName, options)) {
      yield* page;
    }
  }

  /**
   * Gets all maintenance configurations in the specified Managed Environment.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param environmentName The name of the Managed Environment.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    environmentName: string,
    options?: MaintenanceConfigurationsListOptionalParams,
  ): Promise<MaintenanceConfigurationsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, environmentName, options },
      listOperationSpec,
    );
  }

  /**
   * Create or update the maintenance configuration for Managed Environment.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param environmentName The name of the Managed Environment.
   * @param configName The name of the maintenance configuration.
   * @param maintenanceConfigurationEnvelope Parameters to set the maintenance configuration for
   *                                         ManagedEnvironment .
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    environmentName: string,
    configName: string,
    maintenanceConfigurationEnvelope: MaintenanceConfigurationResource,
    options?: MaintenanceConfigurationsCreateOrUpdateOptionalParams,
  ): Promise<MaintenanceConfigurationsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        environmentName,
        configName,
        maintenanceConfigurationEnvelope,
        options,
      },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Deletes the maintenance configuration of a ManagedEnvironment .
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param environmentName The name of the Managed Environment.
   * @param configName The name of the maintenance configuration.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    environmentName: string,
    configName: string,
    options?: MaintenanceConfigurationsDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, environmentName, configName, options },
      deleteOperationSpec,
    );
  }

  /**
   * Gets the maintenance configuration of a ManagedEnvironment .
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param environmentName The name of the Managed Environment.
   * @param configName The name of the maintenance configuration.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    environmentName: string,
    configName: string,
    options?: MaintenanceConfigurationsGetOptionalParams,
  ): Promise<MaintenanceConfigurationsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, environmentName, configName, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param environmentName The name of the Managed Environment.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    environmentName: string,
    nextLink: string,
    options?: MaintenanceConfigurationsListNextOptionalParams,
  ): Promise<MaintenanceConfigurationsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, environmentName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/maintenanceConfigurations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MaintenanceConfigurationCollection,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.environmentName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/maintenanceConfigurations/{configName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.MaintenanceConfigurationResource,
    },
    201: {
      bodyMapper: Mappers.MaintenanceConfigurationResource,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  requestBody: Parameters.maintenanceConfigurationEnvelope,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.environmentName1,
    Parameters.configName,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/maintenanceConfigurations/{configName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.environmentName1,
    Parameters.configName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/maintenanceConfigurations/{configName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MaintenanceConfigurationResource,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.environmentName1,
    Parameters.configName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MaintenanceConfigurationCollection,
    },
    default: {
      bodyMapper: Mappers.DefaultErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.environmentName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
