{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617837773104011?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9F00DA836\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617837773104011/dir168617837779905579?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9F0188BA3\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:57.8331555Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:57.8331555Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:52:57.8331555Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617837773104011/dir168617837779905579/file168617837786701021",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "11",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9F022EA5E\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-07T22:52:57.9011166Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:57.9011166Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-07T22:52:57.9011166Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617837773104011/dir168617837779905579/file168617837786701021?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-meta-a": "a",
        "x-ms-meta-b": "b",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9F02CFB12\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617837773104011/dir168617837779905579/file168617837786701021",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:58 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB67A9F02CFB12\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-07T22:52:57.9670802Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:57.9011166Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-07T22:52:57.9011166Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-a": "a",
        "x-ms-meta-b": "b",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617837773104011?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168617837779905579",
    "file": "file168617837786701021",
    "share": "share168617837773104011"
  }
}
