{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830684978806193?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB20129BC9EF91\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:20:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830684978806193/file167830684987509937?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB20129BD9CDA6\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:20:49 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830684978806193/file167830684987509937?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167830684978806193/file167830684987509937?position=11\u0026action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB20129BF3FA78\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:20:50 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830684978806193/file167830684987509937?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "MDEyMzQ1NjcwMTIzNDU2NzAxMjM0NTY3MDEyMzQ1Njc=",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DB20129BF3FA78\u0022",
        "Last-Modified": "Wed, 08 Mar 2023 20:20:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 08 Mar 2023 20:20:49 GMT",
        "x-ms-encryption-key-sha256": "3QFFFpRA5\u002BXANHqwwbT4yXDmrT/2JaLt/FKHjzhOdoE=",
        "x-ms-group": "$superuser",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-owner": "$superuser",
        "x-ms-permissions": "rw-r-----",
        "x-ms-resource-type": "file",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "Hello World"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167830684978806193?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir167830684987504937",
    "file": "file167830684987509937",
    "filesystem": "filesystem167830684978806193"
  }
}
