/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { createSpan } from "../tracing";
import { IntegrationRuntimes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as coreTracing from "@azure/core-tracing";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ArtifactsClient } from "../artifactsClient";
import {
  IntegrationRuntimesListOptionalParams,
  IntegrationRuntimesListResponse,
  IntegrationRuntimesGetOptionalParams,
  IntegrationRuntimesGetResponse
} from "../models";

/** Class containing IntegrationRuntimes operations. */
export class IntegrationRuntimesImpl implements IntegrationRuntimes {
  private readonly client: ArtifactsClient;

  /**
   * Initialize a new instance of the class IntegrationRuntimes class.
   * @param client Reference to the service client
   */
  constructor(client: ArtifactsClient) {
    this.client = client;
  }

  /**
   * List Integration Runtimes
   * @param options The options parameters.
   */
  async list(
    options?: IntegrationRuntimesListOptionalParams
  ): Promise<IntegrationRuntimesListResponse> {
    const { span } = createSpan("ArtifactsClient-list", options || {});
    try {
      const result = await this.client.sendOperationRequest(
        { options },
        listOperationSpec
      );
      return result as IntegrationRuntimesListResponse;
    } catch (error: any) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }

  /**
   * Get Integration Runtime
   * @param integrationRuntimeName The Integration Runtime name
   * @param options The options parameters.
   */
  async get(
    integrationRuntimeName: string,
    options?: IntegrationRuntimesGetOptionalParams
  ): Promise<IntegrationRuntimesGetResponse> {
    const { span } = createSpan("ArtifactsClient-get", options || {});
    try {
      const result = await this.client.sendOperationRequest(
        { integrationRuntimeName, options },
        getOperationSpec
      );
      return result as IntegrationRuntimesGetResponse;
    } catch (error: any) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/integrationRuntimes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.IntegrationRuntimeListResponse
    },
    default: {
      bodyMapper: Mappers.ErrorContract
    }
  },
  queryParameters: [Parameters.apiVersion4],
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/integrationRuntimes/{integrationRuntimeName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.IntegrationRuntimeResource
    },
    default: {
      bodyMapper: Mappers.ErrorContract
    }
  },
  queryParameters: [Parameters.apiVersion4],
  urlParameters: [Parameters.endpoint, Parameters.integrationRuntimeName],
  headerParameters: [Parameters.accept],
  serializer
};
