{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/directions/json?query=47.6133869%2C-122.0235832%3A47.5565375%2C-122.1411044\u0026api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "supportingPoints": {
          "type": "GeometryCollection",
          "geometries": [
            {
              "type": "Point",
              "coordinates": [
                -122.2471259,
                47.5434278
              ]
            },
            {
              "type": "Point",
              "coordinates": [
                -122.2962099,
                47.526172
              ]
            }
          ]
        },
        "avoidVignette": [
          "AUS",
          "CHE"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "formatVersion": "0.0.12",
        "routes": [
          {
            "summary": {
              "lengthInMeters": 78341,
              "travelTimeInSeconds": 6403,
              "trafficDelayInSeconds": 0,
              "trafficLengthInMeters": 0,
              "departureTime": "2023-11-13T18:47:41-08:00",
              "arrivalTime": "2023-11-13T20:34:23-08:00"
            },
            "legs": [
              {
                "summary": {
                  "lengthInMeters": 78341,
                  "travelTimeInSeconds": 6403,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2023-11-13T18:47:41-08:00",
                  "arrivalTime": "2023-11-13T20:34:23-08:00"
                },
                "points": [
                  {
                    "latitude": 47.61378,
                    "longitude": -122.02358
                  },
                  {
                    "latitude": 47.61378,
                    "longitude": -122.02303
                  },
                  {
                    "latitude": 47.6138,
                    "longitude": -122.02294
                  },
                  {
                    "latitude": 47.61385,
                    "longitude": -122.02282
                  },
                  {
                    "latitude": 47.61394,
                    "long[...]
