/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { APICollection } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import {
  ApiCollectionResponse,
  APICollectionListNextOptionalParams,
  APICollectionListOptionalParams,
  APICollectionListResponse,
  APICollectionGetOptionalParams,
  APICollectionGetResponse,
  APICollectionListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing APICollection operations. */
export class APICollectionImpl implements APICollection {
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class APICollection class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * Gets a list of Azure API Management APIs that have been onboarded to Defender for APIs. If an Azure
   * API Management API is onboarded to Defender for APIs, the system will monitor the operations within
   * the Azure API Management API for intrusive behaviors and provide alerts for attacks that have been
   * detected.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of the API Management service.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    serviceName: string,
    options?: APICollectionListOptionalParams
  ): PagedAsyncIterableIterator<ApiCollectionResponse> {
    const iter = this.listPagingAll(resourceGroupName, serviceName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          serviceName,
          options,
          settings
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    serviceName: string,
    options?: APICollectionListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<ApiCollectionResponse[]> {
    let result: APICollectionListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, serviceName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        serviceName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    serviceName: string,
    options?: APICollectionListOptionalParams
  ): AsyncIterableIterator<ApiCollectionResponse> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      serviceName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of Azure API Management APIs that have been onboarded to Defender for APIs. If an Azure
   * API Management API is onboarded to Defender for APIs, the system will monitor the operations within
   * the Azure API Management API for intrusive behaviors and provide alerts for attacks that have been
   * detected.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of the API Management service.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    serviceName: string,
    options?: APICollectionListOptionalParams
  ): Promise<APICollectionListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, options },
      listOperationSpec
    );
  }

  /**
   * Gets an Azure API Management API if it has been onboarded to Defender for APIs. If an Azure API
   * Management API is onboarded to Defender for APIs, the system will monitor the operations within the
   * Azure API Management API for intrusive behaviors and provide alerts for attacks that have been
   * detected.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of the API Management service.
   * @param apiCollectionId A string representing the apiCollections resource within the
   *                        Microsoft.Security provider namespace. This string matches the Azure API Management API name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    serviceName: string,
    apiCollectionId: string,
    options?: APICollectionGetOptionalParams
  ): Promise<APICollectionGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, apiCollectionId, options },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of the API Management service.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    serviceName: string,
    nextLink: string,
    options?: APICollectionListNextOptionalParams
  ): Promise<APICollectionListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serviceName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/providers/Microsoft.Security/apiCollections",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApiCollectionResponseList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion18],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName1,
    Parameters.serviceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/providers/Microsoft.Security/apiCollections/{apiCollectionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApiCollectionResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion18],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName1,
    Parameters.serviceName,
    Parameters.apiCollectionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApiCollectionResponseList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroupName1,
    Parameters.serviceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
