/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { DefenderForStorage } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import {
  SettingName,
  DefenderForStorageGetOptionalParams,
  DefenderForStorageGetResponse,
  DefenderForStorageSetting,
  DefenderForStorageCreateOptionalParams,
  DefenderForStorageCreateResponse,
} from "../models";

/** Class containing DefenderForStorage operations. */
export class DefenderForStorageImpl implements DefenderForStorage {
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class DefenderForStorage class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * Gets the Defender for Storage settings for the specified storage account.
   * @param resourceId The identifier of the resource.
   * @param settingName Defender for Storage setting name.
   * @param options The options parameters.
   */
  get(
    resourceId: string,
    settingName: SettingName,
    options?: DefenderForStorageGetOptionalParams,
  ): Promise<DefenderForStorageGetResponse> {
    return this.client.sendOperationRequest(
      { resourceId, settingName, options },
      getOperationSpec,
    );
  }

  /**
   * Creates or updates the Defender for Storage settings on a specified storage account.
   * @param resourceId The identifier of the resource.
   * @param settingName Defender for Storage setting name.
   * @param defenderForStorageSetting Defender for Storage Settings
   * @param options The options parameters.
   */
  create(
    resourceId: string,
    settingName: SettingName,
    defenderForStorageSetting: DefenderForStorageSetting,
    options?: DefenderForStorageCreateOptionalParams,
  ): Promise<DefenderForStorageCreateResponse> {
    return this.client.sendOperationRequest(
      { resourceId, settingName, defenderForStorageSetting, options },
      createOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DefenderForStorageSetting,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion10],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceId,
    Parameters.settingName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOperationSpec: coreClient.OperationSpec = {
  path: "/{resourceId}/providers/Microsoft.Security/defenderForStorageSettings/{settingName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.DefenderForStorageSetting,
    },
    201: {
      bodyMapper: Mappers.DefenderForStorageSetting,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  requestBody: Parameters.defenderForStorageSetting,
  queryParameters: [Parameters.apiVersion10],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceId,
    Parameters.settingName1,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
