/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { GitLabGroups } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import {
  GitLabGroup,
  GitLabGroupsListNextOptionalParams,
  GitLabGroupsListOptionalParams,
  GitLabGroupsListResponse,
  GitLabGroupsListAvailableOptionalParams,
  GitLabGroupsListAvailableResponse,
  GitLabGroupsGetOptionalParams,
  GitLabGroupsGetResponse,
  GitLabGroupsListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing GitLabGroups operations. */
export class GitLabGroupsImpl implements GitLabGroups {
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class GitLabGroups class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * Returns a list of GitLab groups onboarded to the connector.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param securityConnectorName The security connector name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: GitLabGroupsListOptionalParams,
  ): PagedAsyncIterableIterator<GitLabGroup> {
    const iter = this.listPagingAll(
      resourceGroupName,
      securityConnectorName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          securityConnectorName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: GitLabGroupsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<GitLabGroup[]> {
    let result: GitLabGroupsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        securityConnectorName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        securityConnectorName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: GitLabGroupsListOptionalParams,
  ): AsyncIterableIterator<GitLabGroup> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      securityConnectorName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Returns a list of all GitLab groups accessible by the user token consumed by the connector.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param securityConnectorName The security connector name.
   * @param options The options parameters.
   */
  listAvailable(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: GitLabGroupsListAvailableOptionalParams,
  ): Promise<GitLabGroupsListAvailableResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, securityConnectorName, options },
      listAvailableOperationSpec,
    );
  }

  /**
   * Returns a list of GitLab groups onboarded to the connector.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param securityConnectorName The security connector name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: GitLabGroupsListOptionalParams,
  ): Promise<GitLabGroupsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, securityConnectorName, options },
      listOperationSpec,
    );
  }

  /**
   * Returns a monitored GitLab Group resource for a given fully-qualified name.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param securityConnectorName The security connector name.
   * @param groupFQName The GitLab group fully-qualified name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    securityConnectorName: string,
    groupFQName: string,
    options?: GitLabGroupsGetOptionalParams,
  ): Promise<GitLabGroupsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, securityConnectorName, groupFQName, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param securityConnectorName The security connector name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    securityConnectorName: string,
    nextLink: string,
    options?: GitLabGroupsListNextOptionalParams,
  ): Promise<GitLabGroupsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, securityConnectorName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listAvailableOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/listAvailableGitLabGroups",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.GitLabGroupListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  queryParameters: [Parameters.apiVersion15],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.securityConnectorName,
    Parameters.resourceGroupName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitLabGroups",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GitLabGroupListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  queryParameters: [Parameters.apiVersion15],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.securityConnectorName,
    Parameters.resourceGroupName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/devops/default/gitLabGroups/{groupFQName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GitLabGroup,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  queryParameters: [Parameters.apiVersion15],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.securityConnectorName,
    Parameters.resourceGroupName1,
    Parameters.groupFQName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GitLabGroupListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponseAutoGenerated,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.securityConnectorName,
    Parameters.resourceGroupName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
