/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { SecurityConnectorGovernanceRule } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import {
  GovernanceRule,
  SecurityConnectorGovernanceRuleListNextOptionalParams,
  SecurityConnectorGovernanceRuleListOptionalParams,
  SecurityConnectorGovernanceRuleListResponse,
  SecurityConnectorGovernanceRuleListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing SecurityConnectorGovernanceRule operations. */
export class SecurityConnectorGovernanceRuleImpl
  implements SecurityConnectorGovernanceRule {
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class SecurityConnectorGovernanceRule class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * Get a list of all relevant governanceRules over a security connector level scope
   * @param resourceGroupName The name of the resource group within the user's subscription. The name is
   *                          case insensitive.
   * @param securityConnectorName The security connector name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: SecurityConnectorGovernanceRuleListOptionalParams
  ): PagedAsyncIterableIterator<GovernanceRule> {
    const iter = this.listPagingAll(
      resourceGroupName,
      securityConnectorName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          securityConnectorName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: SecurityConnectorGovernanceRuleListOptionalParams
  ): AsyncIterableIterator<GovernanceRule[]> {
    let result = await this._list(
      resourceGroupName,
      securityConnectorName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        securityConnectorName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: SecurityConnectorGovernanceRuleListOptionalParams
  ): AsyncIterableIterator<GovernanceRule> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      securityConnectorName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Get a list of all relevant governanceRules over a security connector level scope
   * @param resourceGroupName The name of the resource group within the user's subscription. The name is
   *                          case insensitive.
   * @param securityConnectorName The security connector name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    securityConnectorName: string,
    options?: SecurityConnectorGovernanceRuleListOptionalParams
  ): Promise<SecurityConnectorGovernanceRuleListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, securityConnectorName, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group within the user's subscription. The name is
   *                          case insensitive.
   * @param securityConnectorName The security connector name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    securityConnectorName: string,
    nextLink: string,
    options?: SecurityConnectorGovernanceRuleListNextOptionalParams
  ): Promise<SecurityConnectorGovernanceRuleListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, securityConnectorName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/providers/Microsoft.Security/governanceRules",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GovernanceRuleList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion18],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.securityConnectorName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GovernanceRuleList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion18],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.securityConnectorName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
