/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SecurityConnectorGovernanceRulesExecuteStatus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  SecurityConnectorGovernanceRulesExecuteStatusGetOptionalParams,
  SecurityConnectorGovernanceRulesExecuteStatusGetResponse
} from "../models";

/** Class containing SecurityConnectorGovernanceRulesExecuteStatus operations. */
export class SecurityConnectorGovernanceRulesExecuteStatusImpl
  implements SecurityConnectorGovernanceRulesExecuteStatus {
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class SecurityConnectorGovernanceRulesExecuteStatus class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * Get a specific governanceRule execution status for the requested scope by ruleId and operationId
   * @param resourceGroupName The name of the resource group within the user's subscription. The name is
   *                          case insensitive.
   * @param securityConnectorName The security connector name.
   * @param ruleId The security GovernanceRule key - unique key for the standard GovernanceRule
   * @param operationId The security GovernanceRule execution key - unique key for the execution of
   *                    GovernanceRule
   * @param options The options parameters.
   */
  async beginGet(
    resourceGroupName: string,
    securityConnectorName: string,
    ruleId: string,
    operationId: string,
    options?: SecurityConnectorGovernanceRulesExecuteStatusGetOptionalParams
  ): Promise<
    PollerLike<
      PollOperationState<
        SecurityConnectorGovernanceRulesExecuteStatusGetResponse
      >,
      SecurityConnectorGovernanceRulesExecuteStatusGetResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<SecurityConnectorGovernanceRulesExecuteStatusGetResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      {
        resourceGroupName,
        securityConnectorName,
        ruleId,
        operationId,
        options
      },
      getOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs
    });
    await poller.poll();
    return poller;
  }

  /**
   * Get a specific governanceRule execution status for the requested scope by ruleId and operationId
   * @param resourceGroupName The name of the resource group within the user's subscription. The name is
   *                          case insensitive.
   * @param securityConnectorName The security connector name.
   * @param ruleId The security GovernanceRule key - unique key for the standard GovernanceRule
   * @param operationId The security GovernanceRule execution key - unique key for the execution of
   *                    GovernanceRule
   * @param options The options parameters.
   */
  async beginGetAndWait(
    resourceGroupName: string,
    securityConnectorName: string,
    ruleId: string,
    operationId: string,
    options?: SecurityConnectorGovernanceRulesExecuteStatusGetOptionalParams
  ): Promise<SecurityConnectorGovernanceRulesExecuteStatusGetResponse> {
    const poller = await this.beginGet(
      resourceGroupName,
      securityConnectorName,
      ruleId,
      operationId,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/providers/Microsoft.Security/governanceRules/{ruleId}/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExecuteRuleStatus
    },
    201: {
      bodyMapper: Mappers.ExecuteRuleStatus
    },
    202: {
      bodyMapper: Mappers.ExecuteRuleStatus
    },
    204: {
      bodyMapper: Mappers.ExecuteRuleStatus
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion18],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.ruleId,
    Parameters.securityConnectorName,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
