/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { SecureScoreControlDefinitions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import {
  SecureScoreControlDefinitionItem,
  SecureScoreControlDefinitionsListNextOptionalParams,
  SecureScoreControlDefinitionsListOptionalParams,
  SecureScoreControlDefinitionsListResponse,
  SecureScoreControlDefinitionsListBySubscriptionNextOptionalParams,
  SecureScoreControlDefinitionsListBySubscriptionOptionalParams,
  SecureScoreControlDefinitionsListBySubscriptionResponse,
  SecureScoreControlDefinitionsListNextResponse,
  SecureScoreControlDefinitionsListBySubscriptionNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing SecureScoreControlDefinitions operations. */
export class SecureScoreControlDefinitionsImpl
  implements SecureScoreControlDefinitions
{
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class SecureScoreControlDefinitions class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * List the available security controls, their assessments, and the max score
   * @param options The options parameters.
   */
  public list(
    options?: SecureScoreControlDefinitionsListOptionalParams,
  ): PagedAsyncIterableIterator<SecureScoreControlDefinitionItem> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: SecureScoreControlDefinitionsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SecureScoreControlDefinitionItem[]> {
    let result: SecureScoreControlDefinitionsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: SecureScoreControlDefinitionsListOptionalParams,
  ): AsyncIterableIterator<SecureScoreControlDefinitionItem> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * For a specified subscription, list the available security controls, their assessments, and the max
   * score
   * @param options The options parameters.
   */
  public listBySubscription(
    options?: SecureScoreControlDefinitionsListBySubscriptionOptionalParams,
  ): PagedAsyncIterableIterator<SecureScoreControlDefinitionItem> {
    const iter = this.listBySubscriptionPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySubscriptionPagingPage(options, settings);
      },
    };
  }

  private async *listBySubscriptionPagingPage(
    options?: SecureScoreControlDefinitionsListBySubscriptionOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SecureScoreControlDefinitionItem[]> {
    let result: SecureScoreControlDefinitionsListBySubscriptionResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySubscription(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySubscriptionNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySubscriptionPagingAll(
    options?: SecureScoreControlDefinitionsListBySubscriptionOptionalParams,
  ): AsyncIterableIterator<SecureScoreControlDefinitionItem> {
    for await (const page of this.listBySubscriptionPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * List the available security controls, their assessments, and the max score
   * @param options The options parameters.
   */
  private _list(
    options?: SecureScoreControlDefinitionsListOptionalParams,
  ): Promise<SecureScoreControlDefinitionsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * For a specified subscription, list the available security controls, their assessments, and the max
   * score
   * @param options The options parameters.
   */
  private _listBySubscription(
    options?: SecureScoreControlDefinitionsListBySubscriptionOptionalParams,
  ): Promise<SecureScoreControlDefinitionsListBySubscriptionResponse> {
    return this.client.sendOperationRequest(
      { options },
      listBySubscriptionOperationSpec,
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: SecureScoreControlDefinitionsListNextOptionalParams,
  ): Promise<SecureScoreControlDefinitionsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }

  /**
   * ListBySubscriptionNext
   * @param nextLink The nextLink from the previous successful call to the ListBySubscription method.
   * @param options The options parameters.
   */
  private _listBySubscriptionNext(
    nextLink: string,
    options?: SecureScoreControlDefinitionsListBySubscriptionNextOptionalParams,
  ): Promise<SecureScoreControlDefinitionsListBySubscriptionNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listBySubscriptionNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Security/secureScoreControlDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SecureScoreControlDefinitionList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion20],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const listBySubscriptionOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Security/secureScoreControlDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SecureScoreControlDefinitionList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion20],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SecureScoreControlDefinitionList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
const listBySubscriptionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SecureScoreControlDefinitionList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
