/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { Topology } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import {
  TopologyResource,
  TopologyListNextOptionalParams,
  TopologyListOptionalParams,
  TopologyListByHomeRegionNextOptionalParams,
  TopologyListByHomeRegionOptionalParams,
  TopologyListResponse,
  TopologyListByHomeRegionResponse,
  TopologyGetOptionalParams,
  TopologyGetResponse,
  TopologyListNextResponse,
  TopologyListByHomeRegionNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Topology operations. */
export class TopologyImpl implements Topology {
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class Topology class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * Gets a list that allows to build a topology view of a subscription.
   * @param options The options parameters.
   */
  public list(
    options?: TopologyListOptionalParams
  ): PagedAsyncIterableIterator<TopologyResource> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: TopologyListOptionalParams
  ): AsyncIterableIterator<TopologyResource[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: TopologyListOptionalParams
  ): AsyncIterableIterator<TopologyResource> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets a list that allows to build a topology view of a subscription and location.
   * @param options The options parameters.
   */
  public listByHomeRegion(
    options?: TopologyListByHomeRegionOptionalParams
  ): PagedAsyncIterableIterator<TopologyResource> {
    const iter = this.listByHomeRegionPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listByHomeRegionPagingPage(options);
      }
    };
  }

  private async *listByHomeRegionPagingPage(
    options?: TopologyListByHomeRegionOptionalParams
  ): AsyncIterableIterator<TopologyResource[]> {
    let result = await this._listByHomeRegion(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listByHomeRegionNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listByHomeRegionPagingAll(
    options?: TopologyListByHomeRegionOptionalParams
  ): AsyncIterableIterator<TopologyResource> {
    for await (const page of this.listByHomeRegionPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets a list that allows to build a topology view of a subscription.
   * @param options The options parameters.
   */
  private _list(
    options?: TopologyListOptionalParams
  ): Promise<TopologyListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Gets a list that allows to build a topology view of a subscription and location.
   * @param options The options parameters.
   */
  private _listByHomeRegion(
    options?: TopologyListByHomeRegionOptionalParams
  ): Promise<TopologyListByHomeRegionResponse> {
    return this.client.sendOperationRequest(
      { options },
      listByHomeRegionOperationSpec
    );
  }

  /**
   * Gets a specific topology component.
   * @param resourceGroupName The name of the resource group within the user's subscription. The name is
   *                          case insensitive.
   * @param topologyResourceName Name of a topology resources collection.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    topologyResourceName: string,
    options?: TopologyGetOptionalParams
  ): Promise<TopologyGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, topologyResourceName, options },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: TopologyListNextOptionalParams
  ): Promise<TopologyListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }

  /**
   * ListByHomeRegionNext
   * @param nextLink The nextLink from the previous successful call to the ListByHomeRegion method.
   * @param options The options parameters.
   */
  private _listByHomeRegionNext(
    nextLink: string,
    options?: TopologyListByHomeRegionNextOptionalParams
  ): Promise<TopologyListByHomeRegionNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listByHomeRegionNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/topologies",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion9],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listByHomeRegionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/topologies",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion9],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.ascLocation
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/topologies/{topologyResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyResource
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion9],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.ascLocation,
    Parameters.topologyResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion9],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByHomeRegionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion9],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.ascLocation
  ],
  headerParameters: [Parameters.accept],
  serializer
};
