{
  "Entries": [
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/dcr-abcdefghijklmnopqrstuvwxyztyuiop/streams/Custom-MyTableRawData?api-version=2023-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022Time\u0022:\u00222022-06-23T04:09:46.799Z\u0022,\u0022AdditionalContext\u0022:\u0022additional logs context\u0022},{\u0022Time\u0022:\u00222022-06-23T04:09:46.799Z\u0022,\u0022AdditionalContext\u0022:\u0022additional logs context\u0022},{\u0022Time\u0022:\u00222022-06-23T04:09:46.799Z\u0022,\u0022AdditionalContext\u0022:\u0022additional logs context\u0022},{\u0022Time\u0022:\u00222022-06-23T04:09:46.799Z\u0022,\u0022AdditionalContext\u0022:\u0022additional logs context\u0022},{\u0022Ti[...]
