{
  "Entries": [
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/dcr-abcdefghijklmnopqrstuvwxyztyuiop/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\u0331\n",
        "\uFFFDP\u0000\uFFFD\uFFFDW\uFFFD;k\\nb\uFFFD\u0016\uFFFD\uFFFDS\uFFFD )!\uFFFD\u000E9\u0004\u047B\uFFFD\u0010=A\u3DDE\uFFFD\uD835\uDFA1\u001DoChB\uFFFD)\u0015\uFFFD*\u04B6\uFFFDe\u0013\uB9AC6\uFFFD\uFFFD\u003E\uFFFD\u003C\uFFFD\uFFFD~\\\uFFFDe\uFFFD\uFFFD2\uFFFD\uFFFDc\uFFFD\u073B\u07D6M\uFFFD\uFFFD\uFFFD]\uFFFD\uFFFD\u0013\uFFFDD\u0022\uFFFDH$\u0012\uFFFDD\u0022\uFFFDH$\u0012\uFFFDD\u0022\uFFFD[...]
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/fake-id/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\u0331\n",
        "\uFFFDP\u0000\uFFFD\uFFFDW\uFFFD;k\\nb\[...]
[...]
