{
  "Entries": [
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/dcr-abcdefghijklmnopqrstuvwxyztyuiop/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\u0331\n",
        "\uFFFDP\u0000\uFFFD\uFFFDW\uFFFD;k\\nb\uFFFD\u0016\uFFFD\uFFFDS\uFFFD )!\uFFFD\u000E9\u0004\u047B\uFFFD\u0010\uFFFDD\uFFFDz\uFFFD\uFFFDwz\uFFFDv\uFFFD\r",
        "\uFFFD\t)\uFFFDT\u012AH\uFFFD6\uFFFDM\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u0018\uFFFD\uFFFD\uFFFDq\u001D\uFFFD\uFFFD\uFFFD\u000E\u02FC\u000E\uFFFD\uFFFDs\uFFFD~[6-\uFFFD{v\uFFFD\uFFFDWN$\u0012\uFFFDD\u0022\uFFFDH$\u0012\uFFFDD\u[...]
