{
  "Entries": [
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/dcr-abcdefghijklmnopqrstuvwxyztyuiop/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\uFFFD\u034A\uFFFD\uFFFDY\uFFFD\uFFFD]\t\uFFFD8\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDL\u0705\uFFFD\u0014\u0007\uFFFD\u0004\t\uFFFDd\u0060\u0006\uFFFD\uFFFD\uFFFD\u003E\u0022\uFFFD\u0005\u001E\uFFFD\u054Bk\uFFFD\u0027\uFFFD\uFFFD\uFFFDA\uFFFD?\uFFFD\uFFFD/\uFFFD\uFFFD\u04FF\uFFFD\uFFFD\uFFFD\uFFFD\u0012?\u0011\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFDO\uFFFD\uFFFD\uFFFD\uFFFD6\uFFFD\uFFFD\uFFFD\u007F\uFFFD\uFFFD\u05FF\uFFFD[...]
[...]
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/fake-id/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\u06BF\n",
        "\uFFFD\uFFFDU\uFFFD\uFFFD[Y\uFFFDN\uFFF[...]
[...]
