{
  "Entries": [
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/fake-id/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\u0331\n",
        "\uFFFDP\u0000\uFFFD\uFFFDW\uFFFD;k\\nb\uFFFD\u0016\uFFFD\uFFFDS\uFFFD )!\uFFFD\u000E9\u0004\u047B\uFFFD\u0010=D|\uFFFD\uFFFD\u000F\uFFFD\uFFFD\u0019\uFFFD\uFFFD6\uFFFD\u0026\uFFFD\uFFFDR\u0011\uFFFD\u0022m\uFFFDX6\uFFFDn\uFFFDj\uFFFD\uFFFD\uFFFDc\uFFFD\u00FE\uFFFD\uFFFDu\\\uFFFDn:,\uFFFD:\u003C\uFFFD\u03FD\uFFFDm\u0674\\\uFFFD\uFFFD\uFFFD[^9\uFFFDH$\u0012\uFFFDD\u0022\uFFFDH$\u0012\uFFFDD\u0022\[...]
[...]
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/dcr-abcdefghijklmnopqrstuvwxyztyuiop/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\u0331\n",
        "\uFFFDP\u0[...]
[...]
