{
  "Entries": [
    {
      "RequestUri": "https://thisurl-logsingestion-somethinglocation123abcrd.monitor.azure.com/dataCollectionRules/immutable-id-123/streams/Custom-MyTableRawData?api-version=2021-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": [
        "\u001F\uFFFD\b\u0000\u0000\u0000\u0000\u0000\u0000\n",
        "\uFFFD\u06BD\u0280\uFFFDU\uFFFD\uFFFDS\t_\uFFFD\u023B\u007Fg\u0026\uFFFDx\n",
        "\uFFFD\u0014\uFFFD\u0060\uFFFD\u0004bR$\uFFFD \uFFFD\uFFFD\uFFFD\b\uFFFD\uFFFDjg\u000Fwwu\uFFFD_\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD?\uFFFD\uFFFD\uFFFDo\u007F\u025F\uFFFD\uFFFD\uFFFD\uFFFDo\uFFFD~\uFFFD\u04FF\uFFFDy\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD?\uFFFD\uFFFD\uFFFD_\uFFFD\uFFFD\u000F\u007F\uFFFD\uFFFD\uFFFD\uFFFD\uFFFD\u05FF\uFFFD\uFFFD[...]
[...]
