/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { CustomizationPolicies } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { VMwareCloudSimple } from "../vMwareCloudSimple";
import {
  CustomizationPolicy,
  CustomizationPoliciesListNextOptionalParams,
  CustomizationPoliciesListOptionalParams,
  CustomizationPoliciesListOperationResponse,
  CustomizationPoliciesGetOptionalParams,
  CustomizationPoliciesGetResponse,
  CustomizationPoliciesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing CustomizationPolicies operations. */
export class CustomizationPoliciesImpl implements CustomizationPolicies {
  private readonly client: VMwareCloudSimple;

  /**
   * Initialize a new instance of the class CustomizationPolicies class.
   * @param client Reference to the service client
   */
  constructor(client: VMwareCloudSimple) {
    this.client = client;
  }

  /**
   * Returns list of customization policies in region for private cloud
   * @param regionId The region Id (westus, eastus)
   * @param pcName The private cloud name
   * @param options The options parameters.
   */
  public list(
    regionId: string,
    pcName: string,
    options?: CustomizationPoliciesListOptionalParams
  ): PagedAsyncIterableIterator<CustomizationPolicy> {
    const iter = this.listPagingAll(regionId, pcName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(regionId, pcName, options);
      }
    };
  }

  private async *listPagingPage(
    regionId: string,
    pcName: string,
    options?: CustomizationPoliciesListOptionalParams
  ): AsyncIterableIterator<CustomizationPolicy[]> {
    let result = await this._list(regionId, pcName, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        regionId,
        pcName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    regionId: string,
    pcName: string,
    options?: CustomizationPoliciesListOptionalParams
  ): AsyncIterableIterator<CustomizationPolicy> {
    for await (const page of this.listPagingPage(regionId, pcName, options)) {
      yield* page;
    }
  }

  /**
   * Returns list of customization policies in region for private cloud
   * @param regionId The region Id (westus, eastus)
   * @param pcName The private cloud name
   * @param options The options parameters.
   */
  private _list(
    regionId: string,
    pcName: string,
    options?: CustomizationPoliciesListOptionalParams
  ): Promise<CustomizationPoliciesListOperationResponse> {
    return this.client.sendOperationRequest(
      { regionId, pcName, options },
      listOperationSpec
    );
  }

  /**
   * Returns customization policy by its name
   * @param regionId The region Id (westus, eastus)
   * @param pcName The private cloud name
   * @param customizationPolicyName customization policy name
   * @param options The options parameters.
   */
  get(
    regionId: string,
    pcName: string,
    customizationPolicyName: string,
    options?: CustomizationPoliciesGetOptionalParams
  ): Promise<CustomizationPoliciesGetResponse> {
    return this.client.sendOperationRequest(
      { regionId, pcName, customizationPolicyName, options },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param regionId The region Id (westus, eastus)
   * @param pcName The private cloud name
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    regionId: string,
    pcName: string,
    nextLink: string,
    options?: CustomizationPoliciesListNextOptionalParams
  ): Promise<CustomizationPoliciesListNextResponse> {
    return this.client.sendOperationRequest(
      { regionId, pcName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CustomizationPoliciesListResponse
    },
    default: {
      bodyMapper: Mappers.CsrpError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.regionId,
    Parameters.pcName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies/{customizationPolicyName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CustomizationPolicy
    },
    default: {
      bodyMapper: Mappers.CsrpError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.regionId,
    Parameters.pcName,
    Parameters.customizationPolicyName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CustomizationPoliciesListResponse
    },
    default: {
      bodyMapper: Mappers.CsrpError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.regionId,
    Parameters.nextLink,
    Parameters.pcName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
