/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { VirtualNetworks } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { VMwareCloudSimple } from "../vMwareCloudSimple";
import {
  VirtualNetwork,
  VirtualNetworksListNextOptionalParams,
  VirtualNetworksListOptionalParams,
  VirtualNetworksListResponse,
  VirtualNetworksGetOptionalParams,
  VirtualNetworksGetResponse,
  VirtualNetworksListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing VirtualNetworks operations. */
export class VirtualNetworksImpl implements VirtualNetworks {
  private readonly client: VMwareCloudSimple;

  /**
   * Initialize a new instance of the class VirtualNetworks class.
   * @param client Reference to the service client
   */
  constructor(client: VMwareCloudSimple) {
    this.client = client;
  }

  /**
   * Return list of virtual networks in location for private cloud
   * @param regionId The region Id (westus, eastus)
   * @param pcName The private cloud name
   * @param resourcePoolName Resource pool used to derive vSphere cluster which contains virtual networks
   * @param options The options parameters.
   */
  public list(
    regionId: string,
    pcName: string,
    resourcePoolName: string,
    options?: VirtualNetworksListOptionalParams
  ): PagedAsyncIterableIterator<VirtualNetwork> {
    const iter = this.listPagingAll(
      regionId,
      pcName,
      resourcePoolName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(regionId, pcName, resourcePoolName, options);
      }
    };
  }

  private async *listPagingPage(
    regionId: string,
    pcName: string,
    resourcePoolName: string,
    options?: VirtualNetworksListOptionalParams
  ): AsyncIterableIterator<VirtualNetwork[]> {
    let result = await this._list(regionId, pcName, resourcePoolName, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        regionId,
        pcName,
        resourcePoolName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    regionId: string,
    pcName: string,
    resourcePoolName: string,
    options?: VirtualNetworksListOptionalParams
  ): AsyncIterableIterator<VirtualNetwork> {
    for await (const page of this.listPagingPage(
      regionId,
      pcName,
      resourcePoolName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Return list of virtual networks in location for private cloud
   * @param regionId The region Id (westus, eastus)
   * @param pcName The private cloud name
   * @param resourcePoolName Resource pool used to derive vSphere cluster which contains virtual networks
   * @param options The options parameters.
   */
  private _list(
    regionId: string,
    pcName: string,
    resourcePoolName: string,
    options?: VirtualNetworksListOptionalParams
  ): Promise<VirtualNetworksListResponse> {
    return this.client.sendOperationRequest(
      { regionId, pcName, resourcePoolName, options },
      listOperationSpec
    );
  }

  /**
   * Return virtual network by its name
   * @param regionId The region Id (westus, eastus)
   * @param pcName The private cloud name
   * @param virtualNetworkName virtual network id (vsphereId)
   * @param options The options parameters.
   */
  get(
    regionId: string,
    pcName: string,
    virtualNetworkName: string,
    options?: VirtualNetworksGetOptionalParams
  ): Promise<VirtualNetworksGetResponse> {
    return this.client.sendOperationRequest(
      { regionId, pcName, virtualNetworkName, options },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param regionId The region Id (westus, eastus)
   * @param pcName The private cloud name
   * @param resourcePoolName Resource pool used to derive vSphere cluster which contains virtual networks
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    regionId: string,
    pcName: string,
    resourcePoolName: string,
    nextLink: string,
    options?: VirtualNetworksListNextOptionalParams
  ): Promise<VirtualNetworksListNextResponse> {
    return this.client.sendOperationRequest(
      { regionId, pcName, resourcePoolName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualNetworkListResponse
    },
    default: {
      bodyMapper: Mappers.CsrpError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.resourcePoolName1],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.regionId,
    Parameters.pcName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks/{virtualNetworkName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualNetwork
    },
    default: {
      bodyMapper: Mappers.CsrpError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.regionId,
    Parameters.pcName,
    Parameters.virtualNetworkName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualNetworkListResponse
    },
    default: {
      bodyMapper: Mappers.CsrpError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.resourcePoolName1],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.regionId,
    Parameters.nextLink,
    Parameters.pcName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
