{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Informatica.DataManagement/organizations/resourcetest?api-version=2024-05-08",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Informatica.DataManagement/organizations?api-version=2024-05-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type 'organizations' could not be found in the namespace 'Informatica.DataManagement' for api version '2024-05-08'. The supported api-versions are '2023-03-01-preview,2023-08-20-preview'."
        }
      }
    }
  ],
  "Variables": {}
}
