// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import type { SmtpUsernames } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { CommunicationServiceManagementClient } from "../communicationServiceManagementClient.js";
import type {
  SmtpUsernameResource,
  SmtpUsernamesListNextOptionalParams,
  SmtpUsernamesListOptionalParams,
  SmtpUsernamesListResponse,
  SmtpUsernamesGetOptionalParams,
  SmtpUsernamesGetResponse,
  SmtpUsernamesCreateOrUpdateOptionalParams,
  SmtpUsernamesCreateOrUpdateResponse,
  SmtpUsernamesDeleteOptionalParams,
  SmtpUsernamesListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing SmtpUsernames operations. */
export class SmtpUsernamesImpl implements SmtpUsernames {
  private readonly client: CommunicationServiceManagementClient;

  /**
   * Initialize a new instance of the class SmtpUsernames class.
   * @param client Reference to the service client
   */
  constructor(client: CommunicationServiceManagementClient) {
    this.client = client;
  }

  /**
   * Get all SmtpUsernameResources for a Communication resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param communicationServiceName The name of the CommunicationService resource.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    communicationServiceName: string,
    options?: SmtpUsernamesListOptionalParams,
  ): PagedAsyncIterableIterator<SmtpUsernameResource> {
    const iter = this.listPagingAll(resourceGroupName, communicationServiceName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(resourceGroupName, communicationServiceName, options, settings);
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    communicationServiceName: string,
    options?: SmtpUsernamesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SmtpUsernameResource[]> {
    let result: SmtpUsernamesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, communicationServiceName, options);
      const page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        communicationServiceName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      const page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    communicationServiceName: string,
    options?: SmtpUsernamesListOptionalParams,
  ): AsyncIterableIterator<SmtpUsernameResource> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      communicationServiceName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get all SmtpUsernameResources for a Communication resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param communicationServiceName The name of the CommunicationService resource.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    communicationServiceName: string,
    options?: SmtpUsernamesListOptionalParams,
  ): Promise<SmtpUsernamesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, communicationServiceName, options },
      listOperationSpec,
    );
  }

  /**
   * Get a SmtpUsernameResource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param communicationServiceName The name of the CommunicationService resource.
   * @param smtpUsername The name of the SmtpUsernameResource.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    communicationServiceName: string,
    smtpUsername: string,
    options?: SmtpUsernamesGetOptionalParams,
  ): Promise<SmtpUsernamesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, communicationServiceName, smtpUsername, options },
      getOperationSpec,
    );
  }

  /**
   * Create or update an SmtpUsernameResource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param communicationServiceName The name of the CommunicationService resource.
   * @param smtpUsername The name of the SmtpUsernameResource.
   * @param parameters Parameters for the create or update operation
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    communicationServiceName: string,
    smtpUsername: string,
    parameters: SmtpUsernameResource,
    options?: SmtpUsernamesCreateOrUpdateOptionalParams,
  ): Promise<SmtpUsernamesCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        communicationServiceName,
        smtpUsername,
        parameters,
        options,
      },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Operation to delete a single SmtpUsername resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param communicationServiceName The name of the CommunicationService resource.
   * @param smtpUsername The name of the SmtpUsernameResource.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    communicationServiceName: string,
    smtpUsername: string,
    options?: SmtpUsernamesDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, communicationServiceName, smtpUsername, options },
      deleteOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param communicationServiceName The name of the CommunicationService resource.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    communicationServiceName: string,
    nextLink: string,
    options?: SmtpUsernamesListNextOptionalParams,
  ): Promise<SmtpUsernamesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, communicationServiceName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/smtpUsernames",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SmtpUsernameResourceCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.communicationServiceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/smtpUsernames/{smtpUsername}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SmtpUsernameResource,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.communicationServiceName,
    Parameters.smtpUsername,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/smtpUsernames/{smtpUsername}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.SmtpUsernameResource,
    },
    201: {
      bodyMapper: Mappers.SmtpUsernameResource,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters9,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.communicationServiceName,
    Parameters.smtpUsername,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServices/{communicationServiceName}/smtpUsernames/{smtpUsername}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.communicationServiceName,
    Parameters.smtpUsername,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SmtpUsernameResourceCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.communicationServiceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
