/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { tracingClient } from "../tracing.js";
import { NumberAllotment } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { TieringClient } from "../tieringClient.js";
import {
  NumberAllotmentGetAcquiredNumberLimitsOptionalParams,
  NumberAllotmentGetAcquiredNumberLimitsResponse
} from "../models/index.js";

/** Class containing NumberAllotment operations. */
export class NumberAllotmentImpl implements NumberAllotment {
  private readonly client: TieringClient;

  /**
   * Initialize a new instance of the class NumberAllotment class.
   * @param client Reference to the service client
   */
  constructor(client: TieringClient) {
    this.client = client;
  }

  /**
   * Get acquired numbers and limits for a resource.
   * @param resourceId Resource Id. Must be a valid GUID
   * @param options The options parameters.
   */
  async getAcquiredNumberLimits(
    resourceId: string,
    options?: NumberAllotmentGetAcquiredNumberLimitsOptionalParams
  ): Promise<NumberAllotmentGetAcquiredNumberLimitsResponse> {
    return tracingClient.withSpan(
      "TieringClient.getAcquiredNumberLimits",
      options ?? {},
      async (options) => {
        return this.client.sendOperationRequest(
          { resourceId, options },
          getAcquiredNumberLimitsOperationSpec
        ) as Promise<NumberAllotmentGetAcquiredNumberLimitsResponse>;
      }
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getAcquiredNumberLimitsOperationSpec: coreClient.OperationSpec = {
  path: "/administration/resources/{resourceId}/telephone-number-summary",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper:
        Mappers.Paths190FnhrAdministrationResourcesResourceidTelephoneNumberSummaryGetResponses200ContentApplicationJsonSchema
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.resourceId],
  headerParameters: [Parameters.accept],
  serializer
};
