/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { tracingClient } from "../tracing.js";
import { Tiering } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { TieringClient } from "../tieringClient.js";
import {
  TieringGetByResourceIdOptionalParams,
  TieringGetByResourceIdResponse
} from "../models/index.js";

/** Class containing Tiering operations. */
export class TieringImpl implements Tiering {
  private readonly client: TieringClient;

  /**
   * Initialize a new instance of the class Tiering class.
   * @param client Reference to the service client
   */
  constructor(client: TieringClient) {
    this.client = client;
  }

  /**
   *  Get the tiering data for a given resource
   * @param resourceId Resource Id. Must be a valid GUID
   * @param options The options parameters.
   */
  async getByResourceId(
    resourceId: string,
    options?: TieringGetByResourceIdOptionalParams
  ): Promise<TieringGetByResourceIdResponse> {
    return tracingClient.withSpan(
      "TieringClient.getByResourceId",
      options ?? {},
      async (options) => {
        return this.client.sendOperationRequest(
          { resourceId, options },
          getByResourceIdOperationSpec
        ) as Promise<TieringGetByResourceIdResponse>;
      }
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getByResourceIdOperationSpec: coreClient.OperationSpec = {
  path: "/administration/tiers/resources/{resourceId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AcsTier
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.resourceId],
  headerParameters: [Parameters.accept],
  serializer
};
