/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { OperationsResultsLocation } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { KustoManagementClient } from "../kustoManagementClient";
import { OperationsResultsLocationGetOptionalParams } from "../models";

/** Class containing OperationsResultsLocation operations. */
export class OperationsResultsLocationImpl
  implements OperationsResultsLocation {
  private readonly client: KustoManagementClient;

  /**
   * Initialize a new instance of the class OperationsResultsLocation class.
   * @param client Reference to the service client
   */
  constructor(client: KustoManagementClient) {
    this.client = client;
  }

  /**
   * Returns operation results.
   * @param location Azure location (region) name.
   * @param operationId The Guid of the operation ID
   * @param options The options parameters.
   */
  get(
    location: string,
    operationId: string,
    options?: OperationsResultsLocationGetOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { location, operationId, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/locations/{location}/operationResults/{operationId}",
  httpMethod: "GET",
  responses: { 200: {}, 202: {}, default: {} },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.operationId
  ],
  serializer
};
