/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { OperationsResultsLocation } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { KustoManagementClient } from "../kustoManagementClient.js";
import {
  OperationsResultsLocationGetOptionalParams,
  OperationsResultsLocationGetResponse,
} from "../models/index.js";

/** Class containing OperationsResultsLocation operations. */
export class OperationsResultsLocationImpl
  implements OperationsResultsLocation
{
  private readonly client: KustoManagementClient;

  /**
   * Initialize a new instance of the class OperationsResultsLocation class.
   * @param client Reference to the service client
   */
  constructor(client: KustoManagementClient) {
    this.client = client;
  }

  /**
   * Returns operation results.
   * @param location The name of Azure region.
   * @param operationId The ID of an ongoing async operation.
   * @param options The options parameters.
   */
  get(
    location: string,
    operationId: string,
    options?: OperationsResultsLocationGetOptionalParams,
  ): Promise<OperationsResultsLocationGetResponse> {
    return this.client.sendOperationRequest(
      { location, operationId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/locations/{location}/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {},
    202: {
      headersMapper: Mappers.OperationsResultsLocationGetHeaders,
    },
    default: {},
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.operationId,
  ],
  serializer,
};
