/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
import { __asyncDelegator, __asyncGenerator, __asyncValues, __await } from "tslib";
import { tracingClient } from "../tracing.js";
import { setContinuationToken } from "../pagingHelper.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
/// <reference lib="esnext.asynciterable" />
/** Class containing EntraIdAssignments operations. */
export class EntraIdAssignmentsImpl {
    /**
     * Initialize a new instance of the class EntraIdAssignments class.
     * @param client Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Updates Entra access assignments in bulk.
     * @param body Set of assignments to be added, updated or removed.
     * @param options The options parameters.
     */
    listUpdate(body, options) {
        const iter = this.updatePagingAll(body, options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.updatePagingPage(body, options, settings);
            },
        };
    }
    updatePagingPage(body, options, settings) {
        return __asyncGenerator(this, arguments, function* updatePagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield __await(this._update(body, options));
                let page = result.value || [];
                continuationToken = result.nextLink;
                setContinuationToken(page, continuationToken);
                yield yield __await(page);
            }
            while (continuationToken) {
                result = yield __await(this._updateNext(body, continuationToken, options));
                continuationToken = result.nextLink;
                let page = result.value || [];
                setContinuationToken(page, continuationToken);
                yield yield __await(page);
            }
        });
    }
    updatePagingAll(body, options) {
        return __asyncGenerator(this, arguments, function* updatePagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = __asyncValues(this.updatePagingPage(body, options)), _f; _f = yield __await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield __await(yield* __asyncDelegator(__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield __await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Updates Entra access assignments in bulk.
     * @param body Set of assignments to be added, updated or removed.
     * @param options The options parameters.
     */
    async _update(body, options) {
        return tracingClient.withSpan("IdentityRestClient._update", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ body, options }, updateOperationSpec);
        });
    }
    /**
     * Lists Entra access assignments.
     * @param options The options parameters.
     */
    async list(options) {
        return tracingClient.withSpan("IdentityRestClient.list", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ options }, listOperationSpec);
        });
    }
    /**
     * UpdateNext
     * @param body Set of assignments to be added, updated or removed.
     * @param nextLink The nextLink from the previous successful call to the Update method.
     * @param options The options parameters.
     */
    async _updateNext(body, nextLink, options) {
        return tracingClient.withSpan("IdentityRestClient._updateNext", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ body, nextLink, options }, updateNextOperationSpec);
        });
    }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const updateOperationSpec = {
    path: "/access/entra/assignments",
    httpMethod: "PATCH",
    responses: {
        200: {
            bodyMapper: Mappers.EntraAssignmentsResponse,
        },
        204: {},
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
        },
    },
    requestBody: Parameters.body5,
    queryParameters: [Parameters.apiVersion],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept, Parameters.contentType1],
    mediaType: "json",
    serializer,
};
const listOperationSpec = {
    path: "/access/entra/assignments",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.EntraAssignmentsResponse,
        },
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
        },
    },
    queryParameters: [Parameters.apiVersion],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept],
    serializer,
};
const updateNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.EntraAssignmentsResponse,
        },
        204: {},
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
        },
    },
    urlParameters: [Parameters.endpoint, Parameters.nextLink],
    headerParameters: [Parameters.accept, Parameters.contentType1],
    mediaType: "json",
    serializer,
};
//# sourceMappingURL=entraIdAssignments.js.map