/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MetricsDefinitionsClient } from "../metricsDefinitionsClient";
import {
  MetricDefinitionsListOptionalParams,
  MetricDefinitionsListResponse
} from "../models";

/** Class representing a MetricDefinitions. */
export class MetricDefinitions {
  private readonly client: MetricsDefinitionsClient;

  /**
   * Initialize a new instance of the class MetricDefinitions class.
   * @param client Reference to the service client
   */
  constructor(client: MetricsDefinitionsClient) {
    this.client = client;
  }

  /**
   * Lists the metric definitions for the resource.
   * @param resourceUri The identifier of the resource.
   * @param options The options parameters.
   */
  list(
    resourceUri: string,
    options?: MetricDefinitionsListOptionalParams
  ): Promise<MetricDefinitionsListResponse> {
    const operationArguments: coreHttp.OperationArguments = {
      resourceUri,
      options: coreHttp.operationOptionsToRequestOptionsBase(options || {})
    };
    return this.client.sendOperationRequest(
      operationArguments,
      listOperationSpec
    ) as Promise<MetricDefinitionsListResponse>;
  }
}
// Operation Specifications
const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const listOperationSpec: coreHttp.OperationSpec = {
  path: "/{resourceUri}/providers/microsoft.insights/metricDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MetricDefinitionCollection
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.metricnamespace],
  urlParameters: [Parameters.$host, Parameters.resourceUri],
  headerParameters: [Parameters.accept],
  serializer
};
