/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { HybridCloud } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HybridCloudClient } from "../hybridCloudClient";
import {
  Operation,
  HybridCloudListOperationsOptionalParams,
  HybridCloudListOperationsResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing HybridCloud operations. */
export class HybridCloudImpl implements HybridCloud {
  private readonly client: HybridCloudClient;

  /**
   * Initialize a new instance of the class HybridCloud class.
   * @param client Reference to the service client
   */
  constructor(client: HybridCloudClient) {
    this.client = client;
  }

  /**
   * Lists all of the available HybridCloud Rest API operations.
   * @param options The options parameters.
   */
  public listOperations(
    options?: HybridCloudListOperationsOptionalParams
  ): PagedAsyncIterableIterator<Operation> {
    const iter = this.listOperationsPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listOperationsPagingPage(options, settings);
      }
    };
  }

  private async *listOperationsPagingPage(
    options?: HybridCloudListOperationsOptionalParams,
    _settings?: PageSettings
  ): AsyncIterableIterator<Operation[]> {
    let result: HybridCloudListOperationsResponse;
    result = await this._listOperations(options);
    yield result.value || [];
  }

  private async *listOperationsPagingAll(
    options?: HybridCloudListOperationsOptionalParams
  ): AsyncIterableIterator<Operation> {
    for await (const page of this.listOperationsPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists all of the available HybridCloud Rest API operations.
   * @param options The options parameters.
   */
  private _listOperations(
    options?: HybridCloudListOperationsOptionalParams
  ): Promise<HybridCloudListOperationsResponse> {
    return this.client.sendOperationRequest(
      { options },
      listOperationsOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationsOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.HybridCloud/operations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
