# Your De-identification Service URL can be found in the overview section of the Azure Portal.
DEID_SERVICE_ENDPOINT=
# Storage account and container name
STORAGE_ACCOUNT_NAME=
STORAGE_CONTAINER_NAME=
