"use strict";
/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
Object.defineProperty(exports, "__esModule", { value: true });
exports.ParticipantsImpl = void 0;
const tslib_1 = require("tslib");
const tracing_js_1 = require("../tracing.js");
const pagingHelper_js_1 = require("../pagingHelper.js");
const coreClient = tslib_1.__importStar(require("@azure/core-client"));
const Mappers = tslib_1.__importStar(require("../models/mappers.js"));
const Parameters = tslib_1.__importStar(require("../models/parameters.js"));
/// <reference lib="esnext.asynciterable" />
/** Class containing Participants operations. */
class ParticipantsImpl {
    /**
     * Initialize a new instance of the class Participants class.
     * @param client Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Get participants in a room.
     * @param roomId The id of the room to get participants from.
     * @param options The options parameters.
     */
    list(roomId, options) {
        const iter = this.listPagingAll(roomId, options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.listPagingPage(roomId, options, settings);
            },
        };
    }
    listPagingPage(roomId, options, settings) {
        return tslib_1.__asyncGenerator(this, arguments, function* listPagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield tslib_1.__await(this._list(roomId, options));
                let page = result.value || [];
                continuationToken = result.nextLink;
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
            while (continuationToken) {
                result = yield tslib_1.__await(this._listNext(roomId, continuationToken, options));
                continuationToken = result.nextLink;
                let page = result.value || [];
                (0, pagingHelper_js_1.setContinuationToken)(page, continuationToken);
                yield yield tslib_1.__await(page);
            }
        });
    }
    listPagingAll(roomId, options) {
        return tslib_1.__asyncGenerator(this, arguments, function* listPagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = tslib_1.__asyncValues(this.listPagingPage(roomId, options)), _f; _f = yield tslib_1.__await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield tslib_1.__await(yield* tslib_1.__asyncDelegator(tslib_1.__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield tslib_1.__await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Get participants in a room.
     * @param roomId The id of the room to get participants from.
     * @param options The options parameters.
     */
    async _list(roomId, options) {
        return tracing_js_1.tracingClient.withSpan("RoomsRestClient._list", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ roomId, options }, listOperationSpec);
        });
    }
    /**
     * Update participants in a room.
     * @param roomId The id of the room to update the participants in.
     * @param options The options parameters.
     */
    async update(roomId, options) {
        return tracing_js_1.tracingClient.withSpan("RoomsRestClient.update", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ roomId, options }, updateOperationSpec);
        });
    }
    /**
     * ListNext
     * @param roomId The id of the room to get participants from.
     * @param nextLink The nextLink from the previous successful call to the List method.
     * @param options The options parameters.
     */
    async _listNext(roomId, nextLink, options) {
        return tracing_js_1.tracingClient.withSpan("RoomsRestClient._listNext", options !== null && options !== void 0 ? options : {}, async (options) => {
            return this.client.sendOperationRequest({ roomId, nextLink, options }, listNextOperationSpec);
        });
    }
}
exports.ParticipantsImpl = ParticipantsImpl;
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const listOperationSpec = {
    path: "/rooms/{roomId}/participants",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.ParticipantsCollection,
        },
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
            headersMapper: Mappers.ParticipantsListExceptionHeaders,
        },
    },
    queryParameters: [Parameters.apiVersion],
    urlParameters: [Parameters.endpoint, Parameters.roomId],
    headerParameters: [Parameters.accept],
    serializer,
};
const updateOperationSpec = {
    path: "/rooms/{roomId}/participants",
    httpMethod: "PATCH",
    responses: {
        200: {
            bodyMapper: {
                type: { name: "Dictionary", value: { type: { name: "any" } } },
            },
        },
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
            headersMapper: Mappers.ParticipantsUpdateExceptionHeaders,
        },
    },
    requestBody: {
        parameterPath: { participants: ["options", "participants"] },
        mapper: Object.assign(Object.assign({}, Mappers.UpdateParticipantsRequest), { required: true }),
    },
    queryParameters: [Parameters.apiVersion],
    urlParameters: [Parameters.endpoint, Parameters.roomId],
    headerParameters: [Parameters.accept, Parameters.contentType1],
    mediaType: "json",
    serializer,
};
const listNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.ParticipantsCollection,
        },
        default: {
            bodyMapper: Mappers.CommunicationErrorResponse,
            headersMapper: Mappers.ParticipantsListNextExceptionHeaders,
        },
    },
    urlParameters: [Parameters.endpoint, Parameters.roomId, Parameters.nextLink],
    headerParameters: [Parameters.accept],
    serializer,
};
//# sourceMappingURL=participants.js.map