/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { GeneratedClient } from "../generatedClient";
import {
  RefreshTokensGetFromExchangeOptionalParams,
  RefreshTokensGetFromExchangeResponse
} from "../models";

/** Class representing a RefreshTokens. */
export class RefreshTokens {
  private readonly client: GeneratedClient;

  /**
   * Initialize a new instance of the class RefreshTokens class.
   * @param client Reference to the service client
   */
  constructor(client: GeneratedClient) {
    this.client = client;
  }

  /**
   * Exchange AAD tokens for an ACR refresh Token
   * @param options The options parameters.
   */
  getFromExchange(
    options?: RefreshTokensGetFromExchangeOptionalParams
  ): Promise<RefreshTokensGetFromExchangeResponse> {
    const operationArguments: coreHttp.OperationArguments = {
      options: coreHttp.operationOptionsToRequestOptionsBase(options || {})
    };
    return this.client.sendOperationRequest(
      operationArguments,
      getFromExchangeOperationSpec
    ) as Promise<RefreshTokensGetFromExchangeResponse>;
  }
}
// Operation Specifications
const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const getFromExchangeOperationSpec: coreHttp.OperationSpec = {
  path: "/oauth2/exchange",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.RefreshToken
    },
    default: {
      bodyMapper: Mappers.AcrErrors
    }
  },
  formDataParameters: [Parameters.accessToken],
  urlParameters: [Parameters.url],
  headerParameters: [Parameters.contentType3, Parameters.accept4],
  serializer
};
