{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/json?api-version=1.0\u0026query=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "query is missing or empty"
        }
      }
    }
  ],
  "Variables": {}
}
