{
  "name": "{{name}}",
  "private": true,
  "version": "0.1.0",
  "scripts": {
    "start": "vite",
    "host": "vite --host",
    "preview": "vite preview",
    "build": "tsc && vite build",
    "deploy": "npm run build && node deploy.js"
  },
  "dependencies": {
    "@azure/api-management-custom-widgets-tools": "^1.0.0-beta.2"
  },
  "devDependencies": {
    "prettier": "^3.2.5",
    "sass": "^1.54.4",
    "typescript": "^4.7.4",
    "vite": "^3.0.7"
  }
}
