# Retrieve this value from a Communication Services resource with a linked domain.
COMMUNICATION_CONNECTION_STRING="endpoint=https://<resource name>.communication.azure.net/;accessKey=<key>"

# Retrieve this value from an Email Services Domain resource that has been linked to the Communication Services resource.
SENDER_ADDRESS=someSenderAddress@contoso.com

# Enter an address to send the sample emails 
RECIPIENT_ADDRESS=someRecipientAddress@domain.com

# Enter a second address to send the sample emails (for the multiple recipients smaple)
SECOND_RECIPIENT_ADDRESS=someRecipientAddress@domain.com
