# Used in most samples. Retrieve these values from an instance in the Azure
# Portal.
# Retrieve this value from a Container Registry instance in the Azure Portal.
CONTAINER_REGISTRY_ENDPOINT="<container registry REST API endpoint>",
CONTAINER_REGISTRY_ANONYMOUS_ENDPOINT="<container registry anonymous REST API endpoint>",
REPOSITORY_NAME="<repository name>"
REGISTRY="<name of registry>"

# Used to authenticate using Azure AD as a service principal for role-based
# authentication in the tokenAuth sample.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential

CONTAINERREGISTRY_TENANT_ID="<AD tenant id or name>"
CONTAINERREGISTRY_CLIENT_ID="<ID of the user/service principal to authenticate as>"
CONTAINERREGISTRY_CLIENT_SECRET="<client secret used to authenticate to Azure AD>"

# Our tests assume that TEST_MODE is "playback" by default. You can change it
# to "record" to generate new recordings, or "live" to bypass the recorder
# entirely.

# TEST_MODE="playback"
