# Used in most samples. Retrieve these values from a Cognitive Services instance
# in the Azure Portal.
ANOMALY_DETECTOR_ENDPOINT="https://<ACCOUNT_NAME>.cognitiveservices.azure.com/"
ANOMALY_DETECTOR_API_KEY="<API-KEY>'

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=playback
