/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { BackupProtectionIntent } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RecoveryServicesBackupClient } from "../recoveryServicesBackupClient";
import {
  ProtectionIntentResource,
  BackupProtectionIntentListNextOptionalParams,
  BackupProtectionIntentListOptionalParams,
  BackupProtectionIntentListResponse,
  BackupProtectionIntentListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing BackupProtectionIntent operations. */
export class BackupProtectionIntentImpl implements BackupProtectionIntent {
  private readonly client: RecoveryServicesBackupClient;

  /**
   * Initialize a new instance of the class BackupProtectionIntent class.
   * @param client Reference to the service client
   */
  constructor(client: RecoveryServicesBackupClient) {
    this.client = client;
  }

  /**
   * Provides a pageable list of all intents that are present within a vault.
   * @param vaultName The name of the recovery services vault.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param options The options parameters.
   */
  public list(
    vaultName: string,
    resourceGroupName: string,
    options?: BackupProtectionIntentListOptionalParams,
  ): PagedAsyncIterableIterator<ProtectionIntentResource> {
    const iter = this.listPagingAll(vaultName, resourceGroupName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          vaultName,
          resourceGroupName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    vaultName: string,
    resourceGroupName: string,
    options?: BackupProtectionIntentListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ProtectionIntentResource[]> {
    let result: BackupProtectionIntentListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(vaultName, resourceGroupName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        vaultName,
        resourceGroupName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    vaultName: string,
    resourceGroupName: string,
    options?: BackupProtectionIntentListOptionalParams,
  ): AsyncIterableIterator<ProtectionIntentResource> {
    for await (const page of this.listPagingPage(
      vaultName,
      resourceGroupName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Provides a pageable list of all intents that are present within a vault.
   * @param vaultName The name of the recovery services vault.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param options The options parameters.
   */
  private _list(
    vaultName: string,
    resourceGroupName: string,
    options?: BackupProtectionIntentListOptionalParams,
  ): Promise<BackupProtectionIntentListResponse> {
    return this.client.sendOperationRequest(
      { vaultName, resourceGroupName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param vaultName The name of the recovery services vault.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    vaultName: string,
    resourceGroupName: string,
    nextLink: string,
    options?: BackupProtectionIntentListNextOptionalParams,
  ): Promise<BackupProtectionIntentListNextResponse> {
    return this.client.sendOperationRequest(
      { vaultName, resourceGroupName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionIntents",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProtectionIntentResourceList,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.skipToken,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.vaultName,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProtectionIntentResourceList,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.vaultName,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
