/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { FeatureSupport } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RecoveryServicesBackupClient } from "../recoveryServicesBackupClient";
import {
  FeatureSupportRequestUnion,
  FeatureSupportValidateOptionalParams,
  FeatureSupportValidateResponse,
} from "../models";

/** Class containing FeatureSupport operations. */
export class FeatureSupportImpl implements FeatureSupport {
  private readonly client: RecoveryServicesBackupClient;

  /**
   * Initialize a new instance of the class FeatureSupport class.
   * @param client Reference to the service client
   */
  constructor(client: RecoveryServicesBackupClient) {
    this.client = client;
  }

  /**
   * It will validate if given feature with resource properties is supported in service
   * @param azureRegion Azure region to hit Api
   * @param parameters Feature support request object
   * @param options The options parameters.
   */
  validate(
    azureRegion: string,
    parameters: FeatureSupportRequestUnion,
    options?: FeatureSupportValidateOptionalParams,
  ): Promise<FeatureSupportValidateResponse> {
    return this.client.sendOperationRequest(
      { azureRegion, parameters, options },
      validateOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const validateOperationSpec: coreClient.OperationSpec = {
  path: "/Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupValidateFeatures",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AzureVMResourceFeatureSupportResponse,
    },
  },
  requestBody: Parameters.parameters4,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.azureRegion,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
