/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { GetTieringCostOperationResult } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { RecoveryServicesBackupClient } from "../recoveryServicesBackupClient.js";
import {
  GetTieringCostOperationResultGetOptionalParams,
  GetTieringCostOperationResultGetResponse,
} from "../models/index.js";

/** Class containing GetTieringCostOperationResult operations. */
export class GetTieringCostOperationResultImpl
  implements GetTieringCostOperationResult
{
  private readonly client: RecoveryServicesBackupClient;

  /**
   * Initialize a new instance of the class GetTieringCostOperationResult class.
   * @param client Reference to the service client
   */
  constructor(client: RecoveryServicesBackupClient) {
    this.client = client;
  }

  /**
   * Gets the result of async operation for tiering cost
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param vaultName The name of the recovery services vault.
   * @param operationId
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    vaultName: string,
    operationId: string,
    options?: GetTieringCostOperationResultGetOptionalParams,
  ): Promise<GetTieringCostOperationResultGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vaultName, operationId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupTieringCost/default/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TieringCostInfo,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.operationId,
    Parameters.vaultName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
