/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PrivateEndpointOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RecoveryServicesBackupClient } from "../recoveryServicesBackupClient";
import {
  PrivateEndpointGetOperationStatusOptionalParams,
  PrivateEndpointGetOperationStatusResponse,
} from "../models";

/** Class containing PrivateEndpointOperations operations. */
export class PrivateEndpointOperationsImpl
  implements PrivateEndpointOperations
{
  private readonly client: RecoveryServicesBackupClient;

  /**
   * Initialize a new instance of the class PrivateEndpointOperations class.
   * @param client Reference to the service client
   */
  constructor(client: RecoveryServicesBackupClient) {
    this.client = client;
  }

  /**
   * Gets the operation status for a private endpoint connection.
   * @param vaultName The name of the recovery services vault.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param privateEndpointConnectionName The name of the private endpoint connection.
   * @param operationId Operation id
   * @param options The options parameters.
   */
  getOperationStatus(
    vaultName: string,
    resourceGroupName: string,
    privateEndpointConnectionName: string,
    operationId: string,
    options?: PrivateEndpointGetOperationStatusOptionalParams,
  ): Promise<PrivateEndpointGetOperationStatusResponse> {
    return this.client.sendOperationRequest(
      {
        vaultName,
        resourceGroupName,
        privateEndpointConnectionName,
        operationId,
        options,
      },
      getOperationStatusOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationStatusOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}/operationsStatus/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationStatus,
    },
    default: {
      bodyMapper: Mappers.NewErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.vaultName,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.privateEndpointConnectionName,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
