/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ProtectionPolicyOperationResults } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { RecoveryServicesBackupClient } from "../recoveryServicesBackupClient.js";
import {
  ProtectionPolicyOperationResultsGetOptionalParams,
  ProtectionPolicyOperationResultsGetResponse,
} from "../models/index.js";

/** Class containing ProtectionPolicyOperationResults operations. */
export class ProtectionPolicyOperationResultsImpl
  implements ProtectionPolicyOperationResults
{
  private readonly client: RecoveryServicesBackupClient;

  /**
   * Initialize a new instance of the class ProtectionPolicyOperationResults class.
   * @param client Reference to the service client
   */
  constructor(client: RecoveryServicesBackupClient) {
    this.client = client;
  }

  /**
   * Provides the result of an operation.
   * @param vaultName The name of the recovery services vault.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param policyName Backup policy name whose operation's result needs to be fetched.
   * @param operationId Operation ID which represents the operation whose result needs to be fetched.
   * @param options The options parameters.
   */
  get(
    vaultName: string,
    resourceGroupName: string,
    policyName: string,
    operationId: string,
    options?: ProtectionPolicyOperationResultsGetOptionalParams,
  ): Promise<ProtectionPolicyOperationResultsGetResponse> {
    return this.client.sendOperationRequest(
      { vaultName, resourceGroupName, policyName, operationId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProtectionPolicyResource,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.vaultName,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.operationId,
    Parameters.policyName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
