/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { ResourceGuardProxies } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { RecoveryServicesBackupClient } from "../recoveryServicesBackupClient.js";
import {
  ResourceGuardProxyBaseResource,
  ResourceGuardProxiesGetNextOptionalParams,
  ResourceGuardProxiesGetOptionalParams,
  ResourceGuardProxiesGetResponse,
  ResourceGuardProxiesGetNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing ResourceGuardProxies operations. */
export class ResourceGuardProxiesImpl implements ResourceGuardProxies {
  private readonly client: RecoveryServicesBackupClient;

  /**
   * Initialize a new instance of the class ResourceGuardProxies class.
   * @param client Reference to the service client
   */
  constructor(client: RecoveryServicesBackupClient) {
    this.client = client;
  }

  /**
   * List the ResourceGuardProxies under vault
   * @param vaultName The name of the recovery services vault.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param options The options parameters.
   */
  public list(
    vaultName: string,
    resourceGroupName: string,
    options?: ResourceGuardProxiesGetOptionalParams,
  ): PagedAsyncIterableIterator<ResourceGuardProxyBaseResource> {
    const iter = this.getPagingAll(vaultName, resourceGroupName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.getPagingPage(
          vaultName,
          resourceGroupName,
          options,
          settings,
        );
      },
    };
  }

  private async *getPagingPage(
    vaultName: string,
    resourceGroupName: string,
    options?: ResourceGuardProxiesGetOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ResourceGuardProxyBaseResource[]> {
    let result: ResourceGuardProxiesGetResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._get(vaultName, resourceGroupName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._getNext(
        vaultName,
        resourceGroupName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *getPagingAll(
    vaultName: string,
    resourceGroupName: string,
    options?: ResourceGuardProxiesGetOptionalParams,
  ): AsyncIterableIterator<ResourceGuardProxyBaseResource> {
    for await (const page of this.getPagingPage(
      vaultName,
      resourceGroupName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List the ResourceGuardProxies under vault
   * @param vaultName The name of the recovery services vault.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param options The options parameters.
   */
  private _get(
    vaultName: string,
    resourceGroupName: string,
    options?: ResourceGuardProxiesGetOptionalParams,
  ): Promise<ResourceGuardProxiesGetResponse> {
    return this.client.sendOperationRequest(
      { vaultName, resourceGroupName, options },
      getOperationSpec,
    );
  }

  /**
   * GetNext
   * @param vaultName The name of the recovery services vault.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param nextLink The nextLink from the previous successful call to the Get method.
   * @param options The options parameters.
   */
  private _getNext(
    vaultName: string,
    resourceGroupName: string,
    nextLink: string,
    options?: ResourceGuardProxiesGetNextOptionalParams,
  ): Promise<ResourceGuardProxiesGetNextResponse> {
    return this.client.sendOperationRequest(
      { vaultName, resourceGroupName, nextLink, options },
      getNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupResourceGuardProxies",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ResourceGuardProxyBaseResourceList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.vaultName,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ResourceGuardProxyBaseResourceList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.vaultName,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
