{
  "Entries": [
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/bigDataPools/joheredispark?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "properties": {
          "creationDate": "2022-01-10T21:05:07.8733333Z",
          "sparkVersion": "3.1",
          "nodeCount": 10,
          "nodeSize": "Medium",
          "nodeSizeFamily": "MemoryOptimized",
          "autoScale": {
            "enabled": true,
            "minNodeCount": 3,
            "maxNodeCount": 10
          },
          "autoPause": {
            "enabled": true,
            "delayInMinutes": 15
          },
          "isComputeIsolationEnabled": false,
          "sessionLevelPackagesEnabled": false,
          "cacheSize": 0,
          "dynamicExecutorAllocation": {
            "enabled": false
          },
          "lastSucceededTimestamp": "2022-01-10T21:05:18.1Z",
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/joheredi-test/providers/Microsoft.Synapse/workspaces/joheredisyn/bigDataPools/joheredispark",
        "name": "joheredispark",
        "type": "Microsoft.Synapse/workspaces/bigDataPools",
        "location": "eastus2",
        "tags": {}
      }
    }
  ],
  "Variables": {}
}
