/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { UnresolvedDependencies } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ResourceMoverServiceAPI } from "../resourceMoverServiceAPI";
import {
  UnresolvedDependency,
  UnresolvedDependenciesGetNextOptionalParams,
  UnresolvedDependenciesGetOptionalParams,
  UnresolvedDependenciesGetResponse,
  UnresolvedDependenciesGetNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing UnresolvedDependencies operations. */
export class UnresolvedDependenciesImpl implements UnresolvedDependencies {
  private readonly client: ResourceMoverServiceAPI;

  /**
   * Initialize a new instance of the class UnresolvedDependencies class.
   * @param client Reference to the service client
   */
  constructor(client: ResourceMoverServiceAPI) {
    this.client = client;
  }

  /**
   * Gets a list of unresolved dependencies.
   * @param resourceGroupName The Resource Group Name.
   * @param moveCollectionName The Move Collection Name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    moveCollectionName: string,
    options?: UnresolvedDependenciesGetOptionalParams
  ): PagedAsyncIterableIterator<UnresolvedDependency> {
    const iter = this.getPagingAll(
      resourceGroupName,
      moveCollectionName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.getPagingPage(
          resourceGroupName,
          moveCollectionName,
          options
        );
      }
    };
  }

  private async *getPagingPage(
    resourceGroupName: string,
    moveCollectionName: string,
    options?: UnresolvedDependenciesGetOptionalParams
  ): AsyncIterableIterator<UnresolvedDependency[]> {
    let result = await this._get(
      resourceGroupName,
      moveCollectionName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._getNext(
        resourceGroupName,
        moveCollectionName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *getPagingAll(
    resourceGroupName: string,
    moveCollectionName: string,
    options?: UnresolvedDependenciesGetOptionalParams
  ): AsyncIterableIterator<UnresolvedDependency> {
    for await (const page of this.getPagingPage(
      resourceGroupName,
      moveCollectionName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of unresolved dependencies.
   * @param resourceGroupName The Resource Group Name.
   * @param moveCollectionName The Move Collection Name.
   * @param options The options parameters.
   */
  private _get(
    resourceGroupName: string,
    moveCollectionName: string,
    options?: UnresolvedDependenciesGetOptionalParams
  ): Promise<UnresolvedDependenciesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, moveCollectionName, options },
      getOperationSpec
    );
  }

  /**
   * GetNext
   * @param resourceGroupName The Resource Group Name.
   * @param moveCollectionName The Move Collection Name.
   * @param nextLink The nextLink from the previous successful call to the Get method.
   * @param options The options parameters.
   */
  private _getNext(
    resourceGroupName: string,
    moveCollectionName: string,
    nextLink: string,
    options?: UnresolvedDependenciesGetNextOptionalParams
  ): Promise<UnresolvedDependenciesGetNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, moveCollectionName, nextLink, options },
      getNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/moveCollections/{moveCollectionName}/unresolvedDependencies",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.UnresolvedDependencyCollection
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.dependencyLevel,
    Parameters.orderby
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.moveCollectionName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.UnresolvedDependencyCollection
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.dependencyLevel,
    Parameters.orderby
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.moveCollectionName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
