/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { CloudHsmClusterRestoreStatus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureHSMResourceProvider } from "../azureHSMResourceProvider";
import {
  CloudHsmClusterRestoreStatusGetOptionalParams,
  CloudHsmClusterRestoreStatusGetResponse,
} from "../models";

/** Class containing CloudHsmClusterRestoreStatus operations. */
export class CloudHsmClusterRestoreStatusImpl
  implements CloudHsmClusterRestoreStatus
{
  private readonly client: AzureHSMResourceProvider;

  /**
   * Initialize a new instance of the class CloudHsmClusterRestoreStatus class.
   * @param client Reference to the service client
   */
  constructor(client: AzureHSMResourceProvider) {
    this.client = client;
  }

  /**
   * Gets the restore operation status of the specified Cloud HSM Cluster
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudHsmClusterName The name of the Cloud HSM Cluster within the specified resource group.
   *                            Cloud HSM Cluster names must be between 3 and 23 characters in length.
   * @param jobId The id returned as part of the backup request
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    cloudHsmClusterName: string,
    jobId: string,
    options?: CloudHsmClusterRestoreStatusGetOptionalParams,
  ): Promise<CloudHsmClusterRestoreStatusGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, cloudHsmClusterName, jobId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/restoreOperationStatus/{jobId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RestoreResult,
      headersMapper: Mappers.CloudHsmClusterRestoreStatusGetHeaders,
    },
    202: {
      headersMapper: Mappers.CloudHsmClusterRestoreStatusGetHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
      headersMapper: Mappers.CloudHsmClusterRestoreStatusGetExceptionHeaders,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.cloudHsmClusterName,
    Parameters.jobId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
