/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { CloudHsmClusterPrivateLinkResources } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureHSMResourceProvider } from "../azureHSMResourceProvider";
import {
  CloudHsmClusterPrivateLinkResourcesListByCloudHsmClusterOptionalParams,
  CloudHsmClusterPrivateLinkResourcesListByCloudHsmClusterResponse
} from "../models";

/** Class containing CloudHsmClusterPrivateLinkResources operations. */
export class CloudHsmClusterPrivateLinkResourcesImpl
  implements CloudHsmClusterPrivateLinkResources {
  private readonly client: AzureHSMResourceProvider;

  /**
   * Initialize a new instance of the class CloudHsmClusterPrivateLinkResources class.
   * @param client Reference to the service client
   */
  constructor(client: AzureHSMResourceProvider) {
    this.client = client;
  }

  /**
   * Gets the private link resources supported for the Cloud Hsm Cluster.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudHsmClusterName The name of the Cloud HSM Cluster within the specified resource group.
   *                            Cloud HSM Cluster names must be between 3 and 24 characters in length.
   * @param options The options parameters.
   */
  listByCloudHsmCluster(
    resourceGroupName: string,
    cloudHsmClusterName: string,
    options?: CloudHsmClusterPrivateLinkResourcesListByCloudHsmClusterOptionalParams
  ): Promise<CloudHsmClusterPrivateLinkResourcesListByCloudHsmClusterResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, cloudHsmClusterName, options },
      listByCloudHsmClusterOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByCloudHsmClusterOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/privateLinkResources",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourceListResult
    },
    default: {
      bodyMapper: Mappers.CloudHsmClusterError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.cloudHsmClusterName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
