/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { PrivateEndpointConnections } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureHSMResourceProvider } from "../azureHSMResourceProvider";
import {
  PrivateEndpointConnection,
  PrivateEndpointConnectionsListByCloudHsmClusterNextOptionalParams,
  PrivateEndpointConnectionsListByCloudHsmClusterOptionalParams,
  PrivateEndpointConnectionsListByCloudHsmClusterResponse,
  PrivateEndpointConnectionsListByCloudHsmClusterNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PrivateEndpointConnections operations. */
export class PrivateEndpointConnectionsImpl
  implements PrivateEndpointConnections {
  private readonly client: AzureHSMResourceProvider;

  /**
   * Initialize a new instance of the class PrivateEndpointConnections class.
   * @param client Reference to the service client
   */
  constructor(client: AzureHSMResourceProvider) {
    this.client = client;
  }

  /**
   * The List operation gets information about the private endpoint connections associated with the Cloud
   * HSM Cluster
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudHsmClusterName The name of the Cloud HSM Cluster within the specified resource group.
   *                            Cloud HSM Cluster names must be between 3 and 24 characters in length.
   * @param options The options parameters.
   */
  public listByCloudHsmCluster(
    resourceGroupName: string,
    cloudHsmClusterName: string,
    options?: PrivateEndpointConnectionsListByCloudHsmClusterOptionalParams
  ): PagedAsyncIterableIterator<PrivateEndpointConnection> {
    const iter = this.listByCloudHsmClusterPagingAll(
      resourceGroupName,
      cloudHsmClusterName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByCloudHsmClusterPagingPage(
          resourceGroupName,
          cloudHsmClusterName,
          options,
          settings
        );
      }
    };
  }

  private async *listByCloudHsmClusterPagingPage(
    resourceGroupName: string,
    cloudHsmClusterName: string,
    options?: PrivateEndpointConnectionsListByCloudHsmClusterOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<PrivateEndpointConnection[]> {
    let result: PrivateEndpointConnectionsListByCloudHsmClusterResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByCloudHsmCluster(
        resourceGroupName,
        cloudHsmClusterName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByCloudHsmClusterNext(
        resourceGroupName,
        cloudHsmClusterName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByCloudHsmClusterPagingAll(
    resourceGroupName: string,
    cloudHsmClusterName: string,
    options?: PrivateEndpointConnectionsListByCloudHsmClusterOptionalParams
  ): AsyncIterableIterator<PrivateEndpointConnection> {
    for await (const page of this.listByCloudHsmClusterPagingPage(
      resourceGroupName,
      cloudHsmClusterName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * The List operation gets information about the private endpoint connections associated with the Cloud
   * HSM Cluster
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudHsmClusterName The name of the Cloud HSM Cluster within the specified resource group.
   *                            Cloud HSM Cluster names must be between 3 and 24 characters in length.
   * @param options The options parameters.
   */
  private _listByCloudHsmCluster(
    resourceGroupName: string,
    cloudHsmClusterName: string,
    options?: PrivateEndpointConnectionsListByCloudHsmClusterOptionalParams
  ): Promise<PrivateEndpointConnectionsListByCloudHsmClusterResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, cloudHsmClusterName, options },
      listByCloudHsmClusterOperationSpec
    );
  }

  /**
   * ListByCloudHsmClusterNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudHsmClusterName The name of the Cloud HSM Cluster within the specified resource group.
   *                            Cloud HSM Cluster names must be between 3 and 24 characters in length.
   * @param nextLink The nextLink from the previous successful call to the ListByCloudHsmCluster method.
   * @param options The options parameters.
   */
  private _listByCloudHsmClusterNext(
    resourceGroupName: string,
    cloudHsmClusterName: string,
    nextLink: string,
    options?: PrivateEndpointConnectionsListByCloudHsmClusterNextOptionalParams
  ): Promise<PrivateEndpointConnectionsListByCloudHsmClusterNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, cloudHsmClusterName, nextLink, options },
      listByCloudHsmClusterNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByCloudHsmClusterOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/privateEndpointConnections",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateEndpointConnectionListResult
    },
    default: {
      bodyMapper: Mappers.CloudHsmClusterError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.cloudHsmClusterName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByCloudHsmClusterNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateEndpointConnectionListResult
    },
    default: {
      bodyMapper: Mappers.CloudHsmClusterError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.cloudHsmClusterName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
