{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EB6283F1\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789/dir168617836996702416?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EB6D64C5\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:50.0006085Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:50.0006085Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:52:50.0006085Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789/sourceParentdir168617837003500542?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EB777570\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:50.0665712Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:50.0665712Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-07T22:52:50.0665712Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789/sourceParentdir168617837003500542/sourcedir168617837010109321?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EB81AD26\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:50.1335334Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:50.1335334Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-06-07T22:52:50.1335334Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789/destParentdir168617837016807317?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EB8BBDD3\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:50.1994963Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:50.1994963Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2023-06-07T22:52:50.1994963Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789/destParentdir168617837016807317/destdir168617837023504003?restype=directory\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EB95F584\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:50.2664580Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:50.1335334Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-06-07T22:52:50.1335334Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789/destParentdir168617837016807317/destdir168617837023504003?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EB95F584\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:50.2664580Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:50.1335334Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-06-07T22:52:50.1335334Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789/sourceParentdir168617837003500542/sourcedir168617837010109321?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:7360ab9e-001a-003b-7092-998f15000000\n",
        "Time:2023-06-07T22:52:50.3940485Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836989804789?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:50 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destdir": "destdir168617837023504003",
    "destParentdir": "destParentdir168617837016807317",
    "dir": "dir168617836996702416",
    "share": "share168617836989804789",
    "sourcedir": "sourcedir168617837010109321",
    "sourceParentdir": "sourceParentdir168617837003500542"
  }
}
