{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836064904312?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9E5DF2100\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836064904312/dir168617836071706612?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9E5EDCECA\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:40.7758538Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:40.7758538Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:52:40.7758538Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836064904312/pre1686178360811168617836081106375dir0168617836081107421?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9E5F7DF74\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:40 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:40.8418164Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:40.8418164Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-06-07T22:52:40.8418164Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836064904312/pre1686178360811168617836081106375file0168617836101203200",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9E616D4AF\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-06-07T22:52:41.0447023Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:41.0447023Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-06-07T22:52:41.0447023Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "584053819618422708*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836064904312/?comp=list\u0026prefix=pre1686178360811168617836081106375\u0026maxresults=3\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.file.core.windows.net/\u0022 ShareName=\u0022share168617836064904312\u0022 DirectoryPath=\u0022\u0022\u003E\u003CPrefix\u003Epre1686178360811168617836081106375\u003C/Prefix\u003E\u003CMaxResults\u003E3\u003C/MaxResults\u003E\u003CDirectoryId\u003E0\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Epre1686178360811168617836081106375dir0168617836081107421\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Epre1686178360811168617836081106375dir1168617836087707044\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Epre1686178360811168617836081106375dir2168617836094609984\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker\u003E1!76!cHJlMTY4NjE3ODM2MDgxMTE2ODYxNzgzNjA4MTEwNjM3NWZpbGUwMTY4NjE3ODM2MTAxMjAzMjAw\u003C/NextMarker\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836064904312/?comp=list\u0026prefix=pre1686178360811168617836081106375\u0026marker=1!76!cHJlMTY4NjE3ODM2MDgxMTE2ODYxNzgzNjA4MTEwNjM3NWZpbGUwMTY4NjE3ODM2MTAxMjAzMjAw\u0026maxresults=6\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "Requ[...]
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836064904312?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir168617836071706612",
    "now": "2023-06-07T22:52:40.811Z",
    "pre1686178360811": "pre1686178360811168617836081106375",
    "pre1686178360811168617836081106375dir0": "pre1686178360811168617836081106375dir0168617836081107421",
    "pre1686178360811168617836081106375dir1": "pre1686178360811168617836081106375dir1168617836087707044",
    "pre1686178360811168617836081106375dir2": "pre1686178360811168617836081106375dir2168617836094609984",
    "pre1686178360811168617836081106375file0": "pre1686178360811168617836081106375file0168617836101203200",
    "pre1686178360811168617836081106375file1": "pre1686178360811168617836081106375file1168617836107902426",
    "pre1686178360811168617836081106375file2": "pre1686178360811168617836081106375file2168617836114607273",
    "share": "share168617836064904312"
  }
}
