{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836905200027?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EAE18023\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836905200027/dir168617836912204612?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EAECAEC4\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:49.1570884Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:49.1570884Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:52:49.1570884Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836905200027/destdir168617836919209991?restype=directory\u0026comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EAF70D88\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:49.2250504Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:49.1570884Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:52:49.1570884Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836905200027/destdir168617836919209991?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB67A9EAF70D88\u0022",
        "Last-Modified": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-06-07T22:52:49.2250504Z",
        "x-ms-file-creation-time": "2023-06-07T22:52:49.1570884Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-06-07T22:52:49.1570884Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "14438882940201373875*11581588750433322810",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836905200027/dir168617836912204612?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:7360ab7d-001a-003b-5592-998f15000000\n",
        "Time:2023-06-07T22:52:49.3556486Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168617836905200027?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 Jun 2023 22:52:49 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "destdir": "destdir168617836919209991",
    "dir": "dir168617836912204612",
    "share": "share168617836905200027"
  }
}
