trigger: none
pr: none

jobs:
- job: 'PnpmUpdate'
  displayName: 'Pnpm Update'
  timeoutInMinutes: 180
  variables:
  - template: /eng/pipelines/templates/variables/globals.yml

  pool:
    name: azsdk-pool
    demands: ImageOverride -equals ubuntu-24.04

  steps:
  - template: /eng/pipelines/templates/steps/common.yml
  - template: /eng/common/pipelines/templates/steps/set-default-branch.yml

  - script: |
      npm install -g pnpm
    displayName: "Install Pnpm"

  - script: |
      pnpm update --recursive --no-save
    displayName: "Run Pnpm Update"

  - script: |
      pnpm turbo build
    env:
      TURBO_TEAM: azsdkjs
      TURBO_TEAMID: azsdkjs
      TURBO_TOKEN: $(js-turborepo-cache-token)
      TURBO_CACHE: local:rw,remote:rw
    displayName: "Build All packages"

  - template: /eng/common/pipelines/templates/steps/create-pull-request.yml
    parameters:
      RepoName: azure-sdk-for-js
      BaseBranchName: main
      PRBranchName: automated-deps-update
      CommitMsg: "Automatic pnpm update"
      PRTitle: "[EngSys] automatic pnpm update"
      PRBody: "This is an automatic PR generated weekly with changes from running the command pnpm update"
      PushArgs: "-f"


- job: 'CheckDependency'
  displayName: 'Check Package Dependency'
  variables:
  - template: /eng/pipelines/templates/variables/globals.yml

  pool:
    name: azsdk-pool
    demands: ImageOverride -equals ubuntu-24.04

  steps:
  - template: /eng/pipelines/templates/steps/common.yml
  - template: /eng/common/pipelines/templates/steps/set-default-branch.yml

  - script: |
      npm install -g pnpm
    displayName: "Install Pnpm"

  - script: |
      pnpm purge
      git clean -xdf
    displayName: "Reset workspace"

  - task: PowerShell@2
    displayName: 'Check Dependency Warnings and File GitHub Issues'
    inputs:
      targetType: filePath
      filePath: $(Build.SourcesDirectory)/eng/scripts/check-external-dependency.ps1
      arguments: >
        -RepoName azure-sdk-for-js
        -RepoOwner azure
        -AuthToken "$(azuresdk-github-pat)"
      pwsh: true

  - script: |
      git reset --hard
    displayName: "Reset Changes"
