{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/signalR/mySignalRService1?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "sku": {
          "name": "Free_F1",
          "tier": "free",
          "capacity": 1
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "tls": {
            "clientCertEnabled": false
          },
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            },
            {
              "flag": "EnableLiveTrace",
              "value": "False",
              "properties": {}
            }
          ],
          "cors": {
            "allowedOrigins": [
              "*"
            ]
          },
          "serverless": {
            "connectionTimeoutInSeconds": 30
          },
          "upstream": {
            "templates": []
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ServerConnection",
                "ClientConnection",
                "RESTAPI",
                "Trace"
              ]
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1/operationStatuses/37fd3c49-e4a6-428c-a6ca-cd13bcc017ef?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1/operationResults/37fd3c49-e4a6-428c-a6ca-cd13bcc017ef?api-version=2022-08-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "54bef194-19f7-4c41-9b83-6785272e94c3"
      },
      "ResponseBody": {
        "sku": {
          "name": "Free_F1",
          "tier": "Free",
          "size": "F1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "mysignalrservice1.service.signalr.net",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "mysignalrservice1",
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            },
            {
              "flag": "EnableLiveTrace",
              "value": "False",
              "properties": {}
            }
          ],
          "liveTraceConfiguration": null,
          "resourceLogConfiguration": null,
          "cors": {
            "allowedOrigins": [
              "*"
            ]
          },
          "serverless": {
            "connectionTimeoutInSeconds": 30
          },
          "upstream": {
            "templates": []
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ServerConnection",
                "ClientConnection",
                "RESTAPI",
                "Trace"
              ],
              "deny": null
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "70279162-21d5-4412-9edf-8bd19dfeeccb",
          "tenantId": "88888888-8888-8888-8888-888888888888"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-11-08T02:05:51.4775939Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-11-08T02:05:51.4775939Z"
        },
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1",
        "name": "mySignalRService1",
        "type": "Microsoft.SignalRService/SignalR"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1/operationStatuses/37fd3c49-e4a6-428c-a6ca-cd13bcc017ef?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-rp-server-mvid": "54bef194-19f7-4c41-9b83-6785272e94c3"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1/operationStatuses/37fd3c49-e4a6-428c-a6ca-cd13bcc017ef",
        "name": "37fd3c49-e4a6-428c-a6ca-cd13bcc017ef",
        "status": "Running",
        "startTime": "2022-11-08T02:05:54.4706414Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1/operationStatuses/37fd3c49-e4a6-428c-a6ca-cd13bcc017ef?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985",
        "x-rp-server-mvid": "54bef194-19f7-4c41-9b83-6785272e94c3"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1/operationStatuses/37fd3c49-e4a6-428c-a6ca-cd13bcc017ef",
        "name": "37fd3c49-e4a6-428c-a6ca-cd13bcc017ef",
        "status": "Succeeded",
        "startTime": "2022-11-08T02:05:54.4706414Z",
        "endTime": "2022-11-08T02:06:31.9545888Z"
      }
    },
[...]
