/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { KeyVaultClient } from "../keyVaultClient";
import {
  RoleDefinitionsDeleteResponse,
  RoleDefinitionCreateParameters,
  RoleDefinitionsCreateOrUpdateResponse,
  RoleDefinitionsGetResponse,
  RoleDefinitionsListOptionalParams,
  RoleDefinitionsListResponse,
  RoleDefinitionsListNextOptionalParams,
  RoleDefinitionsListNextResponse
} from "../models";

/**
 * Class representing a RoleDefinitions.
 */
export class RoleDefinitions {
  private readonly client: KeyVaultClient;

  /**
   * Initialize a new instance of the class RoleDefinitions class.
   * @param client Reference to the service client
   */
  constructor(client: KeyVaultClient) {
    this.client = client;
  }

  /**
   * Deletes a custom role definition.
   * @param vaultBaseUrl The vault name, for example https://myvault.vault.azure.net.
   * @param scope The scope of the role definition to delete. Managed HSM only supports '/'.
   * @param roleDefinitionName The name (GUID) of the role definition to delete.
   * @param options The options parameters.
   */
  delete(
    vaultBaseUrl: string,
    scope: string,
    roleDefinitionName: string,
    options?: coreHttp.OperationOptions
  ): Promise<RoleDefinitionsDeleteResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { vaultBaseUrl, scope, roleDefinitionName, options: operationOptions },
      deleteOperationSpec
    ) as Promise<RoleDefinitionsDeleteResponse>;
  }

  /**
   * Creates or updates a custom role definition.
   * @param vaultBaseUrl The vault name, for example https://myvault.vault.azure.net.
   * @param scope The scope of the role definition to create or update. Managed HSM only supports '/'.
   * @param roleDefinitionName The name of the role definition to create or update. It can be any valid
   *                           GUID.
   * @param parameters Parameters for the role definition.
   * @param options The options parameters.
   */
  createOrUpdate(
    vaultBaseUrl: string,
    scope: string,
    roleDefinitionName: string,
    parameters: RoleDefinitionCreateParameters,
    options?: coreHttp.OperationOptions
  ): Promise<RoleDefinitionsCreateOrUpdateResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      {
        vaultBaseUrl,
        scope,
        roleDefinitionName,
        parameters,
        options: operationOptions
      },
      createOrUpdateOperationSpec
    ) as Promise<RoleDefinitionsCreateOrUpdateResponse>;
  }

  /**
   * Get the specified role definition.
   * @param vaultBaseUrl The vault name, for example https://myvault.vault.azure.net.
   * @param scope The scope of the role definition to get. Managed HSM only supports '/'.
   * @param roleDefinitionName The name of the role definition to get.
   * @param options The options parameters.
   */
  get(
    vaultBaseUrl: string,
    scope: string,
    roleDefinitionName: string,
    options?: coreHttp.OperationOptions
  ): Promise<RoleDefinitionsGetResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { vaultBaseUrl, scope, roleDefinitionName, options: operationOptions },
      getOperationSpec
    ) as Promise<RoleDefinitionsGetResponse>;
  }

  /**
   * Get all role definitions that are applicable at scope and above.
   * @param vaultBaseUrl The vault name, for example https://myvault.vault.azure.net.
   * @param scope The scope of the role definition.
   * @param options The options parameters.
   */
  list(
    vaultBaseUrl: string,
    scope: string,
    options?: RoleDefinitionsListOptionalParams
  ): Promise<RoleDefinitionsListResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { vaultBaseUrl, scope, options: operationOptions },
      listOperationSpec
    ) as Promise<RoleDefinitionsListResponse>;
  }

  /**
   * ListNext
   * @param vaultBaseUrl The vault name, for example https://myvault.vault.azure.net.
   * @param scope The scope of the role definition.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  listNext(
    vaultBaseUrl: string,
    scope: string,
    nextLink: string,
    options?: RoleDefinitionsListNextOptionalParams
  ): Promise<RoleDefinitionsListNextResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { vaultBaseUrl, scope, nextLink, options: operationOptions },
      listNextOperationSpec
    ) as Promise<RoleDefinitionsListNextResponse>;
  }
}
// Operation Specifications

const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const deleteOperationSpec: coreHttp.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionName}",
  httpMethod: "DELETE",
  responses: {
    200: {
      bodyMapper: Mappers.RoleDefinition
    },
    default: {
      bodyMapper: Mappers.KeyVaultError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.vaultBaseUrl,
    Parameters.scope,
    Parameters.roleDefinitionName
  ],
  serializer
};
const createOrUpdateOperationSpec: coreHttp.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionName}",
  httpMethod: "PUT",
  responses: {
    201: {
      bodyMapper: Mappers.RoleDefinition
    },
    default: {
      bodyMapper: Mappers.KeyVaultError
    }
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.vaultBaseUrl,
    Parameters.scope,
    Parameters.roleDefinitionName
  ],
  headerParameters: [Parameters.contentType],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreHttp.OperationSpec = {
  path:
    "/{scope}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleDefinition
    },
    default: {
      bodyMapper: Mappers.KeyVaultError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.vaultBaseUrl,
    Parameters.scope,
    Parameters.roleDefinitionName
  ],
  serializer
};
const listOperationSpec: coreHttp.OperationSpec = {
  path: "/{scope}/providers/Microsoft.Authorization/roleDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleDefinitionListResult
    },
    default: {
      bodyMapper: Mappers.KeyVaultError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [Parameters.vaultBaseUrl, Parameters.scope],
  serializer
};
const listNextOperationSpec: coreHttp.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleDefinitionListResult
    },
    default: {
      bodyMapper: Mappers.KeyVaultError
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.vaultBaseUrl,
    Parameters.scope,
    Parameters.nextLink
  ],
  serializer
};
