AZURE_TENANT_ID="72f988bf-86f1-41af-91ab-2d7cd011db47"
AZURE_CLIENT_ID="68cf6b40-418f-461c-9dfa-02be9a44448f"
AZURE_CLIENT_SECRET=".ZK3xtb4x~k47X6wgl3n~2E-LoxMBan7.~"
WORKSPACE_NAME="shangweiworkspacecli"

#TEST_MODE=record