# Used in most samples for authentication
AZURE_TENANT_ID=""
AZURE_CLIENT_ID=""
AZURE_CLIENT_SECRET=""
WORKSPACE_NAME=""
SPARKPOOL_NAME=""

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
#TEST_MODE=record