{
    "include": [
      "dist-esm/src/**/*.js"
    ],
    "exclude": [
      "**/*.d.ts",
      "dist-esm/src/generated/src/**/*.js"
    ],
    "reporter": [
      "text-summary",
      "html",
      "cobertura"
    ],
    "exclude-after-remap":false,
    "sourceMap": true,
    "instrument": true,
    "all": true
}
