# Used in most samples. Retrieve these values from a service instance
# in the Azure Portal and the Metrics Advisor web portal.
METRICS_ADVISOR_ENDPOINT=https://<resource name>.cognitiveservices.azure.com/
METRICS_ADVISOR_SUBSCRIPTION_KEY=<subscription key>
METRICS_ADVISOR_API_KEY=<api key>

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=playback

# The following are required for "record" or "live" modes
# METRICS_ADVISOR_AZURE_BLOB_CONNECTION_STRING=
# METRICS_ADVISOR_AZURE_BLOB_CONTAINER=
# METRICS_ADVISOR_AZURE_BLOB_TEMPLATE=
# METRICS_ADVISOR_AZURE_APPINSIGHTS_APPLICATION_ID=
# METRICS_ADVISOR_AZURE_APPINSIGHTS_API_KEY=
# METRICS_ADVISOR_AZURE_APPINSIGHTS_QUERY=
# METRICS_ADVISOR_AZURE_SQL_SERVER_CONNECTION_STRING=
# METRICS_ADVISOR_AZURE_SQL_SERVER_QUERY=
# METRICS_ADVISOR_ALERT_CONFIG_ID=
# METRICS_ADVISOR_ALERT_ID=
# METRICS_ADVISOR_AZURE_SQLSERVER_DETECTION_CONFIG_ID=
# METRICS_ADVISOR_AZURE_SQLSERVER_DETECTION_INCIDENT_ID=
# METRICS_ADVISOR_AZURE_SQLSERVER_DATAFEED_ID=
# METRICS_ADVISOR_AZURE_SQLSERVER_METRIC_ID_1=
