/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { CloudManifestFile } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureStackManagementClient } from "../azureStackManagementClient";
import {
  CloudManifestFileListOptionalParams,
  CloudManifestFileListResponse,
  CloudManifestFileGetOptionalParams,
  CloudManifestFileGetResponse
} from "../models";

/** Class containing CloudManifestFile operations. */
export class CloudManifestFileImpl implements CloudManifestFile {
  private readonly client: AzureStackManagementClient;

  /**
   * Initialize a new instance of the class CloudManifestFile class.
   * @param client Reference to the service client
   */
  constructor(client: AzureStackManagementClient) {
    this.client = client;
  }

  /**
   * Returns a cloud specific manifest JSON file with latest version.
   * @param options The options parameters.
   */
  list(
    options?: CloudManifestFileListOptionalParams
  ): Promise<CloudManifestFileListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Returns a cloud specific manifest JSON file.
   * @param verificationVersion Signing verification key version.
   * @param options The options parameters.
   */
  get(
    verificationVersion: string,
    options?: CloudManifestFileGetOptionalParams
  ): Promise<CloudManifestFileGetResponse> {
    return this.client.sendOperationRequest(
      { verificationVersion, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AzureStack/cloudManifestFiles",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CloudManifestFileResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.AzureStack/cloudManifestFiles/{verificationVersion}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CloudManifestFileResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.versionCreationDate],
  urlParameters: [Parameters.$host, Parameters.verificationVersion],
  headerParameters: [Parameters.accept],
  serializer
};
