{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/aaooa/providers/Microsoft.Discovery/workspaces/itworkaasdg/projects/testproject4?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0000cbfd-0000-1100-0000-69b815560000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/aaooa/providers/Microsoft.Discovery/workspaces/itworkaasdg/projects/testproject4",
        "name": "testproject4",
        "type": "microsoft.discovery/workspaces/projects",
        "location": "uksouth",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-16T14:27:34.0074321Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-16T14:27:34.0074321Z"
        },
        "properties": {
          "foundryProjectEndpoint": "https://aif-dwsp-foundry-t005ibaa.services.ai.azure.com/api/projects/testproject4t005ibaa",
          "storageContainerIds": [
            "/subscriptions/azure_subscription_id/resourceGroups/aaooa/providers/Microsoft.Discovery/storageContainers/itsconaasdg"
          ],
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
