AZURE_AI_PROJECT_ENDPOINT="<project connection string from Microsoft Foundry>"
AZURE_AI_CHAT_MODEL_DEPLOYMENT_NAME="<memory chat model deployment name>"
AZURE_AI_EMBEDDING_MODEL_DEPLOYMENT_NAME="<memory embedding model deployment name>"
MODEL_DEPLOYMENT_NAME="<model deployment name>"
MODEL_API_KEY="<model api key>"
MODEL_ENDPOINT="<model endpoint url>"
MODEL_PUBLISHER="<model publisher name>"

AZURE_STORAGE_CONNECTION_NAME="<storage connection name>"

AZURE_AI_SEARCH_INDEX_NAME="<azure ai search index name>"
AZURE_AI_SEARCH_INDEX_VERSION="<azure ai search index version>"
AZURE_AI_SEARCH_CONNECTION_NAME="<azure ai search connection name>"
AZURE_AI_SEARCH_CONNECTION_ID="<azure ai search project connection id>"

CONTAINER_APP_RESOURCE_ID="<container app resource id>"
CONTAINER_INGRESS_SUBDOMAIN_SUFFIX="<container app ingress subdomain suffix>"

COMPUTER_USE_MODEL_DEPLOYMENT_NAME="<computer use model deployment name>"

FABRIC_PROJECT_CONNECTION_ID="<fabric project connection id>"
SHAREPOINT_PROJECT_CONNECTION_ID="<sharepoint project connection id>"
A2A_PROJECT_CONNECTION_ID="<a2a project connection id>"

IMAGE_GENERATION_MODEL_DEPLOYMENT_NAME="<image generation model deployment name>"

MCP_PROJECT_CONNECTION_ID="<mcp project connection id>"
TRIPADVISOR_PROJECT_CONNECTION_ID="<tripadvisor project connection id>"

AZURE_AI_PROJECTS_AZURE_SUBSCRIPTION_ID="<finetuning project subscription id>"
AZURE_AI_PROJECTS_AZURE_RESOURCE_GROUP="<finetuning project resource group>"
AZURE_AI_PROJECTS_AZURE_AOAI_ACCOUNT="<finetuning project aoai account name>"