{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.VirtualMachineImages/imageTemplates?api-version=2022-02-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "source": {
                "imageId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/images/myimagesaaa",
                "type": "ManagedImage"
              },
              "customize": [
                {
                  "name": "Shell Customizer Example",
                  "scriptUri": "https://github.com/Azure/azure-quickstart-templates/blob/master/quickstarts/microsoft.compute/vm-msi/scripts/install-and-run-cli-2.sh",
                  "sha256Checksum": "8311b4fddda17cf3649ab132bab0a501994eddcb822c304d9433c7f8de884d92",
                  "type": "Shell"
                }
              ],
              "distribute": [
                {
                  "artifactTags": {
                    "tagName": "value"
                  },
                  "imageId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/images/myimagesaaa",
                  "location": "eastus",
                  "runOutputName": "image_it_pir_1",
                  "type": "ManagedImage"
                }
              ],
              "provisioningState": "Succeeded",
              "buildTimeoutInMinutes": 0,
              "stagingResourceGroup": "",
              "exactStagingResourceGroup": "/subscriptions/azure_subscription_id/resourceGroups/IT_myjstest_myimageTemplatexxxz_9eded134-5c02-4bbf-9482-8af8380f2e32"
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/mymsiaaa": {
                  "principalId": "8ae41e99-ae84-48fb-8d7a-b3a0eaf8c711",
                  "clientId": "76550935-29d2-4563-8722-f49453eb0ce1"
                }
              }
            },
            "tags": {
              "tag1": "IT_T1",
              "tag2": "IT2_T2"
            },
            "location": "eastus",
            "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.VirtualMachineImages/imageTemplates/myimageTemplatexxxz",
            "name": "myimageTemplatexxxz",
            "type": "Microsoft.VirtualMachineImages/imageTemplates"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
