/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ChatApiClient } from "../chatApiClient";
import {
  CreateChatThreadRequest,
  ChatCreateChatThreadOptionalParams,
  ChatCreateChatThreadResponse,
  ChatListChatThreadsOptionalParams,
  ChatListChatThreadsResponse,
  ChatGetChatThreadResponse,
  ChatListChatThreadsNextOptionalParams,
  ChatListChatThreadsNextResponse
} from "../models";

/**
 * Class representing a Chat.
 */
export class Chat {
  private readonly client: ChatApiClient;

  /**
   * Initialize a new instance of the class Chat class.
   * @param client Reference to the service client
   */
  constructor(client: ChatApiClient) {
    this.client = client;
  }

  /**
   * Creates a chat thread.
   * @param createChatThreadRequest Request payload for creating a chat thread.
   * @param options The options parameters.
   */
  createChatThread(
    createChatThreadRequest: CreateChatThreadRequest,
    options?: ChatCreateChatThreadOptionalParams
  ): Promise<ChatCreateChatThreadResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { createChatThreadRequest, options: operationOptions },
      createChatThreadOperationSpec
    ) as Promise<ChatCreateChatThreadResponse>;
  }

  /**
   * Gets the list of chat threads of a user.
   * @param options The options parameters.
   */
  listChatThreads(
    options?: ChatListChatThreadsOptionalParams
  ): Promise<ChatListChatThreadsResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { options: operationOptions },
      listChatThreadsOperationSpec
    ) as Promise<ChatListChatThreadsResponse>;
  }

  /**
   * Gets a chat thread.
   * @param chatThreadId Thread id to get.
   * @param options The options parameters.
   */
  getChatThread(
    chatThreadId: string,
    options?: coreHttp.OperationOptions
  ): Promise<ChatGetChatThreadResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { chatThreadId, options: operationOptions },
      getChatThreadOperationSpec
    ) as Promise<ChatGetChatThreadResponse>;
  }

  /**
   * Deletes a thread.
   * @param chatThreadId Thread id to delete.
   * @param options The options parameters.
   */
  deleteChatThread(
    chatThreadId: string,
    options?: coreHttp.OperationOptions
  ): Promise<coreHttp.RestResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { chatThreadId, options: operationOptions },
      deleteChatThreadOperationSpec
    ) as Promise<coreHttp.RestResponse>;
  }

  /**
   * ListChatThreadsNext
   * @param nextLink The nextLink from the previous successful call to the ListChatThreads method.
   * @param options The options parameters.
   */
  listChatThreadsNext(
    nextLink: string,
    options?: ChatListChatThreadsNextOptionalParams
  ): Promise<ChatListChatThreadsNextResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { nextLink, options: operationOptions },
      listChatThreadsNextOperationSpec
    ) as Promise<ChatListChatThreadsNextResponse>;
  }
}
// Operation Specifications

const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const createChatThreadOperationSpec: coreHttp.OperationSpec = {
  path: "/chat/threads",
  httpMethod: "POST",
  responses: {
    201: {
      bodyMapper: Mappers.CreateChatThreadResult
    },
    401: {
      bodyMapper: Mappers.ErrorModel
    },
    403: {
      bodyMapper: Mappers.ErrorModel
    },
    429: {
      bodyMapper: Mappers.ErrorModel
    },
    503: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  requestBody: Parameters.createChatThreadRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.contentType, Parameters.repeatabilityRequestID],
  mediaType: "json",
  serializer
};
const listChatThreadsOperationSpec: coreHttp.OperationSpec = {
  path: "/chat/threads",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChatThreadsInfoCollection
    },
    401: {
      bodyMapper: Mappers.ErrorModel
    },
    403: {
      bodyMapper: Mappers.ErrorModel
    },
    429: {
      bodyMapper: Mappers.ErrorModel
    },
    503: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [
    Parameters.maxPageSize,
    Parameters.apiVersion,
    Parameters.startTime
  ],
  urlParameters: [Parameters.endpoint],
  serializer
};
const getChatThreadOperationSpec: coreHttp.OperationSpec = {
  path: "/chat/threads/{chatThreadId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChatThread
    },
    401: {
      bodyMapper: Mappers.ErrorModel
    },
    403: {
      bodyMapper: Mappers.ErrorModel
    },
    429: {
      bodyMapper: Mappers.ErrorModel
    },
    503: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.chatThreadId],
  serializer
};
const deleteChatThreadOperationSpec: coreHttp.OperationSpec = {
  path: "/chat/threads/{chatThreadId}",
  httpMethod: "DELETE",
  responses: {
    204: {},
    401: {
      bodyMapper: Mappers.ErrorModel
    },
    403: {
      bodyMapper: Mappers.ErrorModel
    },
    429: {
      bodyMapper: Mappers.ErrorModel
    },
    503: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.chatThreadId],
  serializer
};
const listChatThreadsNextOperationSpec: coreHttp.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChatThreadsInfoCollection
    },
    401: {
      bodyMapper: Mappers.ErrorModel
    },
    403: {
      bodyMapper: Mappers.ErrorModel
    },
    429: {
      bodyMapper: Mappers.ErrorModel
    },
    503: {
      bodyMapper: Mappers.ErrorModel
    }
  },
  queryParameters: [
    Parameters.maxPageSize,
    Parameters.apiVersion,
    Parameters.startTime
  ],
  urlParameters: [Parameters.endpoint, Parameters.nextLink],
  serializer
};
