/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { CallConnection } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { CallAutomationApiClient } from "../callAutomationApiClient";
import {
  CallConnectionGetCallOptionalParams,
  CallConnectionGetCallResponse,
  CallConnectionHangupCallOptionalParams,
  CallConnectionTerminateCallOptionalParams,
  TransferToParticipantRequest,
  CallConnectionTransferToParticipantOptionalParams,
  CallConnectionTransferToParticipantResponse,
  CallConnectionGetParticipantsOptionalParams,
  CallConnectionGetParticipantsResponse,
  AddParticipantsRequest,
  CallConnectionAddParticipantOptionalParams,
  CallConnectionAddParticipantResponse,
  RemoveParticipantsRequest,
  CallConnectionRemoveParticipantsOptionalParams,
  CallConnectionRemoveParticipantsResponse,
  CallConnectionGetParticipantOptionalParams,
  CallConnectionGetParticipantResponse
} from "../models";

/** Class containing CallConnection operations. */
export class CallConnectionImpl implements CallConnection {
  private readonly client: CallAutomationApiClient;

  /**
   * Initialize a new instance of the class CallConnection class.
   * @param client Reference to the service client
   */
  constructor(client: CallAutomationApiClient) {
    this.client = client;
  }

  /**
   * Get call connection.
   * @param callConnectionId The call connection id.
   * @param options The options parameters.
   */
  getCall(
    callConnectionId: string,
    options?: CallConnectionGetCallOptionalParams
  ): Promise<CallConnectionGetCallResponse> {
    return this.client.sendOperationRequest(
      { callConnectionId, options },
      getCallOperationSpec
    );
  }

  /**
   * Hangup the call.
   * @param callConnectionId The call connection id.
   * @param options The options parameters.
   */
  hangupCall(
    callConnectionId: string,
    options?: CallConnectionHangupCallOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { callConnectionId, options },
      hangupCallOperationSpec
    );
  }

  /**
   * Terminate a call using CallConnectionId.
   * @param callConnectionId The terminate call request.
   * @param options The options parameters.
   */
  terminateCall(
    callConnectionId: string,
    options?: CallConnectionTerminateCallOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { callConnectionId, options },
      terminateCallOperationSpec
    );
  }

  /**
   * Transfer the call to a participant.
   * @param callConnectionId The call connection id.
   * @param transferToParticipantRequest The transfer to participant request.
   * @param options The options parameters.
   */
  transferToParticipant(
    callConnectionId: string,
    transferToParticipantRequest: TransferToParticipantRequest,
    options?: CallConnectionTransferToParticipantOptionalParams
  ): Promise<CallConnectionTransferToParticipantResponse> {
    return this.client.sendOperationRequest(
      { callConnectionId, transferToParticipantRequest, options },
      transferToParticipantOperationSpec
    );
  }

  /**
   * Get participants from a call.
   * @param callConnectionId The call connection Id
   * @param options The options parameters.
   */
  getParticipants(
    callConnectionId: string,
    options?: CallConnectionGetParticipantsOptionalParams
  ): Promise<CallConnectionGetParticipantsResponse> {
    return this.client.sendOperationRequest(
      { callConnectionId, options },
      getParticipantsOperationSpec
    );
  }

  /**
   * Add participants to the call.
   * @param callConnectionId The call connection Id
   * @param addParticipantsRequest The add participants request.
   * @param options The options parameters.
   */
  addParticipant(
    callConnectionId: string,
    addParticipantsRequest: AddParticipantsRequest,
    options?: CallConnectionAddParticipantOptionalParams
  ): Promise<CallConnectionAddParticipantResponse> {
    return this.client.sendOperationRequest(
      { callConnectionId, addParticipantsRequest, options },
      addParticipantOperationSpec
    );
  }

  /**
   * Remove participant from the call using identifier.
   * @param callConnectionId The call connection id.
   * @param removeParticipantsRequest The participants to be removed from the call.
   * @param options The options parameters.
   */
  removeParticipants(
    callConnectionId: string,
    removeParticipantsRequest: RemoveParticipantsRequest,
    options?: CallConnectionRemoveParticipantsOptionalParams
  ): Promise<CallConnectionRemoveParticipantsResponse> {
    return this.client.sendOperationRequest(
      { callConnectionId, removeParticipantsRequest, options },
      removeParticipantsOperationSpec
    );
  }

  /**
   * Get participant from a call.
   * @param callConnectionId The call connection Id
   * @param participantMri MRI of the participant to retrieve.
   * @param options The options parameters.
   */
  getParticipant(
    callConnectionId: string,
    participantMri: string,
    options?: CallConnectionGetParticipantOptionalParams
  ): Promise<CallConnectionGetParticipantResponse> {
    return this.client.sendOperationRequest(
      { callConnectionId, participantMri, options },
      getParticipantOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getCallOperationSpec: coreClient.OperationSpec = {
  path: "/calling/callConnections/{callConnectionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CallConnectionProperties
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.callConnectionId],
  headerParameters: [Parameters.accept],
  serializer
};
const hangupCallOperationSpec: coreClient.OperationSpec = {
  path: "/calling/callConnections/{callConnectionId}",
  httpMethod: "DELETE",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.callConnectionId],
  headerParameters: [Parameters.accept],
  serializer
};
const terminateCallOperationSpec: coreClient.OperationSpec = {
  path: "/calling/callConnections/{callConnectionId}:terminate",
  httpMethod: "POST",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.callConnectionId],
  headerParameters: [
    Parameters.accept,
    Parameters.repeatabilityRequestID,
    Parameters.repeatabilityFirstSent
  ],
  serializer
};
const transferToParticipantOperationSpec: coreClient.OperationSpec = {
  path: "/calling/callConnections/{callConnectionId}:transferToParticipant",
  httpMethod: "POST",
  responses: {
    202: {
      bodyMapper: Mappers.TransferCallResponse
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  requestBody: Parameters.transferToParticipantRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.callConnectionId],
  headerParameters: [
    Parameters.contentType,
    Parameters.accept,
    Parameters.repeatabilityRequestID,
    Parameters.repeatabilityFirstSent
  ],
  mediaType: "json",
  serializer
};
const getParticipantsOperationSpec: coreClient.OperationSpec = {
  path: "/calling/callConnections/{callConnectionId}/participants",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GetParticipantsResponse
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.callConnectionId],
  headerParameters: [Parameters.accept],
  serializer
};
const addParticipantOperationSpec: coreClient.OperationSpec = {
  path: "/calling/callConnections/{callConnectionId}/participants:add",
  httpMethod: "POST",
  responses: {
    202: {
      bodyMapper: Mappers.AddParticipantsResponse
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  requestBody: Parameters.addParticipantsRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.callConnectionId],
  headerParameters: [
    Parameters.contentType,
    Parameters.accept,
    Parameters.repeatabilityRequestID,
    Parameters.repeatabilityFirstSent
  ],
  mediaType: "json",
  serializer
};
const removeParticipantsOperationSpec: coreClient.OperationSpec = {
  path: "/calling/callConnections/{callConnectionId}/participants:remove",
  httpMethod: "POST",
  responses: {
    202: {
      bodyMapper: Mappers.RemoveParticipantsResponse
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  requestBody: Parameters.removeParticipantsRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.callConnectionId],
  headerParameters: [
    Parameters.contentType,
    Parameters.accept,
    Parameters.repeatabilityRequestID,
    Parameters.repeatabilityFirstSent
  ],
  mediaType: "json",
  serializer
};
const getParticipantOperationSpec: coreClient.OperationSpec = {
  path:
    "/calling/callConnections/{callConnectionId}/participants/{participantMri}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AcsCallParticipant
    },
    default: {
      bodyMapper: Mappers.CommunicationErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.endpoint,
    Parameters.callConnectionId,
    Parameters.participantMri
  ],
  headerParameters: [Parameters.accept],
  serializer
};
