{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486354072708835?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:52:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00C187A70B6E\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:52:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486354072708835/blob167486354079806205",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 27 Jan 2023 23:52:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTY3NDg2MzU0MDc5OTAxNjE3",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "yBqKjlEGbhCrMO6WlSG5ag==",
        "ETag": "\u00220x8DB00C187B18F22\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:52:20 GMT",
        "x-ms-content-crc64": "iorOBLLD3Ys=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T23:52:20.8305954Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486354072708835/blob167486354079806205",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:52:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "yBqKjlEGbhCrMO6WlSG5ag==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB00C187B18F22\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 23:52:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 27 Jan 2023 23:52:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T23:52:20.8305954Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTY3NDg2MzU0MDc5OTAxNjE3"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167486354072708835?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 23:52:20 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167486354079806205",
    "container": "container167486354072708835",
    "randomstring": "randomstring167486354079901617"
  }
}
