{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Workloads/monitors/myMonitor?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/b23b164c-1a3c-496a-ad2c-9e4137fe9d3a*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228200bfbf-0000-0100-0000-63f466500000\u0022",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/b23b164c-1a3c-496a-ad2c-9e4137fe9d3a*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B?api-version=2022-11-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/b23b164c-1a3c-496a-ad2c-9e4137fe9d3a*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002247006f9c-0000-0100-0000-63f4664e0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11915"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/b23b164c-1a3c-496a-ad2c-9e4137fe9d3a*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B",
        "name": "b23b164c-1a3c-496a-ad2c-9e4137fe9d3a*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Workloads/monitors/myMonitor",
        "status": "Deleting",
        "startTime": "2023-02-21T06:35:58.8247634Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/b23b164c-1a3c-496a-ad2c-9e4137fe9d3a*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225d00215e-0000-4d00-0000-63f467290000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11822"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/b23b164c-1a3c-496a-ad2c-9e4137fe9d3a*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B",
        "name": "b23b164c-1a3c-496a-ad2c-9e4137fe9d3a*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Workloads/monitors/myMonitor",
        "status": "Succeeded",
        "startTime": "2023-02-21T06:35:58.8247634Z",
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Workloads/monitors?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "b79fe8ad-eb5a-4859-9cb1-c08f87715b95",
          "c7406a96-0479-4f76-ab36-e146f6e5f8f6",
          "68aecdec-b543-4a04-9a71-b203b2f3365b",
          "588e4175-d4e2-493c-ab5a-a9712cfe7226",
          "201f3bb5-7544-413f-86bc-16d3e88fd5d2",
          "dd78f1d0-4702-4d56-a99e-89a135d2ce7b",
          "fad42c4c-eb86-4bce-8b84-0faea9802b72",
          "0de13e39-adc6-49bf-afc9-837cfe64886d",
          "8bebead9-1594-49f9-a69d-e84036b9ade2",
          "4bf8cb02-b3f0-455a-b2c1-1769027713a0",
          "87060572-1c62-4242-9a07-9635e76255a1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11821"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
