{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Workloads/monitors/myMonitor?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key": "value"
        },
        "location": "eastus2",
        "properties": {
          "appLocation": "eastus2",
          "routingPreference": "RouteAll",
          "managedResourceGroupConfiguration": {
            "name": "myManagedRg"
          },
          "logAnalyticsWorkspaceArmId": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/microsoft.operationalinsights/workspaces/myWorkspace",
          "monitorSubnet": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/virtualnetworkabc/subnets/mySubnet"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/1b0da92a-3a7e-412f-b02f-bc0f4de33c74*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228200f5bc-0000-0100-0000-63f465850000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Workloads/monitors/myMonitor",
        "name": "myMonitor",
        "type": "microsoft.workloads/monitors",
        "location": "eastus2",
        "tags": {
          "key": "value"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-02-21T06:32:36.0274628Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-21T06:32:36.0274628Z"
        },
        "properties": {
          "appLocation": "eastus2",
          "routingPreference": "RouteAll",
          "managedResourceGroupConfiguration": {
            "name": "myManagedRg"
          },
          "logAnalyticsWorkspaceArmId": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/microsoft.operationalinsights/workspaces/myWorkspace",
          "monitorSubnet": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/virtualnetworkabc/subnets/mySubnet",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/1b0da92a-3a7e-412f-b02f-bc0f4de33c74*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224700b69b-0000-0100-0000-63f465840000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/locations/EASTUS2/operationStatuses/1b0da92a-3a7e-412f-b02f-bc0f4de33c74*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B",
        "name": "1b0da92a-3a7e-412f-b02f-bc0f4de33c74*2474FB2CC4DBECBD5B1A868E144C98D14D7D4E0FF69FAC3B773FAED9FDA4C81B",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Workloads/monitors/myMonitor",
        "status": "Accepted",
        "startTime": "2023-02-21T06:32:36.9803799Z"
      }
    },
[...]
