{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Workloads/monitors?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "7a5c01ef-442c-460b-9daf-5cab8a8fe6f6",
          "b78a2e7e-7c14-4075-a9ad-d38b98f23db0",
          "d11ec7ef-d259-4fb3-83e4-38e11a789d03",
          "a082bd4e-3ce0-4220-b30f-8e9cd383d4f2",
          "18ebb33b-5f07-4c0c-8ee2-4febce85e1c1",
          "2ce1bb70-7cf9-401e-95a6-a6a3e1f2e70a",
          "6fdcc81d-8cfd-49ae-ac66-ffe2e2356ed7",
          "9c990aa5-9fdd-41e9-bd85-5e3ae60a4d04",
          "96c427e3-6343-4137-86b8-b4cbff4e3d72",
          "441c3219-38b1-46cf-9947-26170afa5271",
          "1c14e72c-5541-45d0-b61a-3fb22a1947eb"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11916"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Workloads/monitors/myMonitor",
            "name": "myMonitor",
            "type": "microsoft.workloads/monitors",
            "location": "eastus2",
            "tags": {
              "key": "value"
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-03-10T07:32:23.4063595Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-03-10T07:32:23.4063595Z"
            },
            "properties": {
              "appLocation": "eastus2",
              "routingPreference": "RouteAll",
              "managedResourceGroupConfiguration": {
                "name": "myManagedRg"
              },
              "logAnalyticsWorkspaceArmId": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/microsoft.operationalinsights/workspaces/myWorkspace",
              "monitorSubnet": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/virtualnetworkabc/subnets/mySubnet",
              "provisioningState": "Succeeded",
              "msiArmId": "/subscriptions/azure_subscription_id/resourcegroups/myManagedRg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sapmon-msi-41322afde22aaf",
              "storageAccountArmId": "/subscriptions/azure_subscription_id/resourcegroups/myManagedRg/providers/Microsoft.Storage/storageAccounts/sapsto41322afde22aaf"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
