{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "None"
        },
        "location": "eastus",
        "tags": {
          "key1": "val1"
        },
        "properties": {
          "monitoringSettings": {
            "azureMonitorAlertSettings": {
              "alertsForAllJobFailures": "Enabled"
            }
          },
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "LocallyRedundant"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample/operationStatus/NmFjMjBiMDQtODg0Yy00ZTM5LWJjZDEtNGIzZjUzZjIxN2YyOzgwNDUzOTViLTg2ODMtNDI3NC04MDEwLThiNTM1OTE5MDg1Mw==?api-version=2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-arm-resource-system-data": "{\u0022createdBy\u0022:\u0022azure_client_id\u0022,\u0022createdByType\u0022:\u0022Application\u0022,\u0022createdAt\u0022:\u00222023-02-06T07:08:26.6810227Z\u0022,\u0022lastModifiedBy\u0022:\u0022azure_client_id\u0022,\u0022lastModifiedByType\u0022:\u0022Application\u0022,\u0022lastModifiedAt\u0022:\u00222023-02-06T07:08:26.6810227Z\u0022}",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": {
        "location": "eastus",
        "tags": {
          "key1": "val1"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "storageSettings": [
            {
              "datastoreType": "VaultStore",
              "type": "LocallyRedundant"
            }
          ],
          "isVaultProtectedByResourceGuard": false,
          "monitoringSettings": {
            "azureMonitorAlertSettings": {
              "alertsForAllJobFailures": "Enabled"
            }
          },
          "securitySettings": {
            "softDeleteSettings": {
              "state": "On",
              "retentionDurationInDays": 14.0
            }
          }
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample",
        "name": "swaggerExample",
        "type": "Microsoft.DataProtection/backupVaults"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample/operationStatus/NmFjMjBiMDQtODg0Yy00ZTM5LWJjZDEtNGIzZjUzZjIxN2YyOzgwNDUzOTViLTg2ODMtNDI3NC04MDEwLThiNTM1OTE5MDg1Mw==?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample/operationStatus/NmFjMjBiMDQtODg0Yy00ZTM5LWJjZDEtNGIzZjUzZjIxN2YyOzgwNDUzOTViLTg2ODMtNDI3NC04MDEwLThiNTM1OTE5MDg1Mw==",
        "name": "NmFjMjBiMDQtODg0Yy00ZTM5LWJjZDEtNGIzZjUzZjIxN2YyOzgwNDUzOTViLTg2ODMtNDI3NC04MDEwLThiNTM1OTE5MDg1Mw==",
        "status": "Succeeded",
        "startTime": "2023-02-06T07:08:27.9574336Z",
        "endTime": "2023-02-06T07:08:28Z"
      }
    },
[...]
