{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "497"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "tags": {
              "key1": "val1"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "storageSettings": [
                {
                  "datastoreType": "VaultStore",
                  "type": "LocallyRedundant"
                }
              ],
              "isVaultProtectedByResourceGuard": false,
              "monitoringSettings": {
                "azureMonitorAlertSettings": {
                  "alertsForAllJobFailures": "Enabled"
                }
              },
              "securitySettings": {
                "softDeleteSettings": {
                  "state": "On",
                  "retentionDurationInDays": 14.0
                }
              }
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.DataProtection/backupVaults/swaggerExample",
            "name": "swaggerExample",
            "type": "Microsoft.DataProtection/backupVaults"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
