{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181759905183x0?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-key": "val",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB6854EDA35641\u0022",
        "Last-Modified": "Thu, 08 Jun 2023 19:16:57 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/?comp=list\u0026prefix=share168625181759905183\u0026maxresults=2\u0026include=metadata,snapshots\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.file.core.windows.net/\u0022\u003E\u003CPrefix\u003Eshare168625181759905183\u003C/Prefix\u003E\u003CMaxResults\u003E2\u003C/MaxResults\u003E\u003CShares\u003E\u003CShare\u003E\u003CName\u003Eshare168625181759905183x0\u003C/Name\u003E\u003CProperties\u003E\u003CLa[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/?comp=list\u0026prefix=share168625181759905183\u0026marker=%2Ffakestorageaccount%2Fshare168625181759905183x2%2F01D99A3DCB42212A%2F9999-12-31T23%3A59%3A59.9999999Z\u0026maxresults=2\u0026include=metadata,snapshots\u0026",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type"[...]
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share168625181759905183x3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "share": "share168625181759905183"
  }
}
