{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metricDefinitions?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "399"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/microsoft.insights/metricdefinitions/BytesExported",
            "resourceId": "metrics-arm-resource-id",
            "namespace": "Microsoft.OperationalInsights/workspaces",
            "category": "DataExport",
            "name": {
              "value": "BytesExported",
              "localizedValue": "Bytes Exported (preview)"
            },
            "displayDescription": "Total number of bytes exported per the specified data export rule to the specified destination from this workspace.",
            "isDimensionRequired": false,
            "unit": "Bytes",
            "primaryAggregationType": "Total",
            "supportedAggregationTypes": [
              "None",
              "Average",
              "Minimum",
              "Maximum",
              "Total",
              "Count"
            ],
            "metricAvailabilities": [
              {
                "timeGrain": "PT1M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT5M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT15M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT30M",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT1H",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT6H",
                "retention": "P93D"
              },
              {
                "timeGrain": "PT12H",
                "retention": "P93D"
              },
              {
                "timeGrain": "P1D",
                "retention": "P93D"
              }
            ],
            "dimensions": [
              {
                "value": "LogAnalyticsDataExportDestinationType",
                "localizedValue": "LogAnalyticsDataExportDestinationType"
              },
              {
                "value": "LogAnalyticsDataExportRuleName",
                "localizedValue": "LogAnalyticsDataExportRuleName"
              }
            ]
          },
          {
            "id": "metrics-arm-resource-id/providers/microsoft.insights/metricdefinitions/RecordsExported",
            "resour[...]
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=BytesExported",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:26Z/2024-03-15T21:49:26Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/BytesExported",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "BytesExported",
              "localizedValue": "Bytes Exported (preview)"
            },
            "displayDescription": "Total number of bytes exported per the specified data export rule to the specified destination from this workspace.",
            "unit": "Bytes",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=RecordsExported",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:26Z/2024-03-15T21:49:26Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/RecordsExported",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "RecordsExported",
              "localizedValue": "Records Exported (preview)"
            },
            "displayDescription": "Total number of records exported per the specified data export rule to the specified destination from this workspace.",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=ExportFailed",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:26Z/2024-03-15T21:49:26Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/ExportFailed",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "ExportFailed",
              "localizedValue": "Exports Failed (preview)"
            },
            "displayDescription": "Total number of data exports failed per the specified data export rule to the specified destination from this workspace.",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=AvailabilityRate_Query",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:27Z/2024-03-15T21:49:27Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/AvailabilityRate_Query",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "AvailabilityRate_Query",
              "localizedValue": "AvailabilityRate_Query"
            },
            "displayDescription": "User query success rate for this workspace.",
            "unit": "Percent",
            "timeseries": [
              {
                "metadatavalues": [],
                "data": [
                  {
                    "timeStamp": "2024-03-15T20:49:00Z"
                  },
                  {
                    "timeStamp": "2024-03-15T20:50:00Z"
                  },
                  {
                    "timeStamp": "2024-03-15T20:51:00Z"
                  },
                  {
                    "timeStamp": "2024-03-15T20:52:00Z"
                  },
                  {
                    "timeStamp": "2024-03-15T20:53:00Z"
                  },
                  {
                    "timeStamp": "2024-03-15T20[...]
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Query%20Count",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "Response[...]
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Query%20Failure%20Count",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:27Z/2024-03-15T21:49:27Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Query Failure Count",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Query Failure Count",
              "localizedValue": "Query Failure Count"
            },
            "displayDescription": "Total number of failed user queries for this workspace.",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_%25%20Free%20Inodes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:27Z/2024-03-15T21:49:27Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_% Free Inodes",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_% Free Inodes",
              "localizedValue": "% Free Inodes"
            },
            "displayDescription": "Average_% Free Inodes. Supported for: Linux. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Ingestion%20Volume",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:27Z/2024-03-15T21:49:27Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Ingestion Volume",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Ingestion Volume",
              "localizedValue": "Ingestion Volume"
            },
            "displayDescription": "Total number of ingested records for this workspace.",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Ingestion%20Time",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:28Z/2024-03-15T21:49:28Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Ingestion Time",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Ingestion Time",
              "localizedValue": "Ingestion Time"
            },
            "displayDescription": "Latency of data ingested, from the time that the data is created on the monitored system and the time that it is available for analysis in this workspace.",
            "unit": "Seconds",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_%25%20Free%20Space",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:28Z/2024-03-15T21:49:28Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_% Free Space",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_% Free Space",
              "localizedValue": "% Free Space"
            },
            "displayDescription": "Average_% Free Space. Supported for: Linux, Windows. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_%25%20Used%20Inodes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:28Z/2024-03-15T21:49:28Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_% Used Inodes",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_% Used Inodes",
              "localizedValue": "% Used Inodes"
            },
            "displayDescription": "Average_% Used Inodes. Supported for: Linux. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_%25%20Used%20Space",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:28Z/2024-03-15T21:49:28Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_% Used Space",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_% Used Space",
              "localizedValue": "% Used Space"
            },
            "displayDescription": "Average_% Used Space. Supported for: Linux. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_Disk%20Read%20Bytes%2Fsec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:28Z/2024-03-15T21:49:28Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_Disk Read Bytes/sec",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_Disk Read Bytes/sec",
              "localizedValue": "Disk Read Bytes/sec"
            },
            "displayDescription": "Average_Disk Read Bytes/sec. Supported for: Linux, Windows. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_Disk%20Reads%2Fsec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:29Z/2024-03-15T21:49:29Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_Disk Reads/sec",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_Disk Reads/sec",
              "localizedValue": "Disk Reads/sec"
            },
            "displayDescription": "Average_Disk Reads/sec. Supported for: Linux, Windows. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_Disk%20Transfers%2Fsec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:29Z/2024-03-15T21:49:29Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_Disk Transfers/sec",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_Disk Transfers/sec",
              "localizedValue": "Disk Transfers/sec"
            },
            "displayDescription": "Average_Disk Transfers/sec. Supported for: Linux, Windows. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_Disk%20Write%20Bytes%2Fsec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:29Z/2024-03-15T21:49:29Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_Disk Write Bytes/sec",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_Disk Write Bytes/sec",
              "localizedValue": "Disk Write Bytes/sec"
            },
            "displayDescription": "Average_Disk Write Bytes/sec. Supported for: Linux, Windows. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_Disk%20Writes%2Fsec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:29Z/2024-03-15T21:49:29Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_Disk Writes/sec",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_Disk Writes/sec",
              "localizedValue": "Disk Writes/sec"
            },
            "displayDescription": "Average_Disk Writes/sec. Supported for: Linux, Windows. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_Free%20Megabytes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:29Z/2024-03-15T21:49:29Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_Free Megabytes",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_Free Megabytes",
              "localizedValue": "Free Megabytes"
            },
            "displayDescription": "Average_Free Megabytes. Supported for: Linux, Windows. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_Logical%20Disk%20Bytes%2Fsec",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:30Z/2024-03-15T21:49:30Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_Logical Disk Bytes/sec",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_Logical Disk Bytes/sec",
              "localizedValue": "Logical Disk Bytes/sec"
            },
            "displayDescription": "Average_Logical Disk Bytes/sec. Supported for: Linux. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_%25%20Available%20Memory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:30Z/2024-03-15T21:49:30Z",
        "interval": "PT1M",
        "value": [
          {
            "id": "metrics-arm-resource-id/providers/Microsoft.Insights/metrics/Average_% Available Memory",
            "type": "Microsoft.Insights/metrics",
            "name": {
              "value": "Average_% Available Memory",
              "localizedValue": "% Available Memory"
            },
            "displayDescription": "Average_% Available Memory. Supported for: Linux. Part of [metric alerts for logs feature](https://aka.ms/am-log-to-metric).",
            "unit": "Count",
            "timeseries": [],
            "errorCode": "Success"
          }
        ],
        "namespace": "Microsoft.OperationalInsights/workspaces",
        "resourceregion": "eastus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/metrics-arm-resource-id/providers/Microsoft.Insights/metrics?api-version=2023-10-01\u0026metricnames=Average_%25%20Available%20Swap%20Space",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "cost": 59,
        "timespan": "2024-03-15T20:49:30Z/2024-03-15T21:49:30Z",
        "interval": "PT1M",
        "value": [
          {
[...]
