{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies?maxpagesize=20\u0026api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:10 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "dc0cfb7e-d358-96ca-e3a1-8e01e2768334"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "test-h-policy-recorded-d-policies",
            "exceptionRules": [
              {
                "id": "MaxWaitTimeExceededCancel",
                "trigger": {
                  "kind": "wait-time",
                  "thresholdSeconds": 10
                },
                "actions": [
                  {
                    "kind": "cancel",
                    "note": "wait time exceeded; cancelling",
                    "id": "d05d0957-4d61-4426-8583-85c466115a22"
                  }
                ]
              }
            ],
            "etag": "\u00222d1b9a63-0000-0700-0000-65483a5c0000\u0022"
          },
          {
            "id": "test-e-policy-recorded-jobs",
            "name": "test-e-policy",
            "exceptionRules": [
              {
                "id": "MaxWaitTimeExceededCancel",
                "trigger": {
                  "kind": "wait-time",
                  "thresholdSeconds": 10
                },
                "actions": [
                  {
                    "kind": "cancel",
                    "note": "wait time exceeded; cancelling",
                    "id": "ebeb914e-854c-4827-b733-2803a70bfe8a"
                  }
                ]
   [...]
