{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-h-policy-recorded-d-policies?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Cra0Om0ZqhFeDkbLieY\u002Bv\u002B7gXRaJ3OqYfEy3xRhld5Y=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:09 GMT"
      },
      "RequestBody": {
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling"
              }
            ],
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d1b6763-0000-0700-0000-65483a5b0000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:07 GMT",
        "trace-id": "cc90586f-8bf8-979d-2711-8b96109a6c89"
      },
      "ResponseBody": {
        "id": "test-h-policy-recorded-d-policies",
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            },
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling",
                "id": "cd05a7b6-5c71-4c09-a235-a2bb7b689c7c"
              }
            ]
          }
        ],
        "etag": "\u00222d1b6763-0000-0700-0000-65483a5b0000\u0022"
      }
    }
  ],
  "Variables": {}
}
