/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ExtensionTypeVersions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SourceControlConfigurationClient } from "../sourceControlConfigurationClient";
import {
  ExtensionVersionListVersionsItem,
  ExtensionTypeVersionsListNextOptionalParams,
  ExtensionTypeVersionsListOptionalParams,
  ExtensionTypeVersionsListResponse,
  ExtensionTypeVersionsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ExtensionTypeVersions operations. */
export class ExtensionTypeVersionsImpl implements ExtensionTypeVersions {
  private readonly client: SourceControlConfigurationClient;

  /**
   * Initialize a new instance of the class ExtensionTypeVersions class.
   * @param client Reference to the service client
   */
  constructor(client: SourceControlConfigurationClient) {
    this.client = client;
  }

  /**
   * List available versions for an Extension Type
   * @param location extension location
   * @param extensionTypeName Extension type name
   * @param options The options parameters.
   */
  public list(
    location: string,
    extensionTypeName: string,
    options?: ExtensionTypeVersionsListOptionalParams
  ): PagedAsyncIterableIterator<ExtensionVersionListVersionsItem> {
    const iter = this.listPagingAll(location, extensionTypeName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(location, extensionTypeName, options);
      }
    };
  }

  private async *listPagingPage(
    location: string,
    extensionTypeName: string,
    options?: ExtensionTypeVersionsListOptionalParams
  ): AsyncIterableIterator<ExtensionVersionListVersionsItem[]> {
    let result = await this._list(location, extensionTypeName, options);
    yield result.versions || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        location,
        extensionTypeName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.versions || [];
    }
  }

  private async *listPagingAll(
    location: string,
    extensionTypeName: string,
    options?: ExtensionTypeVersionsListOptionalParams
  ): AsyncIterableIterator<ExtensionVersionListVersionsItem> {
    for await (const page of this.listPagingPage(
      location,
      extensionTypeName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * List available versions for an Extension Type
   * @param location extension location
   * @param extensionTypeName Extension type name
   * @param options The options parameters.
   */
  private _list(
    location: string,
    extensionTypeName: string,
    options?: ExtensionTypeVersionsListOptionalParams
  ): Promise<ExtensionTypeVersionsListResponse> {
    return this.client.sendOperationRequest(
      { location, extensionTypeName, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param location extension location
   * @param extensionTypeName Extension type name
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    extensionTypeName: string,
    nextLink: string,
    options?: ExtensionTypeVersionsListNextOptionalParams
  ): Promise<ExtensionTypeVersionsListNextResponse> {
    return this.client.sendOperationRequest(
      { location, extensionTypeName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.KubernetesConfiguration/locations/{location}/extensionTypes/{extensionTypeName}/versions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtensionVersionList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.extensionTypeName,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtensionVersionList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.extensionTypeName,
    Parameters.nextLink,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
