# Used in most samples. Retrieve these values from a Cognitive Services instance
# in the Azure Portal.
FORM_RECOGNIZER_ENDPOINT="https://<resource name>.cognitiveservies.azure.com/"
FORM_RECOGNIZER_API_KEY="<form recognizer api key>"

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=playback