/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ProfessionalServiceOperation } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ProfessionalService } from "../professionalService";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  ProfessionalServiceOperationGetOptionalParams,
  ProfessionalServiceOperationGetResponse
} from "../models";

/** Class containing ProfessionalServiceOperation operations. */
export class ProfessionalServiceOperationImpl
  implements ProfessionalServiceOperation {
  private readonly client: ProfessionalService;

  /**
   * Initialize a new instance of the class ProfessionalServiceOperation class.
   * @param client Reference to the service client
   */
  constructor(client: ProfessionalService) {
    this.client = client;
  }

  /**
   * Gets information about the specified operation progress.
   * @param operationId the operation Id parameter.
   * @param options The options parameters.
   */
  async beginGet(
    operationId: string,
    options?: ProfessionalServiceOperationGetOptionalParams
  ): Promise<
    PollerLike<
      PollOperationState<ProfessionalServiceOperationGetResponse>,
      ProfessionalServiceOperationGetResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<ProfessionalServiceOperationGetResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      { operationId, options },
      getOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      lroResourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Gets information about the specified operation progress.
   * @param operationId the operation Id parameter.
   * @param options The options parameters.
   */
  async beginGetAndWait(
    operationId: string,
    options?: ProfessionalServiceOperationGetOptionalParams
  ): Promise<ProfessionalServiceOperationGetResponse> {
    const poller = await this.beginGet(operationId, options);
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.ProfessionalService/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    201: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    202: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    204: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.operationId],
  headerParameters: [Parameters.accept],
  serializer
};
