/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ClusterPoolAvailableUpgrades } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HDInsightContainersManagementClient } from "../hDInsightContainersManagementClient";
import {
  ClusterPoolAvailableUpgrade,
  ClusterPoolAvailableUpgradesListNextOptionalParams,
  ClusterPoolAvailableUpgradesListOptionalParams,
  ClusterPoolAvailableUpgradesListResponse,
  ClusterPoolAvailableUpgradesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ClusterPoolAvailableUpgrades operations. */
export class ClusterPoolAvailableUpgradesImpl
  implements ClusterPoolAvailableUpgrades
{
  private readonly client: HDInsightContainersManagementClient;

  /**
   * Initialize a new instance of the class ClusterPoolAvailableUpgrades class.
   * @param client Reference to the service client
   */
  constructor(client: HDInsightContainersManagementClient) {
    this.client = client;
  }

  /**
   * List a cluster pool available upgrade.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    clusterPoolName: string,
    options?: ClusterPoolAvailableUpgradesListOptionalParams,
  ): PagedAsyncIterableIterator<ClusterPoolAvailableUpgrade> {
    const iter = this.listPagingAll(
      resourceGroupName,
      clusterPoolName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          clusterPoolName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    clusterPoolName: string,
    options?: ClusterPoolAvailableUpgradesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ClusterPoolAvailableUpgrade[]> {
    let result: ClusterPoolAvailableUpgradesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, clusterPoolName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        clusterPoolName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    clusterPoolName: string,
    options?: ClusterPoolAvailableUpgradesListOptionalParams,
  ): AsyncIterableIterator<ClusterPoolAvailableUpgrade> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      clusterPoolName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List a cluster pool available upgrade.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    clusterPoolName: string,
    options?: ClusterPoolAvailableUpgradesListOptionalParams,
  ): Promise<ClusterPoolAvailableUpgradesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterPoolName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    clusterPoolName: string,
    nextLink: string,
    options?: ClusterPoolAvailableUpgradesListNextOptionalParams,
  ): Promise<ClusterPoolAvailableUpgradesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterPoolName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusterpools/{clusterPoolName}/availableUpgrades",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterPoolAvailableUpgradeList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterPoolName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterPoolAvailableUpgradeList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterPoolName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
