/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ClusterAvailableUpgrades } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HDInsightContainersManagementClient } from "../hDInsightContainersManagementClient";
import {
  ClusterAvailableUpgrade,
  ClusterAvailableUpgradesListNextOptionalParams,
  ClusterAvailableUpgradesListOptionalParams,
  ClusterAvailableUpgradesListResponse,
  ClusterAvailableUpgradesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ClusterAvailableUpgrades operations. */
export class ClusterAvailableUpgradesImpl implements ClusterAvailableUpgrades {
  private readonly client: HDInsightContainersManagementClient;

  /**
   * Initialize a new instance of the class ClusterAvailableUpgrades class.
   * @param client Reference to the service client
   */
  constructor(client: HDInsightContainersManagementClient) {
    this.client = client;
  }

  /**
   * List a cluster available upgrade.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param clusterName The name of the HDInsight cluster.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    options?: ClusterAvailableUpgradesListOptionalParams,
  ): PagedAsyncIterableIterator<ClusterAvailableUpgrade> {
    const iter = this.listPagingAll(
      resourceGroupName,
      clusterPoolName,
      clusterName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          clusterPoolName,
          clusterName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    options?: ClusterAvailableUpgradesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ClusterAvailableUpgrade[]> {
    let result: ClusterAvailableUpgradesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        clusterPoolName,
        clusterName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        clusterPoolName,
        clusterName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    options?: ClusterAvailableUpgradesListOptionalParams,
  ): AsyncIterableIterator<ClusterAvailableUpgrade> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      clusterPoolName,
      clusterName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List a cluster available upgrade.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param clusterName The name of the HDInsight cluster.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    options?: ClusterAvailableUpgradesListOptionalParams,
  ): Promise<ClusterAvailableUpgradesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterPoolName, clusterName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param clusterName The name of the HDInsight cluster.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    nextLink: string,
    options?: ClusterAvailableUpgradesListNextOptionalParams,
  ): Promise<ClusterAvailableUpgradesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterPoolName, clusterName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusterpools/{clusterPoolName}/clusters/{clusterName}/availableUpgrades",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterAvailableUpgradeList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterPoolName,
    Parameters.clusterName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterAvailableUpgradeList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterPoolName,
    Parameters.nextLink,
    Parameters.clusterName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
