/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ClusterUpgradeHistories } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HDInsightContainersManagementClient } from "../hDInsightContainersManagementClient";
import {
  ClusterUpgradeHistory,
  ClusterUpgradeHistoriesListNextOptionalParams,
  ClusterUpgradeHistoriesListOptionalParams,
  ClusterUpgradeHistoriesListResponse,
  ClusterUpgradeHistoriesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ClusterUpgradeHistories operations. */
export class ClusterUpgradeHistoriesImpl implements ClusterUpgradeHistories {
  private readonly client: HDInsightContainersManagementClient;

  /**
   * Initialize a new instance of the class ClusterUpgradeHistories class.
   * @param client Reference to the service client
   */
  constructor(client: HDInsightContainersManagementClient) {
    this.client = client;
  }

  /**
   * Returns a list of upgrade history.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param clusterName The name of the HDInsight cluster.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    options?: ClusterUpgradeHistoriesListOptionalParams,
  ): PagedAsyncIterableIterator<ClusterUpgradeHistory> {
    const iter = this.listPagingAll(
      resourceGroupName,
      clusterPoolName,
      clusterName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          clusterPoolName,
          clusterName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    options?: ClusterUpgradeHistoriesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ClusterUpgradeHistory[]> {
    let result: ClusterUpgradeHistoriesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        clusterPoolName,
        clusterName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        clusterPoolName,
        clusterName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    options?: ClusterUpgradeHistoriesListOptionalParams,
  ): AsyncIterableIterator<ClusterUpgradeHistory> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      clusterPoolName,
      clusterName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Returns a list of upgrade history.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param clusterName The name of the HDInsight cluster.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    options?: ClusterUpgradeHistoriesListOptionalParams,
  ): Promise<ClusterUpgradeHistoriesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterPoolName, clusterName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterPoolName The name of the cluster pool.
   * @param clusterName The name of the HDInsight cluster.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    clusterPoolName: string,
    clusterName: string,
    nextLink: string,
    options?: ClusterUpgradeHistoriesListNextOptionalParams,
  ): Promise<ClusterUpgradeHistoriesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterPoolName, clusterName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusterpools/{clusterPoolName}/clusters/{clusterName}/upgradeHistories",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterUpgradeHistoryListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterPoolName,
    Parameters.clusterName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterUpgradeHistoryListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterPoolName,
    Parameters.nextLink,
    Parameters.clusterName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
