{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "CreateBinary_browser",
        "RowKey": "first_browser",
        "binary": "QmFy",
        "binary@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey=\u0027CreateBinary_browser\u0027,RowKey=\u0027first_browser\u0027)",
        "ETag": "W/\u0022datetime\u00272022-02-01T19%3A03%3A51.894342Z\u0027\u0022",
        "Location": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey=\u0027CreateBinary_browser\u0027,RowKey=\u0027first_browser\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/tableClientTestbrowser(PartitionKey=\u0027CreateBinary_browser\u0027,RowKey=\u0027first_browser\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272022-02-01T19%3A03%3A51.894342Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#tableClientTestbrowser/@Element",
        "odata.etag": "W/\u0022datetime\u00272022-02-01T19%3A03%3A51.894342Z\u0027\u0022",
        "PartitionKey": "CreateBinary_browser",
        "RowKey": "first_browser",
        "Timestamp": "2022-02-01T19:03:51.894342Z",
        "binary@odata.type": "Edm.Binary",
        "binary": "QmFy",
        "binaryMetadata@odata.type": "Edm.Binary",
        "binaryMetadata": "QmFy"
      }
    }
  ],
  "Variables": {}
}
