/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { SkuOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { StreamAnalyticsManagementClient } from "../streamAnalyticsManagementClient";
import {
  GetStreamingJobSkuResult,
  SkuListNextOptionalParams,
  SkuListOptionalParams,
  SkuListResponse,
  SkuListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing SkuOperations operations. */
export class SkuOperationsImpl implements SkuOperations {
  private readonly client: StreamAnalyticsManagementClient;

  /**
   * Initialize a new instance of the class SkuOperations class.
   * @param client Reference to the service client
   */
  constructor(client: StreamAnalyticsManagementClient) {
    this.client = client;
  }

  /**
   * Gets a list of available SKUs about the specified streaming job.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param jobName The name of the streaming job.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    jobName: string,
    options?: SkuListOptionalParams,
  ): PagedAsyncIterableIterator<GetStreamingJobSkuResult> {
    const iter = this.listPagingAll(resourceGroupName, jobName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          jobName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    jobName: string,
    options?: SkuListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<GetStreamingJobSkuResult[]> {
    let result: SkuListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, jobName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        jobName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    jobName: string,
    options?: SkuListOptionalParams,
  ): AsyncIterableIterator<GetStreamingJobSkuResult> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      jobName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of available SKUs about the specified streaming job.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param jobName The name of the streaming job.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    jobName: string,
    options?: SkuListOptionalParams,
  ): Promise<SkuListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, jobName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param jobName The name of the streaming job.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    jobName: string,
    nextLink: string,
    options?: SkuListNextOptionalParams,
  ): Promise<SkuListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, jobName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/skus",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GetStreamingJobSkuResults,
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.jobName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GetStreamingJobSkuResults,
    },
    default: {
      bodyMapper: Mappers.ErrorModel,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.jobName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
