{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Search/searchServices?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "263",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Search/searchServices/myjssearchservicexxx",
            "name": "myjssearchservicexxx",
            "type": "Microsoft.Search/searchServices",
            "location": "East US",
            "properties": {
              "replicaCount": 1,
              "partitionCount": 1,
              "status": "running",
              "statusDetails": "",
              "provisioningState": "succeeded",
              "hostingMode": "default",
              "publicNetworkAccess": "Enabled",
              "networkRuleSet": {
                "ipRules": [],
                "bypass": "None"
              },
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "eTag": "W/\u0022datetime\u00272022-12-20T07%3A28%3A38.3528914Z\u0027\u0022"
            },
            "sku": {
              "name": "standard"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
