{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/?restype=service\u0026comp=userdelegationkey",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "\u003C?xml version=\u00221.0\u0022 encoding=\u0022UTF-8\u0022 standalone=\u0022yes\u0022?\u003E\u003CKeyInfo\u003E\u003CStart\u003E2023-03-07T18:34:48Z\u003C/Start\u003E\u003CExpiry\u003E2023-03-12T19:34:48Z\u003C/Expiry\u003E\u003C/KeyInfo\u003E",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CUserDelegationKey\u003E\u003CSignedOid\u003Eca87f138-971f-4986-9122-99e3259c4189\u003C/SignedOid\u003E\u003CSignedTid\u003Eaaaaa\u003C/SignedTid\u003E\u003CSignedStart\u003E2023-03-07T18:34:48Z\u003C/SignedStart\u003E\u003CSignedExpiry\u003E2023-03-12T19:34:48Z\u003C/SignedExpiry\u003E\u003CSignedService\u003Eb\u003C/SignedService\u003E\u003CSignedVersion\u003E2021-12-02\u003C/SignedVersion\u003E\u003CValue\u003EhasBRM4Q3Hw5flcgq3BHXnAo08Fqp0OxZfr8McdsRNo=\u003C/Value\u003E\u003C/UserDelegationKey\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167821768915901476?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 19:34:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB1F4303E94182\u0022",
        "Last-Modified": "Tue, 07 Mar 2023 19:34:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167821768915901476?skoid=ca87f138-971f-4986-9122-99e3259c4189\u0026sktid=aaaaa\u0026skt=2023-03-07T18%3A34%3A48Z\u0026ske=2023-03-12T19%3A34%3A48Z\u0026sks=b\u0026skv=2021-12-02\u0026resource=filesystem\u0026recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": {
        "paths": []
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167821768915901476?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 19:34:49 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "filesystem": "filesystem167821768915901476",
    "now": "2023-03-07T19:34:48.665Z",
    "tmr": "2023-03-07T19:34:48.665Z"
  }
}
