/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { AvailableSkus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataBoxEdgeManagementClient } from "../dataBoxEdgeManagementClient";
import {
  DataBoxEdgeSku,
  AvailableSkusListNextOptionalParams,
  AvailableSkusListOptionalParams,
  AvailableSkusListResponse,
  AvailableSkusListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AvailableSkus operations. */
export class AvailableSkusImpl implements AvailableSkus {
  private readonly client: DataBoxEdgeManagementClient;

  /**
   * Initialize a new instance of the class AvailableSkus class.
   * @param client Reference to the service client
   */
  constructor(client: DataBoxEdgeManagementClient) {
    this.client = client;
  }

  /**
   * List all the available Skus and information related to them.
   * @param options The options parameters.
   */
  public list(
    options?: AvailableSkusListOptionalParams
  ): PagedAsyncIterableIterator<DataBoxEdgeSku> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: AvailableSkusListOptionalParams
  ): AsyncIterableIterator<DataBoxEdgeSku[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: AvailableSkusListOptionalParams
  ): AsyncIterableIterator<DataBoxEdgeSku> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * List all the available Skus and information related to them.
   * @param options The options parameters.
   */
  private _list(
    options?: AvailableSkusListOptionalParams
  ): Promise<AvailableSkusListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: AvailableSkusListNextOptionalParams
  ): Promise<AvailableSkusListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBoxEdge/availableSkus",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataBoxEdgeSkuList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataBoxEdgeSkuList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
