/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SupportPackages } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataBoxEdgeManagementClient } from "../dataBoxEdgeManagementClient";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  TriggerSupportPackageRequest,
  SupportPackagesTriggerSupportPackageOptionalParams
} from "../models";

/** Class containing SupportPackages operations. */
export class SupportPackagesImpl implements SupportPackages {
  private readonly client: DataBoxEdgeManagementClient;

  /**
   * Initialize a new instance of the class SupportPackages class.
   * @param client Reference to the service client
   */
  constructor(client: DataBoxEdgeManagementClient) {
    this.client = client;
  }

  /**
   * Triggers support package on the device
   * @param deviceName The device name.
   * @param resourceGroupName The resource group name.
   * @param triggerSupportPackageRequest The trigger support package request object
   * @param options The options parameters.
   */
  async beginTriggerSupportPackage(
    deviceName: string,
    resourceGroupName: string,
    triggerSupportPackageRequest: TriggerSupportPackageRequest,
    options?: SupportPackagesTriggerSupportPackageOptionalParams
  ): Promise<PollerLike<PollOperationState<void>, void>> {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<void> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      { deviceName, resourceGroupName, triggerSupportPackageRequest, options },
      triggerSupportPackageOperationSpec
    );
    return new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs
    });
  }

  /**
   * Triggers support package on the device
   * @param deviceName The device name.
   * @param resourceGroupName The resource group name.
   * @param triggerSupportPackageRequest The trigger support package request object
   * @param options The options parameters.
   */
  async beginTriggerSupportPackageAndWait(
    deviceName: string,
    resourceGroupName: string,
    triggerSupportPackageRequest: TriggerSupportPackageRequest,
    options?: SupportPackagesTriggerSupportPackageOptionalParams
  ): Promise<void> {
    const poller = await this.beginTriggerSupportPackage(
      deviceName,
      resourceGroupName,
      triggerSupportPackageRequest,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const triggerSupportPackageOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/triggerSupportPackage",
  httpMethod: "POST",
  responses: {
    200: {},
    201: {},
    202: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.triggerSupportPackageRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deviceName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
