/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import "@azure/core-paging";
import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { TransparentDataEncryptionActivities } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SqlManagementClientContext } from "../sqlManagementClientContext";
import {
  TransparentDataEncryptionActivity,
  TransparentDataEncryptionName,
  TransparentDataEncryptionActivitiesListByConfigurationOptionalParams,
  TransparentDataEncryptionActivitiesListByConfigurationResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing TransparentDataEncryptionActivities operations. */
export class TransparentDataEncryptionActivitiesImpl
  implements TransparentDataEncryptionActivities {
  private readonly client: SqlManagementClientContext;

  /**
   * Initialize a new instance of the class TransparentDataEncryptionActivities class.
   * @param client Reference to the service client
   */
  constructor(client: SqlManagementClientContext) {
    this.client = client;
  }

  /**
   * Returns a database's transparent data encryption operation result.
   * @param resourceGroupName The name of the resource group that contains the resource. You can obtain
   *                          this value from the Azure Resource Manager API or the portal.
   * @param serverName The name of the server.
   * @param databaseName The name of the database for which the transparent data encryption applies.
   * @param transparentDataEncryptionName The name of the transparent data encryption configuration.
   * @param options The options parameters.
   */
  public listByConfiguration(
    resourceGroupName: string,
    serverName: string,
    databaseName: string,
    transparentDataEncryptionName: TransparentDataEncryptionName,
    options?: TransparentDataEncryptionActivitiesListByConfigurationOptionalParams
  ): PagedAsyncIterableIterator<TransparentDataEncryptionActivity> {
    const iter = this.listByConfigurationPagingAll(
      resourceGroupName,
      serverName,
      databaseName,
      transparentDataEncryptionName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listByConfigurationPagingPage(
          resourceGroupName,
          serverName,
          databaseName,
          transparentDataEncryptionName,
          options
        );
      }
    };
  }

  private async *listByConfigurationPagingPage(
    resourceGroupName: string,
    serverName: string,
    databaseName: string,
    transparentDataEncryptionName: TransparentDataEncryptionName,
    options?: TransparentDataEncryptionActivitiesListByConfigurationOptionalParams
  ): AsyncIterableIterator<TransparentDataEncryptionActivity[]> {
    let result = await this._listByConfiguration(
      resourceGroupName,
      serverName,
      databaseName,
      transparentDataEncryptionName,
      options
    );
    yield result.value || [];
  }

  private async *listByConfigurationPagingAll(
    resourceGroupName: string,
    serverName: string,
    databaseName: string,
    transparentDataEncryptionName: TransparentDataEncryptionName,
    options?: TransparentDataEncryptionActivitiesListByConfigurationOptionalParams
  ): AsyncIterableIterator<TransparentDataEncryptionActivity> {
    for await (const page of this.listByConfigurationPagingPage(
      resourceGroupName,
      serverName,
      databaseName,
      transparentDataEncryptionName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Returns a database's transparent data encryption operation result.
   * @param resourceGroupName The name of the resource group that contains the resource. You can obtain
   *                          this value from the Azure Resource Manager API or the portal.
   * @param serverName The name of the server.
   * @param databaseName The name of the database for which the transparent data encryption applies.
   * @param transparentDataEncryptionName The name of the transparent data encryption configuration.
   * @param options The options parameters.
   */
  private _listByConfiguration(
    resourceGroupName: string,
    serverName: string,
    databaseName: string,
    transparentDataEncryptionName: TransparentDataEncryptionName,
    options?: TransparentDataEncryptionActivitiesListByConfigurationOptionalParams
  ): Promise<TransparentDataEncryptionActivitiesListByConfigurationResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        serverName,
        databaseName,
        transparentDataEncryptionName,
        options
      },
      listByConfigurationOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByConfigurationOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}/operationResults",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TransparentDataEncryptionActivityListResult
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serverName,
    Parameters.databaseName,
    Parameters.transparentDataEncryptionName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
