APPINSIGHTS_INSTRUMENTATIONKEY=
SERVICEBUS_CONNECTION_STRING=

# Where your Azure Container Registry and Azure Container Instance will be deployed
RESOURCE_GROUP=

# You'll need to create an Azure Container Registry to host your container images
# az acr create --resource-group RESOURCE_GROUP --admin-enabled --sku Basic --name REGISTRY_NAME
#
# To get the credentials after you've created the registry:
# az acr credential show --resource-group RESOURCE_GROUP --name REGISTRY_NAME
REGISTRY_USERNAME=
REGISTRY_PASSWORD=
# FQDN of your Azure Container Registry (ie: something.azurecr.io)
REGISTRY_NAME=.azurecr.io