AZURE_SUBSCRIPTION_ID=
RESOURCE_GROUP=

# CLI:
# az monitor app-insights component show --subscription AZURE_SUBSCRIPTION_ID --resource-group RESOURCE_GROUP --app APPINSIGHTS NAME
APPINSIGHTS_INSTRUMENTATIONKEY=

# CLI:
# az servicebus namespace authorization-rule keys list --subscription AZURE_SUBSCRIPTION_ID --namespace-name SERVICEBUS_NAMESPACE_NAME --resource-group RESOURCE_GROUP --name RootManageSharedAccessKey
SERVICEBUS_CONNECTION_STRING=

# You'll need to create an Azure Container Registry to host your container images
# az acr create --subscription AZURE_SUBSCRIPTION_ID --resource-group RESOURCE_GROUP --admin-enabled --sku Basic --name REGISTRY_NAME
#
# To get the credentials after you've created the registry:
# az acr credential show --subscription AZURE_SUBSCRIPTION_ID --resource-group RESOURCE_GROUP --name REGISTRY_NAME
REGISTRY_USERNAME=
REGISTRY_PASSWORD=
# FQDN of your Azure Container Registry (ie: something.azurecr.io)
REGISTRY_NAME=