# Used in most samples. Retrieve these values from an Azure Digital Twins
# instance in the Azure Portal. The AZURE_DIGITALTWINS_URL setting indicates
# the hostname of your Azure Digital Twins instance to be used by the samples.

AZURE_DIGITALTWINS_URL="<name of digital twins instance>.api.<region>.digitaltwins.azure.net",
