/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ScopingConfiguration } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AppComplianceAutomationToolForMicrosoft365 } from "../appComplianceAutomationToolForMicrosoft365";
import {
  ScopingConfigurationResource,
  ScopingConfigurationListNextOptionalParams,
  ScopingConfigurationListOptionalParams,
  ScopingConfigurationListResponse,
  ScopingConfigurationGetOptionalParams,
  ScopingConfigurationGetResponse,
  ScopingConfigurationCreateOrUpdateOptionalParams,
  ScopingConfigurationCreateOrUpdateResponse,
  ScopingConfigurationDeleteOptionalParams,
  ScopingConfigurationListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ScopingConfiguration operations. */
export class ScopingConfigurationImpl implements ScopingConfiguration {
  private readonly client: AppComplianceAutomationToolForMicrosoft365;

  /**
   * Initialize a new instance of the class ScopingConfiguration class.
   * @param client Reference to the service client
   */
  constructor(client: AppComplianceAutomationToolForMicrosoft365) {
    this.client = client;
  }

  /**
   * Returns a list format of the singleton scopingConfiguration for a specified report.
   * @param reportName Report Name.
   * @param options The options parameters.
   */
  public list(
    reportName: string,
    options?: ScopingConfigurationListOptionalParams,
  ): PagedAsyncIterableIterator<ScopingConfigurationResource> {
    const iter = this.listPagingAll(reportName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(reportName, options, settings);
      },
    };
  }

  private async *listPagingPage(
    reportName: string,
    options?: ScopingConfigurationListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ScopingConfigurationResource[]> {
    let result: ScopingConfigurationListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(reportName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(reportName, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    reportName: string,
    options?: ScopingConfigurationListOptionalParams,
  ): AsyncIterableIterator<ScopingConfigurationResource> {
    for await (const page of this.listPagingPage(reportName, options)) {
      yield* page;
    }
  }

  /**
   * Returns a list format of the singleton scopingConfiguration for a specified report.
   * @param reportName Report Name.
   * @param options The options parameters.
   */
  private _list(
    reportName: string,
    options?: ScopingConfigurationListOptionalParams,
  ): Promise<ScopingConfigurationListResponse> {
    return this.client.sendOperationRequest(
      { reportName, options },
      listOperationSpec,
    );
  }

  /**
   * Get the AppComplianceAutomation scoping configuration of the specific report.
   * @param reportName Report Name.
   * @param scopingConfigurationName The scoping configuration of the specific report.
   * @param options The options parameters.
   */
  get(
    reportName: string,
    scopingConfigurationName: string,
    options?: ScopingConfigurationGetOptionalParams,
  ): Promise<ScopingConfigurationGetResponse> {
    return this.client.sendOperationRequest(
      { reportName, scopingConfigurationName, options },
      getOperationSpec,
    );
  }

  /**
   * Get the AppComplianceAutomation scoping configuration of the specific report.
   * @param reportName Report Name.
   * @param scopingConfigurationName The scoping configuration of the specific report.
   * @param properties Parameters for the create or update operation, this is a singleton resource, so
   *                   please make sure you're using 'default' as the name.
   * @param options The options parameters.
   */
  createOrUpdate(
    reportName: string,
    scopingConfigurationName: string,
    properties: ScopingConfigurationResource,
    options?: ScopingConfigurationCreateOrUpdateOptionalParams,
  ): Promise<ScopingConfigurationCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { reportName, scopingConfigurationName, properties, options },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Clean the AppComplianceAutomation scoping configuration of the specific report.
   * @param reportName Report Name.
   * @param scopingConfigurationName The scoping configuration of the specific report.
   * @param options The options parameters.
   */
  delete(
    reportName: string,
    scopingConfigurationName: string,
    options?: ScopingConfigurationDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { reportName, scopingConfigurationName, options },
      deleteOperationSpec,
    );
  }

  /**
   * ListNext
   * @param reportName Report Name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    reportName: string,
    nextLink: string,
    options?: ScopingConfigurationListNextOptionalParams,
  ): Promise<ScopingConfigurationListNextResponse> {
    return this.client.sendOperationRequest(
      { reportName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/scopingConfigurations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ScopingConfigurationResourceListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.reportName],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/scopingConfigurations/{scopingConfigurationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ScopingConfigurationResource,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.reportName,
    Parameters.scopingConfigurationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/scopingConfigurations/{scopingConfigurationName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ScopingConfigurationResource,
    },
    201: {
      bodyMapper: Mappers.ScopingConfigurationResource,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.properties3,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.reportName,
    Parameters.scopingConfigurationName,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/scopingConfigurations/{scopingConfigurationName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.reportName,
    Parameters.scopingConfigurationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ScopingConfigurationResourceListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink, Parameters.reportName],
  headerParameters: [Parameters.accept],
  serializer,
};
