/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
import { __asyncDelegator, __asyncGenerator, __asyncValues, __await } from "tslib";
import { tracingClient } from "../tracing.js";
import { setContinuationToken } from "../pagingHelper.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { createHttpPoller } from "@azure/core-lro";
import { createLroSpec } from "../lroImpl.js";
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const createOrUpdateDataFlowOperationSpec = {
    path: "/dataflows/{dataFlowName}",
    httpMethod: "PUT",
    responses: {
        200: {
            bodyMapper: Mappers.DataFlowResource,
        },
        201: {
            bodyMapper: Mappers.DataFlowResource,
        },
        202: {
            bodyMapper: Mappers.DataFlowResource,
        },
        204: {
            bodyMapper: Mappers.DataFlowResource,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.dataFlow,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.dataFlowName],
    headerParameters: [Parameters.accept, Parameters.contentType, Parameters.ifMatch],
    mediaType: "json",
    serializer,
};
const getDataFlowOperationSpec = {
    path: "/dataflows/{dataFlowName}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.DataFlowResource,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.dataFlowName],
    headerParameters: [Parameters.accept, Parameters.ifNoneMatch],
    serializer,
};
const deleteDataFlowOperationSpec = {
    path: "/dataflows/{dataFlowName}",
    httpMethod: "DELETE",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.dataFlowName],
    headerParameters: [Parameters.accept],
    serializer,
};
const renameDataFlowOperationSpec = {
    path: "/dataflows/{dataFlowName}/rename",
    httpMethod: "POST",
    responses: {
        200: {},
        201: {},
        202: {},
        204: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.request,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.dataFlowName],
    headerParameters: [Parameters.accept, Parameters.contentType],
    mediaType: "json",
    serializer,
};
const getDataFlowsByWorkspaceOperationSpec = {
    path: "/dataflows",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.DataFlowListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept],
    serializer,
};
const getDataFlowsByWorkspaceNextOperationSpec = {
    path: "{nextLink}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.DataFlowListResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    urlParameters: [Parameters.endpoint, Parameters.nextLink],
    headerParameters: [Parameters.accept],
    serializer,
};
/** Class containing DataFlowOperations operations. */
export class DataFlowOperationsImpl {
    /**
     * Initialize a new instance of the class DataFlowOperations class.
     * @param client - Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Lists data flows.
     * @param options - The options parameters.
     */
    listDataFlowsByWorkspace(options) {
        const iter = this.getDataFlowsByWorkspacePagingAll(options);
        return {
            next() {
                return iter.next();
            },
            [Symbol.asyncIterator]() {
                return this;
            },
            byPage: (settings) => {
                if (settings === null || settings === void 0 ? void 0 : settings.maxPageSize) {
                    throw new Error("maxPageSize is not supported by this operation.");
                }
                return this.getDataFlowsByWorkspacePagingPage(options, settings);
            },
        };
    }
    getDataFlowsByWorkspacePagingPage(options, settings) {
        return __asyncGenerator(this, arguments, function* getDataFlowsByWorkspacePagingPage_1() {
            let result;
            let continuationToken = settings === null || settings === void 0 ? void 0 : settings.continuationToken;
            if (!continuationToken) {
                result = yield __await(this._getDataFlowsByWorkspace(options));
                const page = result.value || [];
                continuationToken = result.nextLink;
                setContinuationToken(page, continuationToken);
                yield yield __await(page);
            }
            while (continuationToken) {
                result = yield __await(this._getDataFlowsByWorkspaceNext(continuationToken, options));
                continuationToken = result.nextLink;
                const page = result.value || [];
                setContinuationToken(page, continuationToken);
                yield yield __await(page);
            }
        });
    }
    getDataFlowsByWorkspacePagingAll(options) {
        return __asyncGenerator(this, arguments, function* getDataFlowsByWorkspacePagingAll_1() {
            var _a, e_1, _b, _c;
            try {
                for (var _d = true, _e = __asyncValues(this.getDataFlowsByWorkspacePagingPage(options)), _f; _f = yield __await(_e.next()), _a = _f.done, !_a; _d = true) {
                    _c = _f.value;
                    _d = false;
                    const page = _c;
                    yield __await(yield* __asyncDelegator(__asyncValues(page)));
                }
            }
            catch (e_1_1) { e_1 = { error: e_1_1 }; }
            finally {
                try {
                    if (!_d && !_a && (_b = _e.return)) yield __await(_b.call(_e));
                }
                finally { if (e_1) throw e_1.error; }
            }
        });
    }
    /**
     * Creates or updates a data flow.
     * @param dataFlowName - The data flow name.
     * @param dataFlow - Data flow resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateDataFlow(dataFlowName, dataFlow, options) {
        const directSendOperation = async (args, spec) => {
            return tracingClient.withSpan("ArtifactsClient.beginCreateOrUpdateDataFlow", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = createLroSpec({
            sendOperationFn,
            args: { dataFlowName, dataFlow, options },
            spec: createOrUpdateDataFlowOperationSpec,
        });
        const poller = await createHttpPoller(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Creates or updates a data flow.
     * @param dataFlowName - The data flow name.
     * @param dataFlow - Data flow resource definition.
     * @param options - The options parameters.
     */
    async beginCreateOrUpdateDataFlowAndWait(dataFlowName, dataFlow, options) {
        const poller = await this.beginCreateOrUpdateDataFlow(dataFlowName, dataFlow, options);
        return poller.pollUntilDone();
    }
    /**
     * Gets a data flow.
     * @param dataFlowName - The data flow name.
     * @param options - The options parameters.
     */
    async getDataFlow(dataFlowName, options) {
        return tracingClient.withSpan("ArtifactsClient.getDataFlow", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ dataFlowName, updatedOptions }, getDataFlowOperationSpec);
        });
    }
    /**
     * Deletes a data flow.
     * @param dataFlowName - The data flow name.
     * @param options - The options parameters.
     */
    async beginDeleteDataFlow(dataFlowName, options) {
        const directSendOperation = async (args, spec) => {
            return tracingClient.withSpan("ArtifactsClient.beginDeleteDataFlow", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = createLroSpec({
            sendOperationFn,
            args: { dataFlowName, options },
            spec: deleteDataFlowOperationSpec,
        });
        const poller = await createHttpPoller(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Deletes a data flow.
     * @param dataFlowName - The data flow name.
     * @param options - The options parameters.
     */
    async beginDeleteDataFlowAndWait(dataFlowName, options) {
        const poller = await this.beginDeleteDataFlow(dataFlowName, options);
        return poller.pollUntilDone();
    }
    /**
     * Renames a dataflow.
     * @param dataFlowName - The data flow name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameDataFlow(dataFlowName, request, options) {
        const directSendOperation = async (args, spec) => {
            return tracingClient.withSpan("ArtifactsClient.beginRenameDataFlow", options !== null && options !== void 0 ? options : {}, async () => {
                return this.client.sendOperationRequest(args, spec);
            });
        };
        const sendOperationFn = async (args, spec) => {
            var _a;
            let currentRawResponse = undefined;
            const providedCallback = (_a = args.options) === null || _a === void 0 ? void 0 : _a.onResponse;
            const callback = (rawResponse, flatResponse) => {
                currentRawResponse = rawResponse;
                providedCallback === null || providedCallback === void 0 ? void 0 : providedCallback(rawResponse, flatResponse);
            };
            const updatedArgs = Object.assign(Object.assign({}, args), { options: Object.assign(Object.assign({}, args.options), { onResponse: callback }) });
            const flatResponse = await directSendOperation(updatedArgs, spec);
            return {
                flatResponse,
                rawResponse: {
                    statusCode: currentRawResponse.status,
                    body: currentRawResponse.parsedBody,
                    headers: currentRawResponse.headers.toJSON(),
                },
            };
        };
        const lro = createLroSpec({
            sendOperationFn,
            args: { dataFlowName, request, options },
            spec: renameDataFlowOperationSpec,
        });
        const poller = await createHttpPoller(lro, {
            restoreFrom: options === null || options === void 0 ? void 0 : options.resumeFrom,
            intervalInMs: options === null || options === void 0 ? void 0 : options.updateIntervalInMs,
        });
        await poller.poll();
        return poller;
    }
    /**
     * Renames a dataflow.
     * @param dataFlowName - The data flow name.
     * @param request - proposed new name.
     * @param options - The options parameters.
     */
    async beginRenameDataFlowAndWait(dataFlowName, request, options) {
        const poller = await this.beginRenameDataFlow(dataFlowName, request, options);
        return poller.pollUntilDone();
    }
    /**
     * Lists data flows.
     * @param options - The options parameters.
     */
    async _getDataFlowsByWorkspace(options) {
        return tracingClient.withSpan("ArtifactsClient._getDataFlowsByWorkspace", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ updatedOptions }, getDataFlowsByWorkspaceOperationSpec);
        });
    }
    /**
     * GetDataFlowsByWorkspaceNext
     * @param nextLink - The nextLink from the previous successful call to the GetDataFlowsByWorkspace
     *                 method.
     * @param options - The options parameters.
     */
    async _getDataFlowsByWorkspaceNext(nextLink, options) {
        return tracingClient.withSpan("ArtifactsClient._getDataFlowsByWorkspaceNext", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ nextLink, updatedOptions }, getDataFlowsByWorkspaceNextOperationSpec);
        });
    }
}
//# sourceMappingURL=dataFlowOperations.js.map