/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */
import { tracingClient } from "../tracing.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);
const queryPipelineRunsByWorkspaceOperationSpec = {
    path: "/queryPipelineRuns",
    httpMethod: "POST",
    responses: {
        200: {
            bodyMapper: Mappers.PipelineRunsQueryResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.filterParameters,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint],
    headerParameters: [Parameters.accept, Parameters.contentType],
    mediaType: "json",
    serializer,
};
const getPipelineRunOperationSpec = {
    path: "/pipelineruns/{runId}",
    httpMethod: "GET",
    responses: {
        200: {
            bodyMapper: Mappers.PipelineRun,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.runId1],
    headerParameters: [Parameters.accept],
    serializer,
};
const queryActivityRunsOperationSpec = {
    path: "/pipelines/{pipelineName}/pipelineruns/{runId}/queryActivityruns",
    httpMethod: "POST",
    responses: {
        200: {
            bodyMapper: Mappers.ActivityRunsQueryResponse,
        },
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    requestBody: Parameters.filterParameters,
    queryParameters: [Parameters.apiVersion5],
    urlParameters: [Parameters.endpoint, Parameters.pipelineName, Parameters.runId1],
    headerParameters: [Parameters.accept, Parameters.contentType],
    mediaType: "json",
    serializer,
};
const cancelPipelineRunOperationSpec = {
    path: "/pipelineruns/{runId}/cancel",
    httpMethod: "POST",
    responses: {
        200: {},
        default: {
            bodyMapper: Mappers.CloudError,
        },
    },
    queryParameters: [Parameters.apiVersion5, Parameters.isRecursive],
    urlParameters: [Parameters.endpoint, Parameters.runId1],
    headerParameters: [Parameters.accept],
    serializer,
};
/** Class containing PipelineRunOperations operations. */
export class PipelineRunOperationsImpl {
    /**
     * Initialize a new instance of the class PipelineRunOperations class.
     * @param client - Reference to the service client
     */
    constructor(client) {
        this.client = client;
    }
    /**
     * Query pipeline runs in the workspace based on input filter conditions.
     * @param filterParameters - Parameters to filter the pipeline run.
     * @param options - The options parameters.
     */
    async queryPipelineRunsByWorkspace(filterParameters, options) {
        return tracingClient.withSpan("ArtifactsClient.queryPipelineRunsByWorkspace", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ filterParameters, updatedOptions }, queryPipelineRunsByWorkspaceOperationSpec);
        });
    }
    /**
     * Get a pipeline run by its run ID.
     * @param runId - The pipeline run identifier.
     * @param options - The options parameters.
     */
    async getPipelineRun(runId, options) {
        return tracingClient.withSpan("ArtifactsClient.getPipelineRun", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ runId, updatedOptions }, getPipelineRunOperationSpec);
        });
    }
    /**
     * Query activity runs based on input filter conditions.
     * @param pipelineName - The pipeline name.
     * @param runId - The pipeline run identifier.
     * @param filterParameters - Parameters to filter the activity runs.
     * @param options - The options parameters.
     */
    async queryActivityRuns(pipelineName, runId, filterParameters, options) {
        return tracingClient.withSpan("ArtifactsClient.queryActivityRuns", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ pipelineName, runId, filterParameters, updatedOptions }, queryActivityRunsOperationSpec);
        });
    }
    /**
     * Cancel a pipeline run by its run ID.
     * @param runId - The pipeline run identifier.
     * @param options - The options parameters.
     */
    async cancelPipelineRun(runId, options) {
        return tracingClient.withSpan("ArtifactsClient.cancelPipelineRun", options !== null && options !== void 0 ? options : {}, async (updatedOptions) => {
            return this.client.sendOperationRequest({ runId, updatedOptions }, cancelPipelineRunOperationSpec);
        });
    }
}
//# sourceMappingURL=pipelineRunOperations.js.map