{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/json?api-version=1.0\u0026vehicleAxleWeight=0\u0026vehicleLength=0\u0026vehicleHeight=0\u0026vehicleWidth=0\u0026vehicleMaxSpeed=0\u0026vehicleWeight=0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "origins": {
          "type": "MultiPoint",
          "coordinates": [
            [
              4.85106,
              52.36006
            ],
            [
              4.85056,
              52.36187
            ]
          ]
        },
        "destinations": {
          "type": "MultiPoint",
          "coordinates": [
            [
              4.85003,
              52.36241
            ],
            [
              13.42937,
              52.50931
            ]
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "Location": "https://atlas.microsoft.com/route/matrix/638b8fea-6f8a-4eb0-b868-490085ebafbe?api-version=1.0",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://atlas.microsoft.com/route/matrix/638b8fea-6f8a-4eb0-b868-490085ebafbe?api-version=1.0\u0026vehicleAxleWeight=0\u0026vehicleLength=0\u0026vehicleHeight=0\u0026vehicleWidth=0\u0026vehicleMaxSpeed=0\u0026vehicleWeight=0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "matrix": [
          [
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 495,
                  "travelTimeInSeconds": 110,
                  "trafficDelayInSeconds": 0,
                  "trafficLengthInMeters": 0,
                  "departureTime": "2022-09-22T05:33:41\u002B02:00",
                  "arrivalTime": "2022-09-22T05:35:31\u002B02:00"
                }
              }
            },
            {
              "statusCode": 200,
              "response": {
                "routeSummary": {
                  "lengthInMeters": 669268,
                  "travelTimeInSeconds": 21889,
                  "trafficDelayInSeconds": 166,
                  "trafficLengthInMeters": 9451,
                  "departureTime": "2022-09-22T05:33:41\u002B02:00",
                  "arrivalTime": "2022-09-22T11:38[...]
