{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/ipGroups/virtualnetworkzzz?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b23f973a-a5d9-479e-9458-16223d3f8745\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "properties": {
          "firewalls": [],
          "firewallPolicies": [],
          "ipAddresses": [
            "13.64.39.16/32",
            "40.74.146.80/31",
            "40.74.147.32/28"
          ],
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/ipGroups/virtualnetworkzzz",
        "name": "virtualnetworkzzz",
        "type": "Microsoft.Network/IpGroups",
        "etag": "b23f973a-a5d9-479e-9458-16223d3f8745",
        "location": "eastus",
        "tags": {
          "key1": "value1"
        }
      }
    }
  ],
  "Variables": {}
}
