{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/configurations/render-options?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "raster-tile",
        "options": "assets=image&asset_bidx=image|1,2,3",
        "minZoom": 6
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "raster-tile",
        "options": "assets=image&asset_bidx=image|1,2,3",
        "minZoom": 6
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/configurations/render-options/test-render-opt-delete?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "raster-tile",
        "options": "assets=image&asset_bidx=image|1,2,3",
        "minZoom": 6
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/configurations/render-options/test-render-opt-delete?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ResourceNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Render Option 'test-render-opt-delete' not found for collection 'naip-atl-00000000'"
        }
      }
    }
  ],
  "Variables": {}
}
