{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/queryables?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"name\":\"Sanitized\",\"definition\":{\"description\":\"Test property for deletion\"},\"create_index\":false,\"data_type\":\"number\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[{\"name\":\"Sanitized\",\"definition\":{\"description\":\"Test property for deletion\"},\"create_index\":false,\"data_type\":\"number\"}]"
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/queryables?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/schema+json"
      },
      "ResponseBody": {
        "$id": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/queryables?api-version=2025-04-30-preview",
        "type": "object",
        "title": "STAC Queryables.",
        "$schema": "http://json-schema.org/draft-07/schema#",
        "properties": {
          "id": {
            "$ref": "https://schemas.stacspec.org/v1.0.0/item-spec/json-schema/item.json#/definitions/core/allOf/2/properties/id",
            "title": "Item ID",
            "description": "Item identifier"
          },
          "datetime": {
            "type": "string",
            "title": "Acquired",
            "format": "date-time",
            "pattern": "(\\+00:00|Z)$",
            "description": "Datetime"
          },
          "geometry": {
            "$ref": "https://geojson.org/schema/Feature.json",
            "title": "Item Geometry",
            "description": "Item Geometry"
          },
          "test:property": {
            "description": "Test property - updated"
          },
          "eo:cloud_cover": {
            "data_type": "number"
          },
          "test:property_to_be_deleted": {
            "description": "Test property for deletion"
          }
        },
        "additionalProperties": true
      }
    },
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/queryables/test%3Aproperty_to_be_deleted?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
