{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.h5d5a9crhnc8deaz.uksouth.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/configurations/mosaics/test-mosaic-1?api-version=2025-04-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "description": "Most recent available imagery in this collection - updated",
        "cql": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "description": "Most recent available imagery in this collection - updated",
        "cql": []
      }
    }
  ],
  "Variables": {}
}
