# Used in most samples. Retrieve these values from a Communication Services instance
# in the Azure Portal.
COMMUNICATION_SAMPLES_CONNECTION_STRING="endpoint=https://<resource name>.communication.azure.net/;accessKey=<key>"

# The program brief Id to get and update by the getAndUpdateProgramBrief sample
PROGRAM_BRIEF_TO_GET="737250f1-ec8d-4137-9d0c-8dbd7df901c9"
