{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Databricks/operations?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Databricks/register/action",
            "display": {
              "provider": "Microsoft Databricks",
              "resource": "Databricks Provider Registration",
              "operation": "Register Databricks",
              "description": "Register to Databricks."
            }
          },
          {
            "name": "Microsoft.Databricks/workspaces/read",
            "display": {
              "provider": "Microsoft Databricks",
              "resource": "Databricks Workspace",
              "operation": "List Databricks Workspaces",
              "description": "Retrieves a list of Databricks workspaces."
            }
          },
          {
            "name": "Microsoft.Databricks/workspaces/write",
            "displ[...]
