{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/workspaces/myworkspacexx?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "managedResourceGroupId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/locations/westus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvOTJmOTVkOGYtM2M2Ny00MTI0LTkxYzctOGNmMDdjZGJmMjQxL3Jlc291cmNlR3JvdXBzL215anN0ZXN0L3Byb3ZpZGVycy9NaWNyb3NvZnQuRGF0YWJyaWNrcy93b3Jrc3BhY2VzL215d29ya3NwYWNleHgiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRE1ZSlNURVNUOjJETVlXT1JLU1BBQ0VYWCJ9?api-version=2021-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "149"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest2",
          "provisioningState": "Accepted",
          "authorizations": [
            {
              "principalId": "9a74af6f-d153-4348-988a-e2672920bee9",
              "roleDefinitionId": "8e3af657-a8ff-443c-a75c-2fe8c4bcb635"
            }
          ],
          "createdBy": {
            "oid": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "applicationId": "azure_client_id"
          },
          "updatedBy": {
            "oid": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "applicationId": "azure_client_id"
          },
          "createdDateTime": "2022-11-21T02:35:04.3314609Z"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/workspaces/myworkspacexx",
        "name": "myworkspacexx",
        "type": "Microsoft.Databricks/workspaces",
        "sku": {
          "name": "Standard"
        },
        "location": "westus"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/locations/westus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvOTJmOTVkOGYtM2M2Ny00MTI0LTkxYzctOGNmMDdjZGJmMjQxL3Jlc291cmNlR3JvdXBzL215anN0ZXN0L3Byb3ZpZGVycy9NaWNyb3NvZnQuRGF0YWJyaWNrcy93b3Jrc3BhY2VzL215d29ya3NwYWNleHgiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRE1ZSlNURVNUOjJETVlXT1JLU1BBQ0VYWCJ9?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/locations/westus/operationStatuses/eyJmdWxseVF1YWxpZmllZEFwcGxpYW5jZUlkIjoiL3N1YnNjcmlwdGlvbnMvOTJmOTVkOGYtM2M2Ny00MTI0LTkxYzctOGNmMDdjZGJmMjQxL3Jlc291cmNlR3JvdXBzL215anN0ZXN0L3Byb3ZpZGVycy9NaWNyb3NvZnQuRGF0YWJyaWNrcy93b3Jrc3BhY2VzL215d29ya3NwYWNleHgiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRE1ZSlNURVNUOjJETVlXT1JLU1BBQ0VYWCJ9?api-version=2021-04-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/workspaces/myworkspacexx?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1799"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest2",
          "parameters": {
            "enableFedRampCertification": {
              "type": "Bool",
              "value": false
            },
            "enableNoPublicIp": {
              "type": "Bool",
              "value": false
            },
            "natGatewayName": {
              "type": "String",
              "value": "nat-gateway"
            },
            "prepareEncryption": {
              "type": "Bool",
              "value": false
            },
            "publicIpName": {
              "type": "String",
              "value": "nat-gw-public-ip"
            },
            "relayNamespaceName": {
              "type": "String",
              "value": "dbrelayamyjw5evceow2"
            },
            "requireInfrastructureEncryption": {
              "type": "Bool",
              "value": false
            },
            "resourceTags": {
              "type": "Object",
              "value": {
                "application": "databricks",
                "databricks-environment": "true"
              }
            },
            "storageAccountName": {
              "type": "String",
              "value": "dbstorageamyjw5evceow2"
            },
            "storageAccountSkuName": {
              "type": "String",
              "value": "Standard_GRS"
            },
            "vnetAddressPrefix": {
              "type": "String",
              "value": "10.139"
            }
          },
          "provisioningState": "Succeeded",
          "authorizations": [
            {
              "principalId": "9a74af6f-d153-4348-988a-e2672920bee9",
              "roleDefinitionId": "8e3af657-a8ff-443c-a75c-2fe8c4bcb635"
            }
          ],
          "createdBy": {
            "oid": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "applicationId": "azure_client_id"
          },
          "updatedBy": {
            "oid": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "applicationId": "azure_client_id"
          },
          "workspaceId": "4448730841080665",
          "workspaceUrl": "adb-4448730841080665.5.azuredatabricks.net",
          "createdDateTime": "2022-11-21T02:35:04.3314609Z"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/workspaces/myworkspacexx",
        "name": "myworkspacexx",
        "type": "Microsoft.Databricks/workspaces",
        "sku": {
          "name": "Standard"
        },
        "location": "westus"
      }
    }
  ],
  "Variables": {}
}
