# Retrieve these values from a Cognitive Search instance in the Azure Portal.

AZURE_SEARCH_ENDPOINT=https://<search-service-name>.search.windows.net
AZURE_OPENAI_ENDPOINT=https://<your-openai-endpoint>
AZURE_OPENAI_DEPLOYMENT_ID=<chat_deployment_id>
