/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreClient from "@azure/core-client";
import * as coreAuth from "@azure/core-auth";
import {
  ProfilesImpl,
  EndpointsImpl,
  OriginsImpl,
  OriginGroupsImpl,
  CustomDomainsImpl,
  ResourceUsageOperationsImpl,
  OperationsImpl,
  EdgeNodesImpl,
  AFDProfilesImpl,
  AFDCustomDomainsImpl,
  AFDEndpointsImpl,
  AFDOriginGroupsImpl,
  AFDOriginsImpl,
  RoutesImpl,
  RuleSetsImpl,
  RulesImpl,
  SecurityPoliciesImpl,
  SecretsImpl,
  ValidateImpl,
  LogAnalyticsImpl,
  PoliciesImpl,
  ManagedRuleSetsImpl
} from "./operations";
import {
  Profiles,
  Endpoints,
  Origins,
  OriginGroups,
  CustomDomains,
  ResourceUsageOperations,
  Operations,
  EdgeNodes,
  AFDProfiles,
  AFDCustomDomains,
  AFDEndpoints,
  AFDOriginGroups,
  AFDOrigins,
  Routes,
  RuleSets,
  Rules,
  SecurityPolicies,
  Secrets,
  Validate,
  LogAnalytics,
  Policies,
  ManagedRuleSets
} from "./operationsInterfaces";
import * as Parameters from "./models/parameters";
import * as Mappers from "./models/mappers";
import { CdnManagementClientContext } from "./cdnManagementClientContext";
import {
  CdnManagementClientOptionalParams,
  CheckNameAvailabilityInput,
  CheckNameAvailabilityOptionalParams,
  CheckNameAvailabilityResponse,
  CheckNameAvailabilityWithSubscriptionOptionalParams,
  CheckNameAvailabilityWithSubscriptionResponse,
  ValidateProbeInput,
  ValidateProbeOptionalParams,
  ValidateProbeResponse
} from "./models";

export class CdnManagementClient extends CdnManagementClientContext {
  /**
   * Initializes a new instance of the CdnManagementClient class.
   * @param credentials Subscription credentials which uniquely identify client subscription.
   * @param subscriptionId Azure Subscription ID.
   * @param options The parameter options
   */
  constructor(
    credentials: coreAuth.TokenCredential,
    subscriptionId: string,
    options?: CdnManagementClientOptionalParams
  ) {
    super(credentials, subscriptionId, options);
    this.profiles = new ProfilesImpl(this);
    this.endpoints = new EndpointsImpl(this);
    this.origins = new OriginsImpl(this);
    this.originGroups = new OriginGroupsImpl(this);
    this.customDomains = new CustomDomainsImpl(this);
    this.resourceUsageOperations = new ResourceUsageOperationsImpl(this);
    this.operations = new OperationsImpl(this);
    this.edgeNodes = new EdgeNodesImpl(this);
    this.aFDProfiles = new AFDProfilesImpl(this);
    this.aFDCustomDomains = new AFDCustomDomainsImpl(this);
    this.aFDEndpoints = new AFDEndpointsImpl(this);
    this.aFDOriginGroups = new AFDOriginGroupsImpl(this);
    this.aFDOrigins = new AFDOriginsImpl(this);
    this.routes = new RoutesImpl(this);
    this.ruleSets = new RuleSetsImpl(this);
    this.rules = new RulesImpl(this);
    this.securityPolicies = new SecurityPoliciesImpl(this);
    this.secrets = new SecretsImpl(this);
    this.validate = new ValidateImpl(this);
    this.logAnalytics = new LogAnalyticsImpl(this);
    this.policies = new PoliciesImpl(this);
    this.managedRuleSets = new ManagedRuleSetsImpl(this);
  }

  /**
   * Check the availability of a resource name. This is needed for resources where name is globally
   * unique, such as a CDN endpoint.
   * @param checkNameAvailabilityInput Input to check.
   * @param options The options parameters.
   */
  checkNameAvailability(
    checkNameAvailabilityInput: CheckNameAvailabilityInput,
    options?: CheckNameAvailabilityOptionalParams
  ): Promise<CheckNameAvailabilityResponse> {
    return this.sendOperationRequest(
      { checkNameAvailabilityInput, options },
      checkNameAvailabilityOperationSpec
    );
  }

  /**
   * Check the availability of a resource name. This is needed for resources where name is globally
   * unique, such as a CDN endpoint.
   * @param checkNameAvailabilityInput Input to check.
   * @param options The options parameters.
   */
  checkNameAvailabilityWithSubscription(
    checkNameAvailabilityInput: CheckNameAvailabilityInput,
    options?: CheckNameAvailabilityWithSubscriptionOptionalParams
  ): Promise<CheckNameAvailabilityWithSubscriptionResponse> {
    return this.sendOperationRequest(
      { checkNameAvailabilityInput, options },
      checkNameAvailabilityWithSubscriptionOperationSpec
    );
  }

  /**
   * Check if the probe path is a valid path and the file can be accessed. Probe path is the path to a
   * file hosted on the origin server to help accelerate the delivery of dynamic content via the CDN
   * endpoint. This path is relative to the origin path specified in the endpoint configuration.
   * @param validateProbeInput Input to check.
   * @param options The options parameters.
   */
  validateProbe(
    validateProbeInput: ValidateProbeInput,
    options?: ValidateProbeOptionalParams
  ): Promise<ValidateProbeResponse> {
    return this.sendOperationRequest(
      { validateProbeInput, options },
      validateProbeOperationSpec
    );
  }

  profiles: Profiles;
  endpoints: Endpoints;
  origins: Origins;
  originGroups: OriginGroups;
  customDomains: CustomDomains;
  resourceUsageOperations: ResourceUsageOperations;
  operations: Operations;
  edgeNodes: EdgeNodes;
  aFDProfiles: AFDProfiles;
  aFDCustomDomains: AFDCustomDomains;
  aFDEndpoints: AFDEndpoints;
  aFDOriginGroups: AFDOriginGroups;
  aFDOrigins: AFDOrigins;
  routes: Routes;
  ruleSets: RuleSets;
  rules: Rules;
  securityPolicies: SecurityPolicies;
  secrets: Secrets;
  validate: Validate;
  logAnalytics: LogAnalytics;
  policies: Policies;
  managedRuleSets: ManagedRuleSets;
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const checkNameAvailabilityOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Cdn/checkNameAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckNameAvailabilityOutput
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.checkNameAvailabilityInput,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const checkNameAvailabilityWithSubscriptionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkNameAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckNameAvailabilityOutput
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.checkNameAvailabilityInput,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const validateProbeOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateProbe",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ValidateProbeOutput
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.validateProbeInput,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
