# The primary key of your Azure Search account.
SEARCH_DOCUMENTS_API_KEY=<search-documents-api-key>

# The endpoint of your Azure Search account.
SEARCH_DOCUMENTS_ENDPOINT=<search-documents-endpoint>

# Name of the index in your Azure Search account.
SEARCH_DOCUMENTS_INDEXNAME=<search-documents-index-name>
