SUBSCRIPTION_ID=
RESOURCE_GROUP=
COMMUNICATION_SERVICE_NAME=
COMMUNICATION_ENDPOINT=
KEYVAULT_ENDPOINT=
COMMUNICATION_MSAL_USERNAME=
COMMUNICATION_MSAL_PASSWORD=
COMMUNICATION_M365_APP_ID=
COMMUNICATION_M365_AAD_TENANT=
COMMUNICATION_EXPIRED_TEAMS_TOKEN=
COMMUNICATION_M365_AAD_AUTHORITY=
TEST_MODE=