/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import type { NetworkSecurityPerimeterConfigurations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { ServiceBusManagementClient } from "../serviceBusManagementClient.js";
import type {
  NetworkSecurityPerimeterConfigurationsGetResourceAssociationNameOptionalParams,
  NetworkSecurityPerimeterConfigurationsGetResourceAssociationNameResponse,
  NetworkSecurityPerimeterConfigurationsReconcileOptionalParams,
} from "../models/index.js";

/** Class containing NetworkSecurityPerimeterConfigurations operations. */
export class NetworkSecurityPerimeterConfigurationsImpl
  implements NetworkSecurityPerimeterConfigurations
{
  private readonly client: ServiceBusManagementClient;

  /**
   * Initialize a new instance of the class NetworkSecurityPerimeterConfigurations class.
   * @param client Reference to the service client
   */
  constructor(client: ServiceBusManagementClient) {
    this.client = client;
  }

  /**
   * Return a NetworkSecurityPerimeterConfigurations resourceAssociationName
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param namespaceName The namespace name
   * @param resourceAssociationName The ResourceAssociation Name
   * @param options The options parameters.
   */
  getResourceAssociationName(
    resourceGroupName: string,
    namespaceName: string,
    resourceAssociationName: string,
    options?: NetworkSecurityPerimeterConfigurationsGetResourceAssociationNameOptionalParams,
  ): Promise<NetworkSecurityPerimeterConfigurationsGetResourceAssociationNameResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, namespaceName, resourceAssociationName, options },
      getResourceAssociationNameOperationSpec,
    );
  }

  /**
   * Refreshes any information about the association.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param namespaceName The namespace name
   * @param resourceAssociationName The ResourceAssociation Name
   * @param options The options parameters.
   */
  reconcile(
    resourceGroupName: string,
    namespaceName: string,
    resourceAssociationName: string,
    options?: NetworkSecurityPerimeterConfigurationsReconcileOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, namespaceName, resourceAssociationName, options },
      reconcileOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getResourceAssociationNameOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/networkSecurityPerimeterConfigurations/{resourceAssociationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NetworkSecurityPerimeterConfiguration,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.namespaceName,
    Parameters.resourceAssociationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const reconcileOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/networkSecurityPerimeterConfigurations/{resourceAssociationName}/reconcile",
  httpMethod: "POST",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.namespaceName,
    Parameters.resourceAssociationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
