/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import "@azure/core-paging";
import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { PremiumMessagingRegionsOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ServiceBusManagementClientContext } from "../serviceBusManagementClientContext";
import {
  PremiumMessagingRegions,
  PremiumMessagingRegionsOperationsListNextOptionalParams,
  PremiumMessagingRegionsOperationsListOptionalParams,
  PremiumMessagingRegionsOperationsListResponse,
  PremiumMessagingRegionsOperationsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PremiumMessagingRegionsOperations operations. */
export class PremiumMessagingRegionsOperationsImpl
  implements PremiumMessagingRegionsOperations {
  private readonly client: ServiceBusManagementClientContext;

  /**
   * Initialize a new instance of the class PremiumMessagingRegionsOperations class.
   * @param client Reference to the service client
   */
  constructor(client: ServiceBusManagementClientContext) {
    this.client = client;
  }

  /**
   * Gets the available premium messaging regions for servicebus
   * @param options The options parameters.
   */
  public list(
    options?: PremiumMessagingRegionsOperationsListOptionalParams
  ): PagedAsyncIterableIterator<PremiumMessagingRegions> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: PremiumMessagingRegionsOperationsListOptionalParams
  ): AsyncIterableIterator<PremiumMessagingRegions[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: PremiumMessagingRegionsOperationsListOptionalParams
  ): AsyncIterableIterator<PremiumMessagingRegions> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets the available premium messaging regions for servicebus
   * @param options The options parameters.
   */
  private _list(
    options?: PremiumMessagingRegionsOperationsListOptionalParams
  ): Promise<PremiumMessagingRegionsOperationsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: PremiumMessagingRegionsOperationsListNextOptionalParams
  ): Promise<PremiumMessagingRegionsOperationsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/premiumMessagingRegions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PremiumMessagingRegionsListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PremiumMessagingRegionsListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
