{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "iRU4FoF\u002BSHDyek4I2mTj9UxqfsCodrYA4ivTcF4xVFQ=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:21 GMT"
      },
      "RequestBody": {
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b3035cb8-0000-0700-0000-6545772f0000\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 22:41:51 GMT",
        "trace-id": "6a3310f3-9004-35bf-ea8b-b63cd9dbba55"
      },
      "ResponseBody": {
        "id": "test-d-policy-recorded-workers",
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        },
        "etag": "\u0022b3035cb8-0000-0700-0000-6545772f0000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-e-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Cra0Om0ZqhFeDkbLieY\u002Bv\u002B7gXRaJ3OqYfEy3xRhld5Y=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:21 GMT"
      },
      "RequestBody": {
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling"
              }
            ],
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d1bc36b-0000-0700-0000-65483a670000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:19 GMT",
        "trace-id": "c6a878b0-a5f3-dfc2-b0ac-1f23909e86be"
      },
      "ResponseBody": {
        "id": "test-e-policy-recorded-workers",
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            },
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling",
                "id": "480c1ee7-e875-495b-ad5b-a132efd9a2e3"
              }
            ]
          }
        ],
        "etag": "\u00222d1bc36b-0000-0700-0000-65483a670000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "aTaO7w8QJi3buPGXcLIfMb4BN0kUNaNJHI2OoHl6w2I=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:21 GMT"
      },
      "RequestBody": {
        "id": "test-a-queue-recorded-workers",
        "name": "test-a-queue",
        "exceptionPolicyId": "test-e-policy-recorded-workers",
        "distributionPolicyId": "test-d-policy-recorded-workers",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225d04d399-0000-0700-0000-65483a650000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:17 GMT",
        "trace-id": "1a2b6fb9-4231-75c5-61e7-211818a3a0e3"
      },
      "ResponseBody": {
        "id": "test-a-queue-recorded-workers",
        "name": "test-a-queue",
        "distributionPolicyId": "test-d-policy-recorded-workers",
        "labels": {
          "Id": "test-a-queue-recorded-workers"
        },
        "exceptionPolicyId": "test-e-policy-recorded-workers",
        "etag": "\u00225d04d399-0000-0700-0000-65483a650000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/workers/test-worker-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "8zG4WBtnfgqdmm1brUF6xvPcKB4o7\u002B1SknnP1bo1BhA=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:21 GMT"
      },
      "RequestBody": {
        "id": "test-worker-recorded-workers",
        "capacity": 1,
        "availableForOffers": true,
        "queues": [
          "test-a-queue-recorded-workers"
        ],
        "channels": [
          {
            "channelId": "test-channel",
            "capacityCostPerJob": 1
          }
        ],
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000004-0000-0000-a766-999b63dedb08\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:19 GMT",
        "trace-id": "89246e5f-3ba1-a45b-aae7-2fa26b7365b7"
      },
      "ResponseBody": {
        "id": "test-worker-recorded-workers",
        "state": "active",
        "queues": [
          "test-a-queue-recorded-workers"
        ],
        "capacity": 1,
        "labels": {
          "Id": "test-worker-recorded-workers",
          "label1": "label1value"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "test-channel",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": true,
        "etag": "\u002200000004-0000-0000-a766-999b63dedb08\u0022"
      }
    },
[...]
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:23 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "22b37a4a-1f91-3f17-71bf-f6df1a390437"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/test-d-policy-recorded-workers",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "90e85427-978f-de43-bcb4-228694bec50f"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is an assigned worker to this queue",
          "target": "/routing/queues/test-a-queue-recorded-workers"
        }
      }
    }
  ],
  "Variables": {}
}
