{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "iRU4FoF\u002BSHDyek4I2mTj9UxqfsCodrYA4ivTcF4xVFQ=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:24 GMT"
      },
      "RequestBody": {
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b3035cb8-0000-0700-0000-6545772f0000\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 22:41:51 GMT",
        "trace-id": "07e111ff-6e22-133a-9c5d-05c57d4a78f6"
      },
      "ResponseBody": {
        "id": "test-d-policy-recorded-workers",
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        },
        "etag": "\u0022b3035cb8-0000-0700-0000-6545772f0000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-e-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Cra0Om0ZqhFeDkbLieY\u002Bv\u002B7gXRaJ3OqYfEy3xRhld5Y=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:24 GMT"
      },
      "RequestBody": {
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling"
              }
            ],
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d1ba06e-0000-0700-0000-65483a6a0000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:22 GMT",
        "trace-id": "0f970b7e-db5f-8c33-656c-45a52c95fd31"
      },
      "ResponseBody": {
        "id": "test-e-policy-recorded-workers",
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            },
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling",
                "id": "b570b62a-d7d6-44f0-9032-978e81d2a3fc"
              }
            ]
          }
        ],
        "etag": "\u00222d1ba06e-0000-0700-0000-65483a6a0000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "aTaO7w8QJi3buPGXcLIfMb4BN0kUNaNJHI2OoHl6w2I=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:25 GMT"
      },
      "RequestBody": {
        "id": "test-a-queue-recorded-workers",
        "name": "test-a-queue",
        "exceptionPolicyId": "test-e-policy-recorded-workers",
        "distributionPolicyId": "test-d-policy-recorded-workers",
        "labels": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225d04d399-0000-0700-0000-65483a650000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:17 GMT",
        "trace-id": "daa9e32e-90a2-08c5-23c4-01088a9829f4"
      },
      "ResponseBody": {
        "id": "test-a-queue-recorded-workers",
        "name": "test-a-queue",
        "distributionPolicyId": "test-d-policy-recorded-workers",
        "labels": {
          "Id": "test-a-queue-recorded-workers"
        },
        "exceptionPolicyId": "test-e-policy-recorded-workers",
        "etag": "\u00225d04d399-0000-0700-0000-65483a650000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/workers/test-worker-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "08bc98bd-0bbd-c7a5-2166-3682612d038e"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "dfead103-9775-e9a8-dacd-716fa9bab541"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/test-d-policy-recorded-workers",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:25 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "trace-id": "face4ebc-6012-0f37-c434-3cd988606b26"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
