{
  "Entries": [
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "iRU4FoF\u002BSHDyek4I2mTj9UxqfsCodrYA4ivTcF4xVFQ=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:19 GMT"
      },
      "RequestBody": {
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022b3035cb8-0000-0700-0000-6545772f0000\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 22:41:51 GMT",
        "trace-id": "3dacfbea-4adf-4ca4-4dbf-e06954f30d15"
      },
      "ResponseBody": {
        "id": "test-d-policy-recorded-workers",
        "name": "test-d-policy",
        "offerExpiresAfterSeconds": 60,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 5,
          "bypassSelectors": false
        },
        "etag": "\u0022b3035cb8-0000-0700-0000-6545772f0000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/exceptionPolicies/test-e-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Cra0Om0ZqhFeDkbLieY\u002Bv\u002B7gXRaJ3OqYfEy3xRhld5Y=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:19 GMT"
      },
      "RequestBody": {
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling"
              }
            ],
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00222d1b3f6a-0000-0700-0000-65483a650000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:17 GMT",
        "trace-id": "0c4e7c46-0bf2-c0bb-711b-c9f217cee59a"
      },
      "ResponseBody": {
        "id": "test-e-policy-recorded-workers",
        "name": "test-e-policy",
        "exceptionRules": [
          {
            "id": "MaxWaitTimeExceededCancel",
            "trigger": {
              "kind": "wait-time",
              "thresholdSeconds": 10
            },
            "actions": [
              {
                "kind": "cancel",
                "note": "wait time exceeded; cancelling",
                "id": "5758f859-8aa5-42de-9088-da8c69a538df"
              }
            ]
          }
        ],
        "etag": "\u00222d1b3f6a-0000-0700-0000-65483a650000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "aTaO7w8QJi3buPGXcLIfMb4BN0kUNaNJHI2OoHl6w2I=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:19 GMT"
      },
      "RequestBody": {
        "id": "test-a-queue-recorded-workers",
        "name": "test-a-queue",
        "exceptionPolicyId": "test-e-policy-recorded-workers",
        "distributionPolicyId": "test-d-policy-recorded-workers",
        "labels": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00225d04d399-0000-0700-0000-65483a650000\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:17 GMT",
        "trace-id": "6fecebec-7c95-0591-fd5d-944ce45311b6"
      },
      "ResponseBody": {
        "id": "test-a-queue-recorded-workers",
        "name": "test-a-queue",
        "distributionPolicyId": "test-d-policy-recorded-workers",
        "labels": {
          "Id": "test-a-queue-recorded-workers"
        },
        "exceptionPolicyId": "test-e-policy-recorded-workers",
        "etag": "\u00225d04d399-0000-0700-0000-65483a650000\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/workers/test-worker-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "RJHD2afeje2kcqwTS4IDn563RgRJFSmjAKuYv3H0Yi8=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:19 GMT"
      },
      "RequestBody": {
        "id": "test-worker-recorded-workers",
        "capacity": 1,
        "availableForOffers": false,
        "queues": [
          "test-a-queue-recorded-workers"
        ],
        "channels": [
          {
            "channelId": "test-channel",
            "capacityCostPerJob": 1
          }
        ],
        "labels": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200000000-0000-0000-cb82-7e9a63dedb08\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 00:59:17 GMT",
        "trace-id": "0f61e808-23b5-797e-03c1-310e63edc117"
      },
      "ResponseBody": {
        "id": "test-worker-recorded-workers",
        "state": "inactive",
        "queues": [
          "test-a-queue-recorded-workers"
        ],
        "capacity": 1,
        "labels": {
          "Id": "test-worker-recorded-workers"
        },
        "tags": {},
        "channels": [
          {
            "channelId": "test-channel",
            "capacityCostPerJob": 1
          }
        ],
        "offers": [],
        "assignedJobs": [],
        "loadRatio": 0,
        "availableForOffers": false,
        "etag": "\u002200000000-0000-0000-cb82-7e9a63dedb08\u0022"
      }
    },
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/distributionPolicies/test-d-policy-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "e3b62308-a503-8b81-830d-16451e156afe"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/test-d-policy-recorded-workers",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://ccaap-test-marc.unitedstates.communication.azure.com/routing/queues/test-a-queue-recorded-workers?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Mon, 06 Nov 2023 00:59:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview, 2023-08-25-preview, 2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "5fa566f8-2bcf-159b-382a-c49e33596efa"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "Conflict",
          "message": "Validation failed: \r\n -- : There is an assigned worker to this queue",
          "target": "/routing/queues/test-a-queue-recorded-workers"
        }
      }
    }
  ],
  "Variables": {}
}
