{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/shareResources?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/0296954c-c2b3-4255-a962-88eeb377421a/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/bbsansharer",
              "type": "ArmResourceReference"
            },
            "sentSharesCount": 6,
            "receivedSharesCount": 0,
            "id": "500009de-3510-4bbd-bf81-dc0b5a165be7",
            "type": "ShareResource"
          },
          {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/abdaa2b1-2be8-475f-8529-03d19b6a0a33/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/bbfaisalp",
              "type": "ArmResourceReference"
            },
            "sentSharesCount": 1,
            "receivedSharesCount": 0,
            "id": "3e08f3fd-fd9d-4e9a-8ab0-2fab212ffb96",
            "type": "ShareResource"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
