{
    "include": [
      "dist-esm/src/**/*.js"
    ],
    "exclude": [
      "**/*.d.ts",
      "dist-esm/storage-file-share/src/StorageBrowserPolicyFactory.js",
      "dist-esm/storage-file-share/src/policies/StorageBrowserPolicy.js",
      "dist-esm/storage-file-share/src/FileDownloadResponse.browser.js",
      "dist-esm/storage-file-share/src/credentials/StorageSharedKeyCredential.browser.js",
      "dist-esm/storage-file-share/src/models.js",
      "dist-esm/storage-file-share/src/index.browser.js",
      "dist-esm/storage-file-share/src/utils/utils.browser.js",
      "dist-esm/storage-file-share/src/generated/src/storageClient.js"
    ],
    "reporter": [
      "text-summary",
      "html",
      "cobertura"
    ],
    "exclude-after-remap":false,
    "sourceMap": true,
    "instrument": true,
    "all": true
  }
