# Used in most samples. Retrieve these values from a storage account in the Azure Portal.
ACCOUNT_NAME=<storage-account-name>
ACCOUNT_KEY=<storage-account-key>

# Used for withConnString
STORAGE_CONNECTION_STRING=<storage-account-connection-string>

# Used for the advanced and anonymousCred tests. Create a SAS token for a storage account in the Azure Portal.
ACCOUNT_SAS=<shared-access-signature>

# Used for iterators-handles, provide an existing share and directory name.
SHARE_NAME=<share name>
DIR_NAME=<directory name>

# To run the proxyAuth sample, set up an HTTP proxy and enter your information:
# HTTP_PROXY=http://localhost:3128

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=playback

# Used for share soft delete.
SOFT_DELETE_ACCOUNT_NAME=<storage-account-name>
SOFT_DELETE_ACCOUNT_KEY=<storage-account-key>
SOFT_DELETE_STORAGE_CONNECTION_STRING=<storage-account-connection-string>
SOFT_DELETE_ACCOUNT_SAS=<shared-access-signature>