/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { IntegrationServiceEnvironmentNetworkHealth } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { LogicManagementClient } from "../logicManagementClient";
import {
  IntegrationServiceEnvironmentNetworkHealthGetOptionalParams,
  IntegrationServiceEnvironmentNetworkHealthGetResponse
} from "../models";

/** Class containing IntegrationServiceEnvironmentNetworkHealth operations. */
export class IntegrationServiceEnvironmentNetworkHealthImpl
  implements IntegrationServiceEnvironmentNetworkHealth {
  private readonly client: LogicManagementClient;

  /**
   * Initialize a new instance of the class IntegrationServiceEnvironmentNetworkHealth class.
   * @param client Reference to the service client
   */
  constructor(client: LogicManagementClient) {
    this.client = client;
  }

  /**
   * Gets the integration service environment network health.
   * @param resourceGroup The resource group.
   * @param integrationServiceEnvironmentName The integration service environment name.
   * @param options The options parameters.
   */
  get(
    resourceGroup: string,
    integrationServiceEnvironmentName: string,
    options?: IntegrationServiceEnvironmentNetworkHealthGetOptionalParams
  ): Promise<IntegrationServiceEnvironmentNetworkHealthGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroup, integrationServiceEnvironmentName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/health/network",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Dictionary",
          value: {
            type: {
              name: "Composite",
              className: "IntegrationServiceEnvironmentSubnetNetworkHealth"
            }
          }
        }
      }
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroup,
    Parameters.integrationServiceEnvironmentName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
