/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { IntegrationServiceEnvironmentManagedApiOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { LogicManagementClient } from "../logicManagementClient";
import {
  ApiOperation,
  IntegrationServiceEnvironmentManagedApiOperationsListNextOptionalParams,
  IntegrationServiceEnvironmentManagedApiOperationsListOptionalParams,
  IntegrationServiceEnvironmentManagedApiOperationsListResponse,
  IntegrationServiceEnvironmentManagedApiOperationsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing IntegrationServiceEnvironmentManagedApiOperations operations. */
export class IntegrationServiceEnvironmentManagedApiOperationsImpl
  implements IntegrationServiceEnvironmentManagedApiOperations {
  private readonly client: LogicManagementClient;

  /**
   * Initialize a new instance of the class IntegrationServiceEnvironmentManagedApiOperations class.
   * @param client Reference to the service client
   */
  constructor(client: LogicManagementClient) {
    this.client = client;
  }

  /**
   * Gets the managed Api operations.
   * @param resourceGroup The resource group.
   * @param integrationServiceEnvironmentName The integration service environment name.
   * @param apiName The api name.
   * @param options The options parameters.
   */
  public list(
    resourceGroup: string,
    integrationServiceEnvironmentName: string,
    apiName: string,
    options?: IntegrationServiceEnvironmentManagedApiOperationsListOptionalParams
  ): PagedAsyncIterableIterator<ApiOperation> {
    const iter = this.listPagingAll(
      resourceGroup,
      integrationServiceEnvironmentName,
      apiName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroup,
          integrationServiceEnvironmentName,
          apiName,
          options,
          settings
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroup: string,
    integrationServiceEnvironmentName: string,
    apiName: string,
    options?: IntegrationServiceEnvironmentManagedApiOperationsListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<ApiOperation[]> {
    let result: IntegrationServiceEnvironmentManagedApiOperationsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroup,
        integrationServiceEnvironmentName,
        apiName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroup,
        integrationServiceEnvironmentName,
        apiName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroup: string,
    integrationServiceEnvironmentName: string,
    apiName: string,
    options?: IntegrationServiceEnvironmentManagedApiOperationsListOptionalParams
  ): AsyncIterableIterator<ApiOperation> {
    for await (const page of this.listPagingPage(
      resourceGroup,
      integrationServiceEnvironmentName,
      apiName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets the managed Api operations.
   * @param resourceGroup The resource group.
   * @param integrationServiceEnvironmentName The integration service environment name.
   * @param apiName The api name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroup: string,
    integrationServiceEnvironmentName: string,
    apiName: string,
    options?: IntegrationServiceEnvironmentManagedApiOperationsListOptionalParams
  ): Promise<IntegrationServiceEnvironmentManagedApiOperationsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroup, integrationServiceEnvironmentName, apiName, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroup The resource group.
   * @param integrationServiceEnvironmentName The integration service environment name.
   * @param apiName The api name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroup: string,
    integrationServiceEnvironmentName: string,
    apiName: string,
    nextLink: string,
    options?: IntegrationServiceEnvironmentManagedApiOperationsListNextOptionalParams
  ): Promise<
    IntegrationServiceEnvironmentManagedApiOperationsListNextResponse
  > {
    return this.client.sendOperationRequest(
      {
        resourceGroup,
        integrationServiceEnvironmentName,
        apiName,
        nextLink,
        options
      },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis/{apiName}/apiOperations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApiOperationListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroup,
    Parameters.integrationServiceEnvironmentName,
    Parameters.apiName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApiOperationListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroup,
    Parameters.integrationServiceEnvironmentName,
    Parameters.apiName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
