/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { WorkflowTriggerHistories } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { LogicManagementClientContext } from "../logicManagementClientContext";
import {
  WorkflowTriggerHistory,
  WorkflowTriggerHistoriesListNextOptionalParams,
  WorkflowTriggerHistoriesListOptionalParams,
  WorkflowTriggerHistoriesListResponse,
  WorkflowTriggerHistoriesGetOptionalParams,
  WorkflowTriggerHistoriesGetResponse,
  WorkflowTriggerHistoriesResubmitOptionalParams,
  WorkflowTriggerHistoriesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing WorkflowTriggerHistories operations. */
export class WorkflowTriggerHistoriesImpl implements WorkflowTriggerHistories {
  private readonly client: LogicManagementClientContext;

  /**
   * Initialize a new instance of the class WorkflowTriggerHistories class.
   * @param client Reference to the service client
   */
  constructor(client: LogicManagementClientContext) {
    this.client = client;
  }

  /**
   * Gets a list of workflow trigger histories.
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param triggerName The workflow trigger name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workflowName: string,
    triggerName: string,
    options?: WorkflowTriggerHistoriesListOptionalParams
  ): PagedAsyncIterableIterator<WorkflowTriggerHistory> {
    const iter = this.listPagingAll(
      resourceGroupName,
      workflowName,
      triggerName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          workflowName,
          triggerName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workflowName: string,
    triggerName: string,
    options?: WorkflowTriggerHistoriesListOptionalParams
  ): AsyncIterableIterator<WorkflowTriggerHistory[]> {
    let result = await this._list(
      resourceGroupName,
      workflowName,
      triggerName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workflowName,
        triggerName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workflowName: string,
    triggerName: string,
    options?: WorkflowTriggerHistoriesListOptionalParams
  ): AsyncIterableIterator<WorkflowTriggerHistory> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workflowName,
      triggerName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of workflow trigger histories.
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param triggerName The workflow trigger name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workflowName: string,
    triggerName: string,
    options?: WorkflowTriggerHistoriesListOptionalParams
  ): Promise<WorkflowTriggerHistoriesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, triggerName, options },
      listOperationSpec
    );
  }

  /**
   * Gets a workflow trigger history.
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param triggerName The workflow trigger name.
   * @param historyName The workflow trigger history name. Corresponds to the run name for triggers that
   *                    resulted in a run.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workflowName: string,
    triggerName: string,
    historyName: string,
    options?: WorkflowTriggerHistoriesGetOptionalParams
  ): Promise<WorkflowTriggerHistoriesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, triggerName, historyName, options },
      getOperationSpec
    );
  }

  /**
   * Resubmits a workflow run based on the trigger history.
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param triggerName The workflow trigger name.
   * @param historyName The workflow trigger history name. Corresponds to the run name for triggers that
   *                    resulted in a run.
   * @param options The options parameters.
   */
  resubmit(
    resourceGroupName: string,
    workflowName: string,
    triggerName: string,
    historyName: string,
    options?: WorkflowTriggerHistoriesResubmitOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, triggerName, historyName, options },
      resubmitOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param triggerName The workflow trigger name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workflowName: string,
    triggerName: string,
    nextLink: string,
    options?: WorkflowTriggerHistoriesListNextOptionalParams
  ): Promise<WorkflowTriggerHistoriesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, triggerName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowTriggerHistoryListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.top, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.triggerName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories/{historyName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowTriggerHistory
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.triggerName,
    Parameters.historyName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const resubmitOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories/{historyName}/resubmit",
  httpMethod: "POST",
  responses: {
    202: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.triggerName,
    Parameters.historyName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowTriggerHistoryListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.top, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.nextLink,
    Parameters.triggerName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
