/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { WorkflowVersions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { LogicManagementClientContext } from "../logicManagementClientContext";
import {
  WorkflowVersion,
  WorkflowVersionsListNextOptionalParams,
  WorkflowVersionsListOptionalParams,
  WorkflowVersionsListResponse,
  WorkflowVersionsGetOptionalParams,
  WorkflowVersionsGetResponse,
  WorkflowVersionsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing WorkflowVersions operations. */
export class WorkflowVersionsImpl implements WorkflowVersions {
  private readonly client: LogicManagementClientContext;

  /**
   * Initialize a new instance of the class WorkflowVersions class.
   * @param client Reference to the service client
   */
  constructor(client: LogicManagementClientContext) {
    this.client = client;
  }

  /**
   * Gets a list of workflow versions.
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workflowName: string,
    options?: WorkflowVersionsListOptionalParams
  ): PagedAsyncIterableIterator<WorkflowVersion> {
    const iter = this.listPagingAll(resourceGroupName, workflowName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(resourceGroupName, workflowName, options);
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workflowName: string,
    options?: WorkflowVersionsListOptionalParams
  ): AsyncIterableIterator<WorkflowVersion[]> {
    let result = await this._list(resourceGroupName, workflowName, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workflowName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workflowName: string,
    options?: WorkflowVersionsListOptionalParams
  ): AsyncIterableIterator<WorkflowVersion> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workflowName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of workflow versions.
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workflowName: string,
    options?: WorkflowVersionsListOptionalParams
  ): Promise<WorkflowVersionsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, options },
      listOperationSpec
    );
  }

  /**
   * Gets a workflow version.
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param versionId The workflow versionId.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workflowName: string,
    versionId: string,
    options?: WorkflowVersionsGetOptionalParams
  ): Promise<WorkflowVersionsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, versionId, options },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The resource group name.
   * @param workflowName The workflow name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workflowName: string,
    nextLink: string,
    options?: WorkflowVersionsListNextOptionalParams
  ): Promise<WorkflowVersionsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowVersionListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.top],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowVersion
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.versionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowVersionListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.top],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
