{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Consumption/budgets/mybudgetxxxy?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "category": "Cost",
          "amount": 100,
          "timeGrain": "Monthly",
          "timePeriod": {
            "startDate": "2023-09-01T00:00:00.000Z",
            "endDate": "2023-10-01T00:00:00.000Z"
          },
          "filter": {
            "and": [
              {
                "dimensions": {
                  "name": "ResourceId",
                  "operator": "In",
                  "values": [
                    "subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/myvmxxx"
                  ]
                }
              },
              {
                "tags": {
                  "name": "category",
                  "operator": "In",
                  "values": [
                    "Dev",
                    "Prod"
                  ]
                }
              }
            ]
          },
          "notifications": {
            "Actual_GreaterThan_80_Percent": {
              "enabled": true,
              "operator": "GreaterThan",
              "threshold": 80,
              "contactEmails": [
                "johndoe@contoso.com",
                "janesmith@contoso.com"
              ],
              "contactRoles": [
                "Contributor",
                "Reader"
              ],
              "thresholdType": "Actual"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Consumption/budgets/mybudgetxxxy?api-version=2021-10-01",
        "session-id": "95c43079-bec2-44e5-8793-861005e2ea66",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Consumption/budgets/mybudgetxxxy",
        "name": "mybudgetxxxy",
        "type": "Microsoft.Consumption/budgets",
        "eTag": "\u00221d91f19f9f08acb\u0022",
        "properties": {
          "timePeriod": {
            "startDate": "2023-09-01T00:00:00Z",
            "endDate": "2023-10-01T00:00:00Z"
          },
          "timeGrain": "Monthly",
          "amount": 100.0,
          "category": "Cost",
          "notifications": {
            "actual_GreaterThan_80_Percent": {
              "enabled": true,
              "operator": "GreaterThan",
              "threshold": 80.0,
              "contactEmails": [
                "johndoe@contoso.com",
                "janesmith@contoso.com"
              ],
              "contactRoles": [
                "Contributor",
                "Reader"
              ],
              "contactGroups": [],
              "thresholdType": "Actual"
            }
          },
          "filter": {
            "and": [
              {
                "dimensions": {
                  "name": "ResourceId",
                  "operator": "In",
                  "values": [
                    "subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/myvmxxx"
                  ]
                }
              },
              {
                "tags": {
                  "name": "category",
                  "operator": "In",
                  "values": [
                    "Dev",
                    "Prod"
                  ]
                }
              }
            ]
          }
        }
      }
    }
  ],
  "Variables": {}
}
