/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { AvailableOS } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { TestBase } from "../testBase";
import {
  AvailableOSResource,
  OsUpdateType,
  AvailableOSListNextOptionalParams,
  AvailableOSListOptionalParams,
  AvailableOSListResponse,
  AvailableOSGetOptionalParams,
  AvailableOSGetResponse,
  AvailableOSListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AvailableOS operations. */
export class AvailableOSImpl implements AvailableOS {
  private readonly client: TestBase;

  /**
   * Initialize a new instance of the class AvailableOS class.
   * @param client Reference to the service client
   */
  constructor(client: TestBase) {
    this.client = client;
  }

  /**
   * Lists all the available OSs to run a package under a Test Base Account.
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param osUpdateType The type of the OS Update.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    options?: AvailableOSListOptionalParams
  ): PagedAsyncIterableIterator<AvailableOSResource> {
    const iter = this.listPagingAll(
      resourceGroupName,
      testBaseAccountName,
      osUpdateType,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          testBaseAccountName,
          osUpdateType,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    options?: AvailableOSListOptionalParams
  ): AsyncIterableIterator<AvailableOSResource[]> {
    let result = await this._list(
      resourceGroupName,
      testBaseAccountName,
      osUpdateType,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        testBaseAccountName,
        osUpdateType,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    options?: AvailableOSListOptionalParams
  ): AsyncIterableIterator<AvailableOSResource> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      testBaseAccountName,
      osUpdateType,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Lists all the available OSs to run a package under a Test Base Account.
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param osUpdateType The type of the OS Update.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    options?: AvailableOSListOptionalParams
  ): Promise<AvailableOSListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, testBaseAccountName, osUpdateType, options },
      listOperationSpec
    );
  }

  /**
   * Gets an available OS to run a package under a Test Base Account.
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param availableOSResourceName The resource name of an Available OS.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    testBaseAccountName: string,
    availableOSResourceName: string,
    options?: AvailableOSGetOptionalParams
  ): Promise<AvailableOSGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        availableOSResourceName,
        options
      },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param osUpdateType The type of the OS Update.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    nextLink: string,
    options?: AvailableOSListNextOptionalParams
  ): Promise<AvailableOSListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        osUpdateType,
        nextLink,
        options
      },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/availableOSs",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvailableOSListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.osUpdateType],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/availableOSs/{availableOSResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvailableOSResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.availableOSResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvailableOSListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.osUpdateType],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
