{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Media/mediaservices?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "mymediaxxx",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Media/mediaservices/mymediaxxx",
            "type": "Microsoft.Media/mediaservices",
            "location": "East US",
            "properties": {
              "mediaServiceId": "446dce70-1df2-4593-a609-62812e1ff39c",
              "storageAccounts": [
                {
                  "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/mystorageaccountxxx111",
                  "type": "Primary"
                }
              ],
              "storageAuthentication": "System",
              "encryption": {
                "type": "SystemKey"
              },
              "keyDelivery": {
                "accessControl": {
                  "defaultAction": "Allow",
                  "ipAllowList": []
                }
              },
              "publicNetworkAccess": "Enabled",
              "provisioningState": "Succeeded",
              "privateEndpointConnections": []
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
