{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520848309803743?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB03E4A953B2FC\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:41:23 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520848309803743/blob167520848316509648?",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "cmFuZG9tc3RyaW5nMTY3NTIwODQ4MzE2NTA2ODQ1",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "3iJLFPKVy/YvvqBxuhJHnw==",
        "ETag": "\u00220x8DB03E4A95E3492\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:41:23 GMT",
        "x-ms-content-crc64": "ECF2jdS54So=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:41:23.2017300Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520848309803743/blob167520848316509648?",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3iJLFPKVy/YvvqBxuhJHnw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB03E4A95E3492\u0022",
        "Last-Modified": "Tue, 31 Jan 2023 23:41:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 31 Jan 2023 23:41:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-31T23:41:23.2017300Z"
      },
      "ResponseBody": "cmFuZG9tc3RyaW5nMTY3NTIwODQ4MzE2NTA2ODQ1"
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167520848309803743?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167520848316509648",
    "container": "container167520848309803743",
    "randomstring": "randomstring167520848316506845"
  }
}
