{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/transliterate?language=zh-Hans\u0026fromScript=Hans\u0026toScript=Latn\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "fakeapikey",
        "Ocp-Apim-Subscription-Region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022\u8FD9\u91CC\u600E\u4E48\u4E00\u56DE\u4E8B?\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "8",
        "X-RequestId": "TLIT.SN1P.E22E.0403T1845.B4151A"
      },
      "ResponseBody": "[{\u0022text\u0022:\u0022zh\u00E8l\u01D0 z\u011Bnme y\u00EChu\u00EDsh\u00EC?\u0022,\u0022script\u0022:\u0022Latn\u0022}]"
    }
  ],
  "Variables": {}
}
