{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/route/range/json?query=50.97452%2C5.86605\u0026timeBudgetInSec=600\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "formatVersion": "0.0.1",
        "reachableRange": {
          "center": {
            "latitude": 50.97452,
            "longitude": 5.86605
          },
          "boundary": [
            {
              "latitude": 51.01856,
              "longitude": 5.86423
            },
            {
              "latitude": 51.0292,
              "longitude": 5.85259
            },
            {
              "latitude": 51.01926,
              "longitude": 5.85476
            },
            {
              "latitude": 51.01395,
              "longitude": 5.85035
            },
            {
              "latitude": 51.00996,
              "longitude": 5.84657
            }[...]
