import {TEditorObj} from "@azure/apimanagement-custom-widget-tools"
import {useEditorValues} from "../hooks"
import {valuesDefault, TValues} from "../values"

const DataField = ({title, value}: {title: keyof TEditorObj<TValues> | keyof TValues, value: string}) => (
  <p>
    {title}: <b>{value}</b>
  </p>
)

const App = () => {
  const editorValues = useEditorValues(valuesDefault)

  return (
    <>
      <h1>Hello {{displayName}}!</h1>

      <DataField title="id" value={editorValues.id} />
      <DataField title="displayName" value={editorValues.displayName} />
      <br />
      <DataField title="field1" value={editorValues.data.field1} />
      <DataField title="field2" value={editorValues.data.field2} />
    </>
  )
}

export default App
