{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "table1676"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccountname.table.core.windows.net/Tables(\u0027table1676\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccountname.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "table1676"
      }
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/table1676?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json;odata=nometadata",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "simpleEntity",
        "RowKey": "03590009-4169-46ce-9e33-d011dbaf308c",
        "stringTypeProperty1": "This is a string",
        "stringTypeProperty2": "This is a string",
        "stringTypeProperty3": "This is a string",
        "stringTypeProperty4": "This is a string",
        "stringTypeProperty5": "This is a string",
        "stringTypeProperty6": "This is a string",
        "stringTypeProperty7": "This is a string"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccountname.table.core.windows.net/table1676(PartitionKey=\u0027simpleEntity\u0027,RowKey=\u002703590009-4169-46ce-9e33-d011dbaf308c\u0027)",
        "ETag": "W/\u0022datetime\u00272022-01-14T01%3A53%3A27.3093406Z\u0027\u0022",
        "Location": "https://fakeaccountname.table.core.windows.net/table1676(PartitionKey=\u0027simpleEntity\u0027,RowKey=\u002703590009-4169-46ce-9e33-d011dbaf308c\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.table.core.windows.net/Tables(\u0027table1676\u0027)?st=2021-08-03T08:52:15Z\u0026spr=https\u0026sig=fakesigval",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "table-name": "table1676"
  }
}
