{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/receivedShares/attached?referenceName=/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname\u0026api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "createdAt": "2023-02-23T01:57:39.468611Z",
              "sharedAt": "2023-02-23T01:57:39.468611Z",
              "expirationDate": "2023-03-01T20:23:45.646Z",
              "displayName": "JS-SDK-Received-Share",
              "state": "Succeeded",
              "shareStatus": "Attached",
              "sentShareDescription": "Sent share created by and for JS SDK tests.",
              "receiverName": "Sharing-Test-App",
              "receiverTenantName": "Contoso Marketplace",
              "senderName": "Sharing-Test-App",
              "senderTenantName": "Fabrikam Solutions",
              "assetLocation": "uksouth",
              "assetStoreKind": "AdlsGen2Account",
              "sink": {
                "properties": {
                  "containerName": "targetcontainer",
                  "folder": "receivedData",
                  "mountPath": "",
                  "location": "uksouth"
                },
                "storeKind": "AdlsGen2Account",
                "storeReference": {
                  "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
                  "type": "ArmResourceReference"
                }
              }
            },
            "shareKind": "InPlace",
            "id": "42c00975-81aa-4202-8e1f-b62df20c5070",
            "type": "ReceivedShare"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
