{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/receivedShares/detached?filter=properties%2FStoreKind\u002Beq\u002B%27AdlsGen2Account%27\u0026api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "createdAt": "2023-02-23T01:57:39.468611Z",
              "sharedAt": "2023-02-23T01:57:39.468611Z",
              "expirationDate": "2023-03-01T20:23:45.646Z",
              "displayName": "JS-SDK-Sent-Share",
              "state": "Succeeded",
              "shareStatus": "Detached",
              "sentShareDescription": "Sent share created by and for JS SDK tests.",
              "senderName": "Sharing-Test-App",
              "senderTenantName": "Fabrikam Solutions",
              "assetLocation": "uksouth",
              "assetStoreKind": "AdlsGen2Account"
            },
            "shareKind": "InPlace",
            "id": "42c00975-81aa-4202-8e1f-b62df20c5070",
            "type": "ReceivedShare"
          },
          {
            "properties": {
              "createdAt": "2023-02-23T01:54:39.58674Z",
              "sharedAt": "2023-02-23T01:54:39.58674Z",
              "displayName": "Test-Sent-Share-JS",
              "state": "Succeeded",
              "shareStatus": "Detached",
              "senderName": "Sharing-Test-App",
              "senderTenantName": "Fabrikam Solutions",
              "assetLocation": "uksouth",
              "assetStoreKind": "AdlsGen2Account"
            },
            "shareKind": "InPlace",
            "id": "8113e93d-4cbc-45a9-9267-c192024e7549",
            "type": "ReceivedShare"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
