{
  "Entries": [
    {
      "RequestUri": "https://accountname.purview.azure.com/share/receivedShares/attached?referenceName=/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname\u0026api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "createdAt": "2023-05-31T15:46:05.9090485Z",
              "sharedAt": "2023-05-31T15:46:05.9090485Z",
              "expirationDate": "2023-12-31T23:59:59Z",
              "displayName": "JS-SDK-Received-Share",
              "state": "Succeeded",
              "shareStatus": "Attached",
              "sentShareDescription": "Sent share created by and for JS SDK tests.",
              "receiverName": "testDataBricks",
              "receiverTenantName": "Microsoft",
              "senderName": "testDataBricks",
              "senderTenantName": "Microsoft",
              "assetLocation": "southafricanorth",
              "assetStoreKind": "AdlsGen2Account",
              "sink": {
                "properties": {
                  "containerName": "targetcontainer",
                  "folder": "receivedData",
                  "mountPath": "",
                  "location": "southafricanorth"
                },
                "storeKind": "AdlsGen2Account",
                "storeReference": {
                  "referenceName": "/subscriptions/00000000-000-000-00000-000000000000/resourceGroups/ResourceGroupName/providers/Microsoft.Storage/storageAccounts/storageaccountname",
                  "type": "ArmResourceReference"
                }
              }
            },
            "shareKind": "InPlace",
            "id": "206016dd-fd49-420c-9545-9663badda4e3",
            "type": "ReceivedShare"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
