{
  "Entries": [
    {
      "RequestUri": "https://joheredicoms.communication.azure.com/identities?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "rixjxW64I0G/6FMwa9VT4A.0",
        "X-Processing-Time": "81ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "sanitized"
        }
      }
    },
    {
      "RequestUri": "https://joheredicoms.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2021-10-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "scopes": [
          "chat"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-03-31-preview1, 2021-10-31-preview, 2021-11-01, 2022-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "G8gTLVpEsEam3gunUiUKEw.0",
        "X-Processing-Time": "150ms"
      },
      "ResponseBody": {
        "token": "sanitized",
        "expiresOn": "2022-02-25T20:43:58.4761906\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
