{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/poi/category/tree/json?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "poiCategories": [
          {
            "id": 7320,
            "name": "Sports Center",
            "childCategoryIds": [
              7320002,
              7320003,
              7320005
            ],
            "synonyms": [
              "Sports Centre"
            ]
          },
          {
            "id": 7374,
            "name": "Stadium",
            "childCategoryIds": [
              7374002,
              7374009,
              7374012,
              7374003,
              7374010,
              7374005,
              7374008,
              7374011,
              7374006,
              7374014,
              7374013,
              7374007,
              7374004
            ],
            "synonyms": [
[...]
