/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { Quotas } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { LoadTestClient } from "../loadTestClient";
import {
  QuotaResource,
  QuotasListNextOptionalParams,
  QuotasListOptionalParams,
  QuotasListResponse,
  QuotasGetOptionalParams,
  QuotasGetResponse,
  QuotaBucketRequest,
  QuotasCheckAvailabilityOptionalParams,
  QuotasCheckAvailabilityResponse,
  QuotasListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Quotas operations. */
export class QuotasImpl implements Quotas {
  private readonly client: LoadTestClient;

  /**
   * Initialize a new instance of the class Quotas class.
   * @param client Reference to the service client
   */
  constructor(client: LoadTestClient) {
    this.client = client;
  }

  /**
   * Lists all the available quota per region per subscription.
   * @param location The name of Azure region.
   * @param options The options parameters.
   */
  public list(
    location: string,
    options?: QuotasListOptionalParams
  ): PagedAsyncIterableIterator<QuotaResource> {
    const iter = this.listPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, options, settings);
      }
    };
  }

  private async *listPagingPage(
    location: string,
    options?: QuotasListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<QuotaResource[]> {
    let result: QuotasListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(location, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    options?: QuotasListOptionalParams
  ): AsyncIterableIterator<QuotaResource> {
    for await (const page of this.listPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * Lists all the available quota per region per subscription.
   * @param location The name of Azure region.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    options?: QuotasListOptionalParams
  ): Promise<QuotasListResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listOperationSpec
    );
  }

  /**
   * Get the available quota for a quota bucket per region per subscription.
   * @param location The name of Azure region.
   * @param quotaBucketName Quota Bucket name.
   * @param options The options parameters.
   */
  get(
    location: string,
    quotaBucketName: string,
    options?: QuotasGetOptionalParams
  ): Promise<QuotasGetResponse> {
    return this.client.sendOperationRequest(
      { location, quotaBucketName, options },
      getOperationSpec
    );
  }

  /**
   * Check Quota Availability on quota bucket per region per subscription.
   * @param location The name of Azure region.
   * @param quotaBucketName Quota Bucket name.
   * @param quotaBucketRequest Quota Bucket Request data
   * @param options The options parameters.
   */
  checkAvailability(
    location: string,
    quotaBucketName: string,
    quotaBucketRequest: QuotaBucketRequest,
    options?: QuotasCheckAvailabilityOptionalParams
  ): Promise<QuotasCheckAvailabilityResponse> {
    return this.client.sendOperationRequest(
      { location, quotaBucketName, quotaBucketRequest, options },
      checkAvailabilityOperationSpec
    );
  }

  /**
   * ListNext
   * @param location The name of Azure region.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    nextLink: string,
    options?: QuotasListNextOptionalParams
  ): Promise<QuotasListNextResponse> {
    return this.client.sendOperationRequest(
      { location, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.QuotaResourceList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas/{quotaBucketName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.QuotaResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.quotaBucketName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const checkAvailabilityOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas/{quotaBucketName}/checkAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckQuotaAvailabilityResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.quotaBucketRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.quotaBucketName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.QuotaResourceList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
