/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/artifactsMappers";
import * as Parameters from "../models/parameters";
import { BlueprintManagementClientContext } from "../blueprintManagementClientContext";

/** Class representing a Artifacts. */
export class Artifacts {
  private readonly client: BlueprintManagementClientContext;

  /**
   * Create a Artifacts.
   * @param {BlueprintManagementClientContext} client Reference to the service client.
   */
  constructor(client: BlueprintManagementClientContext) {
    this.client = client;
  }

  /**
   * Create or update blueprint artifact.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param artifact Blueprint artifact to create or update.
   * @param [options] The optional parameters
   * @returns Promise<Models.ArtifactsCreateOrUpdateResponse>
   */
  createOrUpdate(scope: string, blueprintName: string, artifactName: string, artifact: Models.ArtifactUnion, options?: msRest.RequestOptionsBase): Promise<Models.ArtifactsCreateOrUpdateResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param artifact Blueprint artifact to create or update.
   * @param callback The callback
   */
  createOrUpdate(scope: string, blueprintName: string, artifactName: string, artifact: Models.ArtifactUnion, callback: msRest.ServiceCallback<Models.ArtifactUnion>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param artifact Blueprint artifact to create or update.
   * @param options The optional parameters
   * @param callback The callback
   */
  createOrUpdate(scope: string, blueprintName: string, artifactName: string, artifact: Models.ArtifactUnion, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ArtifactUnion>): void;
  createOrUpdate(scope: string, blueprintName: string, artifactName: string, artifact: Models.ArtifactUnion, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ArtifactUnion>, callback?: msRest.ServiceCallback<Models.ArtifactUnion>): Promise<Models.ArtifactsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        artifactName,
        artifact,
        options
      },
      createOrUpdateOperationSpec,
      callback) as Promise<Models.ArtifactsCreateOrUpdateResponse>;
  }

  /**
   * Get a blueprint artifact.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param [options] The optional parameters
   * @returns Promise<Models.ArtifactsGetResponse>
   */
  get(scope: string, blueprintName: string, artifactName: string, options?: msRest.RequestOptionsBase): Promise<Models.ArtifactsGetResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param callback The callback
   */
  get(scope: string, blueprintName: string, artifactName: string, callback: msRest.ServiceCallback<Models.ArtifactUnion>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param options The optional parameters
   * @param callback The callback
   */
  get(scope: string, blueprintName: string, artifactName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ArtifactUnion>): void;
  get(scope: string, blueprintName: string, artifactName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ArtifactUnion>, callback?: msRest.ServiceCallback<Models.ArtifactUnion>): Promise<Models.ArtifactsGetResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        artifactName,
        options
      },
      getOperationSpec,
      callback) as Promise<Models.ArtifactsGetResponse>;
  }

  /**
   * Delete a blueprint artifact.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param [options] The optional parameters
   * @returns Promise<Models.ArtifactsDeleteMethodResponse>
   */
  deleteMethod(scope: string, blueprintName: string, artifactName: string, options?: msRest.RequestOptionsBase): Promise<Models.ArtifactsDeleteMethodResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param callback The callback
   */
  deleteMethod(scope: string, blueprintName: string, artifactName: string, callback: msRest.ServiceCallback<Models.ArtifactUnion>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param artifactName Name of the blueprint artifact.
   * @param options The optional parameters
   * @param callback The callback
   */
  deleteMethod(scope: string, blueprintName: string, artifactName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ArtifactUnion>): void;
  deleteMethod(scope: string, blueprintName: string, artifactName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ArtifactUnion>, callback?: msRest.ServiceCallback<Models.ArtifactUnion>): Promise<Models.ArtifactsDeleteMethodResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        artifactName,
        options
      },
      deleteMethodOperationSpec,
      callback) as Promise<Models.ArtifactsDeleteMethodResponse>;
  }

  /**
   * List artifacts for a given blueprint definition.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param [options] The optional parameters
   * @returns Promise<Models.ArtifactsListResponse>
   */
  list(scope: string, blueprintName: string, options?: msRest.RequestOptionsBase): Promise<Models.ArtifactsListResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param callback The callback
   */
  list(scope: string, blueprintName: string, callback: msRest.ServiceCallback<Models.ArtifactList>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}'). For blueprint assignments management group scope is reserved
   * for future use.
   * @param blueprintName Name of the blueprint definition.
   * @param options The optional parameters
   * @param callback The callback
   */
  list(scope: string, blueprintName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ArtifactList>): void;
  list(scope: string, blueprintName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ArtifactList>, callback?: msRest.ServiceCallback<Models.ArtifactList>): Promise<Models.ArtifactsListResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        options
      },
      listOperationSpec,
      callback) as Promise<Models.ArtifactsListResponse>;
  }

  /**
   * List artifacts for a given blueprint definition.
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.ArtifactsListNextResponse>
   */
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase): Promise<Models.ArtifactsListNextResponse>;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param callback The callback
   */
  listNext(nextPageLink: string, callback: msRest.ServiceCallback<Models.ArtifactList>): void;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  listNext(nextPageLink: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ArtifactList>): void;
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ArtifactList>, callback?: msRest.ServiceCallback<Models.ArtifactList>): Promise<Models.ArtifactsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        nextPageLink,
        options
      },
      listNextOperationSpec,
      callback) as Promise<Models.ArtifactsListNextResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const createOrUpdateOperationSpec: msRest.OperationSpec = {
  httpMethod: "PUT",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName,
    Parameters.artifactName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  requestBody: {
    parameterPath: "artifact",
    mapper: {
      ...Mappers.Artifact,
      required: true
    }
  },
  responses: {
    201: {
      bodyMapper: Mappers.Artifact
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const getOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName,
    Parameters.artifactName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.Artifact
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const deleteMethodOperationSpec: msRest.OperationSpec = {
  httpMethod: "DELETE",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName,
    Parameters.artifactName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.Artifact
    },
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const listOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ArtifactList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const listNextOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  baseUrl: "https://management.azure.com",
  path: "{nextLink}",
  urlParameters: [
    Parameters.nextPageLink
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ArtifactList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};
