/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/assignmentsMappers";
import * as Parameters from "../models/parameters";
import { BlueprintManagementClientContext } from "../blueprintManagementClientContext";

/** Class representing a Assignments. */
export class Assignments {
  private readonly client: BlueprintManagementClientContext;

  /**
   * Create a Assignments.
   * @param {BlueprintManagementClientContext} client Reference to the service client.
   */
  constructor(client: BlueprintManagementClientContext) {
    this.client = client;
  }

  /**
   * Create or update a blueprint assignment.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param assignment Blueprint assignment object to save.
   * @param [options] The optional parameters
   * @returns Promise<Models.AssignmentsCreateOrUpdateResponse>
   */
  createOrUpdate(scope: string, assignmentName: string, assignment: Models.Assignment, options?: msRest.RequestOptionsBase): Promise<Models.AssignmentsCreateOrUpdateResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param assignment Blueprint assignment object to save.
   * @param callback The callback
   */
  createOrUpdate(scope: string, assignmentName: string, assignment: Models.Assignment, callback: msRest.ServiceCallback<Models.Assignment>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param assignment Blueprint assignment object to save.
   * @param options The optional parameters
   * @param callback The callback
   */
  createOrUpdate(scope: string, assignmentName: string, assignment: Models.Assignment, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.Assignment>): void;
  createOrUpdate(scope: string, assignmentName: string, assignment: Models.Assignment, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.Assignment>, callback?: msRest.ServiceCallback<Models.Assignment>): Promise<Models.AssignmentsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        assignmentName,
        assignment,
        options
      },
      createOrUpdateOperationSpec,
      callback) as Promise<Models.AssignmentsCreateOrUpdateResponse>;
  }

  /**
   * Get a blueprint assignment.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param [options] The optional parameters
   * @returns Promise<Models.AssignmentsGetResponse>
   */
  get(scope: string, assignmentName: string, options?: msRest.RequestOptionsBase): Promise<Models.AssignmentsGetResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param callback The callback
   */
  get(scope: string, assignmentName: string, callback: msRest.ServiceCallback<Models.Assignment>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param options The optional parameters
   * @param callback The callback
   */
  get(scope: string, assignmentName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.Assignment>): void;
  get(scope: string, assignmentName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.Assignment>, callback?: msRest.ServiceCallback<Models.Assignment>): Promise<Models.AssignmentsGetResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        assignmentName,
        options
      },
      getOperationSpec,
      callback) as Promise<Models.AssignmentsGetResponse>;
  }

  /**
   * Delete a blueprint assignment.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param [options] The optional parameters
   * @returns Promise<Models.AssignmentsDeleteMethodResponse>
   */
  deleteMethod(scope: string, assignmentName: string, options?: msRest.RequestOptionsBase): Promise<Models.AssignmentsDeleteMethodResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param callback The callback
   */
  deleteMethod(scope: string, assignmentName: string, callback: msRest.ServiceCallback<Models.Assignment>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param options The optional parameters
   * @param callback The callback
   */
  deleteMethod(scope: string, assignmentName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.Assignment>): void;
  deleteMethod(scope: string, assignmentName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.Assignment>, callback?: msRest.ServiceCallback<Models.Assignment>): Promise<Models.AssignmentsDeleteMethodResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        assignmentName,
        options
      },
      deleteMethodOperationSpec,
      callback) as Promise<Models.AssignmentsDeleteMethodResponse>;
  }

  /**
   * Get Blueprints service SPN objectId
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param [options] The optional parameters
   * @returns Promise<Models.AssignmentsWhoIsBlueprintResponse>
   */
  whoIsBlueprint(scope: string, assignmentName: string, options?: msRest.RequestOptionsBase): Promise<Models.AssignmentsWhoIsBlueprintResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param callback The callback
   */
  whoIsBlueprint(scope: string, assignmentName: string, callback: msRest.ServiceCallback<Models.WhoIsBlueprintContract>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param assignmentName Name of the blueprint assignment.
   * @param options The optional parameters
   * @param callback The callback
   */
  whoIsBlueprint(scope: string, assignmentName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.WhoIsBlueprintContract>): void;
  whoIsBlueprint(scope: string, assignmentName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.WhoIsBlueprintContract>, callback?: msRest.ServiceCallback<Models.WhoIsBlueprintContract>): Promise<Models.AssignmentsWhoIsBlueprintResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        assignmentName,
        options
      },
      whoIsBlueprintOperationSpec,
      callback) as Promise<Models.AssignmentsWhoIsBlueprintResponse>;
  }

  /**
   * List blueprint assignments within a subscription.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param [options] The optional parameters
   * @returns Promise<Models.AssignmentsListResponse>
   */
  list(scope: string, options?: msRest.RequestOptionsBase): Promise<Models.AssignmentsListResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param callback The callback
   */
  list(scope: string, callback: msRest.ServiceCallback<Models.AssignmentList>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param options The optional parameters
   * @param callback The callback
   */
  list(scope: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.AssignmentList>): void;
  list(scope: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.AssignmentList>, callback?: msRest.ServiceCallback<Models.AssignmentList>): Promise<Models.AssignmentsListResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        options
      },
      listOperationSpec,
      callback) as Promise<Models.AssignmentsListResponse>;
  }

  /**
   * List blueprint assignments within a subscription.
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.AssignmentsListNextResponse>
   */
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase): Promise<Models.AssignmentsListNextResponse>;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param callback The callback
   */
  listNext(nextPageLink: string, callback: msRest.ServiceCallback<Models.AssignmentList>): void;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  listNext(nextPageLink: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.AssignmentList>): void;
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.AssignmentList>, callback?: msRest.ServiceCallback<Models.AssignmentList>): Promise<Models.AssignmentsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        nextPageLink,
        options
      },
      listNextOperationSpec,
      callback) as Promise<Models.AssignmentsListNextResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const createOrUpdateOperationSpec: msRest.OperationSpec = {
  httpMethod: "PUT",
  path: "{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}",
  urlParameters: [
    Parameters.scope,
    Parameters.assignmentName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  requestBody: {
    parameterPath: "assignment",
    mapper: {
      ...Mappers.Assignment,
      required: true
    }
  },
  responses: {
    201: {
      bodyMapper: Mappers.Assignment
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const getOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}",
  urlParameters: [
    Parameters.scope,
    Parameters.assignmentName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.Assignment
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const deleteMethodOperationSpec: msRest.OperationSpec = {
  httpMethod: "DELETE",
  path: "{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}",
  urlParameters: [
    Parameters.scope,
    Parameters.assignmentName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    202: {
      bodyMapper: Mappers.Assignment
    },
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const whoIsBlueprintOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/WhoIsBlueprint",
  urlParameters: [
    Parameters.scope,
    Parameters.assignmentName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.WhoIsBlueprintContract
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const listOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Blueprint/blueprintAssignments",
  urlParameters: [
    Parameters.scope
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.AssignmentList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const listNextOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  baseUrl: "https://management.azure.com",
  path: "{nextLink}",
  urlParameters: [
    Parameters.nextPageLink
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.AssignmentList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};
