/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/blueprintsMappers";
import * as Parameters from "../models/parameters";
import { BlueprintManagementClientContext } from "../blueprintManagementClientContext";

/** Class representing a Blueprints. */
export class Blueprints {
  private readonly client: BlueprintManagementClientContext;

  /**
   * Create a Blueprints.
   * @param {BlueprintManagementClientContext} client Reference to the service client.
   */
  constructor(client: BlueprintManagementClientContext) {
    this.client = client;
  }

  /**
   * Create or update a blueprint definition.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param blueprint Blueprint definition.
   * @param [options] The optional parameters
   * @returns Promise<Models.BlueprintsCreateOrUpdateResponse>
   */
  createOrUpdate(scope: string, blueprintName: string, blueprint: Models.Blueprint, options?: msRest.RequestOptionsBase): Promise<Models.BlueprintsCreateOrUpdateResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param blueprint Blueprint definition.
   * @param callback The callback
   */
  createOrUpdate(scope: string, blueprintName: string, blueprint: Models.Blueprint, callback: msRest.ServiceCallback<Models.Blueprint>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param blueprint Blueprint definition.
   * @param options The optional parameters
   * @param callback The callback
   */
  createOrUpdate(scope: string, blueprintName: string, blueprint: Models.Blueprint, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.Blueprint>): void;
  createOrUpdate(scope: string, blueprintName: string, blueprint: Models.Blueprint, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.Blueprint>, callback?: msRest.ServiceCallback<Models.Blueprint>): Promise<Models.BlueprintsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        blueprint,
        options
      },
      createOrUpdateOperationSpec,
      callback) as Promise<Models.BlueprintsCreateOrUpdateResponse>;
  }

  /**
   * Get a blueprint definition.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param [options] The optional parameters
   * @returns Promise<Models.BlueprintsGetResponse>
   */
  get(scope: string, blueprintName: string, options?: msRest.RequestOptionsBase): Promise<Models.BlueprintsGetResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param callback The callback
   */
  get(scope: string, blueprintName: string, callback: msRest.ServiceCallback<Models.Blueprint>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param options The optional parameters
   * @param callback The callback
   */
  get(scope: string, blueprintName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.Blueprint>): void;
  get(scope: string, blueprintName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.Blueprint>, callback?: msRest.ServiceCallback<Models.Blueprint>): Promise<Models.BlueprintsGetResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        options
      },
      getOperationSpec,
      callback) as Promise<Models.BlueprintsGetResponse>;
  }

  /**
   * Delete a blueprint definition.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param [options] The optional parameters
   * @returns Promise<Models.BlueprintsDeleteMethodResponse>
   */
  deleteMethod(scope: string, blueprintName: string, options?: msRest.RequestOptionsBase): Promise<Models.BlueprintsDeleteMethodResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param callback The callback
   */
  deleteMethod(scope: string, blueprintName: string, callback: msRest.ServiceCallback<Models.Blueprint>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param options The optional parameters
   * @param callback The callback
   */
  deleteMethod(scope: string, blueprintName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.Blueprint>): void;
  deleteMethod(scope: string, blueprintName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.Blueprint>, callback?: msRest.ServiceCallback<Models.Blueprint>): Promise<Models.BlueprintsDeleteMethodResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        options
      },
      deleteMethodOperationSpec,
      callback) as Promise<Models.BlueprintsDeleteMethodResponse>;
  }

  /**
   * List blueprint definitions.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param [options] The optional parameters
   * @returns Promise<Models.BlueprintsListResponse>
   */
  list(scope: string, options?: msRest.RequestOptionsBase): Promise<Models.BlueprintsListResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param callback The callback
   */
  list(scope: string, callback: msRest.ServiceCallback<Models.BlueprintList>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param options The optional parameters
   * @param callback The callback
   */
  list(scope: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.BlueprintList>): void;
  list(scope: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.BlueprintList>, callback?: msRest.ServiceCallback<Models.BlueprintList>): Promise<Models.BlueprintsListResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        options
      },
      listOperationSpec,
      callback) as Promise<Models.BlueprintsListResponse>;
  }

  /**
   * List blueprint definitions.
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.BlueprintsListNextResponse>
   */
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase): Promise<Models.BlueprintsListNextResponse>;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param callback The callback
   */
  listNext(nextPageLink: string, callback: msRest.ServiceCallback<Models.BlueprintList>): void;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  listNext(nextPageLink: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.BlueprintList>): void;
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.BlueprintList>, callback?: msRest.ServiceCallback<Models.BlueprintList>): Promise<Models.BlueprintsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        nextPageLink,
        options
      },
      listNextOperationSpec,
      callback) as Promise<Models.BlueprintsListNextResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const createOrUpdateOperationSpec: msRest.OperationSpec = {
  httpMethod: "PUT",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  requestBody: {
    parameterPath: "blueprint",
    mapper: {
      ...Mappers.Blueprint,
      required: true
    }
  },
  responses: {
    201: {
      bodyMapper: Mappers.Blueprint
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const getOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.Blueprint
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const deleteMethodOperationSpec: msRest.OperationSpec = {
  httpMethod: "DELETE",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.Blueprint
    },
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const listOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints",
  urlParameters: [
    Parameters.scope
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.BlueprintList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const listNextOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  baseUrl: "https://management.azure.com",
  path: "{nextLink}",
  urlParameters: [
    Parameters.nextPageLink
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.BlueprintList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};
