/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/publishedBlueprintsMappers";
import * as Parameters from "../models/parameters";
import { BlueprintManagementClientContext } from "../blueprintManagementClientContext";

/** Class representing a PublishedBlueprints. */
export class PublishedBlueprints {
  private readonly client: BlueprintManagementClientContext;

  /**
   * Create a PublishedBlueprints.
   * @param {BlueprintManagementClientContext} client Reference to the service client.
   */
  constructor(client: BlueprintManagementClientContext) {
    this.client = client;
  }

  /**
   * Publish a new version of the blueprint definition with the latest artifacts. Published blueprint
   * definitions are immutable.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param [options] The optional parameters
   * @returns Promise<Models.PublishedBlueprintsCreateResponse>
   */
  create(scope: string, blueprintName: string, versionId: string, options?: msRest.RequestOptionsBase): Promise<Models.PublishedBlueprintsCreateResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param callback The callback
   */
  create(scope: string, blueprintName: string, versionId: string, callback: msRest.ServiceCallback<Models.PublishedBlueprint>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param options The optional parameters
   * @param callback The callback
   */
  create(scope: string, blueprintName: string, versionId: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.PublishedBlueprint>): void;
  create(scope: string, blueprintName: string, versionId: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.PublishedBlueprint>, callback?: msRest.ServiceCallback<Models.PublishedBlueprint>): Promise<Models.PublishedBlueprintsCreateResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        versionId,
        options
      },
      createOperationSpec,
      callback) as Promise<Models.PublishedBlueprintsCreateResponse>;
  }

  /**
   * Get a published version of a blueprint definition.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param [options] The optional parameters
   * @returns Promise<Models.PublishedBlueprintsGetResponse>
   */
  get(scope: string, blueprintName: string, versionId: string, options?: msRest.RequestOptionsBase): Promise<Models.PublishedBlueprintsGetResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param callback The callback
   */
  get(scope: string, blueprintName: string, versionId: string, callback: msRest.ServiceCallback<Models.PublishedBlueprint>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param options The optional parameters
   * @param callback The callback
   */
  get(scope: string, blueprintName: string, versionId: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.PublishedBlueprint>): void;
  get(scope: string, blueprintName: string, versionId: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.PublishedBlueprint>, callback?: msRest.ServiceCallback<Models.PublishedBlueprint>): Promise<Models.PublishedBlueprintsGetResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        versionId,
        options
      },
      getOperationSpec,
      callback) as Promise<Models.PublishedBlueprintsGetResponse>;
  }

  /**
   * Delete a published version of a blueprint definition.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param [options] The optional parameters
   * @returns Promise<Models.PublishedBlueprintsDeleteMethodResponse>
   */
  deleteMethod(scope: string, blueprintName: string, versionId: string, options?: msRest.RequestOptionsBase): Promise<Models.PublishedBlueprintsDeleteMethodResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param callback The callback
   */
  deleteMethod(scope: string, blueprintName: string, versionId: string, callback: msRest.ServiceCallback<Models.PublishedBlueprint>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param versionId Version of the published blueprint definition.
   * @param options The optional parameters
   * @param callback The callback
   */
  deleteMethod(scope: string, blueprintName: string, versionId: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.PublishedBlueprint>): void;
  deleteMethod(scope: string, blueprintName: string, versionId: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.PublishedBlueprint>, callback?: msRest.ServiceCallback<Models.PublishedBlueprint>): Promise<Models.PublishedBlueprintsDeleteMethodResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        versionId,
        options
      },
      deleteMethodOperationSpec,
      callback) as Promise<Models.PublishedBlueprintsDeleteMethodResponse>;
  }

  /**
   * List published versions of given blueprint definition.
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param [options] The optional parameters
   * @returns Promise<Models.PublishedBlueprintsListResponse>
   */
  list(scope: string, blueprintName: string, options?: msRest.RequestOptionsBase): Promise<Models.PublishedBlueprintsListResponse>;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param callback The callback
   */
  list(scope: string, blueprintName: string, callback: msRest.ServiceCallback<Models.PublishedBlueprintList>): void;
  /**
   * @param scope The scope of the resource. Valid scopes are: management group (format:
   * '/providers/Microsoft.Management/managementGroups/{managementGroup}'), subscription (format:
   * '/subscriptions/{subscriptionId}').
   * @param blueprintName Name of the blueprint definition.
   * @param options The optional parameters
   * @param callback The callback
   */
  list(scope: string, blueprintName: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.PublishedBlueprintList>): void;
  list(scope: string, blueprintName: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.PublishedBlueprintList>, callback?: msRest.ServiceCallback<Models.PublishedBlueprintList>): Promise<Models.PublishedBlueprintsListResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        blueprintName,
        options
      },
      listOperationSpec,
      callback) as Promise<Models.PublishedBlueprintsListResponse>;
  }

  /**
   * List published versions of given blueprint definition.
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.PublishedBlueprintsListNextResponse>
   */
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase): Promise<Models.PublishedBlueprintsListNextResponse>;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param callback The callback
   */
  listNext(nextPageLink: string, callback: msRest.ServiceCallback<Models.PublishedBlueprintList>): void;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  listNext(nextPageLink: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.PublishedBlueprintList>): void;
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.PublishedBlueprintList>, callback?: msRest.ServiceCallback<Models.PublishedBlueprintList>): Promise<Models.PublishedBlueprintsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        nextPageLink,
        options
      },
      listNextOperationSpec,
      callback) as Promise<Models.PublishedBlueprintsListNextResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const createOperationSpec: msRest.OperationSpec = {
  httpMethod: "PUT",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName,
    Parameters.versionId
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    201: {
      bodyMapper: Mappers.PublishedBlueprint
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const getOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName,
    Parameters.versionId
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.PublishedBlueprint
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const deleteMethodOperationSpec: msRest.OperationSpec = {
  httpMethod: "DELETE",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName,
    Parameters.versionId
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.PublishedBlueprint
    },
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const listOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions",
  urlParameters: [
    Parameters.scope,
    Parameters.blueprintName
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.PublishedBlueprintList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};

const listNextOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  baseUrl: "https://management.azure.com",
  path: "{nextLink}",
  urlParameters: [
    Parameters.nextPageLink
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.PublishedBlueprintList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  serializer
};
