/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { createSpan } from "../tracing";
import { RoleAssignments } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as coreTracing from "@azure/core-tracing";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AccessControlClientContext } from "../accessControlClientContext";
import {
  SubjectInfo,
  RequiredAction,
  RoleAssignmentsCheckPrincipalAccessOptionalParams,
  RoleAssignmentsCheckPrincipalAccessResponse,
  RoleAssignmentsListRoleAssignmentsOptionalParams,
  RoleAssignmentsListRoleAssignmentsResponse,
  RoleAssignmentsCreateRoleAssignmentOptionalParams,
  RoleAssignmentsCreateRoleAssignmentResponse,
  RoleAssignmentsGetRoleAssignmentByIdOptionalParams,
  RoleAssignmentsGetRoleAssignmentByIdResponse,
  RoleAssignmentsDeleteRoleAssignmentByIdOptionalParams
} from "../models";

/** Class representing a RoleAssignments. */
export class RoleAssignmentsImpl implements RoleAssignments {
  private readonly client: AccessControlClientContext;

  /**
   * Initialize a new instance of the class RoleAssignments class.
   * @param client Reference to the service client
   */
  constructor(client: AccessControlClientContext) {
    this.client = client;
  }

  /**
   * Check if the given principalId has access to perform list of actions at a given scope.
   * @param subject Subject details
   * @param actions List of actions.
   * @param scope Scope at which the check access is done.
   * @param options The options parameters.
   */
  async checkPrincipalAccess(
    subject: SubjectInfo,
    actions: RequiredAction[],
    scope: string,
    options?: RoleAssignmentsCheckPrincipalAccessOptionalParams
  ): Promise<RoleAssignmentsCheckPrincipalAccessResponse> {
    const { span } = createSpan(
      "AccessControlClient-checkPrincipalAccess",
      options || {}
    );
    try {
      const result = await this.client.sendOperationRequest(
        { subject, actions, scope, options },
        checkPrincipalAccessOperationSpec
      );
      return result as RoleAssignmentsCheckPrincipalAccessResponse;
    } catch (error: any) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }

  /**
   * List role assignments.
   * @param options The options parameters.
   */
  async listRoleAssignments(
    options?: RoleAssignmentsListRoleAssignmentsOptionalParams
  ): Promise<RoleAssignmentsListRoleAssignmentsResponse> {
    const { span } = createSpan(
      "AccessControlClient-listRoleAssignments",
      options || {}
    );
    try {
      const result = await this.client.sendOperationRequest(
        { options },
        listRoleAssignmentsOperationSpec
      );
      return result as RoleAssignmentsListRoleAssignmentsResponse;
    } catch (error: any) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }

  /**
   * Create role assignment.
   * @param roleAssignmentId The ID of the role assignment.
   * @param roleId Role ID of the Synapse Built-In Role
   * @param principalId Object ID of the AAD principal or security-group
   * @param scope Scope at which the role assignment is created
   * @param options The options parameters.
   */
  async createRoleAssignment(
    roleAssignmentId: string,
    roleId: string,
    principalId: string,
    scope: string,
    options?: RoleAssignmentsCreateRoleAssignmentOptionalParams
  ): Promise<RoleAssignmentsCreateRoleAssignmentResponse> {
    const { span } = createSpan(
      "AccessControlClient-createRoleAssignment",
      options || {}
    );
    try {
      const result = await this.client.sendOperationRequest(
        { roleAssignmentId, roleId, principalId, scope, options },
        createRoleAssignmentOperationSpec
      );
      return result as RoleAssignmentsCreateRoleAssignmentResponse;
    } catch (error: any) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }

  /**
   * Get role assignment by role assignment Id.
   * @param roleAssignmentId The ID of the role assignment.
   * @param options The options parameters.
   */
  async getRoleAssignmentById(
    roleAssignmentId: string,
    options?: RoleAssignmentsGetRoleAssignmentByIdOptionalParams
  ): Promise<RoleAssignmentsGetRoleAssignmentByIdResponse> {
    const { span } = createSpan(
      "AccessControlClient-getRoleAssignmentById",
      options || {}
    );
    try {
      const result = await this.client.sendOperationRequest(
        { roleAssignmentId, options },
        getRoleAssignmentByIdOperationSpec
      );
      return result as RoleAssignmentsGetRoleAssignmentByIdResponse;
    } catch (error: any) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }

  /**
   * Delete role assignment by role assignment Id.
   * @param roleAssignmentId The ID of the role assignment.
   * @param options The options parameters.
   */
  async deleteRoleAssignmentById(
    roleAssignmentId: string,
    options?: RoleAssignmentsDeleteRoleAssignmentByIdOptionalParams
  ): Promise<void> {
    const { span } = createSpan(
      "AccessControlClient-deleteRoleAssignmentById",
      options || {}
    );
    try {
      const result = await this.client.sendOperationRequest(
        { roleAssignmentId, options },
        deleteRoleAssignmentByIdOperationSpec
      );
      return result as void;
    } catch (error: any) {
      span.setStatus({
        code: coreTracing.SpanStatusCode.UNSET,
        message: error.message
      });
      throw error;
    } finally {
      span.end();
    }
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const checkPrincipalAccessOperationSpec: coreClient.OperationSpec = {
  path: "/checkAccessSynapseRbac",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckPrincipalAccessResponse
    },
    default: {
      bodyMapper: Mappers.ErrorContract
    }
  },
  requestBody: {
    parameterPath: {
      subject: ["subject"],
      actions: ["actions"],
      scope: ["scope"]
    },
    mapper: { ...Mappers.CheckPrincipalAccessRequest, required: true }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer
};
const listRoleAssignmentsOperationSpec: coreClient.OperationSpec = {
  path: "/roleAssignments",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleAssignmentDetailsList,
      headersMapper: Mappers.RoleAssignmentsListRoleAssignmentsHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorContract
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.roleId,
    Parameters.principalId,
    Parameters.scope1
  ],
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.accept, Parameters.continuationToken],
  serializer
};
const createRoleAssignmentOperationSpec: coreClient.OperationSpec = {
  path: "/roleAssignments/{roleAssignmentId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.RoleAssignmentDetails
    },
    default: {
      bodyMapper: Mappers.ErrorContract
    }
  },
  requestBody: {
    parameterPath: {
      roleId: ["roleId"],
      principalId: ["principalId"],
      scope: ["scope"],
      principalType: ["options", "principalType"]
    },
    mapper: { ...Mappers.RoleAssignmentRequest, required: true }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.roleAssignmentId],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer
};
const getRoleAssignmentByIdOperationSpec: coreClient.OperationSpec = {
  path: "/roleAssignments/{roleAssignmentId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RoleAssignmentDetails
    },
    default: {
      bodyMapper: Mappers.ErrorContract
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.roleAssignmentId],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteRoleAssignmentByIdOperationSpec: coreClient.OperationSpec = {
  path: "/roleAssignments/{roleAssignmentId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorContract
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.scope1],
  urlParameters: [Parameters.endpoint, Parameters.roleAssignmentId],
  headerParameters: [Parameters.accept],
  serializer
};
