/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureDigitalTwinsAPI } from "../azureDigitalTwinsAPI";
import {
  DigitalTwinModelsAddOptionalParams,
  DigitalTwinModelsAddResponse,
  DigitalTwinModelsListOptionalParams,
  DigitalTwinModelsListResponse,
  DigitalTwinModelsGetByIdOptionalParams,
  DigitalTwinModelsGetByIdResponse,
  DigitalTwinModelsListNextOptionalParams,
  DigitalTwinModelsListNextResponse
} from "../models";

/**
 * Class representing a DigitalTwinModels.
 */
export class DigitalTwinModels {
  private readonly client: AzureDigitalTwinsAPI;

  /**
   * Initialize a new instance of the class DigitalTwinModels class.
   * @param client Reference to the service client
   */
  constructor(client: AzureDigitalTwinsAPI) {
    this.client = client;
  }

  /**
   * Uploads one or more models. When any error occurs, no models are uploaded.
   * Status codes:
   * 200 (OK): Success.
   * 400 (Bad Request): The request is invalid.
   * 409 (Conflict): One or more of the provided models already exist.
   * @param options The options parameters.
   */
  add(
    options?: DigitalTwinModelsAddOptionalParams
  ): Promise<DigitalTwinModelsAddResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { options: operationOptions },
      addOperationSpec
    ) as Promise<DigitalTwinModelsAddResponse>;
  }

  /**
   * Retrieves model metadata and, optionally, model definitions.
   * Status codes:
   * 200 (OK): Success.
   * 400 (Bad Request): The request is invalid.
   * @param options The options parameters.
   */
  list(
    options?: DigitalTwinModelsListOptionalParams
  ): Promise<DigitalTwinModelsListResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { options: operationOptions },
      listOperationSpec
    ) as Promise<DigitalTwinModelsListResponse>;
  }

  /**
   * Retrieves model metadata and optionally the model definition.
   * Status codes:
   * 200 (OK): Success.
   * 404 (Not Found): There is no model with the provided id.
   * @param id The id for the model. The id is globally unique and case sensitive.
   * @param options The options parameters.
   */
  getById(
    id: string,
    options?: DigitalTwinModelsGetByIdOptionalParams
  ): Promise<DigitalTwinModelsGetByIdResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, options: operationOptions },
      getByIdOperationSpec
    ) as Promise<DigitalTwinModelsGetByIdResponse>;
  }

  /**
   * Updates the metadata for a model.
   * Status codes:
   * 200 (OK): Success.
   * 400 (Bad Request): The request is invalid.
   * 404 (Not Found): There is no model with the provided id.
   * @param id The id for the model. The id is globally unique and case sensitive.
   * @param updateModel An update specification described by JSON Patch. Only the decommissioned property
   *                    can be replaced.
   * @param options The options parameters.
   */
  update(
    id: string,
    updateModel: any[],
    options?: coreHttp.OperationOptions
  ): Promise<coreHttp.RestResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, updateModel, options: operationOptions },
      updateOperationSpec
    ) as Promise<coreHttp.RestResponse>;
  }

  /**
   * Deletes a model. A model can only be deleted if no other models reference it.
   * Status codes:
   * 204 (No Content): Success.
   * 400 (Bad Request): The request is invalid.
   * 404 (Not Found): There is no model with the provided id.
   * 409 (Conflict): There are dependencies on the model that prevent it from being deleted.
   * @param id The id for the model. The id is globally unique and case sensitive.
   * @param options The options parameters.
   */
  delete(
    id: string,
    options?: coreHttp.OperationOptions
  ): Promise<coreHttp.RestResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { id, options: operationOptions },
      deleteOperationSpec
    ) as Promise<coreHttp.RestResponse>;
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  listNext(
    nextLink: string,
    options?: DigitalTwinModelsListNextOptionalParams
  ): Promise<DigitalTwinModelsListNextResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.client.sendOperationRequest(
      { nextLink, options: operationOptions },
      listNextOperationSpec
    ) as Promise<DigitalTwinModelsListNextResponse>;
  }
}
// Operation Specifications

const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const addOperationSpec: coreHttp.OperationSpec = {
  path: "/models",
  httpMethod: "POST",
  responses: {
    201: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "ModelData" } }
        }
      }
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.models,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType],
  mediaType: "json",
  serializer
};
const listOperationSpec: coreHttp.OperationSpec = {
  path: "/models",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PagedModelDataCollection
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.dependenciesFor,
    Parameters.includeModelDefinition
  ],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.maxItemCount],
  serializer
};
const getByIdOperationSpec: coreHttp.OperationSpec = {
  path: "/models/{id}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ModelData
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.includeModelDefinition],
  urlParameters: [Parameters.$host, Parameters.id],
  serializer
};
const updateOperationSpec: coreHttp.OperationSpec = {
  path: "/models/{id}",
  httpMethod: "PATCH",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.updateModel,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.id],
  headerParameters: [Parameters.contentType1],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreHttp.OperationSpec = {
  path: "/models/{id}",
  httpMethod: "DELETE",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.id],
  serializer
};
const listNextOperationSpec: coreHttp.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PagedModelDataCollection
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.dependenciesFor,
    Parameters.includeModelDefinition
  ],
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.maxItemCount],
  serializer
};
