/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ManagedNetworkProvisions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMachineLearningServicesManagementClient } from "../azureMachineLearningServicesManagementClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  ManagedNetworkProvisionsProvisionManagedNetworkOptionalParams,
  ManagedNetworkProvisionsProvisionManagedNetworkResponse,
} from "../models";

/** Class containing ManagedNetworkProvisions operations. */
export class ManagedNetworkProvisionsImpl implements ManagedNetworkProvisions {
  private readonly client: AzureMachineLearningServicesManagementClient;

  /**
   * Initialize a new instance of the class ManagedNetworkProvisions class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMachineLearningServicesManagementClient) {
    this.client = client;
  }

  /**
   * Provisions the managed network of a machine learning workspace.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName Name of Azure Machine Learning workspace.
   * @param options The options parameters.
   */
  async beginProvisionManagedNetwork(
    resourceGroupName: string,
    workspaceName: string,
    options?: ManagedNetworkProvisionsProvisionManagedNetworkOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<ManagedNetworkProvisionsProvisionManagedNetworkResponse>,
      ManagedNetworkProvisionsProvisionManagedNetworkResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<ManagedNetworkProvisionsProvisionManagedNetworkResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, workspaceName, options },
      spec: provisionManagedNetworkOperationSpec,
    });
    const poller = await createHttpPoller<
      ManagedNetworkProvisionsProvisionManagedNetworkResponse,
      OperationState<ManagedNetworkProvisionsProvisionManagedNetworkResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Provisions the managed network of a machine learning workspace.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName Name of Azure Machine Learning workspace.
   * @param options The options parameters.
   */
  async beginProvisionManagedNetworkAndWait(
    resourceGroupName: string,
    workspaceName: string,
    options?: ManagedNetworkProvisionsProvisionManagedNetworkOptionalParams,
  ): Promise<ManagedNetworkProvisionsProvisionManagedNetworkResponse> {
    const poller = await this.beginProvisionManagedNetwork(
      resourceGroupName,
      workspaceName,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const provisionManagedNetworkOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/provisionManagedNetwork",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ManagedNetworkProvisionStatus,
    },
    201: {
      bodyMapper: Mappers.ManagedNetworkProvisionStatus,
    },
    202: {
      bodyMapper: Mappers.ManagedNetworkProvisionStatus,
    },
    204: {
      bodyMapper: Mappers.ManagedNetworkProvisionStatus,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.body1,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
