{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/polygon/json?api-version=1.0\u0026geometries=invalid-geometry-id",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "5E84611D3D7D80EA65F79EB1A6517B97",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "additionalData": [
          {
            "providerID": "invalid-geometry-id",
            "error": "Wrong geometry id format. Supported format: UUID (RFC 4122)"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
