{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/marytest/providers/Microsoft.DataFactory/factories/examplefactorytest/createDataFlowDebugSession?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "timeToLive": 60,
        "integrationRuntime": {
          "name": "ir1",
          "properties": {
            "type": "Managed",
            "typeProperties": {
              "computeProperties": {
                "location": "AutoResolve",
                "dataFlowProperties": {
                  "computeType": "General",
                  "coreCount": 48,
                  "timeToLive": 10
                }
              }
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/marytest/providers/Microsoft.DataFactory/factories/examplefactorytest/operationResults/dfCreateSession$$55126d5f-c66f-430a-b426-1321446813c9?api-version=2018-06-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "sessionId": "55126d5f-c66f-430a-b426-1321446813c9"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/marytest/providers/Microsoft.DataFactory/factories/examplefactorytest/operationResults/dfCreateSession$$55126d5f-c66f-430a-b426-1321446813c9?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/marytest/providers/Microsoft.DataFactory/factories/examplefactorytest/operationResults/dfCreateSession$$55126d5f-c66f-430a-b426-1321446813c9?api-version=2018-06-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Pending",
        "sessionId": "55126d5f-c66f-430a-b426-1321446813c9",
        "inProgress": true
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/marytest/providers/Microsoft.DataFactory/factories/examplefactorytest/operationResults/dfCreateSession$$55126d5f-c66f-430a-b426-1321446813c9?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "sessionId": "55126d5f-c66f-430a-b426-1321446813c9",
        "inProgress": false
      }
    }
  ],
  "Variables": {}
}
