{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/trafficmanagerprofiles/azsmnet6386?api-version=2022-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "profileStatus": "Enabled",
          "trafficRoutingMethod": "MultiValue",
          "dnsConfig": {
            "relativeName": "azsmnet6386",
            "ttl": 35
          },
          "monitorConfig": {
            "protocol": "HTTP",
            "port": 80,
            "path": "/testpath.aspx"
          },
          "trafficViewEnrollmentStatus": "Disabled",
          "maxReturn": 2
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "NoRegisteredProviderFound",
          "message": "No registered resource provider found for location \u0027eastus\u0027 and API version \u00272022-04-01-preview\u0027 for type \u0027trafficmanagerprofiles\u0027. The supported api-versions are \u00272015-04-28-preview, 2015-11-01, 2017-03-01, 2017-05-01, 2018-02-01, 2018-03-01, 2018-04-01, 2018-08-01\u0027. The supported locations are \u0027, global\u0027."
        }
      }
    }
  ],
  "Variables": {}
}
