/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { Changes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ChangesClient } from "../changesClient";
import {
  ChangeResourceResult,
  ChangesListNextOptionalParams,
  ChangesListOptionalParams,
  ChangesListResponse,
  ChangesGetOptionalParams,
  ChangesGetResponse,
  ChangesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Changes operations. */
export class ChangesImpl implements Changes {
  private readonly client: ChangesClient;

  /**
   * Initialize a new instance of the class Changes class.
   * @param client Reference to the service client
   */
  constructor(client: ChangesClient) {
    this.client = client;
  }

  /**
   * Obtains a list of change resources from the past 14 days for the target resource
   * @param resourceGroupName The name of the resource group.
   * @param resourceProviderNamespace The name of the resource provider namespace.
   * @param resourceType The name of the resource type.
   * @param resourceName The name of the resource.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    resourceProviderNamespace: string,
    resourceType: string,
    resourceName: string,
    options?: ChangesListOptionalParams
  ): PagedAsyncIterableIterator<ChangeResourceResult> {
    const iter = this.listPagingAll(
      resourceGroupName,
      resourceProviderNamespace,
      resourceType,
      resourceName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          resourceProviderNamespace,
          resourceType,
          resourceName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    resourceProviderNamespace: string,
    resourceType: string,
    resourceName: string,
    options?: ChangesListOptionalParams
  ): AsyncIterableIterator<ChangeResourceResult[]> {
    let result = await this._list(
      resourceGroupName,
      resourceProviderNamespace,
      resourceType,
      resourceName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        resourceProviderNamespace,
        resourceType,
        resourceName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    resourceProviderNamespace: string,
    resourceType: string,
    resourceName: string,
    options?: ChangesListOptionalParams
  ): AsyncIterableIterator<ChangeResourceResult> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      resourceProviderNamespace,
      resourceType,
      resourceName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Obtains a list of change resources from the past 14 days for the target resource
   * @param resourceGroupName The name of the resource group.
   * @param resourceProviderNamespace The name of the resource provider namespace.
   * @param resourceType The name of the resource type.
   * @param resourceName The name of the resource.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    resourceProviderNamespace: string,
    resourceType: string,
    resourceName: string,
    options?: ChangesListOptionalParams
  ): Promise<ChangesListResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        resourceProviderNamespace,
        resourceType,
        resourceName,
        options
      },
      listOperationSpec
    );
  }

  /**
   * Obtains the specified change resource for the target resource
   * @param resourceGroupName The name of the resource group.
   * @param resourceProviderNamespace The name of the resource provider namespace.
   * @param resourceType The name of the resource type.
   * @param resourceName The name of the resource.
   * @param changeResourceId The ID of the change resource
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    resourceProviderNamespace: string,
    resourceType: string,
    resourceName: string,
    changeResourceId: string,
    options?: ChangesGetOptionalParams
  ): Promise<ChangesGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        resourceProviderNamespace,
        resourceType,
        resourceName,
        changeResourceId,
        options
      },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group.
   * @param resourceProviderNamespace The name of the resource provider namespace.
   * @param resourceType The name of the resource type.
   * @param resourceName The name of the resource.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    resourceProviderNamespace: string,
    resourceType: string,
    resourceName: string,
    nextLink: string,
    options?: ChangesListNextOptionalParams
  ): Promise<ChangesListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        resourceProviderNamespace,
        resourceType,
        resourceName,
        nextLink,
        options
      },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Resources/changes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChangeResourceListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.top,
    Parameters.skipToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.resourceProviderNamespace,
    Parameters.resourceType,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Resources/changes/{changeResourceId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChangeResourceResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.resourceProviderNamespace,
    Parameters.resourceType,
    Parameters.resourceName,
    Parameters.changeResourceId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ChangeResourceListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.top,
    Parameters.skipToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.resourceProviderNamespace,
    Parameters.resourceType,
    Parameters.resourceName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
