{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue168694531209007440?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue168694531209007440168694531215709704?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "QueueNotFound",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EQueueNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified queue does not exist.\n",
        "RequestId:6cc80c17-2003-004b-1d8c-a0c192000000\n",
        "Time:2023-06-16T19:55:12.1888399Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue168694531209007440?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue168694531209007440",
    "queue168694531209007440": "queue168694531209007440168694531215709704"
  }
}
