/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ImageVersions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ManagedDevOpsInfrastructure } from "../managedDevOpsInfrastructure";
import {
  ImageVersion,
  ImageVersionsListByImageNextOptionalParams,
  ImageVersionsListByImageOptionalParams,
  ImageVersionsListByImageResponse,
  ImageVersionsListByImageNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ImageVersions operations. */
export class ImageVersionsImpl implements ImageVersions {
  private readonly client: ManagedDevOpsInfrastructure;

  /**
   * Initialize a new instance of the class ImageVersions class.
   * @param client Reference to the service client
   */
  constructor(client: ManagedDevOpsInfrastructure) {
    this.client = client;
  }

  /**
   * List ImageVersion resources by Image
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param imageName Name of the image.
   * @param options The options parameters.
   */
  public listByImage(
    resourceGroupName: string,
    imageName: string,
    options?: ImageVersionsListByImageOptionalParams,
  ): PagedAsyncIterableIterator<ImageVersion> {
    const iter = this.listByImagePagingAll(
      resourceGroupName,
      imageName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByImagePagingPage(
          resourceGroupName,
          imageName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByImagePagingPage(
    resourceGroupName: string,
    imageName: string,
    options?: ImageVersionsListByImageOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ImageVersion[]> {
    let result: ImageVersionsListByImageResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByImage(resourceGroupName, imageName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByImageNext(
        resourceGroupName,
        imageName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByImagePagingAll(
    resourceGroupName: string,
    imageName: string,
    options?: ImageVersionsListByImageOptionalParams,
  ): AsyncIterableIterator<ImageVersion> {
    for await (const page of this.listByImagePagingPage(
      resourceGroupName,
      imageName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List ImageVersion resources by Image
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param imageName Name of the image.
   * @param options The options parameters.
   */
  private _listByImage(
    resourceGroupName: string,
    imageName: string,
    options?: ImageVersionsListByImageOptionalParams,
  ): Promise<ImageVersionsListByImageResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, imageName, options },
      listByImageOperationSpec,
    );
  }

  /**
   * ListByImageNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param imageName Name of the image.
   * @param nextLink The nextLink from the previous successful call to the ListByImage method.
   * @param options The options parameters.
   */
  private _listByImageNext(
    resourceGroupName: string,
    imageName: string,
    nextLink: string,
    options?: ImageVersionsListByImageNextOptionalParams,
  ): Promise<ImageVersionsListByImageNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, imageName, nextLink, options },
      listByImageNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByImageOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevOpsInfrastructure/images/{imageName}/versions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ImageVersionListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.imageName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByImageNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ImageVersionListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.imageName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
