{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeStorageName.blob.core.windows.net/source-3074906655?sv=Sanitized&se=2024-06-19T00%3A23%3A01Z&sr=c&sp=rwl&sig=Sanitized"
            },
            "targets": [
              {
                "targetUrl": "https://fakeStorageName.blob.core.windows.net/target-6015718939?sv=Sanitized&se=2024-06-19T00%3A23%3A01Z&sr=c&sp=rwl&sig=Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://example.com",
        "x-ms-region": "West US",
        "X-RequestId": "3c377199-8f41-4b82-94d5-9965b4b04b2b"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/fdb99645-5971-40a5-9c83-788e34e740e9?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"930BC551FC2021F4B33BCAA555846360E7BE642F451BA7DF59586BA8D32E22A1\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "bd58eac1-6814-4d0a-ac4d-b624bf706863"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTimeUtc": "2024-06-18T00:22:57.3850999Z",
        "lastActionDateTimeUtc": "2024-06-18T00:22:57.3850999Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/fdb99645-5971-40a5-9c83-788e34e740e9/documents?orderby=createdDateTimeUtc+asc&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"43BE4FC302D89CAE6F24B722C4B148E128656309940AFEC46BC923BF272BBDB5\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "bfc6c2db-abc4-4c6a-bfab-73935757dfb7"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeStorageName.blob.core.windows.net:443/target-6015718939/File_0.txt",
            "sourcePath": "https://fakeStorageName.blob.core.windows.net:443/source-3074906655/File_0.txt",
            "createdDateTimeUtc": "2024-06-18T00:22:59.5554653Z",
            "lastActionDateTimeUtc": "2024-06-18T00:23:18.6499573Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "Sanitized",
            "characterCharged": 16
          },
          {
            "path": "https://fakeStorageName.blob.core.windows.net:443/target-6015718939/File_1.txt",
            "sourcePath": "https://fakeStorageName.blob.core.windows.net:443/source-3074906655/File_1.txt",
            "createdDateTimeUtc": "2024-06-18T00:22:59.9371111Z",
            "lastActionDateTimeUtc": "2024-06-18T00:23:18.7405221Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "Sanitized",
  [...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/fdb99645-5971-40a5-9c83-788e34e740e9/documents?createdDateTimeUtcEnd=2024-06-18T00%3A22%3A59.5554653Z&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"85CE94C69CAF711BA175686E4A65FB172836F77B2D8C767DDA31B9FC3D342472\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "4938c7db-c9a1-4294-93bd-adbe7187abff"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeStorageName.blob.core.windows.net:443/target-6015718939/File_0.txt",
            "sourcePath": "https://fakeStorageName.blob.core.windows.net:443/source-3074906655/File_0.txt",
            "createdDateTimeUtc": "2024-06-18T00:22:59.5554653Z",
            "lastActionDateTimeUtc": "2024-06-18T00:23:18.6499573Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "Sanitized",
            "characterCharged": 16
          }
        ]
      }
    },
[...]
