{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeStorageName.blob.core.windows.net/source-9237103642?sv=Sanitized&se=2024-06-19T00%3A08%3A37Z&sr=c&sp=rwl&sig=Sanitized"
            },
            "targets": [
              {
                "targetUrl": "https://fakeStorageName.blob.core.windows.net/target-7894585808?sv=Sanitized&se=2024-06-19T00%3A08%3A37Z&sr=c&sp=rwl&sig=Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://example.com",
        "x-ms-region": "West US",
        "X-RequestId": "7a5b2472-4f4f-4788-9c4c-73f995ef8ef7"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/6c39cbc5-1849-4e1d-95c3-e76f2cb73f3b?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"E042CCAC4677B2D6467B7A5B4F402E91D451974BE7B15B833823880E7ECC30E9\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "ac214d7a-645a-4f0d-89b3-ae4e695edddc"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTimeUtc": "2024-06-18T00:08:33.4986179Z",
        "lastActionDateTimeUtc": "2024-06-18T00:08:33.4986179Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/6c39cbc5-1849-4e1d-95c3-e76f2cb73f3b/documents?orderby=createdDateTimeUtc+asc&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"C3400DDE086B6DB48C166809E6621D54B04A3B4C06CDFD51492DF515DFB6604E\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "fa619859-739d-4332-843c-c3c827432c14"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeStorageName.blob.core.windows.net:443/target-7894585808/File_0.txt",
            "sourcePath": "https://fakeStorageName.blob.core.windows.net:443/source-9237103642/File_0.txt",
            "createdDateTimeUtc": "2024-06-18T00:08:36.8639466Z",
            "lastActionDateTimeUtc": "2024-06-18T00:08:45.8052661Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "Sanitized",
            "characterCharged": 16
          },
          {
            "path": "https://fakeStorageName.blob.core.windows.net:443/target-7894585808/File_1.txt",
            "sourcePath": "https://fakeStorageName.blob.core.windows.net:443/source-9237103642/File_1.txt",
            "createdDateTimeUtc": "2024-06-18T00:08:37.2738795Z",
            "lastActionDateTimeUtc": "2024-06-18T00:08:45.9262343Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "Sanitized",
  [...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/6c39cbc5-1849-4e1d-95c3-e76f2cb73f3b/documents?createdDateTimeUtcStart=2024-06-18T00%3A08%3A37.8455201Z&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"7D73B5A5920A0C0492FAB5438261CE9CF9C17F9BE0AAEB5BAC27B24663B570E2\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "ad58d103-772e-4ccf-bd94-8c020dd38d92"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://fakeStorageName.blob.core.windows.net:443/target-7894585808/File_4.txt",
            "sourcePath": "https://fakeStorageName.blob.core.windows.net:443/source-9237103642/File_4.txt",
            "createdDateTimeUtc": "2024-06-18T00:08:37.8455201Z",
            "lastActionDateTimeUtc": "2024-06-18T00:08:45.8588644Z",
            "status": "Succeeded",
            "to": "Sanitized",
            "progress": 1,
            "id": "Sanitized",
            "characterCharged": 16
          }
        ]
      }
    }
  ],
  "Variables": {}
}
