{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/storageaccountzzzxxx?api-version=2021-09-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/storageaccountzzzxxx",
        "name": "storageaccountzzzxxx",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westeurope",
        "tags": {
          "tag1": "value1"
        },
        "properties": {
          "keyCreationTime": {
            "key1": "2022-06-15T08:29:04.7493314Z",
            "key2": "2022-06-15T08:29:04.7493314Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-06-15T08:29:04.7649833Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-06-15T08:29:04.7649833Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-06-15T08:29:04.6243497Z",
          "primaryEndpoints": {
            "dfs": "https://storageaccountzzzxxx.dfs.core.windows.net/",
            "web": "https://storageaccountzzzxxx.z6.web.core.windows.net/",
            "blob": "https://storageaccountzzzxxx.blob.core.windows.net/",
            "queue": "https://storageaccountzzzxxx.queue.core.windows.net/",
            "table": "https://storageaccountzzzxxx.table.core.windows.net/",
            "file": "https://storageaccountzzzxxx.file.core.windows.net/"
          },
          "primaryLocation": "westeurope",
          "statusOfPrimary": "available",
          "secondaryLocation": "northeurope",
          "statusOfSecondary": "available"
        }
      }
    }
  ],
  "Variables": {}
}
