{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/storageaccountzzzxxx/blobServices/default/containers?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Storage/storageAccounts/storageaccountzzzxxx/blobServices/default/containers/mycontainerxxx",
            "name": "mycontainerxxx",
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "etag": "\u00220x8DACDE6F1959F3D\u0022",
            "properties": {
              "immutableStorageWithVersioning": {
                "enabled": false
              },
              "deleted": false,
              "remainingRetentionDays": 0,
              "defaultEncryptionScope": "$account-encryption-key",
              "denyEncryptionScopeOverride": false,
              "publicAccess": "None",
              "leaseStatus": "Unlocked",
              "leaseState": "Available",
              "lastModifiedTime": "2022-11-24T06:41:40.0000000Z",
              "hasImmutabilityPolicy": false,
              "hasLegalHold": false
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
