# Maps subscription key when using AzureKey authentication
MAPS_SUBSCRIPTION_KEY="<subscription-key>"

# Maps Microsoft Entra ID authentication
AZURE_CLIENT_ID="<client-id>"
AZURE_CLIENT_SECRET="<client-secret>"
AZURE_TENANT_ID="<tenant-id>"
MAPS_RESOURCE_CLIENT_ID="<maps-resource-client-id>"
