# Used in tests. Retrieve these values from a Batch instance
# in the Azure Portal.
AZURE_BATCH_ENDPOINT="<Batch Endpoint>"
AZURE_BATCH_ACCOUNT_NAME="<resource name>"
AZURE_BATCH_ACCOUNT_KEY="<account key>"
# Used to authenticate using Azure AD as a service principal for role-based authentication
# in the tokenAuth sample.
#
# See the documentation for `AuthenticationContext` at the following link:
# https://docs.microsoft.com/javascript/api/overview/azure/activedirectory?view=azure-node-latest
AZURE_CLIENT_ID="<application id>"
AZURE_CLIENT_SECRET="<application secret>"
