{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Security/securityContacts/default?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "749"
      },
      "ResponseBody": {
        "properties": {
          "notificationsByRole": {
            "state": "On",
            "roles": [
              "Owner"
            ]
          },
          "emails": "john@contoso.com;jane@contoso.com",
          "phone": "\u002B214-2754038",
          "alertNotifications": {
            "state": "On",
            "minimalSeverity": "Low"
          }
        },
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Security/securityContacts/default",
        "name": "default",
        "type": "Microsoft.Security/securityContacts",
        "etag": "\u0022650258d1-0000-0d00-0000-63733da80000\u0022",
        "location": "West Europe"
      }
    }
  ],
  "Variables": {}
}
