{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Security/securityContacts?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2020-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "748"
      },
      "ResponseBody": "[{\u0022properties\u0022:{\u0022notificationsByRole\u0022:{\u0022state\u0022:\u0022On\u0022,\u0022roles\u0022:[\u0022Owner\u0022]},\u0022emails\u0022:\u0022john@contoso.com;jane@contoso.com\u0022,\u0022phone\u0022:\u0022\u002B214-2754038\u0022,\u0022alertNotifications\u0022:{\u0022state\u0022:\u0022On\u0022,\u0022minimalSeverity\u0022:\u0022Low\u0022}},\u0022id\u0022:\u0022/subscriptions/azure_subscription_id/providers/Microsoft.Security/securityContacts/default\u0022,\u0022name\u0022:\u0022default\u0022,\u0022type\u0022:\u0022Microsoft.Security/securityContacts\u0022,\u0022etag\u0022:\u0022\\\u0022650258d1-0000-0d00-0000-63733da80000\\\u0022\u0022,\u0022location\u0022:\u0022West Europe\u0022}]"
    }
  ],
  "Variables": {}
}
