/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { AzureTrafficCollectorsBySubscription } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureTrafficCollectorClient } from "../azureTrafficCollectorClient.js";
import {
  AzureTrafficCollector,
  AzureTrafficCollectorsBySubscriptionListNextOptionalParams,
  AzureTrafficCollectorsBySubscriptionListOptionalParams,
  AzureTrafficCollectorsBySubscriptionListResponse,
  AzureTrafficCollectorsBySubscriptionListNextResponse
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing AzureTrafficCollectorsBySubscription operations. */
export class AzureTrafficCollectorsBySubscriptionImpl
  implements AzureTrafficCollectorsBySubscription {
  private readonly client: AzureTrafficCollectorClient;

  /**
   * Initialize a new instance of the class AzureTrafficCollectorsBySubscription class.
   * @param client Reference to the service client
   */
  constructor(client: AzureTrafficCollectorClient) {
    this.client = client;
  }

  /**
   * Return list of Azure Traffic Collectors in a subscription
   * @param options The options parameters.
   */
  public list(
    options?: AzureTrafficCollectorsBySubscriptionListOptionalParams
  ): PagedAsyncIterableIterator<AzureTrafficCollector> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      }
    };
  }

  private async *listPagingPage(
    options?: AzureTrafficCollectorsBySubscriptionListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<AzureTrafficCollector[]> {
    let result: AzureTrafficCollectorsBySubscriptionListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: AzureTrafficCollectorsBySubscriptionListOptionalParams
  ): AsyncIterableIterator<AzureTrafficCollector> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Return list of Azure Traffic Collectors in a subscription
   * @param options The options parameters.
   */
  private _list(
    options?: AzureTrafficCollectorsBySubscriptionListOptionalParams
  ): Promise<AzureTrafficCollectorsBySubscriptionListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: AzureTrafficCollectorsBySubscriptionListNextOptionalParams
  ): Promise<AzureTrafficCollectorsBySubscriptionListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkFunction/azureTrafficCollectors",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AzureTrafficCollectorListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AzureTrafficCollectorListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
