/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { DiscoverySolution } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HelpRP } from "../helpRP";
import {
  SolutionMetadata,
  DiscoverySolutionListNextOptionalParams,
  DiscoverySolutionListOptionalParams,
  DiscoverySolutionListResponse,
  DiscoverySolutionListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing DiscoverySolution operations. */
export class DiscoverySolutionImpl implements DiscoverySolution {
  private readonly client: HelpRP;

  /**
   * Initialize a new instance of the class DiscoverySolution class.
   * @param client Reference to the service client
   */
  constructor(client: HelpRP) {
    this.client = client;
  }

  /**
   * Solutions Discovery is the initial point of entry within Help API, which helps you identify the
   * relevant solutions for your Azure issue.<br/><br/> You can discover solutions using resourceUri OR
   * resourceUri + problemClassificationId.<br/><br/>We will do our best in returning relevant
   * diagnostics for your Azure issue.<br/><br/> Get the problemClassificationId(s) using this
   * [reference](https://learn.microsoft.com/en-us/rest/api/support/problem-classifications/list?tabs=HTTP).<br/><br/>
   * <b>Note: </b> ‘requiredParameterSets’ from Solutions Discovery API response must be passed via
   * ‘additionalParameters’ as an input to Diagnostics API.
   * @param options The options parameters.
   */
  public list(
    options?: DiscoverySolutionListOptionalParams
  ): PagedAsyncIterableIterator<SolutionMetadata> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      }
    };
  }

  private async *listPagingPage(
    options?: DiscoverySolutionListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<SolutionMetadata[]> {
    let result: DiscoverySolutionListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: DiscoverySolutionListOptionalParams
  ): AsyncIterableIterator<SolutionMetadata> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Solutions Discovery is the initial point of entry within Help API, which helps you identify the
   * relevant solutions for your Azure issue.<br/><br/> You can discover solutions using resourceUri OR
   * resourceUri + problemClassificationId.<br/><br/>We will do our best in returning relevant
   * diagnostics for your Azure issue.<br/><br/> Get the problemClassificationId(s) using this
   * [reference](https://learn.microsoft.com/en-us/rest/api/support/problem-classifications/list?tabs=HTTP).<br/><br/>
   * <b>Note: </b> ‘requiredParameterSets’ from Solutions Discovery API response must be passed via
   * ‘additionalParameters’ as an input to Diagnostics API.
   * @param options The options parameters.
   */
  private _list(
    options?: DiscoverySolutionListOptionalParams
  ): Promise<DiscoverySolutionListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: DiscoverySolutionListNextOptionalParams
  ): Promise<DiscoverySolutionListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.Help/discoverySolutions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DiscoveryResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.skiptoken
  ],
  urlParameters: [Parameters.$host, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DiscoveryResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [Parameters.$host, Parameters.nextLink, Parameters.scope],
  headerParameters: [Parameters.accept],
  serializer
};
