/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { DiscoverySolution } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HelpRP } from "../helpRP";
import {
  SolutionMetadataResource,
  DiscoverySolutionListNextOptionalParams,
  DiscoverySolutionListOptionalParams,
  DiscoverySolutionListResponse,
  DiscoverySolutionListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing DiscoverySolution operations. */
export class DiscoverySolutionImpl implements DiscoverySolution {
  private readonly client: HelpRP;

  /**
   * Initialize a new instance of the class DiscoverySolution class.
   * @param client Reference to the service client
   */
  constructor(client: HelpRP) {
    this.client = client;
  }

  /**
   * Lists the relevant Azure Diagnostics, Solutions and Troubleshooters using [problemClassification
   * API](https://learn.microsoft.com/rest/api/support/problem-classifications/list?tabs=HTTP)) AND
   * resourceUri or resourceType.<br/> Discovery Solutions is the initial entry point within Help API,
   * which identifies relevant Azure diagnostics and solutions. <br/><br/> Required Input :
   * problemClassificationId (Use the [problemClassification
   * API](https://learn.microsoft.com/rest/api/support/problem-classifications/list?tabs=HTTP))
   * <br/>Optional input: resourceUri OR resource Type <br/><br/> <b>Note: </b>  ‘requiredInputs’ from
   * Discovery solutions response must be passed via ‘additionalParameters’ as an input to Diagnostics
   * and Solutions API.
   * @param options The options parameters.
   */
  public list(
    options?: DiscoverySolutionListOptionalParams,
  ): PagedAsyncIterableIterator<SolutionMetadataResource> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: DiscoverySolutionListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SolutionMetadataResource[]> {
    let result: DiscoverySolutionListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: DiscoverySolutionListOptionalParams,
  ): AsyncIterableIterator<SolutionMetadataResource> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists the relevant Azure Diagnostics, Solutions and Troubleshooters using [problemClassification
   * API](https://learn.microsoft.com/rest/api/support/problem-classifications/list?tabs=HTTP)) AND
   * resourceUri or resourceType.<br/> Discovery Solutions is the initial entry point within Help API,
   * which identifies relevant Azure diagnostics and solutions. <br/><br/> Required Input :
   * problemClassificationId (Use the [problemClassification
   * API](https://learn.microsoft.com/rest/api/support/problem-classifications/list?tabs=HTTP))
   * <br/>Optional input: resourceUri OR resource Type <br/><br/> <b>Note: </b>  ‘requiredInputs’ from
   * Discovery solutions response must be passed via ‘additionalParameters’ as an input to Diagnostics
   * and Solutions API.
   * @param options The options parameters.
   */
  private _list(
    options?: DiscoverySolutionListOptionalParams,
  ): Promise<DiscoverySolutionListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: DiscoverySolutionListNextOptionalParams,
  ): Promise<DiscoverySolutionListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Help/discoverySolutions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DiscoveryResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.skiptoken,
  ],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DiscoveryResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
