/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SimplifiedSolutions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HelpRP } from "../helpRP";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  SimplifiedSolutionsCreateOptionalParams,
  SimplifiedSolutionsCreateResponse,
  SimplifiedSolutionsGetOptionalParams,
  SimplifiedSolutionsGetResponse,
} from "../models";

/** Class containing SimplifiedSolutions operations. */
export class SimplifiedSolutionsImpl implements SimplifiedSolutions {
  private readonly client: HelpRP;

  /**
   * Initialize a new instance of the class SimplifiedSolutions class.
   * @param client Reference to the service client
   */
  constructor(client: HelpRP) {
    this.client = client;
  }

  /**
   * Creates Simplified Solutions for an Azure subscription using 'solutionId' from Discovery Solutions
   * as the input. <br/><br/> Simplified Solutions API makes the consumption of solutions APIs easier
   * while still providing access to the same powerful solutions rendered in Solutions API. With
   * Simplified Solutions, users don't have to worry about stitching together the article using
   * replacement maps and can use the content in the API response to directly render as HTML
   * content.<br/>
   * @param scope scope = resourceUri of affected resource.<br/> For example:
   *              /subscriptions/0d0fcd2e-c4fd-4349-8497-200edb3923c6/resourcegroups/myresourceGroup/providers/Microsoft.KeyVault/vaults/test-keyvault-non-read
   *
   * @param simplifiedSolutionsResourceName Simplified Solutions Resource Name.
   * @param options The options parameters.
   */
  async beginCreate(
    scope: string,
    simplifiedSolutionsResourceName: string,
    options?: SimplifiedSolutionsCreateOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<SimplifiedSolutionsCreateResponse>,
      SimplifiedSolutionsCreateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<SimplifiedSolutionsCreateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { scope, simplifiedSolutionsResourceName, options },
      spec: createOperationSpec,
    });
    const poller = await createHttpPoller<
      SimplifiedSolutionsCreateResponse,
      OperationState<SimplifiedSolutionsCreateResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "azure-async-operation",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Creates Simplified Solutions for an Azure subscription using 'solutionId' from Discovery Solutions
   * as the input. <br/><br/> Simplified Solutions API makes the consumption of solutions APIs easier
   * while still providing access to the same powerful solutions rendered in Solutions API. With
   * Simplified Solutions, users don't have to worry about stitching together the article using
   * replacement maps and can use the content in the API response to directly render as HTML
   * content.<br/>
   * @param scope scope = resourceUri of affected resource.<br/> For example:
   *              /subscriptions/0d0fcd2e-c4fd-4349-8497-200edb3923c6/resourcegroups/myresourceGroup/providers/Microsoft.KeyVault/vaults/test-keyvault-non-read
   *
   * @param simplifiedSolutionsResourceName Simplified Solutions Resource Name.
   * @param options The options parameters.
   */
  async beginCreateAndWait(
    scope: string,
    simplifiedSolutionsResourceName: string,
    options?: SimplifiedSolutionsCreateOptionalParams,
  ): Promise<SimplifiedSolutionsCreateResponse> {
    const poller = await this.beginCreate(
      scope,
      simplifiedSolutionsResourceName,
      options,
    );
    return poller.pollUntilDone();
  }

  /**
   * Get the simplified Solutions using the applicable solutionResourceName while creating the simplified
   * Solutions.
   * @param scope scope = resourceUri of affected resource.<br/> For example:
   *              /subscriptions/0d0fcd2e-c4fd-4349-8497-200edb3923c6/resourcegroups/myresourceGroup/providers/Microsoft.KeyVault/vaults/test-keyvault-non-read
   *
   * @param simplifiedSolutionsResourceName Simplified Solutions Resource Name.
   * @param options The options parameters.
   */
  get(
    scope: string,
    simplifiedSolutionsResourceName: string,
    options?: SimplifiedSolutionsGetOptionalParams,
  ): Promise<SimplifiedSolutionsGetResponse> {
    return this.client.sendOperationRequest(
      { scope, simplifiedSolutionsResourceName, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.Help/simplifiedSolutions/{simplifiedSolutionsResourceName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.SimplifiedSolutionsResource,
    },
    201: {
      bodyMapper: Mappers.SimplifiedSolutionsResource,
    },
    202: {
      bodyMapper: Mappers.SimplifiedSolutionsResource,
    },
    204: {
      bodyMapper: Mappers.SimplifiedSolutionsResource,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.simplifiedSolutionsRequestBody,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.simplifiedSolutionsResourceName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/{scope}/providers/Microsoft.Help/simplifiedSolutions/{simplifiedSolutionsResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SimplifiedSolutionsResource,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.scope,
    Parameters.simplifiedSolutionsResourceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
