/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SolutionSelfHelp } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { HelpRP } from "../helpRP";
import {
  SolutionSelfHelpGetOptionalParams,
  SolutionSelfHelpGetResponse,
} from "../models";

/** Class containing SolutionSelfHelp operations. */
export class SolutionSelfHelpImpl implements SolutionSelfHelp {
  private readonly client: HelpRP;

  /**
   * Initialize a new instance of the class SolutionSelfHelp class.
   * @param client Reference to the service client
   */
  constructor(client: HelpRP) {
    this.client = client;
  }

  /**
   * Gets Self Help Solutions for a given solutionId. Self Help Solutions consist of rich instructional
   * video tutorials, links and guides to public documentation related to a specific problem that enables
   * users to troubleshoot Azure issues.
   * @param solutionId SolutionId is a unique id to identify a solution. You can retrieve the solution id
   *                   using the Discovery api -
   *                   https://learn.microsoft.com/en-us/rest/api/help/discovery-solution/list?view=rest-help-2023-09-01-preview&tabs=HTTP
   * @param options The options parameters.
   */
  get(
    solutionId: string,
    options?: SolutionSelfHelpGetOptionalParams,
  ): Promise<SolutionSelfHelpGetResponse> {
    return this.client.sendOperationRequest(
      { solutionId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Help/selfHelp/{solutionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SolutionResourceSelfHelp,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.solutionId],
  headerParameters: [Parameters.accept],
  serializer,
};
