{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Discovery/supercomputers?api-version=2026-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "b80d8f22-680b-4b26-8b6b-a31cf4fa1254",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "1098",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
