{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ServiceNetworking/trafficControllers?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "configurationEndpoints": [
                "3251dd5036da4356bb5611eb09429004.alb.azure.com"
              ],
              "frontends": [],
              "associations": [],
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ServiceNetworking/trafficControllers/TC1",
            "name": "TC1",
            "type": "Microsoft.ServiceNetworking/TrafficControllers",
            "etag": "71586cf0-1789-4fe4-9139-230f9da92d6a",
            "location": "centraluseuap",
            "tags": {
              "key1": "value1"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
