{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "endpoint": "https://mydomainxxx.eastus2-1.eventgrid.azure.net/api/events",
              "inputSchema": "EventGridSchema",
              "metricResourceId": "fdacd24d-2e43-404c-9bab-6abeb4b91a56",
              "publicNetworkAccess": "Enabled",
              "dataResidencyBoundary": "WithinGeopair"
            },
            "systemData": null,
            "location": "eastus2",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains/mydomainxxx",
            "name": "mydomainxxx",
            "type": "Microsoft.EventGrid/domains"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
