{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/domains?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type \u0027domains\u0027 could not be found in the namespace \u0027Microsoft.EventGrid\u0027 for api version \u00272022-06-15\u0027. The supported api-versions are \u00272018-09-15-preview,2019-02-01-preview,2019-06-01,2020-01-01-preview,2020-04-01-preview,2020-06-01,2020-10-15-preview,2021-06-01-preview,2021-12-01,2021-10-15-preview,2017-06-15-preview,2017-09-15-preview,2018-01-01,2018-05-01-preview,2019-01-01\u0027."
        }
      }
    }
  ],
  "Variables": {}
}
