{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.EventGrid/topics/mytopicxxx?api-version=2022-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "NoRegisteredProviderFound",
          "message": "No registered resource provider found for location \u0027eastus2\u0027 and API version \u00272022-06-15\u0027 for type \u0027topics\u0027. The supported api-versions are \u00272017-06-15-preview, 2017-09-15-preview, 2018-01-01, 2018-05-01-preview, 2018-09-15-preview, 2019-01-01, 2019-02-01-preview, 2019-06-01, 2020-01-01-preview, 2020-04-01-preview, 2020-06-01, 2020-10-15-preview, 2021-06-01-preview, 2021-12-01, 2021-10-15-preview\u0027. The supported locations are \u0027westus2, eastus, westus, centralus, eastus2, westcentralus, australiaeast, australiasoutheast, australiacentral, japaneast, japanwest, westeurope, northeurope, southeastasia, eastasia, northcentralus, southcentralus, brazilsouth, canadacentral, canadaeast, centralindia, southindia, westindia, francecentral, ukwest, uksouth, koreacentral, koreasouth, southafricanorth, uaenorth, switzerlandnorth, germanywestcentral, westus3, jioindiawest, jioindiacentral, swedencentral, norwayeast\u0027."
        }
      }
    }
  ],
  "Variables": {}
}
