{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGet3Min;139,Microsoft.Compute/HighCostGet30Min;699",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "virtualmachinex",
            "id": "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/virtualmachinex",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "eastus",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "properties": {
              "vmId": "c2aa0dda-3f9c-4a62-bb23-bd24a80d701f",
              "hardwareProfile": {
                "vmSize": "Standard_D2_v2"
              },
              "storageProfile": {
                "imageReference": {
                  "publisher": "MicrosoftWindowsServer",
                  "offer": "WindowsServer",
                  "sku": "2016-Datacenter",
                  "version": "latest",
                  "exactVersion": "14393.5582.221207"
                },
                "osDisk": {
                  "osType": "Windows",
                  "name": "myVMosdisk",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS",
                    "id": "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/myjstest/providers/Microsoft.Compute/disks/myVMosdisk"
                  },
                  "deleteOption": "Detach",
                  "diskSizeGB": 127
                },
                "dataDisks": [
                  {
                    "lun": 0,
                    "name": "virtualmachinex_disk2_c06a71bb05474861b2c96b0a8ff7ddcb",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS",
                      "id": "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex_disk2_c06a71bb05474861b2c96b0a8ff7ddcb"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  },
                  {
                    "lun": 1,
                    "name": "virtualmachinex_disk3_98cca0b0eca5415fab615846746926e2",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS",
                      "id": "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex_disk3_98cca0b0eca5415fab615846746926e2"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  }
                ]
              },
              "osProfile": {
                "computerName": "myVM",
                "adminUsername": "testuser",
                "windowsConfiguration": {
                  "provisionVMAgent": true,
                  "enableAutomaticUpdates": true,
                  "patchSettings": {
                    "patchMode": "AutomaticByOS",
                    "assessmentMode": "ImageDefault"
                  },
                  "enableVMAgentPlatformUpdates": false
                },
                "secrets": [],
                "allowExtensionOperations": true,
                "requireGuestProvisionSignal": true
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "id": "/subscriptions/92f95d8f-3c67-4124-91c7-8cf07cdbf241/resourceGroups/myjstest/providers/Microsoft.Network/networkInterfaces/interfacex",
                    "properties": {
                      "primary": true
                    }
                  }
                ]
              },
              "provisioningState": "Succeeded",
              "timeCreated": "2023-01-05T09:11:36.2675657\u002B00:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
