{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/workspace-id/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Prefer": "wait=1"
      },
      "RequestBody": {
        "query": "range x from 1 to 10000000000 step 1 | count",
        "timespan": "P1D"
      },
      "StatusCode": 504,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Preference-Applied": "wait=1"
      },
      "ResponseBody": {
        "error": {
          "message": "Gateway timeout",
          "code": "GatewayTimeout",
          "correlationId": "69894d3b-7f23-4e09-9414-d109e0be06ce",
          "innererror": {
            "code": "GatewayTimeout",
            "message": "Kusto query timed out"
          }
        }
      }
    }
  ],
  "Variables": {}
}
