/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Summaries } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ServiceMap } from "../serviceMap.js";
import {
  SummariesGetMachinesOptionalParams,
  SummariesGetMachinesResponse
} from "../models/index.js";

/** Class containing Summaries operations. */
export class SummariesImpl implements Summaries {
  private readonly client: ServiceMap;

  /**
   * Initialize a new instance of the class Summaries class.
   * @param client Reference to the service client
   */
  constructor(client: ServiceMap) {
    this.client = client;
  }

  /**
   * Returns summary information about the machines in the workspace.
   * @param resourceGroupName Resource group name within the specified subscriptionId.
   * @param workspaceName OMS workspace containing the resources of interest.
   * @param options The options parameters.
   */
  getMachines(
    resourceGroupName: string,
    workspaceName: string,
    options?: SummariesGetMachinesOptionalParams
  ): Promise<SummariesGetMachinesResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, options },
      getMachinesOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getMachinesOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/summaries/machines",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MachinesSummary
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.startTime,
    Parameters.endTime
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
