{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest2?api-version=2023-01-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "serviceLocations": [
            {
              "name": "westcentralus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.1"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.1.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.1.2.0/24"
                ]
              }
            },
            {
              "name": "eastus2",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.2"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.2.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.2.2.0/24"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "autoGeneratedDomainNameLabelScope": "NoReuse",
          "teamsVoicemailPilotNumber": "1234567890"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/8c10d37a-7c8a-4794-9656-e320645cd7c9*A0C0D6AD2F9B580396C50AC2C1F37688648D4F5AE069097DC33C1F7A4CBA5521?api-version=2023-01-31",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022150029c8-0000-0600-0000-64018bdb0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest2",
        "name": "mycgtest2",
        "type": "microsoft.voiceservices/communicationsgateways",
        "location": "westcentralus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-03T05:55:37.6087429Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-03T05:55:37.6087429Z"
        },
        "properties": {
          "serviceLocations": [
            {
              "name": "westcentralus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.1"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.1.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.1.2.0/24"
                ]
              }
            },
            {
              "name": "eastus2",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.2"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.2.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.2.2.0/24"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "autoGeneratedDomainNameLabelScope": "NoReuse",
          "teamsVoicemailPilotNumber": "1234567890",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/8c10d37a-7c8a-4794-9656-e320645cd7c9*A0C0D6AD2F9B580396C50AC2C1F37688648D4F5AE069097DC33C1F7A4CBA5521?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220f009864-0000-0600-0000-64018bdb0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/8c10d37a-7c8a-4794-9656-e320645cd7c9*A0C0D6AD2F9B580396C50AC2C1F37688648D4F5AE069097DC33C1F7A4CBA5521",
        "name": "8c10d37a-7c8a-4794-9656-e320645cd7c9*A0C0D6AD2F9B580396C50AC2C1F37688648D4F5AE069097DC33C1F7A4CBA5521",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest2",
        "status": "Accepted",
        "startTime": "2023-03-03T05:55:39.3697873Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest2?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022150038c8-0000-0600-0000-64018be30000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest2",
        "name": "mycgtest2",
        "type": "microsoft.voiceservices/communicationsgateways",
        "location": "westcentralus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-03T05:55:37.6087429Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-03T05:55:37.6087429Z"
        },
        "properties": {
          "status": "ChangePending",
          "apiBridge": null,
          "autoGeneratedDomainNameLabelScope": "NoReuse",
          "autoGeneratedDomainNameLabel": "mycgtest2.gvd3e5b3gsbwg3a7",
          "serviceLocations": [
            {
              "name": "westcentralus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.1"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.1.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.1.2.0/24"
                ]
              }
            },
            {
              "name": "eastus2",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.2"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.2.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.2.2.0/24"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "teamsVoicemailPilotNumber": "1234567890",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
