{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycg?api-version=2023-01-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "serviceLocations": [
            {
              "name": "westcentralus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.1"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.1.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.1.2.0/24"
                ]
              }
            },
            {
              "name": "eastus2",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.2"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.2.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.2.2.0/24"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "autoGeneratedDomainNameLabelScope": "NoReuse",
          "teamsVoicemailPilotNumber": "1234567890"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/41058bb0-73a0-42f7-8e31-4d3935aca661*FC12B6141A7AD727CC4C68B1D662F210F81E881E45AB98D1A411796D57B23D5E?api-version=2023-01-31",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022030036ef-0000-0600-0000-63f5e2100000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycg",
        "name": "mycg",
        "type": "microsoft.voiceservices/communicationsgateways",
        "location": "westcentralus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-02-22T09:36:13.9503915Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-22T09:36:13.9503915Z"
        },
        "properties": {
          "serviceLocations": [
            {
              "name": "westcentralus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.1"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.1.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.1.2.0/24"
                ]
              }
            },
            {
              "name": "eastus2",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.2"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.2.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.2.2.0/24"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "autoGeneratedDomainNameLabelScope": "NoReuse",
          "teamsVoicemailPilotNumber": "1234567890",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/41058bb0-73a0-42f7-8e31-4d3935aca661*FC12B6141A7AD727CC4C68B1D662F210F81E881E45AB98D1A411796D57B23D5E?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002204003b63-0000-0600-0000-63f5e2100000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/41058bb0-73a0-42f7-8e31-4d3935aca661*FC12B6141A7AD727CC4C68B1D662F210F81E881E45AB98D1A411796D57B23D5E",
        "name": "41058bb0-73a0-42f7-8e31-4d3935aca661*FC12B6141A7AD727CC4C68B1D662F210F81E881E45AB98D1A411796D57B23D5E",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycg",
        "status": "Accepted",
        "startTime": "2023-02-22T09:36:16.1800917Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/41058bb0-73a0-42f7-8e31-4d3935aca661*FC12B6141A7AD727CC4C68B1D662F210F81E881E45AB98D1A411796D57B23D5E?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223502fae4-0000-0100-0000-63f5e2190000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/41058bb0-73a0-42f7-8e31-4d3935aca661*FC12B6141A7AD727CC4C68B1D662F210F81E881E45AB98D1A411796D57B23D5E",
        "name": "41058bb0-73a0-42f7-8e31-4d3935aca661*FC12B6141A7AD727CC4C68B1D662F210F81E881E45AB98D1A411796D57B23D5E",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycg",
        "status": "Succeeded",
        "startTime": "2023-02-22T09:36:16.1800917Z",
        "properties": null
      }
    }
  ],
  "Variables": {}
}
