{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest1?api-version=2023-01-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "serviceLocations": [
            {
              "name": "westcentralus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.1"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.1.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.1.2.0/24"
                ]
              }
            },
            {
              "name": "eastus2",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.2"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.2.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.2.2.0/24"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "autoGeneratedDomainNameLabelScope": "NoReuse",
          "teamsVoicemailPilotNumber": "1234567890"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/c085a6dd-e0b1-4bef-8170-0848f29795f4*6C7D5FA32901EC85DB5A99405D9CDDDD20D2ED882C98DA335259DFE0FFF1E8A4?api-version=2023-01-31",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002215000b41-0000-0600-0000-64015da00000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest1",
        "name": "mycgtest1",
        "type": "microsoft.voiceservices/communicationsgateways",
        "location": "westcentralus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-03T02:38:22.9016966Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-03T02:38:22.9016966Z"
        },
        "properties": {
          "serviceLocations": [
            {
              "name": "westcentralus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.1"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.1.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.1.2.0/24"
                ]
              }
            },
            {
              "name": "eastus2",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.2"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.2.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.2.2.0/24"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "autoGeneratedDomainNameLabelScope": "NoReuse",
          "teamsVoicemailPilotNumber": "1234567890",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/c085a6dd-e0b1-4bef-8170-0848f29795f4*6C7D5FA32901EC85DB5A99405D9CDDDD20D2ED882C98DA335259DFE0FFF1E8A4?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220f008000-0000-0600-0000-64015da00000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.VoiceServices/locations/WESTCENTRALUS/operationStatuses/c085a6dd-e0b1-4bef-8170-0848f29795f4*6C7D5FA32901EC85DB5A99405D9CDDDD20D2ED882C98DA335259DFE0FFF1E8A4",
        "name": "c085a6dd-e0b1-4bef-8170-0848f29795f4*6C7D5FA32901EC85DB5A99405D9CDDDD20D2ED882C98DA335259DFE0FFF1E8A4",
        "resourceId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest1",
        "status": "Accepted",
        "startTime": "2023-03-03T02:38:24.2359592Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest1?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002215002241-0000-0600-0000-64015da70000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.VoiceServices/communicationsGateways/mycgtest1",
        "name": "mycgtest1",
        "type": "microsoft.voiceservices/communicationsgateways",
        "location": "westcentralus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-03T02:38:22.9016966Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-03T02:38:22.9016966Z"
        },
        "properties": {
          "status": "ChangePending",
          "apiBridge": null,
          "autoGeneratedDomainNameLabelScope": "NoReuse",
          "autoGeneratedDomainNameLabel": "mycgtest1.dqd9a9h8bqf7f9gk",
          "serviceLocations": [
            {
              "name": "westcentralus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.1"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.1.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.1.2.0/24"
                ]
              }
            },
            {
              "name": "eastus2",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "198.51.100.2"
                ],
                "allowedSignalingSourceAddressPrefixes": [
                  "10.2.1.0/24"
                ],
                "allowedMediaSourceAddressPrefixes": [
                  "10.2.2.0/24"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "teamsVoicemailPilotNumber": "1234567890",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
