/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Parameters from "./models/parameters";
import * as Mappers from "./models/mappers";
import { MixedRealityStsRestClientContext } from "./mixedRealityStsRestClientContext";
import {
  MixedRealityStsRestClientOptionalParams,
  MixedRealityStsRestClientGetTokenOptionalParams,
  MixedRealityStsRestClientGetTokenResponse
} from "./models";

/** @hidden */
export class MixedRealityStsRestClient extends MixedRealityStsRestClientContext {
  /**
   * Initializes a new instance of the MixedRealityStsRestClient class.
   * @param options The parameter options
   */
  constructor(options?: MixedRealityStsRestClientOptionalParams) {
    super(options);
  }

  /**
   * Gets an access token to be used with Mixed Reality services.
   * @param accountId The Mixed Reality account identifier.
   * @param options The options parameters.
   */
  getToken(
    accountId: string,
    options?: MixedRealityStsRestClientGetTokenOptionalParams
  ): Promise<MixedRealityStsRestClientGetTokenResponse> {
    const operationArguments: coreHttp.OperationArguments = {
      accountId,
      options: coreHttp.operationOptionsToRequestOptionsBase(options || {})
    };
    return this.sendOperationRequest(
      operationArguments,
      getTokenOperationSpec
    ) as Promise<MixedRealityStsRestClientGetTokenResponse>;
  }
}
// Operation Specifications
const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const getTokenOperationSpec: coreHttp.OperationSpec = {
  path: "/Accounts/{accountId}/token",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StsTokenResponseMessage,
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenHeaders
    },
    400: {
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenExceptionHeaders,
      isError: true
    },
    401: {
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenExceptionHeaders,
      isError: true
    },
    429: {
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenExceptionHeaders,
      isError: true
    },
    default: {
      headersMapper: Mappers.MixedRealityStsRestClientGetTokenExceptionHeaders
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.accountId],
  headerParameters: [Parameters.accept, Parameters.clientRequestId],
  serializer
};
