# API key to authenticate service calls
DOCUMENT_TRANSLATOR_API_KEY=
# Document translation service endpoint
ENDPOINT=
# URLs to the Source and Target Azure Storage Blob containers
SOURCE_CONTAINER=
TARGET_CONTAINER=
