# Used in most samples. Retrieve these values from a Communication Services instance
# in the Azure Portal.
COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING="endpoint=https://<resource name>.communication.azure.com/;accessKey=<key>"

ACS_URL="https://<resource name>.communication.azure.com"
ACS_ACCESS_KEY="<key>"

# The client ID of an Azure Active Directory application.
AZURE_CLIENT_ID="<AZURE_CLIENT_ID>"
# The client secret of an Azure Active Directory application.
AZURE_CLIENT_SECRET="<AZURE_CLIENT_SECRET>"
#The Tenant ID of your organization in Azure Active Directory.
AZURE_TENANT_ID="<AZURE_TENANT_ID>" 

# The Channel Id
CHANNEL_ID="<CHANNEL_ID>"

# Comma separated list of phone numbers to receive SMS messages
RECIPIENT_PHONE_NUMBER="<E164 format Phone Number>"
