{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.OperationalInsights/workspaces/oiautorest6685?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tag1": "val1"
        },
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "PerGB2018"
          },
          "retentionInDays": 30
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "source": "Azure",
          "customerId": "46ddfb00-732a-473c-baf2-397b3c69011d",
          "provisioningState": "Succeeded",
          "sku": {
            "name": "pergb2018",
            "lastSkuUpdate": "Thu, 09 Feb 2023 02:23:31 GMT"
          },
          "retentionInDays": 30,
          "features": {
            "legacy": 0,
            "searchVersion": 1,
            "enableLogAccessUsingOnlyResourcePermissions": true
          },
          "workspaceCapping": {
            "dailyQuotaGb": -1.0,
            "quotaNextResetTime": "Thu, 09 Feb 2023 21:00:00 GMT",
            "dataIngestionStatus": "RespectQuota"
          },
          "publicNetworkAccessForIngestion": "Enabled",
          "publicNetworkAccessForQuery": "Enabled",
          "createdDate": "Thu, 09 Feb 2023 02:23:31 GMT",
          "modifiedDate": "Thu, 09 Feb 2023 02:23:45 GMT"
        },
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/microsoft.operationalinsights/workspaces/oiautorest6685",
        "name": "oiautorest6685",
        "type": "Microsoft.OperationalInsights/workspaces",
        "location": "eastus",
        "tags": {
          "tag1": "val1"
        }
      }
    }
  ],
  "Variables": {}
}
