{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/me/environments/envname?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "environmentDefinitionName": "Sandbox",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c",
        "catalogName": "sdk-default-catalog"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/c70d9743-aa17-4342-b6e8-676121956668?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/c70d9743-aa17-4342-b6e8-676121956668",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T17:07:55.7739200Z"
      },
      "ResponseBody": {
        "name": "envname",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Creating",
        "catalogName": "sdk-default-catalog",
        "environmentDefinitionName": "Sandbox"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/c70d9743-aa17-4342-b6e8-676121956668?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/c70d9743-aa17-4342-b6e8-676121956668?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/c70d9743-aa17-4342-b6e8-676121956668",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "298",
        "X-Rate-Limit-Reset": "2023-05-09T17:07:24.2450472Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/c70d9743-aa17-4342-b6e8-676121956668",
        "name": "c70d9743-aa17-4342-b6e8-676121956668",
        "status": "NotStarted",
        "startTime": "2023-05-09T17:06:55.9516625\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/c70d9743-aa17-4342-b6e8-676121956668?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/c70d9743-aa17-4342-b6e8-676121956668?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/c70d9743-aa17-4342-b6e8-676121956668",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T17:08:56.3875328Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/c70d9743-aa17-4342-b6e8-676121956668",
        "name": "c70d9743-aa17-4342-b6e8-676121956668",
        "status": "Succeeded",
        "startTime": "2023-05-09T17:06:55.9516625\u002B00:00",
        "endTime": "2023-05-09T17:07:50.9044761\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/me/environments/envname?api-version=2023-04-01\u0026api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T17:08:56.5456437Z"
      },
      "ResponseBody": {
        "name": "envname",
        "environmentType": "sdk-environment-type-6p7h3fou6ey3c",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "provisioningState": "Succeeded",
        "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-project-x2z4o4ohvwcbi-envname",
        "catalogName": "sdk-default-catalog",
        "environmentDefinitionName": "Sandbox"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/users/me/environments?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T17:08:56.7754790Z"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "envname",
            "environmentType": "sdk-environment-type-6p7h3fou6ey3c",
            "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
            "provisioningState": "Succeeded",
            "resourceGroupId": "/subscriptions/62e47139-66d0-4b0b-a000-1e8a412890c1/resourceGroups/sdk-project-x2z4o4ohvwcbi-envname",
            "catalogName": "sdk-default-catalog",
            "environmentDefinitionName": "Sandbox"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/71ba077e-372a-4512-b9c6-b6c8b2833b49?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/71ba077e-372a-4512-b9c6-b6c8b2833b49?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-4qb444onnk2tc.centraluseuap.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/operationstatuses/71ba077e-372a-4512-b9c6-b6c8b2833b49",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-05-09T17:09:57.6519752Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-x2z4o4ohvwcbi/operationStatuses/71ba077e-372a-4512-b9c6-b6c8b2833b49",
        "name": "71ba077e-372a-4512-b9c6-b6c8b2833b49",
        "status": "Succeeded",
        "startTime": "2023-05-09T17:07:57.219387\u002B00:00",
        "endTime": "2023-05-09T17:08:41.3101217\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
