{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-fmzegocvsahko.eastus.devcenter.azure.com/projects/sdk-project-x2z4o4ohvwcbi/catalogs/sdk-default-catalog/environmentDefinitions/Sandbox?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "288",
        "X-Rate-Limit-Reset": "2023-05-05T22:06:48.4027705Z"
      },
      "ResponseBody": {
        "id": "8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd:sdk-dc-fmzegocvsahko:sdk-default-catalog:sandbox",
        "name": "Sandbox",
        "catalogName": "sdk-default-catalog",
        "description": "Deploys an empty sandbox environment",
        "parameters": [],
        "parametersSchema": "{\u0022type\u0022:\u0022object\u0022}",
        "templatePath": "Environments/Sandbox/azuredeploy.json"
      }
    }
  ],
  "Variables": {}
}
