{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Communication/communicationServices/mycommunicationServicexxx?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227100570d-0000-0700-0000-629f1b2f0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11965"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Communication/communicationServices/mycommunicationServicexxx",
        "name": "mycommunicationServicexxx",
        "type": "microsoft.communication/communicationservices",
        "location": "global",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-06-07T09:32:20.2813328Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T09:32:20.2813328Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "mycommunicationservicexxx.communication.azure.com",
          "immutableResourceId": "e528bc5f-2f71-4b09-b4f4-35f4098e69cc",
          "dataLocation": "UnitedStates"
        }
      }
    }
  ],
  "Variables": {}
}
