{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Communication/communicationServices?api-version=2023-03-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11966"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Communication/communicationServices/mycommunicationServicexxx",
            "name": "mycommunicationServicexxx",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-04-03T07:02:50.1505039Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-04-03T07:02:50.1505039Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "mycommunicationservicexxx.communication.azure.com",
              "immutableResourceId": "cd884760-c25b-4c70-b8a9-43dc05e341bb",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
