{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Communication/communicationServices?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11963"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Communication/communicationServices/mycommunicationServicexxx",
            "name": "mycommunicationServicexxx",
            "type": "microsoft.communication/communicationservices",
            "location": "global",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2022-12-29T05:55:50.0652249Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-12-29T05:55:50.0652249Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "hostName": "mycommunicationservicexxx.communication.azure.com",
              "immutableResourceId": "2ebb8571-38fe-4d76-98fb-441fa11e113b",
              "dataLocation": "UnitedStates"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
