{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.cac001.deid.azure.com/jobs/js-sdk-job-1718397330272?api-version=2024-01-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "dataType": "Plaintext",
        "operation": "Surrogate",
        "sourceLocation": {
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "_output"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "Sanitized",
        "status": "NotStarted",
        "createdAt": "2024-06-14T20:35:36.4150798Z",
        "lastUpdatedAt": "2024-06-14T20:35:36.4150798Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fake_storage_account_sas_uri.blob.core.windows.net/container-sdk-dev-fakeid",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    }
  ],
  "Variables": {}
}
