{
  "Entries": [
    {
      "RequestUri": "https://dealmahaschemaregistry-avro.servicebus.windows.net/$schemaGroups/group-1/schemas/com.azure.schemaregistry.samples.User?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "name": "User",
        "namespace": "com.azure.schemaregistry.samples",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favoriteNumber",
            "type": "int"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://dealmahaschemaregistry-avro.servicebus.windows.net/$schemagroups/group-1/schemas/com.azure.schemaregistry.samples.User/versions/1?api-version=2022-10",
        "Schema-Group-Name": "group-1",
        "Schema-Id": "76e4ab8745474804a3086de00d5f4ee8",
        "Schema-Id-Location": "https://dealmahaschemaregistry-avro.servicebus.windows.net:443/$schemagroups/$schemas/76e4ab8745474804a3086de00d5f4ee8?api-version=2022-10",
        "Schema-Name": "com.azure.schemaregistry.samples.User",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://dealmahaschemaregistry-avro.servicebus.windows.net:443/$schemagroups/group-1/schemas/com.azure.schemaregistry.samples.User/versions?api-version=2022-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
