{
  "Entries": [
    {
      "RequestUri": "https://dealmahaschemaregistry-avro.servicebus.windows.net/$schemaGroups/group-1/schemas/azsdk_js_test?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=null"
      },
      "RequestBody": {
        "type": "record",
        "name": "User",
        "namespace": "com.azure.schemaregistry.samples",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favoriteNumber",
            "type": "int"
          }
        ]
      },
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidSchemaType"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSchemaType",
          "message": "Invalid schema type for PUT request. \u0027null\u0027 is not supported. TrackingId:6452dd93-1548-4842-901a-57ea7bc2a798_G19, SystemTracker:dealmahaschemaregistry-avro.servicebus.windows.net:$schemaGroups/group-1/schemas/azsdk_js_test, Timestamp:2022-11-07T07:52:25"
        }
      }
    },
    {
      "RequestUri": "https://dealmahaschemaregistry-avro.servicebus.windows.net/$schemaGroups/group-1/schemas/azsdk_js_test?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=not-valid"
      },
      "RequestBody": {
        "type": "record",
        "name": "User",
        "namespace": "com.azure.schemaregistry.samples",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favoriteNumber",
            "type": "int"
          }
        ]
      },
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidSchemaType"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSchemaType",
          "message": "Invalid schema type for PUT request. \u0027not-valid\u0027 is not supported. TrackingId:04a8f07b-db01-4c67-9d51-00dee7f5a658_G19, SystemTracker:dealmahaschemaregistry-avro.servicebus.windows.net:$schemaGroups/group-1/schemas/azsdk_js_test, Timestamp:2022-11-07T07:52:26"
        }
      }
    }
  ],
  "Variables": {}
}
