{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/reverseGeocode?coordinates=121%2C25\u0026api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "type": "FeatureCollection",
        "features": []
      }
    }
  ],
  "Variables": {}
}
