# Rename this to .env in order to have React automatically
# pull in all these variables (anything that starts with REACT_APP_ will be
# made available. See the documentation for adding custom environment variables 
# at the following link: https://create-react-app.dev/docs/adding-custom-environment-variables/)

# fully qualified namespace for event hubs, typically: <namespace>.servicebus.windows.net
REACT_APP_EVENT_HUBS_NAMESPACE=""
# The name of the Event Hubs hub
REACT_APP_EVENT_HUBS_NAME=""

# URI for the Azure Blob Storage, typically https://<name>.blob.core.windows.net/
REACT_APP_BLOB_URI=""
# the name of the Azure Blob Storage container
REACT_APP_BLOB_CONTAINER=""

# Used to authenticate using Azure AD as a service principal for role-based authentication.
#
# See the documentation for `InteractiveBrowserCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/interactivebrowsercredential
REACT_APP_CLIENT_ID=""
REACT_APP_TENANT_ID=""
