{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485844136706192?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B5A831C0F7\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485844136706192/blob167485844143206350",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B5A83BCCA0\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02",
        "x-ms-version-id": "2023-01-27T22:27:21.4639013Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485844136706192/blob167485844143206350?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "YWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWE=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB00B5A8460452\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "u661BimQ84c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485844136706192/blob167485844143206350?comp=pagelist",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\u00220x8DB00B5A8643648\u0022",
        "Last-Modified": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\n",
        "\u003CPageList\u003E\u003CPageRange\u003E\u003CStart\u003E0\u003C/Start\u003E\u003CEnd\u003E511\u003C/End\u003E\u003C/PageRange\u003E\u003CPageRange\u003E\u003CStart\u003E1024\u003C/Start\u003E\u003CEnd\u003E1535\u003C/End\u003E\u003C/PageRange\u003E\u003CPageRange\u003E\u003CStart\u003E2048\u003C/Start\u003E\u003CEnd\u003E2559\u003C/End\u003E\u003C/PageRange\u003E\u003CPageRange\u003E\u003CStart\u003E3072\u003C/Start\u003E\u003CEnd\u003E3583\u003C/End\u003E\u003C/PageRange\u003E\u003C/PageList\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/container167485844136706192?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 27 Jan 2023 22:27:21 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob167485844143206350",
    "container": "container167485844136706192"
  }
}
