{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-7038187193?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Jun 2024 00:51:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC918C5110F4BD\"",
        "Last-Modified": "Fri, 21 Jun 2024 00:51:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-7038187193/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 21 Jun 2024 00:51:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\"0x8DC918C51188C6D\"",
        "Last-Modified": "Fri, 21 Jun 2024 00:51:42 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-7624957625?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Jun 2024 00:51:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC918C51202935\"",
        "Last-Modified": "Fri, 21 Jun 2024 00:51:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "https://fakeStorageName.blob.core.windows.net/source-7038187193?sv=Sanitized&se=2024-06-22T00%3A51%3A42Z&sr=c&sp=rwl&sig=Sanitized"
            },
            "targets": [
              {
                "targetUrl": "https://fakeStorageName.blob.core.windows.net/target-7624957625?sv=Sanitized&se=2024-06-22T00%3A51%3A42Z&sr=c&sp=rwl&sig=Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://example.com",
        "x-ms-region": "West US",
        "X-RequestId": "561a802f-fd75-4f4e-a8cf-79f9f0b7e269"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/037e4b8e-28f0-4cf8-9f8d-f6591d0ab959?api-version=2024-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "145a27e0-a56f-48cc-bcc0-285d893f7a8c"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTimeUtc": "2024-06-21T00:51:42.8474246Z",
        "lastActionDateTimeUtc": "2024-06-21T00:51:43.2090936Z",
        "status": "Cancelling",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches/037e4b8e-28f0-4cf8-9f8d-f6591d0ab959?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"097240A0B57CB75B289ABDE8EF6E439FF4BFD3822185A78E50A35EE1623A4319\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "324b7b55-62cf-4006-ad58-9c434c7142f5"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "createdDateTimeUtc": "2024-06-21T00:51:42.8474246Z",
        "lastActionDateTimeUtc": "2024-06-21T00:51:43.2090936Z",
        "status": "Cancelling",
        "summary": {
          "total": 1,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 1,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-7038187193",
    "targetContainer": "target-7624957625"
  }
}
