/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { RaiContentFilters } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { CognitiveServicesManagementClient } from "../cognitiveServicesManagementClient";
import {
  RaiContentFiltersListOptionalParams,
  RaiContentFiltersListResponse
} from "../models";

/** Class containing RaiContentFilters operations. */
export class RaiContentFiltersImpl implements RaiContentFilters {
  private readonly client: CognitiveServicesManagementClient;

  /**
   * Initialize a new instance of the class RaiContentFilters class.
   * @param client Reference to the service client
   */
  constructor(client: CognitiveServicesManagementClient) {
    this.client = client;
  }

  /**
   * List Content Filters types.
   * @param location Resource location.
   * @param options The options parameters.
   */
  list(
    location: string,
    options?: RaiContentFiltersListOptionalParams
  ): Promise<RaiContentFiltersListResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/locations/{location}/raiContentFilters",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.RaiContentFilterListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
