/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { RaiContentFilters } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { CognitiveServicesManagementClient } from "../cognitiveServicesManagementClient.js";
import {
  RaiContentFilter,
  RaiContentFiltersListNextOptionalParams,
  RaiContentFiltersListOptionalParams,
  RaiContentFiltersListResponse,
  RaiContentFiltersGetOptionalParams,
  RaiContentFiltersGetResponse,
  RaiContentFiltersListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing RaiContentFilters operations. */
export class RaiContentFiltersImpl implements RaiContentFilters {
  private readonly client: CognitiveServicesManagementClient;

  /**
   * Initialize a new instance of the class RaiContentFilters class.
   * @param client Reference to the service client
   */
  constructor(client: CognitiveServicesManagementClient) {
    this.client = client;
  }

  /**
   * List Content Filters types.
   * @param location Resource location.
   * @param options The options parameters.
   */
  public list(
    location: string,
    options?: RaiContentFiltersListOptionalParams,
  ): PagedAsyncIterableIterator<RaiContentFilter> {
    const iter = this.listPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, options, settings);
      },
    };
  }

  private async *listPagingPage(
    location: string,
    options?: RaiContentFiltersListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<RaiContentFilter[]> {
    let result: RaiContentFiltersListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(location, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    options?: RaiContentFiltersListOptionalParams,
  ): AsyncIterableIterator<RaiContentFilter> {
    for await (const page of this.listPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * List Content Filters types.
   * @param location Resource location.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    options?: RaiContentFiltersListOptionalParams,
  ): Promise<RaiContentFiltersListResponse> {
    return this.client.sendOperationRequest({ location, options }, listOperationSpec);
  }

  /**
   * Get Content Filters by Name.
   * @param location Resource location.
   * @param filterName The name of the RAI Content Filter.
   * @param options The options parameters.
   */
  get(
    location: string,
    filterName: string,
    options?: RaiContentFiltersGetOptionalParams,
  ): Promise<RaiContentFiltersGetResponse> {
    return this.client.sendOperationRequest({ location, filterName, options }, getOperationSpec);
  }

  /**
   * ListNext
   * @param location Resource location.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    nextLink: string,
    options?: RaiContentFiltersListNextOptionalParams,
  ): Promise<RaiContentFiltersListNextResponse> {
    return this.client.sendOperationRequest({ location, nextLink, options }, listNextOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/locations/{location}/raiContentFilters",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RaiContentFilterListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId, Parameters.location],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/locations/{location}/raiContentFilters/{filterName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RaiContentFilter,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.filterName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RaiContentFilterListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
