{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/batch/json?api-version=1.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "?query=48.858561,2.294911"
          },
          {
            "query": "?query=47.639765,-122.127896\u0026radius=5000"
          },
          {
            "query": "?query=47.621028,-122.34817"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://atlas.microsoft.com/search/address/reverse/batch/dbaecb5d-eca6-4cfd-87ad-44736225d17a?api-version=1.0",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": "\u0022\u0022"
    },
    {
      "RequestUri": "https://atlas.microsoft.com/search/address/reverse/batch/dbaecb5d-eca6-4cfd-87ad-44736225d17a?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "queryTime": 4,
                "numResults": 1
              },
              "addresses": [
                {
                  "address": {
                    "buildingNumber": "5",
                    "streetNumber": "5",
                    "routeNumbers": [],
                    "street": "Esplanade des Ouvriers de la Tour Eiffel",
                    "streetName": "Esplanade des Ouvriers de la Tour Eiffel",
                    "streetNameAndNumber": "5 Esplanade des Ouvriers de la Tour Eiffel",
                    "countryCode": "FR",
                    "countrySubdivision": "\u00CEle-de-France",
                    "countrySecondarySubdivision": "Paris",
                    "municipality": "Paris",
                    "postalCode": "75007",
                    "municipalitySubdivision": "7\u00E8me Arrondissement",
                    "country": "France",
                    "countryCodeISO3": "FRA",
                    "freeformAddress": "5 Esplanade des Ouvriers de la Tour Eiffel, 75007 Paris",
                    "boundingBox": {
                      "northEast": "48.858576,2.295027",
                      "southWest": "48.858321,2.294559",
                      "entity": "position"
                    },
                    "localName": "Paris"
                  },
                  "position": "48.858582,2.294525"
                }
              ]
            }
          },
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "queryTime": 4,
                "numResults": 1
              },
              "addresses": [
                {
                  "address": {
                    "routeNumbers": [],
                    "street": "Northeast 31st Street",
                    "streetName": "Northeast 31st Street",
                    "countryCode": "US",
                    "countrySubdivision": "WA",
                    "countrySecondarySubdivision": "King",
                    "municipality": "Redmond",
                    "postalCode": "98052",
                    "country": "United States",
                    "countryCodeISO3": "USA",
                    "freeformAddress": "Northeast 31st Street, Redmond, WA 98052",
                    "boundingBox": {
                      "northEast": "47.638988,-122.126617",
                      "southWest": "47.638122,-122.127537",
                      "entity": "position"
                    },
                    "extendedPostalCode": "98052-7070",
                    "countrySubdivisionName": "Washington",
                    "localName": "Redmond"
                  },
                  "position": "47.638988,-122.127541"
                }
              ]
            }
          },
          {
            "statusCode": 200,
            "response": {
              "summary": {
                "queryTime": 4,
                "numResults": 1
              },
              "addresses": [
                {
                  "address": {
                    "buildingNumber": "410",
      [...]
[...]
