{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/operations?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "NewRelic.Observability/monitors/read",
            "isDataAction": false,
            "display": {
              "provider": "NewRelic.Observability",
              "resource": "Monitors",
              "operation": "Get/List monitor resources",
              "description": "Read monitors"
            },
            "properties": null
          },
          {
            "name": "NewRelic.Observability/monitors/write",
            "isDataAction": false,
            "display": {
              "provider": "NewRelic.Observability",
              "resource": "Monitors",
              "operation": "Create/Update monitor resources",
              "description": "Write monitors"
            },
            "properties": null
          },
          {
            "name": "NewRelic.Observability/monitors/delete",
            "isDa[...]
