WPS_CONNECTION_STRING="<connection string>"
AZURE_CLIENT_ID="6921067e-f177-4357-8101-45decc0d5e0e"
AZURE_CLIENT_SECRET="Q2p8Q~Zgnew0sFCcwl~8-Z8kcCJwepEy0eKanbTQ"
AZURE_TENANT_ID="72f988bf-86f1-41af-91ab-2d7cd011db47"
WPS_REVERSE_PROXY_ENDPOINT="https://biqianwps.webpubsub.azure.com"
WPS_ENDPOINT="https://biqianwps.webpubsub.azure.com"
WPS_API_KEY="ZWiQWAibawVxRNND8x+iASEBYfA0yQENRP41di9b0bM="

SET WPS_CONNECTION_STRING=Endpoint=https://biqianwps.webpubsub.azure.com;AccessKey=ZWiQWAibawVxRNND8x+iASEBYfA0yQENRP41di9b0bM=;Version=1.0;
SET AZURE_CLIENT_ID=6921067e-f177-4357-8101-45decc0d5e0e
SET AZURE_CLIENT_SECRET=Q2p8Q~Zgnew0sFCcwl~8-Z8kcCJwepEy0eKanbTQ
SET AZURE_TENANT_ID=72f988bf-86f1-41af-91ab-2d7cd011db47
SET WPS_REVERSE_PROXY_ENDPOINT=https://biqianwps.webpubsub.azure.com
SET WPS_ENDPOINT=https://biqianwps.webpubsub.azure.com
SET WPS_API_KEY=ZWiQWAibawVxRNND8x+iASEBYfA0yQENRP41di9b0bM=
