/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/chargesMappers";
import * as Parameters from "../models/parameters";
import { ConsumptionManagementClientContext } from "../consumptionManagementClientContext";

/** Class representing a Charges. */
export class Charges {
  private readonly client: ConsumptionManagementClientContext;

  /**
   * Create a Charges.
   * @param {ConsumptionManagementClientContext} client Reference to the service client.
   */
  constructor(client: ConsumptionManagementClientContext) {
    this.client = client;
  }

  /**
   * Lists the charges based for the defined scope.
   * @param scope The scope associated with usage details operations. This includes
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for
   * Department scope and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
   * for EnrollmentAccount scope. For department and enrollment accounts, you can also add billing
   * period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For
   * e.g. to specify billing period at department scope use
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
   * @param [options] The optional parameters
   * @returns Promise<Models.ChargesListByScopeResponse>
   */
  listByScope(scope: string, options?: Models.ChargesListByScopeOptionalParams): Promise<Models.ChargesListByScopeResponse>;
  /**
   * @param scope The scope associated with usage details operations. This includes
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for
   * Department scope and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
   * for EnrollmentAccount scope. For department and enrollment accounts, you can also add billing
   * period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For
   * e.g. to specify billing period at department scope use
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
   * @param callback The callback
   */
  listByScope(scope: string, callback: msRest.ServiceCallback<Models.ChargeSummary>): void;
  /**
   * @param scope The scope associated with usage details operations. This includes
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for
   * Department scope and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
   * for EnrollmentAccount scope. For department and enrollment accounts, you can also add billing
   * period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For
   * e.g. to specify billing period at department scope use
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
   * @param options The optional parameters
   * @param callback The callback
   */
  listByScope(scope: string, options: Models.ChargesListByScopeOptionalParams, callback: msRest.ServiceCallback<Models.ChargeSummary>): void;
  listByScope(scope: string, options?: Models.ChargesListByScopeOptionalParams | msRest.ServiceCallback<Models.ChargeSummary>, callback?: msRest.ServiceCallback<Models.ChargeSummary>): Promise<Models.ChargesListByScopeResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        options
      },
      listByScopeOperationSpec,
      callback) as Promise<Models.ChargesListByScopeResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const listByScopeOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Consumption/charges",
  urlParameters: [
    Parameters.scope
  ],
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter0
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ChargeSummary
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};
