/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { Forecasts } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ConsumptionManagementClientContext } from "../consumptionManagementClientContext";
import {
  Forecast,
  ForecastsListOptionalParams,
  ForecastsListResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Forecasts operations. */
export class ForecastsImpl implements Forecasts {
  private readonly client: ConsumptionManagementClientContext;

  /**
   * Initialize a new instance of the class Forecasts class.
   * @param client Reference to the service client
   */
  constructor(client: ConsumptionManagementClientContext) {
    this.client = client;
  }

  /**
   * Lists the forecast charges for scope defined. Please note that this API is no longer actively under
   * development. We recommend using our new Forecast API moving forward:
   * https://docs.microsoft.com/en-us/rest/api/cost-management/forecast/usage.
   * @param options The options parameters.
   */
  public list(
    options?: ForecastsListOptionalParams
  ): PagedAsyncIterableIterator<Forecast> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: ForecastsListOptionalParams
  ): AsyncIterableIterator<Forecast[]> {
    let result = await this._list(options);
    yield result.value || [];
  }

  private async *listPagingAll(
    options?: ForecastsListOptionalParams
  ): AsyncIterableIterator<Forecast> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists the forecast charges for scope defined. Please note that this API is no longer actively under
   * development. We recommend using our new Forecast API moving forward:
   * https://docs.microsoft.com/en-us/rest/api/cost-management/forecast/usage.
   * @param options The options parameters.
   */
  private _list(
    options?: ForecastsListOptionalParams
  ): Promise<ForecastsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ForecastsListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.filter, Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
