/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/lotsOperationsMappers";
import * as Parameters from "../models/parameters";
import { ConsumptionManagementClientContext } from "../consumptionManagementClientContext";

/** Class representing a LotsOperations. */
export class LotsOperations {
  private readonly client: ConsumptionManagementClientContext;

  /**
   * Create a LotsOperations.
   * @param {ConsumptionManagementClientContext} client Reference to the service client.
   */
  constructor(client: ConsumptionManagementClientContext) {
    this.client = client;
  }

  /**
   * Lists the lots by billingAccountId and billingProfileId.
   * @param scope The scope associated with Lots operations. This includes
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfile/{billingProfileId}'
   * for Billing Profile scope, and
   * 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific
   * for partners.
   * @param [options] The optional parameters
   * @returns Promise<Models.LotsListResponse>
   */
  list(scope: string, options?: msRest.RequestOptionsBase): Promise<Models.LotsListResponse>;
  /**
   * @param scope The scope associated with Lots operations. This includes
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfile/{billingProfileId}'
   * for Billing Profile scope, and
   * 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific
   * for partners.
   * @param callback The callback
   */
  list(scope: string, callback: msRest.ServiceCallback<Models.Lots>): void;
  /**
   * @param scope The scope associated with Lots operations. This includes
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfile/{billingProfileId}'
   * for Billing Profile scope, and
   * 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific
   * for partners.
   * @param options The optional parameters
   * @param callback The callback
   */
  list(scope: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.Lots>): void;
  list(scope: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.Lots>, callback?: msRest.ServiceCallback<Models.Lots>): Promise<Models.LotsListResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        options
      },
      listOperationSpec,
      callback) as Promise<Models.LotsListResponse>;
  }

  /**
   * Lists the lots by billingAccountId and billingProfileId.
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.LotsListNextResponse>
   */
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase): Promise<Models.LotsListNextResponse>;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param callback The callback
   */
  listNext(nextPageLink: string, callback: msRest.ServiceCallback<Models.Lots>): void;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  listNext(nextPageLink: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.Lots>): void;
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.Lots>, callback?: msRest.ServiceCallback<Models.Lots>): Promise<Models.LotsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        nextPageLink,
        options
      },
      listNextOperationSpec,
      callback) as Promise<Models.LotsListNextResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const listOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Consumption/lots",
  urlParameters: [
    Parameters.scope0
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.Lots
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const listNextOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  baseUrl: "https://management.azure.com",
  path: "{nextLink}",
  urlParameters: [
    Parameters.nextPageLink
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.Lots
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};
