/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/reservationRecommendationDetailsMappers";
import * as Parameters from "../models/parameters";
import { ConsumptionManagementClientContext } from "../consumptionManagementClientContext";

/** Class representing a ReservationRecommendationDetails. */
export class ReservationRecommendationDetails {
  private readonly client: ConsumptionManagementClientContext;

  /**
   * Create a ReservationRecommendationDetails.
   * @param {ConsumptionManagementClientContext} client Reference to the service client.
   */
  constructor(client: ConsumptionManagementClientContext) {
    this.client = client;
  }

  /**
   * Details of a reservation recommendation for what-if analysis of reserved instances.
   * @param scope The scope associated with reservation recommendation details operations. This
   * includes '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}',
   * /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param [options] The optional parameters
   * @returns Promise<Models.ReservationRecommendationDetailsGetResponse>
   */
  get(scope: string, options?: msRest.RequestOptionsBase): Promise<Models.ReservationRecommendationDetailsGetResponse>;
  /**
   * @param scope The scope associated with reservation recommendation details operations. This
   * includes '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}',
   * /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param callback The callback
   */
  get(scope: string, callback: msRest.ServiceCallback<Models.ReservationRecommendationDetailsModel>): void;
  /**
   * @param scope The scope associated with reservation recommendation details operations. This
   * includes '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}',
   * /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param options The optional parameters
   * @param callback The callback
   */
  get(scope: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ReservationRecommendationDetailsModel>): void;
  get(scope: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ReservationRecommendationDetailsModel>, callback?: msRest.ServiceCallback<Models.ReservationRecommendationDetailsModel>): Promise<Models.ReservationRecommendationDetailsGetResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        options
      },
      getOperationSpec,
      callback) as Promise<Models.ReservationRecommendationDetailsGetResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const getOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Consumption/reservationRecommendationDetails",
  urlParameters: [
    Parameters.scope
  ],
  queryParameters: [
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ReservationRecommendationDetailsModel
    },
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};
