/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/reservationRecommendationsMappers";
import * as Parameters from "../models/parameters";
import { ConsumptionManagementClientContext } from "../consumptionManagementClientContext";

/** Class representing a ReservationRecommendations. */
export class ReservationRecommendations {
  private readonly client: ConsumptionManagementClientContext;

  /**
   * Create a ReservationRecommendations.
   * @param {ConsumptionManagementClientContext} client Reference to the service client.
   */
  constructor(client: ConsumptionManagementClientContext) {
    this.client = client;
  }

  /**
   * List of recommendations for purchasing reserved instances.
   * @param scope The scope associated with reservation recommendations operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param [options] The optional parameters
   * @returns Promise<Models.ReservationRecommendationsListResponse>
   */
  list(scope: string, options?: Models.ReservationRecommendationsListOptionalParams): Promise<Models.ReservationRecommendationsListResponse>;
  /**
   * @param scope The scope associated with reservation recommendations operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param callback The callback
   */
  list(scope: string, callback: msRest.ServiceCallback<Models.ReservationRecommendationsListResult>): void;
  /**
   * @param scope The scope associated with reservation recommendations operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param options The optional parameters
   * @param callback The callback
   */
  list(scope: string, options: Models.ReservationRecommendationsListOptionalParams, callback: msRest.ServiceCallback<Models.ReservationRecommendationsListResult>): void;
  list(scope: string, options?: Models.ReservationRecommendationsListOptionalParams | msRest.ServiceCallback<Models.ReservationRecommendationsListResult>, callback?: msRest.ServiceCallback<Models.ReservationRecommendationsListResult>): Promise<Models.ReservationRecommendationsListResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        options
      },
      listOperationSpec,
      callback) as Promise<Models.ReservationRecommendationsListResponse>;
  }

  /**
   * List of recommendations for purchasing reserved instances.
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.ReservationRecommendationsListNextResponse>
   */
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase): Promise<Models.ReservationRecommendationsListNextResponse>;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param callback The callback
   */
  listNext(nextPageLink: string, callback: msRest.ServiceCallback<Models.ReservationRecommendationsListResult>): void;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  listNext(nextPageLink: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ReservationRecommendationsListResult>): void;
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ReservationRecommendationsListResult>, callback?: msRest.ServiceCallback<Models.ReservationRecommendationsListResult>): Promise<Models.ReservationRecommendationsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        nextPageLink,
        options
      },
      listNextOperationSpec,
      callback) as Promise<Models.ReservationRecommendationsListNextResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const listOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Consumption/reservationRecommendations",
  urlParameters: [
    Parameters.scope
  ],
  queryParameters: [
    Parameters.filter0,
    Parameters.apiVersion
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ReservationRecommendationsListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const listNextOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  baseUrl: "https://management.azure.com",
  path: "{nextLink}",
  urlParameters: [
    Parameters.nextPageLink
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ReservationRecommendationsListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};
