/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as Models from "../models";
import * as Mappers from "../models/reservationRecommendationDetailsMappers";
import * as Parameters from "../models/parameters";
import { ConsumptionManagementClientContext } from "../consumptionManagementClientContext";

/** Class representing a ReservationRecommendationDetails. */
export class ReservationRecommendationDetails {
  private readonly client: ConsumptionManagementClientContext;

  /**
   * Create a ReservationRecommendationDetails.
   * @param {ConsumptionManagementClientContext} client Reference to the service client.
   */
  constructor(client: ConsumptionManagementClientContext) {
    this.client = client;
  }

  /**
   * Details of a reservation recommendation for what-if analysis of reserved instances.
   * @param billingScope The scope associated with reservation recommendation details operations.
   * This includes '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resource group scope,
   * /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param scope Scope of the reservation. Possible values include: 'Single', 'Shared'
   * @param region Used to select the region the recommendation should be generated for.
   * @param term Specify length of reservation recommendation term. Possible values include: 'P1Y',
   * 'P3Y'
   * @param lookBackPeriod Filter the time period on which reservation recommendation results are
   * based. Possible values include: 'Last07Days', 'Last30Days', 'Last60Days'
   * @param product Filter the products for which reservation recommendation results are generated.
   * Examples: Standard_DS1_v2 (for VM), Premium_SSD_Managed_Disks_P30 (for Managed Disks)
   * @param [options] The optional parameters
   * @returns Promise<Models.ReservationRecommendationDetailsGetResponse>
   */
  get(billingScope: string, scope: Models.Scope11, region: string, term: Models.Term, lookBackPeriod: Models.LookBackPeriod, product: string, options?: msRest.RequestOptionsBase): Promise<Models.ReservationRecommendationDetailsGetResponse>;
  /**
   * @param billingScope The scope associated with reservation recommendation details operations.
   * This includes '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resource group scope,
   * /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param scope Scope of the reservation. Possible values include: 'Single', 'Shared'
   * @param region Used to select the region the recommendation should be generated for.
   * @param term Specify length of reservation recommendation term. Possible values include: 'P1Y',
   * 'P3Y'
   * @param lookBackPeriod Filter the time period on which reservation recommendation results are
   * based. Possible values include: 'Last07Days', 'Last30Days', 'Last60Days'
   * @param product Filter the products for which reservation recommendation results are generated.
   * Examples: Standard_DS1_v2 (for VM), Premium_SSD_Managed_Disks_P30 (for Managed Disks)
   * @param callback The callback
   */
  get(billingScope: string, scope: Models.Scope11, region: string, term: Models.Term, lookBackPeriod: Models.LookBackPeriod, product: string, callback: msRest.ServiceCallback<Models.ReservationRecommendationDetailsModel>): void;
  /**
   * @param billingScope The scope associated with reservation recommendation details operations.
   * This includes '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resource group scope,
   * /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
   * for billingProfile scope
   * @param scope Scope of the reservation. Possible values include: 'Single', 'Shared'
   * @param region Used to select the region the recommendation should be generated for.
   * @param term Specify length of reservation recommendation term. Possible values include: 'P1Y',
   * 'P3Y'
   * @param lookBackPeriod Filter the time period on which reservation recommendation results are
   * based. Possible values include: 'Last07Days', 'Last30Days', 'Last60Days'
   * @param product Filter the products for which reservation recommendation results are generated.
   * Examples: Standard_DS1_v2 (for VM), Premium_SSD_Managed_Disks_P30 (for Managed Disks)
   * @param options The optional parameters
   * @param callback The callback
   */
  get(billingScope: string, scope: Models.Scope11, region: string, term: Models.Term, lookBackPeriod: Models.LookBackPeriod, product: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.ReservationRecommendationDetailsModel>): void;
  get(billingScope: string, scope: Models.Scope11, region: string, term: Models.Term, lookBackPeriod: Models.LookBackPeriod, product: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.ReservationRecommendationDetailsModel>, callback?: msRest.ServiceCallback<Models.ReservationRecommendationDetailsModel>): Promise<Models.ReservationRecommendationDetailsGetResponse> {
    return this.client.sendOperationRequest(
      {
        billingScope,
        scope,
        region,
        term,
        lookBackPeriod,
        product,
        options
      },
      getOperationSpec,
      callback) as Promise<Models.ReservationRecommendationDetailsGetResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const getOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{billingScope}/providers/Microsoft.Consumption/reservationRecommendationDetails",
  urlParameters: [
    Parameters.billingScope
  ],
  queryParameters: [
    Parameters.apiVersion,
    Parameters.scope1,
    Parameters.region,
    Parameters.term,
    Parameters.lookBackPeriod,
    Parameters.product
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.ReservationRecommendationDetailsModel
    },
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};
