/*
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License. See License.txt in the project root for
 * license information.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is
 * regenerated.
 */

import * as msRest from "@azure/ms-rest-js";
import * as msRestAzure from "@azure/ms-rest-azure-js";
import * as Models from "../models";
import * as Mappers from "../models/usageDetailsMappers";
import * as Parameters from "../models/parameters";
import { ConsumptionManagementClientContext } from "../consumptionManagementClientContext";

/** Class representing a UsageDetails. */
export class UsageDetails {
  private readonly client: ConsumptionManagementClientContext;

  /**
   * Create a UsageDetails.
   * @param {ConsumptionManagementClientContext} client Reference to the service client.
   */
  constructor(client: ConsumptionManagementClientContext) {
    this.client = client;
  }

  /**
   * Lists the usage details for the defined scope. Usage details are available via this API only for
   * May 1, 2014 or later.
   * @param scope The scope associated with usage details operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope,
   * '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope,
   * '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount
   * scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management
   * Group scope. For subscription, billing account, department, enrollment account and management
   * group, you can also add billing period to the scope using
   * '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing
   * period at department scope use
   * '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
   * @param [options] The optional parameters
   * @returns Promise<Models.UsageDetailsListResponse>
   */
  list(scope: string, options?: Models.UsageDetailsListOptionalParams): Promise<Models.UsageDetailsListResponse>;
  /**
   * @param scope The scope associated with usage details operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope,
   * '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope,
   * '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount
   * scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management
   * Group scope. For subscription, billing account, department, enrollment account and management
   * group, you can also add billing period to the scope using
   * '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing
   * period at department scope use
   * '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
   * @param callback The callback
   */
  list(scope: string, callback: msRest.ServiceCallback<Models.UsageDetailsListResult>): void;
  /**
   * @param scope The scope associated with usage details operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope,
   * '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope,
   * '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount
   * scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management
   * Group scope. For subscription, billing account, department, enrollment account and management
   * group, you can also add billing period to the scope using
   * '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing
   * period at department scope use
   * '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
   * @param options The optional parameters
   * @param callback The callback
   */
  list(scope: string, options: Models.UsageDetailsListOptionalParams, callback: msRest.ServiceCallback<Models.UsageDetailsListResult>): void;
  list(scope: string, options?: Models.UsageDetailsListOptionalParams | msRest.ServiceCallback<Models.UsageDetailsListResult>, callback?: msRest.ServiceCallback<Models.UsageDetailsListResult>): Promise<Models.UsageDetailsListResponse> {
    return this.client.sendOperationRequest(
      {
        scope,
        options
      },
      listOperationSpec,
      callback) as Promise<Models.UsageDetailsListResponse>;
  }

  /**
   * Download usage details data.
   * @param scope The scope associated with usage details operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope,
   * '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope,
   * '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount
   * scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management
   * Group scope. For subscription, billing account, department, enrollment account and management
   * group, you can also add billing period to the scope using
   * '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing
   * period at department scope use
   * '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
   * @param [options] The optional parameters
   * @returns Promise<Models.UsageDetailsDownloadResponse2>
   */
  download(scope: string, options?: Models.UsageDetailsDownloadOptionalParams): Promise<Models.UsageDetailsDownloadResponse2> {
    return this.beginDownload(scope,options)
      .then(lroPoller => lroPoller.pollUntilFinished()) as Promise<Models.UsageDetailsDownloadResponse2>;
  }

  /**
   * Download usage details data.
   * @param scope The scope associated with usage details operations. This includes
   * '/subscriptions/{subscriptionId}/' for subscription scope,
   * '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
   * '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope,
   * '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope,
   * '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount
   * scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management
   * Group scope. For subscription, billing account, department, enrollment account and management
   * group, you can also add billing period to the scope using
   * '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing
   * period at department scope use
   * '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
   * @param [options] The optional parameters
   * @returns Promise<msRestAzure.LROPoller>
   */
  beginDownload(scope: string, options?: Models.UsageDetailsBeginDownloadOptionalParams): Promise<msRestAzure.LROPoller> {
    return this.client.sendLRORequest(
      {
        scope,
        options
      },
      beginDownloadOperationSpec,
      options);
  }

  /**
   * Lists the usage details for the defined scope. Usage details are available via this API only for
   * May 1, 2014 or later.
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param [options] The optional parameters
   * @returns Promise<Models.UsageDetailsListNextResponse>
   */
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase): Promise<Models.UsageDetailsListNextResponse>;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param callback The callback
   */
  listNext(nextPageLink: string, callback: msRest.ServiceCallback<Models.UsageDetailsListResult>): void;
  /**
   * @param nextPageLink The NextLink from the previous successful call to List operation.
   * @param options The optional parameters
   * @param callback The callback
   */
  listNext(nextPageLink: string, options: msRest.RequestOptionsBase, callback: msRest.ServiceCallback<Models.UsageDetailsListResult>): void;
  listNext(nextPageLink: string, options?: msRest.RequestOptionsBase | msRest.ServiceCallback<Models.UsageDetailsListResult>, callback?: msRest.ServiceCallback<Models.UsageDetailsListResult>): Promise<Models.UsageDetailsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        nextPageLink,
        options
      },
      listNextOperationSpec,
      callback) as Promise<Models.UsageDetailsListNextResponse>;
  }
}

// Operation Specifications
const serializer = new msRest.Serializer(Mappers);
const listOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  path: "{scope}/providers/Microsoft.Consumption/usageDetails",
  urlParameters: [
    Parameters.scope
  ],
  queryParameters: [
    Parameters.expand,
    Parameters.filter0,
    Parameters.skiptoken,
    Parameters.top,
    Parameters.apiVersion,
    Parameters.metric
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.UsageDetailsListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const beginDownloadOperationSpec: msRest.OperationSpec = {
  httpMethod: "POST",
  path: "{scope}/providers/Microsoft.Consumption/usageDetails/download",
  urlParameters: [
    Parameters.scope
  ],
  queryParameters: [
    Parameters.apiVersion,
    Parameters.metric
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.UsageDetailsDownloadResponse,
      headersMapper: Mappers.UsageDetailsDownloadHeaders
    },
    202: {
      headersMapper: Mappers.UsageDetailsDownloadHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};

const listNextOperationSpec: msRest.OperationSpec = {
  httpMethod: "GET",
  baseUrl: "https://management.azure.com",
  path: "{nextLink}",
  urlParameters: [
    Parameters.nextPageLink
  ],
  headerParameters: [
    Parameters.acceptLanguage
  ],
  responses: {
    200: {
      bodyMapper: Mappers.UsageDetailsListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  serializer
};
