{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/poi/category/json?query=\u0026lat=25\u0026lon=121\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "query is missing or empty"
        }
      }
    },
    {
      "RequestUri": "https://atlas.microsoft.com/search/poi/category/json?query=Restaurant\u0026lat=-200\u0026lon=121\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "error": {
          "code": "400 BadRequest",
          "message": "Invalid latitude. Latitude should be a float [-90, 90]."
        }
      }
    }
  ],
  "Variables": {}
}
