# Used in most samples.
# Get the key and region - https://learn.microsoft.com/azure/ai-services/translator/document-translation/how-to-guides/use-rest-api-programmatically?tabs=csharp#retrieve-your-key-and-custom-domain-endpoint 

ENDPOINT="https://<your-translator-instance>.cognitiveservices.azure.com"
TEXT_TRANSLATOR_API_KEY="<key>"
TEXT_TRANSLATOR_REGION="<region>"
