# Used in most samples.
# Get the key and region - https://learn.microsoft.com/azure/cognitive-services/Translator/create-translator-resource

ENDPOINT="https://api.cognitive.microsofttranslator.com"
TEXT_TRANSLATOR_API_KEY="<key>"
TEXT_TRANSLATOR_REGION="<region>"
