{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167822542140503499?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB1F5504B0D2DD\u0022",
        "Last-Modified": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167822542140503499/file167822542149209179?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB1F5504C062AE\u0022",
        "Last-Modified": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167822542140503499/file167822542149209179?position=0\u0026action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": "Hello, World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167822542140503499/file167822542149209179?position=12\u0026action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB1F5504DB048E\u0022",
        "Last-Modified": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167822542140503499/file167822542149209179?comp=expiry",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-expiry-option": "Absolute",
        "x-ms-expiry-time": "Tue, 07 Mar 2023 21:44:11 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB1F5504DB048E\u0022",
        "Last-Modified": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167822542140503499?resource=filesystem\u0026recursive=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": {
        "paths": [
          {
            "contentLength": "12",
            "creationTime": "133226990215455406",
            "etag": "0x8DB1F5504DB048E",
            "expiryTime": "133226990510000000",
            "group": "$superuser",
            "lastModified": "Tue, 07 Mar 2023 21:43:41 GMT",
            "name": "file167822542149209179",
            "owner": "$superuser",
            "permissions": "rw-r-----"
          }
        ]
      }
    },
    {
      "RequestUri": "https://fakestorageaccount.dfs.core.windows.net/filesystem167822542140503499/file167822542149209179",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "true",
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/filesystem167822542140503499?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 07 Mar 2023 21:43:41 GMT",
        "x-ms-version": "2021-12-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-12-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "file": "file167822542149209179",
    "filesystem": "filesystem167822542140503499",
    "now": "2023-03-07T21:43:41.492Z"
  }
}
