# Used in most samples. Retrieve these values from a Cognitive Services instance
# in the Azure Portal.

SEARCH_API_KEY=<search api key>
SEARCH_API_ENDPOINT=https://<resource name>.search.windows.net
INDEX_NAME=hotels-sample-index
