{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "double"
        ],
        "linebreak-style": [
            2,
            "windows"
        ],
        "semi": [
            2,
            "always"
        ],
        "curly": 0,
        "dot-notation": 0,
        "eol-last": 0,
        "no-redeclare": 0,
        "no-shadow": 0,
        "no-undef": 0,
        "no-underscore-dangle": 0,
        "no-unused-vars": 0
    },
    "env": {
        "node": true
    }
}