{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementgroups/testabc//providers/Microsoft.Authorization/policyAssignments/passigment?api-version=2021-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "AuthorizationFailed",
          "message": "The client \u0027c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf\u0027 with object id \u0027c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf\u0027 does not have authorization to perform action \u0027Microsoft.Authorization/policyAssignments/delete\u0027 over scope \u0027/providers/Microsoft.Management/managementgroups/testabc/providers/Microsoft.Authorization/policyAssignments/passigment\u0027 or the scope is invalid. If access was recently granted, please refresh your credentials."
        }
      }
    }
  ],
  "Variables": {}
}
