{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "20000000-0001-0000-0000-000000000123"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/20000000-0001-0000-0000-000000000123?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-writes": "1199"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123",
        "type": "Microsoft.Management/managementGroups",
        "name": "20000000-0001-0000-0000-000000000123",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/20000000-0001-0000-0000-000000000123?api-version=2021-04-01",
        "Retry-After": "10",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123",
        "name": "20000000-0001-0000-0000-000000000123",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-tenant-reads": "11996"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/operationResults/create/asyncOperation/status/managementGroups/20000000-0001-0000-0000-000000000123",
        "name": "20000000-0001-0000-0000-000000000123",
        "status": "Succeeded",
        "properties": {
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "displayName": "20000000-0001-0000-0000-000000000123",
          "details": {
            "version": 25,
            "updatedTime": "2022-11-22T09:12:40.3329971Z",
            "updatedBy": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ba-restapi": "0.0.0.0",
        "x-ms-ratelimit-remaining-managementgroups-requests": "59",
        "x-ms-ratelimit-remaining-tenant-reads": "11995"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123",
        "type": "Microsoft.Management/managementGroups",
        "name": "20000000-0001-0000-0000-000000000123",
        "properties": {
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "displayName": "20000000-0001-0000-0000-000000000123",
          "details": {
            "version": 25,
            "updatedTime": "2022-11-22T09:12:40.3329971Z",
            "updatedBy": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "parent": {
              "id": "/providers/Microsoft.Management/managementGroups/88888888-8888-8888-8888-888888888888",
              "name": "88888888-8888-8888-8888-888888888888",
              "displayName": "88888888-8888-8888-8888-888888888888"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123/providers/Microsoft.Authorization/policyDefinitions/jspolicy?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "policyType": "Custom",
          "description": "Don\u0027t create a VM anywhere",
          "policyRule": {
            "if": {
              "allof": [
                {
                  "source": "action",
                  "equals": "Microsoft.Compute/virtualMachines/write"
                },
                {
                  "field": "location",
                  "in": [
                    "eastus",
                    "eastus2",
                    "centralus"
                  ]
                }
              ]
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "policyType": "Custom",
          "mode": "Indexed",
          "description": "Don\u0027t create a VM anywhere",
          "metadata": {
            "createdBy": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "createdOn": "2022-11-22T09:12:58.5904772Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "allof": [
                {
                  "source": "action",
                  "equals": "Microsoft.Compute/virtualMachines/write"
                },
                {
                  "field": "location",
                  "in": [
                    "eastus",
                    "eastus2",
                    "centralus"
                  ]
                }
              ]
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123/providers/Microsoft.Authorization/policyDefinitions/jspolicy",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "jspolicy",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-11-22T09:12:58.545586Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-11-22T09:12:58.545586Z"
        }
      }
    }
  ],
  "Variables": {}
}
