{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123/providers/Microsoft.Authorization/policyDefinitions/jspolicy?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "properties": {
          "policyType": "Custom",
          "mode": "Indexed",
          "description": "Don\u0027t create a VM anywhere",
          "metadata": {
            "createdBy": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "createdOn": "2022-07-01T08:13:19.8784459Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "allof": [
                {
                  "source": "action",
                  "equals": "Microsoft.Compute/virtualMachines/write"
                },
                {
                  "field": "location",
                  "in": [
                    "eastus",
                    "eastus2",
                    "centralus"
                  ]
                }
              ]
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000123/providers/Microsoft.Authorization/policyDefinitions/jspolicy",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "jspolicy",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-07-01T08:13:19.8412238Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-07-01T08:13:19.8412238Z"
        }
      }
    }
  ],
  "Variables": {}
}
