{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz?api-version=2022-05-02-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "properties": {
          "dnsPrefix": "aksjssdk",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_DS2_v2",
              "maxPods": 110,
              "minCount": 1,
              "maxCount": 100,
              "osType": "Linux",
              "type": "VirtualMachineScaleSets",
              "enableAutoScaling": true,
              "mode": "System"
            }
          ],
          "servicePrincipalProfile": {
            "clientId": "azure_client_id",
            "secret": "azure_client_secret"
          }
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerService/locations/eastus/operations/634b68e9-6a06-4b90-beba-1080460eed20?api-version=2017-08-31",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.ContainerService/managedClusters/myreourcexyz",
        "location": "eastus",
        "name": "myreourcexyz",
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
          "provisioningState": "Creating",
          "powerState": {
            "code": "Running"
          },
          "kubernetesVersion": "1.22.11",
          "currentKubernetesVersion": "1.22.11",
          "dnsPrefix": "aksjssdk",
          "fqdn": "aksjssdk-2f21cd08.hcp.eastus.azmk8s.io",
          "azurePortalFQDN": "aksjssdk-2f21cd08.portal.hcp.eastus.azmk8s.io",
          "agentPoolProfiles": [
            {
              "name": "aksagent",
              "count": 1,
              "vmSize": "Standard_DS2_v2",
              "osDiskSizeGB": 128,
              "osDiskType": "Managed",
              "kubeletDiskType": "OS",
              "maxPods": 110,
              "type": "VirtualMachineScaleSets",
              "maxCount": 100,
              "minCount": 1,
              "enableAutoScaling": true,
              "provisioningState": "Creating",
              "powerState": {
                "code": "Running"
              },
              "orchestratorVersion": "1.22.11",
              "currentOrchestratorVersion": "1.22.11",
              "mode": "System",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-1804gen2containerd-2022.06.29",
              "enableFIPS": false
            }
          ],
          "servicePrincipalProfile": {
            "clientId": "azure_client_id"
          },
          "nodeResourceGroup": "MC_myjstest_myreourcexyz_eastus",
          "enableRBAC": true,
          "networkProfile": {
            "networkPlugin": "kubenet",
            "loadBalancerSku": "standard",
            "loadBalancerProfile": {
              "managedOutboundIPs": {
                "count": 1
              }
            },
            "podCidr": "10.244.0.0/16",
            "serviceCidr": "10.0.0.0/16",
            "dnsServiceIP": "10.0.0.10",
            "dockerBridgeCidr": "172.17.0.1/16",
            "outboundType": "loadBalancer",
            "podCidrs": [
              "10.244.0.0/16"
            ],
            "serviceCidrs": [
              "10.0.0.0/16"
            ],
            "ipFamilies": [
              "IPv4"
            ]
          },
          "maxAgentPools": 100,
          "securityProfile": {},
          "storageProfile": {
            "diskCSIDriver": {
              "enabled": true,
              "version": "v1"
            },
            "fileCSIDriver": {
              "enabled": true
            },
            "snapshotController": {
              "enabled": true
            }
          },
          "oidcIssuerProfile": {
            "enabled": false
          }
        },
        "sku": {
          "name": "Basic",
          "tier": "Free"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerService/locations/eastus/operations/634b68e9-6a06-4b90-beba-1080460eed20?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "e9684b63-066a-904b-beba-1080460eed20",
        "status": "InProgress",
        "startTime": "2022-07-14T08:19:42.46Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.ContainerService/locations/eastus/operations/634b68e9-6a06-4b90-beba-1080460eed20?api-version=2017-08-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11883"
      },
      "ResponseBody": {
        "name": "e9684b63-066a-904b-beba-1080460eed20",
        "status": "Succeeded",
        "startTime": "2022-07-14T08:19:42.46Z",
        "endTime": "2022-07-14T08:24:43.3264952Z"
      }
    },
[...]
