/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ClusterRecoveryPointOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { SiteRecoveryManagementClient } from "../siteRecoveryManagementClient.js";
import {
  ClusterRecoveryPointGetOptionalParams,
  ClusterRecoveryPointGetResponse,
} from "../models/index.js";

/** Class containing ClusterRecoveryPointOperations operations. */
export class ClusterRecoveryPointOperationsImpl
  implements ClusterRecoveryPointOperations
{
  private readonly client: SiteRecoveryManagementClient;

  /**
   * Initialize a new instance of the class ClusterRecoveryPointOperations class.
   * @param client Reference to the service client
   */
  constructor(client: SiteRecoveryManagementClient) {
    this.client = client;
  }

  /**
   * Get the details of specified recovery point.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param resourceName The name of the recovery services vault.
   * @param fabricName Fabric name.
   * @param protectionContainerName Protection container name.
   * @param replicationProtectionClusterName Replication protection cluster name.
   * @param recoveryPointName The recovery point name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    resourceName: string,
    fabricName: string,
    protectionContainerName: string,
    replicationProtectionClusterName: string,
    recoveryPointName: string,
    options?: ClusterRecoveryPointGetOptionalParams,
  ): Promise<ClusterRecoveryPointGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        resourceName,
        fabricName,
        protectionContainerName,
        replicationProtectionClusterName,
        recoveryPointName,
        options,
      },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationProtectionClusters/{replicationProtectionClusterName}/recoveryPoints/{recoveryPointName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterRecoveryPoint,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName1,
    Parameters.fabricName1,
    Parameters.protectionContainerName1,
    Parameters.replicationProtectionClusterName,
    Parameters.recoveryPointName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
