/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { MigrationRecoveryPoints } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SiteRecoveryManagementClient } from "../siteRecoveryManagementClient";
import {
  MigrationRecoveryPoint,
  MigrationRecoveryPointsListByReplicationMigrationItemsNextOptionalParams,
  MigrationRecoveryPointsListByReplicationMigrationItemsOptionalParams,
  MigrationRecoveryPointsListByReplicationMigrationItemsResponse,
  MigrationRecoveryPointsGetOptionalParams,
  MigrationRecoveryPointsGetResponse,
  MigrationRecoveryPointsListByReplicationMigrationItemsNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing MigrationRecoveryPoints operations. */
export class MigrationRecoveryPointsImpl implements MigrationRecoveryPoints {
  private readonly client: SiteRecoveryManagementClient;

  /**
   * Initialize a new instance of the class MigrationRecoveryPoints class.
   * @param client Reference to the service client
   */
  constructor(client: SiteRecoveryManagementClient) {
    this.client = client;
  }

  /**
   * Gets the recovery points for a migration item.
   * @param fabricName Fabric unique name.
   * @param protectionContainerName Protection container name.
   * @param migrationItemName Migration item name.
   * @param options The options parameters.
   */
  public listByReplicationMigrationItems(
    fabricName: string,
    protectionContainerName: string,
    migrationItemName: string,
    options?: MigrationRecoveryPointsListByReplicationMigrationItemsOptionalParams
  ): PagedAsyncIterableIterator<MigrationRecoveryPoint> {
    const iter = this.listByReplicationMigrationItemsPagingAll(
      fabricName,
      protectionContainerName,
      migrationItemName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listByReplicationMigrationItemsPagingPage(
          fabricName,
          protectionContainerName,
          migrationItemName,
          options
        );
      }
    };
  }

  private async *listByReplicationMigrationItemsPagingPage(
    fabricName: string,
    protectionContainerName: string,
    migrationItemName: string,
    options?: MigrationRecoveryPointsListByReplicationMigrationItemsOptionalParams
  ): AsyncIterableIterator<MigrationRecoveryPoint[]> {
    let result = await this._listByReplicationMigrationItems(
      fabricName,
      protectionContainerName,
      migrationItemName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listByReplicationMigrationItemsNext(
        fabricName,
        protectionContainerName,
        migrationItemName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listByReplicationMigrationItemsPagingAll(
    fabricName: string,
    protectionContainerName: string,
    migrationItemName: string,
    options?: MigrationRecoveryPointsListByReplicationMigrationItemsOptionalParams
  ): AsyncIterableIterator<MigrationRecoveryPoint> {
    for await (const page of this.listByReplicationMigrationItemsPagingPage(
      fabricName,
      protectionContainerName,
      migrationItemName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets the recovery points for a migration item.
   * @param fabricName Fabric unique name.
   * @param protectionContainerName Protection container name.
   * @param migrationItemName Migration item name.
   * @param options The options parameters.
   */
  private _listByReplicationMigrationItems(
    fabricName: string,
    protectionContainerName: string,
    migrationItemName: string,
    options?: MigrationRecoveryPointsListByReplicationMigrationItemsOptionalParams
  ): Promise<MigrationRecoveryPointsListByReplicationMigrationItemsResponse> {
    return this.client.sendOperationRequest(
      { fabricName, protectionContainerName, migrationItemName, options },
      listByReplicationMigrationItemsOperationSpec
    );
  }

  /**
   * Gets a recovery point for a migration item.
   * @param fabricName Fabric unique name.
   * @param protectionContainerName Protection container name.
   * @param migrationItemName Migration item name.
   * @param migrationRecoveryPointName The migration recovery point name.
   * @param options The options parameters.
   */
  get(
    fabricName: string,
    protectionContainerName: string,
    migrationItemName: string,
    migrationRecoveryPointName: string,
    options?: MigrationRecoveryPointsGetOptionalParams
  ): Promise<MigrationRecoveryPointsGetResponse> {
    return this.client.sendOperationRequest(
      {
        fabricName,
        protectionContainerName,
        migrationItemName,
        migrationRecoveryPointName,
        options
      },
      getOperationSpec
    );
  }

  /**
   * ListByReplicationMigrationItemsNext
   * @param fabricName Fabric unique name.
   * @param protectionContainerName Protection container name.
   * @param migrationItemName Migration item name.
   * @param nextLink The nextLink from the previous successful call to the
   *                 ListByReplicationMigrationItems method.
   * @param options The options parameters.
   */
  private _listByReplicationMigrationItemsNext(
    fabricName: string,
    protectionContainerName: string,
    migrationItemName: string,
    nextLink: string,
    options?: MigrationRecoveryPointsListByReplicationMigrationItemsNextOptionalParams
  ): Promise<
    MigrationRecoveryPointsListByReplicationMigrationItemsNextResponse
  > {
    return this.client.sendOperationRequest(
      {
        fabricName,
        protectionContainerName,
        migrationItemName,
        nextLink,
        options
      },
      listByReplicationMigrationItemsNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByReplicationMigrationItemsOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/migrationRecoveryPoints",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MigrationRecoveryPointCollection
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName,
    Parameters.fabricName,
    Parameters.protectionContainerName,
    Parameters.migrationItemName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationProtectionContainers/{protectionContainerName}/replicationMigrationItems/{migrationItemName}/migrationRecoveryPoints/{migrationRecoveryPointName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MigrationRecoveryPoint
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName,
    Parameters.fabricName,
    Parameters.protectionContainerName,
    Parameters.migrationItemName,
    Parameters.migrationRecoveryPointName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByReplicationMigrationItemsNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MigrationRecoveryPointCollection
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceName,
    Parameters.fabricName,
    Parameters.protectionContainerName,
    Parameters.migrationItemName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
