/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ReplicationAlertSettings } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SiteRecoveryManagementClient } from "../siteRecoveryManagementClient";
import {
  Alert,
  ReplicationAlertSettingsListNextOptionalParams,
  ReplicationAlertSettingsListOptionalParams,
  ReplicationAlertSettingsListResponse,
  ReplicationAlertSettingsGetOptionalParams,
  ReplicationAlertSettingsGetResponse,
  ConfigureAlertRequest,
  ReplicationAlertSettingsCreateOptionalParams,
  ReplicationAlertSettingsCreateResponse,
  ReplicationAlertSettingsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ReplicationAlertSettings operations. */
export class ReplicationAlertSettingsImpl implements ReplicationAlertSettings {
  private readonly client: SiteRecoveryManagementClient;

  /**
   * Initialize a new instance of the class ReplicationAlertSettings class.
   * @param client Reference to the service client
   */
  constructor(client: SiteRecoveryManagementClient) {
    this.client = client;
  }

  /**
   * Gets the list of email notification(alert) configurations for the vault.
   * @param options The options parameters.
   */
  public list(
    options?: ReplicationAlertSettingsListOptionalParams
  ): PagedAsyncIterableIterator<Alert> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: ReplicationAlertSettingsListOptionalParams
  ): AsyncIterableIterator<Alert[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: ReplicationAlertSettingsListOptionalParams
  ): AsyncIterableIterator<Alert> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets the list of email notification(alert) configurations for the vault.
   * @param options The options parameters.
   */
  private _list(
    options?: ReplicationAlertSettingsListOptionalParams
  ): Promise<ReplicationAlertSettingsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Gets the details of the specified email notification(alert) configuration.
   * @param alertSettingName The name of the email notification configuration.
   * @param options The options parameters.
   */
  get(
    alertSettingName: string,
    options?: ReplicationAlertSettingsGetOptionalParams
  ): Promise<ReplicationAlertSettingsGetResponse> {
    return this.client.sendOperationRequest(
      { alertSettingName, options },
      getOperationSpec
    );
  }

  /**
   * Create or update an email notification(alert) configuration.
   * @param alertSettingName The name of the email notification(alert) configuration.
   * @param request The input to configure the email notification(alert).
   * @param options The options parameters.
   */
  create(
    alertSettingName: string,
    request: ConfigureAlertRequest,
    options?: ReplicationAlertSettingsCreateOptionalParams
  ): Promise<ReplicationAlertSettingsCreateResponse> {
    return this.client.sendOperationRequest(
      { alertSettingName, request, options },
      createOperationSpec
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: ReplicationAlertSettingsListNextOptionalParams
  ): Promise<ReplicationAlertSettingsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationAlertSettings",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertCollection
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationAlertSettings/{alertSettingName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Alert
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName,
    Parameters.alertSettingName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationAlertSettings/{alertSettingName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.Alert
    }
  },
  requestBody: Parameters.request,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName,
    Parameters.alertSettingName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertCollection
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
