/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ReplicationProtectionIntents } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SiteRecoveryManagementClient } from "../siteRecoveryManagementClient";
import {
  ReplicationProtectionIntent,
  ReplicationProtectionIntentsListNextOptionalParams,
  ReplicationProtectionIntentsListOptionalParams,
  ReplicationProtectionIntentsListResponse,
  ReplicationProtectionIntentsGetOptionalParams,
  ReplicationProtectionIntentsGetResponse,
  CreateProtectionIntentInput,
  ReplicationProtectionIntentsCreateOptionalParams,
  ReplicationProtectionIntentsCreateResponse,
  ReplicationProtectionIntentsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ReplicationProtectionIntents operations. */
export class ReplicationProtectionIntentsImpl
  implements ReplicationProtectionIntents {
  private readonly client: SiteRecoveryManagementClient;

  /**
   * Initialize a new instance of the class ReplicationProtectionIntents class.
   * @param client Reference to the service client
   */
  constructor(client: SiteRecoveryManagementClient) {
    this.client = client;
  }

  /**
   * Gets the list of ASR replication protection intent objects in the vault.
   * @param options The options parameters.
   */
  public list(
    options?: ReplicationProtectionIntentsListOptionalParams
  ): PagedAsyncIterableIterator<ReplicationProtectionIntent> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: ReplicationProtectionIntentsListOptionalParams
  ): AsyncIterableIterator<ReplicationProtectionIntent[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: ReplicationProtectionIntentsListOptionalParams
  ): AsyncIterableIterator<ReplicationProtectionIntent> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets the list of ASR replication protection intent objects in the vault.
   * @param options The options parameters.
   */
  private _list(
    options?: ReplicationProtectionIntentsListOptionalParams
  ): Promise<ReplicationProtectionIntentsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Gets the details of an ASR replication protection intent.
   * @param intentObjectName Replication protection intent name.
   * @param options The options parameters.
   */
  get(
    intentObjectName: string,
    options?: ReplicationProtectionIntentsGetOptionalParams
  ): Promise<ReplicationProtectionIntentsGetResponse> {
    return this.client.sendOperationRequest(
      { intentObjectName, options },
      getOperationSpec
    );
  }

  /**
   * The operation to create an ASR replication protection intent item.
   * @param intentObjectName A name for the replication protection item.
   * @param input Create Protection Intent Input.
   * @param options The options parameters.
   */
  create(
    intentObjectName: string,
    input: CreateProtectionIntentInput,
    options?: ReplicationProtectionIntentsCreateOptionalParams
  ): Promise<ReplicationProtectionIntentsCreateResponse> {
    return this.client.sendOperationRequest(
      { intentObjectName, input, options },
      createOperationSpec
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: ReplicationProtectionIntentsListNextOptionalParams
  ): Promise<ReplicationProtectionIntentsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationProtectionIntents",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ReplicationProtectionIntentCollection
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.skipToken,
    Parameters.takeToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationProtectionIntents/{intentObjectName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ReplicationProtectionIntent
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName,
    Parameters.intentObjectName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationProtectionIntents/{intentObjectName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ReplicationProtectionIntent
    }
  },
  requestBody: Parameters.input9,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName,
    Parameters.intentObjectName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ReplicationProtectionIntentCollection
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.skipToken,
    Parameters.takeToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
