/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ReplicationStorageClassifications } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SiteRecoveryManagementClient } from "../siteRecoveryManagementClient";
import {
  StorageClassification,
  ReplicationStorageClassificationsListByReplicationFabricsNextOptionalParams,
  ReplicationStorageClassificationsListByReplicationFabricsOptionalParams,
  ReplicationStorageClassificationsListNextOptionalParams,
  ReplicationStorageClassificationsListOptionalParams,
  ReplicationStorageClassificationsListByReplicationFabricsResponse,
  ReplicationStorageClassificationsGetOptionalParams,
  ReplicationStorageClassificationsGetResponse,
  ReplicationStorageClassificationsListResponse,
  ReplicationStorageClassificationsListByReplicationFabricsNextResponse,
  ReplicationStorageClassificationsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ReplicationStorageClassifications operations. */
export class ReplicationStorageClassificationsImpl
  implements ReplicationStorageClassifications {
  private readonly client: SiteRecoveryManagementClient;

  /**
   * Initialize a new instance of the class ReplicationStorageClassifications class.
   * @param client Reference to the service client
   */
  constructor(client: SiteRecoveryManagementClient) {
    this.client = client;
  }

  /**
   * Lists the storage classifications available in the specified fabric.
   * @param fabricName Site name of interest.
   * @param options The options parameters.
   */
  public listByReplicationFabrics(
    fabricName: string,
    options?: ReplicationStorageClassificationsListByReplicationFabricsOptionalParams
  ): PagedAsyncIterableIterator<StorageClassification> {
    const iter = this.listByReplicationFabricsPagingAll(fabricName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listByReplicationFabricsPagingPage(fabricName, options);
      }
    };
  }

  private async *listByReplicationFabricsPagingPage(
    fabricName: string,
    options?: ReplicationStorageClassificationsListByReplicationFabricsOptionalParams
  ): AsyncIterableIterator<StorageClassification[]> {
    let result = await this._listByReplicationFabrics(fabricName, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listByReplicationFabricsNext(
        fabricName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listByReplicationFabricsPagingAll(
    fabricName: string,
    options?: ReplicationStorageClassificationsListByReplicationFabricsOptionalParams
  ): AsyncIterableIterator<StorageClassification> {
    for await (const page of this.listByReplicationFabricsPagingPage(
      fabricName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Lists the storage classifications in the vault.
   * @param options The options parameters.
   */
  public list(
    options?: ReplicationStorageClassificationsListOptionalParams
  ): PagedAsyncIterableIterator<StorageClassification> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: ReplicationStorageClassificationsListOptionalParams
  ): AsyncIterableIterator<StorageClassification[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: ReplicationStorageClassificationsListOptionalParams
  ): AsyncIterableIterator<StorageClassification> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists the storage classifications available in the specified fabric.
   * @param fabricName Site name of interest.
   * @param options The options parameters.
   */
  private _listByReplicationFabrics(
    fabricName: string,
    options?: ReplicationStorageClassificationsListByReplicationFabricsOptionalParams
  ): Promise<
    ReplicationStorageClassificationsListByReplicationFabricsResponse
  > {
    return this.client.sendOperationRequest(
      { fabricName, options },
      listByReplicationFabricsOperationSpec
    );
  }

  /**
   * Gets the details of the specified storage classification.
   * @param fabricName Fabric name.
   * @param storageClassificationName Storage classification name.
   * @param options The options parameters.
   */
  get(
    fabricName: string,
    storageClassificationName: string,
    options?: ReplicationStorageClassificationsGetOptionalParams
  ): Promise<ReplicationStorageClassificationsGetResponse> {
    return this.client.sendOperationRequest(
      { fabricName, storageClassificationName, options },
      getOperationSpec
    );
  }

  /**
   * Lists the storage classifications in the vault.
   * @param options The options parameters.
   */
  private _list(
    options?: ReplicationStorageClassificationsListOptionalParams
  ): Promise<ReplicationStorageClassificationsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListByReplicationFabricsNext
   * @param fabricName Site name of interest.
   * @param nextLink The nextLink from the previous successful call to the ListByReplicationFabrics
   *                 method.
   * @param options The options parameters.
   */
  private _listByReplicationFabricsNext(
    fabricName: string,
    nextLink: string,
    options?: ReplicationStorageClassificationsListByReplicationFabricsNextOptionalParams
  ): Promise<
    ReplicationStorageClassificationsListByReplicationFabricsNextResponse
  > {
    return this.client.sendOperationRequest(
      { fabricName, nextLink, options },
      listByReplicationFabricsNextOperationSpec
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: ReplicationStorageClassificationsListNextOptionalParams
  ): Promise<ReplicationStorageClassificationsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByReplicationFabricsOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationStorageClassifications",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StorageClassificationCollection
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName,
    Parameters.fabricName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationStorageClassifications/{storageClassificationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StorageClassification
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName,
    Parameters.fabricName,
    Parameters.storageClassificationName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationStorageClassifications",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StorageClassificationCollection
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByReplicationFabricsNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StorageClassificationCollection
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceName,
    Parameters.fabricName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.StorageClassificationCollection
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
