// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { PaloAltoNetworksCloudngfwOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { PaloAltoNetworksCloudngfw } from "../paloAltoNetworksCloudngfw.js";
import type {
  PaloAltoNetworksCloudngfwOperationsCreateProductSerialNumberOptionalParams,
  PaloAltoNetworksCloudngfwOperationsCreateProductSerialNumberResponse,
  PaloAltoNetworksCloudngfwOperationsListCloudManagerTenantsOptionalParams,
  PaloAltoNetworksCloudngfwOperationsListCloudManagerTenantsResponse,
  PaloAltoNetworksCloudngfwOperationsListProductSerialNumberStatusOptionalParams,
  PaloAltoNetworksCloudngfwOperationsListProductSerialNumberStatusResponse,
  PaloAltoNetworksCloudngfwOperationsListSupportInfoOptionalParams,
  PaloAltoNetworksCloudngfwOperationsListSupportInfoResponse,
} from "../models/index.js";

/** Class containing PaloAltoNetworksCloudngfwOperations operations. */
export class PaloAltoNetworksCloudngfwOperationsImpl implements PaloAltoNetworksCloudngfwOperations {
  private readonly client: PaloAltoNetworksCloudngfw;

  /**
   * Initialize a new instance of the class PaloAltoNetworksCloudngfwOperations class.
   * @param client Reference to the service client
   */
  constructor(client: PaloAltoNetworksCloudngfw) {
    this.client = client;
  }

  /** @param options The options parameters. */
  createProductSerialNumber(
    options?: PaloAltoNetworksCloudngfwOperationsCreateProductSerialNumberOptionalParams,
  ): Promise<PaloAltoNetworksCloudngfwOperationsCreateProductSerialNumberResponse> {
    return this.client.sendOperationRequest({ options }, createProductSerialNumberOperationSpec);
  }

  /** @param options The options parameters. */
  listCloudManagerTenants(
    options?: PaloAltoNetworksCloudngfwOperationsListCloudManagerTenantsOptionalParams,
  ): Promise<PaloAltoNetworksCloudngfwOperationsListCloudManagerTenantsResponse> {
    return this.client.sendOperationRequest({ options }, listCloudManagerTenantsOperationSpec);
  }

  /** @param options The options parameters. */
  listProductSerialNumberStatus(
    options?: PaloAltoNetworksCloudngfwOperationsListProductSerialNumberStatusOptionalParams,
  ): Promise<PaloAltoNetworksCloudngfwOperationsListProductSerialNumberStatusResponse> {
    return this.client.sendOperationRequest(
      { options },
      listProductSerialNumberStatusOperationSpec,
    );
  }

  /** @param options The options parameters. */
  listSupportInfo(
    options?: PaloAltoNetworksCloudngfwOperationsListSupportInfoOptionalParams,
  ): Promise<PaloAltoNetworksCloudngfwOperationsListSupportInfoResponse> {
    return this.client.sendOperationRequest({ options }, listSupportInfoOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createProductSerialNumberOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/createProductSerialNumber",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ProductSerialNumberRequestStatus,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listCloudManagerTenantsOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listCloudManagerTenants",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CloudManagerTenantList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listProductSerialNumberStatusOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listProductSerialNumberStatus",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ProductSerialNumberStatus,
    },
    404: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listSupportInfoOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listSupportInfo",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.SupportInfoModel,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
