{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/search/alongRoute/json?api-version=1.0\u0026query=burger\u0026maxDetourTime=1000",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": {
        "route": {
          "type": "LineString",
          "coordinates": [
            [
              -122.143035,
              47.653536
            ],
            [
              -122.187164,
              47.617556
            ],
            [
              -122.114981,
              47.570599
            ],
            [
              -122.132756,
              47.654009
            ]
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "summary": {
          "query": "burger",
          "queryType": "NON_NEAR",
          "queryTime": 184,
          "numResults": 10,
          "offset": 0,
          "totalResults": 10,
          "fuzzyLevel": 1
        },
        "results": [
          {
            "type": "POI",
            "id": "840539003143944",
            "score": 2.8276119232,
            "dist": 269.1682087059635,
            "query": "burger",
            "info": "search:ta:840539003143944-US",
            "poi": {
              "name": "Burgers",
              "categorySet": [
                {
                  "id": 7315069
                }
              ],
              "categories": [
                "hamburgers",
                "restaurant"
              ],
              "classifications": [
                {
                  "code": "RESTAURANT",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "restaurant"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "hamburgers"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetNumber": "15701",
              "streetName": "Northeast 39th Street",
              "municipality": "Redmond",
              "countrySecondarySubdivision": "King",
              "countrySubdivision": "WA",
              "countrySubdivisionName": "Washington",
              "postalCode": "98052",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "15701 Northeast 39th Street, Redmond, WA 98052",
              "localName": "Redmond"
            },
            "position": {
              "lat": 47.64376,
              "lon": -122.1281
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 47.64491,
                "lon": -122.12981
              },
              "btmRightPoint": {
                "lat": 47.64261,
                "lon": -122.12639
              }
            },
            "entryPoints": [
              {
                "type": "main",
                "position": {
                  "lat": 47.64491,
                  "lon": -122.1281
                }
              }
            ],
            "detourTime": -422,
            "detourDistance": -14583
          },
          {
            "type": "POI",
            "id": "840539000983176",
            "score": 2.7718887329,
            "dist": 482.496255757968,
            "query": "burger",
            "info": "search:ta:840539000983176-US",
            "poi": {
              "name": "Gulliver\u0027s Burgers \u0026 Subs",
              "phone": "\u002B1 425-562-5115",
              "categorySet": [
                {
                  "id": 7315015
                }
              ],
              "categories": [
                "fast food",
                "restaurant"
              ],
              "classifications": [
                {
                  "code": "RESTAURANT",
                  "names": [
                    {
                      "nameLocale": "en-US",
                      "name": "restaurant"
                    },
                    {
                      "nameLocale": "en-US",
                      "name": "fast food"
                    }
                  ]
                }
              ]
            },
            "address": {
              "streetNumber": "3080",
              "streetName": "148th Avenue Southeast",
              "municipality": "Bellevue",
              "countrySecondarySubdivision": "King",
              "countrySubdivision": "WA",
              "countrySubdivisionName": "Washington",
              "postalCode": "98007",
              "extendedPostalCode": "98007-6410",
              "countryCode": "US",
              "country": "United States",
              "countryCodeISO3": "USA",
              "freeformAddress": "3080 148th Avenue Southeast, Bellevue, WA 98007",
              "localName": "Bellevue"
            },
            "position": {
              "lat": 47.58202,
              "lon": -122.14049
            },
            "viewport": {
              "topLeftPoint": {
                "lat": 47.58319,
                "lon": -122.14222
  [...]
