/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ExtendedZones } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftEdgeZones } from "../microsoftEdgeZones";
import {
  ExtendedZone,
  ExtendedZonesListBySubscriptionNextOptionalParams,
  ExtendedZonesListBySubscriptionOptionalParams,
  ExtendedZonesListBySubscriptionResponse,
  ExtendedZonesGetOptionalParams,
  ExtendedZonesGetResponse,
  ExtendedZonesRegisterOptionalParams,
  ExtendedZonesRegisterResponse,
  ExtendedZonesUnregisterOptionalParams,
  ExtendedZonesUnregisterResponse,
  ExtendedZonesListBySubscriptionNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ExtendedZones operations. */
export class ExtendedZonesImpl implements ExtendedZones {
  private readonly client: MicrosoftEdgeZones;

  /**
   * Initialize a new instance of the class ExtendedZones class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftEdgeZones) {
    this.client = client;
  }

  /**
   * Lists the Azure Extended Zones available to a subscription
   * @param options The options parameters.
   */
  public listBySubscription(
    options?: ExtendedZonesListBySubscriptionOptionalParams,
  ): PagedAsyncIterableIterator<ExtendedZone> {
    const iter = this.listBySubscriptionPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySubscriptionPagingPage(options, settings);
      },
    };
  }

  private async *listBySubscriptionPagingPage(
    options?: ExtendedZonesListBySubscriptionOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ExtendedZone[]> {
    let result: ExtendedZonesListBySubscriptionResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySubscription(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySubscriptionNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySubscriptionPagingAll(
    options?: ExtendedZonesListBySubscriptionOptionalParams,
  ): AsyncIterableIterator<ExtendedZone> {
    for await (const page of this.listBySubscriptionPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists the Azure Extended Zones available to a subscription
   * @param options The options parameters.
   */
  private _listBySubscription(
    options?: ExtendedZonesListBySubscriptionOptionalParams,
  ): Promise<ExtendedZonesListBySubscriptionResponse> {
    return this.client.sendOperationRequest(
      { options },
      listBySubscriptionOperationSpec,
    );
  }

  /**
   * Gets an Azure Extended Zone for a subscription
   * @param extendedZoneName The name of the ExtendedZone
   * @param options The options parameters.
   */
  get(
    extendedZoneName: string,
    options?: ExtendedZonesGetOptionalParams,
  ): Promise<ExtendedZonesGetResponse> {
    return this.client.sendOperationRequest(
      { extendedZoneName, options },
      getOperationSpec,
    );
  }

  /**
   * Registers a subscription for an Extended Zone
   * @param extendedZoneName The name of the ExtendedZone
   * @param options The options parameters.
   */
  register(
    extendedZoneName: string,
    options?: ExtendedZonesRegisterOptionalParams,
  ): Promise<ExtendedZonesRegisterResponse> {
    return this.client.sendOperationRequest(
      { extendedZoneName, options },
      registerOperationSpec,
    );
  }

  /**
   * Unregisters a subscription for an Extended Zone
   * @param extendedZoneName The name of the ExtendedZone
   * @param options The options parameters.
   */
  unregister(
    extendedZoneName: string,
    options?: ExtendedZonesUnregisterOptionalParams,
  ): Promise<ExtendedZonesUnregisterResponse> {
    return this.client.sendOperationRequest(
      { extendedZoneName, options },
      unregisterOperationSpec,
    );
  }

  /**
   * ListBySubscriptionNext
   * @param nextLink The nextLink from the previous successful call to the ListBySubscription method.
   * @param options The options parameters.
   */
  private _listBySubscriptionNext(
    nextLink: string,
    options?: ExtendedZonesListBySubscriptionNextOptionalParams,
  ): Promise<ExtendedZonesListBySubscriptionNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listBySubscriptionNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listBySubscriptionOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/extendedZones",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtendedZoneListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/extendedZones/{extendedZoneName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtendedZone,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.extendedZoneName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const registerOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/extendedZones/{extendedZoneName}/register",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ExtendedZone,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.extendedZoneName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const unregisterOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/extendedZones/{extendedZoneName}/unregister",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ExtendedZone,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.extendedZoneName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listBySubscriptionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExtendedZoneListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
