{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/containerApps/mycontainerappxxx?api-version=2022-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "managedEnvironmentId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/managedEnvironments/testcontainerenv12",
          "template": {
            "containers": [
              {
                "image": "mcr.microsoft.com/azuredocs/containerapps-helloworld",
                "name": "simple-hello-world-container",
                "resources": {
                  "cpu": 0.25,
                  "memory": "0.5Gi"
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/d54d3b95-15b0-4fd2-b9bd-c6fb4a0a3d7a?api-version=2022-06-01-preview\u0026azureAsyncOperation=true",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "x-ms-async-operation-timeout": "PT15M",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/containerapps/mycontainerappxxx",
        "name": "mycontainerappxxx",
        "type": "Microsoft.App/containerApps",
        "location": "East US",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2022-11-15T06:39:59.3102549Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-11-15T06:39:59.3102549Z"
        },
        "properties": {
          "provisioningState": "InProgress",
          "managedEnvironmentId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/managedEnvironments/testcontainerenv12",
          "environmentId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.App/managedEnvironments/testcontainerenv12",
          "outboundIpAddresses": [
            "20.62.233.198"
          ],
          "latestRevisionName": "",
          "latestRevisionFqdn": "",
          "customDomainVerificationId": "55F2E4435A6748F0C3A4666505B3672446A9A9AEFDDC20F98EFEE4B5DCC7807E",
          "configuration": {
            "activeRevisionsMode": "Single"
          },
          "template": {
            "revisionSuffix": "",
            "containers": [
              {
                "image": "mcr.microsoft.com/azuredocs/containerapps-helloworld",
                "name": "simple-hello-world-container",
                "resources": {
                  "cpu": 0.25,
                  "memory": "0.5Gi",
                  "ephemeralStorage": ""
                }
              }
            ],
            "scale": {
              "maxReplicas": 10
            }
          },
          "eventStreamEndpoint": "https://eastus.azurecontainerapps.dev/subscriptions/azure_subscription_id/resourceGroups/myjstest/containerApps/mycontainerappxxx/eventstream"
        },
        "identity": {
          "type": "None"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/d54d3b95-15b0-4fd2-b9bd-c6fb4a0a3d7a?api-version=2022-06-01-preview\u0026azureAsyncOperation=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/d54d3b95-15b0-4fd2-b9bd-c6fb4a0a3d7a",
        "name": "d54d3b95-15b0-4fd2-b9bd-c6fb4a0a3d7a",
        "status": "InProgress",
        "startTime": "2022-11-15T06:39:59.4673406"
      }
    },
[...]
