/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PolicyRestrictionValidations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ApiManagementClient } from "../apiManagementClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  PolicyRestrictionValidationsByServiceOptionalParams,
  PolicyRestrictionValidationsByServiceResponse,
} from "../models";

/** Class containing PolicyRestrictionValidations operations. */
export class PolicyRestrictionValidationsImpl
  implements PolicyRestrictionValidations
{
  private readonly client: ApiManagementClient;

  /**
   * Initialize a new instance of the class PolicyRestrictionValidations class.
   * @param client Reference to the service client
   */
  constructor(client: ApiManagementClient) {
    this.client = client;
  }

  /**
   * Validate all policies of API Management services.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of the API Management service.
   * @param options The options parameters.
   */
  async beginByService(
    resourceGroupName: string,
    serviceName: string,
    options?: PolicyRestrictionValidationsByServiceOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<PolicyRestrictionValidationsByServiceResponse>,
      PolicyRestrictionValidationsByServiceResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<PolicyRestrictionValidationsByServiceResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, serviceName, options },
      spec: byServiceOperationSpec,
    });
    const poller = await createHttpPoller<
      PolicyRestrictionValidationsByServiceResponse,
      OperationState<PolicyRestrictionValidationsByServiceResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Validate all policies of API Management services.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serviceName The name of the API Management service.
   * @param options The options parameters.
   */
  async beginByServiceAndWait(
    resourceGroupName: string,
    serviceName: string,
    options?: PolicyRestrictionValidationsByServiceOptionalParams,
  ): Promise<PolicyRestrictionValidationsByServiceResponse> {
    const poller = await this.beginByService(
      resourceGroupName,
      serviceName,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const byServiceOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/validatePolicies",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.OperationResultContract,
    },
    201: {
      bodyMapper: Mappers.OperationResultContract,
    },
    202: {
      bodyMapper: Mappers.OperationResultContract,
    },
    204: {
      bodyMapper: Mappers.OperationResultContract,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.serviceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
