# Used in most samples. Retrieve these values from the Azure Portal.

# To use Azure Remote Rendering, you need a Remote Rendering Account.
# This is created in a specific domain.

REMOTERENDERING_ARR_ACCOUNT_ID="<ARR account ID>"
REMOTERENDERING_ARR_ACCOUNT_DOMAIN="<ARR account domain>"

# The easiest way to authenticate the account, is with an account key.

REMOTERENDERING_ARR_ACCOUNT_KEY="<ARR account key>"

# A more sophisticated way to authenticate is using Azure AD as a service principal
#  for role-based authentication in the tokenAuth sample.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential

# REMOTERENDERING_TENANT_ID="<AD tenant id or name>"
# REMOTERENDERING_CLIENT_ID="<ID of the user/service principal to authenticate as>"
# REMOTERENDERING_CLIENT_SECRET="<client secret used to authenticate to Azure AD>"

# The remote rendering endpoint, which determines the region in which the service performs its work.
# For converting assets, it is preferable to pick a region close to the storage containing the assets.
# For rendering, it is strongly recommended that you pick the closest region to the devices using
# the service. The time taken to communicate with the server impacts the quality of the experience.

REMOTERENDERING_ARR_SERVICE_ENDPOINT="<ARR Service endpoint>"

# For sample which perform conversion, these define the storage account which carry the assets.

REMOTERENDERING_ARR_STORAGE_ACCOUNT_NAME="<storage account name>"
REMOTERENDERING_ARR_BLOB_CONTAINER_NAME="<blob container name>"

# The recommended way of providing ARR with access to a storage account is to link them
# to the Remote Rendering account. See:
# https://docs.microsoft.com/azure/remote-rendering/how-tos/create-an-account#link-storage-accounts
# Since it can take a little time for the linking to propagate, the tests use SAS tokens instead
# to provide access to blob storage.

REMOTERENDERING_ARR_SAS_TOKEN="<ARR SAS Token>"

# Some samples can use these, but if they are not defined the samples will fall back to the
# ones defined above.

# REMOTERENDERING_ARR_STORAGE_ACCOUNT_NAME2="<another storage account name>"
# REMOTERENDERING_ARR_BLOB_CONTAINER_NAME2="<another blob container name>"

# Our tests assume that TEST_MODE is "playback" by default. You can change it
# to "record" to generate new recordings, or "live" to bypass the recorder
# entirely.

# TEST_MODE="playback"
