/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { DataCollectionRule } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { GeneratedDataCollectionClientContext } from "../generatedDataCollectionClientContext";
import { DataCollectionRuleIngestOptionalParams } from "../models";

/** Class containing DataCollectionRule operations. */
export class DataCollectionRuleImpl implements DataCollectionRule {
  private readonly client: GeneratedDataCollectionClientContext;

  /**
   * Initialize a new instance of the class DataCollectionRule class.
   * @param client Reference to the service client
   */
  constructor(client: GeneratedDataCollectionClientContext) {
    this.client = client;
  }

  /**
   * See error response code and error response message for more detail.
   * @param ruleId The immutable Id of the Data Collection Rule resource.
   * @param stream The streamDeclaration name as defined in the Data Collection Rule.
   * @param body An array of objects matching the schema defined by the provided stream.
   * @param options The options parameters.
   */
  ingest(
    ruleId: string,
    stream: string,
    body: Record<string, unknown>[],
    options?: DataCollectionRuleIngestOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { ruleId, stream, body, options },
      ingestOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const ingestOperationSpec: coreClient.OperationSpec = {
  path: "/dataCollectionRules/{ruleId}/streams/{stream}",
  httpMethod: "POST",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
      headersMapper: Mappers.DataCollectionRuleIngestExceptionHeaders
    }
  },
  requestBody: Parameters.body,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.endpoint, Parameters.ruleId, Parameters.stream],
  headerParameters: [
    Parameters.contentType,
    Parameters.accept,
    Parameters.contentEncoding,
    Parameters.xMsClientRequestId
  ],
  mediaType: "json",
  serializer
};
