SUBSCRIPTION_ID=
RESOURCE_GROUP=
COMMUNICATION_SERVICE_NAME=
COMMUNICATION_ENDPOINT=
KEYVAULT_ENDPOINT=

COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING=
AZURE_TEST_DOMAIN=
AZURE_USERAGENT_OVERRIDE=

TEST_MODE=