# browser #
browser/azure-storage.blob.js
browser/azure-storage.blob.js.map

# dist-esm #
!dist-esm/lib/**/*.js
dist-esm/tests
dist-esm/samples

# dist-test #
dist-test/

# Node #
node_modules/

# Samples #
samples/

# Swagger #
swagger/

# typings #
!typings/lib/**/*.d.ts
typings/tests
typings/samples

# git #
.git*

# Test #
tests/

# Others #
.vscode/
.idea/
.travis.yml
.gitignore
gulpfile.js
.git
.DS_Store
tsconfig.json
tslint.json
*.zip
package-lock.json
karma.conf.js
temp
gulpfile.js
rollup.config.js
rollup.test.config.js
*.html
coverage/
.nyc_output/
test*.xml
*.tgz
coverage-browser
.nycrc
mocha.reporter.config.json