!dist/**/*.js
!dist-esm/lib/**/*.js
!typings/lib/**/*.d.ts

# git #
.git*

# Node #
node_modules/

# Test #
test/
dist/test
es6dist/test
typings/test

# Samples #
samples/
dist/samples
dist-esm/samples
typings/samples

# Swagger #
swagger/

# Others #
.vscode/
.idea/
.travis.yml
.gitignore
gulpfile.js
.git
.DS_Store
tsconfig.json
tslint.json
*.js.map
package-lock.json
karma.conf.js