{
    "include": [
      "lib/**/*.ts"
    ],
    "exclude": [
      "**/*.d.ts",
      "lib/highlevel.common.ts",
      "lib/models.ts",
      "lib/generated/storageClient.ts"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "text-summary",
      "html"
    ],
    "sourceMap": true,
    "instrument": true,
    "all": true
  }