# Confidential Ledger resource endpoint
ENDPOINT=
LEDGER_ID=

# App registration secret for AAD authentication
AZURE_CLIENT_SECRET=
AZURE_CLIENT_ID=
AZURE_TENANT_ID= 

# Client Certificate and Key in PEM format
USER_CERT= 
USER_CERT_KEY=