// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { HypervJobs } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  HypervJob,
  HypervJobsListByHypervSiteNextOptionalParams,
  HypervJobsListByHypervSiteOptionalParams,
  HypervJobsListByHypervSiteResponse,
  HypervJobsGetOptionalParams,
  HypervJobsGetResponse,
  HypervJobsListByHypervSiteNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing HypervJobs operations. */
export class HypervJobsImpl implements HypervJobs {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class HypervJobs class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * List HypervJob resources by HypervSite
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param options The options parameters.
   */
  public listByHypervSite(
    resourceGroupName: string,
    siteName: string,
    options?: HypervJobsListByHypervSiteOptionalParams,
  ): PagedAsyncIterableIterator<HypervJob> {
    const iter = this.listByHypervSitePagingAll(
      resourceGroupName,
      siteName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByHypervSitePagingPage(
          resourceGroupName,
          siteName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByHypervSitePagingPage(
    resourceGroupName: string,
    siteName: string,
    options?: HypervJobsListByHypervSiteOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<HypervJob[]> {
    let result: HypervJobsListByHypervSiteResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByHypervSite(
        resourceGroupName,
        siteName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByHypervSiteNext(
        resourceGroupName,
        siteName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByHypervSitePagingAll(
    resourceGroupName: string,
    siteName: string,
    options?: HypervJobsListByHypervSiteOptionalParams,
  ): AsyncIterableIterator<HypervJob> {
    for await (const page of this.listByHypervSitePagingPage(
      resourceGroupName,
      siteName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List HypervJob resources by HypervSite
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param options The options parameters.
   */
  private _listByHypervSite(
    resourceGroupName: string,
    siteName: string,
    options?: HypervJobsListByHypervSiteOptionalParams,
  ): Promise<HypervJobsListByHypervSiteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, options },
      listByHypervSiteOperationSpec,
    );
  }

  /**
   * Get a HypervJob
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param jobName  Job name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    siteName: string,
    jobName: string,
    options?: HypervJobsGetOptionalParams,
  ): Promise<HypervJobsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, jobName, options },
      getOperationSpec,
    );
  }

  /**
   * ListByHypervSiteNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param nextLink The nextLink from the previous successful call to the ListByHypervSite method.
   * @param options The options parameters.
   */
  private _listByHypervSiteNext(
    resourceGroupName: string,
    siteName: string,
    nextLink: string,
    options?: HypervJobsListByHypervSiteNextOptionalParams,
  ): Promise<HypervJobsListByHypervSiteNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, nextLink, options },
      listByHypervSiteNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByHypervSiteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/jobs",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HypervJobListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/jobs/{jobName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HypervJob,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.jobName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByHypervSiteNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HypervJobListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
