// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { HypervSoftwareInventoriesController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  HypervVmSoftwareInventory,
  HypervSoftwareInventoriesControllerListByHypervMachineNextOptionalParams,
  HypervSoftwareInventoriesControllerListByHypervMachineOptionalParams,
  HypervSoftwareInventoriesControllerListByHypervMachineResponse,
  Default,
  HypervSoftwareInventoriesControllerGetMachineSoftwareInventoryOptionalParams,
  HypervSoftwareInventoriesControllerGetMachineSoftwareInventoryResponse,
  HypervSoftwareInventoriesControllerListByHypervMachineNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing HypervSoftwareInventoriesController operations. */
export class HypervSoftwareInventoriesControllerImpl implements HypervSoftwareInventoriesController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class HypervSoftwareInventoriesController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * List HypervVmSoftwareInventory resources by HypervMachine
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param machineName Machine name.
   * @param options The options parameters.
   */
  public listByHypervMachine(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: HypervSoftwareInventoriesControllerListByHypervMachineOptionalParams,
  ): PagedAsyncIterableIterator<HypervVmSoftwareInventory> {
    const iter = this.listByHypervMachinePagingAll(
      resourceGroupName,
      siteName,
      machineName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByHypervMachinePagingPage(
          resourceGroupName,
          siteName,
          machineName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByHypervMachinePagingPage(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: HypervSoftwareInventoriesControllerListByHypervMachineOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<HypervVmSoftwareInventory[]> {
    let result: HypervSoftwareInventoriesControllerListByHypervMachineResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByHypervMachine(
        resourceGroupName,
        siteName,
        machineName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByHypervMachineNext(
        resourceGroupName,
        siteName,
        machineName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByHypervMachinePagingAll(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: HypervSoftwareInventoriesControllerListByHypervMachineOptionalParams,
  ): AsyncIterableIterator<HypervVmSoftwareInventory> {
    for await (const page of this.listByHypervMachinePagingPage(
      resourceGroupName,
      siteName,
      machineName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Method to get a machines software inventory like applications and roles.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param machineName  HypervMachine name
   * @param defaultParam Default value.
   * @param options The options parameters.
   */
  getMachineSoftwareInventory(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    defaultParam: Default,
    options?: HypervSoftwareInventoriesControllerGetMachineSoftwareInventoryOptionalParams,
  ): Promise<HypervSoftwareInventoriesControllerGetMachineSoftwareInventoryResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, defaultParam, options },
      getMachineSoftwareInventoryOperationSpec,
    );
  }

  /**
   * List HypervVmSoftwareInventory resources by HypervMachine
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param machineName Machine name.
   * @param options The options parameters.
   */
  private _listByHypervMachine(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: HypervSoftwareInventoriesControllerListByHypervMachineOptionalParams,
  ): Promise<HypervSoftwareInventoriesControllerListByHypervMachineResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, options },
      listByHypervMachineOperationSpec,
    );
  }

  /**
   * ListByHypervMachineNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param machineName Machine name.
   * @param nextLink The nextLink from the previous successful call to the ListByHypervMachine method.
   * @param options The options parameters.
   */
  private _listByHypervMachineNext(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    nextLink: string,
    options?: HypervSoftwareInventoriesControllerListByHypervMachineNextOptionalParams,
  ): Promise<HypervSoftwareInventoriesControllerListByHypervMachineNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, nextLink, options },
      listByHypervMachineNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getMachineSoftwareInventoryOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/machines/{machineName}/softwareInventories/{default}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HypervVmSoftwareInventory,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
    Parameters.defaultParam,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByHypervMachineOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/machines/{machineName}/softwareinventories",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HypervVmSoftwareInventoryListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByHypervMachineNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HypervVmSoftwareInventoryListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
