// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { PrivateLinkResourcesController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  PrivateLinkResource,
  PrivateLinkResourcesControllerListByMasterSiteNextOptionalParams,
  PrivateLinkResourcesControllerListByMasterSiteOptionalParams,
  PrivateLinkResourcesControllerListByMasterSiteResponse,
  PrivateLinkResourcesControllerGetOptionalParams,
  PrivateLinkResourcesControllerGetResponse,
  PrivateLinkResourcesControllerListByMasterSiteNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing PrivateLinkResourcesController operations. */
export class PrivateLinkResourcesControllerImpl implements PrivateLinkResourcesController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class PrivateLinkResourcesController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * Gets the private link resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param options The options parameters.
   */
  public listByMasterSite(
    resourceGroupName: string,
    siteName: string,
    options?: PrivateLinkResourcesControllerListByMasterSiteOptionalParams,
  ): PagedAsyncIterableIterator<PrivateLinkResource> {
    const iter = this.listByMasterSitePagingAll(
      resourceGroupName,
      siteName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByMasterSitePagingPage(
          resourceGroupName,
          siteName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByMasterSitePagingPage(
    resourceGroupName: string,
    siteName: string,
    options?: PrivateLinkResourcesControllerListByMasterSiteOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<PrivateLinkResource[]> {
    let result: PrivateLinkResourcesControllerListByMasterSiteResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByMasterSite(
        resourceGroupName,
        siteName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByMasterSiteNext(
        resourceGroupName,
        siteName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByMasterSitePagingAll(
    resourceGroupName: string,
    siteName: string,
    options?: PrivateLinkResourcesControllerListByMasterSiteOptionalParams,
  ): AsyncIterableIterator<PrivateLinkResource> {
    for await (const page of this.listByMasterSitePagingPage(
      resourceGroupName,
      siteName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets the private link resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param options The options parameters.
   */
  private _listByMasterSite(
    resourceGroupName: string,
    siteName: string,
    options?: PrivateLinkResourcesControllerListByMasterSiteOptionalParams,
  ): Promise<PrivateLinkResourcesControllerListByMasterSiteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, options },
      listByMasterSiteOperationSpec,
    );
  }

  /**
   * Gets the private link resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param privateLinkResourceName Private link resource name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    siteName: string,
    privateLinkResourceName: string,
    options?: PrivateLinkResourcesControllerGetOptionalParams,
  ): Promise<PrivateLinkResourcesControllerGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, privateLinkResourceName, options },
      getOperationSpec,
    );
  }

  /**
   * ListByMasterSiteNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param nextLink The nextLink from the previous successful call to the ListByMasterSite method.
   * @param options The options parameters.
   */
  private _listByMasterSiteNext(
    resourceGroupName: string,
    siteName: string,
    nextLink: string,
    options?: PrivateLinkResourcesControllerListByMasterSiteNextOptionalParams,
  ): Promise<PrivateLinkResourcesControllerListByMasterSiteNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, nextLink, options },
      listByMasterSiteNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByMasterSiteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/privateLinkResources",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourceListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/privateLinkResources/{privateLinkResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResource,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.privateLinkResourceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByMasterSiteNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourceListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
