// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { PrivateEndpointConnectionController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  PrivateEndpointConnection,
  PrivateEndpointConnectionControllerListByMasterSiteNextOptionalParams,
  PrivateEndpointConnectionControllerListByMasterSiteOptionalParams,
  PrivateEndpointConnectionControllerListByMasterSiteResponse,
  PrivateEndpointConnectionControllerGetOptionalParams,
  PrivateEndpointConnectionControllerGetResponse,
  PrivateEndpointConnectionControllerCreateOptionalParams,
  PrivateEndpointConnectionControllerCreateResponse,
  PrivateEndpointConnectionControllerDeleteOptionalParams,
  PrivateEndpointConnectionControllerListByMasterSiteNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing PrivateEndpointConnectionController operations. */
export class PrivateEndpointConnectionControllerImpl implements PrivateEndpointConnectionController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class PrivateEndpointConnectionController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * Gets the private link resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param options The options parameters.
   */
  public listByMasterSite(
    resourceGroupName: string,
    siteName: string,
    options?: PrivateEndpointConnectionControllerListByMasterSiteOptionalParams,
  ): PagedAsyncIterableIterator<PrivateEndpointConnection> {
    const iter = this.listByMasterSitePagingAll(
      resourceGroupName,
      siteName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByMasterSitePagingPage(
          resourceGroupName,
          siteName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByMasterSitePagingPage(
    resourceGroupName: string,
    siteName: string,
    options?: PrivateEndpointConnectionControllerListByMasterSiteOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<PrivateEndpointConnection[]> {
    let result: PrivateEndpointConnectionControllerListByMasterSiteResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByMasterSite(
        resourceGroupName,
        siteName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByMasterSiteNext(
        resourceGroupName,
        siteName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByMasterSitePagingAll(
    resourceGroupName: string,
    siteName: string,
    options?: PrivateEndpointConnectionControllerListByMasterSiteOptionalParams,
  ): AsyncIterableIterator<PrivateEndpointConnection> {
    for await (const page of this.listByMasterSitePagingPage(
      resourceGroupName,
      siteName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets the private link resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param options The options parameters.
   */
  private _listByMasterSite(
    resourceGroupName: string,
    siteName: string,
    options?: PrivateEndpointConnectionControllerListByMasterSiteOptionalParams,
  ): Promise<PrivateEndpointConnectionControllerListByMasterSiteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, options },
      listByMasterSiteOperationSpec,
    );
  }

  /**
   * Gets the private link resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param peConnectionName  Private link resource name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    siteName: string,
    peConnectionName: string,
    options?: PrivateEndpointConnectionControllerGetOptionalParams,
  ): Promise<PrivateEndpointConnectionControllerGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, peConnectionName, options },
      getOperationSpec,
    );
  }

  /**
   * Gets the private link resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param peConnectionName  Private link resource name.
   * @param body Resource create parameters.
   * @param options The options parameters.
   */
  create(
    resourceGroupName: string,
    siteName: string,
    peConnectionName: string,
    body: PrivateEndpointConnection,
    options?: PrivateEndpointConnectionControllerCreateOptionalParams,
  ): Promise<PrivateEndpointConnectionControllerCreateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, peConnectionName, body, options },
      createOperationSpec,
    );
  }

  /**
   * Deletes the private link resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param peConnectionName  Private link resource name.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    siteName: string,
    peConnectionName: string,
    options?: PrivateEndpointConnectionControllerDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, peConnectionName, options },
      deleteOperationSpec,
    );
  }

  /**
   * ListByMasterSiteNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param nextLink The nextLink from the previous successful call to the ListByMasterSite method.
   * @param options The options parameters.
   */
  private _listByMasterSiteNext(
    resourceGroupName: string,
    siteName: string,
    nextLink: string,
    options?: PrivateEndpointConnectionControllerListByMasterSiteNextOptionalParams,
  ): Promise<PrivateEndpointConnectionControllerListByMasterSiteNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, nextLink, options },
      listByMasterSiteNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByMasterSiteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/privateEndpointConnections",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateEndpointConnectionListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/privateEndpointConnections/{peConnectionName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateEndpointConnection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.peConnectionName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/privateEndpointConnections/{peConnectionName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateEndpointConnection,
    },
    201: {
      bodyMapper: Mappers.PrivateEndpointConnection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.body17,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.peConnectionName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/privateEndpointConnections/{peConnectionName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.peConnectionName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByMasterSiteNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateEndpointConnectionListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
