// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { ServersController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  Server,
  ServersControllerListByServerSiteResourceNextOptionalParams,
  ServersControllerListByServerSiteResourceOptionalParams,
  ServersControllerListByServerSiteResourceResponse,
  ServersControllerGetMachineOptionalParams,
  ServersControllerGetMachineResponse,
  ServerUpdate,
  ServersControllerUpdateMachineOptionalParams,
  ServersControllerUpdateMachineResponse,
  ServersControllerDeleteMachineOptionalParams,
  ServersControllerListByServerSiteResourceNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing ServersController operations. */
export class ServersControllerImpl implements ServersController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class ServersController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * Get all machines in a site.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param options The options parameters.
   */
  public listByServerSiteResource(
    resourceGroupName: string,
    siteName: string,
    options?: ServersControllerListByServerSiteResourceOptionalParams,
  ): PagedAsyncIterableIterator<Server> {
    const iter = this.listByServerSiteResourcePagingAll(
      resourceGroupName,
      siteName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByServerSiteResourcePagingPage(
          resourceGroupName,
          siteName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByServerSiteResourcePagingPage(
    resourceGroupName: string,
    siteName: string,
    options?: ServersControllerListByServerSiteResourceOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<Server[]> {
    let result: ServersControllerListByServerSiteResourceResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByServerSiteResource(
        resourceGroupName,
        siteName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByServerSiteResourceNext(
        resourceGroupName,
        siteName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByServerSiteResourcePagingAll(
    resourceGroupName: string,
    siteName: string,
    options?: ServersControllerListByServerSiteResourceOptionalParams,
  ): AsyncIterableIterator<Server> {
    for await (const page of this.listByServerSiteResourcePagingPage(
      resourceGroupName,
      siteName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get all machines in a site.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param options The options parameters.
   */
  private _listByServerSiteResource(
    resourceGroupName: string,
    siteName: string,
    options?: ServersControllerListByServerSiteResourceOptionalParams,
  ): Promise<ServersControllerListByServerSiteResourceResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, options },
      listByServerSiteResourceOperationSpec,
    );
  }

  /**
   * Get a Server
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param machineName  A server machine name
   * @param options The options parameters.
   */
  getMachine(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: ServersControllerGetMachineOptionalParams,
  ): Promise<ServersControllerGetMachineResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, options },
      getMachineOperationSpec,
    );
  }

  /**
   * Update a Server machine
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param machineName  A server machine name
   * @param body The resource properties to be updated.
   * @param options The options parameters.
   */
  updateMachine(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    body: ServerUpdate,
    options?: ServersControllerUpdateMachineOptionalParams,
  ): Promise<ServersControllerUpdateMachineResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, body, options },
      updateMachineOperationSpec,
    );
  }

  /**
   * Delete a Server
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param machineName  A server machine name
   * @param options The options parameters.
   */
  deleteMachine(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: ServersControllerDeleteMachineOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, options },
      deleteMachineOperationSpec,
    );
  }

  /**
   * ListByServerSiteResourceNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param nextLink The nextLink from the previous successful call to the ListByServerSiteResource
   *                 method.
   * @param options The options parameters.
   */
  private _listByServerSiteResourceNext(
    resourceGroupName: string,
    siteName: string,
    nextLink: string,
    options?: ServersControllerListByServerSiteResourceNextOptionalParams,
  ): Promise<ServersControllerListByServerSiteResourceNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, nextLink, options },
      listByServerSiteResourceNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByServerSiteResourceOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/serverSites/{siteName}/machines",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ServerListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.continuationToken,
    Parameters.totalRecordCount,
    Parameters.top1,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getMachineOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/serverSites/{siteName}/machines/{machineName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Server,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const updateMachineOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/serverSites/{siteName}/machines/{machineName}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.Server,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.body30,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteMachineOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/serverSites/{siteName}/machines/{machineName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByServerSiteResourceNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ServerListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
