// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { SqlImportJobsController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  ImportSqlInventoryJob,
  SqlImportJobsControllerListImportjobsNextOptionalParams,
  SqlImportJobsControllerListImportjobsOptionalParams,
  SqlImportJobsControllerListImportjobsResponse,
  SqlImportJobsControllerGetImportjobOptionalParams,
  SqlImportJobsControllerGetImportjobResponse,
  SqlImportJobsControllerListImportjobsNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing SqlImportJobsController operations. */
export class SqlImportJobsControllerImpl implements SqlImportJobsController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class SqlImportJobsController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * Method to get all import SQL inventory job for the given site.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param sqlSiteName SQL site name.
   * @param options The options parameters.
   */
  public listImportjobs(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    options?: SqlImportJobsControllerListImportjobsOptionalParams,
  ): PagedAsyncIterableIterator<ImportSqlInventoryJob> {
    const iter = this.listImportjobsPagingAll(
      resourceGroupName,
      siteName,
      sqlSiteName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listImportjobsPagingPage(
          resourceGroupName,
          siteName,
          sqlSiteName,
          options,
          settings,
        );
      },
    };
  }

  private async *listImportjobsPagingPage(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    options?: SqlImportJobsControllerListImportjobsOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ImportSqlInventoryJob[]> {
    let result: SqlImportJobsControllerListImportjobsResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listImportjobs(
        resourceGroupName,
        siteName,
        sqlSiteName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listImportjobsNext(
        resourceGroupName,
        siteName,
        sqlSiteName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listImportjobsPagingAll(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    options?: SqlImportJobsControllerListImportjobsOptionalParams,
  ): AsyncIterableIterator<ImportSqlInventoryJob> {
    for await (const page of this.listImportjobsPagingPage(
      resourceGroupName,
      siteName,
      sqlSiteName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Method to get all import SQL inventory job for the given site.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param sqlSiteName SQL site name.
   * @param options The options parameters.
   */
  private _listImportjobs(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    options?: SqlImportJobsControllerListImportjobsOptionalParams,
  ): Promise<SqlImportJobsControllerListImportjobsResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, sqlSiteName, options },
      listImportjobsOperationSpec,
    );
  }

  /**
   * Gets the SQL inventory import job with the given job name.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param sqlSiteName SQL site name.
   * @param jobName Job Arm Name.
   * @param options The options parameters.
   */
  getImportjob(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    jobName: string,
    options?: SqlImportJobsControllerGetImportjobOptionalParams,
  ): Promise<SqlImportJobsControllerGetImportjobResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, sqlSiteName, jobName, options },
      getImportjobOperationSpec,
    );
  }

  /**
   * ListImportjobsNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param sqlSiteName SQL site name.
   * @param nextLink The nextLink from the previous successful call to the ListImportjobs method.
   * @param options The options parameters.
   */
  private _listImportjobsNext(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    nextLink: string,
    options?: SqlImportJobsControllerListImportjobsNextOptionalParams,
  ): Promise<SqlImportJobsControllerListImportjobsNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, sqlSiteName, nextLink, options },
      listImportjobsNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listImportjobsOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/importJobs",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PagedImportSqlInventoryJob,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.sqlSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getImportjobOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/importJobs/{jobName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ImportSqlInventoryJob,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.jobName,
    Parameters.sqlSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listImportjobsNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PagedImportSqlInventoryJob,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.sqlSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
