// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { SqlOperationsStatusController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  SqlOperationsStatusControllerGetSqlOperationStatusOptionalParams,
  SqlOperationsStatusControllerGetSqlOperationStatusResponse,
} from "../models/index.js";

/** Class containing SqlOperationsStatusController operations. */
export class SqlOperationsStatusControllerImpl implements SqlOperationsStatusController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class SqlOperationsStatusController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * Method to get operation status.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName
   * @param sqlSiteName
   * @param operationStatusName
   * @param options The options parameters.
   */
  getSqlOperationStatus(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    operationStatusName: string,
    options?: SqlOperationsStatusControllerGetSqlOperationStatusOptionalParams,
  ): Promise<SqlOperationsStatusControllerGetSqlOperationStatusResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        siteName,
        sqlSiteName,
        operationStatusName,
        options,
      },
      getSqlOperationStatusOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getSqlOperationStatusOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/operationsStatus/{operationStatusName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationStatus,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.operationStatusName,
    Parameters.sqlSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
