// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { SqlRunAsAccountsController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  SqlRunAsAccount,
  SqlRunAsAccountsControllerListBySqlSiteNextOptionalParams,
  SqlRunAsAccountsControllerListBySqlSiteOptionalParams,
  SqlRunAsAccountsControllerListBySqlSiteResponse,
  SqlRunAsAccountsControllerGetOptionalParams,
  SqlRunAsAccountsControllerGetResponse,
  SqlRunAsAccountsControllerListBySqlSiteNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing SqlRunAsAccountsController operations. */
export class SqlRunAsAccountsControllerImpl implements SqlRunAsAccountsController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class SqlRunAsAccountsController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * List SqlRunAsAccount resources by SqlSite
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param sqlSiteName SQL site name.
   * @param options The options parameters.
   */
  public listBySqlSite(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    options?: SqlRunAsAccountsControllerListBySqlSiteOptionalParams,
  ): PagedAsyncIterableIterator<SqlRunAsAccount> {
    const iter = this.listBySqlSitePagingAll(
      resourceGroupName,
      siteName,
      sqlSiteName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySqlSitePagingPage(
          resourceGroupName,
          siteName,
          sqlSiteName,
          options,
          settings,
        );
      },
    };
  }

  private async *listBySqlSitePagingPage(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    options?: SqlRunAsAccountsControllerListBySqlSiteOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SqlRunAsAccount[]> {
    let result: SqlRunAsAccountsControllerListBySqlSiteResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySqlSite(
        resourceGroupName,
        siteName,
        sqlSiteName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySqlSiteNext(
        resourceGroupName,
        siteName,
        sqlSiteName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySqlSitePagingAll(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    options?: SqlRunAsAccountsControllerListBySqlSiteOptionalParams,
  ): AsyncIterableIterator<SqlRunAsAccount> {
    for await (const page of this.listBySqlSitePagingPage(
      resourceGroupName,
      siteName,
      sqlSiteName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List SqlRunAsAccount resources by SqlSite
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param sqlSiteName SQL site name.
   * @param options The options parameters.
   */
  private _listBySqlSite(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    options?: SqlRunAsAccountsControllerListBySqlSiteOptionalParams,
  ): Promise<SqlRunAsAccountsControllerListBySqlSiteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, sqlSiteName, options },
      listBySqlSiteOperationSpec,
    );
  }

  /**
   * Get a SqlRunAsAccount
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param sqlSiteName SQL site name.
   * @param accountName SQL RunAsAccounts name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    accountName: string,
    options?: SqlRunAsAccountsControllerGetOptionalParams,
  ): Promise<SqlRunAsAccountsControllerGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, sqlSiteName, accountName, options },
      getOperationSpec,
    );
  }

  /**
   * ListBySqlSiteNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param sqlSiteName SQL site name.
   * @param nextLink The nextLink from the previous successful call to the ListBySqlSite method.
   * @param options The options parameters.
   */
  private _listBySqlSiteNext(
    resourceGroupName: string,
    siteName: string,
    sqlSiteName: string,
    nextLink: string,
    options?: SqlRunAsAccountsControllerListBySqlSiteNextOptionalParams,
  ): Promise<SqlRunAsAccountsControllerListBySqlSiteNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, sqlSiteName, nextLink, options },
      listBySqlSiteNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listBySqlSiteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/runAsAccounts",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SqlRunAsAccountListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.sqlSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/runAsAccounts/{accountName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SqlRunAsAccount,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.accountName,
    Parameters.sqlSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listBySqlSiteNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SqlRunAsAccountListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.sqlSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
