// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { VmwareSoftwareInventoriesController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  VmwareMachineSoftwareInventory,
  VmwareSoftwareInventoriesControllerListByMachineResourceNextOptionalParams,
  VmwareSoftwareInventoriesControllerListByMachineResourceOptionalParams,
  VmwareSoftwareInventoriesControllerListByMachineResourceResponse,
  Default,
  VmwareSoftwareInventoriesControllerGetMachineSoftwareInventoryOptionalParams,
  VmwareSoftwareInventoriesControllerGetMachineSoftwareInventoryResponse,
  VmwareSoftwareInventoriesControllerListByMachineResourceNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing VmwareSoftwareInventoriesController operations. */
export class VmwareSoftwareInventoriesControllerImpl implements VmwareSoftwareInventoriesController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class VmwareSoftwareInventoriesController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * List VmwareMachineSoftwareInventory resources by MachineResource
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param machineName Machine name.
   * @param options The options parameters.
   */
  public listByMachineResource(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: VmwareSoftwareInventoriesControllerListByMachineResourceOptionalParams,
  ): PagedAsyncIterableIterator<VmwareMachineSoftwareInventory> {
    const iter = this.listByMachineResourcePagingAll(
      resourceGroupName,
      siteName,
      machineName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByMachineResourcePagingPage(
          resourceGroupName,
          siteName,
          machineName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByMachineResourcePagingPage(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: VmwareSoftwareInventoriesControllerListByMachineResourceOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<VmwareMachineSoftwareInventory[]> {
    let result: VmwareSoftwareInventoriesControllerListByMachineResourceResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByMachineResource(
        resourceGroupName,
        siteName,
        machineName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByMachineResourceNext(
        resourceGroupName,
        siteName,
        machineName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByMachineResourcePagingAll(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: VmwareSoftwareInventoriesControllerListByMachineResourceOptionalParams,
  ): AsyncIterableIterator<VmwareMachineSoftwareInventory> {
    for await (const page of this.listByMachineResourcePagingPage(
      resourceGroupName,
      siteName,
      machineName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Method to get a machines software inventory like applications and roles.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param machineName Machine name
   * @param defaultParam Default value.
   * @param options The options parameters.
   */
  getMachineSoftwareInventory(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    defaultParam: Default,
    options?: VmwareSoftwareInventoriesControllerGetMachineSoftwareInventoryOptionalParams,
  ): Promise<VmwareSoftwareInventoriesControllerGetMachineSoftwareInventoryResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, defaultParam, options },
      getMachineSoftwareInventoryOperationSpec,
    );
  }

  /**
   * List VmwareMachineSoftwareInventory resources by MachineResource
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param machineName Machine name.
   * @param options The options parameters.
   */
  private _listByMachineResource(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    options?: VmwareSoftwareInventoriesControllerListByMachineResourceOptionalParams,
  ): Promise<VmwareSoftwareInventoriesControllerListByMachineResourceResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, options },
      listByMachineResourceOperationSpec,
    );
  }

  /**
   * ListByMachineResourceNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param machineName Machine name.
   * @param nextLink The nextLink from the previous successful call to the ListByMachineResource method.
   * @param options The options parameters.
   */
  private _listByMachineResourceNext(
    resourceGroupName: string,
    siteName: string,
    machineName: string,
    nextLink: string,
    options?: VmwareSoftwareInventoriesControllerListByMachineResourceNextOptionalParams,
  ): Promise<VmwareSoftwareInventoriesControllerListByMachineResourceNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, machineName, nextLink, options },
      listByMachineResourceNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getMachineSoftwareInventoryOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/machines/{machineName}/softwareInventories/{default}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VmwareMachineSoftwareInventory,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
    Parameters.defaultParam,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByMachineResourceOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/vmwareSites/{siteName}/machines/{machineName}/softwareinventories",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VmwareMachineSoftwareInventoryListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByMachineResourceNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VmwareMachineSoftwareInventoryListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
