// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { WebAppExtendedMachinesController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateDiscoveryService } from "../azureMigrateDiscoveryService.js";
import {
  WebAppExtendedMachine,
  WebAppExtendedMachinesControllerListByWebAppSiteNextOptionalParams,
  WebAppExtendedMachinesControllerListByWebAppSiteOptionalParams,
  WebAppExtendedMachinesControllerListByWebAppSiteResponse,
  WebAppExtendedMachinesControllerGetOptionalParams,
  WebAppExtendedMachinesControllerGetResponse,
  WebAppExtendedMachinesControllerListByWebAppSiteNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing WebAppExtendedMachinesController operations. */
export class WebAppExtendedMachinesControllerImpl implements WebAppExtendedMachinesController {
  private readonly client: AzureMigrateDiscoveryService;

  /**
   * Initialize a new instance of the class WebAppExtendedMachinesController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateDiscoveryService) {
    this.client = client;
  }

  /**
   * Method to get all extended machines.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param webAppSiteName Web app site name.
   * @param options The options parameters.
   */
  public listByWebAppSite(
    resourceGroupName: string,
    siteName: string,
    webAppSiteName: string,
    options?: WebAppExtendedMachinesControllerListByWebAppSiteOptionalParams,
  ): PagedAsyncIterableIterator<WebAppExtendedMachine> {
    const iter = this.listByWebAppSitePagingAll(
      resourceGroupName,
      siteName,
      webAppSiteName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByWebAppSitePagingPage(
          resourceGroupName,
          siteName,
          webAppSiteName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByWebAppSitePagingPage(
    resourceGroupName: string,
    siteName: string,
    webAppSiteName: string,
    options?: WebAppExtendedMachinesControllerListByWebAppSiteOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<WebAppExtendedMachine[]> {
    let result: WebAppExtendedMachinesControllerListByWebAppSiteResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByWebAppSite(
        resourceGroupName,
        siteName,
        webAppSiteName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByWebAppSiteNext(
        resourceGroupName,
        siteName,
        webAppSiteName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByWebAppSitePagingAll(
    resourceGroupName: string,
    siteName: string,
    webAppSiteName: string,
    options?: WebAppExtendedMachinesControllerListByWebAppSiteOptionalParams,
  ): AsyncIterableIterator<WebAppExtendedMachine> {
    for await (const page of this.listByWebAppSitePagingPage(
      resourceGroupName,
      siteName,
      webAppSiteName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Method to get all extended machines.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param webAppSiteName Web app site name.
   * @param options The options parameters.
   */
  private _listByWebAppSite(
    resourceGroupName: string,
    siteName: string,
    webAppSiteName: string,
    options?: WebAppExtendedMachinesControllerListByWebAppSiteOptionalParams,
  ): Promise<WebAppExtendedMachinesControllerListByWebAppSiteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, webAppSiteName, options },
      listByWebAppSiteOperationSpec,
    );
  }

  /**
   * Method to get a extended machine.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param webAppSiteName Web app site name.
   * @param extendedMachineName Extended machine name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    siteName: string,
    webAppSiteName: string,
    extendedMachineName: string,
    options?: WebAppExtendedMachinesControllerGetOptionalParams,
  ): Promise<WebAppExtendedMachinesControllerGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        siteName,
        webAppSiteName,
        extendedMachineName,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * ListByWebAppSiteNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name
   * @param webAppSiteName Web app site name.
   * @param nextLink The nextLink from the previous successful call to the ListByWebAppSite method.
   * @param options The options parameters.
   */
  private _listByWebAppSiteNext(
    resourceGroupName: string,
    siteName: string,
    webAppSiteName: string,
    nextLink: string,
    options?: WebAppExtendedMachinesControllerListByWebAppSiteNextOptionalParams,
  ): Promise<WebAppExtendedMachinesControllerListByWebAppSiteNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, webAppSiteName, nextLink, options },
      listByWebAppSiteNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByWebAppSiteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/webAppSites/{webAppSiteName}/extendedMachines",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WebAppExtendedMachineListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.continuationToken,
    Parameters.totalRecordCount,
    Parameters.top1,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.webAppSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/webAppSites/{webAppSiteName}/extendedMachines/{extendedMachineName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WebAppExtendedMachine,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.webAppSiteName,
    Parameters.extendedMachineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByWebAppSiteNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WebAppExtendedMachineListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.webAppSiteName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
