DOCUMENT_TRANSLATION_ENDPOINT="https://<your-translator-instance>.cognitiveservices.azure.com"
STORAGE_BLOB_ENDPOINT="https://<your-storage-account>.blob.core.windows.net"
TRANSLATION_FILE="https://constitutioncenter.org/media/files/constitution.pdf"
