{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetworkAnalytics/dataProducts?api-version=2023-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "7b70f488-f9fc-45bc-8545-cc4190f1c818",
          "72ba3933-167d-4705-8a18-2f7bbe5bda1a"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetworkAnalytics/dataProducts/resourcetest",
            "name": "resourcetest",
            "type": "microsoft.networkanalytics/dataproducts",
            "location": "eastus2euap",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2024-03-08T08:59:39.4127255Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-03-08T08:59:39.4127255Z"
            },
            "identity": {
              "principalId": "6dbeb2fd-a3d8-4045-99f9-37bb914cd24e",
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "type": "SystemAssigned"
            },
            "properties": {
              "publisher": "Microsoft",
              "product": "MCC",
              "majorVersion": "1",
              "managedResourceGroupConfiguration": {
                "location": "eastus2euap",
                "name": "resourcetest-HostedResources-0C06856A"
              },
              "provisioningState": "Accepted"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
