{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue168694475518501499?timeout=30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:45:55 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue168694475518501499168694475525000705?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:45:55 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "QueueNotFound",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EQueueNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified queue does not exist.\n",
        "RequestId:a583689b-f003-0058-1c8b-a0e59e000000\n",
        "Time:2023-06-16T19:45:55.2818267Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.queue.core.windows.net/queue168694475518501499?timeout=30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 19:45:55 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "queue": "queue168694475518501499",
    "queue168694475518501499": "queue168694475518501499168694475525000705"
  }
}
