{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Cache/redis/myrediscachexxx111/patchSchedules/default?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scheduleEntries": [
            {
              "dayOfWeek": "Monday",
              "startHourUtc": 12,
              "maintenanceWindow": "PT5H"
            },
            {
              "dayOfWeek": "Tuesday",
              "startHourUtc": 12
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-rp-server-mvid": "b9a917b0-7b08-4f97-9f88-dbe71340e8fc"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Cache/Redis/myrediscachexxx111/patchSchedules/default",
        "location": "East US",
        "name": "myrediscachexxx111/default",
        "type": "Microsoft.Cache/Redis/PatchSchedules",
        "properties": {
          "scheduleEntries": [
            {
              "dayOfWeek": "Monday",
              "startHourUtc": 12,
              "maintenanceWindow": "PT5H"
            },
            {
              "dayOfWeek": "Tuesday",
              "startHourUtc": 12,
              "maintenanceWindow": "PT5H"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
