{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamex?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operations/058eeb8a-4178-419b-9273-cf3678eb48c9?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "networknamex",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamex",
        "etag": "W/\u0022e8fc8ed2-5058-4168-a12f-3a129aa4b4b2\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "629e0569-8905-4e66-b448-97fd8f62cda4",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operations/058eeb8a-4178-419b-9273-cf3678eb48c9?api-version=2021-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamex/subnets/subnetworknamex?api-version=2021-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressPrefix": "10.0.0.0/24"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Network/locations/eastus/operations/ffdba695-6fce-490c-83d7-426ef6580b42?api-version=2021-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "subnetworknamex",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamex/subnets/subnetworknamex",
        "etag": "W/\u0022f8bafdfc-f52e-4976-9967-49d15a6e1ad4\u0022",
        "properties": {
          "provisioningState": "Updating",
          "addressPrefix": "10.0.0.0/24",
          "delegations": [],
          "privateEndpointNetworkPolicies": "Disabled",
          "privateLinkServiceNetworkPolicies": "Enabled"
        },
        "type": "Microsoft.Network/virtualNetworks/subnets"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Cache/redis/myrediscachexxx111?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "zones": [
          "1"
        ],
        "location": "eastus",
        "properties": {
          "redisConfiguration": {
            "maxmemory-policy": "allkeys-lru"
          },
          "enableNonSslPort": true,
          "shardCount": 2,
          "minimumTlsVersion": "1.2",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "subnetId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamex/subnets/subnetworknamex",
          "staticIP": "10.0.0.5"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Cache/locations/East US/asyncOperations/2157c56e-9874-4c16-b273-64705910c0bc?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Cache/redis/myrediscachexxx111?api-version=2022-05-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "1d4d9b62-2466-4e49-81a7-239328084a93"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Cache/Redis/myrediscachexxx111",
        "location": "East US",
        "name": "myrediscachexxx111",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Creating",
          "redisVersion": "6.0",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": true,
          "instances": [
            {
              "sslPort": 15000,
              "nonSslPort": 13000,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15001,
              "nonSslPort": 13001,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15002,
              "nonSslPort": 13002,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15003,
              "nonSslPort": 13003,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxmemory-policy": "allkeys-lru",
            "maxclients": "7500",
            "maxmemory-reserved": "642",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": {
            "primaryKey": "SecretPlaceholder",
            "secondaryKey": "SecretPlaceholder"
          },
          "hostName": "myrediscachexxx111.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "subnetId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamex/subnets/subnetworknamex",
          "staticIP": "10.0.0.5",
          "shardCount": 2,
          "linkedServers": []
        },
        "zones": [
          "1"
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Cache/locations/East%20US/asyncOperations/2157c56e-9874-4c16-b273-64705910c0bc?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.Cache/locations/East US/asyncOperations/2157c56e-9874-4c16-b273-64705910c0bc?api-version=2022-05-01",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-rp-server-mvid": "1d4d9b62-2466-4e49-81a7-239328084a93"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/providers/Microsoft.Cache/locations/East US/asyncOperations/2157c56e-9874-4c16-b273-64705910c0bc",
        "name": "2157c56e-9874-4c16-b273-64705910c0bc",
        "status": "InProgress",
        "startTime": null,
        "endTime": null,
        "percentComplete": null,
        "properties": null,
        "error": null
      }
    },
[...]
