variables:
  os.name: 'Windows'
  os.vmImage: 'vs2017-win2016'
  node.version: '10.x'

jobs:
  - job: 'Test'

    pool:
      vmImage: '$(os.vmImage)'

    timeoutInMinutes: 240

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(node.version)'
        displayName: 'Install Node.js $(node.version)'

      # Rather than running "npm install" in the repo root, reduce build time by only installing the "npm-run-all" package,
      # which is the minimum required to run the composite script commands.
      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'install npm-run-all'
        displayName: 'npm install npm-run-all'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run install-client'
        displayName: 'npm run install-client'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run live-test-client -- -- -- --reporter mocha-multi --reporter-options spec=-,mocha-junit-reporter=- -f "Batch Receiver - Settle message Partitioned Queue: complete() removes message"'
        displayName: 'npm run live-test-client'
        env:
          AAD_CLIENT_ID: $(aad-azure-sdk-test-client-id)
          AAD_TENANT_ID: $(aad-azure-sdk-test-tenant-id)
          AAD_CLIENT_SECRET: $(aad-azure-sdk-test-client-secret)
          AZURE_SUBSCRIPTION_ID: $(test-subscription-id)
          CLEAN_NAMESPACE: 'true'
          RESOURCE_GROUP: $(service-bus-test-resource-group)
          SERVICEBUS_CONNECTION_STRING: $(service-bus-test-connection-string)

      - task: PublishTestResults@2
        inputs:
          testResultsFiles: '**/test-results.xml'
          testRunTitle: '$(os.name) Node $(node.version)'
        condition: succeededOrFailed()
        displayName: 'Publish test results'
