# External variables:
# Package
#   The package to build and test. Defined in pipeline web ui because multiple pipelines use this YAML with different packages.
#   Example: eventhubs-client
#
# AdditionalTestArguments
#   Additional arguments to the test command.
#   Example: --fgrep "test description"

jobs:
  - job: 'Test_Storage_Node'
    strategy:
      # Service Bus and Event Hubs currently lack support for running multiple test suites in parallel,
      # since the tests would attempt to use the same resources which causes conflicts.
      maxParallel: 1
      matrix:
        Linux_Node6X:
          OSName: 'Linux'
          OSVmImage: 'ubuntu-16.04'
          NodeVersion: '6.x'
        Linux_Node8X:
          OSName: 'Linux'
          OSVmImage: 'ubuntu-16.04'
          NodeVersion: '8.x'
        Linux_Node10X:
          OSName: 'Linux'
          OSVmImage: 'ubuntu-16.04'
          NodeVersion: '10.x'
        Windows_Node6X:
          OSName: 'Windows'
          OSVmImage: 'vs2017-win2016'
          NodeVersion: '6.x'
        Windows_Node8X:
          OSName: 'Windows'
          OSVmImage: 'vs2017-win2016'
          NodeVersion: '8.x'
        Windows_Node10X:
          OSName: 'Windows'
          OSVmImage: 'vs2017-win2016'
          NodeVersion: '10.x'
        Mac_Node6X:
          OSName: 'Mac'
          OSVmImage: 'macOS-10.13'
          NodeVersion: '6.x'
        Mac_Node8X:
          OSName: 'Mac'
          OSVmImage: 'macOS-10.13'
          NodeVersion: '8.x'
        Mac_Node10X:
          OSName: 'Mac'
          OSVmImage: 'macOS-10.13'
          NodeVersion: '10.x'

    pool:
      vmImage: '$(OSVmImage)'

    timeoutInMinutes: 240

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(NodeVersion)'
        displayName: 'Install Node.js $(NodeVersion)'

      # Rather than running "npm install" in the repo root, reduce build time by only installing the "npm-run-all" package,
      # which is the minimum required to run the composite script commands.
      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'install npm-run-all'
        displayName: 'npm install npm-run-all'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run install-client-$(Package)'
        displayName: 'npm run install-client-$(Package)'

      # To get realtime logging of test progress in Azure Pipelines, we need to use "script" instead of "Npm@1",
      # since "Npm@1" currently buffers output (https://github.com/Microsoft/azure-pipelines-tasks/issues/8171).
      - script: npm run live-test-client-$(Package)-node -- -- --reporter mocha-multi --reporter-options spec=-,mocha-junit-reporter=- $(AdditionalTestArguments)
        displayName: 'npm run live-test-client-$(Package)-node'
        env:
          # Storage
          ACCOUNT_NAME: $(js-storage-test-account-name)
          ACCOUNT_KEY: $(js-storage-test-account-key)
          ACCOUNT_SAS: $(js-storage-test-account-sas)

      - task: PublishTestResults@2
        inputs:
          testResultsFiles: '**/test-results.xml'
          testRunTitle: '$(OSName) Node $(NodeVersion) - Node'
        condition: succeededOrFailed()
        displayName: 'Publish node test results'

  - job: 'Test_Storage_Browser'
    strategy:
      # Service Bus and Event Hubs currently lack support for running multiple test suites in parallel,
      # since the tests would attempt to use the same resources which causes conflicts.
      maxParallel: 1
      matrix:
        Linux_Node10X:
          OSName: 'Linux'
          OSVmImage: 'ubuntu-16.04'
          NodeVersion: '10.x'
        Windows_Node10X:
          OSName: 'Windows'
          OSVmImage: 'vs2017-win2016'
          NodeVersion: '10.x'
        Mac_Node10X:
          OSName: 'Mac'
          OSVmImage: 'macOS-10.13'
          NodeVersion: '10.x'

    pool:
      vmImage: '$(OSVmImage)'

    timeoutInMinutes: 240

    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(NodeVersion)'
        displayName: 'Install Node.js $(NodeVersion)'

      # Rather than running "npm install" in the repo root, reduce build time by only installing the "npm-run-all" package,
      # which is the minimum required to run the composite script commands.
      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'install npm-run-all'
        displayName: 'npm install npm-run-all'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run install-client-$(Package)'
        displayName: 'npm run install-client-$(Package)'

      - script: npm run live-test-client-$(Package)-browser
        condition: succeededOrFailed()
        displayName: 'npm run live-test-client-$(Package)-browser'
        env:
          # Storage
          ACCOUNT_NAME: $(js-storage-test-account-name)
          ACCOUNT_KEY: $(js-storage-test-account-key)
          ACCOUNT_SAS: $(js-storage-test-account-sas)

      - task: PublishTestResults@2
        inputs:
          testRunner: JUnit
          testResultsFiles: "**/test-results.browser.xml"
          testRunTitle: '$(OSName) Node $(NodeVersion) - Browser'
        condition: succeededOrFailed()
        displayName: 'Publish browser test results'