trigger:
  - master
variables:
  node.version: '10.x'

jobs:
  - job: 'Publish'
    pool:
      vmImage: 'ubuntu-16.04'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(node.version)'
        displayName: 'Install Node.js $(node.version)'

      # Rather than running "npm install" in the repo root, reduce build time by only installing the "npm-run-all" package,
      # which is the minimum required to run the composite script commands.
      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'install npm-run-all'
        displayName: 'npm install npm-run-all'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run install-client'
        displayName: 'npm run install-client'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run build-client'
        displayName: 'npm run build-client'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run pack-client'
        displayName: 'npm run pack-client'

      - task: CopyFiles@2
        inputs:
          contents: 'packages/**/*.tgz'
          targetFolder: $(Build.ArtifactStagingDirectory)
          flattenFolders: true
        displayName: 'Copy Packages'

      - task: PublishBuildArtifacts@1
        displayName: 'Publish Package'

  - job: 'Analyze'
    pool:
      vmImage: 'ubuntu-16.04'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(node.version)'
        displayName: 'Install Node.js $(node.version)'

      # Rather than running "npm install" in the repo root, reduce build time by only installing the "npm-run-all" package,
      # which is the minimum required to run the composite script commands.
      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'install npm-run-all'
        displayName: 'npm install npm-run-all'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run audit-client'
        displayName: 'npm run audit-client'

      - task: ms.vss-governance-buildtask.governance-build-task-component-detection.ComponentGovernanceComponentDetection@0
        # ComponentGovernance is currently unable to run on pull requests of public projects. Running on non-PR
        # builds should be sufficient.
        condition: and(always(), ne(variables['System.TeamProject'], 'public'))
        displayName: 'Component Detection'

  - job: 'Test'
    strategy:
      matrix:
        Linux_Node8:
          os.name: 'Linux'
          os.vmImage: 'ubuntu-16.04'
          node.version: '8.x'
        Linux_Node10:
          os.name: 'Linux'
          os.vmImage: 'ubuntu-16.04'
          node.version: '10.x'
        Linux_Node11:
          os.name: 'Linux'
          os.vmImage: 'ubuntu-16.04'
          node.version: '11.x'
        macOS_Node8:
          os.name: 'macOS'
          os.vmImage: 'macOS-10.13'
          node.version: '8.x'
        macOS_Node10:
          os.name: 'macOS'
          os.vmImage: 'macOS-10.13'
          node.version: '10.x'
        macOS_Node11:
          os.name: 'macOS'
          os.vmImage: 'macOS-10.13'
          node.version: '11.x'       
        Windows_Node8:
          os.name: 'Windows'
          os.vmImage: 'vs2017-win2016'
          node.version: '8.x'
        Windows_Node10:
          os.name: 'Windows'
          os.vmImage: 'vs2017-win2016'
          node.version: '10.x'
        Windows_Node11:
          os.name: 'Windows'
          os.vmImage: 'vs2017-win2016'
          node.version: '11.x'
    pool:
      vmImage: '$(os.vmImage)'
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '$(node.version)'
        displayName: 'Install Node.js $(node.version)'

      # Rather than running "npm install" in the repo root, reduce build time by only installing the "npm-run-all" package,
      # which is the minimum required to run the composite script commands.
      # 
      # Also, "npm install" in the repo root fails when using Node11 on Windows or Linux
      # (https://github.com/Azure/azure-sdk-for-js/issues/845)
      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'install npm-run-all'
        displayName: 'npm install npm-run-all'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run install-client'
        displayName: 'npm run install-client'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run test-client -- -- -- --reporter mocha-junit-reporter'
        displayName: 'npm run test-client'

      - task: PublishTestResults@2
        inputs:
          testResultsFiles: '**/test-results.xml'
          testRunTitle: '$(os.name) Node $(node.version)'
        condition: succeededOrFailed()
        displayName: 'Publish test results'
