/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ADCOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataCatalogRestClient } from "../dataCatalogRestClient";
import {
  ADCOperationsListOptionalParams,
  ADCOperationsListResponse
} from "../models";

/** Class containing ADCOperations operations. */
export class ADCOperationsImpl implements ADCOperations {
  private readonly client: DataCatalogRestClient;

  /**
   * Initialize a new instance of the class ADCOperations class.
   * @param client Reference to the service client
   */
  constructor(client: DataCatalogRestClient) {
    this.client = client;
  }

  /**
   * Lists all the available Azure Data Catalog service operations.
   * @param options The options parameters.
   */
  list(
    options?: ADCOperationsListOptionalParams
  ): Promise<ADCOperationsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.DataCatalog/operations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationEntityListResult
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
