# Used to authenticate using Azure AD as a service principal for role-based authentication.
#
# See the documentation for `EnvironmentCredential` at the following link:
# https://docs.microsoft.com/javascript/api/@azure/identity/environmentcredential
AZURE_CLIENT_ID="747dd2f6-45bb-43db-9286-1a701def44a1"
AZURE_CLIENT_SECRET="3Nw7Q~8Q_qSx_3o-c~4uw2J78rsiZ3dWjinzY"
AZURE_TENANT_ID="72f988bf-86f1-41af-91ab-2d7cd011db47"

LOADTESTSERVICE_ENDPOINT=""
SUBSCRIPTION_ID=""
RESOURCE_GROUP="" 
