/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { PipelineTemplateDefinitions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureDevOps } from "../azureDevOps";
import {
  PipelineTemplateDefinition,
  PipelineTemplateDefinitionsListNextOptionalParams,
  PipelineTemplateDefinitionsListOptionalParams,
  PipelineTemplateDefinitionsListResponse,
  PipelineTemplateDefinitionsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing PipelineTemplateDefinitions operations. */
export class PipelineTemplateDefinitionsImpl
  implements PipelineTemplateDefinitions {
  private readonly client: AzureDevOps;

  /**
   * Initialize a new instance of the class PipelineTemplateDefinitions class.
   * @param client Reference to the service client
   */
  constructor(client: AzureDevOps) {
    this.client = client;
  }

  /**
   * Lists all pipeline templates which can be used to configure an Azure Pipeline.
   * @param options The options parameters.
   */
  public list(
    options?: PipelineTemplateDefinitionsListOptionalParams
  ): PagedAsyncIterableIterator<PipelineTemplateDefinition> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: PipelineTemplateDefinitionsListOptionalParams
  ): AsyncIterableIterator<PipelineTemplateDefinition[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: PipelineTemplateDefinitionsListOptionalParams
  ): AsyncIterableIterator<PipelineTemplateDefinition> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists all pipeline templates which can be used to configure an Azure Pipeline.
   * @param options The options parameters.
   */
  private _list(
    options?: PipelineTemplateDefinitionsListOptionalParams
  ): Promise<PipelineTemplateDefinitionsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: PipelineTemplateDefinitionsListNextOptionalParams
  ): Promise<PipelineTemplateDefinitionsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.DevOps/pipelineTemplateDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PipelineTemplateDefinitionListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PipelineTemplateDefinitionListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
