// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import type { CapabilitiesByLocation } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { PostgreSQLManagementFlexibleServerClient } from "../postgreSQLManagementFlexibleServerClient.js";
import type {
  Capability,
  CapabilitiesByLocationListNextOptionalParams,
  CapabilitiesByLocationListOptionalParams,
  CapabilitiesByLocationListResponse,
  CapabilitiesByLocationListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing CapabilitiesByLocation operations. */
export class CapabilitiesByLocationImpl implements CapabilitiesByLocation {
  private readonly client: PostgreSQLManagementFlexibleServerClient;

  /**
   * Initialize a new instance of the class CapabilitiesByLocation class.
   * @param client Reference to the service client
   */
  constructor(client: PostgreSQLManagementFlexibleServerClient) {
    this.client = client;
  }

  /**
   * Lists the capabilities available in a given location for a specific subscription.
   * @param locationName The name of the location.
   * @param options The options parameters.
   */
  public list(
    locationName: string,
    options?: CapabilitiesByLocationListOptionalParams,
  ): PagedAsyncIterableIterator<Capability> {
    const iter = this.listPagingAll(locationName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(locationName, options, settings);
      },
    };
  }

  private async *listPagingPage(
    locationName: string,
    options?: CapabilitiesByLocationListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<Capability[]> {
    let result: CapabilitiesByLocationListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(locationName, options);
      const page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(locationName, continuationToken, options);
      continuationToken = result.nextLink;
      const page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    locationName: string,
    options?: CapabilitiesByLocationListOptionalParams,
  ): AsyncIterableIterator<Capability> {
    for await (const page of this.listPagingPage(locationName, options)) {
      yield* page;
    }
  }

  /**
   * Lists the capabilities available in a given location for a specific subscription.
   * @param locationName The name of the location.
   * @param options The options parameters.
   */
  private _list(
    locationName: string,
    options?: CapabilitiesByLocationListOptionalParams,
  ): Promise<CapabilitiesByLocationListResponse> {
    return this.client.sendOperationRequest({ locationName, options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param locationName The name of the location.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    locationName: string,
    nextLink: string,
    options?: CapabilitiesByLocationListNextOptionalParams,
  ): Promise<CapabilitiesByLocationListNextResponse> {
    return this.client.sendOperationRequest(
      { locationName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/capabilities",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CapabilityList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId, Parameters.locationName],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CapabilityList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.locationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
