/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { FlexibleServer } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PostgreSQLManagementFlexibleServerClient } from "../postgreSQLManagementFlexibleServerClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  LtrPreBackupRequest,
  FlexibleServerTriggerLtrPreBackupOptionalParams,
  FlexibleServerTriggerLtrPreBackupResponse,
  LtrBackupRequest,
  FlexibleServerStartLtrBackupOptionalParams,
  FlexibleServerStartLtrBackupResponse,
} from "../models";

/** Class containing FlexibleServer operations. */
export class FlexibleServerImpl implements FlexibleServer {
  private readonly client: PostgreSQLManagementFlexibleServerClient;

  /**
   * Initialize a new instance of the class FlexibleServer class.
   * @param client Reference to the service client
   */
  constructor(client: PostgreSQLManagementFlexibleServerClient) {
    this.client = client;
  }

  /**
   * PreBackup operation performs all the checks that are needed for the subsequent long term retention
   * backup operation to succeed.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param parameters Request body for operation
   * @param options The options parameters.
   */
  triggerLtrPreBackup(
    resourceGroupName: string,
    serverName: string,
    parameters: LtrPreBackupRequest,
    options?: FlexibleServerTriggerLtrPreBackupOptionalParams,
  ): Promise<FlexibleServerTriggerLtrPreBackupResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, serverName, parameters, options },
      triggerLtrPreBackupOperationSpec,
    );
  }

  /**
   * Start the Long Term Retention Backup operation
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param parameters Request body for operation
   * @param options The options parameters.
   */
  async beginStartLtrBackup(
    resourceGroupName: string,
    serverName: string,
    parameters: LtrBackupRequest,
    options?: FlexibleServerStartLtrBackupOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<FlexibleServerStartLtrBackupResponse>,
      FlexibleServerStartLtrBackupResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<FlexibleServerStartLtrBackupResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, serverName, parameters, options },
      spec: startLtrBackupOperationSpec,
    });
    const poller = await createHttpPoller<
      FlexibleServerStartLtrBackupResponse,
      OperationState<FlexibleServerStartLtrBackupResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Start the Long Term Retention Backup operation
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param serverName The name of the server.
   * @param parameters Request body for operation
   * @param options The options parameters.
   */
  async beginStartLtrBackupAndWait(
    resourceGroupName: string,
    serverName: string,
    parameters: LtrBackupRequest,
    options?: FlexibleServerStartLtrBackupOptionalParams,
  ): Promise<FlexibleServerStartLtrBackupResponse> {
    const poller = await this.beginStartLtrBackup(
      resourceGroupName,
      serverName,
      parameters,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const triggerLtrPreBackupOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/ltrPreBackup",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.LtrPreBackupResponse,
      headersMapper: Mappers.FlexibleServerTriggerLtrPreBackupHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
      headersMapper: Mappers.FlexibleServerTriggerLtrPreBackupExceptionHeaders,
    },
  },
  requestBody: Parameters.parameters8,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serverName,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const startLtrBackupOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/startLtrBackup",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.LtrBackupResponse,
      headersMapper: Mappers.FlexibleServerStartLtrBackupHeaders,
    },
    201: {
      bodyMapper: Mappers.LtrBackupResponse,
      headersMapper: Mappers.FlexibleServerStartLtrBackupHeaders,
    },
    202: {
      bodyMapper: Mappers.LtrBackupResponse,
      headersMapper: Mappers.FlexibleServerStartLtrBackupHeaders,
    },
    204: {
      bodyMapper: Mappers.LtrBackupResponse,
      headersMapper: Mappers.FlexibleServerStartLtrBackupHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
      headersMapper: Mappers.FlexibleServerStartLtrBackupExceptionHeaders,
    },
  },
  requestBody: Parameters.parameters9,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.serverName,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
