/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { LocationBasedCapabilities } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PostgreSQLManagementClient } from "../postgreSQLManagementClient";
import {
  CapabilityProperties,
  LocationBasedCapabilitiesExecuteNextOptionalParams,
  LocationBasedCapabilitiesExecuteOptionalParams,
  LocationBasedCapabilitiesExecuteResponse,
  LocationBasedCapabilitiesExecuteNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing LocationBasedCapabilities operations. */
export class LocationBasedCapabilitiesImpl
  implements LocationBasedCapabilities {
  private readonly client: PostgreSQLManagementClient;

  /**
   * Initialize a new instance of the class LocationBasedCapabilities class.
   * @param client Reference to the service client
   */
  constructor(client: PostgreSQLManagementClient) {
    this.client = client;
  }

  /**
   * Get capabilities at specified location in a given subscription.
   * @param locationName The name of the location.
   * @param options The options parameters.
   */
  public listExecute(
    locationName: string,
    options?: LocationBasedCapabilitiesExecuteOptionalParams
  ): PagedAsyncIterableIterator<CapabilityProperties> {
    const iter = this.executePagingAll(locationName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.executePagingPage(locationName, options);
      }
    };
  }

  private async *executePagingPage(
    locationName: string,
    options?: LocationBasedCapabilitiesExecuteOptionalParams
  ): AsyncIterableIterator<CapabilityProperties[]> {
    let result = await this._execute(locationName, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._executeNext(
        locationName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *executePagingAll(
    locationName: string,
    options?: LocationBasedCapabilitiesExecuteOptionalParams
  ): AsyncIterableIterator<CapabilityProperties> {
    for await (const page of this.executePagingPage(locationName, options)) {
      yield* page;
    }
  }

  /**
   * Get capabilities at specified location in a given subscription.
   * @param locationName The name of the location.
   * @param options The options parameters.
   */
  private _execute(
    locationName: string,
    options?: LocationBasedCapabilitiesExecuteOptionalParams
  ): Promise<LocationBasedCapabilitiesExecuteResponse> {
    return this.client.sendOperationRequest(
      { locationName, options },
      executeOperationSpec
    );
  }

  /**
   * ExecuteNext
   * @param locationName The name of the location.
   * @param nextLink The nextLink from the previous successful call to the Execute method.
   * @param options The options parameters.
   */
  private _executeNext(
    locationName: string,
    nextLink: string,
    options?: LocationBasedCapabilitiesExecuteNextOptionalParams
  ): Promise<LocationBasedCapabilitiesExecuteNextResponse> {
    return this.client.sendOperationRequest(
      { locationName, nextLink, options },
      executeNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const executeOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/capabilities",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CapabilitiesListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.locationName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const executeNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CapabilitiesListResult
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.locationName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
