// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { NameAvailability } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { PostgreSQLManagementFlexibleServerClient } from "../postgreSQLManagementFlexibleServerClient.js";
import type {
  CheckNameAvailabilityRequest,
  NameAvailabilityCheckGloballyOptionalParams,
  NameAvailabilityCheckGloballyResponse,
  NameAvailabilityCheckWithLocationOptionalParams,
  NameAvailabilityCheckWithLocationResponse,
} from "../models/index.js";

/** Class containing NameAvailability operations. */
export class NameAvailabilityImpl implements NameAvailability {
  private readonly client: PostgreSQLManagementFlexibleServerClient;

  /**
   * Initialize a new instance of the class NameAvailability class.
   * @param client Reference to the service client
   */
  constructor(client: PostgreSQLManagementFlexibleServerClient) {
    this.client = client;
  }

  /**
   * Checks the validity and availability of the given name, to assign it to a new server or to use it as
   * the base name of a new pair of virtual endpoints.
   * @param parameters Parameters required to check if a given name is valid and available to assign it
   *                   to a new server or to use it as the base name of a new pair of virtual endpoints.
   * @param options The options parameters.
   */
  checkGlobally(
    parameters: CheckNameAvailabilityRequest,
    options?: NameAvailabilityCheckGloballyOptionalParams,
  ): Promise<NameAvailabilityCheckGloballyResponse> {
    return this.client.sendOperationRequest({ parameters, options }, checkGloballyOperationSpec);
  }

  /**
   * Check the availability of name for resource
   * @param locationName The name of the location.
   * @param parameters Parameters required to check if a given name is valid and available to assign it
   *                   to a new server or to use it as the base name of a new pair of virtual endpoints.
   * @param options The options parameters.
   */
  checkWithLocation(
    locationName: string,
    parameters: CheckNameAvailabilityRequest,
    options?: NameAvailabilityCheckWithLocationOptionalParams,
  ): Promise<NameAvailabilityCheckWithLocationResponse> {
    return this.client.sendOperationRequest(
      { locationName, parameters, options },
      checkWithLocationOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const checkGloballyOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/checkNameAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.NameAvailabilityModel,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters10,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const checkWithLocationOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/checkNameAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.NameAvailabilityModel,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters10,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId, Parameters.locationName],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
