// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License.

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import type { VirtualNetworkSubnetUsage } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import type { PostgreSQLManagementFlexibleServerClient } from "../postgreSQLManagementFlexibleServerClient.js";
import type {
  VirtualNetworkSubnetUsageParameter,
  VirtualNetworkSubnetUsageListOptionalParams,
  VirtualNetworkSubnetUsageListResponse,
} from "../models/index.js";

/** Class containing VirtualNetworkSubnetUsage operations. */
export class VirtualNetworkSubnetUsageImpl implements VirtualNetworkSubnetUsage {
  private readonly client: PostgreSQLManagementFlexibleServerClient;

  /**
   * Initialize a new instance of the class VirtualNetworkSubnetUsage class.
   * @param client Reference to the service client
   */
  constructor(client: PostgreSQLManagementFlexibleServerClient) {
    this.client = client;
  }

  /**
   * Lists the virtual network subnet usage for a given virtual network.
   * @param locationName The name of the location.
   * @param parameters The required parameters for creating or updating a server.
   * @param options The options parameters.
   */
  list(
    locationName: string,
    parameters: VirtualNetworkSubnetUsageParameter,
    options?: VirtualNetworkSubnetUsageListOptionalParams,
  ): Promise<VirtualNetworkSubnetUsageListResponse> {
    return this.client.sendOperationRequest(
      { locationName, parameters, options },
      listOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/checkVirtualNetworkSubnetUsage",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualNetworkSubnetUsageModel,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters17,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId, Parameters.locationName],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
