{
  "Entries": [
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/users/me/devboxes/SdkTestDevBox?api-version=2022-11-11-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "poolName": "sdk-pool-bxwfu4kgo6dz6"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-02-01T19:29:02.0523497Z"
      },
      "ResponseBody": {
        "name": "SdkTestDevBox",
        "projectName": "sdk-project-hdhjgzht7tgyq",
        "poolName": "sdk-pool-bxwfu4kgo6dz6",
        "hibernateSupport": "Disabled",
        "provisioningState": "Creating",
        "actionState": "Unknown",
        "uniqueId": "731c3f83-5809-413b-9353-50695b71e6d2",
        "location": "eastus",
        "osType": "Windows",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "hardwareProfile": {
          "skuName": "general_a_8c32gb_v1",
          "memoryGB": 32,
          "vCPUs": 8
        },
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 1024
          }
        },
        "imageReference": {
          "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "win11-21h2-ent-cpc-m365",
          "publishedDate": "2021-10-04T00:00:00\u002B00:00"
        },
        "createdTime": "2023-02-01T19:28:02.1908893\u002B00:00",
        "localAdministrator": "Enabled"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf?api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-02-01T19:29:02.4449139Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-hdhjgzht7tgyq/operationStatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf",
        "name": "d0daf157-6a83-4288-9bef-bc9eb8ee2cbf",
        "status": "NotStarted",
        "startTime": "2023-02-01T19:28:02.2057444\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf?api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "297",
        "X-Rate-Limit-Reset": "2023-02-01T19:44:57.7499125Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-hdhjgzht7tgyq/operationStatuses/d0daf157-6a83-4288-9bef-bc9eb8ee2cbf",
        "name": "d0daf157-6a83-4288-9bef-bc9eb8ee2cbf",
        "status": "Succeeded",
        "startTime": "2023-02-01T19:28:02.2057444\u002B00:00",
        "endTime": "2023-02-01T19:44:04.2263599\u002B00:00"
      }
    },
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/users/me/devboxes/SdkTestDevBox?api-version=2022-11-11-preview\u0026api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-02-01T19:45:14.5739463Z"
      },
      "ResponseBody": {
        "name": "SdkTestDevBox",
        "projectName": "sdk-project-hdhjgzht7tgyq",
        "poolName": "sdk-pool-bxwfu4kgo6dz6",
        "hibernateSupport": "Disabled",
        "provisioningState": "Succeeded",
        "actionState": "Unknown",
        "powerState": "Running",
        "uniqueId": "731c3f83-5809-413b-9353-50695b71e6d2",
        "errorDetails": {},
        "location": "eastus",
        "osType": "Windows",
        "user": "df428e89-1bc2-4e72-b736-032c31a6cd97",
        "hardwareProfile": {
          "skuName": "general_a_8c32gb_v1",
          "memoryGB": 32,
          "vCPUs": 8
        },
        "storageProfile": {
          "osDisk": {
            "diskSizeGB": 1024
          }
        },
        "imageReference": {
          "name": "MicrosoftWindowsDesktop_windows-ent-cpc_win11-21h2-ent-cpc-m365",
          "version": "1.0.0",
          "operatingSystem": "Windows11",
          "osBuildNumber": "win11-21h2-ent-cpc-m365",
          "publishedDate": "2021-10-04T00:00:00\u002B00:00"
        },
        "createdTime": "2023-02-01T19:28:02.1908893\u002B00:00",
        "localAdministrator": "Enabled"
      }
    },
[...]
    {
      "RequestUri": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/1b15c1fe-160d-4395-8276-979b5516dd46?api-version=2022-11-11-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/1b15c1fe-160d-4395-8276-979b5516dd46?monitor=true",
        "Operation-Location": "https://8ab2df1c-ed88-4946-a8a9-e1bbb3e4d1fd-sdk-dc-na4b3zkj5hmeo.eastus.devcenter.azure.com/projects/sdk-project-hdhjgzht7tgyq/operationstatuses/1b15c1fe-160d-4395-8276-979b5516dd46",
        "Retry-After": "30",
        "X-Rate-Limit-Limit": "1m",
        "X-Rate-Limit-Remaining": "299",
        "X-Rate-Limit-Reset": "2023-02-01T19:53:48.8321328Z"
      },
      "ResponseBody": {
        "id": "/projects/sdk-project-hdhjgzht7tgyq/operationStatuses/1b15c1fe-160d-4395-8276-979b5516dd46",
        "name": "1b15c1fe-160d-4395-8276-979b5516dd46",
        "status": "Succeeded",
        "startTime": "2023-02-01T19:44:14.8523509\u002B00:00",
        "endTime": "2023-02-01T19:52:34.7959526\u002B00:00"
      }
    }
  ],
  "Variables": {}
}
