/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreClient from "@azure/core-client";
import * as coreAuth from "@azure/core-auth";
import {
  VaultCertificatesImpl,
  RegisteredIdentitiesImpl,
  ReplicationUsagesImpl,
  PrivateLinkResourcesOperationsImpl,
  RecoveryServicesImpl,
  VaultsImpl,
  OperationsImpl,
  VaultExtendedInfoImpl,
  UsagesImpl
} from "./operations";
import {
  VaultCertificates,
  RegisteredIdentities,
  ReplicationUsages,
  PrivateLinkResourcesOperations,
  RecoveryServices,
  Vaults,
  Operations,
  VaultExtendedInfo,
  Usages
} from "./operationsInterfaces";
import * as Parameters from "./models/parameters";
import * as Mappers from "./models/mappers";
import {
  RecoveryServicesClientOptionalParams,
  GetOperationStatusOptionalParams,
  GetOperationStatusResponse,
  GetOperationResultOptionalParams,
  GetOperationResultResponse
} from "./models";

export class RecoveryServicesClient extends coreClient.ServiceClient {
  $host: string;
  subscriptionId: string;
  apiVersion: string;

  /**
   * Initializes a new instance of the RecoveryServicesClient class.
   * @param credentials Subscription credentials which uniquely identify client subscription.
   * @param subscriptionId The subscription Id.
   * @param options The parameter options
   */
  constructor(
    credentials: coreAuth.TokenCredential,
    subscriptionId: string,
    options?: RecoveryServicesClientOptionalParams
  ) {
    if (credentials === undefined) {
      throw new Error("'credentials' cannot be null");
    }
    if (subscriptionId === undefined) {
      throw new Error("'subscriptionId' cannot be null");
    }

    // Initializing default values for options
    if (!options) {
      options = {};
    }
    const defaults: RecoveryServicesClientOptionalParams = {
      requestContentType: "application/json; charset=utf-8",
      credential: credentials
    };

    const packageDetails = `azsdk-js-arm-recoveryservices/5.0.0`;
    const userAgentPrefix =
      options.userAgentOptions && options.userAgentOptions.userAgentPrefix
        ? `${options.userAgentOptions.userAgentPrefix} ${packageDetails}`
        : `${packageDetails}`;

    if (!options.credentialScopes) {
      options.credentialScopes = ["https://management.azure.com/.default"];
    }
    const optionsWithDefaults = {
      ...defaults,
      ...options,
      userAgentOptions: {
        userAgentPrefix
      },
      baseUri: options.endpoint || "https://management.azure.com"
    };
    super(optionsWithDefaults);
    // Parameter assignments
    this.subscriptionId = subscriptionId;

    // Assigning values to Constant parameters
    this.$host = options.$host || "https://management.azure.com";
    this.apiVersion = options.apiVersion || "2021-08-01";
    this.vaultCertificates = new VaultCertificatesImpl(this);
    this.registeredIdentities = new RegisteredIdentitiesImpl(this);
    this.replicationUsages = new ReplicationUsagesImpl(this);
    this.privateLinkResourcesOperations = new PrivateLinkResourcesOperationsImpl(
      this
    );
    this.recoveryServices = new RecoveryServicesImpl(this);
    this.vaults = new VaultsImpl(this);
    this.operations = new OperationsImpl(this);
    this.vaultExtendedInfo = new VaultExtendedInfoImpl(this);
    this.usages = new UsagesImpl(this);
  }

  /**
   * Gets the operation status for a resource.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param vaultName The name of the recovery services vault.
   * @param operationId
   * @param options The options parameters.
   */
  getOperationStatus(
    resourceGroupName: string,
    vaultName: string,
    operationId: string,
    options?: GetOperationStatusOptionalParams
  ): Promise<GetOperationStatusResponse> {
    return this.sendOperationRequest(
      { resourceGroupName, vaultName, operationId, options },
      getOperationStatusOperationSpec
    );
  }

  /**
   * Gets the operation result for a resource.
   * @param resourceGroupName The name of the resource group where the recovery services vault is
   *                          present.
   * @param vaultName The name of the recovery services vault.
   * @param operationId
   * @param options The options parameters.
   */
  getOperationResult(
    resourceGroupName: string,
    vaultName: string,
    operationId: string,
    options?: GetOperationResultOptionalParams
  ): Promise<GetOperationResultResponse> {
    return this.sendOperationRequest(
      { resourceGroupName, vaultName, operationId, options },
      getOperationResultOperationSpec
    );
  }

  vaultCertificates: VaultCertificates;
  registeredIdentities: RegisteredIdentities;
  replicationUsages: ReplicationUsages;
  privateLinkResourcesOperations: PrivateLinkResourcesOperations;
  recoveryServices: RecoveryServices;
  vaults: Vaults;
  operations: Operations;
  vaultExtendedInfo: VaultExtendedInfo;
  usages: Usages;
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationStatusOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/operationStatus/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationResource
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vaultName,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationResultOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Vault
    },
    202: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.vaultName,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
