/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { AccountBackups } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { NetAppManagementClient } from "../netAppManagementClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  Backup,
  AccountBackupsListByNetAppAccountOptionalParams,
  AccountBackupsListByNetAppAccountResponse,
  AccountBackupsGetOptionalParams,
  AccountBackupsGetResponse,
  AccountBackupsDeleteOptionalParams,
  AccountBackupsDeleteResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AccountBackups operations. */
export class AccountBackupsImpl implements AccountBackups {
  private readonly client: NetAppManagementClient;

  /**
   * Initialize a new instance of the class AccountBackups class.
   * @param client Reference to the service client
   */
  constructor(client: NetAppManagementClient) {
    this.client = client;
  }

  /**
   * List all Backups for a Netapp Account
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param accountName The name of the NetApp account
   * @param options The options parameters.
   */
  public listByNetAppAccount(
    resourceGroupName: string,
    accountName: string,
    options?: AccountBackupsListByNetAppAccountOptionalParams
  ): PagedAsyncIterableIterator<Backup> {
    const iter = this.listByNetAppAccountPagingAll(
      resourceGroupName,
      accountName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByNetAppAccountPagingPage(
          resourceGroupName,
          accountName,
          options,
          settings
        );
      }
    };
  }

  private async *listByNetAppAccountPagingPage(
    resourceGroupName: string,
    accountName: string,
    options?: AccountBackupsListByNetAppAccountOptionalParams,
    _settings?: PageSettings
  ): AsyncIterableIterator<Backup[]> {
    let result: AccountBackupsListByNetAppAccountResponse;
    result = await this._listByNetAppAccount(
      resourceGroupName,
      accountName,
      options
    );
    yield result.value || [];
  }

  private async *listByNetAppAccountPagingAll(
    resourceGroupName: string,
    accountName: string,
    options?: AccountBackupsListByNetAppAccountOptionalParams
  ): AsyncIterableIterator<Backup> {
    for await (const page of this.listByNetAppAccountPagingPage(
      resourceGroupName,
      accountName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * List all Backups for a Netapp Account
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param accountName The name of the NetApp account
   * @param options The options parameters.
   */
  private _listByNetAppAccount(
    resourceGroupName: string,
    accountName: string,
    options?: AccountBackupsListByNetAppAccountOptionalParams
  ): Promise<AccountBackupsListByNetAppAccountResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, accountName, options },
      listByNetAppAccountOperationSpec
    );
  }

  /**
   * Gets the specified backup for a Netapp Account
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param accountName The name of the NetApp account
   * @param backupName The name of the backup
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    accountName: string,
    backupName: string,
    options?: AccountBackupsGetOptionalParams
  ): Promise<AccountBackupsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, accountName, backupName, options },
      getOperationSpec
    );
  }

  /**
   * Delete the specified Backup for a Netapp Account
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param accountName The name of the NetApp account
   * @param backupName The name of the backup
   * @param options The options parameters.
   */
  async beginDelete(
    resourceGroupName: string,
    accountName: string,
    backupName: string,
    options?: AccountBackupsDeleteOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<AccountBackupsDeleteResponse>,
      AccountBackupsDeleteResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<AccountBackupsDeleteResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, accountName, backupName, options },
      spec: deleteOperationSpec
    });
    const poller = await createHttpPoller<
      AccountBackupsDeleteResponse,
      OperationState<AccountBackupsDeleteResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Delete the specified Backup for a Netapp Account
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param accountName The name of the NetApp account
   * @param backupName The name of the backup
   * @param options The options parameters.
   */
  async beginDeleteAndWait(
    resourceGroupName: string,
    accountName: string,
    backupName: string,
    options?: AccountBackupsDeleteOptionalParams
  ): Promise<AccountBackupsDeleteResponse> {
    const poller = await this.beginDelete(
      resourceGroupName,
      accountName,
      backupName,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByNetAppAccountOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/accountBackups",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.BackupsList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.includeOnlyBackupsFromDeletedVolumes
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.accountName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/accountBackups/{backupName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Backup
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.accountName,
    Parameters.backupName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/accountBackups/{backupName}",
  httpMethod: "DELETE",
  responses: {
    200: {
      headersMapper: Mappers.AccountBackupsDeleteHeaders
    },
    201: {
      headersMapper: Mappers.AccountBackupsDeleteHeaders
    },
    202: {
      headersMapper: Mappers.AccountBackupsDeleteHeaders
    },
    204: {
      headersMapper: Mappers.AccountBackupsDeleteHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.accountName,
    Parameters.backupName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
