/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { NetAppResourceUsages } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { NetAppManagementClient } from "../netAppManagementClient.js";
import {
  UsageResult,
  NetAppResourceUsagesListNextOptionalParams,
  NetAppResourceUsagesListOptionalParams,
  NetAppResourceUsagesListResponse,
  NetAppResourceUsagesGetOptionalParams,
  NetAppResourceUsagesGetResponse,
  NetAppResourceUsagesListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing NetAppResourceUsages operations. */
export class NetAppResourceUsagesImpl implements NetAppResourceUsages {
  private readonly client: NetAppManagementClient;

  /**
   * Initialize a new instance of the class NetAppResourceUsages class.
   * @param client Reference to the service client
   */
  constructor(client: NetAppManagementClient) {
    this.client = client;
  }

  /**
   * Get current subscription usages
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  public list(
    location: string,
    options?: NetAppResourceUsagesListOptionalParams,
  ): PagedAsyncIterableIterator<UsageResult> {
    const iter = this.listPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, options, settings);
      },
    };
  }

  private async *listPagingPage(
    location: string,
    options?: NetAppResourceUsagesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<UsageResult[]> {
    let result: NetAppResourceUsagesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(location, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    options?: NetAppResourceUsagesListOptionalParams,
  ): AsyncIterableIterator<UsageResult> {
    for await (const page of this.listPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * Get current subscription usages
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    options?: NetAppResourceUsagesListOptionalParams,
  ): Promise<NetAppResourceUsagesListResponse> {
    return this.client.sendOperationRequest({ location, options }, listOperationSpec);
  }

  /**
   * Get current subscription usage of the specific type
   * @param location The name of the Azure region.
   * @param usageType The type of usage
   * @param options The options parameters.
   */
  get(
    location: string,
    usageType: string,
    options?: NetAppResourceUsagesGetOptionalParams,
  ): Promise<NetAppResourceUsagesGetResponse> {
    return this.client.sendOperationRequest({ location, usageType, options }, getOperationSpec);
  }

  /**
   * ListNext
   * @param location The name of the Azure region.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    nextLink: string,
    options?: NetAppResourceUsagesListNextOptionalParams,
  ): Promise<NetAppResourceUsagesListNextResponse> {
    return this.client.sendOperationRequest({ location, nextLink, options }, listNextOperationSpec);
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/usages",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.UsagesListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId, Parameters.location],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/usages/{usageType}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.UsageResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.usageType,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.UsagesListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
