/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { NetAppResourceQuotaLimits } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { NetAppManagementClient } from "../netAppManagementClient";
import {
  SubscriptionQuotaItem,
  NetAppResourceQuotaLimitsListOptionalParams,
  NetAppResourceQuotaLimitsListResponse,
  NetAppResourceQuotaLimitsGetOptionalParams,
  NetAppResourceQuotaLimitsGetResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing NetAppResourceQuotaLimits operations. */
export class NetAppResourceQuotaLimitsImpl
  implements NetAppResourceQuotaLimits {
  private readonly client: NetAppManagementClient;

  /**
   * Initialize a new instance of the class NetAppResourceQuotaLimits class.
   * @param client Reference to the service client
   */
  constructor(client: NetAppManagementClient) {
    this.client = client;
  }

  /**
   * Get the default and current limits for quotas
   * @param location The location
   * @param options The options parameters.
   */
  public list(
    location: string,
    options?: NetAppResourceQuotaLimitsListOptionalParams
  ): PagedAsyncIterableIterator<SubscriptionQuotaItem> {
    const iter = this.listPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(location, options);
      }
    };
  }

  private async *listPagingPage(
    location: string,
    options?: NetAppResourceQuotaLimitsListOptionalParams
  ): AsyncIterableIterator<SubscriptionQuotaItem[]> {
    let result = await this._list(location, options);
    yield result.value || [];
  }

  private async *listPagingAll(
    location: string,
    options?: NetAppResourceQuotaLimitsListOptionalParams
  ): AsyncIterableIterator<SubscriptionQuotaItem> {
    for await (const page of this.listPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * Get the default and current limits for quotas
   * @param location The location
   * @param options The options parameters.
   */
  private _list(
    location: string,
    options?: NetAppResourceQuotaLimitsListOptionalParams
  ): Promise<NetAppResourceQuotaLimitsListResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listOperationSpec
    );
  }

  /**
   * Get the default and current subscription quota limit
   * @param location The location
   * @param quotaLimitName The name of the Quota Limit
   * @param options The options parameters.
   */
  get(
    location: string,
    quotaLimitName: string,
    options?: NetAppResourceQuotaLimitsGetOptionalParams
  ): Promise<NetAppResourceQuotaLimitsGetResponse> {
    return this.client.sendOperationRequest(
      { location, quotaLimitName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SubscriptionQuotaItemList
    },
    default: {}
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits/{quotaLimitName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SubscriptionQuotaItem
    },
    default: {}
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.quotaLimitName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
