/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { NetAppResource } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { NetAppManagementClient } from "../netAppManagementClient";
import {
  CheckNameResourceTypes,
  NetAppResourceCheckNameAvailabilityOptionalParams,
  NetAppResourceCheckNameAvailabilityResponse,
  NetAppResourceCheckFilePathAvailabilityOptionalParams,
  NetAppResourceCheckFilePathAvailabilityResponse,
  CheckQuotaNameResourceTypes,
  NetAppResourceCheckQuotaAvailabilityOptionalParams,
  NetAppResourceCheckQuotaAvailabilityResponse
} from "../models";

/** Class containing NetAppResource operations. */
export class NetAppResourceImpl implements NetAppResource {
  private readonly client: NetAppManagementClient;

  /**
   * Initialize a new instance of the class NetAppResource class.
   * @param client Reference to the service client
   */
  constructor(client: NetAppManagementClient) {
    this.client = client;
  }

  /**
   * Check if a resource name is available.
   * @param location The location
   * @param name Resource name to verify.
   * @param resourceGroup Resource group name.
   * @param typeParam Resource type used for verification.
   * @param options The options parameters.
   */
  checkNameAvailability(
    location: string,
    name: string,
    resourceGroup: string,
    typeParam: CheckNameResourceTypes,
    options?: NetAppResourceCheckNameAvailabilityOptionalParams
  ): Promise<NetAppResourceCheckNameAvailabilityResponse> {
    return this.client.sendOperationRequest(
      { location, name, resourceGroup, typeParam, options },
      checkNameAvailabilityOperationSpec
    );
  }

  /**
   * Check if a file path is available.
   * @param location The location
   * @param name File path to verify.
   * @param subnetId The Azure Resource URI for a delegated subnet. Must have the delegation
   *                 Microsoft.NetApp/volumes
   * @param options The options parameters.
   */
  checkFilePathAvailability(
    location: string,
    name: string,
    subnetId: string,
    options?: NetAppResourceCheckFilePathAvailabilityOptionalParams
  ): Promise<NetAppResourceCheckFilePathAvailabilityResponse> {
    return this.client.sendOperationRequest(
      { location, name, subnetId, options },
      checkFilePathAvailabilityOperationSpec
    );
  }

  /**
   * Check if a quota is available.
   * @param location The location
   * @param name Name of the resource to verify.
   * @param resourceGroup Resource group name.
   * @param typeParam Resource type used for verification.
   * @param options The options parameters.
   */
  checkQuotaAvailability(
    location: string,
    name: string,
    resourceGroup: string,
    typeParam: CheckQuotaNameResourceTypes,
    options?: NetAppResourceCheckQuotaAvailabilityOptionalParams
  ): Promise<NetAppResourceCheckQuotaAvailabilityResponse> {
    return this.client.sendOperationRequest(
      { location, name, resourceGroup, typeParam, options },
      checkQuotaAvailabilityOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const checkNameAvailabilityOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkNameAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckAvailabilityResponse
    },
    default: {}
  },
  requestBody: {
    parameterPath: {
      name: ["name"],
      typeParam: ["typeParam"],
      resourceGroup: ["resourceGroup"]
    },
    mapper: { ...Mappers.ResourceNameAvailabilityRequest, required: true }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const checkFilePathAvailabilityOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkFilePathAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckAvailabilityResponse
    },
    default: {}
  },
  requestBody: {
    parameterPath: { name: ["name"], subnetId: ["subnetId"] },
    mapper: { ...Mappers.FilePathAvailabilityRequest, required: true }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const checkQuotaAvailabilityOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkQuotaAvailability",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CheckAvailabilityResponse
    },
    default: {}
  },
  requestBody: {
    parameterPath: {
      name: ["name"],
      typeParam: ["typeParam"],
      resourceGroup: ["resourceGroup"]
    },
    mapper: { ...Mappers.QuotaAvailabilityRequest, required: true }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
