{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/czwjstest/providers/Microsoft.StorageCache/caches?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/ListCaches1Min;119",
        "x-ms-ratelimit-remaining-subscription-reads": "11710"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "resourcetest",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/CZWJSTEST/providers/Microsoft.StorageCache/caches/resourcetest",
            "type": "Microsoft.StorageCache/caches",
            "location": "eastus",
            "tags": {
              "dept": "Contoso"
            },
            "sku": {
              "name": "Standard_2G"
            },
            "properties": {
              "networkSettings": {
                "mtu": 1500,
                "utilityAddresses": [
                  "10.0.1.10",
                  "10.0.1.11",
                  "10.0.1.12"
                ],
                "ntpServer": "time.windows.com"
              },
              "securitySettings": {
                "accessPolicies": [
                  {
                    "name": "default",
                    "accessRules": [
                      {
                        "scope": "default",
                        "access": "rw",
                        "suid": false,
                        "submountAccess": true,
                        "rootSquash": false
                      }
                    ]
                  }
                ]
              },
              "directoryServicesSettings": {},
              "zones": [
                "1"
              ],
              "scalingFactor": 1.0,
              "cacheSizeGB": 3072,
              "health": {
                "state": "Healthy",
                "statusDescription": "The cache is in Running state",
                "conditions": []
              },
              "mountAddresses": [
                "10.0.1.7",
                "10.0.1.8",
                "10.0.1.9"
              ],
              "provisioningState": "Succeeded",
              "subnet": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1",
              "upgradeStatus": {
                "currentFirmwareVersion": "2022.12.1",
                "firmwareUpdateStatus": "unavailable",
                "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
                "lastFirmwareUpdate": "2023-03-17T08:17:30.7489959Z",
                "pendingFirmwareVersion": ""
              },
              "upgradeSettings": {
                "upgradeScheduleEnabled": false,
                "scheduledTime": "0001-01-01T00:00:00Z"
              }
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-03-17T08:17:29.3774384Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-03-17T08:17:29.3774384Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
