{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.StorageCache/caches/resourcetest?api-version=2023-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "dept": "Contoso"
        },
        "location": "eastus",
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "cacheSizeGB": 3072,
          "scalingFactor": 1,
          "subnet": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1",
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {
            "activeDirectory": {
              "primaryDnsIpAddress": "10.0.2.1",
              "secondaryDnsIpAddress": "10.0.2.2",
              "domainName": "contosoAd.contoso.local",
              "domainNetBiosName": "contosoAd",
              "cacheNetBiosName": "contosoSmb",
              "credentials": {
                "username": "consotoAdmin",
                "password": "\u003Cpassword\u003E"
              }
            },
            "usernameDownload": {
              "extendedGroups": true,
              "usernameSource": "LDAP",
              "ldapServer": "10.0.2.3",
              "ldapBaseDN": "dc=contosoad,dc=contoso,dc=local",
              "credentials": {
                "bindDn": "cn=ldapadmin,dc=contosoad,dc=contoso,dc=local",
                "bindPassword": "\u003CbindPassword\u003E"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageCache/locations/eastus/ascOperations/94bd6994-5ba1-45c2-a789-9d33e2702689?api-version=2023-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateOrUpdateCache1Min;59",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "resourcetest",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageCache/caches/resourcetest",
        "type": "Microsoft.StorageCache/caches",
        "location": "eastus",
        "tags": {
          "dept": "Contoso"
        },
        "sku": {
          "name": "Standard_2G"
        },
        "properties": {
          "networkSettings": {
            "mtu": 1500,
            "ntpServer": "time.windows.com"
          },
          "securitySettings": {
            "accessPolicies": [
              {
                "name": "default",
                "accessRules": [
                  {
                    "scope": "default",
                    "access": "rw",
                    "suid": false,
                    "submountAccess": true,
                    "rootSquash": false
                  }
                ]
              }
            ]
          },
          "directoryServicesSettings": {
            "activeDirectory": {
              "primaryDnsIpAddress": "10.0.2.1",
              "secondaryDnsIpAddress": "10.0.2.2",
              "domainName": "contosoAd.contoso.local",
              "domainNetBiosName": "contosoAd",
              "cacheNetBiosName": "contosoSmb"
            },
            "usernameDownload": {
              "extendedGroups": true,
              "usernameSource": "LDAP",
              "groupFileURI": "",
              "userFileURI": "",
              "ldapServer": "10.0.2.3",
              "ldapBaseDN": "dc=contosoad,dc=contoso,dc=local",
              "encryptLdapConnection": false,
              "requireValidCertificate": false,
              "autoDownloadCertificate": false,
              "caCertificateURI": ""
            }
          },
          "scalingFactor": 1.0,
          "cacheSizeGB": 3072,
          "health": {
            "state": "Transitioning",
            "statusDescription": "The cache is being allocated."
          },
          "provisioningState": "Creating",
          "subnet": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1",
          "upgradeStatus": {
            "currentFirmwareVersion": "2022.12.1",
            "firmwareUpdateStatus": "unavailable",
            "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
            "lastFirmwareUpdate": "2023-03-16T02:38:55.9194224Z",
            "pendingFirmwareVersion": ""
          },
          "upgradeSettings": {
            "upgradeScheduleEnabled": false,
            "scheduledTime": "0001-01-01T00:00:00Z"
          }
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-03-16T02:38:54.5589515Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-16T02:38:54.5589515Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageCache/locations/eastus/ascOperations/94bd6994-5ba1-45c2-a789-9d33e2702689?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;235",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "startTime": "2023-03-16T02:38:55.8100881\u002B00:00",
        "status": "InProgress",
        "name": "94bd6994-5ba1-45c2-a789-9d33e2702689"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/providers/Microsoft.StorageCache/locations/eastus/ascOperations/94bd6994-5ba1-45c2-a789-9d33e2702689?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "480",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus1Min;213",
        "x-ms-ratelimit-remaining-subscription-reads": "11707"
      },
      "ResponseBody": {
        "startTime": "2023-03-16T02:38:55.8100881\u002B00:00",
        "endTime": "2023-03-16T02:50:23.4818636\u002B00:00",
        "status": "Failed",
        "error": {
          "code": "AscInternalError",
          "message": "Unable to reach the Active Directory domain using the IP addresses provided. Please confirm that \u002710.0.2.1\u0027 is valid. "
        },
        "name": "94bd6994-5ba1-45c2-a789-9d33e2702689"
      }
    }
  ],
  "Variables": {}
}
