{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourcegroups/myjstest/providers/Microsoft.StorageCache/caches?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/ListCaches1Min;119",
        "x-ms-ratelimit-remaining-subscription-reads": "11705"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "resourcetest",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/MYJSTEST/providers/Microsoft.StorageCache/caches/resourcetest",
            "type": "Microsoft.StorageCache/caches",
            "location": "eastus",
            "tags": {
              "dept": "Contoso"
            },
            "sku": {
              "name": "Standard_2G"
            },
            "properties": {
              "networkSettings": {
                "mtu": 1500,
                "utilityAddresses": [
                  "10.0.1.10",
                  "10.0.1.11",
                  "10.0.1.12"
                ],
                "ntpServer": "time.windows.com"
              },
              "securitySettings": {
                "accessPolicies": [
                  {
                    "name": "default",
                    "accessRules": [
                      {
                        "scope": "default",
                        "access": "rw",
                        "suid": false,
                        "submountAccess": true,
                        "rootSquash": false
                      }
                    ]
                  }
                ]
              },
              "directoryServicesSettings": {
                "activeDirectory": {
                  "primaryDnsIpAddress": "10.0.2.1",
                  "secondaryDnsIpAddress": "10.0.2.2",
                  "domainName": "contosoAd.contoso.local",
                  "domainNetBiosName": "contosoAd",
                  "cacheNetBiosName": "contosoSmb",
                  "domainJoined": "No"
                },
                "usernameDownload": {
                  "extendedGroups": true,
                  "usernameSource": "LDAP",
                  "groupFileURI": "",
                  "userFileURI": "",
                  "ldapServer": "10.0.2.3",
                  "ldapBaseDN": "dc=contosoad,dc=contoso,dc=local",
                  "encryptLdapConnection": false,
                  "requireValidCertificate": false,
                  "autoDownloadCertificate": false,
                  "caCertificateURI": ""
                }
              },
              "scalingFactor": 1.0,
              "cacheSizeGB": 3072,
              "health": {
                "state": "Transitioning",
                "statusDescription": "Waiting for cache creation to complete",
                "conditions": []
              },
              "mountAddresses": [
                "10.0.1.7",
                "10.0.1.8",
                "10.0.1.9"
              ],
              "provisioningState": "Failed",
              "subnet": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/scvnet/subnets/sub1",
              "upgradeStatus": {
                "currentFirmwareVersion": "2022.12.1",
                "firmwareUpdateStatus": "unavailable",
                "firmwareUpdateDeadline": "0001-01-01T00:00:00Z",
                "lastFirmwareUpdate": "2023-03-16T02:38:55.9194224Z",
                "pendingFirmwareVersion": ""
              },
              "upgradeSettings": {
                "upgradeScheduleEnabled": false,
                "scheduledTime": "0001-01-01T00:00:00Z"
              }
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-03-16T02:38:54.5589515Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-03-16T02:38:54.5589515Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
