{
  "Entries": [
    {
      "RequestUri": "https://atlas.microsoft.com/reverseGeocode?coordinates=121%2C-100\u0026api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The provided coordinates in coordinates are invalid, out of range, or not in the expected format"
        }
      }
    },
    {
      "RequestUri": "https://atlas.microsoft.com/reverseGeocode?coordinates=250%2C25\u0026api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "azure_maps_subscription_key"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The provided coordinates in coordinates are invalid, out of range, or not in the expected format"
        }
      }
    }
  ],
  "Variables": {}
}
