# Used in most samples. Retrieve these values from a Communication Services instance
# in the Azure Portal.
COMMUNICATION_CONNECTION_STRING=""

# Our tests assume that TEST_MODE is "playback" by default. You can
# change it to "record" to generate new recordings, or "live" to bypass the recorder entirely.
# TEST_MODE=record