{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.KeyVault/vaults/myvaultzzzz",
            "name": "myvaultzzzz",
            "type": "Microsoft.KeyVault/vaults",
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-04-10T09:15:41.477Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-04-10T09:25:51.652Z"
            },
            "properties": {
              "sku": {
                "family": "A",
                "name": "standard"
              },
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "accessPolicies": [
                {
                  "tenantId": "88888888-8888-8888-8888-888888888888",
                  "objectId": "00000000-0000-0000-0000-000000000000",
                  "permissions": {
                    "keys": [
                      "encrypt",
                      "decrypt",
                      "wrapKey",
                      "unwrapKey",
                      "sign",
                      "verify",
                      "get",
                      "list",
                      "create",
                      "update",
                      "import",
                      "delete",
                      "backup",
                      "restore",
                      "recover",
                      "purge"
                    ],
                    "secrets": [
                      "get",
                      "list",
                      "set",
                      "delete",
                      "backup",
                      "restore",
                      "recover",
                      "purge"
                    ],
                    "certificates": [
                      "get",
                      "list",
                      "delete",
                      "create",
                      "import",
                      "update",
                      "managecontacts",
                      "getissuers",
                      "listissuers",
                      "setissuers",
                      "deleteissuers",
                      "manageissuers",
                      "recover",
                      "purge"
                    ]
                  }
                }
              ],
              "enabledForDeployment": true,
              "enabledForDiskEncryption": true,
              "enabledForTemplateDeployment": true,
              "enableSoftDelete": true,
              "vaultUri": "https://myvaultzzzz.vault.azure.net/",
              "provisioningState": "Succeeded",
              "publicNetworkAccess": "Enabled"
            }
          }
        ],
        "nextLink": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01\u0026$skiptoken=bXl2YXVsdHp6eno="
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.KeyVault/vaults?api-version=2023-02-01\u0026$skiptoken=bXl2YXVsdHp6eno=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
