/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ListTenantConfigurationViolations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { Portal } from "../portal";
import {
  Violation,
  ListTenantConfigurationViolationsListNextOptionalParams,
  ListTenantConfigurationViolationsListOptionalParams,
  ListTenantConfigurationViolationsListResponse,
  ListTenantConfigurationViolationsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ListTenantConfigurationViolations operations. */
export class ListTenantConfigurationViolationsImpl
  implements ListTenantConfigurationViolations {
  private readonly client: Portal;

  /**
   * Initialize a new instance of the class ListTenantConfigurationViolations class.
   * @param client Reference to the service client
   */
  constructor(client: Portal) {
    this.client = client;
  }

  /**
   * Gets list of items that violate tenant's configuration.
   * @param options The options parameters.
   */
  public list(
    options?: ListTenantConfigurationViolationsListOptionalParams
  ): PagedAsyncIterableIterator<Violation> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: ListTenantConfigurationViolationsListOptionalParams
  ): AsyncIterableIterator<Violation[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: ListTenantConfigurationViolationsListOptionalParams
  ): AsyncIterableIterator<Violation> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets list of items that violate tenant's configuration.
   * @param options The options parameters.
   */
  private _list(
    options?: ListTenantConfigurationViolationsListOptionalParams
  ): Promise<ListTenantConfigurationViolationsListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: ListTenantConfigurationViolationsListNextOptionalParams
  ): Promise<ListTenantConfigurationViolationsListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Portal/listTenantConfigurationViolations",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ViolationsList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ViolationsList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
