{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ApiManagement/service?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ApiManagement/service/myserviceyyy1",
            "name": "myserviceyyy1",
            "type": "Microsoft.ApiManagement/service",
            "tags": {},
            "location": "East US",
            "etag": "AAAAAACO\u002BN4=",
            "properties": {
              "publisherEmail": "foo@contoso.com",
              "publisherName": "foo",
              "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
              "provisioningState": "Succeeded",
              "targetProvisioningState": "",
              "createdAtUtc": "2023-01-30T02:52:09.0106169Z",
              "gatewayUrl": "https://myserviceyyy1.azure-api.net",
              "gatewayRegionalUrl": "https://myserviceyyy1-eastus-01.regional.azure-api.net",
              "portalUrl": "https://myserviceyyy1.portal.azure-api.net",
              "developerPortalUrl": "https://myserviceyyy1.developer.azure-api.net",
              "managementApiUrl": "https://myserviceyyy1.management.azure-api.net",
              "scmUrl": "https://myserviceyyy1.scm.azure-api.net",
              "hostnameConfigurations": [
                {
                  "type": "Proxy",
                  "hostName": "myserviceyyy1.azure-api.net",
                  "encodedCertificate": null,
                  "keyVaultId": null,
                  "certificatePassword": null,
                  "negotiateClientCertificate": false,
                  "certificate": null,
                  "defaultSslBinding": true,
                  "identityClientId": null,
                  "certificateSource": "BuiltIn",
                  "certificateStatus": null
                }
              ],
              "publicIPAddresses": [
                "20.246.244.222"
              ],
              "privateIPAddresses": null,
              "additionalLocations": null,
              "virtualNetworkConfiguration": null,
              "customProperties": {
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30": "False",
                "Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2": "False"
              },
              "virtualNetworkType": "None",
              "certificates": null,
              "disableGateway": false,
              "apiVersionConstraint": {
                "minApiVersion": null
              },
              "publicIpAddressId": null,
              "publicNetworkAccess": "Enabled",
              "privateEndpointConnections": null,
              "platformVersion": "stv2"
            },
            "sku": {
              "name": "Standard",
              "capacity": 1
            },
            "identity": null,
            "zones": null,
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-01-30T02:52:08.2423912Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-01-30T02:52:08.2423912Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
