{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.farmbeats.azure.net/parties/contoso-party-js?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson"
      },
      "RequestBody": {
        "name": "Contoso Party",
        "description": "Your custom party description here",
        "status": "Active",
        "properties": {
          "1": "numeric key",
          "foo": "bar",
          "numeric one": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "00009400-0000-0600-0000-63f68b020000",
        "Location": "http://bb-prod-wcus-1.farmbeats.azure.net/parties/contoso-party-js",
        "mise-correlation-id": "7b069970-f1fb-4afd-999b-a0eb9b5f39a8",
        "x-ms-throttle-information": "1000"
      },
      "ResponseBody": {
        "id": "contoso-party-js",
        "eTag": "00009400-0000-0600-0000-63f68b020000",
        "status": "Active",
        "createdDateTime": "2023-02-22T21:37:06Z",
        "modifiedDateTime": "2023-02-22T21:37:06Z",
        "name": "Contoso Party",
        "description": "Your custom party description here",
        "createdBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "modifiedBy": "9002b50e-dc98-445e-a865-72dce38ecafd",
        "properties": {
          "1": "numeric key",
          "foo": "bar",
          "numeric one": 1
        }
      }
    }
  ],
  "Variables": {}
}
