# EditorConfig is awesome: https://EditorConfig.org
 root = true
 [*]
charset = utf-8
eol = lf
insert_final_newline = true
trim_trailing_whitespace = true
 [*.{ts,json,yaml}]
indent_style = space
indent_size = 2