# git #
.git*

# Node #
node_modules/

# Test folder #
tests/
testhub/
test/

# coverage #
.nyc_output
coverage

# Tools and dev scripts #
tools/
tasks/
scripts/
gruntfile.js
gulpfile.js

# Nuget packages #
.nuget/
packages/
packages.config

# VS #
.ntvs_analysis.*
*.sln
*.obj

# Examples #
samples/
# vscode #
.vscode/
.env
sample.env
.travis*

# misc #
contribute.md
src/
webpack.config.ts
.idea/
changelog.md
samples/
typings/examples/
dist/examples/
docs/
typedoc/
out/
*.log
